/**
 * Bootstrap Fonts
 */

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../../bower_components/bootstrap/fonts/glyphicons-halflings-regular.eot');
  src: url('../../bower_components/bootstrap/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
  url('../../bower_components/bootstrap/fonts/glyphicons-halflings-regular.woff') format('woff'),
  url('../../bower_components/bootstrap/fonts/glyphicons-halflings-regular.ttf') format('truetype'),
  url('../../bower_components/bootstrap/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

/**
 *Font Awesome Fonts
 */

@font-face {
font-family: 'FontAwesome';
src: url('../../bower_components/font-awesome/fonts/fontawesome-webfont.eot?v=4.1.0');
src: url('../../bower_components/font-awesome/fonts/fontawesome-webfont.eot?#iefix&v=4.1.0') format('embedded-opentype'),
url('../../bower_components/font-awesome/fonts/fontawesome-webfont.woff?v=4.1.0') format('woff'),
url('../../bower_components/font-awesome/fonts/fontawesome-webfont.ttf?v=4.1.0') format('truetype'),
url('../../bower_components/font-awesome/fonts/fontawesome-webfont.svg?v=4.1.0#fontawesomeregular') format('svg');
font-weight: normal;
font-style: normal;
}

/*button i, span i, p i, a i {*/
/*margin-right: 3px;*/
/*}*/

/* App-wide Styles [[[ */

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

#main-view-div {
  height: 100%;
}

.has-error{
  color: #a94442;
}


/*#home-page-tabs {*/
  /*/!*padding-top: 40px!important;*!/*/
  /*margin-top: -48px;*/
  /*background: transparent;*/
/*}*/
/*#home-page-tabs > md-tabs-wrapper {*/
  /*display: none;*/
/*}*/
/* App-wide Styles ]]] */

/*--------------------------------------------------------------------------------------------------------------------*/

/* Tiles[[[*/

.bg-crimson {
  background: #c4112e !important
}

.bg-crimson:hover {
  background: #a2a4a6 !important
}

.tile-dashboard {
  cursor: auto;
}
.tile-wide,.tile-large{
  margin: 2px;
  width: 304px;
}

.tile-area-controls {
  z-index: 0;
  position: fixed;
  right: 40px;
  top: 40px;
  border-bottom: 1px solid #fafafa;
}

.tile-group .tile-group-title {
  top: 40px;
}

.tile-group {
  padding-top: 75px;
}

.tile-group .tile-group-title {
  color: #333333;
}

.tile-group.four {
  width: 640px;
}

.tile-group {
  margin-bottom: 100px;
  /*height: 600px;*/
}

.tile-area {
  overflow-y: scroll !important;
}

.tile-compact .task-wrapper {
  padding-bottom: 11px;
}

.charm.right-side {
  width: 300px;
  right: -300px;
  bottom: 40px;
}

#charmSettings .button {
  margin: 5px;
}

@media screen and (max-width: 640px) {
  .tile-area {
    overflow-y: scroll;
  }

  .tile-area-controls {
    display: none;
  }
}

@media screen and (max-width: 320px) {
  .tile-area {
    overflow-y: scroll;
  }

  .tile-area-controls {
    display: none;
  }
}

/* Tiles ]]]*/

/*--------------------------------------------------------------------------------------------------------------------*/

/* Home page header [[[*/

.user-info-block::before {
  display: none;
}

.user-full-name:after {
  content: '\A';
  white-space: pre;
}

.user-context-selection-icons {
  padding: 10px 5px 0px 5px;
  height: 100%;
  background-color: #999;
  margin-left: 10px;
}

.user-context-selection-icons .glyphicon-user {
  font-size: 20px;
}

.user-context-selection-icons .glyphicon-chevron-down {
  font-size: 12px;
  top: -2px;
}

.context-selection-menu li a {
  cursor: pointer;
}

.context-selection-menu li .splitter {
  padding: 0.75rem 0px 0.75rem 0px;
}

.context-selection-menu li .input-control {
  padding: 1px 10px 0px 10px;
}

#logout-button {
  margin-left: 25px;
}

/*.home-button-style {*/
/*position: fixed;*/
/*top: 58px!important;*/
/*left: 201px*/
/*}*/

/* Home page header ]]]*/

/*--------------------------------------------------------------------------------------------------------------------*/

/* Feedback panel [[[*/

.rating {
  color: #a9a9a9;
  margin: 0;
  padding: 0;
}

ul.rating {
  display: inline-block;
}

.rating li {
  list-style-type: none;
  display: inline-block;
  padding: 1px;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}

.rating .filled {
  color: #21568b;
}

/* Feedback panel ]]]*/

/*--------------------------------------------------------------------------------------------------------------------*/

/*--------------------------------------------------------------------------------------------------------------------*/

/* Window  [[[*/

#pinnedWindowsSplitter {
  position: fixed;
  /*max-height: 88.5%;*/
  height: 100%;
  width: 100%;
  overflow: hidden;
  top: 0;
  padding: 0;
  margin-right: 0;
  z-index: 99999;
  background-color: transparent;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#pinnedWindowsSplitter .k-window {
  height: 90% !important;
  max-height: 90% !important;
}

.window-main-view {
  position: relative;
  height: 100%;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow-y: auto;
  overflow-x: hidden;
}
.window-main-content {
  position: absolute;
  width: 100%;
  top: 50px;
  bottom: 0;
  box-sizing: border-box;
  overflow: auto;
  padding: 10px;
}
.window-main-view .content {
  width: 100%;
  height: 100%;

}

.window-footer {
  height: 14%;
  position: relative;
  display: table;
  width: 99%;
  text-align: center;
  border-top: 1px solid #959595;
}

.window-footer .window-footer-content {
  display: inline-block;
  display: table-cell;
  vertical-align: middle;
  text-align: right;
}

.window-extend-block {
  background: #FAFAFA;
  position: relative;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.task-screen-view {
  padding-top: 45px;
}
.window-extend-block-edited {
  background: #FAFAFA;
  position: relative;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding-top: 47px;
}

.window-footer button {
  margin: 5px;
}

/* Switch  ----------------------------------------*/

.km-switch {
  width: 60px;
  height:20px;
  line-height: 1.76em;
  overflow: hidden;
  vertical-align: middle;
}

.km-checkbox, .km-switch {
  text-align: left;
  font-size: 1rem;
  display: inline-block;
  width: 4rem;
  height: 1.5rem;
  line-height: 2rem;
  position: relative;
  overflow: hidden;
}


.km-switch input[type=checkbox] {
  display: none;
}
.km-widget input, .km-widget textarea {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}
.km-content, .km-popover-root .km-content .km-widget, .km-widget {
  color: #444;
  background: #fff;
}
.km-widget, .km-widget * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
}
.km-widget {
  font-size: 1em;
}
.km-switch-container, .km-switch-wrapper {
  border-color: #e6e6e6;
}
.km-switch-background, .km-switch-container, .km-switch-wrapper {
  border-radius: 3px;
}
.km-switch-wrapper {
  background-color: #8B8B8B;
}
.km-switch-background, .km-switch-container, .km-switch-wrapper {
  border-radius: 3px;
}
.km-switch-container, .km-switch-wrapper {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-width: 1px;
  border-style: solid;
  -webkit-background-clip: content-box;
  background-clip: content-box;
}
.km-switch-wrapper {
  overflow: hidden;
}
.km-widget, .km-widget * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
}
.km-slider-wrapper, .km-switch-wrapper {
  display: block;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.km-switch-background, .km-switch-handle {
  color: #fff;
}
.km-switch-background, .km-switch-container, .km-switch-wrapper {
  border-radius: 3px;
}
.km-switch-background {
  background-image: none;
  background-image: none,-webkit-gradient(linear,left top,left bottom,from(#bababa),to(#bababa));
  background-image: none,-webkit-linear-gradient(top,#bababa,#bababa);
  background-image: none,linear-gradient(to bottom,#bababa,#bababa);
  background-position: 4.3em 0;
  background-repeat: no-repeat;
  background-color: currentcolor;
}
.km-switch-background, .km-switch-container, .km-switch-wrapper {
  border-radius: 3px;
}
.km-switch-background {
  width: 118%;
  position: relative;
  left: -95%;
  margin-left: 0;
  background: currentcolor;
}
.km-widget, .km-widget * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
}
.km-slider-background, .km-switch-background {
  display: block;
  margin: 0 1px 1px -5em;
  height: 100%;
  width: 200%;
}
.km-widget, .km-widget * {
  -webkit-background-clip: border-box;
  background-clip: border-box;
}

.km-switch-container, .km-switch-wrapper {
  border-color: #e6e6e6;
}
.km-switch-background, .km-switch-container, .km-switch-wrapper {
  border-radius: 3px;
}
.km-switch-background, .km-switch-container, .km-switch-wrapper {
  border-radius: 3px;
}
.km-switch-container, .km-switch-wrapper {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-width: 1px;
  border-style: solid;
  -webkit-background-clip: content-box;
  background-clip: content-box;
}
.km-switch-container {
  padding: 1px 0 1px 1px;
  border-width: 0;
}
.km-widget, .km-widget * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
}
.km-switch-container {
  top: 0;
  left: 0;
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: 0 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.km-widget, .km-widget * {
  -webkit-background-clip: border-box;
  background-clip: border-box;
}

.km-switch-background, .km-switch-handle {
  color: #FFA9A9;
}
.km-switch-handle {
  border-radius: 2px;
}
.km-switch-handle {
  background: #fff;
}
.km-actionsheet-wrapper.km-popup, .km-button, .km-filter-wrap>input, .km-listgroupinset .km-list>li:first-child:last-child, .km-listinset>li:first-child:last-child, .km-listview-label input[type=checkbox], .km-listview-label input[type=radio], .km-popover-root .km-popup, .km-switch-handle {
  border-radius: 2px;
}
.km-switch-handle {
  width: 1.6em;
  margin: 0 4px 0 0;
  border: 1px solid transparent;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: 0 1px 0 1px currentcolor,0 -1px 0 1px currentcolor;
  box-shadow: 0 1px 0 1px currentcolor,0 -1px 0 1px currentcolor;
}
.km-widget, .km-widget * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
}
.km-switch-handle {
  top: 0;
  left: 0;
  width: 30px;
  height: 27px;
  display: inline-block;
  margin: -1px 0 0 -1px;
  background-color: #FF5252;

}
.km-actionsheet>li>a, .km-actionsheet>li>a:active, .km-actionsheet>li>a:hover, .km-badge, .km-popover-root .km-widget, .km-popup .k-item, .km-popup .k-state-focused, .km-popup .k-state-hover, .km-popup .k-state-selected, .km-rowdelete, .km-rowinsert, .km-scroller-pull .km-icon, .km-state-active .km-listview-link:after, .km-switch-label-off, .km-switch-label-on, .km-tabstrip .km-button, .km-tabstrip .km-state-active, html .km-state-active, li.km-state-active .km-listview-label, li.km-state-active .km-listview-link {
  color: #3f51b5;
}

.k-primary {

  background-color: #C4112E!important;
}
.km-switch-label-off, .km-switch-label-on {
  text-shadow: none;
  width: 170%;
  font-size: 1em;
  line-height: 1.76em;
  vertical-align: middle;
  top: -2px;
}
.km-switch-label-on {
  left: -171%;
}
.km-widget, .km-widget * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
}
.km-switch-label-on {
  left: -134%;
  text-shadow: 0 -1px 0 rgba(0,0,0,.3);
}
.km-switch-label-off, .km-switch-label-on {
  display: block;
  width: 130%;
  font-size: 1em;
  line-height: 2em;
  text-align: center;
  position: absolute;
  text-transform: uppercase;
}
km-actionsheet>li>a, .km-actionsheet>li>a:active, .km-actionsheet>li>a:hover, .km-badge, .km-popover-root .km-widget, .km-popup .k-item, .km-popup .k-state-focused, .km-popup .k-state-hover, .km-popup .k-state-selected, .km-rowdelete, .km-rowinsert, .km-scroller-pull .km-icon, .km-state-active .km-listview-link:after, .km-switch-label-off, .km-switch-label-on, .km-tabstrip .km-button, .km-tabstrip .km-state-active, html .km-state-active, li.km-state-active .km-listview-label, li.km-state-active .km-listview-link {
  color: #FFFFFF;
}
.km-switch-label-off, .km-switch-label-on {
  text-shadow: none;
  width: 170%;
  font-size: 1em;
  line-height: 1.76em;
  vertical-align: middle;
  top: -2px;
}
.km-switch-label-off {
  left: 101%;
}
.km-widget, .km-widget * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
}
.km-switch-label-off {
  left: 104%;
}
.km-switch-label-off, .km-switch-label-on {
  display: block;
  width: 130%;
  font-size: 1em;
  line-height: 2em;
  text-align: center;
  position: absolute;
  text-transform: uppercase;
}

/* Switch  ---------------------------------------- ]]]*/

.charm-window {
  position: absolute;
  display: none;
  bottom: 0px !important;
  width: 330px !important;
  right: 0px !important;
  overflow: auto;
  border-left: 1px solid #959595;
}

.window-right-bar-toggle-button {
  position: absolute;
  right: 0;
  z-index: 999999;
  color: #c4112e !important;
  top: 0;
  background-color: transparent !important;
}

.window-left-bar-toggle-button {
  position: absolute;
  left: 252px;
  z-index: 1;
  /*color: lightgray !important;*/
  top: -2px;
  /*background-color: transparent !important;*/
}

/*--------------------------------------------------------*/
/* Operation tools block [[[*/

.operation-tools-block {
  position: fixed !important;
  top: 45px !important;
}

.person-details-view {
  z-index: 999999999999999;
  position: absolute;
  top: 0px;
  bottom: 0px;
  box-sizing: border-box;
  width: 100%;
  background: #fff;
  right: 0px;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #FFFFFF;
  border-left: 1px solid #959595;
  transition: .5s linear all;
  -webkit-transition: .5s linear all;
  -moz-transition: .5s linear all;
  -o-transition: .5s linear all;

}

.person-details-view .content-block {
  margin: 20px;
}

.person-details-view.ng-hide {
  width: 0% !important;
}

.operation-tools-block .line,
.operation-tools-block .line .date-holder,
.operation-tools-block .line .priority-pointer {
  display: block;
  position: relative;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.operation-tools-block .line .date-holder {
  width: 60%;
}

.operation-tools-block .line .priority-pointe {
  width: 40%;
}

.operation-tools-block .line {
  width: 100%;
  border-bottom: 1px solid #959595;
}

.operation-tools-block .date {
  display: block;
  cursor: pointer;
}

.operation-tools-block .date span.title {
  font-weight: bold;
}

.operation-tools-block .line .textarea {
  width: 100%;
}

.operation-tools-block .line .input-control textarea {
  min-height: 4rem;
}

.operation-tools-block .line .file-attach {
  width: 65%;
  float: left;
}

.operation-tools-block .line .submit {

  float: right;
  max-width: 30%;
  min-width: 20%;
}

.operation-tools-block .wt-border {
  border: none;
}

.operation-tools-block .line .tabcontrol .frames .frame {

  background-color: #ffffff;
  padding: 0px;
}

.operation-tools-block .line .tabcontrol .tabs li.active a {
  background-color: #c4112e;

}

.operation-tools-block .line .tabcontrol .tabs {
  border-bottom: 2px #c4112e solid;
}

/* Comments block [[[*/

.events {
  margin-top: 1rem;
  font-size: 14px;

}

.events .event .event-header {
  position: relative;
  background: transparent;
}

.event-tile-row.event-tile-small {
  height: 21px;
  font-size: 12px;
}

.event-tile-row {
  position: relative;
  height: 42px;
}

.events .event .event-header:before {
  position: absolute;
  content: "";
  top: 50%;
  width: 100%;
  border-top: 1px dotted #ccc;
  z-index: -1;
}

.event-tile-row.event-tile-small .event-tile-content {
  height: 21px;
  line-height: 21px;
}

.event-tile-row .event-tile-content {
  position: relative;
  line-height: 42px;
  height: 42px;
  color: #333;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.events .event .event-header .event-symbol {
  float: left;
  margin-left: 16px;
  margin-right: 5px;
  padding: 0 5px;
  background-color: #fff;
  cursor: pointer;
}

.events .event .event-header .avatar {
  vertical-align: top;
}

.avatar.avatar-small {
  width: 21px;
  height: 21px;
  line-height: 21px;
  font-size: 12px;
}

.avatar.avatar-text {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.avatar {
  position: relative;
  display: inline-block;
  font-weight: 100;
  font-family: "Source Sans Pro", sans-serif;
  color: #333;
  font-size: 16px;
  width: 42px;
  height: 42px;
  line-height: 42px;
  font-size: 24px;
  font-style: normal;
  text-align: center;
  color: white;
  vertical-align: middle;
  overflow: hidden;
  background: #fff;
  cursor: default;
  z-index: 0;
}

.events .event .event-header .event-info {
  font-size: 12px;
  color: #ccc;
  height: 21px;
  float: left;
}

.events .event .event-header .event-info .event-time-wrapper {
  float: right;
  padding-right: 10px;
}

.events .event .event-header .event-info .event-title-wrapper {
  overflow: hidden;
}

.events .event .event-header .event-info .event-time {
  color: #4F4646;
  line-height: 21px;
  height: 21px;
  background: #fff;
  padding: 0 5px;
  -webkit-transition: color .3s ease;
  -khtml-transition: color .3s ease;
  -moz-transition: color .3s ease;
  -ms-transition: color .3s ease;
  -o-transition: color .3s ease;
  transition: color .3s ease;
}

.events .event .event-header .event-info .event-time .icon {
  width: 21px;
  height: 21px;
  line-height: 21px;
}

.events .event .event-header .event-info .event-title {
  display: inline-block;
  padding: 0 5px;
  line-height: 21px;
  height: 21px;
  max-width: 100%;
  color: #4F4646;
  font-size: 14px;
  background: #fff;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.events .event .event-content {
  position: relative;
  margin: 15px 15px 15px 25px;
  padding: 5px;

  border: 1px solid #fafafa;
  background: #fff;
  -webkit-word-break: break-all;
  -khtml-word-break: break-all;
  -moz-word-break: break-all;
  -ms-word-break: break-all;
  -o-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -webkit-hyphens: auto;
  -khtml-hyphens: auto;
  -moz-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -o-hyphens: auto;
  hyphens: auto;
}

.events .event .event-content:before, .events .event .event-content:after {
  position: absolute;
  display: block;
  content: "";
  border-style: solid;
  border-color: transparent;
}

/**/
.events .event .event-content:before {
  top: -23px;
  left: 29px;
  width: 11px;
  height: 11px;
  border-width: 11px;
  border-bottom-color: #e5e5e5;
}

.events .event .event-content:before, .events .event .event-content:after {
  position: absolute;
  display: block;
  content: "";
  border-style: solid;
  border-color: transparent;
}

.event-comment .event-content .comment {
  padding: 15px;
  background: #f2f2f2;
}

.event .event-content .file {
  border: 1px solid white;
}

.event-tile-row.event-tile-action {
  cursor: pointer;
  -webkit-transition: background .3s ease;
  -khtml-transition: background .3s ease;
  -moz-transition: background .3s ease;
  -ms-transition: background .3s ease;
  -o-transition: background .3s ease;
  transition: background .3s ease;
  background: none;
}

.field.field-file .file-size, .event-form-row.field-file .file-size {
  color: #ccc;
  font-size: 12px;
  padding: 0 15px;
}

.field.field-file .file-name, .event-form-row.field-file .file-name {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.event-document .event-content .file-name {
  padding-left: 15px;
}

.event-tile-row .event-tile-toolbar .btn {
  border-left: 1px solid white;
  vertical-align: top;
}

.field, .event-form-row {
  position: relative;
  background: #f2f2f2;
  padding: 0;
  overflow: visible;
  -webkit-border-radius: 0;
  -khtml-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}

.event-tile-row {
  position: relative;
  height: 42px;
}

.event-tile-row .event-tile-header {
  float: left;
  color: white;
  height: 42px;
}

.btn i {
  color: #000000;
  line-height: 25px;
}

.event-tile-header .glyphicon-file {
  color: white;
  background: #ccc;
  float: left;
  display: block;
  font-size: 16px;
  width: 42px;
  height: 42px;
  line-height: 42px;
  text-align: center;
}

.event-tile-row .event-tile-badge, .event-tile-row .event-tile-toolbar {
  float: right;
}

/* Comments block ]]]*/

/* Operation tools block ]]]*/
/*--------------------------------------------------------*/

/* Window  ]]]*/

/*--------------------------------------------------------------------------------------------------------------------*/

/* Overridden rules by frameworks [[[*/

.k-grid td {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: .05em 1.286em;
}
.k-grid tbody tr {
  height: 1.7em;
}

.no-current-date .k-nav-today{
  display: none;
}

.k-treeview .k-in {
  padding: 0;
}

.k-treeview-lines .md-icon-button {
  min-height: 0;
  margin: 0;
  height: 34px;
}

.k-treeview .k-item {
  margin: 3px;
}

.k-treeview .k-item > .k-group, .k-treeview .k-content {
  margin: 0 10px 10px 0;
}

.k-treeview .k-item {
  border: none;
}

.k-treeview > .k-group, .k-treeview .k-item > .k-group, .k-treeview .k-content {
  border: none;
}

.k-treeview .k-item:last-child {
  border-bottom: none;
}

.k-treeview span.k-in {
  cursor: pointer;
}

md-toolbar.md-warn > md-tabs.md-default-theme, md-tabs > .md-tabs-wrapper > .md-tabs-canvas > .md-pagination-wrapper > md-tab-item:not([disabled]) {
  color: #333 !important;
}

md-toolbar.md-warn > md-tabs.md-default-theme, md-tabs > .md-tabs-wrapper > .md-tabs-canvas > .md-pagination-wrapper > md-tab-item:not([disabled]).md-active, md-toolbar.md-warn > md-tabs.md-default-theme, md-tabs > .md-tabs-wrapper > .md-tabs-canvas > .md-pagination-wrapper > md-tab-item:not([disabled]).md-focused {
  color: #c41230;
}

md-toolbar.md-warn > md-tabs.md-default-theme, md-tabs > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]) {
  color: #333 !important;
}

legend {
  margin-bottom: 15px;
  font-size: 16px;
}

.k-block, .k-widget {
  background-color: #FAFAFA;
}

.k-splitter {
  border: none;
}

.table tfoot td, .table tfoot th, .table thead td, .table thead th {

  color: #333;
}

.k-popup .k-primary, .k-edit-form-container .k-primary {
  color: #FFFFFF;
}

.k-filter-menu .k-button, .k-edit-form-container .k-button, .k-popup .k-button, .k-popup .k-primary:active, .k-popup .k-primary:active:hover, .k-edit-form-container .k-primary:active {
  color: #FFFFFF;
}

.k-group, .k-flatcolorpicker.k-group, .k-menu, .k-menu .k-group, .k-popup.k-widget.k-context-menu {
  border: 1px solid #C7BEBE;
}

.k-textbox {
  border-color: #999;
}
input.k-textbox:focus {
  border-color: #999;
}


.has-error label span, .has-error label {
  color: #a94442;
}

.hint, .hint2 {
  z-index: 99999 !important;
}

.tile .tile-label {
  max-width: 75%;
  font-size: 0.700rem;
  outline: none;
}

.tile-content.iconic .icon {
  font-size: 54px;
}

.text-center {
  text-align: center !important;
}

.k-window > div.k-popup-edit-form {
  padding: 1em 0 !important;
}

/*.k-input {*/
  /*border: 1px solid #ccc !important;*/
/*}*/

.window-content {
  padding: 0px !important;
}

.k-window-titlebar .k-state-hover {
  background-color: #bc112e;
  border-color: #ab112b;
}

.k-window-title {
  /* right: 1.143em; */
  left: 10px;
}

div.k-window-content {
  padding: 0px !important;
  box-sizing: border-box;
  border: 1px solid #D8D0D0;
  border-top: none;
  margin-top: 0px;
  /*box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);*/

  /*box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .12);*/
  /*-webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .12);*/
}

/*.k-window-titlebar, .k-block > .k-header, .k-tabstrip-items .k-item, .k-panelbar .k-tabstrip-items .k-item, .k-tabstrip-items .k-link, .k-calendar-container.k-state-border-down, .k-list-container.k-state-border-down, .k-autocomplete.k-state-border-down, .k-multiselect.k-state-border-down, .k-dropdown-wrap.k-state-border-down, .k-picker-wrap.k-state-border-down, .k-numeric-wrap.k-state-border-down {*/
/*border-top-right-radius: none;*/
/*border-top-left-radius: none;*/
/*border-bottom-right-radius: none;*/
/*border-bottom-left-radius: none;*/
/*}*/

.k-calendar .k-header .k-state-hover {
  background-color: #ab112b;
}
.width-100px{
  width: 100px!important;
}
.business-calendar-page{

  position: relative;
  width: 100%;
  box-sizing: border-box;
}
.business-calendar-item{
  min-width: 200px;
  min-height: 300px;
  width: 24%;
  float: left;
  display: block;
 padding-left: 10px;
}
.k-window {
  position: absolute!important;
  border: none;
  /*border-color: #D8D0D0;*/
  /*box-sizing: border-box;*/
  /*-webkit-box-shadow: none;*/
  -webkit-box-shadow: 0px 6px 6px -3px rgba(0, 0, 0, 0.2), 0px 10px 14px 1px rgba(0, 0, 0, 0.14), 0px 4px 18px 3px rgba(0, 0, 0, 0.12);
  /*box-shadow: none;*/
  box-shadow: 0px 6px 6px -3px rgba(0, 0, 0, 0.2), 0px 10px 14px 1px rgba(0, 0, 0, 0.14), 0px 4px 18px 3px rgba(0, 0, 0, 0.12);
  background-color: transparent;
}
*, *:before, *:after {
  box-sizing: border-box;
}
.k-tabstrip, .k-tabstrip .k-content.k-state-active{
  background: transparent!important;
  padding: 0px;
  position: relative;
  box-sizing: border-box;
  height: 100%!important;
}
.k-autocomplete.k-state-active, .k-picker-wrap.k-state-active, .k-numeric-wrap.k-state-active, .k-dropdown-wrap.k-state-active, .k-state-active, .k-state-active:hover, .k-state-active>.k-link, .k-button:active, .k-panelbar>.k-item>.k-state-focused {
  background-image: indigo;
}

.k-tabstrip>.k-content{
  border: none;
}
.window {
  /*box-shadow: none;*/
  box-shadow: 0px 6px 6px -3px rgba(0, 0, 0, 0.2), 0px 10px 14px 1px rgba(0, 0, 0, 0.14), 0px 4px 18px 3px rgba(0, 0, 0, 0.12);
}

.k-i-custom-pin {
  background-position: -176px -256px;
}

.k-i-custom-pin-clicked {
  background-position: -160px -272px;
}

.input-control > label {
  font-weight: normal;
  font-size: 0.7rem;
}

.window, .window-caption {
  background-color: #FAFAFA;
}

.k-primary, .k-primary:hover, .k-primary.k-state-hover, .k-primary:active:hover, .k-primary.k-state-active:hover, .k-edit-form-container .k-primary {
  background-color: #c4112e;
  color: #ffffff;
  border-color: transparent;
}

.k-primary:hover, .k-primary:active, .k-primary:focus {
  border-color: transparent;
  background-color: #de112d;
}

.k-button[disabled], .k-button.k-state-disabled, .k-state-disabled .k-button, .k-state-disabled .k-button:hover, .k-button.k-state-disabled:hover, .k-state-disabled .k-button:active, .k-button.k-state-disabled:active {
  color: #999;
  border-color: #867878;
  background-color: #fafafa;
  background-image: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.k-splitter .k-splitbar-horizontal {
  border-width: 0;
  max-height: 100%;
}

.k-header {
  /*border: 1px solid #eccefa;*/
  /*background-color: #c4112e;*/
}

.k-ghost-splitbar-horizontal {
  z-index: 9999999;
}

.k-ghost-splitbar-horizontal {
  background-color: #cfcfcf!important;
  border-color:  #cfcfcf!important;
  width: 3px!important;
}

/*.k-splitbar-horizontal-hover:hover {*/
  /*background-color: #c4112e;*/
/*}*/

/*.k-splitbar {*/
  /*border-color: #bc112e;*/
  /*background-color: #c4112e;*/
/*}*/

.k-animation-container {
  z-index: 12000 !important;
}

.k-widget.k-notification.k-notification-info {
  background-color: #1C6E91;
  color: #ffffff;
  border-color: transparent;
  cursor: pointer;
}

/*.panel-group {*/
/*margin: 2px;*/
/*}*/

.panel .panel-heading {
  background-color: #E6DBDB;
  /*background-color: #bc112e !important;*/
  /*color: #ffffff !important;*/
}

.panel-has-error {
  font-size: 16px;
  font-weight: bold;
  color: #a94442;
}

/*.panel .panel-heading .panel-title a {*/
/*color: #333;*/
/*cursor: pointer;*/
/*}*/

/*.panel-heading a:after {*/
/*font-family: 'Glyphicons Halflings';*/
/*content: "\e114";*/
/*float: right;*/
/*color: #333;*/
/*}*/

/*.panel-heading a.collapsed:after {*/
/*content: "\e080";*/
/*}*/

.panel-title .accordion-icon {
  color: #333;
  cursor: pointer;
}

.panel-title .accordion-icon:before {
  content: "\e080";
  font-family: 'Glyphicons Halflings';
  color: #333;
  position: relative;
  bottom: 13px !important;
}

.panel-open .accordion-icon:before {
  content: "\e114";
}

.form-control {
  /*height: 25px;*/
  /*border-radius: 0;*/
}

/* Overridden rules by frameworks ]]]*/

.form-group {
  margin-top: 9px !important;
}

label {
  font-weight: normal;
  margin-bottom: 0;
}

.help-block {
  margin-top: 0px;
  font-size: 11px;
}

.loader {
  opacity: .5;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(12, 10, 3, 0.5);
  display: none;
  z-index: 9999999;
  text-align: center;
}

.loader.visible {
  display: block;
}

.loader .loader-content {
  position: absolute;
  width: 100%;
  top: 50%;
}

.loader .loader-content .preloader-ring {
  margin: auto;
}

.fieldlist {
  margin: 0 0 -2em;
  padding: 0;
}

.fieldset-style {
  border: 2px groove threedface;
  padding: 12px 0px;
  margin-bottom: 14px;
  border-color: rgba(250, 250, 250, 0.5);

}

.legend-style {
  display: block;
  width: auto;
  padding: 0 5px;
  margin-bottom: 0;
  font-size: inherit;
  line-height: inherit;
  border-bottom: none;
}

.fieldlist li {
  list-style: none;
  padding-bottom: 2em;
}

.fieldlist label {
  display: block;
  padding-bottom: 1em;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px;
  color: #444;
}

/* #TODO uncomment*/
.datepicker-cst {
  display: block;
  width: 215px;
}
.datepicker-cst[aria-invalid] {
  /*border: 1px solid #444;*/
  border-right: 1px solid #999;
}

/*.remove-fields:hover {*/
/*background: #d87575;*/
/*}*/

/*.remove-fields {*/
/*background: #c41230;*/
/*color: white;*/
/*font-size: 17px;*/
/*border: 0;*/
/*cursor: pointer;*/
/*display: inline-block;*/
/*padding: 5px 8px;*/
/*vertical-align: top;*/
/*line-height: 101%;*/
/*position: relative;*/
/*!* right: 0; *!*/
/*top: 25px;*/
/*!*float: right;*!*/
/*}*/

.removable-input {
  width: 88%;
}

/*.add-input-button {*/
/*font-size: 8px;*/
/*}*/

.form-full {
  width: 90%;
}

.localization-btn {

  font-weight: bold;
  display: block;
  cursor: pointer;
  background: url('./icons/en.png');
  width: 16px;
  height: 16px;
  float: right;
  margin-top: 2px;
}

.custom-fieldset {
  border: 1px solid #A59696;
  padding: 20px;
  margin: 10px;
}

/*.search-col-btn {*/
  /*margin-top: 25px;*/
  /*margin-left: 10px;*/
/*}*/

.person-result-table {
  max-height: 110px;
  display: block;
  overflow-y: auto;
}

.leaf-content {
  /*border: 1px solid #8f8f8f;*/
  display: block;
  float: left;
  margin: 4px;
  font-size: 15px;
}

.leaf-content span, b {
  margin: 4px;
  display: block;
  float: left;
}

.leaf-content div {
  display: block;
  float: right;
}

.leaf-content div p span {
  margin: 0px 0px 0px 5px;
}

.treeview ul li.root {
  margin: 10px;
  border: 1px solid #404040;
}



/*.person-find-criteria-form {*/

/*box-shadow: 8px 8px 8px -2px #BFBFBF;*/
/*-moz-box-shadow: 8px 8px 8px -2px #BFBFBF;*/
/*-webkit-box-shadow: 8px 8px 8px -2px #BFBFBF;*/
/*position: fixed;*/
/*top: 45px;*/
/*bottom: 96px;*/
/*width: 45%;*/
/*left: 50px;*/
/*z-index: 11000;*/
/*overflow: auto;*/
/*border: 1px solid #C5BCB5;*/
/*transition: .5s linear all;*/
/*-webkit-transition: .5s linear all;*/
/*}*/

/*.person-find-criteria-form .row {*/
/*width: 95%;*/
/*}*/

.person-find-criteria-form.ng-hide {
  width: 0%;

}


.person-find-result-block-order {
  /*padding-left: 10px;*/
  /*padding-top: 9px;*/
  /*-webkit-box-sizing: border-box; /!* Safari/Chrome, other WebKit *!/*/
  /*-moz-box-sizing: border-box; /!* Firefox, other Gecko *!/*/
  /*box-sizing: border-box;*/
  /*float: left;*/
  /*width: 100%;*/
  /*height: 100%;*/
  /*overflow: auto;*/
}

.person-find-criteria-form .form-control {
  height: 20px;
}

.person-search-criteria {
  display: block;
  position: fixed;
  top: 45px;
  left: 0px;
}

.table-half {
  width: 50%;
}

.table-header-rotated th.row-header {
  width: auto;
}

.table-header-rotated td {
  width: 40px;
  border-top: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  vertical-align: middle;
  text-align: center;
}

.table-header-rotated thead, .table-header-rotated thead {
  border: 1px solid #dddddd;
}

.table-header-rotated th.rotate-45 {
  height: 80px;
  position: relative;
  vertical-align: bottom;
  padding: 0;
  font-size: 12px;
  line-height: 0.8;
  border-left: 1px solid #dddddd;
}

.table-header-rotated th.rotate-45 > div {
  position: relative;
  top: 0px;
  left: 40px; /* 80 * tan(45) / 2 = 40 where 80 is the height on the cell and 45 is the transform angle*/
  height: 100%;
  transform: skew(-45deg, 0deg);
  overflow: hidden;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  border-top: 1px solid #dddddd;
}

.table-header-rotated th.rotate-45 span {
  transform: skew(45deg, 0deg) rotate(315deg);
  position: absolute;
  bottom: 30px; /* 40 cos(45) = 28 with an additional 2px margin*/
  left: -25px; /*Because it looked good, but there is probably a mathematical link here as well*/
  display: inline-block;
  width: 85px; /* 80 / cos(45) - 40 cos (45) = 85 where 80 is the height of the cell, 40 the width of the cell and 45 the transform angle*/
  text-align: left;
}

.table-header-rotated th:first-of-type, .table-header-rotated td:first-of-type {
  text-align: left;
}

.field-changed span {
  color: #333333;
  text-decoration: none;
}

.field-changed p, .field-changed {
  color: red;
  text-decoration: line-through;
}

.field-name {
  font-weight: 700;
}

.field-new {
  color: green;
}

.cfi-generate-form {
  padding: 10px;
  overflow: hidden;
}
.cfi-submit-button {
  height: 50px;
}

.cfi-generate-form select {
  max-height: 200px;
  margin: 5px;

}

.cfi-generate-form select option {
  font-size: 13px;
}

/*.sweet-alert {*/
  /*background-color: #E8E2E2;*/
/*}*/

.ui-datepicker-year {
  display: none;
}

/*.bank-account-form {*/
  /*max-height: 500px;*/
/*}*/

md-tooltip.multiline .md-content,
md-tooltip.multiline ._md-content {
  height: auto;
  font-size: 15px;
  background-color: #5E6163;
}


.glyphicon-spin {
  -webkit-animation: spin 1000ms infinite linear;
  animation: spin 1000ms infinite linear;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}



