/*-----------------------------------------------Common Styles Start Here---------------------------------------------*/
.position-relative {
  position: relative;
}

.center-align {
  text-align: center;
}

.cursor-pointer {
  cursor: pointer;
}

.text-overflow {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: normal;
  font-size: 12px !important;
}

.font-size-12 {
  font-size: 12px;
}

.min-height-500 {
  min-height: 500px !important;
}

.padding-top-10 {
  padding-top: 10px !important;
}

.margin-top-20 {
  margin-top: 20px;
}

.padding-left-15 {
  padding-left: 15px !important;
}

.padding-left-5 {
  padding-left: 5px;
}

.margin-top-0 {
  margin-top: 0 !important;
}

.outline-none {
  outline: none !important;
}

.no-scroll {
  overflow: hidden;
}

.half-width {
  width: 50%;
}

.min-width-470 {
  min-width: 470px;
}

hr {
  border: 0;
  height: 2px;
  background-color: #c41230;
}

.div-full-height {
  position: relative;
  height: 100%;
  box-sizing: border-box;
}

.border-box {
  box-sizing: border-box;
}

.blue-link {
  color: #0000EE;
}

.blue-link:visited {
  color: #551A8B;
}

.long-text {
  width: 50%;
  height: 400px;
  overflow: auto;
}

.text-style {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: normal;
  font-size: 12px !important;
  margin-left: 30px;
}

.bg-crimson {
  background: #5E6163 !important;
}

.bg-crimson:hover {
  background: #1C6E91 !important;
}

.row-error td {
  background-color: #ce352c;
  color: #fff;
}

.underline {
  text-decoration: underline;
}

textarea[disabled] {
  background-color: gainsboro;
}

.input-width {
  width: 215px;
}

.border-top {
  border-top: 1px solid #999 !important;
}

body {
  font-family: segoe ui, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6, a {
  color: #c41230;
}

input[type="checkbox"], input[type="radio"] {
  height: 26px;
  width: 18px;
}

html input[disabled], html select[disabled] {
  background-color: #E6E4E4;
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: #c41230;
}

.remove {
  color: #c41230;
}

a:hover {
  text-decoration: underline;
}

p {
  font-family: segoe ui, Arial, sans-serif;
}

.list-no-style {
  padding: 0;
  margin: 0;
}

.tooltip-arrow {
  border-right-color: #000 !important;
}

.tooltip-inner {
  background: #000;
  color: #fff;
}

.focus {
  outline: 2px solid rgba(1, 131, 150, 0.72);
}

input:focus {
  outline: none;
}

.pass {
  position: relative;
}

.required-sign {
  color: #c41230;
  margin-right: 5px;
}

.help-block {
  display: block;
  margin-bottom: 10px;
  color: #737373;
}

h1, .h1, h2, .h2, h3, .h3 {
  margin-bottom: 0 !important;
  margin-top: 0 !important;;
}

.error-message-style {
  padding-top: 7px;
}

.margin-top-30 {
  margin-top: 30px;
}

.toolbar-header {
  color: #FFF;
  position: fixed;
  top: 49px;
  left: 18px;
}

md-sidenav.md-default-theme, md-sidenav {
  background-color: #d23952 !important;
}

.issue-report {
  padding-left: 8px;
}

/*--------------------------------------------------------Common Styles End Here-------------------------------------------------------------------------*/

/*--------------------------------------------------------Fonts Start Here-------------------------------------------------------------------------------*/
@font-face {
  font-family: 'segoe ui';
  src: url('./fonts/segoeui_0.ttf');
}

@font-face {
  font-family: 'segoe ui z';
  src: url('./fonts/segoeuiz_0.ttf');
}

@font-face {
  font-family: 'segoe ui sb';
  src: url('./fonts/seguisb_0.ttf');
}

@font-face {
  font-family: 'Eurostile';
  src: url('./fonts/EurostileLTProUnicode-Bold.ttf');
}

/*-----------------------------------------------------Fonts End Here-------------------------------------------------------------------------*/

/* ----------------------------------------------------Media Queries Start Here---------------------------------------------------------------*/
@media only screen and (max-width: 768px) {
  .header .container p.project-name {
    display: none;
  }

  #forgot-password {
    width: 100%;
  }

  .feedback-button {
    top: 75px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  .header .container p.project-name {
    font-size: 16px;
  }

  #forgot-password {
    width: 100%;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .header .container p.project-name {
    font-size: 16px;
  }
}

@media (min-width: 1300px) {
  .header .container p.project-name {
    font-size: 16px;
  }
}

/*--------------------------------------------------------------Media Queries End Here------------------------------------------------------------------*/

/*--------------------------------------------------------------Icons Start Here------------------------------------------------------------------------*/
.icon {
  margin: 0 3px -3px 3px;
  display: inline-block;
}

.icon-download {
  background: url('../images/csdr_sprite.png') no-repeat -412px -375px;
  width: 15px;
  height: 14px;
}

.icon-arrow-right-big {
  background: url('../images/csdr_sprite.png') no-repeat -513px -120px;
  width: 20px;
  height: 30px;
  margin: 9px 0 0 18px;
}

.icon-taskbar-view {
  background: url('../images/csdr_sprite.png') no-repeat -138px -285px;
  width: 19px;
  height: 27px;
}

.icon-taskbar-view:hover {
  background: url('../images/csdr_sprite.png') no-repeat -177px -285px;
  width: 19px;
  height: 27px;
}

.icon-taskbar-operation {
  background: url('../images/csdr_sprite.png') no-repeat -216px -285px;
  width: 20px;
  height: 27px;
}

.icon-taskbar-operation:hover {
  background: url('../images/csdr_sprite.png') no-repeat -255px -285px;
  width: 20px;
  height: 27px;
}

.icon-upload-red {
  background: url('../images/csdr_sprite.png') no-repeat -459px -340px;
  width: 9px;
  height: 10px;
}

.icon-feedback {
  background: url('../images/csdr_sprite.png') -43px -202px;
  width: 18px;
  height: 18px;
}

.icon-dropdown {
  background: url('../images/csdr_sprite.png') no-repeat -302px -211px;
  width: 8px;
  height: 7px;
  margin: 1px;
}

.icon-calendar {
  margin: 0 5px -2px 0;
  background: url('../images/csdr_sprite.png') no-repeat -96px -203px;
  width: 13px;
  height: 16px;
}

.icon-user {
  background: url('../images/csdr_sprite.png') no-repeat -197px -206px;
  width: 13px;
  height: 14px;
}

.icon-user-profile {
  background: url('../images/csdr_sprite.png') no-repeat -261px -203px;
  width: 14px;
  height: 19px;
}

.icon-user-edit {
  background: url('../images/csdr_sprite.png') no-repeat -374px -211px;
  width: 13px;
  height: 16px;
}

.icon-logout {
  background: url('../images/csdr_sprite.png') no-repeat -373px -248px;
  width: 14px;
  height: 14px;
}

.icon-document {
  background: url('../images/csdr_sprite.png') no-repeat -140px -250px;
  width: 14px;
  height: 14px;
}

.icon-lock {
  background: url('../images/csdr_sprite.png') no-repeat -232px -206px;
  width: 11px;
  height: 13px;
}

.icon-arrow-right {
  background: url('../images/csdr_sprite.png') no-repeat -93px -252px;
  width: 18px;
  height: 12px;
}

.icon-pen {
  background: url('../images/csdr_sprite.png') no-repeat -294px -376px;
  width: 15px;
  height: 14px;
}

.icon-filter {
  background: url('../images/filter.png') no-repeat;
  width: 25px;
  height: 25px;
  margin-left: 3px
}

.icon-remove-filter {
  background: url('../images/remove-filter.png') no-repeat;
  width: 25px;
  height: 25px;
  margin-left: 3px
}

.icon-unit {
  background: url('../images/squares136.png') no-repeat;
  width: 16px;
  height: 16px;
  margin: 0;
}

.icon-groups {
  background: url('../images/users6.png') no-repeat;
  width: 16px;
  height: 16px;
  margin: 0;
}

.search-icon-style {
  color: #c41230 !important;
}

/*----------------------------------------------------------------Icons End Here----------------------------------------------------------------------*/

/*----------------------------------------------------------Tables' Styles Start Here---------------------------------------------------------------------*/
.table-border {
  border: 1px solid #999;
}

.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
  border: 1px solid #999;
}

.table-bordered {
  border: 1px solid #999;
}

table .k-header {
  background: #5E6163 !important;
  border-bottom: none;
}

.inside-table {
  border: 1px solid #999;
  position: relative;
  left: 5%;
  width: 50%;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
  vertical-align: middle;
}

.table-td-overflow {
  width: 200px;
  text-overflow: ellipsis;
}

.title-transfer-forms table td ul {
  list-style-type: none;
}

td.block {
  position: relative;
  display: block;
}

.succession-operation-th {
  font-size: 16px;
}

.role-rules-has-column-position {
  position: relative;
  right: 10px !important;
}

.settlement-table-header {
  position: relative;
  right: 23px;
}

/*----------------------------------------------------------Tables' Styles End Here-----------------------------------------------------------------------*/
/*----------------------------------------------------------Sweet Alert Start Here------------------------------------------------------------------------*/
button.confirm {
  background-color: #c41230 !important;
}

.sweet-alert p {
  max-height: 200px;
  overflow: auto;
}

.sweet-alert {
  width: 400px;
  box-shadow: 0 10px 13px -6px rgba(0, 0, 0, 0.2), 0 20px 31px 3px rgba(0, 0, 0, 0.14), 0 8px 38px 7px rgba(0, 0, 0, 0.12);
}

.sweet-alert button {
  padding: 6px 24px;
}

.sweet-alert .sa-error {
  width: 50px;
  height: 50px;
  border: 2px solid gray
}

.sweet-alert .sa-icon.sa-error .sa-line {
  height: 2px;
  width: 30px;
  top: 24px;
}

.sweet-alert .sa-icon.sa-error .sa-x-mark {
  position: relative;
  display: block;
  left: 5px;
  top: 1px;
}

.sweet-alert .sa-icon.sa-error .sa-line.sa-left {
  left: 6px;
}

.sweet-alert .sa-icon.sa-success .sa-line {
  height: 3px;
}

.sweet-alert .sa-icon.sa-success .sa-placeholder {
  width: 70px;
  height: 70px;
  border: 3px solid rgba(165, 220, 134, 0.2);
  left: -2px;
  top: -2px;
}

.sweet-alert .sa-icon.sa-success .sa-line.sa-tip {
  width: 23px;
  left: 14px;
  top: 44px;
}

.sweet-alert .sa-icon.sa-success .sa-line.sa-long {
  width: 40px;
  right: 14px;
  top: 38px;
}

.sa-icon.sa-warning {
  width: 50px;
  height: 50px;
  border: 2px solid;
}

.sweet-alert .sa-icon.sa-warning .sa-body {
  position: absolute;
  width: 2px;
  height: 21px;
  left: 50%;
  top: 12px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  margin-left: -1px;
}

.sweet-alert .sa-icon.sa-warning .sa-dot {
  position: absolute;
  width: 4px;
  height: 4px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  margin-left: -2px;
  bottom: 10px;
}

.sweet-alert h2 {
  font-size: 20px;
}

/*----------------------------------------------------------Sweet Alert End Here--------------------------------------------------------------------------*/
/*----------------------------------------------------------md-tabs Start Here----------------------------------------------------------------------------*/
md-toolbar.md-warn > md-tabs.md-default-theme, md-tabs > .md-tabs-wrapper > .md-tabs-canvas > .md-pagination-wrapper > md-tab-item:not([disabled]) {
  color: #333 !important;
}

md-tabs .md-tab[disabled] {
  color: #333;
}

.md-tabs-bordered md-tabs-content-wrapper {
  border: 1px solid #DAD1D1;
  margin-top: -1px;
}

.md-sub-tab md-tabs-wrapper span {
  font-size: 12px;
}

md-tabs > .md-tabs-wrapper > .md-tabs-canvas > .md-pagination-wrapper > md-tab-item:not([disabled]) {
  color: #333;
}

md-toolbar.md-warn > md-tabs.md-default-theme, md-tabs > .md-tabs-wrapper > .md-tabs-canvas > .md-pagination-wrapper > md-tab-item:not([disabled]).md-active,
md-toolbar.md-warn > md-tabs.md-default-theme, md-tabs > .md-tabs-wrapper > .md-tabs-canvas > .md-pagination-wrapper > md-tab-item:not([disabled]).md-focused {
  color: #c41230;
}

md-tabs.md-default-theme, .md-tabs .md-ink-bar {
  color: rgb(255, 64, 129);
  background: rgb(255, 64, 129);
}

/*----------------------------------------------------------md-tabs End Here----------------------------------------------------------------------------*/
/*----------------------------------------------------------Kendo Grid Drag & Drop Start Here-----------------------------------------------------------*/
.k-drag-clue {
  background-color: #c41230 !important;
  border-color: #c41230 !important;
  color: #FFF !important;
}

.k-i-cancel, .k-cancel, .k-denied {
  background-position: -49px -49px
}

.k-link:not(.k-state-disabled):hover > .k-i-cancel, .k-link:not(.k-state-disabled):hover > .k-cancel, .k-link:not(.k-state-disabled):hover > .k-denied, .k-state-hover > .k-i-cancel, .k-state-hover > .k-cancel, .k-state-hover > .k-denied, .k-state-hover > * > .k-i-cancel, .k-state-hover > * > .k-cancel, .k-state-hover > * > .k-denied, .k-button:not(.k-state-disabled):hover .k-i-cancel, .k-button:not(.k-state-disabled):hover .k-cancel, .k-button:not(.k-state-disabled):hover .k-denied, .k-textbox:hover .k-i-cancel, .k-textbox:hover .k-cancel, .k-textbox:hover .k-denied, .k-button:active .k-i-cancel, .k-button:active .k-cancel, .k-button:active .k-denied {
  background-position: -49px -49px
}

.k-i-plus, .k-add {
  background-position: -49px -64px
}

.k-link:not(.k-state-disabled):hover > .k-i-plus, .k-link:not(.k-state-disabled):hover > .k-add, .k-state-hover > .k-i-plus, .k-state-hover > .k-add, .k-state-hover > * > .k-i-plus, .k-state-hover > * > .k-add, .k-button:not(.k-state-disabled):hover .k-i-plus, .k-button:not(.k-state-disabled):hover .k-add, .k-textbox:hover .k-i-plus, .k-textbox:hover .k-add, .k-button:active .k-i-plus, .k-button:active .k-add {
  background-position: -49px -64px
}

/*-------------------------------------------------------Kendo Grid Drag & Drop End Here----------------------------------------------------------------*/

/*-----------------------------------------------------md-buttons Start Here--------------------------------------------------------------------------*/
.md-button-block {
  display: block !important;
}

.md-raised {
  text-transform: none !important;
  padding: 3px 10px 3px 10px !important;
  color: #fff !important;
  background-color: #cc0033 !important;
}

a.md-button.md-default-theme.md-raised[disabled], a.md-button.md-raised[disabled], a.md-button.md-default-theme.md-fab[disabled], a.md-button.md-fab[disabled], .md-button.md-default-theme.md-raised[disabled], .md-button.md-raised[disabled], .md-button.md-default-theme.md-fab[disabled], .md-button.md-fab[disabled] {
  background-color: rgba(0, 0, 0, 0.12) !important;
  color: #333333 !important;
}

.horizontal-form-checkbox md-radio-button {
  margin: 0 15px 0 0;
}

.md-button.md-raised:not([disabled]) {
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .26);
}

.context-menu .md-icon-button {
  width: auto;
  font-size: 13px;
  text-transform: none;
}

md-datepicker .md-button.md-icon-button {
  margin: 0 1px;
  height: 5px;
  min-width: 0;
  line-height: 1px;
  padding: 0 0 0 35px;
  width: 25px;
  border-radius: 50%;
}

a.md-button.md-default-theme.md-fab, a.md-button.md-fab, .md-button.md-default-theme.md-fab, .md-button.md-fab {
  background-color: #c41230 !important;
  color: #FFF !important;
}

.md-micro {
  width: 25px !important;
  height: 35px !important;
}

.home-operations-block md-content v-accordion v-pane v-pane-content div md-list .md-button {
  margin: 0;
  width: 98%;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.md-list-item-text {
  max-width: 272px;
}

.add-new-representative-button-style {
  position: fixed;
  right: 15px;
  z-index: 20;
}

.hamburger-button-style {
  left: -17px;
  top: 10px;
}

.md-button-edited-style:focus {
  background-color: transparent !important;
  box-shadow: none !important;
}

.md-button-edited-style:hover {
  background-color: transparent !important;
  box-shadow: none !important;
}

.cfi-generate-button {
  width: 98%;
}

.freezing-radio-buttons {
  min-width: 150px;
}

.remove-successor-button {
  vertical-align: top !important;
}

.trade-view-buttons-wrapper {
  position: relative;
  width: 100%;
  height: 47px;
}

.view-buttons-wrapper {
  position: absolute;
  width: 100%;
  top: 0;
  height: 47px;
}

.add-new-document-buttons {
  position: fixed;
  right: 0 !important;
}

.add-new-bank-account-buttons {
  position: fixed;
  top: 36px !important;
  right: 10px !important;
}

.close-task-button-style {
  font-size: 10px !important;
  min-width: 17px !important;
  min-height: 23px !important;
  line-height: 23px !important;
}

.button-margin {
  margin: 9px !important;
}

.filter-buttons-position {
  margin-right: 0 !important;
}

.view-button-group {
  right: 5px;
  position: relative;
}

.align-justify-button-style {
  width: 35px !important;
  height: 35px !important;
  box-shadow: none !important;
}

.md-button-edited-style {
  z-index: 20;
  line-height: 56px;
  min-width: 0;
  vertical-align: middle;
  border-radius: 50%;
  overflow: hidden;
  transition: 0.2s linear;
  transition-property: background-color, box, shadow;
}

md-tooltip {
  z-index: 99999999;
}

.export-button {
  position: absolute;
  left: 0;
}

/*-----------------------------------------------------md-buttons End Here----------------------------------------------------------------------------*/

/*-----------------------------------------------------Glyphicons' Style Start Here-------------------------------------------------------------------*/
.micro-arrow-glyphicon {
  float: right;
  position: relative;
  top: 2px !important;
  color: #FFF;
}

.glyphicon.glyphicon-cog {
  top: -8px;
}

.micro-glyphicon {
  top: -9px;
  left: 0;
  color: white !important;
}

.micro-align-glyphicon {
  color: #c41230 !important;
}

.glyphicon-home-style {
  color: #FFF;
  position: relative;
  top: 11px;
  right: -5px;
}

.glyphicon-question-sign-style {
  opacity: .4;
  padding-left: 10px;
}

.nav-arrow-right .glyphicon:before {
  content: "\e131";
  color: #c41230;
  position: relative;
  left: -10px !important;
}

.nav-arrow-left .glyphicon:before {
  content: "\e132";
}

/*-----------------------------------------------------Glyphicons' Style End Here-------------------------------------------------------------------*/
/*-----------------------------------------------------Information Block Start Here-----------------------------------------------------------------*/
.comments-wrapper {
  margin: 10px;
  overflow: auto;
  max-height: 45%;
  background: #E2DCDC;
}

.all-comments {
  padding: 6px 15px 10px 20px;
}

.comment {
  border-bottom: 1px solid #d23952;
  padding-top: 8px;
}

.comments-header {
  background: #d23952 !important;
}

.comments-person-name {
  font-size: 15px;
  color: #d23952;
}

.comments-date-time-wrapper {
  padding: 5px 0 7px 0;
}

.comments-date-icon {
  color: #d23952;
  padding-left: 1px;
  font-size: 10px;
}

.comments-time-icon {
  color: #d23952;
  padding-left: 32px;
  font-size: 10px;
}

.comments-date-time-text {
  font-size: 12px;
}

.comments-footer {
  background-color: #d23952 !important;
  overflow: hidden;
}

.comments-textarea {
  min-width: 93%;
  max-width: 93%;
  margin: 0 10px 10px 10px;
}

.comments-label {
  margin: 10px 10px 5px 10px;
}

.information-block-wrapper {
  background: #d23952;
  width: 100%;
  overflow: hidden !important;
}

.created-date-style {
  color: #FFF;
  border-bottom: 1px solid #FFF;
  font-size: 14px;
  padding: 10px;
}

.information-header {
  background: #d23952 !important;
}

.created-date-icon-position {
  padding-right: 7px;
}

.task-number {
  font-size: 17px !important;
}

.icon-arrow-right-position {
  margin: 0 0 9px 1px;
}

.right-arrow-button-position {
  position: absolute;
  right: 5px;
  top: 15px;
}

/*--------------------------------------------------------Information Block End Here------------------------------------------------------*/

/*--------------------------------------------------------Document Block Start Here-------------------------------------------------------*/
.documents-header {
  background: #d23952 !important;
}

.fileUpload {
  position: relative;
  overflow: hidden;
  width: 123px;
  background: #c41230;
  padding: 2px 6px;
}

.fileUpload input.upload {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  cursor: pointer;
  opacity: 0;
}

.document-icon {
  font-size: smaller;
}

.document-form {
  background-color: white;
  max-height: 85%;
  overflow-y: auto;
}

.task-help-text {
  color: #fff;
  margin: 6px;
}

/*-------------------------------------------------------Document Block End Here-------------------------------------------------------------*/

/*-------------------------------------------------------Feedback Menu Start Here------------------------------------------------------------*/
.feedback-menu md-toolbar {
  height: 15%;
  border-bottom: 1px solid #fff;
}

.feedback-menu md-toolbar h1 {
  bottom: 0;
  position: absolute;
  max-height: 35px;
}

.feedback-menu md-toolbar .md-icon-button {
  right: 5px;
  bottom: 15px;
  position: absolute;
  width: 35px;
  height: 35px;
  line-height: 0;
  background: #b00f29;
  -moz-border-radius: 70px;
  -webkit-border-radius: 70px;
  border-radius: 70px;
}

.feedback-menu md-content .md-button {
  line-height: 0;
  min-height: 30px;
  border-radius: 0;
}

.feedback-menu md-content textarea {
  color: #333333 !important;
  border: none;
  background: #fff;
}

.feedback-menu md-content .md-button.upload-document {
  background-color: #fff !important;
}

.feedback-menu md-content .md-button.upload-document i {
  margin-bottom: 0 !important;
}

.feedback-menu md-content .md-button.upload-document span {
  color: #b00f29 !important;
}

.feedback-button {
  position: absolute;
  right: 30px;
  top: 135px;
  z-index: 1;
}

/*-------------------------------------------------------Feedback Menu End Here--------------------------------------------------------------*/

/*-------------------------------------------------------Kendo Grid Styles Start Here--------------------------------------------------------*/
.k-grid {
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .12);
  webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .12);
  margin: 0 10px;
  height: 98%;
}

.k-grid-content {
  overflow-y: auto !important;
  overflow-x: auto !important;
}

.k-grid-header th.k-header {
  vertical-align: middle;
  text-align: center !important;
  white-space: normal !important;
  text-overflow: clip !important;
}

div.k-grid-header, div.k-grid-footer {
  padding-right: 0 !important;
}

.early-settlement .k-grid-header th.k-header {
  vertical-align: middle;
}

.k-grid-header th.k-header:first-child, .k-grid tbody td:first-child, .k-grid tfoot td:first-child, .k-filter-row > th:first-child {
  border-left-width: thin;
}

.k-grid-content tr:last-child td {
  border-bottom-width: thin;
}

.k-grid-header .k-header .k-link, .k-grid-header .k-header, .k-grid-header .k-link, .k-grid-header .k-link:link, .k-pager-info, .k-scheduler-header, .k-scheduler-agendaview .k-scheduler-datecolumn {
  color: white;
  border-top: none;
}

.grid-text-danger {
  position: absolute;
  top: 4px;
}

.inline-grid-qty-input {
  width: 100px !important;
  height: 24px !important;
}

.k-numeric-wrap.k-state-default {
  height: 25px !important;
}

.k-grouping-header .k-group-indicator, .k-pivot-toolbar .k-button {
  background: #c41230;
  border-color: #c41230;
  color: #FFF;
}

.k-grouping-header {
  background-color: #999;
  color: #FFF !important;
}

.k-loading-image {
  display: none;
  background-image: url('../images/loading-grid.gif');
}

.k-tabstrip-wrapper {
  min-height: 100%;
  height: 100%;
}

.k-list-container.k-popup.k-group.k-reset {
  padding: 0 !important;
}

.k-tabstrip-items .k-item.k-state-hover {
  background-color: #C4112E;
  border-color: #C4112E;
}

.k-pager-info {
  color: #333333;
}

.balance-grid {
  position: relative !important;
}

.trade-search-result-grid {
  position: absolute;
  top: 47px;
  bottom: 0;
  width: 100%;
}

.order-search-result-grid {
  position: absolute;
  top: 47px;
  bottom: 0;
  width: 100%;
}

.money-position-search-result-grid {
  bottom: 30px;
  position: relative;
}

.person-find-result-block {
  position: absolute;
  top: 47px;
  bottom: 0;
  width: 100%;
}

.money-position-view {
  position: relative;
  width: 100%;
}

ul.k-list.k-reset {
  font-size: 12px !important;
}

/*-------------------------------------------------------Kendo Grid Styles End Here--------------------------------------------------------*/

/*-------------------------------------------------------Kendo Tree Styles Start Here------------------------------------------------------*/
.tree-action-buttons {
  margin-top: -7px;
  position: absolute;
  right: 0;
  width: 145px;
}

.box-col {
  width: 649px;
  position: absolute;
}

.k-widget.k-treeview {
  overflow: hidden;
}

.box-col ul li {
  width: 640px;
}

.box-col ul li ul li {
  width: 620px;
}

.box-col ul li ul li ul li {
  width: 600px;
}

.box-col ul li ul li ul li ul li {
  width: 580px;
}

.box-col ul li ul li ul li ul li ul li {
  width: 560px;
}

.box-col ul li ul li ul li ul li ul li ul li {
  width: 540px;
}

.box-col ul li ul li ul li ul li ul li ul li ul li {
  width: 520px;
}

.box-col ul li ul li ul li ul li ul li ul li ul li ul li {
  width: 500px;
}

.tree-label {
  margin-top: 8px;
}

ul.tree-view-list {
  padding: 0 0 0 1px;
  margin: 1px 0 0 15px;
  list-style: none;
  overflow: hidden;
}

ul.tree-view-list li {
  border-left: 1px dotted rgb(244, 67, 54);
  position: relative;
}

ul.tree-view-list > li {
  padding-left: 15px;
}

ul.tree-view-list li:before {
  content: '';
  width: 14px;
  position: absolute;
  border-bottom: 1px dotted rgb(244, 67, 54);
  left: 0;
  top: 10px;
}

ul.tree-view-list li:last-child:before {
  height: 10px;
  margin-top: -10px;
}

ul.tree-view-list li:last-child {
}

ul.tree-view-list li:last-child:before {
  height: 10px;
  margin-top: -10px;
}

/*------------------------------------------------------Kendo Tree Styles End Here----------------------------------------------------------*/

/*------------------------------------------------------Kendo DropDownList(Select) Start Here---------------------------------------------- */
select:active, select:link, select:default, select:disabled, select:focus, select:enabled, select:hover, select:invalid, select:valid, select:required {
  width: 215px;
  height: 25px;
  border: 1px solid #999;
  outline: #999;
  color: #444;
}

.status-code > select {
  width: 160px !important;
}

.k-picker-wrap .k-select, .k-numeric-wrap .k-select, .k-dropdown-wrap .k-select {
  line-height: 1.8em !important;
}

.k-select {
  background-color: transparent !important;
  border-color: transparent !important;
}

.k-picker-wrap .k-select, .k-numeric-wrap .k-select, .k-dropdown-wrap .k-select {
  line-height: 2em !important;
}

.k-picker-wrap .k-select, .k-numeric-wrap .k-select, .k-dropdown-wrap .k-select {
  top: -4px !important;
}

span.k-widget.k-dropdown.k-header.ng-pristine.ng-untouched.ng-valid {
  width: 215px !important;
  height: 27px !important
}

span.k-widget.k-dropdown.k-header.ng-valid.ng-dirty.ng-valid-parse.ng-touched {
  width: 215px !important;
  height: 27px !important
}

span.k-widget.k-dropdown.k-header.ng-untouched.ng-valid.ng-dirty.ng-valid-parse {
  width: 215px !important;
  height: 27px !important
}

.k-textbox > input, .k-autocomplete .k-input, .k-picker-wrap .k-input, .k-numeric-wrap .k-input, .k-dropdown-wrap .k-input, .k-selectbox .k-input {
  height: 22px;
  line-height: 22px;
}

.k-button {
  padding: 4px 14px;
  box-shadow: none !important;
  border: 1px solid #999 !important;
}

span.k-widget.k-dropdown.k-header.ng-valid.ng-dirty.ng-valid-parse {
  font-size: 12px !important;
}

.person-search-inputs span.k-widget.k-dropdown.k-header.ng-valid.ng-dirty.ng-valid-parse.ng-touched {
  width: 160px !important;
  height: 25px !important;
}

.person-search-inputs span.k-widget.k-dropdown.k-header.ng-pristine.ng-untouched.ng-valid {
  width: 160px !important;
  height: 25px !important;
}

.person-search-inputs span.k-widget.k-dropdown.k-header.ng-untouched.ng-valid.ng-dirty.ng-valid-parse {
  width: 160px !important;
  height: 25px !important;
}

.person-search-inputs span.k-widget.k-dropdown.k-header.ng-pristine.ng-valid.ng-touched {
  width: 160px !important;
  height: 25px !important;
}

.k-autocomplete.k-state-default, .k-picker-wrap.k-state-default, .k-numeric-wrap.k-state-default, .k-dropdown-wrap.k-state-default {
  height: 29px !important;
  border: 1px solid #999;
}

.k-dropdown-wrap .k-state-default {
  border: none;
}

.k-autocomplete.k-state-default, .k-picker-wrap.k-state-default, .k-numeric-wrap.k-state-default, .k-dropdown-wrap.k-state-default {
  border-color: #999;
}

.k-textbox:hover, .k-overflow-anchor:hover, .k-autocomplete.k-state-hover, .k-picker-wrap.k-state-hover, .k-numeric-wrap.k-state-hover, .k-dropdown-wrap.k-state-hover {
  border-color: #999;
}

/*------------------------------------------------------Kendo DropDownList(Select) End Here------------------------------------------------ */

/*------------------------------------------------------Kendo DatePicker Start Here----------------------------------------------------------*/
.person-search-inputs span.k-datepicker, span.k-timepicker, span.k-colorpicker, span.k-numerictextbox, span.k-combobox, .k-toolbar .k-split-button,
.person-search-inputs span.k-widget.k-datepicker.k-header.ng-valid.ng-touched.ng-dirty.ng-valid-parse.ng-valid-csm-kendo-date,
.person-search-inputs span.k-widget.k-datepicker.k-header.ng-pristine.ng-valid.ng-touched, .person-search-inputs span.k-widget.k-datepicker.k-header.ng-pristine.ng-untouched.ng-valid,
.person-search-inputs span.k-widget.k-datepicker.k-header.ng-untouched.ng-valid.ng-dirty {
  width: 160px;
}

span.k-widget.k-datetimepicker.k-header.datepicker-cst.ng-touched.ng-dirty.ng-valid-parse.ng-valid.ng-valid-required {
  width: 215px;
}

span.k-widget.k-datepicker.k-header.datepicker-cst.ng-dirty.ng-valid-parse.ng-valid.ng-valid-required.ng-valid-csm-kendo-date.ng-touched {
  width: 215px !important;
  height: 27px !important
}

.k-datetimepicker .k-picker-wrap .k-icon {
  position: relative;
  top: 3px;
}

.md-checkbox-label, .md-datepicker-label {
  font-weight: normal !important;
  color: #6F6C6C;
  font-size: 12px;
}

.datepicker-checkbox-wrapper {
  position: relative;
  bottom: 3px;
}

.person-search-inputs input.ng-pristine.ng-valid.k-input.ng-touched,
.person-search-inputs input.ng-valid.k-input.ng-touched.ng-dirty.ng-valid-parse.ng-valid-csm-kendo-date,
.person-search-inputs input.ng-pristine.ng-untouched.ng-valid.k-input,
.person-search-inputs input.datepicker-cst.ng-valid.k-input.ng-dirty.ng-valid-parse.ng-touched,
.person-search-inputs input.ng-untouched.ng-valid.k-input.ng-dirty.ng-valid-parse,
.person-search-inputs input.ng-untouched.ng-valid.k-input.ng-dirty,
.person-search-inputs input.ng-valid.k-input.ng-dirty.ng-valid-parse.ng-touched,
.person-search-inputs input.ng-valid.k-input.ng-dirty.ng-touched {
  width: 122px !important;
  height: 23px !important;
  border-right: 1px solid #999;
}

.k-picker-wrap.k-state-default.k-state-focused {
  border-right: 1px solid #999 !important;
}

.k-picker-wrap.k-state-default.k-state-hover {
  border-right: 1px solid #999 !important;
}

.k-picker-wrap.k-state-default.k-state-focused.k-state-hover {
  border-right: 1px solid #999 !important;
}

.k-picker-wrap.k-state-default.k-state-hover.k-state-focused {
  border-right: 1px solid #999 !important;
}

span.k-picker-wrap.k-state-disabled {
  height: 28px;
  line-height: 28px;
}

/*------------------------------------------------------Kendo DatePicker End Here------------------------------------------------------------*/

/*------------------------------------------------------Kendo Splitter Start Here------------------------------------------------------------*/
.k-splitbar {
  background-color: #cfcfcf;
  width: 4px !important;
}

.k-autocomplete, .k-combobox, .k-numerictextbox, .k-selectbox, .k-textbox, .k-toolbar .k-split-button {
  width: 215px;
}

.k-splitbar-horizontal-hover:hover {
  background-color: #cfcfcf !important;
}

.k-splitbar.k-state-focused {
  background-color: #cfcfcf !important;
}

#sidebar-resizer {
  background-color: #CABDBD;;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 3px;
  cursor: e-resize;
}

#sidebar-resizer:hover, #preview-resizer:hover {
  background-color: #AAA;
}

.corporate-action-view-splitter, .persons-view-splitter {
  height: 100%;
}

/*------------------------------------------------------Kendo Splitter End Here------------------------------------------------------------*/

/*------------------------------------------------------Taskbar Block Start Here-----------------------------------------------------------*/
#bottom .taskbar {
  position: relative;
}

.taskbar #taskbar-elements {
  list-style: outside none none;
  height: 45px;
  width: 60%;
  float: left
}

.taskbar #taskbar-elements li.taskbar-element {
  height: 14px;
  float: left;
  margin-left: 5px;
  height: 36px;
  cursor: pointer;
}

.taskbar #taskbar-elements li.taskbar-element span {
  margin-top: 11px;
}

.taskbar #taskbar-elements li.taskbar-element img {
  width: 36px;
  max-width: 36px;
  height: 32px;
}

.taskbar ul li.pinned-windows-item {
  text-align: left;
  position: relative;
  z-index: 12000 !important;
}

.taskbar ul li.pinned-windows-item:hover ul {
  visibility: visible;
  opacity: 1;
}

.taskbar ul li.pinned-windows-item ul {
  background-color: #797979;
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4) inset;
  display: block;
  padding: 0;
  z-index: 12001;
  min-width: 200px;
  list-style: none;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  bottom: 111%;
  left: -5px;
  border: 1px solid;
  border-color: #777 #6c6c6c #666;
  -webkit-transition-property: opacity, padding, visibility;
  -moz-transition-property: opacity, padding, visibility;
  -ms-transition-property: opacity, padding, visibility;
  -o-transition-property: opacity, padding, visibility;
  transition-property: opacity, padding, visibility;
  -webkit-transition: 0.2s ease-out;
  -moz-transition: 0.2s ease-out;
  -ms-transition: 0.2s ease-out;
  -o-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

.taskbar ul li.pinned-windows-item li {
  padding: 0 12px;
  font-size: 11px;
  color: #838ca2;
  padding: 15px;
  display: block;
  position: relative;
  border-bottom: 1px solid #353232;
}

.taskbar ul li.pinned-windows-item li:last-child {
  border: none;
}

.taskbar ul li.pinned-windows-item li a {
  text-decoration: none;
  display: block;
  position: relative;
  font-size: 13px;
  color: #fff;
  margin-right: 10px;
}

.taskbar ul li.pinned-windows-item li i {
  position: absolute;
  right: 12px;
  top: 20px;
}

.taskbar ul li.pinned-windows-item li:hover {
  color: #fff !important;
  background-color: #3F51B5;
}

/*------------------------------------------------------Taskbar Block End Here--------------------------------------------------------------*/

/*------------------------------------------------------Accordion Start Here-----------------------------------------------------------------*/
.vAccordion--default v-pane-header {
  padding: 1px 0 !important;
}

v-accordion md-list-item.md-3-line, v-accordion md-list-item.md-3-line > .md-no-style {
  min-height: 0;
  height: 37px;
  line-height: 37px;
  padding: 0;
}

.vAccordion--default v-accordion {
  padding-left: 0;
}

.vAccordion--default v-pane-header::after, .vAccordion--default v-pane-header::before {
  background-color: #C41230;
  right: 13px;
}

.vAccordion--default v-pane.is-expanded > v-pane-header {
  border-bottom-color: red;
}

v-pane-header h1 {
  font-size: 18px;
  padding: 10px !important;
  margin-left: 10px;
  line-height: 20px;
}

.vAccordion--default v-pane-header {
  margin-bottom: 0;
}

.vAccordion--default v-accordion {
  margin-top: 0 !important;
}

.vAccordion--default v-pane-content > div {
  padding-bottom: 0 !important;
}

.accordion-toggle {
  outline: none;
}

.panel .person-search-accordion-icon:before {
  content: "\e080";
}

.panel-open .person-search-accordion-icon:before {
  content: "\e114";
}

.panel-title {
  font-size: 13px;
}

.panel-heading {
  border-radius: 0 !important;
}

.collapsible-panel-heading {
  min-width: 150px;
}

.panel-body-label {
  font-size: 12px;
  width: 130px;
}

.panel {
  border-radius: 0 !important;
}

.panel-body-manual {
  padding-left: 15px;
}

.k-expand-prev {
  display: none;
}

.k-collapse-prev {
  display: none;
}

.home-operations-block md-content v-accordion v-pane v-pane-content span {
  font-size: 13px;
  text-transform: none;
  margin-left: 5px;
}

.home-operations-block md-content v-accordion v-pane v-pane-content div md-list {
  padding: 8px 0 8px 15px;
}

.home-operations-block md-content v-accordion v-pane v-pane-header h1 {
  margin: 0;
  width: 90%;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.add-new-representative-accordion {
  margin-top: 50px !important;
}

/*------------------------------------------------------Accordion End Here-----------------------------------------------------------------------*/

/*------------------------------------------------------User Profile Edit Block Start Here-------------------------------------------------------*/
.change-password-form {
  height: 123px;
}

.md-submit {
  padding: 0 !important;
}

.user-form-labels {
  width: 150px;
  text-align: right;
  float: left;
}

/*------------------------------------------------------User Profile Edit Block End Here----------------------------------------------------------*/

/*------------------------------------------------------Task Windows' Static Parts Start Here-----------------------------------------------------*/
.task-buttons-block {
  position: absolute;
  width: 100%;
  top: 0;
  height: 50px;
  box-sizing: border-box;
  border-bottom: 1px solid #999;
  background: #FAFAFA;
  z-index: 50;
}

.right-task-buttons-block {
  float: right;
}

.left-task-buttons-block {
  float: left;
}

/*------------------------------------------------------Task Windows' Static Parts End Here-------------------------------------------------------*/

/*------------------------------------------------------Logo Container Block Start Here-----------------------------------------------------------*/

#logo-container {
  height: 150px;
  width: 100%;
  background: #c41230;
  position: absolute;
  top: 0;
  padding: 15px;
}

#logo-container .logo {
  float: left;
  width: 100%;
}

#logo-container .logo span {
  display: block;
  color: #fff;
  position: relative;
  top: 2px;
  font-size: 18px;
  left: 10px;
}

#logo-container #logo-image {
  float: left;
  background: url('../images/rsz-white-image-logo.png');
  background-repeat: no-repeat;
  width: 30px;
  height: 31px;
}

#logo-container #logo-text {
  float: left;
  background: url('../images/rsz-white-text-logo.png');
  background-repeat: no-repeat;
  width: 200px;
  margin: 11px 0 0 15px;
  height: 23px;
}

.header .container, .footer > .container {
  width: auto !important;
  margin: 0 20px;
}

.header-menu {
  color: #fff;
  top: 10px;
  position: relative;
}

.user-profile-edit-link:hover i {
  background: url('../images/csdr_sprite.png') no-repeat -339px -211px;
}

.user-logout-link:hover i {
  background: url('../images/csdr_sprite.png') no-repeat -230px -250px;
}

.home-button-style {
  position: absolute;
  bottom: 9px;
  right: 0;
  display: inline-block;
}

.user-profile-menu :after {
  border-right: 1px solid #fff;
}

.user-block-button {
  border-radius: 0 !important;
}

.username-style {
  padding-left: 6px;
}

.context-item:hover i {
  background: url('../images/csdr_sprite.png') no-repeat -230px -250px;
  width: 14px;
  height: 14px;
}

.context-item:hover span, .user-profile-edit-link:hover span, .user-logout-link:hover span {
  color: #c41230;
}

/*------------------------------------------------------Logo Container Block End Here-----------------------------------------------------------*/

/*-------------------------------------------------------Search Bar Start Here-------------------------------------------------------------------*/
.search-box {
  -webkit-transition: width 0.6s, border-radius 0.6s, background 0.6s, box-shadow 0.6s;
  transition: width 0.6s, border-radius 0.6s, background 0.6s, box-shadow 0.6s;
  width: 0;
  height: 22px;
  border: none;
  background: #c41230;
  position: relative;
  left: 40px;
  top: 14px;
}

md-menu .icon-user-profile {
  margin-left: 0 !important;
}

#search-submit {
  padding: 0;
  margin: 0;
}

.search-box:focus {
  border: none;
  outline: none;
  box-shadow: none;
  padding-left: 15px;
  cursor: text;
  width: 115px;
  background: #ebebeb;
  color: black;
}

.search-box:not(:focus) {
  text-indent: -5000px;
}

md-autocomplete {
  height: 30px;
}

md-autocomplete md-autocomplete-wrap {
  box-shadow: none !important;
  height: 30px;
}

md-autocomplete input:not(.md-input) {
  height: 30px;
  text-overflow: ellipsis;
}

#search-submit {
  position: relative;
  left: -5000px;
}

.search-icon {
  position: fixed;
  left: 20px;
  top: 123px;
  color: #FFF;
  font-size: 16px;
}

/*-----------------------------------------------------Search Bar End Here--------------------------------------------------------------------*/

/*------------------------------------------------------Main Block Start Here-----------------------------------------------------------*/
.header {
  background-color: #c41230;
  height: 7%;
  overflow: hidden;
  box-shadow: 0 4px 4px -2px #BFBFBF;
  -moz-box-shadow: 0 4px 4px -2px #BFBFBF;
  -webkit-box-shadow: 0 4px 4px -2px #BFBFBF;
}

.header .container {
  position: relative;
  height: 100%;
}

.operations-block-style {
  position: absolute;
  top: 4px;
  left: 4px;
  bottom: 4px;
  z-index: 1;
}

.home-operations-block {
  width: 304px;
  height: 100%;
  background-color: #fff;
  position: relative;
}

#vertical {
  height: 380px;
  width: 700px;
  margin: 0 auto;
}

.md-open-menu-container {
  top: 50px !important;
  z-index: 999999;
}

.md-open-menu-container span {
  color: #333333;
}

h1.ng-binding.ng-scope {
  font-size: 15px;
  left: 10px;
  position: relative;
}

.content {
  border: none;
  border-radius: 1px;
}

.container-fixed {
  height: 100%;
  background: url("../images/bg.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#index {
  position: relative;
  height: 100%;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  float: none;
}

header p, header span {
  color: #fbdedf;
}

/*------------------------------------------------------Main Block End Here-----------------------------------------------------------*/

/*------------------------------------------------------Operations Block Start Here-----------------------------------------------------------*/
.operations-block {
  width: 100%;
  float: left;
  overflow-y: auto;
  box-sizing: border-box;
  position: absolute;
  top: 150px;
  bottom: 0;
}

.border-bottom {
  border-bottom: 2px solid #D8D8D8;
}

/*------------------------------------------------------Operations Block End Here-----------------------------------------------------------*/

/*------------------------------------------------------Home Block Start Here---------------------------------------------------------------*/
#home {
  overflow: auto;
  margin: 0;
  box-sizing: border-box;
  position: fixed;
  top: 4px;
  bottom: 4px;
  right: 4px;
  left: 311px;
  background: #fff;
  background: transparent;
}

.dashboard {
  margin: 0;
  padding: 0;
}

.task-container, .accounts-dashboard-content {
  position: relative;
  width: 100%;
  height: 100%;
  outline: none;
}

.accounts-dashboard-content {
  padding: 20px;
  box-sizing: border-box;
}

.task-container a {
  text-decoration: underline;
  color: #FFF;
  font-size: 14px !important;
}

.task-wrapper {
  box-sizing: border-box;
  padding-bottom: 25px;
}

/*------------------------------------------------------Home Block End Here---------------------------------------------------------------*/

/*------------------------------------------------------Tiles Start Here--------------------------------------------------------------------*/
.tile {
  outline: none !important;
}

.tile-label h4 {
  color: #FFF !important;
}

.tile-container {
  margin: -2px;
  position: relative;
  left: 1px;
}

.tile-content:hover {
  background: #1C6E91;
}

.tile-dashboard:hover .badge {
  background-color: #777;
}

.badge {
  font-family: Arial, sans-serif;
  font-size: 12px;
  letter-spacing: 0.25px;
  float: right;
  display: inline-block;
  min-width: 10px;
  padding: 5px 7px;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  background-color: #5E6163;
  margin-bottom: 2px;
}

.tile-big, .tile-large, .tile-super, .tile-large, .tile-wide {
  -webkit-user-select: text !important;
  -ms-user-select: text !important;
  -moz-user-select: text !important;
}

/*------------------------Client Tile Start Here--------------------------------------*/
.tile-wrapper {
  max-width: 94% !important;
  width: 350px;
}

.tile-amount {
  font-size: 30px;
  float: right;
  margin: 16px 16px 0 0;
}

.tile-icon {
  font-size: 60px;
}

/*------------------------Client Tile End Here--------------------------------------*/

/*------------------------Money Position Tile Start Here--------------------------------------*/
.money-position-title {
  font-size: 17px;
}

.currency-wrapper {
  padding: 10px 0 0 23px;
  font-size: 14px;
}

.member-account-wrapper {
  padding: 18px 0 0 3px;
  font-size: 11px;
  min-height: 15px;
}

.currency {
  font: caption;
}

.money-position-arrow {
  width: 92px;
  display: inline-block;
  position: relative;
  bottom: 4px;
  left: 10px;
  height: 1px;
  background: gainsboro;
}

.money-position-amount {
  padding-left: 90px;
  font: initial;
}

.your-position {
  padding-bottom: 20px;
}

.business-calendar-icons {
  margin: -10px 5px;
  height: 28px;
  line-height: 0;
}

/*------------------------------------------------------Money Position Tile End Here--------------------------------------------------------*/

/*------------------------------------------------------Tiles End Here-----------------------------------------------------------------------*/

/*------------------------------------------------------Account Rules Managment Start Here-----------------------------------------------------------*/
.account-rules-managment-swithe-style {
  position: relative;
  top: 8px
}

.account-rules-managment-label-style {
  margin-left: 60px;
}

.md-switch-label-style {
  font-size: 13px !important;
}

.legend-heading-style {
  padding-top: 30px !important;
}

.prefix-style {
  width: 4.4em;
}

.suffix-style {
  width: 4.4em;
}

.number-length-style {
  width: 8.4em !important;
}

.random-style {
  margin-right: 10px;
}

.numeric-style {
  margin-right: 10px;
}

/*------------------------------------------------------Account Rules Managment End Here-----------------------------------------------------------*/

/*-------------------------------------------------Manual Scrollable Table Start Here---------------------------------------------------------------------------------*/
.fixed-headers {
  width: 957px;
  table-layout: fixed;
  border-collapse: collapse;
}

.fixed-headers th,
.fixed-headers td {
  text-align: left;
}

.fixed-headers td:nth-child(1),
.fixed-headers th:nth-child(1) {
  min-width: 135px;
}

.fixed-headers td:nth-child(2),
.fixed-headers th:nth-child(2) {
  min-width: 116px;
}

.fixed-headers td:nth-child(3),
.fixed-headers th:nth-child(3) {
  min-width: 135px;
}

.fixed-headers td:nth-child(4),
.fixed-headers th:nth-child(4) {
  min-width: 100px;
}

.fixed-headers td:nth-child(5),
.fixed-headers th:nth-child(5) {
  min-width: 164px;
}

.fixed-headers td:nth-child(6),
.fixed-headers th:nth-child(6) {
  min-width: 204px;
}

.fixed-headers thead {
  background-color: #FFF;
  color: #fdfdfd;
}

.fixed-headers thead tr {
  display: block;
  position: relative;
}

.fixed-headers tbody {
  display: block;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
  height: 500px;
}

.fixed-headers tbody tr:nth-child(even) {
  background-color: #dddddd;
}

/*-------------------------------------------------------Manual Scrollable Table End Here-----------------------------------------------------------------*/

/*-------------------------------------------------------Form,Input,Label Styles Start Here---------------------------------------------------------------------------*/
.add-new-document-form .form-group {
  margin-top: 0 !important;
}

.bank-account-add-form {
  overflow-x: hidden;
  padding-left: 20px;
  padding-top: 20px;
}

.bank-account-add-form .form-group {
  margin-top: 0 !important;
}

.document-add-form .form-group {
  margin-top: 0 !important;
}

.document-add-form {
  width: 400px !important;
  padding-top: 20px !important;
  padding-left: 10px !important;
}

.person-find-criteria-form {
  border: none;
  margin-left: 0;
  overflow-x: hidden !important;
  overflow-y: auto !important;
}

.person-find-criteria-form a:hover {
  color: #c41230 !important;
}

.forms {
  min-width: 430px;
}

.forms-550 {
  min-width: 550px;
}

.cfi-forms {
  min-width: 500px;
}

.cfi-form-labels {
  width: 108px;
  text-align: right;
  float: left;
}

.account-suspension-form-input {
  padding-right: 10px;
}

.title-transfer-forms {
  min-width: 580px;
  max-width: 828px;
}

.title-transfer-change {
  /*display: none;*/
}

.succession-operation-forms {
  min-width: 570px;
}

.personal-info-forms {
  min-width: 418px;
}

.form-inputs {
  display: inline-block;
  padding-left: 10px;
}

.form-labels {
  width: 200px;
  text-align: right;
  float: left;
}

.manage-exchange-form-labels {
  width: 120px;
  text-align: right;
  float: left;
}

.form-label {
  width: 180px;
  text-align: right;
}

.person-info-form-labels {
  width: 220px;
  text-align: right;
  float: left;
}

.contact-information-form-labels {
  width: 80px;
  text-align: right;
  float: left;
}

.address-form-labels {
  width: 120px;
  text-align: right;
  float: left;
}

.person-search-labels {
  text-align: right;
}

label.control-label.col-lg-2.col-md-2.col-sm-2.col-xs-2 {
  padding-top: 0 !important;
}

.field-label-style {
  position: relative;
  padding: 0;
  bottom: 23px;
}

.org-node-add-window-input-style {
  position: relative;
  top: 8px;
}

.person-search-inputs {
  padding-left: 10px;
}

.person-search-inputs input {
  width: 160px !important;
  height: 25px !important;
}

.account-search-inputs {
  margin-top: 10px;
}

.person-search-switch-wrapper {
  min-width: 280px;
}

.person-search-template-input-style {
  min-width: 400px;
}

input.k-textbox {
  height: 27px;
  line-height: normal;
}

.input-control-edited {
  min-width: 4.875rem !important;
}

.k-textbox:active {
  border-color: #999;
}

.nominator-discriminator-wrappper {
  min-width: 800px;
}

.text-muted-manual-40 {
  color: #333 !important;
  width: 40px;
}

.text-muted-manual-70 {
  color: #333 !important;
  width: 70px;
}

.text-muted-manual-80 {
  color: #333 !important;
  width: 80px;
}

.text-muted-manual {
  color: #333 !important;
  width: 115px;
}

.corporate-action-text-muted-manual {
  color: #333 !important;
  width: 157px;
}

/*-------------------------------------------------------Form,Input,Label Styles End Here-----------------------------------------------------------------------*/

/*-------------------------------------------------------Org Node Block Start Here-----------------------------------------------------------------------*/
.padding-left-22 {
  padding-left: 22px !important;
}

.org-node-selection-buttons {
  position: fixed;
  right: 11px;
  z-index: 999999;
}

.org-node-add-window-buttons {
  position: fixed;
  right: 10px;
}

.org-node-selection-tree {
  position: relative;
  width: 300px;
  top: 30px;
}

.centeer-block {
  position: absolute;
  left: 45px;
}

/*-------------------------------------------------------Org Node Block End Here-----------------------------------------------------------------------*/

/*--------------------------------------------------------md-switch Style Start Here--------------------------------------------------------------------*/

md-switch.md-default-theme.md-checked, md-switch.md-checked .md-thumb {
  background-color: rgb(244, 67, 54);
}

md-switch.md-default-theme.md-checked, md-switch.md-checked .md-bar {
  background-color: rgba(244, 67, 54, 0.5);
}

md-switch.md-default-theme[disabled], md-switch[disabled] .md-thumb {
  background-color: rgb(189, 189, 189) !important;
}

.md-cst-switch {
  margin: 5px 10px !important;
}

.wf-authorization-switch {
  position: relative;
  bottom: 7px;
}

.md-switch-position {
  margin-left: 25px;
}

.account-information-switch {
  max-width: 95%;
  padding-left: 37px !important;
}

.instrument-data-switch {
  padding-left: 7px;
}

md-switch .md-container {
  width: auto;
}

.field-switch-style {
  position: relative;
  top: 9px !important;
  height: 0 !important;
}

.main-form-switch-style {
  bottom: 6px;
}

/*--------------------------------------------------------md-switch Style End Here--------------------------------------------------------------------*/

/*--------------------------------------------------------md-checkbox Style Start Here----------------------------------------------------------------*/
.md-cst-checkbox {
  margin: 13px !important;
}

.md-cst-checkbox-edited {
  margin: 6px !important;
}

.md-checkbox-style {
  margin: -3px 0 0 2px !important;
}

.early-settlement md-checkbox .md-container {
  top: 52%;
  left: 157px;
}

.early-settlement .early-settlement-checkbox .md-container {
  left: 83px !important;
  top: 16px !important;
}

/*--------------------------------------------------------md-checkbox Style End Here-------------------------------------------------------------------*/

/*---------------------------------------------------------User Manage Block Start Here----------------------------------------------------------------*/
.add-new-user-buttons {
  position: fixed;
  right: 5px !important;
}

.add-new-user .form-group {
  margin-bottom: 0 !important;
}

.add-new-user-window {
  padding: 38px 0 0 20px !important;
}

.add-new-user-switch-style {
  position: relative;
  bottom: 13px;
}

/*---------------------------------------------------------User Manage Block End Here----------------------------------------------------------------*/

/*---------------------------------------------------------Cancel Operation Start Here----------------------------------------------------------------*/
.cancel-operation-buttons {
  position: relative;
  right: 20px;
  z-index: 20;
}

.cancel-task-textarea {
  position: relative;
  right: 10px;
  display: inline-block;
}

.other-error-message-style {
  position: relative;
  left: 138px;
  top: 8px;
}

/*---------------------------------------------------------Cancel Operation End Here----------------------------------------------------------------*/

/*---------------------------------------------------------Reject Operation Start Here----------------------------------------------------------------*/
.reject-operation-buttons {
  position: relative;
  right: 20px;
  z-index: 20;
}

.reject-operation {
  padding: 0 0 20px 20px;
}

.reject-operation-radio-buttons {
  min-width: 400px;
}

/*---------------------------------------------------------Reject Operation End Here----------------------------------------------------------------*/

/*---------------------------------------------------------Instrument Search Template Start Here----------------------------------------------------------------*/
.debtors-list-color {
  background-color: #ab8200;
  color: #FFF;
}

.black-list-color {
  background-color: #BE001F;
  color: #FFF;
}

.debtors-black-list-color {
  position: relative;
  top: 13px;
}

.debtors-list-square {
  width: 14px;
  height: 14px;
  background-color: #ab8200;
  position: relative;
  top: 2px;
}

.black-list-square {
  width: 14px;
  height: 14px;
  background-color: #BE001F;
  margin-left: 30px;
  position: relative;
  top: 2px;
}

/*---------------------------------------------------------Instrument Search Template End Here----------------------------------------------------------------*/

/* ----------------------------------------------------------Footer Start Here----------------------------------------------------------------------------------------*/
.window-footer {
  background: #F9EBEB;
  border-top: 1px solid #DACCCC;
}

.footer {
  overflow: hidden;
  height: 6%;
  background-color: #c41230;
}

.footer > .container > .copyright {
  color: #fff;
  text-align: right;
  margin-top: 7px;
  font-weight: normal;
}

/* ----------------------------------------------------------Footer End Here------------------------------------------------------------------------------------------*/

/* SIMPLE CHECKBOX STYLE */

label.input-checkbox {
  display: inline-block;
  vertical-align: middle;
  line-height: 0;
  font-size: 0;
  margin: 0;
  margin-left: 2px;
  cursor: pointer;
  float: none;
  width: auto;
  text-align: left;
}

label.input-checkbox > svg {
  -webkit-transition: -webkit-transform 0.2s ease;
  transition: -webkit-transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
  pointer-events: none;
}

label.input-checkbox:active > svg {
  -webkit-transform: scale3d(0.9, 0.9, 1);
  transform: scale3d(0.9, 0.9, 1);
}

label.input-checkbox > input + svg .indeterminate {
  display: none;
}

label.input-checkbox > input + svg .checked {
  display: none;
}

label.input-checkbox > input:checked + svg .unchecked {
  display: none;
}

label.input-checkbox > input:checked + svg .checked {
  display: initial;
}

label.input-checkbox > input:checked + svg path {
  fill: teal;
}

label.input-checkbox > input:indeterminate + svg .unchecked,
label.input-checkbox > input:checked:indeterminate + svg .unchecked {
  display: none;
}

label.input-checkbox > input:indeterminate + svg .checked,
label.input-checkbox > input:checked:indeterminate + svg .checked {
  display: none;
}

label.input-checkbox > input:indeterminate + svg .indeterminate,
label.input-checkbox > input:checked:indeterminate + svg .indeterminate {
  display: block;
}

/*label.input-checkbox > input:disabled + svg {*/
/*cursor: default;*/
/*}*/
/*label.input-checkbox > input:disabled + svg:active {*/
/*-webkit-transform: none;*/
/*transform: none;*/
/*}*/
/*label.input-checkbox > input:disabled + svg path {*/
/*fill: #B0B0B0;*/
/*}*/
label.input-checkbox > input {
  display: block;
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.checkbox-label {
  display: inline-block;
  vertical-align: middle;
  margin-right: 6px;
}

.wf-auth-page md-pagination-wrapper {
  width: auto !important;
}

.wf-auth-page md-toolbar.md-warn > md-tabs.md-default-theme,
.wf-auth-page md-tabs > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]) {
  line-height: 16px;
  max-width: 200px !important;
}

.wf-auth-page .md-sub-tab md-tabs-wrapper span {
  white-space: normal;
  font-size: 10px !important;
}

.md-virtual-repeat-container.md-autocomplete-suggestions-container {
  min-width: 370px !important;
}

.md-autocomplete-suggestions li {
  height: auto !important;
  line-height: normal !important;
  padding: 7px 10px !important;
  white-space: normal;
}

.incoming-task {
  padding: 10px;
  color: #fff;
  background-color: #1C6E91;
}

.nice-scroll::-webkit-scrollbar {
  width: 6px;
}

.nice-scroll::-webkit-scrollbar-track {
  border-radius: 4px;
}

.nice-scroll::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.42);
  border-radius: 12px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

.nice-scroll::-moz-scrollbar {
  width: 6px;
}

.nice-scroll::-moz-scrollbar-track {
  border-radius: 4px;
}

.nice-scroll::-moz-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.42);
  border-radius: 12px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

.nice-scroll::-o-scrollbar {
  width: 6px;
}

.nice-scroll::-o-scrollbar-track {
  border-radius: 4px;
}

.nice-scroll::-moz-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.42);
  border-radius: 12px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

.ux_input {
  height: 30px;
  border: 1px solid #999;
  width: 265px;
  padding-left: 6px;
}

.ux_input:-moz-read-only { /* For Firefox */
  background-color: #e4e4e4;
}

.ux_input:read-only {
  background-color: #e4e4e4;
}

.my-grid .k-grid-header th.k-header {
  padding: 2px;
}

.my-grid .k-grid-header th.k-header > .k-link {
  padding: 0;
  margin: 0;
  display: block;
  font-size: 1em;
}

.k-input, input.k-textbox, textarea.k-textbox, input.k-textbox:hover, textarea.k-textbox:hover, .k-textbox > input, .k-multiselect-wrap {
  color: #000;
}

.table tfoot td, .table tfoot th, .table thead td, .table thead th {
  font-weight: 100;
  color: #000;
}

.table thead th strong {
  font-weight: 100;
}

.k-button, .k-header {
  font-weight: 700;
}

.panel-title > a:focus {
  outline: 0;
}

.md-button.md-small {
  padding: 0 6px 0 6px !important;
  font-size: 0.8em !important;
  margin: 6px 8px 6px 8px;
  min-width: 88px;
  border-radius: 3px;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  outline: none;
}

.md-button.md-iamas {
  margin: 0 !important;
  line-height: 24px;
  min-height: 24px;
  position: absolute;
}

.idcard-holder p > span {
  display: inline-block;
  width: 110px;
  color: black;
}

.dbl-click-selection-off {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#generateAnnaMasterFile .k-grid-content {
  min-height: 200px;
  max-height: 500px;
}

.clickable-tabledata {
  cursor:pointer;
}
.clickable-tabledata:focus {
  outline:0;
}

.md-button.text-lower {
  text-transform:none !important;
}
.form-labels-xl {
  width:220px;
}
.form-labels-250 {
  width:250px;
}
.row-new-added {
  background-color:#e6e4e4;
}
.pagination > li > a, .pagination > li > span {
  color:#c41230 !important;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
  background-color: #c41230 !important;
  color: #fff !important;
}
.pagination > .disabled > span, .pagination > .disabled > span:hover, .pagination > .disabled > span:focus, .pagination > .disabled > a, .pagination > .disabled > a:hover, .pagination > .disabled > a:focus {
  color: #777 !important;
}

.md-primary.mod-btn-primary, .md-primary.mod-btn-primary:hover {
  background-color: #c41230;
  color: white;
}
.md-primary.mod-btn-primary:hover {
  background-color: #ad102a;
}
.md-primary.mod-btn-primary:not([disabled]).md-focused {
  background-color: #ad102a;
}
.md-primary.mod-btn-primary[disabled] {
  background-color: rgba(0,0,0,0.12);
  color: rgba(0,0,0,0.38);
}

.iamas-data-base-diff {
  color: #2ea2bf !important;
}
.legend-heading-style-table {
  margin-top:30px !important;
}

.row-deleted th {
  color:red !important;
  text-decoration: line-through !important;
}

.md-fab-form-button {
   margin-top:-7px;
}

.vertical-line-form {
  display: inline-block;
    width: 1px;
    padding: 10px 0;
    background-color: #ad102a;
    margin: 0 6px -5px;
}

.address-form-labels_200 {
  width:150px;
  float: left;
  text-align: right;
}

.iamasActiveTab {
    border-bottom: 5px solid #ad102a;
}