<div class="window-extend-block" data-extend-template="app/common/templates/view-window-layout.html">
  <div data-block="content">

    <div class="row">
      <div class="col-lg-11">
        <md-content>

          <md-tabs md-dynamic-height md-border-bottom>
            <md-tab label="Send batch data">
              <md-content class="md-padding">
                <h3 class="md-display-2">Send batch data</h3>

                <div ng-form="batchData.formName"
                     role="form"
                     class="bg-white fg-dark"
                     novalidate>

                  <div class="row">

                    <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                      <div class="form-group">
                        <label><span once-text="'Send to'|translate"></span>:</label>
                        <select
                          class="form-control"
                          data-ng-model="batchData.form.sendTo"
                          ng-required="true"
                        >
                          <option ng-repeat="val in ['FOS','MSS','TRS']" value="{{val}}">{{val}}</option>
                        </select>
                      </div>
                    </div>

                  </div>

                  <div class="row">

                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                      <div class="form-group">
                        <label><span once-text="'Date'|translate"></span>:</label>
                        <input type="text"
                               class="datepicker-cst"
                               kendo-date-picker
                               name="value_date"
                               ng-model="batchData.form.dateStr"
                               k-ng-model="batchData.form.date"
                               ng-required="true"
                        >

                      </div>

                    </div>

                  </div>

                  <!-- Search Button-->
                  <div class="row">

                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">

                      <div class="form-group">
                        <button type="button"
                                ng-disabled="!batchData.formName.$valid"
                                ng-click="sendBatchData()"
                                class="k-primary k-button">
                          <i class="glyphicon glyphicon-ok"></i>
                          <span once-text="'Send'|translate"></span>
                        </button>

                      </div>

                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">

                      <div class="form-group">
                        <button type="button"
                                ng-click="sendActionFinish()"
                                class="k-primary k-button">
                          <i class="glyphicon glyphicon-ok"></i>
                          <span once-text="'Send Action Finish'|translate"></span>
                        </button>

                      </div>

                    </div>
                  </div>

                  <!-- Search Button-->
                  <div class="row">

                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">

                      <div class="form-group">
                        <button type="button"
                                ng-click="proceedTRSEndofDateOperations()"
                                class="k-primary k-button">
                          <span once-text="'TRS məlumatlarının emal olunması'|translate"></span>
                        </button>

                      </div>

                    </div>
                  </div>
                    <div class="row">

                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">

                            <div class="form-group">
                                <button type="button"
                                        ng-click="proceedTRSProcess()"
                                        class="k-primary k-button">
                                    <span once-text="'TRS Prosesi'|translate"></span>
                                </button>

                            </div>

                        </div>
                    </div>

                </div>

              </md-content>
            </md-tab>
          </md-tabs>

        </md-content>
      </div>
    </div>
  </div>

</div>
