<div class="window-extend-block" data-extend-template="app/common/templates/operation-window-layout.html">
    <div class="window-main-content" data-block="content">
        <table class="table">
            <thead>
            <tr>
                <th>Subyekt</th>
                <th>Mesaj</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="message in taskData">
                <td>{{message.subject}}</td>
                <td>{{message.errorMessage}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
