<div class="window-extend-block" data-extend-template="app/common/templates/operation-window-layout.html">
  <div data-block="content" class="window-main-content">
    <div
      role="form"
      ng-form="config.form.name"
      ng-submit="config.buttons.complete.click()">

      <fieldset data-ng-repeat="data in exchangeRates" class="custom-fieldset">

          <div class="forms">
            <div class="form-group"
                 ng-class="{ 'has-error':
                 (config.form.name.$submitted || config.form.name['currency_'+$index].$touched)
                 &&(config.form.name['currency_'+$index].$invalid)  }">

              <label class="manage-exchange-form-labels"><span class="required-sign">*</span>
                <span once-text="'Currency'|translate"></span>:</label>
             <div class="form-inputs">
               <select
                 name="currency_{{$index}}"
                 ng-model="data.currency"
                 ng-required="true"
                 >
                 <option value="">---</option>
                 <option
                   value="{{currency|json}}"
                   ng-repeat="currency in  metaData.currencies">{{currency.code}}</option>
               </select>


               <div ng-show="config.form.name.$submitted || config.form.name['currency_'+$index].$touched">
                 <p ng-show="config.form.name['currency_'+$index].$error.required"
                    class="help-block help-block-error">
                   <span once-text="'This field is required'|translate"></span>
                 </p>

               </div>
             </div>
            </div>

          </div>

        <!-- Rate Value [[ -->
          <div class="forms">
            <div class="form-group" ng-class="{ 'has-error': (config.form.name.$submitted
               || config.form.name['rate_value_'+$index].$touched)
               &&(config.form.name['rate_value_'+$index].$invalid)}">


              <label class="manage-exchange-form-labels"><span class="required-sign">*</span>
                <span once-text="'Rate Value'|translate"></span>:</label>
             <div class="form-inputs">
               <input
                 class="k-textbox"
                 type="number"
                 min="0"
                 name="rate_value_{{$index}}"
                 ng-model="data.rateValue"
                 ng-required="true"
                 >

               <div ng-show="config.form.name.$submitted || config.form.name['rate_value_'+$index].$touched">
                 <p ng-show="config.form.name['rate_value_'+$index].$error.required"
                    class="help-block help-block-error">
                   <span once-text="'This field is required'|translate"></span>
                 </p>

                 <p ng-show="currency.config.formName['rate_value_'+$index].$error.number"
                    class="help-block help-block-error">
                   <span once-text="'Not a Valid Number!'|translate"></span>
                 </p>

               </div>
             </div>
            </div>
          </div>
          <div class="forms">
            <div class="form-group"
                 ng-class="{ 'has-error': (config.form.name.$submitted
               || config.form.name['rate_unit_'+$index].$touched)
               &&(config.form.name['rate_unit_'+$index].$invalid)}">

              <label class="manage-exchange-form-labels"><span class="required-sign">*</span>
                <span once-text="'Rate Unit'|translate"></span>:</label>
           <div class="form-inputs">
             <input
               class="k-textbox"
               type="number"
               name="rate_unit_{{$index}}"
               min="0"
               ng-model="data.rateUnit"
               ng-required="true"
               >

             <div ng-show="config.form.name.$submitted || config.form.name['rate_unit_'+$index].$touched">
               <p ng-show="config.form.name['rate_unit_'+$index].$error.required"
                  class="help-block help-block-error">
                 <span once-text="'This field is required'|translate"></span>
               </p>

               <p ng-show="currency.config.formName['rate_unit_'+$index].$error.number"
                  class="help-block help-block-error">
                 <span once-text="'Not a Valid Number!'|translate"></span>
               </p>
             </div>
           </div>
            </div>
          </div>

        <!-- Rate Value ]] -->

        <!-- Rate DateTime [[ -->

          <div class="forms">
            <div class="form-group"
                 ng-class="{ 'has-error': (config.form.name.$submitted || config.form.name['rate_date_time_'+$index].$touched)
             &&(config.form.name['rate_date_time_'+$index].$invalid)  }">
              <label class="manage-exchange-form-labels"><span class="required-sign">*</span>
                <span once-text="'Business Date'|translate"></span>:</label>

              <div class="form-inputs">
                <input
                  name="rate_date_time_{{$index}}"
                  class="datepicker-cst"
                  kendo-date-time-picker
                  ng-model="data.rateDateTimeStr"
                  k-ng-model="data.rateDateTimeObj"
                  ng-required="true"
                  />

                <div ng-show="config.form.name.$submitted || config.form.name['rate_date_time_'+$index].$touched">
                  <p ng-show="config.form.name['rate_date_time_'+$index].$error.required"
                     class="help-block help-block-error">
                    <span once-text="'This field is required'|translate"></span>
                  </p>

                  <p ng-show="config.form.name['rate_date_time_'+$index].$error.datetimelocal"
                     class="help-block help-block-error">
                    <span once-text="'Please enter a valid date!'|translate"></span>
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="forms">
            <div class="form-group">
              <md-button class="md-fab md-micro"
                         ng-show="$index>0"
                         ng-click="removeExchangeRate($index)">
                <i class="glyphicon glyphicon-remove micro-glyphicon"></i>
                <md-tooltip>
                  <span once-text="'Delete'|translate"></span>
                </md-tooltip>
              </md-button>

            </div>
          </div>

        <!-- Rate DateTime ]] -->
      </fieldset>


          <div class="form-group">
            <md-button class="md-fab md-micro pull-left"
                    ng-click="addNewExchangeRate(exchangeRates)">
              <i class="glyphicon glyphicon-plus micro-glyphicon"></i>
              <md-tooltip>
                <span once-text="'Add New Exchange Rate'|translate"></span>
              </md-tooltip>
            </md-button>
          </div>



    </div>

  </div>
</div>
