<div class="window-extend-block" data-extend-template="app/common/templates/operation-window-layout.html"
     xmlns="http://www.w3.org/1999/html">
  <div data-block="content" class="window-main-content">

    <div class="add-new-user">


      <form name="outgoingPayment" class="add-new-user-window no-scroll" novalidate>

        <table style="width: 100%" class="table table-border">
          <thead>
          <tr>
            <th style="padding-left: 11px">Ad</th>
            <th style="padding-left: 11px">SWIFTBIC</th>
            <th style="padding-left: 11px">Code</th>
            <th style="padding-left: 11px">TIN</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat-start="obj in taskData.bankInfos">
            <td>{{ obj.name }}</td>
            <td>{{ obj.SWIFTBIC }}</td>
            <td>{{ obj.code }}</td>
            <td>{{ obj.TIN }}</td>
          </tr>
          <tr ng-repeat-end>
            <td colspan="5" style="border-bottom: 1px solid lightgray; padding: 10px 30px 30px 0">
              <table style="width: 100%">
                <thead style="border-bottom: none">
                <tr>
                  <th style="padding-left: 11px;font-size: 13px;" once-text="'Correspondent Account'|translate"></th>
                  <th style="padding-left: 11px;font-size: 13px;" once-text="'Currency'|translate"></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="correspondentAccount in obj.correspondentAccounts">
                  <td>{{ correspondentAccount.correspondentAccount }}</td>
                  <td>{{ correspondentAccount.currencyCode }}</td>
                </tr>
                </tbody>
              </table>
            </td>
          </tr>

          </tbody>
        </table>

      </form>

    </div>
  </div>
</div>
