<div class="window-extend-block" data-extend-template="app/common/templates/operation-window-layout.html">
  <div data-block="content" class="window-main-content">



    <div ng-repeat="exchangeRate in taskData">

      <h2>{{$index+1}})</h2>
      <table class="table table-striped table-hover table-responsive table-bordered " style="width: 50%">
        <tbody>
        <tr>
          <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><b>Currency</b></td>
          <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6">{{exchangeRate.currency.nameAz}}</td>
        </tr>
        <tr>
          <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><b>Rate unit</b></td>
          <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6">{{exchangeRate.rateUnit}}</td>
        </tr>
        <tr>
          <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><b>Rate value</b></td>
          <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6">{{exchangeRate.rateValue}}</td>
        </tr>

        <tr>
          <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><b>Rate date time</b></td>
          <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6">{{exchangeRate.rateDateTime |date: 'short'}}</td>
        </tr>

        </tbody>
      </table>
    </div>
  </div>
</div>
