<div ng-form="data.config.bankAccountFormName" class="bank-account-form bank-account-add-form" novalidate>
  <div class="add-new-bank-account-buttons">
    <md-button class="md-micro md-fab pull-right"
               ng-click="close()"
               aria-label="add bank account button"
               type="submit">
      <i class="glyphicon glyphicon-remove micro-glyphicon"></i>
      <md-tooltip md-direction="down">
        <span once-text="'Close'|translate"></span>
      </md-tooltip>
    </md-button>
    <md-button class="md-micro md-fab pull-right" ng-click="submit()" type="submit">
      <i class="glyphicon glyphicon-ok micro-glyphicon"></i>
      <md-tooltip md-direction="down">
        {{config.bankAccountManageWindowTitle}}
      </md-tooltip>
    </md-button>
  </div>

  <div class="form-horizontal bank-account-add-form">

    <div class="forms">
      <div class="form-group">
        <div style="margin-bottom: 5px;padding-left: 10px">
          <span>Ad</span>
        </div>
        <div class="form-inputs">
          <input ng-value="data.name" class="ux_input"/>
        </div>
      </div>
    </div>

    <div class="forms">
      <div class="form-group">
        <div style="margin-bottom: 5px;padding-left: 10px">
          <span>SWIFTBIC</span>
        </div>
        <div class="form-inputs">
          <input ng-value="data.SWIFTBIC" class="ux_input"/>
        </div>
      </div>
    </div>

    <div class="forms">
      <div class="form-group">
        <div style="margin-bottom: 5px;padding-left: 10px">
          <span>Code</span>
        </div>
        <div class="form-inputs">
          <input ng-value="data.code" class="ux_input"/>
        </div>
      </div>
    </div>

    <div class="forms">
      <div class="form-group">
        <div style="margin-bottom: 5px;padding-left: 10px">
          <span>TIN</span>
        </div>
        <div class="form-inputs">
          <input ng-value="data.TIN" class="ux_input"/>
        </div>
      </div>
    </div>


    <table>
      <thead></thead>
      <tbody>
      <tr>
        <td colspan="3">
          <h5 style="width:100%; border-bottom: 1px solid #7e7e7e; line-height:0.1em;margin-bottom: 15px; margin-left: -5px"><span
            style="background:#fff; color: black; font-weight: bold">Müxbir hesablar </span></h5><span></span>
        </td>
      </tr>
      <tr>
        <td>
          <div style="margin-bottom: 5px;margin-left: -5px">
            <span once-text="'Currency'|translate"></span>
          </div>
        </td>
        <td>
          <div style="margin-bottom: 5px;margin-left: 29px">
            <span once-text="'Correspondent Account'|translate"></span>
          </div>
        </td>
      </tr>
      <tr ng-repeat="correspondentAccount in data.correspondentAccounts">

        <td>
          <div class="form-group" ng-class="{ 'has-error': false}">
            <div class="form-inputs">
              <input ng-model="correspondentAccount.currencyCode" class="ux_input" style="width: 100px"/>
            </div>
          </div>
        </td>

        <td>
          <div class="form-group" ng-class="{ 'has-error': false}" style="margin-left: 30px">
            <div class="form-inputs" style="padding-left: 0">
              <input ng-model="correspondentAccount.correspondentAccount" class="ux_input"/>
            </div>
          </div>
        </td>
        <td style="padding: 0 0 15px 30px">
            <span ng-click="removeCorrespondentAccount($index)" ng-hide="data.correspondentAccounts.length === 1">
              <i class="glyphicon glyphicon-trash"></i>
            </span>
            <span ng-click="addCorrespondentAccount($index)" style="margin-left: 15px;" ng-show="$last">
              <i class="glyphicon glyphicon-plus"></i>
            </span>
        </td>
      </tr>
      </tbody>
    </table>

  </div>


</div>
