<div class="window-extend-block" data-extend-template="app/common/templates/operation-window-layout.html">
  <div data-block="content" class="window-main-content">
    <div
      role="form"
      ng-form="config.form.name"
      ng-submit="config.buttons.complete.click()">

      <!-- Currency code [[ -->
        <div class="forms">
          <div class="form-group"
               ng-class="{ 'has-error': (config.form.name.$submitted || config.form.name.code.$touched)
               &&(config.form.name.code.$invalid)  }">


            <label class="form-labels"><span once-text="'Code'|translate"></span>:</label>
            <div class="form-inputs">
              <input
                type="text"
                class="k-textbox"
                name="code"
                ng-model="config.form.data.code"
                min="3"
                max="3"
                ng-required="true"
                >
              <div ng-show="config.form.name.$submitted || config.form.name.code.$touched">
                <p ng-show="config.form.name.code.$error.required"
                   class="help-block help-block-error">
                  <span once-text="'This field is required'|translate"></span>
                </p>

                <p ng-show="config.form.name.code.$error.max"
                   class="help-block help-block-error">
                  <span once-text="'Code can\'t be longer than 3 symbols.'|translate"></span>
                </p>

                <p ng-show="config.form.name.code.$error.min"
                   class="help-block help-block-error">
                  <span once-text="'Code can\'t be less than 3 symbols.'|translate"></span>
                </p>
              </div>
            </div>
          </div>
        </div>
      <div class="forms">
        <div class="form-group" ng-class="{ 'has-error': (config.form.name.$submitted || config.form.name.is_base.$touched)
               &&(config.form.name.is_base.$invalid)  }">
          <label class="form-labels">
            <span class="caption" once-text="'Is Base'|translate"></span>:</label>

          <div class="form-inputs">
            <md-checkbox
              aria-label="is base"
              type="checkbox"
              ng-model="config.form.data.isBase"
              class="md-checkbox-style"
              >
          </div>
        </div>
      </div>
      <!-- Currency code ]] -->

      <!-- Fraction digits [[ -->
        <div class="forms">
          <div class="form-group"
               ng-class="{ 'has-error': (config.form.name.$submitted || config.form.name.fraction_digits.$touched)
               &&(config.form.name.fraction_digits.$invalid)  }">

            <label class="form-labels"><span once-text="'Fraction Digits'|translate"></span>:</label>
           <div class="form-inputs">
             <input
               class="k-textbox"
               type="number"
               name="fraction_digits"
               ng-model="config.form.data.fractionDigits"

               ng-required="true"
               >

             <div
               ng-show="config.form.name.$submitted || config.form.name.fraction_digits.$touched">
               <p ng-show="config.form.name.fraction_digits.$error.required"
                  class="help-block help-block-error">
                 <span once-text="'This field is required'|translate"></span>
               </p>

               <p ng-show="config.form.name.fraction_digits.$error.number"
                  class="help-block help-block-error">
                 <span once-text="'Not a Valid Number!'|translate"></span>
               </p>

             </div>
           </div>
          </div>
        </div>
      <!-- Fraction digits ]] -->

      <!-- Name AZ [[ -->
        <div class="forms">
          <div class="form-group"
               ng-class="{ 'has-error': (config.form.name.$submitted
               || config.form.name.name_az.$touched)
               &&(config.form.name.name_az.$invalid)}">

            <label class="form-labels"><span once-text="'Name (AZ)'|translate"></span>:</label>
         <div class="form-inputs">
           <input
             class="k-textbox"
             type="text"
             name="name_az"
             ng-model="config.form.data.nameAz"
             ng-required="true"
             >

           <div
             ng-show="config.form.name.$submitted || config.form.name.name_az.$touched">
             <p ng-show="config.form.name.name_az.$error.required"
                class="help-block help-block-error">
               <span once-text="'This field is required'|translate"></span>
             </p>
           </div>
         </div>
          </div>
        </div>
      <!-- Name AZ ]] -->
        <div class="form-group">
          <label class="form-labels">
            <span once-text="'Show English Fields'|translate">:</span>
          </label>
          <md-switch
            ng-model="showNameGroups"
            aria-label="No/Yes"
            class="instrument-data-switch">
          </md-switch>
        </div>


      <!-- Name AZ [[ -->
      <div class="forms" ng-show="showNameGroups">
          <div class="form-group"
               ng-class="{ 'has-error': (config.form.name.$submitted
               || config.form.name.name_en.$touched)
               &&(config.form.name.name_en.$invalid)}">

            <label class="form-labels"><span once-text="'Name (EN)'|translate"></span>:</label>
          <div class="form-inputs">
            <input
              class="k-textbox"
              type="text"
              name="name_en"
              ng-model="config.form.data.nameEn"
              >

            <div
              ng-show="config.form.name.$submitted || config.form.name.name_en.$touched">
              <p ng-show="config.form.name.name_en.$error.required"
                 class="help-block help-block-error">
                <span once-text="'This field is required'|translate"></span>
              </p>

            </div>
          </div>
          </div>
      </div>
      <!-- Name AZ ]] -->

    </div>

  </div>
</div>
