<div class="window-extend-block" data-extend-template="app/common/templates/operation-window-layout.html"
     xmlns="http://www.w3.org/1999/html">
  <div data-block="content" class="window-main-content">

    <div class="add-new-user">

      <md-button ng-click="addBankInfo()" class="md-raised md-primary" style="margin-left: 0">Yeni bank</md-button>
      <table class="table table-bordered">
        <thead>
        <tr>
          <th style="padding-left: 11px; border-color: #dadada">Ad</th>
          <th style="padding-left: 11px; border-color: #dadada"></th>
          <th style="padding-left: 11px; border-color: #dadada">Müxbir hesablar</th>
          <th style="padding-left: 11px; border-color: #dadada"></th>
          <th style="padding-left: 11px; border-color: #dadada"></th>
        </tr>
        </thead>
        <tbody>

        <tr ng-repeat="obj in data.bankInfos">
          <td style="border-color: #dadada">{{ obj.name }}</td>
          <td style="border-color: #dadada">
            <span style="color: #8e8e8e">SWIFTBIC:</span> {{ obj.SWIFTBIC }}<br>
            <span style="color: #8e8e8e">Code:</span> {{ obj.code }}<br>
            <span style="color: #8e8e8e">TIN:</span> {{ obj.TIN }}<br>
          </td>
          <td style="border-color: #dadada">
            <p ng-repeat="correspondentAccount in obj.correspondentAccounts">
              {{ correspondentAccount.currencyCode }} - {{ correspondentAccount.correspondentAccount }}
            </p>
          </td>


          <!--------------------Delete----------------------->
          <td style="border-color: #dadada">
            <span ng-click="editBankInfo($index)" style="margin-left: 15px;">
              <i class="glyphicon glyphicon-pencil"></i>
            </span>
          </td>
          <td style="border-color: #dadada">
            <span ng-click="removeBankInfo($index)" style="margin-left: 15px;">
              <i class="glyphicon glyphicon-trash"></i>
            </span>
          </td>
        </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>
