<div class="window-extend-block" data-extend-template="app/common/templates/operation-window-layout.html">
  <div class="window-main-content" data-block="content">

    <uib-tabset>
      <uib-tab>
        <uib-tab-heading>
          <span once-text="'Personal Information'|translate"></span>
        </uib-tab-heading>
        <table class="table table-striped table-hover table-responsive table-bordered">
          <tbody>
          <!-- Name -->
          <tr ng-if="(person.name.oldValue || person.name.newValue )">
            <td class="col-md-2 col-xs-2 col-lg-2 col-sm-2">
              <span class="field-name" once-text="'Name'|translate"></span>
            </td>
            <td
              class="col-md-5 col-xs-5 col-lg-5 col-sm-5"
              ng-if="person.name.oldValue"
              ng-class="person.name.status == fieldChangeStatuses.changed?'field-changed':''">
              <p>AZ - {{person.name.oldValue.nameAz}}</p>
              <p>EN - {{person.name.oldValue.nameEn}}</p>
            </td>
            <td ng-if="person.name.newValue"
                class="col-md-5 col-xs-5 col-lg-5 col-sm-5 field-new">
              <p>AZ - {{person.name.newValue.nameAz}}</p>
              <p>EN - {{person.name.newValue.nameEn}}</p>
            </td>
          </tr>
          <!-- Surname -->
          <tr ng-if="(person.surname.oldValue || person.surname.newValue )">
            <td class="col-md-2 col-xs-2 col-lg-2 col-sm-2">
              <span class="field-name" once-text="'Last Name'|translate"></span>
            </td>
            <td
              class="col-md-5 col-xs-5 col-lg-5 col-sm-5"
              ng-if="person.surname.oldValue"
              ng-class="person.surname.status == fieldChangeStatuses.changed?'field-changed':''">
              <p>AZ - {{person.surname.oldValue.nameAz}}</p>
              <p>EN - {{person.surname.oldValue.nameEn}}</p>
            </td>
            <td ng-if="person.surname.newValue"
                class="col-md-5 col-xs-5 col-lg-5 col-sm-5 field-new">
              <p>AZ - {{person.surname.newValue.nameAz}}</p>
              <p>EN - {{person.surname.newValue.nameEn}}</p>
            </td>
          </tr>
          <!-- Father name -->
          <tr ng-if="(person.fathername.oldValue || person.fathername.newValue )">
            <td class="col-md-2 col-xs-2 col-lg-2 col-sm-2">
              <span class="field-name" once-text="'Middle Name'|translate"></span>
            </td>
            <td
              class="col-md-5 col-xs-5 col-lg-5 col-sm-5"
              ng-if="person.fathername.oldValue"
              ng-class="person.fathername.status == fieldChangeStatuses.changed?'field-changed':''">
              <p>AZ - {{person.fathername.oldValue.nameAz}}</p>
              <p>EN - {{person.fathername.oldValue.nameEn}}</p>
            </td>
            <td ng-if="person.fathername.newValue"
                class="col-md-5 col-xs-5 col-lg-5 col-sm-5 field-new">
              <p>AZ - {{person.fathername.newValue.nameAz}}</p>
              <p>EN - {{person.fathername.newValue.nameEn}}</p>
            </td>
          </tr>
          <!-- Birthday -->
          <tr ng-if="(person.birthDate.oldValue || person.birthDate.newValue )">
            <td class="col-md-2 col-xs-2 col-lg-2 col-sm-2">
              <span class="field-name" once-text="'Birthday'|translate"></span>
            </td>
            <td
              class="col-md-5 col-xs-5 col-lg-5 col-sm-5"
              ng-if="person.birthDate.oldValue"
              ng-class="person.birthDate.status == fieldChangeStatuses.changed?'field-changed':''">
              <p>{{person.birthDate.oldValue}}</p>
            </td>
            <td ng-if="person.birthDate.newValue"
                class="col-md-5 col-xs-5 col-lg-5 col-sm-5 field-new">
              <p>{{person.birthDate.newValue}}</p>
            </td>
          </tr>
          <!-- idCard -->
          <tr ng-if="(person.idCard.oldValue || person.idCard.newValue )">
            <td class="col-md-2 col-xs-2 col-lg-2 col-sm-2">
              <span class="field-name" once-text="'ID Card'|translate"></span>
            </td>
            <td
              class="col-md-5 col-xs-5 col-lg-5 col-sm-5"
              ng-if="person.idCard.oldValue"
              ng-class="person.idCard.status == fieldChangeStatuses.changed?'field-changed':''">
              <p>Seria - {{person.idCard.oldValue.series}}</p>
              <p>Nömrə - {{person.idCard.oldValue.number}}</p>
            </td>
            <td ng-if="person.idCard.newValue"
                class="col-md-5 col-xs-5 col-lg-5 col-sm-5 field-new">
              <p>Seriya - {{person.idCard.newValue.series}}</p>
              <p>Nömrə - {{person.idCard.newValue.number}}</p>
            </td>
          </tr>
          <!-- legalAddress -->
          <tr ng-if="(person.legalAddress.oldValue || person.legalAddress.newValue )">
            <td class="col-md-2 col-xs-2 col-lg-2 col-sm-2">
              <span class="field-name" once-text="'Legal Address'|translate"></span>
            </td>
            <td
              class="col-md-5 col-xs-5 col-lg-5 col-sm-5"
              ng-if="person.legalAddress.oldValue"
              ng-class="person.legalAddress.status == fieldChangeStatuses.changed?'field-changed':''">
              <p>{{person.legalAddress.oldValue.value}}</p>
            </td>
            <td ng-if="person.legalAddress.newValue"
                class="col-md-5 col-xs-5 col-lg-5 col-sm-5 field-new">
              <p>{{person.legalAddress.newValue.value}}</p>
            </td>
          </tr>
          <!-- ActualAddress -->
          <tr ng-if="(person.actualAddress.oldValue || person.actualAddress.newValue )">
            <td class="col-md-2 col-xs-2 col-lg-2 col-sm-2">
              <span class="field-name" once-text="'Actual Address'|translate"></span>
            </td>
            <td
              class="col-md-5 col-xs-5 col-lg-5 col-sm-5"
              ng-if="person.actualAddress.oldValue"
              ng-class="person.actualAddress.status == fieldChangeStatuses.changed?'field-changed':''">
              <p>{{person.actualAddress.oldValue.value}}</p>
            </td>
            <td ng-if="person.fathername.newValue"
                class="col-md-5 col-xs-5 col-lg-5 col-sm-5 field-new">
              <p>{{person.actualAddress.newValue.value}}</p>
            </td>
          </tr>
          </tbody>
        </table>
      </uib-tab>
      <uib-tab ng-if="person.phoneNumbers.length>0 || person.emails.length>0">
        <uib-tab-heading>
          <span once-text="'Contact Information'|translate"></span>
        </uib-tab-heading>
        <div ng-include="'app/persons/templates/partials/person-data-changes/panels/contact-info-panel.html'"></div>
      </uib-tab>


    </uib-tabset>
  </div>
</div>
