<div class="window-extend-block" data-extend-template="app/common/templates/operation-window-layout.html">

    <!--<div id="wizard-container">-->
    <!--salam-->
    <!--<div id="wizard-step-container">-->
    <!--<ul class="nav nav-pills nav-justified">-->
    <!--<li ng-repeat="step in vm.steps" ng-class="{'active':step.step == vm.currentStep}"><a-->
    <!--ng-click="vm.gotoStep(step.step)" href="">{{step.step}}. {{step.name}}</a></li>-->
    <!--</ul>-->
    <!--</div>-->

    <!--<div id="wizard-content-container">-->
    <!--<ng-include src="vm.getStepTemplate()"></ng-include>-->
    <!--</div>-->

    <!--<div id="wizard-navigation-container">-->
    <!--<div class="pull-right">-->
    <!--<span class="btn-group">-->
    <!--<button ng-disabled="vm.currentStep <= 1" class="btn btn-default" name="previous" type="button"-->
    <!--ng-click="vm.gotoStep(vm.currentStep - 1)"><i class="fa fa-arrow-left"></i> Previous step</button>-->
    <!--<button ng-disabled="vm.currentStep >= vm.steps.length" class="btn btn-primary" name="next" type="button"-->
    <!--ng-click="vm.gotoStep(vm.currentStep + 1)">Next step <i class="fa fa-arrow-right"></i></button>-->
    <!--</span>-->
    <!--<button ng-disabled="vm.currentStep != vm.steps.length" class="btn btn-success" name="next"-->
    <!--type="button" ng-click="vm.save()"><i class="fa fa-floppy-o"></i> Save-->
    <!--</button>-->
    <!--</div>-->
    <!--</div>-->

    <!--</div>-->

    <div data-block="content" class="window-main-content">
        <md-button class="md-fab md-micro"
                   ng-click="findIamasPerson()"
                   aria-label="Find Iamas Person">
            <i class="glyphicon glyphicon-plus micro-glyphicon"></i>
        </md-button>
        <table class="table table-striped table-hover table-responsive table-bordered" ng-if="personData">
            <tr>
                <th></th>
                <td><img ng-src="data:image/{{personData.Image.format}};base64,{{personData.Image.data}}" alt=""></td>
            </tr>
            <tr>
                <th>Ad</th>
                <td>{{personData.Profile.Name_AZ}}</td>
            </tr>
            <tr>
                <th>Soyad</th>
                <td>{{personData.Profile.Surname_AZ}}</td>
            </tr>
            <tr>
                <th>Ata adı</th>
                <td>{{personData.Profile.FatherName_AZ}}</td>
            </tr>
            <tr>
                <th>Hüquqi Ünvan</th>
                <td>{{personData.realAddress.FullAddress}}</td>
            </tr>
        </table>
    </div>

</div>
