<div class="window-extend-block" data-extend-template="app/common/templates/operation-window-layout.html">
  <div class="window-main-content" data-block="content">
    <div role="form"
         ng-form="config.form.name"
         ng-submit="config.buttons.complete.click()"
         class="div-full-height"
    >
      <md-button
        md-no-ink
        ng-click="addDeponent()"
        class="md-primary md-raised text-lower"
        style="line-height:25px; min-height:auto;"
        aria-label="add button"
        type="button"
      >Müqavilə əlavə et
      </md-button>
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
          <tr>
            <th style="width:250px;" once-text="'Deponent'"></th>
            <th>Status</th>
            <th style="width:191px;"></th>
          </tr>
          </thead>
          <tbody>
          <tr
            ng-repeat-start="data in deponentData.slice(((paginationOptions.currentPage-1)*paginationOptions.itemsPerPage), ((paginationOptions.currentPage)*paginationOptions.itemsPerPage))"
            ng-class="{'row-new-added': data.isManuallyAdded}">

            <td class="clickable-tabledata" ng-click="showDetail(data);">
            <span
              ng-class="!data.showDetail ? 'glyphicon glyphicon-chevron-right' : 'glyphicon glyphicon-chevron-down'"
              ng-show="data.users.length"></span>
              {{data.serviceConsumerName}}
            </td>
            <td>
              <div class="center-align">
                <label>{{getState(data)}}</label>
              </div>
            </td>
            <td>
              <div class="center-align">
                <md-button
                  class="md-fab md-micro"
                  type="button"
                  aria-label="add button"
                  ng-click="addUser(data)"
                  ng-disabled="data.isTerminated"
                >
                  <i class="glyphicon glyphicon-plus micro-glyphicon"></i>
                  <md-tooltip>
                  <span once-text="'İstifadəçi əlavə et.'">

                  </span>
                  </md-tooltip>
                </md-button>
                <md-button
                  class="md-fab md-micro"
                  type="button"
                  aria-label="edit button"
                  ng-click="editDeponent(data, buffers.windows.editWindow)"
                >
                  <i class="glyphicon glyphicon-edit micro-glyphicon"></i>
                  <md-tooltip>
                  <span once-text="'Müqaviləni redakte et.'">

                  </span>
                  </md-tooltip>
                </md-button>
              </div>
            </td>
          </tr>
          <tr ng-class="{'row-new-added': child.isManuallyAdded}" ng-repeat-end ng-repeat="child in data.users"
              ng-if="data.showDetail">
            <td style="padding-left:40px;">
              {{getName(child)}}
            </td>
            <td colspan="2">


              <div class="center-align">
                <div class="center-align">
                  <label style="display:inline-block;font-size:12px;">
                    Dondurulub
                  </label>
                  <md-checkbox
                    ng-change="suspendUser(child, child.isSuspended)"
                    ng-model="child.isSuspended"
                    ng-disabled="child.terminated"
                    style="display:inline-block;margin:0 2px;padding:0;" aria-label="Checkbox 1">
                  </md-checkbox>
                  <div class="vertical-line-form"></div>
                  <label style="display:inline-block;font-size:12px;">
                    Sil
                  </label>
                  <md-checkbox
                    ng-change="removeUser(child, data, child.isTerminated)"
                    ng-model="child.isTerminated"
                    ng-disabled="child.terminated"
                    style="display:inline-block;margin:0 2px;padding:0;" aria-label="Checkbox 1">
                  </md-checkbox>

                </div>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>

      <div style="text-align:center;">
        <ul uib-pagination
            total-items="paginationOptions.totalItems"
            ng-model="paginationOptions.currentPage"
            max-size="paginationOptions.maxSize"
            class="pagination-sm"
            style="display:inline-block;"
            previous-text="Əvvəlki"
            last-text="Axırıncı"
            first-text="Birinci"
            next-text="Sonrakı"
            boundary-link-numbers="true"></ul>
      </div>
    </div>
  </div>
</div>
