<div class="window-extend-block" data-extend-template="app/common/templates/operation-window-layout.html">
  <div data-block="content" class="window-main-content">
    <table class="table table-bordered">
      <thead>
      <tr>
        <th>İstifadəçi</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="user in passwords">
        <td>{{user.name}}</td>
        <th>
          <md-button class="md-fab md-micro" ng-click="print(user)">
            <i class="glyphicon glyphicon-print micro-glyphicon"></i>
            <md-tooltip>
              <span once-text="'Çap et'"></span>
            </md-tooltip>
          </md-button>
        </th>
      </tr>
      </tbody>
    </table>
  </div>
</div>
