<div class="window-extend-block" data-extend-template="app/common/templates/operation-window-layout.html">
  <div class="window-main-content" data-block="content">
    <div ng-repeat="data in changes">
      <table class="table table-bordered" ng-class="{'legend-heading-style-table': !$first}">
        <thead>
        <tr ng-class="{'row-deleted':data.isTerminated, 'success': data.operationType === 'Create'}">
          <th>Deponent:</th>
          <th style="font-weight:bold;" colspan="2">{{data.serviceConsumerName}}</th>
        </tr>
        </thead>
        <tbody ng-if="!data.isTerminated">
        <tr ng-if="data.stateChanged">
          <th>Status:</th>
          <td class="field-changed"><p>{{data.initialState}}</p></td>
          <td class="field-new"><p>{{data.newState}}</p></td>
        </tr>
        <tr ng-if="data.paidTillDateChanged">
          <th>Hansı Tarixədək ödənilib:</th>
          <td class="field-changed"><p>{{data.paidTillDateChanged.oldValue|csmDate |date:'dd-MM-yyyy'}}</p></td>
          <td class="field-new"><p>{{data.paidTillDateChanged.newValue|date:'dd-MM-yyyy'}}</p></td>
        </tr>
        <tr ng-if="data.userWasChanged">
          <th style="text-align:center;">İstifadəçi</th>
          <th colspan="2" style="text-align:center;">Status</th>
        </tr>
        <tbody ng-repeat="user in data.users">
        <tr ng-if="user.userCreated" class="success">
          <td>{{user.fullName}}</td>
          <td colspan="2">{{user.isSuspended ? "Dondurulub" : "Aktiv"}}</td>
        </tr>
        <tr ng-if="user.isTerminated" class="row-deleted">
          <td colspan="3">{{userFullname}}</td>
        </tr>
        <tr ng-if="user.suspendedChanged">
          <td>{{user.fullName}}</td>
          <td class="field-changed">{{user.suspendedChanged.oldValue}}</td>
          <td class="field-new">{{user.suspendedChanged.newValue}}</td>
        </tr>
        </tbody>
        </tbody>
      </table>
    </div>
  </div>
</div>
