<uib-accordion-heading>
  <h4 class="panel-title">
    <a
      data-toggle="collapse"
      data-target="#{{data.config.prefix}}-actual-addresses-panel"
      class="collapsed"
      once-text="'Address'|translate"
    >
    </a>
    <div><i class="glyphicon pull-right accordion-icon"></i></div>
  </h4>
</uib-accordion-heading>


<div class="panel-body">
  <div class="form-horizontal">
    <div class="forms">
      <div>
        <div class="form-group ">
          <label class="address-form-labels_200">
            <span>Tam Faktiki Ünvan:</span>
          </label>
          <div class="form-inputs">
            <input class="k-textbox lp-az"
                   type="text"
                   ng-model="data.form.actualAddress.value">
          </div>
        </div>
      </div>
    </div>
    <div class="forms" ng-if="data.manualInputEnabled||data.form.isNoMVDOcument">
      <div>
        <div class="form-group ">
          <label class="address-form-labels_200">
            <span>Tam Hüquqi Ünvan:</span>
          </label>
          <div class="form-inputs">
            <input class="k-textbox lp-az"
                   type="text"
                   ng-model="data.form.legalAddress.value">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
