<uib-accordion-heading>
  <h4 class="panel-title">
    <a data-toggle="collapse" class="help-block-error"
       once-text="'Contact Information'|translate"></a>

    <div><i class="glyphicon pull-right accordion-icon"></i></div>
  </h4>
</uib-accordion-heading>


<div class="panel-body">
  <h4>
    <span once-text="'Phone Numbers'|translate"></span>:
  </h4>

  <div data-ng-repeat="phoneNumber in data.form.phoneNumbers">
    <div class="forms">
        <div class="form-group inline-block" ng-class="{ 'has-error': (data.config.formName.$submitted || data.config.formName['phone_number_type_'+$index].$touched)
                 &&(data.config.formName['phone_number_type_'+$index].$invalid)  }">

          <label class="contact-information-form-labels">
            <span once-text="'Type' |translate"></span>:</label>

          <div class="form-inputs">
            <select
              ng-model="phoneNumber.type"
              name="phone_number_type_{{$index}}"
              ng-required="phoneNumber.number"
              >
              <option value="">---</option>
              <option
                ng-repeat="numberType in metaData.phoneNumberTypes"
                value="{{numberType|json}}">
                {{numberType['name'+lnC]}}
              </option>
            </select>
          <div class="error-message-style"
            ng-show="data.config.formName.$submitted || data.config.formName['phone_number_type_'+$index].$touched">
            <p ng-show="data.config.formName['phone_number_type_'+$index].$error.required"
               class="help-block help-block-error">
              <span once-text="'This field is required'|translate"></span>
            </p>
          </div>
           </div>
        </div>
    </div>

    <div class="forms" >
        <div class="inline-block">
          <label class="contact-information-form-labels">
            <span once-text="'Number'|translate"></span>:</label>

          <div class="form-inputs">
            <input
              class="removable-input k-textbox"
              type="text"
              ng-model="phoneNumber.number"
              name="phone_number_{{$index}}"
              kendo-masked-text-box
              k-mask="'+(999) 99 999-99-99'"
              >
          </div>
        </div>

        <md-button class="md-fab md-micro" ng-show="$index>0"
                   aria-label="remove button"
                   ng-click="removePhoneNumber($index,data.form.phoneNumbers)">
          <i class="glyphicon glyphicon-trash micro-glyphicon"></i>
          <md-tooltip md-direction="down">
            <span once-text="'Remove Phone Number'|translate"></span>
          </md-tooltip>
        </md-button>
          <md-button class="md-fab md-micro"
                     aria-label="plus button"
                     ng-show="$last"
                     ng-click="addNewPhoneNumber(data.form.phoneNumbers)">
            <i class="glyphicon glyphicon-plus micro-glyphicon"></i>
            <md-tooltip md-direction="down">
              <span once-text="'Add New Phone'|translate"></span>
            </md-tooltip>
          </md-button>

    </div>

  </div>
  <h4><span once-text="'Emails'|translate"></span>:</h4>

  <div class="forms"
       data-ng-repeat="email in data.form.emails">

      <div class="padding-top-10 inline-block" ng-class="{ 'has-error': (data.config.formName.$submitted || data.config.formName['email_'+$index].$touched)
                 &&(data.config.formName['email_'+$index].$invalid)  }">
        <label class="contact-information-form-labels">
          Email:</label>

        <div class="form-inputs">
          <input
            class="removable-input k-textbox"
            name="email_{{$index}}"
            type="email"
            ng-model="email.value"
            >
        <div class="error-message-style" ng-show="data.config.formName.$submitted || data.config.formName['email_'+$index].$touched">

          <p ng-show="data.config.formName['email_'+$index].$error.email"
             class="help-block help-block-error">
            <span once-text="'Wrong Email Format!'|translate"></span>
          </p>
        </div>
         </div>
      </div>

      <md-button class="md-micro md-fab" style="vertical-align: top;" ng-show="$index>0" aria-label="remove button"
                 ng-click="removeEmail($index,data.form.emails)">
        <i class="glyphicon glyphicon-trash micro-glyphicon"></i>
        <md-tooltip md-direction="down">
          <span once-text="'Remove Email'|translate"></span>
        </md-tooltip>
      </md-button>

        <md-button
          class="md-fab md-micro"
          aria-label="plus button"
          ng-show="$last"
          style="vertical-align: top;"
          ng-click="addNewEmail(data.form.emails)">
          <i class="glyphicon glyphicon-plus micro-glyphicon"></i>
          <md-tooltip md-direction="down">
            <span once-text="'Add New Email'|translate"></span>
          </md-tooltip>
        </md-button>


  </div>

</div>
