<uib-accordion-heading>
  <h4 class="panel-title">
    <a data-toggle="collapse" class="help-block-error" data-target="#{{data.config.prefix}}-personal-info-panel"
       once-text="'Personal Information'|translate"></a>

    <div><i class="glyphicon pull-right accordion-icon"></i></div>
  </h4>
</uib-accordion-heading>


<div class="panel-body-manual">
  <div class="form-horizontal">
    <!-- Citizenship country-->
    <div class="personal-info-forms" ng-if="data.manualInputEnabled||data.isResident">

      <div class="form-group"
           ng-class="{ 'has-error': (data.config.formName.$submitted || data.config.formName.pi_citizenship_country.$touched)
             &&(data.config.formName.pi_citizenship_country.$invalid)  }">
        <label class="person-info-form-labels">
          <span class="required-sign">*</span><span
          once-text="'Citizenship'|translate"></span>:</label>

        <div class="form-inputs">
          <select
            name="pi_citizenship_country"
            ng-model="data.form.citizenshipCountry"
            ng-required="true"
            ng-change="citizenshipCountryChange(data.form.citizenshipCountry)"
            ng-disabled="data.form.iamasSuccess"
          >
            <option value="">---</option>
            <option ng-repeat="option in metaData.countries" ng-if="data.manualInputEnabled||(option.code != 'AZ')" value="{{option|json}}">
              {{option['name'+lnC]}}
            </option>
          </select>

          <div class="error-message-style"
               ng-show="data.config.formName.$submitted || data.config.formName.pi_citizenship_country.$touched">
            <p ng-show="data.config.formName.pi_citizenship_country.$error.required"
               class="help-block help-block-error">
              <span once-text="'This field is required'|translate"></span>
            </p>
          </div>
        </div>
      </div>
    </div>

    <!-- Passport series -->
    <div class="personal-info-forms" ng-if="data.form.isNoMVDOcument">
      <div class="form-group"
           ng-class="{ 'has-error': (data.config.formName.$submitted || data.config.formName.pi_passport_series.$touched)
             &&(data.config.formName.pi_passport_series.$invalid)  }">

        <label class="person-info-form-labels"><span class="required-sign">*</span><span
          once-text="'Pasport (seriya)'|translate"></span>:</label>

        <div class="form-inputs">
          <input
            class="k-textbox"
            type="text"
            name="pi_passport_series"
            ng-required="true"
            ng-change="data.form.passport.series = data.form.passport.series.toUpperCase()"
            ng-blur="findPersonIfNoDocument(data.form.passport)"
            ng-model="data.form.passport.series">

          <div class="error-message-style"
               ng-show="data.config.formName.$submitted || data.config.formName.pi_passport_series.$touched">
            <p ng-show="data.config.formName.pi_passport_series.$error.required"
               class="help-block help-block-error">
              <span once-text="'This field is required'|translate"></span>
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- Passport Series number -->
    <div class="personal-info-forms" ng-if="data.form.isNoMVDOcument">
      <div class="form-group"
           ng-class="{ 'has-error': (data.config.formName.$submitted || data.config.formName.pi_passport_number.$touched)
             &&(data.config.formName.pi_passport_number.$invalid)  }">

        <label class="person-info-form-labels"><span class="required-sign">*</span><span
          once-text="'Pasport (nömrə)'|translate"></span>:</label>

        <div class="form-inputs">
          <input
            class="k-textbox"
            type="text"
            ng-required="true"
            name="pi_passport_number"
            ng-blur="findPersonIfNoDocument(data.form.passport)"
            ng-model="data.form.passport.number">

          <div class="error-message-style"
               ng-show="data.config.formName.$submitted || data.config.formName.pi_passport_number.$touched">
            <p ng-show="data.config.formName.pi_passport_number.$error.required"
               class="help-block help-block-error">
              <span once-text="'This field is required'|translate"></span>
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- Series -->
    <div class="personal-info-forms" ng-if="!data.form.isNoMVDOcument">
      <div class="form-group"
           ng-class="{ 'has-error': (data.config.formName.$submitted || data.config.formName.pi_id_card_series.$touched)
             &&(data.config.formName.pi_id_card_series.$invalid)  }">

        <label class="person-info-form-labels"><span class="required-sign">*</span><span
          once-text="'ID Card (Series)'|translate"></span>:</label>

        <div class="form-inputs">
          <input
            class="k-textbox"
            type="text"
            name="pi_id_card_series"
            ng-required="true"
            ng-disabled="data.form.iamasSuccess"
            ng-change="data.form.idCard.series = data.form.idCard.series.toUpperCase()"
            ng-model="data.form.idCard.series">

          <div class="error-message-style"
               ng-show="data.config.formName.$submitted || data.config.formName.pi_id_card_series.$touched">
            <p ng-show="data.config.formName.pi_id_card_series.$error.required"
               class="help-block help-block-error">
              <span once-text="'This field is required'|translate"></span>
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- Series number -->
    <div class="personal-info-forms" ng-if="!data.form.isNoMVDOcument">
      <div class="form-group"
           ng-class="{ 'has-error': (data.config.formName.$submitted || data.config.formName.pi_id_card_number.$touched)
             &&(data.config.formName.pi_id_card_number.$invalid)  }">

        <label class="person-info-form-labels"><span class="required-sign">*</span><span
          once-text="'ID Card (Number)'|translate"></span>:</label>

        <div class="form-inputs">
          <input
            class="k-textbox"
            type="text"
            ng-required="true"
            name="pi_id_card_number"
            ng-disabled="data.form.iamasSuccess"
            ng-model="data.form.idCard.number">

          <div class="error-message-style"
               ng-show="data.config.formName.$submitted || data.config.formName.pi_id_card_number.$touched">
            <p ng-show="data.config.formName.pi_id_card_number.$error.required"
               class="help-block help-block-error">
              <span once-text="'This field is required'|translate"></span>
            </p>
          </div>
        </div>
      </div>
    </div>
    <!--  Pincode -->
    <div class="personal-info-forms" ng-if="!data.form.isNoMVDOcument">
      <div class="form-group"
           ng-class="{ 'has-error': (data.config.formName.$submitted || data.config.formName.pi_id_card_fin.$touched)
             &&(data.config.formName.pi_id_card_fin.$invalid)  }">

        <label class="person-info-form-labels"><span class="required-sign">*</span><span
          once-text="'FİN'|translate"></span>:</label>

        <div class="form-inputs">
          <input
            class="k-textbox"
            type="text"
            name="pi_id_card_fin"
            ng-maxlength="7"
            ng-required="true"
            maxlength="7"
            ng-blur="findPersonByPin(data.form.pinCode.value, data.form.idCard.number, data.form.idCard.series)"
            ng-disabled="data.form.iamasSuccess"
            ng-change="data.form.pinCode.value = data.form.pinCode.value.toUpperCase()"
            ng-model="data.form.pinCode.value">

          <div class="error-message-style"
               ng-show="data.config.formName.$submitted || data.config.formName.pi_id_card_fin.$touched">
            <p ng-show="data.config.formName.pi_id_card_fin.$error.required"
               class="help-block help-block-error">
              <span once-text="'This field is required'|translate"></span>
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- is Iamas Document -->
    <div class="personal-info-forms" ng-if="data.manualInputEnabled || data.isResident">
      <div class="form-group">

        <label class="person-info-form-labels"><span
          once-text="'Müvəqqəti yaşayış vəsiqəsi yoxdur'|translate"></span>:</label>

        <div class="form-inputs">
          <md-checkbox
            class="md-checkbox-style"
            aria-label="checkbox 1;"
            ng-disabled="data.form.iamasSuccess"
            ng-model="data.form.isNoMVDOcument"
          >
          </md-checkbox>
        </div>
      </div>
    </div>

    <!-- Search button -->
    <div class="personal-info-forms" ng-if="!data.manualInputEnabled && !data.form.isNoMVDOcument">
      <div class="form-group">

        <label class="person-info-form-labels" style="min-height:1px;"></label>

        <div class="form-inputs">
          <md-button class="md-primary md-raised text-lower"
                     aria-label="Button 1"
                     ng-click="findPerson()"
                     ng-disabled="data.form.iamasSuccess"
                     style="line-height:25px; min-height:auto;">
            <span once-text="'Search'|translate"></span>
          </md-button>
          <md-button class="md-fab md-micro"
                     aria-label="fab 1"
                     ng-disabled="!data.form.iamasSuccess"
                     ng-click="showSelectedPerson(buffers.addUser.selectedWindow)">
            <span class="glyphicon glyphicon-eye-open micro-glyphicon"></span>
          </md-button>
        </div>
      </div>
    </div>
    <!-- Pin code related documents -->
    <div class="personal-info-forms" ng-if="data.form.iamas.foundPersons.length">
      <p style="text-align: center">Mövcud vəsiqələr</p>
      <div style="overflow-x:auto">
        <table class="table table-bordered" style="width:800px;">
          <thead>
          <tr>
            <th>Ad</th>
            <th>Soyad</th>
            <th>Ata Adı</th>
            <th>Doğum tarixi</th>
            <th>Seriya</th>
            <th>Ünvan</th>
          </tr>
          </thead>
          <tr ng-repeat="doc in data.form.iamas.foundPersons">
            <td>{{doc.name['name' + lnC]}}</td>
            <td>{{doc.surname['name' + lnC]}}</td>
            <td>{{doc.fathername['name' + lnC]}}</td>
            <td>{{doc.birthDate|csmDate |date: 'dd-MM-yyyy'}}</td>
            <td>{{doc.idCard.number}}</td>
            <td>{{doc.legalAddress.value}}</td>
          </tr>
        </table>
      </div>
    </div>
    <!-- Name -->
    <div class="personal-info-forms" ng-if="data.manualInputEnabled||data.form.isNoMVDOcument">
      <div class="form-group"
           ng-class="{ 'has-error': (data.config.formName.$submitted || data.config.formName.pi_name_az.$touched)
             &&(data.config.formName.pi_name_az.$invalid)  }">
        <label class="person-info-form-labels">
          <span class="required-sign">*</span>
          <span once-text="'Name'|translate"></span>:</label>

        <div class="form-inputs">
          <input
            class="k-textbox"
            type="text"
            name="pi_name_az"
            ng-required="true"
            ng-model="data.form.name.nameAz"
          >

          <div class="error-message-style"
               ng-show="data.config.formName.$submitted || data.config.formName.pi_name_az.$touched">
            <p ng-show="data.config.formName.pi_name_az.$error.required"
               class="help-block help-block-error">
              <span once-text="'This field is required'|translate"></span>
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- Last name AZ -->
    <div class="personal-info-forms" ng-if="data.manualInputEnabled||data.form.isNoMVDOcument">
      <div class="form-group"
           ng-class="{ 'has-error': (data.config.formName.$submitted || data.config.formName.pi_last_name_az.$touched)
             &&(data.config.formName.pi_last_name_az.$invalid)  }">

        <label class="person-info-form-labels"><span class="required-sign">*</span><span
          once-text="'Last Name'|translate"></span>:</label>

        <div class="form-inputs">
          <input
            class="k-textbox"
            type="text"
            name="pi_last_name_az"
            ng-required="true"
            ng-model="data.form.surname.nameAz"
          >

          <div class="error-message-style"
               ng-show="data.config.formName.$submitted || data.config.formName.pi_last_name_az.$touched">
            <p ng-show="data.config.formName.pi_last_name_az.$error.required"
               class="help-block help-block-error">
              <span once-text="'This field is required'|translate"></span>
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- Middle name AZ -->
    <div class="personal-info-forms" ng-if="data.manualInputEnabled||data.form.isNoMVDOcument">
      <div class="form-group"
           ng-class="{ 'has-error': (data.config.formName.$submitted || data.config.formName.pi_middle_name_az.$touched)
             &&(data.config.formName.pi_middle_name_az.$invalid)  }">

        <label class="person-info-form-labels"><span class="required-sign">*</span>
          <span once-text="'Middle Name'|translate"></span>:</label>

        <div class="form-inputs">
          <input
            class="k-textbox"
            type="text"
            name="pi_middle_name_az"
            ng-required="true"
            ng-model="data.form.fathername.nameAz">

          <div class="error-message-style"
               ng-show="data.config.formName.$submitted || data.config.formName.pi_middle_name_az.$touched">
            <p ng-show="data.config.formName.pi_middle_name_az.$error.required"
               class="help-block help-block-error">
              <span once-text="'This field is required'|translate"></span>
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- Birthday -->
    <div class="personal-info-forms" ng-if="data.manualInputEnabled||data.form.isNoMVDOcument">
      <div class="form-group"
           ng-class="{ 'has-error': (data.config.formName.$submitted || data.config.formName.pi_birthday.$touched)
             &&(data.config.formName.pi_birthday.$invalid)  }">

        <label class="person-info-form-labels"><span class="required-sign">*</span>
          <span once-text="'Birthday'|translate"></span>:</label>

        <div class="form-inputs">
          <input
            type="text"
            name="pi_birthday"
            class="datepicker-cst"
            kendo-date-picker
            csm-kendo-date-val
            ng-required="true"
            ng-model="data.form.birthDate"
            k-ng-model="data.form.birthDateObj"
          >


          <div class="error-message-style"
               ng-show="data.config.formName.$submitted || data.config.formName.pi_birthday.$touched">

            <p ng-show="data.config.formName.pi_birthday.$error.required"
               class="help-block help-block-error">
              <span once-text="'This field is required'|translate"></span>
            </p>

            <p ng-show="data.config.formName.pi_birthday.$error.csmdd"
               class="help-block help-block-error">
              <span once-text="'Please enter a valid date!'|translate"></span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
