<md-button ng-click="ctrl.toggleFeedbackBlock()" class="md-icon-button md-accent feedback-button" aria-label="Favorite">
  <i class="icon icon-feedback"></i>
</md-button>
<md-sidenav class="md-sidenav-right md-whiteframe-z2 feedback-menu" md-component-id="right">
  <md-toolbar>
    <h1 class="md-toolbar-tools"><%= __('Feedback') %></h1>
    <md-button ng-click="ctrl.toggleFeedbackBlock()" class="md-icon-button md-accent" aria-label="Right">
      <i class="icon icon-arrow-right"></i>
    </md-button>
  </md-toolbar>
  <md-content layout-padding>
    <form>
      <md-input-container>
        <h6><%= __('Type a Comment') %></h6>
        <textarea rows="6" aria-label="Comment"></textarea>
      </md-input-container>

      <md-button class="md-raised upload-document">
        <%= __('Upload a Document') %>
        <i class="icon icon-upload-red"></i>
      </md-button>
      <md-button class="md-raised send-comment">
        <%= __('Send') %>
      </md-button>
    </form>
  </md-content>
</md-sidenav>
