</main>
<footer class="footer">
    <div class="container"><p class="copyright">&copy; 2015 Simberg Partners Limited</p></div>
</footer>
</div>

<div class="message-loader hide">
    <div class="flex layout-column layout-align-center-center" style="height: 100%;">
        <div class="loader-content">

        </div>
    </div>
</div>

<style>
    .message-loader {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: #fff;
        z-index: 9999999;
    }
    .loader-content {
        text-align: center;
    }
    .loader-content p {
        font-size: 16px;
    }
</style>

<script src="../bower_components/jquery/dist/jquery.min.js"></script>
<script src="../bower_components/angular/angular.min.js"></script>
<script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="../bower_components/angular-animate/angular-animate.min.js"></script>
<script src="../bower_components/angular-aria/angular-aria.min.js"></script>
<script src="../bower_components/angular-material/angular-material.min.js"></script>
<script src="../bower_components/angular-cookies/angular-cookies.min.js"></script>
<script src="../bower_components/socket.io-client/socket.io.js"></script>
<script src="../bower_components/please-wait/build/please-wait.min.js"></script>
<script src="../js/checkie.js"></script>
<script src="../js/angular-jquery-maskedinput.js"></script>
<script src="../js/jquery.maskedinput.js"></script>

<script>
  function getInternetExplorerVersion()
// Returns the version of Internet Explorer or a -1
// (indicating the use of another browser).
  {
    var rv = -1; // Return value assumes failure.
    if (navigator.appName == 'Microsoft Internet Explorer')
    {
      var ua = navigator.userAgent;
      var re  = new RegExp("MSIE ([0-9]{1,}[\.0-9]{0,})");
      if (re.exec(ua) != null)
        rv = parseFloat( RegExp.$1 );
    }
    return rv;
  }
    function checkVersion()
    {
      if (navigator.appName == 'Microsoft Internet Explorer' ||  !!(navigator.userAgent.match(/Trident/) || navigator.userAgent.match(/rv 11/)) ||  ($.browser && $.browser.msie == 1))
      {
        var lines = '<div class="alert alert-warning"><strong>Warning!</strong><span id="warning-message"></span> </div>';
        document.write(lines);
        var msg = "It is recommended to use the latest version of Google Chrome or Mozille Firefox.";
        document.getElementById("warning-message").innerHTML = msg;
      }

    }
    checkVersion();

</script>

<script type="text/javascript" data-type="text/javascript">
    var Loader = {
        loaderEl: $(".message-loader"),
        loaderContent: $(".loader-content"),
        spinnerTemplate: "<div class='loader'></div>",
        updateLoaderContent: function(html) {
            this.loaderContent.html(html);
        },
        show: function() {
            this.loaderEl.removeClass("hide");
            $(this.loaderEl).fadeIn();
        },
        hide: function() {
            var t = this;
            $(this.loaderEl).fadeOut(function() {
                t.loaderEl.removeClass("hide");
            });
        }
    };

    function updateMaxHeight() {
        $("#content").css("min-height", parseInt($(window).height() - 73));
    }
    $(document).ready(function () {
        updateMaxHeight();
        $(window).on("resize", updateMaxHeight);
        // Create an application module for our demo.
        var app = angular.module("cmisApp", [
            'ngMaterial',
            'ngAnimate',
            'ngCookies',
            'angular-jquery-maskedinput'
        ]);
        // -------------------------------------------------- //
        // SIMULATING NETWORK LATENCY AND LOAD TIME.
        setTimeout(function asyncBootstrap() {
            angular.bootstrap(document, ["cmisApp"]);
        }, (1));
        // -------------------------------------------------- //
        app.controller('MainCtrl', ['$cookies', '$mdSidenav', "$rootScope", function ($cookies, $mdSidenav, $rootScope) {
            var vm = this;
            this.announceClick = function (index) {
                var url = 'ln/?lang=' + index.toLowerCase();
                window.location.replace(url);
            };
            vm.currentLanguage = $cookies.get('locale') ? $cookies.get('locale').toUpperCase() : 'AZ';
            $rootScope.ln = vm.currentLanguage;
        }]);

        app.controller('LoginCtrl', ['$scope', "$http", "$window", "$rootScope", "$timeout", function ($scope, $http, $window, $rootScope, $timeout) {
            var labels = {
                pleaseWait: $rootScope.ln == "AZ" ? "Lütfən gözləyin..." : "Please wait...",
                preVerificationCode: $rootScope.ln == "AZ" ?
                        "Lütfən, telefonunuza göndərilmiş sorğunu qəbul edin. Sorğunun yoxlama kodunun aşağıdakı kod ilə eyni olmasını müqayisə edin." :
                        "Please accept the request sent to you mobile phone. Please compare the verification code shown on the screen with the request code.",
                verificationCode: $rootScope.ln == "AZ" ? "Yoxlama kodu: " : "Verification code: "
            };
            var goBackLabel = $rootScope.ln == "AZ" ? "Geri qayıt" : "Go back";
            var goBackBtn = '<button class="md-raised md-button md-ink-ripple" onclick="Loader.hide();">' +
                    '<span class="ng-scope">' +
                    goBackLabel +
                    '</span></button>';
            $scope.loginType = 0;
            $scope.loginForm = {
                data: {
                    phoneNumber: "(+994)",
                    userId: null,
                    socketId: null
                },
                verificationCode: null,
                error: null,
                name: "login-form"
            };
            var socket = io('', {
                path: '/socket-asan-imza',
                secure: true,
                rejectUnauthorized: false
            });
            console.log(socket);
            socket.on("connect", function () {
                console.log("Socket ID",socket.id);
                $scope.loginForm.data.socketId = socket.id;
            });
            socket.on("sendAsanImzaVerificationCode", function (data) {
                console.log('received');
                if (data && data.socketId == socket.id) {
                    console.log('received2',data, "show verification code");
                    $timeout(function() {
                        Loader.updateLoaderContent("<p>"+labels.preVerificationCode+"</p><p>" + labels.verificationCode + "<span class='verification-code'>" + data.verificationCode + "</span>" + "</p>" + Loader.spinnerTemplate);
                    }, 750);
                }
            });
            $scope.asanImzaLogin = function (e) {
                if ($scope.loginType == 1) {
                  $scope.loginForm.name.$submitted = true;
                    if ($scope.loginForm.name.$valid) {
                        Loader.show();

                        Loader.updateLoaderContent("<p>" + labels.pleaseWait + "</p>" + Loader.spinnerTemplate);
                        $scope.loginForm.error = null;
                        $http({method:"POST", url: '/asanImzaLoginXHR', timeout: 120 * 1000, data: $scope.loginForm.data} ).then(
                                function success(res) {
                                    console.log(res);

                                    if (res && res.data && res.data.success) {
                                        $window.location.href = '/';
                                    } else {
                                        var message = res.data.message.replace(/'/g, '"');
                                        message = message.replace(/;/g, ',');
                                        $scope.loginForm.error = angular.fromJson(message)[$rootScope.ln];

                                        Loader.updateLoaderContent("<div><p>"+angular.fromJson(message)[$rootScope.ln]+"</p><div>" +
                                                goBackBtn +
                                                "</div>");

                                    }
                                },
                                function error(error) {
                                    console.log(error);

                                    if(error.status == 503 || error.status == -1) {
                                      $scope.loginForm.error = $rootScope.ln == "AZ" ? "Sorğu üçün ayrılmış müddət bitdi." : "Request timeout";
                                      Loader.updateLoaderContent("<div><p>"+$scope.loginForm.error+"</p><div>" +
                                                                                      goBackBtn +
                                                                                      "</div>");
                                    } else {
                                      $scope.loginForm.error = error.statusText;
                                      Loader.updateLoaderContent("<div><p>"+$scope.loginForm.error+"</p><div>" +
                                                                                                                            goBackBtn +
                                                                                                                            "</div>");
                                    }
                                });
                    }
                    e.preventDefault();
                }
            };
        }]);
        // -------------------------------------------------- //
        app.directive("mAppLoading", function ($animate) {
                    // Return the directive configuration.
                    return ({
                        link: link,
                        restrict: "C"
                    });
                    function link(scope, element, attributes) {

                        $animate.leave(element.children().eq(1)).then(
                                function cleanupAfterAnimation() {
                                    // Remove the root directive element.
                                    element.remove();
                                    // Clear the closed-over variable references.
                                    scope = element = attributes = null;
                                }
                        );
                    }
                }
        );
    });
</script>
</body>
</html>


