<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <base href="/">
  <title>CSDR</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">

  <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="../bower_components/angular-material/angular-material.min.css"/>
  <link rel="stylesheet" href="../bower_components/please-wait/build/please-wait.css"/>

  <link rel="stylesheet" href="../css/main.css">

</head>

<body>
<div class="m-app-loading" ng-animate-children>

  <style type="text/css">

    div.m-app-loading {
      z-index: 999999;
      position: fixed;
    }

    div.m-app-loading div.animated-container {
      /*background-color: #333333;*/
      bottom: 0px;
      left: 0px;
      opacity: 1.0;
      position: fixed;
      right: 0px;
      top: 0px;
      z-index: 999999;
    }

    /* Used to initialize the ng-leave animation state. */
    div.m-app-loading div.animated-container.ng-leave {
      opacity: 1.0;
      transition: all linear 200ms;
      -webkit-transition: all linear 200ms;
    }

    /* Used to set the end properties of the ng-leave animation state. */
    div.m-app-loading div.animated-container.ng-leave-active {
      opacity: 0;
    }

    div.m-app-loading div.messaging {
      color: #FFFFFF;
      font-family: monospace;
      left: 0px;
      margin-top: -100px;
      position: absolute;
      right: 0px;
      text-align: center;
      top: 50%;
    }

    div.m-app-loading h1 {
      font-size: 26px;
      line-height: 35px;
      margin: 0px 0px 20px 0px;
    }

    div.m-app-loading p {
      font-size: 18px;
      line-height: 14px;
      margin: 0px 0px 0px 0px;
    }

  </style>


  <!-- BEGIN: Actual animated container. -->
  <div class="animated-container">


    <div class="messaging" >
      <div class="loader"></div>
    </div>

  </div>
  <!-- END: Actual animated container. -->

</div>
<!-- END: App-Loading Screen. -->
<div class="container-fixed" ng-controller="MainCtrl as ctrl" ng-cloak>

  <header class="header">

    <div class="container">
      <div id="logo-container" class="pull-left">
        <a href="/index">
          <div id="logo-image"></div>
          <div id="logo-text" ng-class="ctrl.currentLanguage =='AZ'?'logo-text-az-bg':'logo-text-en-bg'"></div>
        </a>
      </div>

      <div class="project-name">
        <p> <%= __('Clearing Settlement Depository Registrar System') %> </p>
      </div>


      <md-menu md-offset="0 -7" class="language-changer">
        <md-button class="md-icon-button" aria-label="language" ng-click="$mdOpenMenu($event)">
          <span ng-bind="ctrl.currentLanguage"></span><i class="icon icon-dropdown"></i>
        </md-button>
        <md-menu-content width="2">
          <md-menu-item ng-repeat="item in ['AZ','EN']">
            <md-button ng-click="ctrl.announceClick(item)">
              <span md-menu-align-target="">{{item}}</span>
            </md-button>
          </md-menu-item>

        </md-menu-content>
      </md-menu>


    </div>


  </header>
  <main id="content" class="container-fluid">
    <!--<%- include feedback %>-->

