<div class="window-extend-block" data-extend-template="app/common/templates/operation-window-layout.html">
  <div data-block="content" class="window-main-content">

    <div
      role="form"
      ng-form="config.form.name"
      ng-submit="config.buttons.complete.click()">
      <md-tabs md-dynamic-height md-border-bottom>

        <md-tab label="{{config.labels.accounts}}">
          <md-content class="md-padding">


            <legend once-text="'Collective Accounts'|translate"></legend>

            <div class="row">

              <div class="inline-block">
                <label class="account-rules-managment-label-style">
                  <span class="md-checkbox-label small-check md-switch-label-style"
                        once-text="'Collective Account'|translate"></span>:</label>
                <label>
                  <md-switch
                    ng-model="accountRulesManagementData.isCollectiveAccountEnabled" aria-label="No/Yes"
                    class="account-rules-managment-swithe-style">
                  </md-switch>
                </label>


              </div>

              <div ng-show="accountRulesManagementData.isCollectiveAccountEnabled"
                   class="inline-block">

                <label class="account-rules-managment-label-style">
                  <span class="md-checkbox-label small-check md-switch-label-style"
                        once-text="'Joint Account'|translate"></span>:</label>
                <label>
                  <md-switch
                    ng-model="accountRulesManagementData.isJointAccountEnabled" aria-label="No/Yes"
                    class="account-rules-managment-swithe-style">
                  </md-switch>
                </label>

              </div>

              <div ng-show="accountRulesManagementData.isCollectiveAccountEnabled"
                   class="inline-block">

                <label class="account-rules-managment-label-style">
                  <span class="md-checkbox-label small-check md-switch-label-style"
                        once-text="'Co-owner Account'|translate"></span>:</label>
                <label>
                  <md-switch
                    ng-model="accountRulesManagementData.isCoOwnerAccountEnabled" aria-label="No/Yes"
                    class="account-rules-managment-swithe-style">
                  </md-switch>
                </label>

              </div>

            </div>
            <legend class="legend-heading-style" once-text="'Money Accounts'|translate"></legend>

            <div class="row">

              <div class="inline-block">

                <label class="account-rules-managment-label-style">
                  <span class="md-checkbox-label small-check md-switch-label-style"
                        once-text="'DEPO Money Account'|translate"></span>:</label>
                <label>
                  <md-switch
                    ng-model="accountRulesManagementData.isMoneyAccountingAccountEnabled" aria-label="No/Yes"
                    class="account-rules-managment-swithe-style">
                  </md-switch>
                </label>

              </div>
              <div class="inline-block">

                <label class="account-rules-managment-label-style">
                  <span class="md-checkbox-label small-check md-switch-label-style"
                        once-text="'Same DEPO Account for Money and Security'|translate"></span>:</label>
                  <label>
                  <md-switch
                    ng-model="accountRulesManagementData.isMergingMoneyAndSecurityAccountsEnabled" aria-label="No/Yes"
                    class="account-rules-managment-swithe-style">
                  </md-switch>
                  </label>

              </div>


            </div>

            <legend class="legend-heading-style"></legend>
            <div class="row">
              <div class="inline-block">
                <label class="account-rules-managment-label-style">
                      <span class="md-checkbox-label small-check md-switch-label-style"
                            once-text="'Single Official Number'|translate"> </span>:
                </label>
                  <label>
                  <md-switch
                    ng-model="accountRulesManagementData.singleOfficialNumber" aria-label="No/Yes"
                    class="account-rules-managment-swithe-style">
                  </md-switch>
                  </label>
              </div>
            </div>


          </md-content>

        </md-tab>




        <md-tab label="{{config.labels.accountNumberingRules}}">
          <md-content class="md-padding">

            <table  class="table border fixed-headers">

              <!--<md-content ng-repeat="account in accountRulesManagementData.accountNumberingParameters" class="md-padding">-->
              <thead>
              <tr>
                <th class="sortable-column " once-text="'Account Type'|translate"></th>
                <th class="sortable-column " once-text="'Prefix'|translate"></th>
                <th class="sortable-column " once-text="'Number Length'|translate"></th>
                <th class="sortable-column " once-text="'Suffix'|translate"></th>
                <th class="sortable-column " ></th>
                <th class="sortable-column " ></th>
              </tr>
              </thead>
                  <!--<label><span class="account-number-rules-heading">{{account.accountType['name'+lnC]}}:</span></label>-->

                  <tbody>
                  <tr ng-repeat="account in accountRulesManagementData.accountNumberingParameters">
                    <td>{{account.accountType['name'+lnC]}}</td>
                    <td> <input
                      class="k-textbox prefix-style"
                      type="text"
                      name="prefix_{{$index}}"
                      ng-model="account.prefix"
                      placeholder="prefix..."></td>
                    <td><input
                      class="k-textbox number-length-style"
                      type="text"
                      ng-change="accountNumberChange(account)"
                      name="number_length_{{$index}}"
                      ng-model="account.numberLength"></td>
                    <td><input
                      class="k-textbox suffix-style"
                      type="text"
                      name="suffix_{{$index}}"
                      ng-model="account.suffix"
                      placeholder="suffix"></td>
                    <td> <md-radio-group ng-model="account.isRandom" layout="row" class="no-margin md-primary ">
                      <md-radio-button ng-value="true" class="no-margin md-primary"><span
                        class="random-style font-size-12"
                        once-text="'Random'|translate"></span>
                      </md-radio-button>
                      <md-radio-button class="no-margin" ng-value="false">
                        <span class="font-size-12"  once-text="'Sequential'|translate"></span>
                      </md-radio-button>

                    </md-radio-group></td>
                    <td><md-radio-group ng-model="account.isNumeric" layout="row" class="md-primary ">
                      <md-radio-button ng-value="true" class="md-primary no-margin"><span
                        class="font-size-12 numeric-style"
                        once-text="'Numeric'|translate"></span>
                      </md-radio-button>
                      <md-radio-button class="no-margin" ng-value="false"><span class="font-size-12" once-text="'Alphanumeric'|translate"></span>
                      </md-radio-button>
                    </md-radio-group></td>
                  </tr>
                  </tbody>



              <!--</md-content>-->
            </table>

          </md-content>

        </md-tab>

      </md-tabs>
    </div>

  </div>

</div>
