<div class="window-extend-block" data-extend-template="app/common/templates/operation-window-layout.html">
  <div data-block="content" class="window-main-content">

    <md-tabs md-dynamic-height md-border-bottom>

      <md-tab label="{{config.labels.accounts}}">
        <md-content class="md-padding">


          <legend once-text="'Collective Accounts'|translate"></legend>

          <div class="row">

            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">

              <label><span class="md-checkbox-label small-check"
                           once-text="'Collective Account'|translate"></span>:</label>
              <label class="input-control">
                <md-switch
                  ng-model="taskData.isCollectiveAccountEnabled" aria-label="No/Yes"
                  class=" md-cst-checkbox">
                </md-switch>
              </label>

            </div>

            <div ng-show="taskData.isCollectiveAccountEnabled"
                 class="col-lg-3 col-md-3 col-sm-3 col-xs-3">

              <label><span class="md-checkbox-label small-check"
                           once-text="'Joint Account'|translate"></span>:</label>
              <label class="input-control">
                <md-switch
                  ng-model="taskData.isJointAccountEnabled" aria-label="No/Yes"
                  class=" md-cst-checkbox">
                </md-switch>
              </label>

            </div>

            <div ng-show="taskData.isCollectiveAccountEnabled"
                 class="col-lg-3 col-md-3 col-sm-3 col-xs-3">

              <label><span class="md-checkbox-label small-check"
                           once-text="'Co-owner Account'|translate"></span>:</label>
              <label class="input-control">
                <md-switch
                  ng-model="taskData.isCoOwnerAccountEnabled" aria-label="No/Yes"
                  class=" md-cst-checkbox">
                </md-switch>
              </label>

            </div>

          </div>
          <legend once-text="'Money Accounts'|translate"></legend>

          <div class="row">

            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">

              <label><span class="md-checkbox-label small-check"
                           once-text="'Money Accounting Account'|translate"></span>:</label>
              <label class="input-control">
                <md-switch
                  ng-model="taskData.isMoneyAccountingAccountEnabled" aria-label="No/Yes"
                  class=" md-cst-checkbox">
                </md-switch>
              </label>

            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">

              <label><span class="md-checkbox-label small-check"
                           once-text="'Merging Money and Security Accounts'|translate"></span>:</label>
              <label class="input-control">
                <md-switch
                  ng-model="taskData.isMergingMoneyAndSecurityAccountsEnabled" aria-label="No/Yes"
                  class=" md-cst-checkbox">
                </md-switch>
              </label>

            </div>


          </div>

        </md-content>

      </md-tab>
      <md-tab label="{{config.labels.accountNumberingRules}}">
        <md-content class="md-padding">
          <md-tabs md-dynamic-height md-border-bottom>

            <md-tab ng-repeat="account in taskData.accountNumberingParameters"
                    label="{{account.accountType['name'+lnC]}}">


              <md-content class="md-padding">

                <div class="form-group">
                  <label>
                      <span class="md-checkbox-label small-check"
                            once-text="'Single Official Number'|translate"> </span>:
                  </label>
                  <label class="input-control">
                    <md-switch
                      ng-model="account.singleOfficialNumber" aria-label="No/Yes"
                      class=" md-cst-checkbox">
                    </md-switch>
                  </label>
                </div>
                <!--Switch-->
                <div class="form-group"
                     ng-class="{ 'has-error': (config.form.name.$submitted  || config.form.name['number_length_'+$index].$touched)     &&(config.form.name['number_length_'+$index].$invalid)  }">
                  <label class="control-label">
                    <span class="required-sign">*</span><span
                    once-text="'Number Length'|translate"></span>:</label>

                  <input

                    kendo-numeric-text-box
                    min="1"
                    k-max="100"
                    ng-required="true"
                    name="number_length_{{$index}}"
                    ng-model="account.numberLength">

                  <div
                    ng-show="config.form.name.$submitted || config.form.name['number_length_'+$index].$touched">
                    <p ng-show="config.form.name['number_length_'+$index].$error.required"
                       class="help-block help-block-error">
                      <span once-text="'This field is required'|translate"></span>
                    </p>
                  </div>

                </div>
                <!--Length-->
                <div class="form-group"
                     ng-class="{ 'has-error': (config.form.name.$submitted || config.form.name['prefix_'+$index].$touched) &&(config.form.name['prefix_'+$index].$invalid)  }">
                  <label class="control-label">
                    <span class="required-sign">*</span><span once-text="'Prefix'|translate"></span>:</label>


                  <input
                    class="k-textbox"
                    type="text"
                    ng-required="true"
                    name="prefix_{{$index}}"
                    ng-model="account.prefix">

                  <div ng-show="config.form.name.$submitted || config.form.name['prefix_'+$index].$touched">
                    <p ng-show="config.form.name['prefix_'+$index].$error.required"
                       class="help-block help-block-error">
                      <span once-text="'This field is required'|translate"></span>
                    </p>
                  </div>

                </div>
                <!--Prefix-->
                <div class="form-group"
                     ng-class="{ 'has-error': (config.form.name.$submitted || config.form.name['suffix_'+$index].$touched) &&(config.form.name['suffix_'+$index].$invalid)  }">
                  <label class="control-label ">
                    <span class="required-sign">*</span><span once-text="'Suffix'|translate"></span>:</label>


                  <input
                    class="k-textbox"
                    type="text"
                    ng-required="true"
                    name="suffix_{{$index}}"
                    ng-model="account.suffix">

                  <div ng-show="config.form.name.$submitted || config.form.name['suffix_'+$index].$touched">
                    <p ng-show="config.form.name['suffix_'+$index].$error.required"
                       class="help-block help-block-error">
                      <span once-text="'This field is required'|translate"></span>
                    </p>
                  </div>

                </div>
                <!--Suffix-->
                <div class="form-group">
                  <md-radio-group ng-model="account.isRandom" layout="row" class="md-primary">
                    <md-radio-button ng-value="true" class="md-primary"><span
                      once-text="'Random'|translate"></span>
                    </md-radio-button>
                    <md-radio-button ng-value="false"><span once-text="'Sequential'|translate"></span>
                    </md-radio-button>

                  </md-radio-group>
                </div>
                <!--Random-->
                <div class="form-group">
                  <md-radio-group ng-model="account.isNumeric" layout="row" class="md-primary">
                    <md-radio-button ng-value="true" class="md-primary"><span
                      once-text="'Numeric'|translate"></span>
                    </md-radio-button>
                    <md-radio-button ng-value="false"><span once-text="'Alphanumeric'|translate"></span>
                    </md-radio-button>

                  </md-radio-group>
                </div>
                <!--Numeric-->


              </md-content>
            </md-tab>

          </md-tabs>
        </md-content>

      </md-tab>

    </md-tabs>


  </div>
</div>
