<div class="window-extend-block" data-extend-template="app/common/templates/operation-window-layout.html">
    <div data-block="content" class="window-main-content">

        <div
                role="form"
                ng-form="config.form.name"
                ng-submit="config.buttons.complete.click()"
                class="div-full-height"
                >

            <md-tabs flex layout="column" class="div-full-height min-height-500 ">

                <md-tab flex layout="column" layout-fill label="{{config.labels.processAuthorization}}">
                    <md-tab-content flex layout-fill>
                        <table class="table border bordered">
                            <thead>
                            <tr>
                                <th class="sortable-column " once-text="'Process'|translate"></th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr bindonce
                                ng-class="{'row-error': process.isConfidential}"
                                ng-repeat="process in  authorizationManagementData.processAuthorizations">
                                <td>

                                    <div ng-class="process.hasError?'has-error':''">
                                        <p once-text="'[ '+process.screenID+' ] '+process.name['name'+lnC]"></p>

                                        <p><b class="has-error" ng-show="process.hasError"
                                              once-text="'Invalid configuration!'|translate"></b></p>
                                    </div>


                                </td>
                                <td>
                                    <div class="center-align">


                                        <md-button class="md-micro md-fab" aria-label="edit button"
                                                   ng-click="showProcessAuthorizationForm($index)">
                                            <span class="micro-glyphicon glyphicon glyphicon-edit"></span>
                                            <md-tooltip><span once-text="'Edit'|translate"></span></md-tooltip>
                                        </md-button>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <div kendo-window="buffers.processAuthorization.window"
                             k-modal="true"
                             k-width="'90%'"
                             k-height="'90%'"
                             k-visible="false"
                             k-on-close="resetProcessAuthorizationBuffer()">
                            <div class="div-full-height"
                                 ng-include="'app/configurations/templates/partials/process-authorization.html'"></div>

                        </div>
                    </md-tab-content>

                </md-tab>
                <md-tab label="{{config.labels.viewConfiguration}}" layout-fill>
                    <md-tab-content flex layout-fill>
                        <table class="table border bordered ">
                            <thead>
                            <tr>
                                <th class="sortable-column " once-text="'Process'|translate"></th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr bindonce
                                ng-class="{'row-error': view.isConfidential}"
                                ng-repeat="view in  authorizationManagementData.viewAuthorizations">
                                <td once-text="'[ '+view.screenID+' ] '+view.name['name'+lnC]"></td>
                                <td>
                                    <div class="center-align">

                                        <md-button class="md-micro md-fab" aria-label="edit button"
                                                   ng-click="showViewAuthorizationForm($index)">
                                            <span class="micro-glyphicon glyphicon glyphicon-edit"></span>
                                            <md-tooltip><span once-text="'Edit'|translate"></span></md-tooltip>
                                        </md-button>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <div kendo-window="buffers.viewAuthorization.window"
                             k-modal="true"
                             k-width="'90%'"
                             k-height="'90%'"
                             k-visible="false"
                             k-on-close="resetViewAuthorizationBuffer()">
                            <div class="div-full-height"
                                 ng-include="'app/configurations/templates/partials/view-authorization.html'"></div>

                        </div>
                    </md-tab-content>
                </md-tab>
                <md-tab label="{{config.labels.dashboardConfiguration}}" layout-fill>
                    <md-tab-content flex layout-fill>
                        <md-tab-content flex layout-fill>
                            <table class="table border bordered ">
                                <thead>
                                <tr>
                                    <th class="sortable-column " once-text="'Process'|translate"></th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr bindonce="" ng-repeat="dashboard in  authorizationManagementData.dashboardAuthorizations">
                                    <td once-text="'[ '+dashboard.screenID+' ] '+dashboard.name['name'+lnC]"></td>
                                    <td>
                                        <div class="center-align">

                                            <md-button class="md-micro md-fab" aria-label="edit button"
                                                       ng-click="showDashboardAuthorizationForm($index)">
                                                <span class="micro-glyphicon glyphicon glyphicon-edit"></span>
                                                <md-tooltip><span once-text="'Edit'|translate"></span></md-tooltip>
                                            </md-button>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <div kendo-window="buffers.dashboardAuthorization.window"
                                 k-modal="true"
                                 k-width="'80%'"
                                 k-height="'60%'"
                                 k-visible="false"
                                 k-on-close="resetDashboardAuthorizationBuffer()">
                                <div class="div-full-height"
                                     ng-include="'app/configurations/templates/partials/dashboard-authorization.html'"></div>

                            </div>
                        </md-tab-content>
                    </md-tab-content>
                </md-tab>
            </md-tabs>

            <div kendo-window="buffers.orgNodeSelection.window"
                 k-title="config.labels.addNewOrgNode"
                 k-modal="true"
                 k-max-width="'470px'"
                 k-height="'575px'"
                 k-visible="false"
                 k-on-close="resetOrgNodeSelectionBuffer()">
                <div ng-include="'app/configurations/templates/partials/org-node-selection.html'"></div>
            </div>
        </div>
    </div>

</div>
