<div class="window-extend-block" data-extend-template="app/common/templates/operation-window-layout.html">
  <div data-block="content" class="window-main-content">

    <div
      role="form"
      ng-form="config.form.name"
      ng-submit="config.buttons.complete.click()"
      >
      <div class=" business-calendar-page">
        <div class="business-calendar-item">

          <h5 once-text="'Working Days of Week'|translate"></h5>
          <md-checkbox ng-repeat="weekDay in businessCalendarManagementData.weeklyWorkingDays"
                       ng-model="weekDay.isWorkingDay"
                       aria-label="...">
            {{_getDayOfWeek(weekDay.weekDay)}}
          </md-checkbox>
        </div>
        <div class="business-calendar-item">

          <h5 once-text="'Permanent Non Working Days'|translate"></h5>
          <label><b><span once-text="'Add New Day'|translate"></span>:</b></label>
         <div class="person-search-inputs inline-block dashboard">
           <input kendo-date-picker
                  class="datepicker-cst "
                  k-format="'dd-MM'"
                  ng-model="config.YRNWDDateStr"
                  k-ng-model="config.YRNWDDateObj"
                  k-on-change="YRNWDSelected(config.YRNWDDateStr)"
             />
         </div>

          <table class="table table-striped">
            <thead>
            <tr>
              <th once-text="'Days'|translate"></th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="day in businessCalendarManagementData.nonWorkingDays">

              <td><strong>{{day}}</strong></td>
              <td>

                <md-button class="md-icon-button business-calendar-icons launch remove"
                           ng-click="removeElementFromArray(businessCalendarManagementData.nonWorkingDays,$index)">
                  <i class="glyphicon glyphicon-remove"></i>
                  <md-tooltip><span once-text="'Remove'|translate"></span></md-tooltip>
                </md-button>

              </td>

            </tr>
            </tbody>
          </table>

        </div>
        <div class="business-calendar-item">

          <h5 once-text="'Floating Non Working Days'|translate"></h5>
          <label><b><span once-text="'Add New Day'|translate"></span>:</b></label>
         <div class="person-search-inputs inline-block dashboard">
           <input kendo-date-picker
                  class="datepicker-cst "
                  type="text"
                  ng-model="config.YENWDDateStr"
                  k-ng-model="config.YENWDDateObj"
                  k-on-change="YENWDSelected(config.YENWDDateObj)"
             />
         </div>

          <table class="table table-striped">
            <thead>
            <tr>
              <th once-text="'Days'|translate"></th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="day in businessCalendarManagementData.exceptionalNonWorkingDates">

              <td><strong>{{day.date|date:'dd-MM-yyyy'}}</strong></td>
              <td>

                <md-button class="md-icon-button business-calendar-icons launch remove"
                           ng-click="removeElementFromArray(businessCalendarManagementData.exceptionalNonWorkingDates,$index)">
                  <i class="glyphicon glyphicon-remove"></i>
                  <md-tooltip><span once-text="'Remove'|translate"></span></md-tooltip>
                </md-button>

              </td>

            </tr>
            </tbody>
          </table>

        </div>
        <div class="business-calendar-item">
          <h5 once-text="'Floating Working Days'|translate"></h5>
          <label><b><span once-text="'Add New Day'|translate"></span>:</b></label>
          <div class="person-search-inputs inline-block dashboard">
            <input kendo-date-picker
                   class="datepicker-cst "
                   k-format="'yyyy-MM-dd'"
                   ng-model="config.YEWDDateStr"
                   k-ng-model="config.YEWDDateObj"
                   k-on-change="YEWDSelected(config.YEWDDateObj)"
              />
          </div>

          <table class="table table-striped">
            <thead>
            <tr>
              <th once-text="'Days'|translate"></th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="day in businessCalendarManagementData.exceptionalWorkingDates">
              <td><strong>{{day.date|date:'dd-MM-yyyy'}}</strong></td>
              <td>
                <md-button class="md-icon-button business-calendar-icons launch remove"
                           ng-click="removeElementFromArray(businessCalendarManagementData.exceptionalWorkingDates,$index)">
                  <i class="glyphicon glyphicon-remove"></i>
                  <md-tooltip><span once-text="'Remove'|translate"></span></md-tooltip>
                </md-button>

              </td>

            </tr>
            </tbody>
          </table>

        </div>
      </div>

    </div>

  </div>

</div>
