<div class="window-extend-block" data-extend-template="app/common/templates/operation-window-layout.html">
  <div data-block="content" class="window-main-content">

    <div class=" business-calendar-page">
      <div class="business-calendar-item">

        <h5 once-text="'Working Days of Week'|translate"></h5>
        <md-checkbox ng-repeat="weekDay in taskData.weeklyWorkingDays"
                     ng-model="weekDay.isWorkingDay"
                     ng-disabled="true"
                     aria-label="...">
          {{_getDayOfWeek(weekDay.weekDay)}}
        </md-checkbox>
      </div>
      <div class="business-calendar-item">

        <h5 once-text="'Permanent Non Working Days'|translate"></h5>

        <table class="table table-striped">
          <thead>
          <tr>
            <th once-text="'Days'|translate"></th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="day in taskData.nonWorkingDays">

            <td><strong>{{day}}</strong></td>
            <td>

              <md-button class="md-icon-button launch remove"
                         ng-click="removeElementFromArray(taskData.nonWorkingDays,$index)">
                <i class="glyphicon glyphicon-remove"></i>
                <md-tooltip><span once-text="'Remove'|translate"></span></md-tooltip>
              </md-button>

            </td>

          </tr>
          </tbody>
        </table>

      </div>
      <div class="business-calendar-item">

        <h5 once-text="'Floating Non Working Days'|translate"></h5>

        <table class="table table-striped">
          <thead>
          <tr>
            <th once-text="'Days'|translate"></th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="day in taskData.exceptionalNonWorkingDates">

            <td><strong>{{day.date|csmDate:'localeDate' |date:'dd-MM-yyyy'}}</strong></td>
            <td>

              <md-button class="md-icon-button launch remove"
                         ng-click="removeElementFromArray(taskData.exceptionalNonWorkingDates,$index)">
                <i class="glyphicon glyphicon-remove"></i>
                <md-tooltip><span once-text="'Remove'|translate"></span></md-tooltip>
              </md-button>

            </td>

          </tr>
          </tbody>
        </table>

      </div>
      <div class="business-calendar-item">
        <h5 once-text="'Floating Working Days'|translate"></h5>


        <table class="table table-striped">
          <thead>
          <tr>
            <th once-text="'Days'|translate"></th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="day in taskData.exceptionalWorkingDates">
            <td><strong>{{day.date|csmDate |date:'dd-MM-yyyy'}}</strong></td>
            <td>
              <md-button class="md-icon-button launch remove"
                         ng-click="removeElementFromArray(taskData.exceptionalWorkingDates,$index)">
                <i class="glyphicon glyphicon-remove"></i>
                <md-tooltip><span once-text="'Remove'|translate"></span></md-tooltip>
              </md-button>

            </td>

          </tr>
          </tbody>
        </table>

      </div>
    </div>
  </div>
</div>
