<div class="window-extend-block" data-extend-template="app/common/templates/operation-window-layout.html">
  <div data-block="content" class="window-main-content">


    <div role="form" ng-form='config.form.name' ng-submit="config.buttons.complete.click()">

      <div class="min-width-470">
        <div class="form-group">
          <label class="form-label">
            <span once-text="'Search'|translate"></span>:</label>

          <div class="form-inputs">

            <md-button class="md-fab md-micro"
                       aria-label="Mini FAB"
                       ng-click="findTaskStatement()">
              <i class="glyphicon glyphicon-search micro-glyphicon"></i>
              <md-tooltip>
                <span once-text="'Find Operations'|translate"></span>
              </md-tooltip>
            </md-button>
          </div>
        </div>
      </div>

      <div class="forms">
        <div class="form-group">
          <label class="form-labels">
            <span once-text="'Operation id'|translate"></span>:</label>

          <div class="form-inputs">
            <span>{{ data.operationID }}</span>
          </div>

        </div>
      </div>

      <div class="forms">
        <div class="form-group">
          <label class="form-labels">
            <span once-text="'Name'|translate"></span>:</label>

          <div class="form-inputs">
            <span>{{ data.nameAz }}</span>
          </div>

        </div>
      </div>

      <div class="forms">
        <div class="form-group">
          <label class="form-labels">
            <span once-text="'Short Description'|translate"></span>:</label>

          <div class="form-inputs">
            <span>{{ data.shortDescription }}</span>
          </div>

        </div>
      </div>

      <div class="forms">
        <div class="form-group">
          <label class="form-labels">
            <span once-text="'Note'|translate"></span>:</label>

          <div class="form-inputs">
            <textarea class="k-textbox" ng-model="data.comment"></textarea>
          </div>

        </div>
      </div>


    </div>

  </div>

</div>
