<div class="window-extend-block" data-extend-template="app/common/templates/operation-window-layout.html">
  <div data-block="content" class="window-main-content">


    <div role="form" ng-form="config.form.name" ng-submit="config.buttons.complete.click()">


      <div class="forms">
        <div class="form-group">
          <label class="form-labels">
            <span once-text="'Operation id'|translate"></span>:</label>

          <div class="form-inputs">
            <span>{{ data.operationID }}</span>
          </div>

        </div>
      </div>

      <div class="forms">
        <div class="form-group">
          <label class="form-labels">
            <span once-text="'Name'|translate"></span>:</label>

          <div class="form-inputs">
            <span>{{ data.nameAz }}</span>
          </div>

        </div>
      </div>

      <div class="forms">
        <div class="form-group">
          <label class="form-labels">
            <span once-text="'Short Description'|translate"></span>:</label>

          <div class="form-inputs">
            <span>{{ data.shortDescription }}</span>
          </div>

        </div>
      </div>

      <div class="forms">
        <div class="form-group">
          <label class="form-labels">
            <span once-text="'Note'|translate"></span>:</label>

          <div class="form-inputs">
            <span>{{  data.comment }} </span>
          </div>

        </div>
      </div>


      <!--<div class="forms" ng-if="data.reviewApproved != null">-->
      <!--<div class="form-group">-->
      <!--<label class="form-labels">-->
      <!--<span>Rəy verilibmi?</span>:</label>-->

      <!--<div class="form-inputs">-->
      <!--<span>{{ {'true': 'Bəli', 'false': "Xeyr"}[data.reviewApproved] }}</span>-->
      <!--</div>-->

      <!--</div>-->
      <!--</div>-->



      <div class="forms">
        <div class="form-group">
          <label class="form-labels">
            <span>Rəy verilirmi?</span>:</label>

          <div class="form-inputs" ng-init="data.reviewApproved = null">
            <label class="form-labels input-checkbox">
              <input type="checkbox"
                     name="isConfirmed"
                     ng-true-value="true"
                     ng-false-value="false"
                     ng-indeterminate="data.reviewApproved === null"
                     ng-model="data.reviewApproved">
            </label>

          </div>
        </div>
      </div>


      <div class="forms" ng-if="data.reviewApproved">
        <div class="form-group">
          <label class="form-labels">
            <span>Rəy</span>:</label>

          <div class="form-inputs">
            <div class="form-inputs">
              <textarea class="k-textbox" ng-model="data.review"></textarea>
            </div>

          </div>
        </div>
      </div>
    </div>

  </div>

</div>
