<div class="window-extend-block" data-extend-template="app/common/templates/operation-window-layout.html">
  <div data-block="content" class="window-main-content">


    <div role="form" ng-form="config.form.name" ng-submit="config.buttons.complete.click()">


      <div class="forms">
        <div class="form-group">
          <label class="form-labels">
            <span once-text="'Operation id'|translate"></span>:</label>

          <div class="form-inputs">
            <span>{{ taskData.operationID }}</span>
          </div>

        </div>
      </div>

      <div class="forms">
        <div class="form-group">
          <label class="form-labels">
            <span once-text="'Name'|translate"></span>:</label>

          <div class="form-inputs">
            <span>{{ taskData.nameAz }}</span>
          </div>

        </div>
      </div>

      <div class="forms">
        <div class="form-group">
          <label class="form-labels">
            <span once-text="'Short Description'|translate"></span>:</label>

          <div class="form-inputs">
            <span>{{ taskData.shortDescription }}</span>
          </div>

        </div>
      </div>

      <div class="forms">
        <div class="form-group">
          <label class="form-labels">
            <span once-text="'Note'|translate"></span>:</label>

          <div class="form-inputs">
            <span>{{  taskData.comment }} </span>
          </div>

        </div>
      </div>


      <div class="forms" ng-if="taskData.reviewApproved != null">
        <div class="form-group">
          <label class="form-labels">
            <span>Rəy verilibmi?</span>:</label>

          <div class="form-inputs">
            <span>{{ {'true': 'Bəli', 'false': "Xeyr"}[taskData.reviewApproved] }}</span>
          </div>

        </div>
      </div>


      <div class="forms" ng-if="taskData.review">
        <div class="form-group">
          <label class="form-labels">
            <span>Rəy Qeydi</span>:</label>

          <div class="form-inputs">
            <span>{{  taskData.review }} </span>
          </div>

        </div>
      </div>




    </div>

  </div>

</div>
