<div class="window-extend-block" data-extend-template="app/common/templates/operation-window-layout.html">
  <div data-block="content" class="window-main-content">

    <table class="table table-striped table-hover table-responsive table-bordered ">
      <tbody>
      <tr>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><b once-text="'Request Date'|translate"></b></td>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6">{{taskData.requestDate }}</td>
      </tr>
      <tr>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-4">
          <b once-text="'Comment'|translate"></b>
        </td>
        <td class="col-md-4 col-xs-6  col-lg-4 col-sm-4">
          {{taskData.comment}}
        </td>
      </tr>
      </tbody>
    </table>

    <h4 once-text="'Account Statements'|translate"></h4>
    <table class="table table-striped table-hover table-responsive table-bordered ">
      <thead>
      <th once-text="'Name'|translate"></th>
      <th once-text="'Account Number'|translate"></th>
      <th once-text="'ID Document'|translate"></th>
      <th once-text="'Address'|translate"></th>
      <th></th>
      </thead>
      <tbody>
      <tr data-ng-repeat="subject in taskData.accounts" ng-if="subject.accountNumber">
        <td>{{subject.name}}</td>
        <td>{{subject.accountNumber}}</td>
        <td>{{subject.idDocument}}</td>
        <td>{{subject.addressLine}}</td>
        <td>
          <md-button class="md-icon-button launch remove"
                     ng-click="getAccountStatement(config.accountStatementWindow,subject)">
            <i class="glyphicon glyphicon-eye-open"></i>
            <md-tooltip><span once-text="'View'|translate"></span></md-tooltip>
          </md-button>
        </td>
      </tr>
      </tbody>
    </table>

    <h4 once-text="'Registers'|translate"></h4>
    <table class="table table-striped table-hover table-responsive table-bordered ">
      <thead>
      <th once-text="'Instrument Name'|translate"></th>
      <th once-text="'ISIN'|translate"></th>
      <th once-text="'Issuer'|translate"></th>
      <th></th>
      </thead>
      <tbody>
      <tr data-ng-repeat="subject in taskData.instruments" ng-if="subject.ISIN">
        <td>{{subject.instrumentName}}</td>
        <td>{{subject.ISIN}}</td>
        <td>{{subject.issuerName}}</td>
        <td>
          <md-button class="md-icon-button launch remove"
                     ng-click="getHoldingReport(config.holdingReportWindow,subject)">
            <i class="glyphicon glyphicon-eye-open"></i>
            <md-tooltip><span once-text="'View'|translate"></span></md-tooltip>
          </md-button>
        </td>
      </tr>
      </tbody>
    </table>

    <div kendo-window="config.accountStatementWindow"
         k-title="'Account Statement'"
         k-width="'80%'"
         k-resizable="true"
         k-height="'80%'"
         k-visible="false">
      <div class=" div-full-height">

        <div class="view-buttons-wrapper">
          <div class="pull-right view-button-group">
            <md-button type="button" class="md-fab md-micro"
                       aria-label="Export to excel"
                       ng-click="_exportToExcel(config.accountStatementGrid)">
              <i class="glyphicon glyphicon-export micro-glyphicon"></i>
              <md-tooltip md-direction="down">
                <span once-text="'Export to Excel'|translate"></span>
              </md-tooltip>
            </md-button>
          </div>
        </div>
        <div class="person-find-result-block">


          <div
            kendo-grid="config.accountStatementGrid"
            k-scrollable="true"
            k-data-source="config.accountStatementGrid.options.dataSource"
            k-columns="config.accountStatementGrid.options.columns"
            k-resizable="true"
            k-sortable="true"
            k-groupable="true"
            k-excel="{allPages:true}"
            k-pageable='{ "pageSize": 20, "refresh": false, "pageSizes": true, "buttonCount": 5 }'
            ></div>
        </div>
      </div>

    </div>

    <div kendo-window="config.holdingReportWindow"
         k-title="'Register'"
         k-width="'80%'"
         k-resizable="true"
         k-height="'80%'"
         k-visible="false"

      >
      <div class=" div-full-height">
        <div class="view-buttons-wrapper">
          <div class="pull-right view-button-group">
            <md-button type="button" class="md-fab md-micro"
                       aria-label="Export to excel"
                       ng-click="_exportToExcel(config.holdingReportGrid)">
              <i class="glyphicon glyphicon-export micro-glyphicon"></i>
              <md-tooltip md-direction="down">
                <span once-text="'Export to Excel'|translate"></span>
              </md-tooltip>
            </md-button>
          </div>
        </div>
        <div class="person-find-result-block">

          <div
            kendo-grid="config.holdingReportGrid"
            k-scrollable="true"
            k-data-source="config.holdingReportGrid.options.dataSource"
            k-columns="config.holdingReportGrid.options.columns"
            k-resizable="true"
            k-sortable="true"
            k-groupable="true"
            k-excel="{allPages:true}"
            k-pageable='{ "pageSize": 20, "refresh": false, "pageSizes": true, "buttonCount": 5 }'
            ></div>
        </div>
      </div>

    </div>
  </div>
</div>
