<div class="window-extend-block" data-extend-template="app/common/templates/operation-window-layout.html">
  <div data-block="content" class="window-main-content">


    <table class="table table-striped table-hover table-responsive table-bordered ">
      <tbody>
      <tr>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><b once-text="'Request Date'|translate"></b></td>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6">{{taskData.requestDate }}</td>
      </tr>
      <tr>
        <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4">
          <b once-text="'Comment'|translate"></b>
        </td>
        <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4">
          {{taskData.comment}}
        </td>
      </tr>
      </tbody>
    </table>
    <h4 once-text="'Account Statements'|translate"></h4>

    <table class="table table-striped table-hover table-responsive table-bordered ">
      <thead>
      <th once-text="'Name'|translate"></th>
      <th once-text="'Account Number'|translate"></th>
      <th once-text="'ID Document'|translate"></th>
      <th once-text="'Address'|translate"></th>
      </thead>
      <tbody>
      <tr data-ng-repeat="subject in taskData.accounts">
        <td>{{subject.name}}</td>
        <td>{{subject.accountNumber}}</td>
        <td>{{subject.idDocument}}</td>
        <td>{{subject.addressLine}}</td>
      </tr>
      </tbody>
    </table>

    <h4 once-text="'Registers'|translate"></h4>
    <table class="table table-striped table-hover table-responsive table-bordered">
      <thead>
      <th once-text="'Instrument Name'|translate"></th>
      <th once-text="'ISIN'|translate"></th>
      <th once-text="'Issuer'|translate"></th>
      </thead>
      <tbody>
      <tr data-ng-repeat="subject in taskData.instruments">
        <td>{{subject.instrumentName}}</td>
        <td>{{subject.ISIN}}</td>
        <td>{{subject.issuerName}}</td>

      </tr>
      </tbody>
    </table>
  </div>
</div>
