<div class="window-extend-block" data-extend-template="app/common/templates/operation-window-layout.html">
  <div data-block="content" class="window-main-content">
    <div
      role="form"
      ng-form="config.form.name"
      ng-submit="config.buttons.complete.click()">
      <div class="forms">
        <div class="form-group"
             ng-class="{ 'has-error':
                 (config.form.name.$submitted || config.form.name.request_date.$touched)
                 &&(config.form.name.request_date.$invalid)  }">

          <label class="form-labels"><span class="required-sign">*</span>
            <span once-text="'Request Date'|translate"></span>:</label>

          <div class="form-inputs datepicker-checkbox-wrapper">
            <input type="text"
                   ng-hide="caseProcessingData.currentTimeSelected"
                   class="datepicker-cst "
                   k-footer="false"
                   kendo-date-time-picker="config.timePicker"
                   name="request_date"
                   ng-model="caseProcessingData.requestDate"
                   k-ng-model="caseProcessingData.requestDateObj"
                   ng-required="!caseProcessingData.currentTimeSelected"
              >
            <md-checkbox ng-model="caseProcessingData.currentTimeSelected"
                         class="no-margin"
              ><span
              once-text="'Select current time'|translate"></span></md-checkbox>

            <div ng-show="config.form.name.$submitted || config.form.name.request_date.$touched">
              <p ng-show="config.form.name.request_date.$error.required"
                 class="help-block help-block-error">
                <span once-text="'This field is required'|translate"></span>
              </p>

              <p ng-show="config.form.name.request_date.$error.csmKendoDate"
                 class="help-block help-block-error">
                <span once-text="'Invalid Date'|translate"></span>
              </p>
            </div>
          </div>

        </div>
      </div>
      <div class="forms">

        <div class="form-group" ng-class="{ 'has-error':
                 (config.form.name.$submitted || config.form.name.comment.$touched)
                 &&(config.form.name.comment.$invalid)  }">

          <label class="form-labels">
            <span class="required-sign">*</span>
            <span once-text="'Comment'|translate"></span>:</label>

          <div class="form-inputs">
                  <textarea
                    class="k-textbox"
                    name="comment"
                    cols="6"
                    rows="7"
                    ng-model="caseProcessingData.comment"
                    ng-required="true"></textarea>

            <div ng-show="config.form.name.$submitted || config.form.name.comment.$touched">
              <p ng-show="config.form.name.comment.$error.required"
                 class="help-block help-block-error">
                <span once-text="'This field is required'|translate"></span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="forms">

        <h3 once-text="'Account Statements'|translate"></h3>

        <table class="table table-striped table-bordered">
          <thead>
          <tr>
            <th><span once-text="'Name'|translate"></span></th>
            <th once-text="'Account Number'|translate"></th>
            <th once-text="'ID Document'|translate"></th>
            <th once-text="'Address'|translate"></th>
            <th></th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr data-ng-repeat="subject in caseProcessingData.accounts">
            <td>

              <span ng-if="!subject.name">......</span>
              <span> {{ subject.name }}</span>
            </td>

            <td>
              <span ng-if="!subject.accountNumber">......</span>
              <span> {{subject.accountNumber}}</span>
            </td>
            <td>
              <span ng-if="!subject.idDocument">......</span>
              <span> {{subject.idDocument}}</span>
            </td>
            <td>
              <span ng-if="!subject.addressLine">......</span>
              <span> {{subject.addressLine}}</span>
            </td>


            <td>
              <md-button

                class="md-fab md-micro"
                aria-label="Mini FAB"
                ng-click="findAccount($index)">
                <i class="glyphicon glyphicon-search micro-glyphicon"></i>
                <md-tooltip>
                  <span once-text="'Find Account'|translate"></span>
                </md-tooltip>

              </md-button>
            </td>

            <td>
              <md-button
                ng-if="$index>0"
                class="md-fab md-micro"
                aria-label="Mini FAB"
                ng-click="removeAccount($index,caseProcessingData.accounts)">
                <i class="glyphicon glyphicon-remove micro-glyphicon"></i>
                <md-tooltip>
                  <span once-text="'Delete'|translate"></span>
                </md-tooltip>

              </md-button>
              <!--Remove Button-->
            </td>
          </tr>
          </tbody>
        </table>

      </div>
      <div class="row" ng-if="caseProcessingData.accounts[0].accountId">
        <div class="col-lg-11">
          <div class="form-group">
            <md-button
              class="md-fab md-micro"
              aria-label="Mini FAB"
              ng-click="addNewAccount(caseProcessingData.accounts)">
              <i class="glyphicon glyphicon-plus micro-glyphicon"></i>
              <md-tooltip>
                <span once-text="'Add New Account'|translate"></span>
              </md-tooltip>

            </md-button>

          </div>
        </div>
      </div>
      <hr/>
      <div class="forms">

        <h3 once-text="'Registers'|translate"></h3>

        <table class="table table-striped table-bordered">
          <thead>
          <tr>
            <th><span once-text="'Instrument'|translate"></span></th>
            <th once-text="'Issuer'|translate"></th>
            <th once-text="'ISIN'|translate"></th>
            <th></th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr data-ng-repeat="subject in caseProcessingData.instruments">
            <td>
              <span ng-if="!subject.instrumentName">......</span>
              <span> {{subject.instrumentName}}</span>
            </td>

            <td>
              <span ng-if="!subject.issuerName">......</span>
              <span> {{subject.issuerName}}</span>
            </td>

            <td>
              <span ng-if="!subject.ISIN">......</span>
              <span> {{subject.ISIN}}</span>
              <input
                type="hidden"
                name="ISIN_{{$index}}"
                ng-model="subject.ISIN">

              <div ng-class="{ 'has-error': (config.form.name.$submitted && config.form.name['ISIN_'+$index].$invalid)  }"
                   ng-show="config.form.name.$submitted ">
                <p ng-show="config.form.name['ISIN_'+$index].$error.required"
                   class="help-block help-block-error">
                  <span once-text="'This field is required'|translate"></span>
                </p>
              </div>
            </td>
            <td>
              <md-button
                class="md-fab md-micro"
                aria-label="Mini FAB"
                ng-disabled="!caseProcessingData.currentTimeSelected && !caseProcessingData.requestDateObj"
                ng-click="findInstrument($index)">
                <i class="glyphicon glyphicon-search micro-glyphicon"></i>
                <md-tooltip>
                  <span once-text="'Find Instrument'|translate"></span>
                </md-tooltip>
              </md-button>
            </td>

            <td>
              <md-button
                ng-if="$index>0"
                class="md-fab md-micro"
                aria-label="Mini FAB"
                ng-click="removeInstrument($index,caseProcessingData.instruments)">
                <i class="glyphicon glyphicon-remove micro-glyphicon"></i>
                <md-tooltip>
                  <span once-text="'Delete'|translate"></span>
                </md-tooltip>
              </md-button>
              <!--Remove Button-->
            </td>
          </tr>
          </tbody>
        </table>

      </div>
      <div class="row" ng-if="caseProcessingData.instruments[0].ISIN">
        <div class="col-lg-11">
          <div class="form-group">
            <md-button
              class="md-fab md-micro"
              aria-label="Mini FAB"
              ng-click="addNewInstrument(caseProcessingData.instruments)">
              <i class="glyphicon glyphicon-plus micro-glyphicon"></i>
              <md-tooltip>
                <span once-text="'Add New Item'|translate"></span>
              </md-tooltip>
            </md-button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
