<div class="window-extend-block" data-extend-template="app/common/templates/operation-window-layout.html">
  <div data-block="content" class="window-main-content">

    <div
      role="form"
      ng-form="config.form.name"
      ng-submit="config.buttons.complete.click()">

      <div class="succession-operation-forms">
        <div class="form-group">

          <label class="form-labels">
            <span once-text="'Selected BIS Model'|translate"></span>:</label>

          <div class="form-inputs">
            <md-radio-group layout="row" ng-model="BISConfigurationData.value"  class="horizontal-form-checkbox">

              <md-radio-button ng-value="BISCodes.BIS1">
                BIS1
              </md-radio-button>
              <md-radio-button ng-value="BISCodes.BIS2">
                BIS2
              </md-radio-button>
              <md-radio-button ng-value="BISCodes.BIS3">
                BIS3
              </md-radio-button>

            </md-radio-group>
          </div>
        </div>
      </div>

    </div>

  </div>

</div>
