<div class="window-extend-block" data-extend-template="app/common/templates/operation-window-layout.html">
  <div data-block="content" class="window-main-content">
    <table class="table table-striped table-hover table-responsive table-bordered ">
      <tbody>
      <tr>
        <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4">
          <b once-text="'Selected BIS Model'|translate"></b>
        </td>
        <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4">
          {{taskData.value}}
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
