<div class="window-extend-block" data-extend-template="app/common/templates/operation-window-layout.html">

  <md-content>

    <md-tabs md-dynamic-height md-border-bottom>

      <md-tab label="{{config.labels.allEmployees}}">

        <md-content class="md-padding">

          <table class="table border bordered">
            <thead>
            <tr>
              <th class="sortable-column " once-text="'Last Name'|translate"></th>
              <th class="sortable-column " once-text="'First Name'|translate"></th>
              <th class="sortable-column " once-text="'Middle Name'|translate"></th>
              <th class="sortable-column " once-text="'Actions'|translate"></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="employee in  employeesData.employees">
              <td>{{employee.personData.lastName.nameAz}}</td>
              <td>{{employee.personData.firstName.nameAz}}</td>
              <td>{{employee.personData.middleName.nameAz}}</td>
              <td>
                <div class="center-align">

                  <md-button class="md-micro md-fab"
                             aria-label="edit button"
                             ng-click="showRepresentativeUpdateForm($index,employeesData.employees,data.representativeAddWindow)">
                    <span class="micro-glyphicon glyphicon glyphicon-edit"></span>
                    <md-tooltip><span once-text="'Edit Personal Details'|translate"></span></md-tooltip>
                  </md-button>


                  <md-button class="md-micro md-fab"
                             aria-label="delete button"
                             ng-click="removeRepresentative($index,employeesData.employees)">
                    <span class="micro-glyphicon glyphicon glyphicon-trash"></span>
                    <md-tooltip><span once-text="'Delete'|translate"></span></md-tooltip>
                  </md-button>

                </div>
              </td>
            </tr>
            </tbody>
          </table>
          <md-button class="md-micro md-fab" ng-click="openWindow(data.representativeAddWindow)"
                     aria-label="search button">

            <i class="glyphicon glyphicon-plus micro-glyphicon"></i>
            <md-tooltip><span once-text="'Add New Employee'|translate"></span></md-tooltip>

          </md-button>
          <div kendo-window="data.representativeAddWindow"
               k-title="'Add New Employee'"

               k-modal="true"
               k-width="'80%'"
               k-height="'80%'"
               k-visible="false"
               k-on-close="resetRepresentativesBuffer(data.representativeAddWindow,data.config.formName)">
            <div ng-include="'app/person-account/templates/partials/np/representative_form.html'"></div>

          </div>

        </md-content>

      </md-tab>

      <md-tab label="{{config.labels.orgNodeStructure}}">

        <md-content class="md-padding">

          <div kendo-tree-view="config.tree"
               k-drag-and-drop="true"
               k-data-source="treeData"
               k-on-change="orgNodeSelected(dataItem)"
               k-drop="employeeDrop"
               k-dragstart="employeeDragStart"
            >

            <div k-template>

              <strong class="tree-label pull-left">

               <span ng-if="dataItem.orgNodeClass.code === 'ORGNODE_CONTEXT' " class="glyphicon glyphicon-home">
                 <md-tooltip md-direction="top">
                   <span once-text="'Context'|translate"></span>
                 </md-tooltip>
               </span>
              <span ng-if="dataItem.orgNodeClass.code === 'ORGNODE_POSITION' " class="glyphicon glyphicon-briefcase">
                 <md-tooltip md-direction="top">
                   <span once-text="'Position'|translate"></span>
                 </md-tooltip>
               </span>
              <span ng-if="dataItem.orgNodeClass.code === 'ORGNODE_GROUP' " class="icon icon-groups">
                <md-tooltip md-direction="top">
                  <span once-text="'Group'|translate"></span>
                </md-tooltip>
              </span>

              <span ng-if="dataItem.orgNodeClass.code === 'ORGNODE_UNIT' " class="icon icon-unit">
                <md-tooltip md-direction="top">
                  <span once-text="'Unit'|translate"></span>
                </md-tooltip>
              </span>

              <span ng-if="dataItem.orgNodeClass.code === 'ORGNODE_PERSON' "
                    class="glyphicon glyphicon-user">
                 <md-tooltip md-direction="top">
                   <span once-text="'Person'|translate"></span>
                 </md-tooltip>
               </span>

                {{dataItem.name.nameAz}}
              </strong>

              <div class="tree-action-buttons">
                <md-button
                  ng-if="dataItem.orgNodeClass.code.indexOf('ORGNODE_PERSON') > -1"
                  aria-label="right arrow button"
                  type="button" ng-click="removeFromTree(dataItem)"
                  class="md-icon-button fg-red pull-right">
                  <md-tooltip md-direction="left">
                    <span once-text="'Delete'|translate"></span>
                  </md-tooltip>
                  <span class="glyphicon glyphicon-remove"></span>
                </md-button>
              </div>

            </div>

          </div>

        </md-content>

      </md-tab>

    </md-tabs>

  </md-content>
</div>
