<div class="window-extend-block" data-extend-template="app/common/templates/operation-window-layout.html">
  <div data-block="content" class="window-main-content">
    <md-content>
      <md-tabs md-dynamic-height md-border-bottom>

        <md-tab label="{{config.labels.accountParameters}}">

          <md-content class="md-padding">

            <legend once-text="'DEPO Accounts'|translate"></legend>

            <div class="row">
              <div class="col-lg-2 col-md-4 col-sm-4 col-xs-6">
                <div class="form-group text-right">

                  <label>{{taskData.accountConfiguration.depoAccountConfiguration.collectiveAccount.name}}:</label>
                </div>
              </div>
              <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                <md-switch disabled
                           ng-model="taskData.accountConfiguration.depoAccountConfiguration.collectiveAccount.isEnabled"
                           aria-label="No/Yes"
                           class="no-margin">
                </md-switch>
              </div>
            </div>

            <div
              ng-show="taskData.accountConfiguration.depoAccountConfiguration.collectiveAccount.isEnabled">
              <div class="row">
                <div class="col-lg-2 col-md-4 col-sm-4 col-xs-6">
                  <div class="form-group text-right">

                    <label>{{taskData.accountConfiguration.depoAccountConfiguration.jointAccount.name}}:</label>
                  </div>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                  <md-switch disabled
                             ng-model="taskData.accountConfiguration.depoAccountConfiguration.jointAccount.isEnabled"

                             aria-label="No/Yes"
                             class="no-margin">
                  </md-switch>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-2 col-md-4 col-sm-4 col-xs-6">
                  <div class="form-group text-right">

                    <label>{{taskData.accountConfiguration.depoAccountConfiguration.coownerAccount.name}}:</label>
                  </div>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                  <md-switch disabled
                             ng-model="taskData.accountConfiguration.depoAccountConfiguration.coownerAccount.isEnabled"

                             aria-label="No/Yes"
                             class="no-margin">
                  </md-switch>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-2 col-md-4 col-sm-4 col-xs-6">
                <div class="form-group text-right">

                  <label>{{taskData.accountConfiguration.depoAccountConfiguration.nomineeAccount.name}}:</label>
                </div>
              </div>
              <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                <md-switch disabled
                           ng-model="taskData.accountConfiguration.depoAccountConfiguration.nomineeAccount.isEnabled"

                           aria-label="No/Yes"
                           class="no-margin">
                </md-switch>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-2 col-md-4 col-sm-4 col-xs-6">
                <div class="form-group text-right">

                  <label>{{taskData.accountConfiguration.depoAccountConfiguration.custodianAccount.name}}:</label>
                </div>
              </div>
              <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                <md-switch disabled
                           ng-model="taskData.accountConfiguration.depoAccountConfiguration.custodianAccount.isEnabled"

                           aria-label="No/Yes"
                           class="no-margin">
                </md-switch>
              </div>
            </div>

            <legend once-text="'General Accounts'|translate"></legend>
            <div class="row"
                 ng-repeat="field in taskData.accountConfiguration.generalAccountConfiguration">
              <div class="col-lg-2 col-md-4 col-sm-4 col-xs-6">
                <div class="form-group text-right">

                  <label>{{field.name}}:</label>

                </div>
              </div>
              <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                <md-switch disabled ng-model="field.isEnabled"
                           aria-label="No/Yes"
                           class="no-margin">
                </md-switch>
              </div>
            </div>
          </md-content>

        </md-tab>


      </md-tabs>

    </md-content>

  </div>
</div>
