<div class="window-extend-block" data-extend-template="app/common/templates/operation-window-layout.html">
  <div data-block="content" class="window-main-content">
    <div
      role="form"
      ng-form="config.form.name"
      ng-submit="config.buttons.complete.click()">
      <h3 once-text="'Holding Report'| translate" class="padding20"></h3>
      <div class="forms form-group inline-block">
        <label class="form-labels">
          <span class="required-sign">*</span>
          <span once-text="'Signer Name' | translate"></span>:
        </label>
        <div class="form-inputs">
          <input
            type="text"
            class="k-textbox"
            name="amount"
            ng-model="manageOperationPositionData.holdingReportSignerName"
            ng-required=""
            >
        </div>

      </div>
      <div class="forms form-group inline-block">
        <label class="form-labels">
          <span class="required-sign">*</span>
          <span once-text="'Signer Position' | translate"></span>:
        </label>
        <div class="form-inputs">
          <input
            type="text"
            class="k-textbox"
            name="amount"
            ng-model="manageOperationPositionData.holdingReportSignerPosition"
            ng-required=""
            >
        </div>

      </div>
      <h3 once-text="'Account Statement'|translate" class="padding20"></h3>
      <div class="forms form-group inline-block">
        <label class="form-labels">
          <span class="required-sign">*</span>
          <span once-text="'Signer Name' | translate"></span>:
        </label>
        <div class="form-inputs">
          <input
            type="text"
            class="k-textbox"
            name="amount"
            ng-model="manageOperationPositionData.accountStatementSignerName"
            ng-required=""
            >
        </div>

      </div>
      <div class="forms form-group inline-block">
        <label class="form-labels">
          <span class="required-sign">*</span>
          <span once-text="'Signer Position' | translate"></span>:
        </label>
        <div class="form-inputs">
          <input
            type="text"
            class="k-textbox"
            name="amount"
            ng-model="manageOperationPositionData.accountStatementSignerPosition"
            ng-required=""
            >
        </div>

      </div>
      <div class="forms form-group inline-block">
        <label class="form-labels">
          <span class="required-sign">*</span>
          <span once-text="'Operator Name' | translate"></span>:
        </label>
        <div class="form-inputs">
          <input
            type="text"
            class="k-textbox"
            name="amount"
            ng-model="manageOperationPositionData.accountStatementOperatorName"
            ng-required=""
            >
        </div>

      </div>
      <div class="forms form-group inline-block">
        <label class="form-labels">
          <span class="required-sign">*</span>
          <span once-text="'Operator Position' | translate"></span>:
        </label>
        <div class="form-inputs">
          <input
            type="text"
            class="k-textbox"
            name="amount"
            ng-model="manageOperationPositionData.accountStatementOperatorPosition"
            ng-required=""
            >
        </div>

      </div>
      <h3 once-text="'Title Abstract'|translate" class="padding20"></h3>
      <div class="forms form-group inline-block">
        <label class="form-labels">
          <span class="required-sign">*</span>
          <span once-text="'Signer Name' | translate"></span>:
        </label>
        <div class="form-inputs">
          <input
            type="text"
            class="k-textbox"
            name="amount"
            ng-model="manageOperationPositionData.titleAbstractSignerName"
            ng-required=""
            >
        </div>

      </div>
      <div class="forms form-group inline-block">
        <label class="form-labels">
          <span class="required-sign">*</span>
          <span once-text="'Signer Position' | translate"></span>:
        </label>
        <div class="form-inputs">
          <input
            type="text"
            class="k-textbox"
            name="amount"
            ng-model="manageOperationPositionData.titleAbstractSignerPosition"
            ng-required=""
            >
        </div>

      </div>
      <div class="forms form-group inline-block">
        <label class="form-labels">
          <span class="required-sign">*</span>
          <span once-text="'Operator Name' | translate"></span>:
        </label>
        <div class="form-inputs">
          <input
            type="text"
            class="k-textbox"
            name="amount"
            ng-model="manageOperationPositionData.titleAbstractOperatorName"
            ng-required=""
            >
        </div>

      </div>
      <div class="forms form-group inline-block">
        <label class="form-labels">
          <span class="required-sign">*</span>
          <span once-text="'Operator Position' | translate"></span>:
        </label>
        <div class="form-inputs">
          <input
            type="text"
            class="k-textbox"
            name="amount"
            ng-model="manageOperationPositionData.titleAbstractOperatorPosition"
            ng-required=""
            >
        </div>

      </div>
    </div>
  </div>
</div>
