<div class="window-extend-block" data-extend-template="app/common/templates/operation-window-layout.html">
    <div data-block="content" class="window-main-content">

        <div
                role="form"
                ng-form="config.form.name"
                ng-submit="config.buttons.complete.click()"
                class="div-full-height"
                >

            <!--<md-tabs flex layout="column" class="div-full-height min-height-500 ">-->
                <!--<md-tab flex layout="column" layout-fill label="{{config.labels.operationParam}}">-->
                    <!--<md-tab-content flex layout-fill>-->
                        <table class="table border bordered">
                            <thead>
                            <tr>
                                <th class="sortable-column" once-text="'Operation'|translate"></th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr bindonce
                                ng-class="{'row-error': operation.isConfidential}"
                                ng-repeat="operation in  operationParamData.operationParameterDataGroup">
                                <td>

                                    <div ng-class="operation.hasError?'has-error':''">
                                        <p once-text="'[ '+operation.operationKey+' ] '+operation.operationName['name'+lnC]"></p>

                                        <p><b class="has-error" ng-show="operation.hasError"
                                              once-text="'Invalid configuration!'|translate"></b></p>
                                    </div>

                                </td>
                                <td>
                                    <div class="center-align">
                                        <md-button class="md-micro md-fab" aria-label="edit button"
                                                   ng-click="showOperationParamForm($index)">
                                            <span class="micro-glyphicon glyphicon glyphicon-edit"></span>
                                            <md-tooltip><span once-text="'Edit'|translate"></span></md-tooltip>
                                        </md-button>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <div kendo-window="buffers.operationParam.window"
                             k-modal="true"
                             k-width="'90%'"
                             k-height="'90%'"
                             k-visible="false"
                             k-on-close="resetOperationParamBuffer()">
                            <div class="div-full-height"
                                 ng-include="'app/configurations/templates/partials/process-updating-operation-parameters.html'">
                            </div>

                        </div>
                    <!--</md-tab-content>-->

                <!--</md-tab>-->
            <!--</md-tabs>-->

        </div>
    </div>

</div>
