<div class="window-extend-block" data-extend-template="app/common/templates/operation-window-layout.html">
  <div data-block="content" class="window-main-content">

    <div role="form" ng-form="config.form.name" ng-submit="config.buttons.complete.click()">
      <md-content class="no-scroll">
        <table class="table border bordered">
          <thead>
          <tr>
            <th class="sortable-column " once-text="'Broker'|translate"></th>
            <th class="sortable-column " once-text="'Client'|translate"></th>
            <th class="sortable-column " once-text="'Instrument'|translate"></th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="whitelistItem in  whitelistItemsData.vmOrderWhiteLists">
            <td>
              <span once-text="whitelistItem.broker.name"></span>
            </td>
            <td>
              <span once-text="whitelistItem.client.name"></span>
            </td>
            <td>
              <span once-text="whitelistItem.instrument.ISIN"></span>
            </td>
            <td>
              <div class="center-align">
                <md-button class="md-micro md-fab"
                           ng-if="whitelistItem.ID"
                           ng-click="showReadOnlyView($index)"
                           aria-label="search button">

                  <i class="glyphicon glyphicon-eye-open micro-glyphicon"></i>
                  <md-tooltip><span once-text="'Show Item Details'|translate"></span></md-tooltip>

                </md-button>
                <md-button ng-if="!whitelistItem.ID" class="md-micro md-fab"
                           aria-label="edit button"
                           ng-click="showWhitelistItemUpdateForm($index)">
                  <span class="micro-glyphicon glyphicon glyphicon-edit"></span>
                  <md-tooltip><span once-text="'Edit Item'|translate"></span></md-tooltip>
                </md-button>
                <md-button class="md-micro md-fab"
                           aria-label="delete button"
                           ng-click="removeWhitelistItem($index)">
                  <span class="micro-glyphicon glyphicon glyphicon-trash"></span>
                  <md-tooltip><span once-text="'Delete Item'|translate"></span></md-tooltip>
                </md-button>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
        <md-button class="md-micro md-fab" ng-click="openWindow(buffers.whitelistItem.whitelistItemManageWindow)"
                   aria-label="search button">

          <i class="glyphicon glyphicon-plus micro-glyphicon"></i>
          <md-tooltip><span once-text="'Add New Item'|translate"></span></md-tooltip>

        </md-button>
        <div kendo-window="buffers.whitelistItem.whitelistItemManageWindow"
             k-title="'Add New Whitelist'"
             k-modal="true"
             k-height="'80%'"
             k-width="'80%'"
             k-visible="false"
             k-on-close="resetWhitelistItemBuffer()">
          <div ng-include="'app/configurations/templates/partials/order-whitelist-manage.html'"></div>
        </div>
      </md-content>
    </div>
  </div>
</div>
