<div class="window-extend-block" data-extend-template="app/common/templates/operation-window-layout.html">
  <div data-block="content" class="window-main-content">
    <md-content class="no-scroll">
      <table class="table border bordered">
        <thead>
        <tr>
          <th class="sortable-column " once-text="'Broker'|translate"></th>
          <th class="sortable-column " once-text="'Client'|translate"></th>
          <th class="sortable-column " once-text="'Instrument'|translate"></th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="whitelistItem in  whitelistItemsData.vmOrderWhiteLists">
          <td>
            <span once-text="whitelistItem.broker.name"></span>
          </td>
          <td>
            <span once-text="whitelistItem.client.name"></span>
          </td>
          <td>
            <span once-text="whitelistItem.instrument.ISIN"></span>
          </td>
          <td>
            <div class="center-align">
              <md-button class="md-micro md-fab"
                         ng-click="showReadOnlyView($index)"
                         aria-label="search button">

                <i class="glyphicon glyphicon-eye-open micro-glyphicon"></i>
                <md-tooltip><span once-text="'Show Item Details'|translate"></span></md-tooltip>

              </md-button>
            </div>
          </td>
        </tr>
        </tbody>
      </table>

      <div kendo-window="buffers.whitelistItem.whitelistItemManageWindow"
           k-title="'Add New Whitelist'"
           k-modal="true"
           k-height="'80%'"
           k-width="'80%'"
           k-visible="false"
           k-on-close="resetWhitelistItemBuffer()">
        <div class="add-new-whitelistItem">
          <div class="add-new-whitelistItem-buttons">
            <md-button class="md-micro md-fab pull-right"
                       aria-label="..."
                       ng-click="_closeWindow(buffers.whitelistItem.whitelistItemManageWindow)"
                       type="submit">
              <i class="glyphicon glyphicon-remove micro-glyphicon"></i>
              <md-tooltip md-direction="down">
                <span once-text="'Close'|translate"></span>
              </md-tooltip>
            </md-button>

          </div>

          <div ng-repeat="item in [buffers.whitelistItem.form]">
            <div ng-include="'app/configurations/templates/partials/order-whitelist-item-details.html'"></div>
          </div>
        </div>

      </div>
    </md-content>
  </div>
</div>
