<div class="window-extend-block" data-extend-template="app/common/templates/operation-window-layout.html">
  <div data-block="content" class="window-main-content">
    <div role="form" ng-form="config.form.name" ng-submit="config.buttons.complete.click()">
      <div class="box-col">

        <div kendo-tree-view="config.tree"
             k-expanded="true"
             k-drag-and-drop="true"
             k-data-source="treeData"
             k-dragstart="nodeDragStart"
          >
          <div k-template>

            <strong class="tree-label pull-left">
              <span ng-if="dataItem.orgNodeClass.code === 'ORGNODE_CONTEXT' " class="glyphicon glyphicon-home">
                 <md-tooltip md-direction="top">
                   <span once-text="'Context'|translate"></span>
                 </md-tooltip>
               </span>
              <span ng-if="dataItem.orgNodeClass.code === 'ORGNODE_POSITION' " class="glyphicon glyphicon-briefcase">
                 <md-tooltip md-direction="top">
                   <span once-text="'Position'|translate"></span>
                 </md-tooltip>
               </span>
              <span ng-if="dataItem.orgNodeClass.code === 'ORGNODE_GROUP' " class="icon icon-groups">
                <md-tooltip md-direction="top">
                  <span once-text="'Group'|translate"></span>
                </md-tooltip>
              </span>
              <span ng-if="dataItem.orgNodeClass.code === 'ORGNODE_UNIT' " class="icon icon-unit">
                <md-tooltip md-direction="top">
                  <span once-text="'Unit'|translate"></span>
                </md-tooltip>
              </span>
              <span ng-if="dataItem.orgNodeClass.code === 'ORGNODE_PERSON' " class="glyphicon glyphicon-user">
                 <md-tooltip md-direction="top">
                   <span once-text="'Person'|translate"></span>
                 </md-tooltip>
               </span>

              {{dataItem.name['name'+lnC]}}
            </strong>

            <div class="tree-action-buttons">

              <md-button
                ng-if="dataItem.orgNodeClass.code  == metaData.orgNodeClassConstants.context || dataItem.orgNodeClass.code == metaData.orgNodeClassConstants.group  ||  dataItem.orgNodeClass.code == metaData.orgNodeClassConstants.unit"
                aria-label="right arrow button" type="button"
                ng-click="addNewChild(dataItem)"
                class="pull-left md-icon-button fg-dark">

                <md-tooltip md-direction="left">
                  <span once-text="'Add Child'|translate"></span>
                </md-tooltip>
                <span class="glyphicon glyphicon-plus"></span>
              </md-button>

              <md-button
                          ng-if="!dataItem.isSystem"
                         aria-label="right arrow button"
                         type="button"
                         ng-click="showOrgNodeUpdateForm(dataItem)"
                         class="md-icon-button fg-dark centeer-block">
                <md-tooltip md-direction="left">
                  <span once-text="'Edit'|translate"></span>
                </md-tooltip>
                <span class="glyphicon glyphicon-edit"></span>
              </md-button>

              <md-button ng-if="!dataItem.isSystem"
                         aria-label="right arrow button"
                         type="button" ng-click="remove(dataItem)"
                         class="md-icon-button fg-red pull-right">
                <md-tooltip md-direction="left">
                  <span once-text="'Delete'|translate"></span>
                </md-tooltip>
                <span class="glyphicon glyphicon-remove"></span>
              </md-button>
            </div>
          </div>
        </div>

      </div>

    </div>

    <div kendo-window="config.orgNodeAddWindow"

         k-width="'540px'"
         k-title="config.labels.orgNode"
         k-visible="false" k-modal="true"
         k-on-close="resetOrgNodeBuffer()">

      <div ng-include="'app/configurations/templates/partials/org-node-add-window.html'"></div>
    </div>
  </div>

</div>
