<div class="window-extend-block" data-extend-template="app/common/templates/operation-window-layout.html">
  <div data-block="content" class="window-main-content">

    <div kendo-tree-view="config.tree"
         k-drag-and-drop="true"
         k-data-source="treeData">

      <div k-template>
        <strong class="tree-label pull-left">
               <span ng-if="dataItem.orgNodeClass.code === 'ORGNODE_CONTEXT' " class="glyphicon glyphicon-home">
                 <md-tooltip md-direction="top">
                   <span once-text="'Context'|translate"></span>
                 </md-tooltip>
               </span>
              <span ng-if="dataItem.orgNodeClass.code === 'ORGNODE_POSITION' " class="glyphicon glyphicon-briefcase">
                 <md-tooltip md-direction="top">
                   <span once-text="'Position'|translate"></span>
                 </md-tooltip>
               </span>
              <span ng-if="dataItem.orgNodeClass.code === 'ORGNODE_GROUP' " class="icon icon-groups">
                <md-tooltip md-direction="top">
                  <span once-text="'Group'|translate"></span>
                </md-tooltip>
              </span>

              <span ng-if="dataItem.orgNodeClass.code === 'ORGNODE_UNIT' " class="icon icon-unit">
                <md-tooltip md-direction="top">
                  <span once-text="'Unit'|translate">unit</span>
                </md-tooltip>
              </span>

              <span ng-if="dataItem.orgNodeClass.code === 'ORGNODE_PERSON' "
                    class="glyphicon glyphicon-user">
                 <md-tooltip md-direction="top">
                   <span once-text="'Person'|translate"></span>
                 </md-tooltip>
               </span>
          {{dataItem.name.nameAz}}
        </strong>
      </div>
    </div>

  </div>

</div>
