<div class="window-extend-block" data-extend-template="app/common/templates/operation-window-layout.html">
  <div data-block="content" class="window-main-content">

    <div ng-show="config.showConfigurationDetails"
         class="person-details-view padding10  fg-dark">
      <md-button
        aria-label="right arrow button"
        type="button"
        ng-click="toggleConfigurationDetailsView()"
        class="md-micro md-fab pull-right">
        <!--<span once-text="'Close'|translate"></span>-->
        <span class="glyphicon glyphicon-arrow-right micro-glyphicon"></span>
      </md-button>
      <!--<div class="md-raised md-button clearing"></div>-->

      <div class="content-block " ng-repeat="buff in [buffer] "
           ng-include="'app/configurations/templates/partials/person-data-configurations.html'">
      </div>
    </div>

    <div class="div-full-height" role="form" ng-form="config.form.name" ng-submit="config.buttons.complete.click()">

      <md-tabs flex layout="column" class="div-full-height min-height-500 ">

        <md-tab label="{{config.labels.insert}}" layout-fill>
          <md-tab-content flex layout-fill>
              <table class="table border bordered">
                <thead>
                <tr>
                  <!-- First column header is not rotated -->
                  <th once-text="'Role (Who Inserts)'|translate"></th>
                  <!-- Following headers are rotated -->
                  <th ng-repeat="role in personFieldConfigurationData.insertConfiguration.subjects[0].objects">
                    <div><span once-text="role.objectClass['name'+lnC]"></span></div>
                  </th>

                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="(subjectKey,subject) in personFieldConfigurationData.insertConfiguration.subjects">
                  <td once-text="subject.subjectClass['name'+lnC]"></td>
                  <td ng-repeat="(objectKey,objectRole) in subject.objects">

                    <md-switch ng-disabled="objectRole.readonly" class=" md-cst-checkbox-edited"
                               ng-model="objectRole.enabled" ng-change="changeAvailability(subjectKey,objectKey,objectRole.enabled,metaData.operationTypeClasses.OPERATION_TYPE_INSERT.code)"
                               aria-label="l">
                    </md-switch>

                    <div ng-if="objectRole.enabled==true">
                      <md-button type="button"
                                 class="search-icon-style md-fab md-micro "
                                 aria-label="Search"
                                 ng-click="toggleConfigurationDetailsView(subjectKey,objectKey,objectRole,subject.subjectClass,metaData.operationTypeClasses.OPERATION_TYPE_INSERT.code)">
                        <i class="glyphicon glyphicon-cog"></i>
                      </md-button>
                    </div>
                  </td>
                </tr>
                </tbody>
              </table>
          </md-tab-content>
        </md-tab>
        <md-tab label="{{config.labels.update}}" layout-fill>
          <md-tab-content flex layout-fill>
              <table class="table border bordered">
                <thead>
                <tr>
                  <!-- First column header is not rotated -->
                  <th once-text="'Role (Who Updates)'|translate"></th>
                  <!-- Following headers are rotated -->
                  <th ng-repeat="role in personFieldConfigurationData.updateConfiguration.subjects[0].objects">
                    <div><span once-text="role.objectClass['name'+lnC]"></span></div>
                  </th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="(subjectKey,subject) in personFieldConfigurationData.updateConfiguration.subjects">
                  <td once-text="subject.subjectClass['name'+lnC]"></td>
                  <td ng-repeat="(objectKey,objectRole) in subject.objects">

                    <md-switch ng-disabled="objectRole.readonly" class=" md-cst-checkbox-edited"
                               ng-model="objectRole.enabled"
                               ng-change="changeAvailability(subjectKey,objectKey,objectRole.enabled,metaData.operationTypeClasses.OPERATION_TYPE_UPDATE.code)"

                               aria-label="l">
                    </md-switch>

                    <div ng-if="objectRole.enabled==true">
                      <md-button type="button"
                                 class="search-icon-style md-fab md-micro"
                                 aria-label="Search"
                                 ng-click="toggleConfigurationDetailsView(subjectKey,objectKey,objectRole,subject.subjectClass,metaData.operationTypeClasses.OPERATION_TYPE_UPDATE.code)">
                        <i class="glyphicon glyphicon-cog"></i>
                      </md-button>
                    </div>

                  </td>
                </tr>
                </tbody>
              </table>
          </md-tab-content>
        </md-tab>

      </md-tabs>

    </div>


  </div>

</div>
