<div class="window-extend-block" data-extend-template="app/common/templates/operation-window-layout.html">
  <div data-block="content" class="window-main-content">

    <div class="div-full-height" ng-form="config.form.name" ng-submit="config.buttons.complete.click()">

      <md-tabs flex layout="column" class="div-full-height min-height-500 ">

        <md-tab label="{{config.labels.availabilityParameters}}" layout-fill>

          <md-tab-content flex layout-fill>
              <table class="table border bordered">
                <thead>
                <tr class="text-center">
                  <td class="text-center" colspan="4" once-text="'Member'|translate"></td>
                  <td class="text-center" colspan="3" once-text="'Representative'|translate"></td>
                  <td class="text-center" rowspan="2" once-text="'User'|translate"></td>
                </tr>
                <tr>
                  <td class="text-center" once-text="'Type'|translate"></td>
                  <td class="text-center" once-text="'Is Active'|translate"></td>
                  <td class="text-center" once-text="'Juridical'|translate"></td>
                  <td class="text-center" once-text="'Natural'|translate"></td>
                  <td class="text-center" once-text="'Has'|translate"></td>
                  <td class="text-center" once-text="'Juridical'|translate"></td>
                  <td class="text-center" once-text="'Natural'|translate"></td>

                </tr>
                </thead>
                <tbody>

                <tr bindonce ng-repeat="member in roleRulesManagementData.roleConfigurations">
                  <td once-text="member.role['name'+lnC]"></td>
                  <td class="no-padding">
                    <md-switch class=" md-cst-checkbox"
                               ng-disabled="member.memberEnabledReadonly"
                               ng-model="member.memberEnabled"
                               aria-label="l">
                    </md-switch>
                  </td>
                  <td class="no-padding">
                    <md-switch class=" md-cst-checkbox"
                               ng-disabled="member.juridicalMemberEnabledReadonly"
                               ng-model="member.juridicalMemberEnabled"
                               aria-label="l">
                    </md-switch>
                  </td>
                  <td class="no-padding">
                    <md-switch class=" md-cst-checkbox"
                               ng-disabled="member.naturalMemberEnabledReadonly"
                               ng-model="member.naturalMemberEnabled"
                               aria-label="l">
                    </md-switch>
                  </td>
                  <td class="no-padding">
                    <md-switch
                      ng-disabled="member.hasRepresentativeReadonly"
                      class="md-warn md-cst-checkbox role-rules-has-column-position"
                      ng-model="member.hasRepresentative"
                      aria-label="l">
                    </md-switch>
                  </td>
                  <td class="no-padding">
                    <md-switch class=" md-cst-checkbox"
                               ng-disabled="member.juridicalRepresentativeEnabledReadonly"
                               ng-model="member.juridicalRepresentativeEnabled"
                               aria-label="l">
                    </md-switch>
                  </td>
                  <td class="no-padding">
                    <md-switch class=" md-cst-checkbox"
                               ng-disabled="member.naturalRepresentativeEnabledReadonly"
                               ng-model="member.naturalRepresentativeEnabled"
                               aria-label="l">
                    </md-switch>
                  </td>
                  <td class="no-padding">
                    <md-radio-group ng-model="member.hasUserInterface" layout="row"
                                    ng-disabled="member.hasUserInterfaceReadonly" class="md-primary">
                      <md-radio-button ng-disabled="member.hasUserInterfaceReadonly" ng-value="true"
                                       class="md-primary ">
                        <span once-text="'Yes'|translate"></span>
                      </md-radio-button>
                      <md-radio-button ng-disabled="member.hasUserInterfaceReadonly" ng-value="false"><span
                        once-text="'No'|translate"></span></md-radio-button>
                      <md-radio-button ng-disabled="member.hasUserInterfaceReadonly" ng-value="null"><span
                        once-text="'Operator\'s Choice'|translate"></span>
                      </md-radio-button>
                    </md-radio-group>
                  </td>
                </tr>
                </tbody>
              </table>
          </md-tab-content>

        </md-tab>

        <md-tab label="{{config.labels.combinationOfTheRoles}}" layout-fill>

          <md-tab-content flex layout-fill>
              <table class="table border bordered">
                <thead>
                <tr>
                  <!-- First column header is not rotated -->
                  <th once-text="'Role (New Role)'|translate"></th>
                  <!-- Following headers are rotated -->
                  <th bindonce
                      ng-repeat="role in roleRulesManagementData.multipleRolesConfigurations[0].additionalRoles">
                    <div class="v-align-middle"><span once-text="role.role['name'+lnC]"></span></div>
                  </th>
                </tr>
                </thead>
                <tbody>
                <tr bindonce ng-repeat="role in roleRulesManagementData.multipleRolesConfigurations">
                  <td ng-init="parentIndex = $index" class="row-header " once-text="role.role['name'+lnC]"></td>
                  <td ng-repeat="aRole in role.additionalRoles" class="no-padding">

                    <md-switch ng-if="parentIndex!=$index" ng-disabled="aRole.readonly" class="md-cst-checkbox"
                               ng-model="aRole.enabled"
                               aria-label="l">
                    </md-switch>
                  </td>
                  <td
                    bo-if="((parentIndex+1) == ($index+1)) && ((parentIndex+1) == roleRulesManagementData.multipleRolesConfigurations.length)"></td>
                </tr>
                </tbody>
              </table>
          </md-tab-content>

        </md-tab>

      </md-tabs>

    </div>

  </div>

</div>
