<div class="window-extend-block" data-extend-template="app/common/templates/operation-window-layout.html">
  <div data-block="content" class="window-main-content">

    <div role="form" ng-form="config.form.name" ng-submit="config.buttons.complete.click()">
      <md-content class="no-scroll">
        <table class="table border bordered">
          <thead>
          <tr>
            <th class="sortable-column " once-text="'Name'|translate"></th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="employee in  usersData.employees">
            <td ng-class="!employee.username?'text-danger':''">
              <span once-text="employee.person.nameAz"></span>
            </td>
            <td>
              <div class="center-align">
                <md-button ng-if="!employee.username" class="md-micro md-fab"
                           ng-click="showUserCreationForm($index)"
                           aria-label="search button">

                  <i class="glyphicon glyphicon-plus micro-glyphicon"></i>
                  <md-tooltip><span once-text="'Add New User'|translate"></span></md-tooltip>

                </md-button>

                <md-button ng-if="employee.username" class="md-micro md-fab"
                           aria-label="edit button"
                           ng-click="showUserUpdateForm($index)">
                  <span class="micro-glyphicon glyphicon glyphicon-edit"></span>
                  <md-tooltip><span once-text="'Edit User Details'|translate"></span></md-tooltip>
                </md-button>


                <md-button ng-if="employee.username" class="md-micro md-fab"
                           aria-label="delete button"
                           ng-click="removeUser($index)">
                  <span class="micro-glyphicon glyphicon glyphicon-trash"></span>
                  <md-tooltip><span once-text="'Delete User'|translate"></span></md-tooltip>
                </md-button>

              </div>
            </td>
          </tr>
          </tbody>
        </table>
        <div kendo-window="buffers.user.userManageWindow"
             k-title="'Add New User'"
             k-modal="true"
             k-width="'400px'"
             k-height="'320px'"
             k-visible="false"
             style="overflow: hidden !important;"
             k-on-close="resetUserBuffer()">
          <div ng-include="'app/configurations/templates/partials/user-manage.html'"></div>
        </div>
      </md-content>
    </div>
  </div>
</div>
