<div class="window-extend-block" data-extend-template="app/common/templates/operation-window-layout.html">
  <div data-block="content" class="window-main-content">
    <table class="table border bordered">
      <thead>
      <tr>
        <th class="sortable-column " once-text="'Name'|translate"></th>
        <th class="sortable-column " once-text="'Username'|translate"></th>
        <th class="sortable-column " once-text="'Email'|translate"></th>
        <th class="sortable-column " once-text="'PIN Code'|translate"></th>
        <th class="sortable-column " once-text="'Strong Authentication Required'|translate"></th>
        <th class="sortable-column " once-text="'Is Suspended'|translate"></th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="employee in  taskData.employees">
        <td ng-class="!employee.username?'text-danger':''">{{employee.person.nameAz}}</td>
        <td>{{employee.username}}</td>
        <td>{{employee.email}}</td>
        <td>{{employee.pinCode}}</td>
        <td>
          <span ng-if="employee.strongAuthRequired==true" once-text="'Yes'|translate"></span>
          <span ng-if="!employee.strongAuthRequired==true" once-text="'No'|translate"></span>
        </td>
        <td>
          <span ng-if="employee.suspended==true" once-text="'Yes'|translate"></span>
          <span ng-if="!employee.suspended==true" once-text="'No'|translate"></span>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
