<div class="window-extend-block" data-extend-template="app/common/templates/view-window-layout.html">

    <div data-block="content">

        <div class="task-buttons-block">
            <div class="right-task-buttons-block" bindonce="">

                <md-button type="button" class="md-fab md-micro"
                           aria-label="Mini FAB"
                           ng-click="closeWindow()">

                    <i class="glyphicon glyphicon-remove micro-glyphicon"></i>

                    <md-tooltip md-direction="down">
                        <span once-text="'Close Window'|translate"></span>
                    </md-tooltip>

                </md-button>

            </div>
        </div>

        <div class="window-main-content">

          <md-button class="md-primary md-raised" aria-label="Export to excel" ng-click="exportAllAuthorizations()" style="box-shadow: none;margin: 0;    padding: 2px 5px !important;">
            Bütün avtorizasiyaları eksport et
          </md-button>
          <hr>

            <div class="box-col balance-grid">

                <div kendo-tree-view="config.tree"
                     k-data-source="treeData"
                        >

                    <div k-template>

                        <strong class="tree-label pull-left">
                                <span ng-if="dataItem.orgNodeClass.code === 'ORGNODE_CONTEXT' " class="glyphicon glyphicon-home">
                                    <md-tooltip md-direction="top">
                                        <span once-text="'Context'|translate"></span>
                                    </md-tooltip>
                                </span>
                                <span ng-if="dataItem.orgNodeClass.code === 'ORGNODE_POSITION' " class="glyphicon glyphicon-briefcase">
                                    <md-tooltip md-direction="top">
                                        <span once-text="'Position'|translate"></span>
                                    </md-tooltip>
                                </span>
                                <span ng-if="dataItem.orgNodeClass.code === 'ORGNODE_GROUP' " class="icon icon-groups">
                                    <md-tooltip md-direction="top">
                                        <span once-text="'Group'|translate"></span>
                                    </md-tooltip>
                                </span>
                                <span ng-if="dataItem.orgNodeClass.code === 'ORGNODE_UNIT' " class="icon icon-unit">
                                    <md-tooltip md-direction="top">
                                        <span once-text="'Unit'|translate">unit</span>
                                    </md-tooltip>
                                </span>
                                <span ng-if="dataItem.orgNodeClass.code === 'ORGNODE_PERSON' " class="glyphicon glyphicon-user">
                                    <md-tooltip md-direction="top">
                                        <span once-text="'Person'|translate"></span>
                                    </md-tooltip>
                                </span>
                            {{dataItem.name.nameAz}}
                        </strong>

                        <div class="tree-action-buttons">
                            <md-button
                                    aria-label="right arrow button"
                                    type="button" ng-click="viewOrgNode(dataItem, orgNodeItemWindow)"
                                    class="md-icon-button fg-red pull-right">
                                <md-tooltip md-direction="left">
                                    <span once-text="'View'|translate"></span>
                                </md-tooltip>
                                <span class="glyphicon glyphicon-eye-open"></span>
                            </md-button>
                        </div>

                    </div>

                </div>

                <div kendo-window="orgNodeItemWindow"
                     k-title="'View Organization Node'"
                     k-modal="true"
                     k-width="'63%'"
                     k-height="'70%'"
                     k-visible="false"
                     k-on-close="">


                    <md-tabs flex layout="column" class="div-full-height">

                        <md-tab
                                ng-repeat="(key, value) in orgNodeItem track by $index"
                                layout-fill label="{{config.labels[$index]}}" ng-if="value">
                            <md-tab-content flex layout-fill>

                                <md-content layout-fill>
                                    <md-content class="md-padding">

                                     <div layout="row">
                                       <div flex></div>
                                       <md-button class="md-primary md-raised" aria-label="Export to excel" ng-click="exportDataToExcel(value, key)" style="box-shadow: none;margin: 0;    padding: 2px 5px !important;">
                                         Excel-ə eksport
                                       </md-button>
                                     </div>

                                      <table class="table table-stripped">
                                        <thead>
                                          <tr>
                                            <th style="min-width: 300px;">Ad</th>
                                            <th ng-if="key != 'dashboards'" style="min-width: 150px;">Pəncərə nömrəsi</th>
                                            <th style="min-width: 160px;">Fərdi avtorizasiya</th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                          <tr ng-repeat="item in value track by $index">
                                            <td>{{item.name}}</td>
                                            <td ng-if="key != 'dashboards'">
                                              <div class="text-center">{{item.screenID}}</div>
                                            </td>
                                            <td>
                                              <md-checkbox aria-label="personal auth" ng-model="item.personalAuth" ng-true-value="'true'" ng-false-value="'false'" ng-disabled="true"></md-checkbox>
                                            </td>
                                          </tr>
                                        </tbody>
                                      </table>

                                    </md-content>
                                </md-content>

                            </md-tab-content>
                        </md-tab>


                    </md-tabs>
                </div>

            </div>
        </div>


    </div>

</div>
