<div class="tile-content iconic">
  <span ng-if="icon" class="icon {{icon}}"></span>
  <span ng-if="badge" class="tile-badge bg-darkRed">{{badge}}</span>
  <span ng-if="label" class="tile-label"> {{label}}</span>
</div>
