<div class="row account-information-switch" ng-if="!data.manualInputEnabled">
  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
    <div>
      <label><span class="md-checkbox-label small-check"
                   once-text="'Qeyri-rezident'|translate"></span>:</label>
      <label class="input-control input-control-edited main-form-switch-style">
        <md-switch ng-model="data.isResident" aria-label="Switch 1"
                   ng-change="residencyChange(data.isResident)"
                   class="d-cst-checkbox"></md-switch>
      </label>
    </div>
  </div>
</div>

<uib-accordion>

  <uib-accordion-group is-open="true">
    <div ng-include="'app/management/templates/partials/np/panels/i-personal-info.html'"></div>
  </uib-accordion-group>
  <!-- Personal Info Panel ]]-->


  <uib-accordion-group>
    <div ng-include="'app/management/templates/partials/np/panels/i-address.html'"></div>
  </uib-accordion-group>
  <!-- Actual address Panel ]]-->

  <uib-accordion-group>
    <div ng-include="'app/management/templates/partials/np/panels/i-contacts.html'"></div>
  </uib-accordion-group>
  <!-- Contact information Panel ]]-->
</uib-accordion>

<!-- ]] compare windows-->
<div
  kendo-window="buffers.addUser.compareWindow"
  k-modal="true"
  k-width="'50%'"
  k-height="'90%'"
  k-visible="false"
>
  <div class="div-full-height padding20">
    <div layout="row">
      <div flex> <!-- IAMAS -->
        <div style="text-align:center;font-weight:bold;">İAMAS</div>
        <div>Ad:</div>
        <div style="padding:5px;color:black;font-weight:bold;">{{data.form.iamas.iamasPerson.name['name' + lnC]}}</div>
        <div style="margin-top:20px;">Soyad:</div>
        <div style="padding:5px;color:black;font-weight:bold;">{{data.form.iamas.iamasPerson.surname['name' + lnC]}}</div>
        <div style="margin-top:20px;">Ata adı:</div>
        <div style="padding:5px;color:black;font-weight:bold;">{{data.form.iamas.iamasPerson.fathername['name' + lnC]}}</div>
        <div style="margin-top:20px;">Doğulduğu tarix:</div>
        <div style="padding:5px;color:black;font-weight:bold;">{{data.form.iamas.iamasPerson.birthDate|date: 'dd-MM-yyyy'}}</div>
        <div style="margin-top:20px;">Hüquqi ünvan:</div>
        <div style="padding:5px;color:black;font-weight:bold;">{{data.form.iamas.iamasPerson.legalAddress.value}}</div>
        <div style="margin-top:20px;">Seriya nömrəsi:</div>
        <div style="padding:5px;color:black;font-weight:bold;">{{data.form.iamas.iamasPerson.idCard.number}}</div>
      </div>
      <div flex ng-if="data.form.iamas.dataBasePerson"
           style="flex:initial; width:2px; margin:0 5px; background-color:black;"></div>
      <div flex ng-if="data.form.iamas.dataBasePerson"> <!-- DATABASE -->
        <div style="text-align:center;font-weight:bold;">CSDR</div>
        <div>Ad:</div>
        <div style="padding:5px;color:black;font-weight:bold;" ng-class="{ 'iamas-data-base-diff': data.form.iamas.dataBasePerson.name['name' + lnC] !== data.form.iamas.iamasPerson.name['name' + lnC]}">{{data.form.iamas.dataBasePerson.name.nameAz}}</div>
        <div style="margin-top:20px;">Soyad:</div>
        <div style="padding:5px;color:black;font-weight:bold;" ng-class="{ 'iamas-data-base-diff': data.form.iamas.dataBasePerson.surname['name' + lnC] !== data.form.iamas.iamasPerson.surname['name' + lnC]}">{{data.form.iamas.dataBasePerson.surname.nameAz}}</div>
        <div style="margin-top:20px;">Ata adı:</div>
        <div style="padding:5px;color:black;font-weight:bold;" ng-class="{ 'iamas-data-base-diff': data.form.iamas.dataBasePerson.fathername['name' + lnC] !== data.form.iamas.iamasPerson.fathername['name' + lnC]}">{{data.form.iamas.dataBasePerson.fathername.nameAz}}</div>
        <div style="margin-top:20px;">Doğulduğu tarix:</div>
        <div style="padding:5px;color:black;font-weight:bold;" ng-class="{ 'iamas-data-base-diff': data.form.iamas.dataBasePerson.birthDate !== data.form.iamas.iamasPerson.birthDate}">{{data.form.iamas.dataBasePerson.birthDate|date: 'dd-MM-yyyy'}}</div>
        <div style="margin-top:20px;">Hüquqi ünvan:</div>
        <div style="padding:5px;color:black;font-weight:bold;" ng-class="{ 'iamas-data-base-diff': data.form.iamas.dataBasePerson.legalAddress.value !== data.form.iamas.iamasPerson.legalAddress.value}">{{data.form.iamas.dataBasePerson.legalAddress.value}}</div>
        <div style="margin-top:20px;" >Seriya nömrəsi:</div>
        <div style="padding:5px;color:black;font-weight:bold;" ng-class="{ 'iamas-data-base-diff': data.form.iamas.dataBasePerson.idCard.number !== data.form.iamas.iamasPerson.idCard.number}">{{data.form.iamas.dataBasePerson.idCard.number}}</div>
      </div>
    </div>
    <div style="text-align:center;">
      <md-button
        class="k-primary k-button"
        aria-label="Button 3"
        style="margin-top:20px;"
        ng-click="loadIamas(data.form.iamas)"
      >Məlumatı yüklə <i class="glyphicon glyphicon-chevron-right"></i>
      </md-button>
    </div>
  </div>
</div>
<div
  kendo-window="buffers.addUser.selectedWindow"
  k-modal="true"
  k-width="'600px'"
  k-height="'400px'"
  k-visible="false"
>
  <div class="div-full-height padding20">
    <div>Ad:</div>
    <div style="padding:5px;color:black;font-weight:bold;">{{data.form.iamas.iamasPerson.name['name' + lnC]}}</div>
    <div style="margin-top:20px;">Soyad:</div>
    <div style="padding:5px;color:black;font-weight:bold;">{{data.form.iamas.iamasPerson.surname['name' + lnC]}}</div>
    <div style="margin-top:20px;">Ata adı:</div>
    <div style="padding:5px;color:black;font-weight:bold;">{{data.form.iamas.iamasPerson.fathername['name' + lnC]}}</div>
    <div style="margin-top:20px;">Doğulduğu tarixi:</div>
    <div style="padding:5px;color:black;font-weight:bold;">{{data.form.iamas.iamasPerson.birthDate|date: 'dd-MM-yyyy'}}</div>
    <div style="margin-top:20px;">Hüquqi ünvan:</div>
    <div style="padding:5px;color:black;font-weight:bold;">{{data.form.iamas.iamasPerson.legalAddress.value}}</div>
    <div style="margin-top:20px;">Seriya nömrəsi:</div>
    <div style="padding:5px;color:black;font-weight:bold;">{{data.form.iamas.iamasPerson.idCard.number}}</div>
  </div>
</div>
