<div ng-form="data.config.bankAccountFormName" class="bank-account-form bank-account-add-form" novalidate>
  <div class="add-new-bank-account-buttons">
    <md-button class="md-micro md-fab pull-right"
               ng-click="close()"
               aria-label="add bank account button"
               type="submit">
      <i class="glyphicon glyphicon-remove micro-glyphicon"></i>
      <md-tooltip md-direction="down">
        <span once-text="'Close'|translate"></span>
      </md-tooltip>
    </md-button>
    <md-button class="md-micro md-fab pull-right" ng-click="submit()" type="submit">
      <i class="glyphicon glyphicon-ok micro-glyphicon"></i>
      <md-tooltip md-direction="down">
        {{config.bankAccountManageWindowTitle}}
      </md-tooltip>
    </md-button>
  </div>

  <div class="form-horizontal bank-account-add-form">
    <div class="forms" style="margin-top: 20px">
      <div class="form-group">
        <label class="form-labels">
          <span text-once="'Account'|translate"></span>
        </label>
        <div class="form-inputs">
          <span class="k-textbox k-button k-space-right" style="width: 270px; padding-left: 0">
            <input readonly ng-value="data.account.name"/>
            <a class="k-icon k-i-search" ng-click="findMember()"></a>
          </span>
        </div>
      </div>
    </div>


    <div class="forms">
      <div class="form-group">
        <label class="form-labels">
          <span text-once="'Currency'|translate"></span>
        </label>
        <div class="form-inputs">
          <select
            name="currency"
            style="width: 270px; height: 30px"
            ng-model="data.currency" ng-options="obj as obj.nameAz for obj in currencies track by obj.id">
            <option value="">---</option>
          </select>
        </div>
      </div>
    </div>

    <div class="forms">
      <div class="form-group">
        <label class="form-labels">
          <span text-once="'Amount'|translate"></span>
        </label>
        <div class="form-inputs">
          <span class="k-textbox k-button k-space-right" style="width: 270px; padding-left: 0">
            <input ng-model="data.amount"/>
          </span>
        </div>
      </div>
    </div>

  </div>


</div>
