<div class="window-extend-block" data-extend-template="app/common/templates/view-window-layout.html">
  <div class="div-full-height" data-block="content" ng-include="'app/common/templates/partials/view-cbar-close-balance-search.html'"
       ng-controller="CbarDayCloseBalanceSearchController">
  </div>
</div>

