<div class="window-extend-block" data-extend-template="app/common/templates/operation-window-layout.html">
  <div data-block="content" class="window-main-content">

    <div class="add-new-user">
      <div class="add-new-user-buttons">

      </div>


      <form name="assignAccountAndServiceForm" class="add-new-user-window no-scroll" novalidate>


        <div>

          <table class="table table-striped">
            <thead>
            <tr>
              <td once-text="'Account'|translate" style="text-align: center"></td>
              <td once-text="'Currency'|translate" style="text-align: center"></td>
              <td once-text="'Amount'|translate" style="text-align: center"></td>
              <td></td>
            </tr>

            </thead>
            <tbody>

            <tr ng-repeat="obj in data.commissionLimitItems ">
              <td style="text-align: center">{{ obj.account.name }}</td>
              <td style="text-align: center">{{ obj.currency.code }}</td>
              <td style="text-align: center">{{ obj.amount }}</td>
              <td style="text-align: center">
                <span ng-click="edit($index)">
                  <i class="glyphicon glyphicon-pencil micro-glyphicon" style="color: black !important;top:5px"></i>
                </span>
              </td>
            </tr>
            <tr>
              <td colspan="4" style="text-align: center" ng-click="add()">
                <i class="glyphicon glyphicon-plus micro-glyphicon" style="color: black !important;top:5px"></i>
              </td>
            </tr>

            </tbody>
          </table>

          <!--<div layout="row" layout-align="start center">-->

          <!--<md-button ng-click="sign()" class="md-raised md-primary" ng-disabled="isLoading()">-->
          <!--<span>İmzalayın</span>-->
          <!--</md-button>-->

          <!--</div>-->
        </div>


      </form>

    </div>
  </div>
</div>
