<div class="window-extend-block" data-extend-template="app/common/templates/operation-window-layout.html">
  <div data-block="content" class="window-main-content">

    <div role="form" ng-form="config.form.name" ng-submit="config.buttons.complete.click()">

      <div class="forms" ng-if="false">
        <div class="form-group">
          <label class="form-label">
            <span once-text="'Search'|translate"></span>:</label>

          <div class="form-inputs">

            <md-button class="md-fab md-micro"
                       aria-label="Mini FAB"
                       ng-click="findMatchedTrade()">
              <i class="glyphicon glyphicon-search micro-glyphicon"></i>
              <md-tooltip>
                <span once-text="'Find Matched Trade'|translate"></span>
              </md-tooltip>
            </md-button>
          </div>
        </div>
      </div>

      <div ng-if="!matchedTradeData.isNDCApproved">
        <div class="alert alert-info">
          <strong class="glyphicon glyphicon-info-sign"></strong>
          <span once-text="'Trade was not approved by NDC'|translate"></span>
        </div>
      </div>

      <div class="forms" ng-if="matchedTradeData.isNDCApproved">
        <div class="form-group">

          <span class="checkbox-label">
            <span once-text="'Is Confirmed'|translate"></span>:
          </span>

          <label class="form-labels input-checkbox">
            <input type="checkbox"
                   name="isConfirmed"
                   ng-required="config.form.name.isConfirmed.$untouched"
                   ng-true-value="true"
                   ng-false-value="false"
                   ng-indeterminate="matchedTradeData.isConfirmed === null"
                   ng-model="matchedTradeData.isConfirmed">
          </label>

        </div>

        <div class="has-error"
             ng-show="config.form.name.$submitted ">
          <p ng-show="config.form.name.isConfirmed.$error.required"
             class="help-block help-block-error">
            <span once-text="'Confirmation selection not done'|translate"></span>
          </p>
        </div>

      </div>

      <div class="forms">
        <h4 once-text="'Accounts'|translate"></h4>
        <table class="table table-striped table-hover table-responsive table-bordered">
          <tbody>

          <tr>
            <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4"><b once-text="'Counter Party Broker'|translate"></b></td>
            <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4">{{matchedTradeData.counterPartyBroker.name}} -
              {{matchedTradeData.counterPartyBroker.accountNumber}}
            </td>
          </tr>

          <tr>

            <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4"><b once-text="'Counter Party Client'||translate"></b>
            </td>
            <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4">{{matchedTradeData.counterPartyClient.name}}
              -{{matchedTradeData.counterPartyClient.accountNumber}}
            </td>
          </tr>
          <tr>
            <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4"><b once-text="'This Broker'|translate"></b></td>
            <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4">{{matchedTradeData.thisBroker.name}} -
              {{matchedTradeData.thisBroker.accountNumber}}
            </td>
          </tr>

          <tr>

            <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4"><b once-text="'This Client'||translate"></b>
            </td>
            <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4">{{matchedTradeData.thisClient.name}}
              -{{matchedTradeData.thisClient.accountNumber}}
            </td>
          </tr>
          </tbody>
        </table>
        <hr/>
        <h4 once-text="'Subject'|translate"></h4>
        <table class="table table-striped table-hover table-responsive table-bordered ">
          <thead>
          <th once-text="'Instrument'|translate"></th>
          <th once-text="'ISIN'|translate"></th>
          <th once-text="'Issuer'|translate"></th>
          <th once-text="'Quantity'|translate"></th>
          <th once-text="'Price'|translate"></th>
          </thead>
          <tbody>
          <tr>
            <td>{{matchedTradeData.subject.instrument.instrumentName}}</td>
            <td>{{matchedTradeData.subject.instrument.ISIN}}</td>
            <td>{{matchedTradeData.subject.instrument.issuerName}}</td>
            <td>{{matchedTradeData.subject.quantity}}</td>
            <td>{{matchedTradeData.subject.price}}</td>
          </tr>
          </tbody>
        </table>
      </div>

    </div>

  </div>

</div>
