<div class="window-extend-block" data-extend-template="app/common/templates/operation-window-layout.html">
  <div data-block="content" class="window-main-content">
    <div
      role="form"
      ng-form="config.form.name"
      ng-submit="config.buttons.complete.click()">

      <div class="table-responsive">
        <table class="table table-striped table-hover table-responsive table-bordered">
          <thead>
          <tr>
            <th colspan="4"></th>
            <th colspan="8" class="text-center">Emitent iştirakçı</th>
            <th colspan="8" class="text-center">Benefisiar iştirakçı</th>
            <th colspan="3"></th>
          </tr>
          <tr>
            <th>Qeydiyyat nömrəsi</th>
            <th>Ödəniş tarixi</th>
            <th>Valyuta</th>
            <th>Məbləğ</th>

            <td>Müştəri hesab nömrəsi</td>
            <td>Müştərinin adı</td>
            <td>Müştərinin VÖEN-i</td>
            <td>Müştərinin kodu</td>
            <td>Bankın VÖEN-i</td>
            <td>Bankın kodu</td>
            <td>BIC</td>
            <td>Muxbir hesab</td>

            <td>Müştəri hesab nömrəsi</td>
            <td>Müştərinin adı</td>
            <td>Müştərinin VÖEN-i</td>
            <td>Müştərinin kodu</td>
            <td>Bankın VÖEN-i</td>
            <td>Bankın kodu</td>
            <td>BIC</td>
            <td>Muxbir hesab</td>

            <td>Təyinat</td>
            <td>Ödəyicidən vəsaiti alana məlumat</td>

            <td>Status</td>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>{{taskData.approvalData.payment.regNumber}}</td>
            <td>{{taskData.approvalData.payment.date | date: "short"}}</td>
            <td>{{taskData.approvalData.payment.currency["name"+lnC]}}</td>
            <td>{{taskData.approvalData.payment.amount}}</td>

            <td>{{taskData.approvalData.payment.payerClientAccountNumber}}</td>
            <td>{{taskData.approvalData.payment.payerClientName}}</td>
            <td>{{taskData.approvalData.payment.payerClientTin}}</td>
            <td>{{taskData.approvalData.payment.payerClientCode}}</td>
            <td>{{taskData.approvalData.payment.payerBankTin}}</td>
            <td>{{taskData.approvalData.payment.payerBankCode}}</td>
            <td>{{taskData.approvalData.payment.payerBankBIC}}</td>
            <td>{{taskData.approvalData.payment.payerBankCorrespondentAccount}}</td>

            <td>{{taskData.approvalData.payment.payeeClientAccountNumber}}</td>
            <td>{{taskData.approvalData.payment.payeeClientName}}</td>
            <td>{{taskData.approvalData.payment.payeeClientTin}}</td>
            <td>{{taskData.approvalData.payment.payeeClientCode}}</td>
            <td>{{taskData.approvalData.payment.payeeBankTin}}</td>
            <td>{{taskData.approvalData.payment.payeeBankCode}}</td>
            <td>{{taskData.approvalData.payment.payeeBankBIC}}</td>
            <td>{{taskData.approvalData.payment.payeeBankCorrespondentAccount}}</td>

            <td>{{taskData.approvalData.payment.destination}}</td>
            <td>{{taskData.approvalData.payment.payerToPayeeInfo}}</td>

            <td>{{taskData.approvalData.payment.status["name"+lnC]}}</td>
          </tr>
          </tbody>
        </table>
      </div>

      <table class="table table-striped table-bordered" style="table-layout:fixed;">
        <tbody>
        <tr>
          <td>
            Xidmət sinfi
          </td>
          <td>
            <span>{{taskData.approvalData.serviceClass[0]["name"+lnC]}}</span>
          </td>
        </tr>


        <tr>
          <th>
            <strong once-text="'Account'|translate"></strong>
          </th>
          <th once-text="'Account Number'|translate"></th>
        </tr>
        <tr>
          <td>
            <span>{{taskData.approvalData.account.name}}</span>
          </td>
          <td>
            <span> {{taskData.approvalData.account.accountNumber}}</span>
          </td>
        </tr>

        </tbody>
      </table>

    </div>

  </div>
</div>
</div>
