<div class="window-extend-block" data-extend-template="app/common/templates/operation-window-layout.html">
  <div data-block="content" class="window-main-content">
    <div
      role="form"
      ng-form="config.form.name"
      ng-submit="config.buttons.complete.click()">

      <!--FIND PAYMENT-->
      <div class="text-center">
        <md-button class="md-raised md-primary" ng-click="findPayment()">Ödənişi seçin</md-button>
      </div>

      <div class="table-responsive" ng-if="payment.ID">
        <table class="table table-striped table-hover table-responsive table-bordered">
          <thead>
          <tr>
            <th colspan="4"></th>
            <th colspan="8" class="text-center">Emitent iştirakçı</th>
            <th colspan="8" class="text-center">Benefisiar iştirakçı</th>
            <th colspan="3"></th>
          </tr>
          <tr>
            <th>Qeydiyyat nömrəsi</th>
            <th>Ödəniş tarixi</th>
            <th>Valyuta</th>
            <th>Məbləğ</th>

            <td>Müştəri hesab nömrəsi</td>
            <td>Müştərinin adı</td>
            <td>Müştərinin VÖEN-i</td>
            <td>Müştərinin kodu</td>
            <td>Bankın VÖEN-i</td>
            <td>Bankın kodu</td>
            <td>BIC</td>
            <td>Muxbir hesab</td>

            <td>Müştəri hesab nömrəsi</td>
            <td>Müştərinin adı</td>
            <td>Müştərinin VÖEN-i</td>
            <td>Müştərinin kodu</td>
            <td>Bankın VÖEN-i</td>
            <td>Bankın kodu</td>
            <td>BIC</td>
            <td>Muxbir hesab</td>

            <td>Təyinat</td>
            <td>Ödəyicidən vəsaiti alana məlumat</td>

            <td>Status</td>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>{{payment.regNumber}}</td>
            <td>{{payment.date | date: "short"}}</td>
            <td>{{payment.currency["name"+lnC]}}</td>
            <td>{{payment.amount}}</td>

            <td>{{payment.payerClientAccountNumber}}</td>
            <td>{{payment.payerClientName}}</td>
            <td>{{payment.payerClientTin}}</td>
            <td>{{payment.payerClientCode}}</td>
            <td>{{payment.payerBankTin}}</td>
            <td>{{payment.payerBankCode}}</td>
            <td>{{payment.payerBankBIC}}</td>
            <td>{{payment.payerBankCorrespondentAccount}}</td>

            <td>{{payment.payeeClientAccountNumber}}</td>
            <td>{{payment.payeeClientName}}</td>
            <td>{{payment.payeeClientTin}}</td>
            <td>{{payment.payeeClientCode}}</td>
            <td>{{payment.payeeBankTin}}</td>
            <td>{{payment.payeeBankCode}}</td>
            <td>{{payment.payeeBankBIC}}</td>
            <td>{{payment.payeeBankCorrespondentAccount}}</td>

            <td>{{payment.destination}}</td>
            <td>{{payment.payerToPayeeInfo}}</td>

            <td>{{payment.status["name"+lnC]}}</td>
          </tr>
          </tbody>
        </table>
      </div>

      <table class="table table-striped table-bordered" style="table-layout:fixed;" ng-if="correctPaymentDataBuff.paymentID">
        <tbody>
        <tr>
          <td>
            Xidmət sinfi
          </td>
          <td>
            <select ng-model="correctPaymentDataBuff.serviceClassID" ng-disabled="hasServiceClass" class="form-control">
              <option value="">-----</option>
              <option ng-repeat="serviceClass in serviceClasses" ng-selected="correctPaymentDataBuff.serviceClassID == serviceClass.id" ng-value="serviceClass.id">{{serviceClass["name"+lnC]}}</option>
            </select>
          </td>
          <td></td>
        </tr>

        <tr>
          <th>
            <strong once-text="'Account'|translate"></strong>
          </th>
          <th once-text="'Account Number'|translate"></th>
          <th></th>
        </tr>
        <tr>
          <td>
            <span>{{account.name}}</span>
          </td>
          <td>
            <span> {{account.accountNumber}}</span>
          </td>
          <td>
            <md-button class="md-fab md-micro"
                       aria-label="Mini FAB"
                       ng-if="!hasAccount"
                       ng-click="findAccount()">
              <i class="glyphicon glyphicon-search micro-glyphicon"></i>
              <md-tooltip>
                <span>Hesab axtar</span>
              </md-tooltip>

            </md-button>
          </td>
        </tr>

        </tbody>
      </table>

    </div>

  </div>
</div>
</div>
