<div class="window-extend-block" data-extend-template="app/common/templates/operation-window-layout.html">
  <div data-block="content">
    <div class="person-find-result-block padding-top-10" ng-form="config.form.name" ng-submit="config.buttons.complete.click()">

      <div
        kendo-grid="config.grid"
        k-options="mainGridOptions"
        k-pageable='{ "pageSize": 20, "refresh": false, "pageSizes": true }'
        k-resizable="true"
        >
      </div>

      </div>
    </div>
  </div>
</div>
