<div class="window-extend-block" data-extend-template="app/common/templates/operation-window-layout.html">
  <div data-block="content" class="window-main-content">

      <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11">
        <div class="table-responsive">
          <table class="table table-striped table-bordered">
            <thead>

            <tr>
              <th once-text="'Account Number'|translate"></th>
              <th once-text="'Account Owner'|translate"></th>
              <th once-text="'Correspondent Account'|translate"></th>
              <th once-text="'Current Position'|translate"></th>
              <th once-text="'Currency'|translate"></th>
              <th once-text="'Withdraw Amount'|translate"></th>
              <th once-text="'To Account'|translate"></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="position in taskData.positions">
              <td> {{position.account.accountNumber}}</td>
              <td> {{position.account.name}}</td>
              <td> {{position.correspondentAccount.accountNumber}}</td>
              <td> {{position.currentPosition}}</td>
              <td> {{position.currency.code}}</td>
              <td>{{position.withdrawalAmount}}</td>
              <td>{{position.selectedBankAccount}}</td>
            </tr>

            </tbody>
          </table>
        </div>
      </div>

  </div>

</div>
