<div class="window-extend-block" data-extend-template="app/common/templates/operation-window-layout.html">
  <div data-block="content" class="window-main-content">


    <div ng-repeat="memberLimit in taskData.memberLimits" ng-if="memberLimit.isSelected">

      <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11">
        <table class="table table-striped table-hover table-responsive table-bordered ">
          <tbody>
          <tr>
            <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4"><b
              once-text="'Member'|translate"></b></td>
            <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4">{{memberLimit.member.name}}</td>
          </tr>
          </tbody>
        </table>
      </div>

      <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11">
        <div class="table-responsive">
          <table class="table table-striped table-bordered">
            <thead>

            <tr>
              <th once-text="'Currency'|translate"></th>
              <th once-text="'Old Value'|translate"></th>
              <th once-text="'New Value'|translate"></th>
            </tr>
            </thead>
            <tbody>

            <tr ng-repeat="limit in memberLimit.limits">
              <td> {{limit.currency.code}}</td>
              <td>{{limit.oldValue}}</td>
              <td>{{limit.newValue}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>

  </div>

</div>
