<div class="window-extend-block" data-extend-template="app/common/templates/operation-window-layout.html">
  <div data-block="content" class="window-main-content">

    <div role="form" class="form-horizontal" ng-form="config.form.name" ng-submit="config.buttons.complete.click()">

        <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11">
          <div class="table-responsive">
            <table class="table table-striped table-bordered">
              <thead>
              <tr>
                <th once-text="'Account Number'|translate"></th>
                <th once-text="'Destination'|translate"></th>
                <th once-text="'Reference Number'|translate"></th>
                <th once-text="'Amount'|translate"></th>
                <th once-text="'Currency'|translate"></th>
                <th once-text="'Correspondent Account'|translate"></th>
                <th once-text="'Select'|translate"></th>

              </tr>
              </thead>
              <tbody>

              <tr ng-repeat="bankStatement in enterPaymentReceiptData.bankStatements">
                <td once-text="bankStatement.accountNumber"></td>
                <td once-text="bankStatement.destination"></td>
                <td once-text="bankStatement.referenceNumber"></td>
                <td once-text="bankStatement.amount"></td>
                <td once-text="bankStatement.currency.code"></td>
                <td once-text="bankStatement.correspondentAccount.accountNumber"></td>
                <td>
                  <md-checkbox name="selected_bank_statement"
                               ng-model="bankStatement.approved" aria-label="...">
                  </md-checkbox>

                </td>
              </tr>

              </tbody>
            </table>
          </div>
        </div>
    </div>
  </div>
</div>
