<div class="window-extend-block" data-extend-template="app/common/templates/operation-window-layout.html">
  <div data-block="content" class="window-main-content">
    <div
      role="form"
      ng-form="config.form.name"
      ng-submit="config.buttons.complete.click()">

      <div class="title-transfer-forms">
        <div class="form-group" ng-class="{ 'has-error':
                 (config.form.name.$submitted || config.form.name.payment_number.$touched)
                 &&(config.form.name.payment_number.$invalid)  }">

          <label class="form-labels"><span class="required-sign">*</span><span
            once-text="'Payment Number'|translate"></span>:</label>

          <div class="form-inputs">
            <input type="text"
                   class="k-textbox"
                   name="payment_number"
                   ng-model="enterMemberAdvance.paymentNumber"
                   ng-required="true">

            <div ng-show="config.form.name.$submitted || config.form.name.payment_number.$touched">
              <p ng-show="config.form.name.payment_number.$error.required"
                 class="help-block help-block-error">
                <span once-text="'This field is required'|translate"></span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="title-transfer-forms">
        <div class="form-group" ng-class="{ 'has-error':
                 (config.form.name.$submitted || config.form.name.payment_date.$touched)
                 &&(config.form.name.payment_date.$invalid)  }">
          <label class="form-labels"><span class="required-sign">*</span><span
            once-text="'Payment Date'|translate"></span>:</label>

          <div class="form-inputs">
            <input type="text"
                   class="datepicker-cst"
                   kendo-date-picker
                   name="payment_date"
                   ng-model="enterMemberAdvance.paymentDate"
                   k-ng-model="enterMemberAdvance.paymentDateObj"
                   ng-required="true"
              >

            <div ng-show="config.form.name.$submitted || config.form.name.payment_date.$touched">
              <p ng-show="config.form.name.payment_date.$error.required"
                 class="help-block help-block-error">
                <span once-text="'This field is required'|translate"></span>
              </p>

              <p ng-show="config.form.name.payment_date.$error.csmKendoDate"
                 class="help-block help-block-error">
                <span once-text="'Please enter a valid date!'|translate"></span>
              </p>
            </div>
          </div>
        </div>

      </div>
      <div class="title-transfer-forms">

        <div class="form-group" ng-class="{ 'has-error':
                 (config.form.name.$submitted || config.form.name.comment.$touched)
                 &&(config.form.name.comment.$invalid)  }">

          <label class="form-labels">
            <span class="required-sign">*</span>
            <span once-text="'Comment'|translate"></span>:</label>

          <div class="form-inputs">
                  <textarea
                    class="k-textbox"
                    name="comment"
                    cols="6"
                    rows="7"
                    ng-model="enterMemberAdvance.comment"
                    ng-required="true"></textarea>

            <div ng-show="config.form.name.$submitted || config.form.name.comment.$touched">
              <p ng-show="config.form.name.comment.$error.required"
                 class="help-block help-block-error">
                <span once-text="'This field is required'|translate"></span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <!--Comment-->
      <div class="title-transfer-forms">
        <div class="form-group" ng-class="{ 'has-error':
                 (config.form.name.$submitted || config.form.name.correspondent_account.$touched)
                 &&(config.form.name.correspondent_account.$invalid)  }">

          <label class="form-labels"><span class="required-sign">*</span>
            <span once-text="'Correspondent Account'|translate"></span>:</label>

          <div class="form-inputs">
            <select
              name="correspondent_account"
              ng-model="enterMemberAdvance.correspondentAccount"
              ng-required="true"
              >
              <option value="">---</option>
              <option
                value="{{cl|json}}"
                ng-repeat="cl in  enterMemberAdvance.correspondentAccounts">{{cl.accountNumber}}
              </option>
            </select>

            <div ng-show="config.form.name.$submitted || config.form.name.correspondent_account.$touched">
              <p ng-show="config.form.name.correspondent_account.$error.required"
                 class="help-block help-block-error">
                <span once-text="'This field is required'|translate"></span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="title-transfer-forms">

        <table class="table table-striped table-bordered">
          <thead>
          <tr>
            <th>
              <strong class="required-sign">*</strong>
              <strong once-text="'Member'|translate"></strong>
            </th>
            <th once-text="'Account Number'|translate"></th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td class="table-td-overflow">
              <span ng-if="!enterMemberAdvance.member.name">......</span>
              <span> {{enterMemberAdvance.member.name}}</span>
              <input
                type="hidden"
                name="broker_seller"
                ng-required="true"
                ng-model="enterMemberAdvance.member.name">

              <div ng-class="{ 'has-error':config.form.name.$submitted &&(config.form.name.broker_seller.$invalid)}"
                   ng-show="config.form.name.$submitted">
                <p ng-show="config.form.name.broker_seller.$error.required"
                   class="help-block help-block-error">
                  <span once-text="'You have to select member!'|translate"></span>
                </p>
              </div>

            </td>
            <td>
              <span ng-if="!enterMemberAdvance.member.accountNumber">......</span>
              <span> {{enterMemberAdvance.member.accountNumber}}</span>
            </td>
            <td>
              <md-button class="md-fab md-micro"
                         aria-label="Mini FAB"
                         ng-click="findMember()">
                <i class="glyphicon glyphicon-search micro-glyphicon"></i>
                <md-tooltip>
                  <span once-text="'Find Member'|translate"></span>
                </md-tooltip>

              </md-button>
            </td>
          </tr>
          </tbody>
        </table>

      </div>
      <div class="title-transfer-forms">
        <div class="form-group" ng-class="{ 'has-error':
                 (config.form.name.$submitted || config.form.name.advance.$touched)
                 &&(config.form.name.advance.$invalid)  }">

          <label class="form-labels"><span class="required-sign">*</span><span
            once-text="'Advance'|translate"></span> (AZN):</label>

          <div class="form-inputs">
            <input type="number"
                   class="k-textbox"
                   name="advance"
                   ng-model="enterMemberAdvance.advance"
                   ng-required="true">

            <div ng-show="config.form.name.$submitted || config.form.name.advance.$touched">
              <p ng-show="config.form.name.advance.$error.required"
                 class="help-block help-block-error">
                <span once-text="'This field is required'|translate"></span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
