<div class="window-extend-block" data-extend-template="app/common/templates/operation-window-layout.html">
  <div data-block="content" class="window-main-content">
    <div role="form" ng-form="config.form.name" ng-submit="config.buttons.complete.click()">
      <div class="forms">
        <div class="form-group" ng-class="{ 'has-error':(config.form.name.$submitted || config.form.name.member.$touched)
                 &&(config.form.name.member.$invalid)  }">
          <label class="form-labels">
            <span class="required-sign">*</span><span
            once-text="'Member'|translate"></span>:</label>

          <div class="form-inputs">
            <select
              name="member"
              ng-model="config.selectedMemberLimitIndex"
              ng-change="changeMember()"
              ng-required="true">
              <option value="">---</option>
              <option  ng-repeat="memberLimit in  clearingLimitData" value="{{$index}}">
                {{memberLimit.member.name}}
              </option>
            </select>

            <div class="error-message-style"
                 ng-show="config.form.name.$submitted || config.form.name.member.$touched">
              <p ng-show="config.form.name.member.$error.required"
                 class="help-block help-block-error">
                <span once-text="'This field is required'|translate"></span>
              </p>
            </div>
          </div>

        </div>
      </div>
      <div ng-if="config.selectedMemberLimitIndex >-1">
          <table class="table table-striped table-bordered">
            <thead>

            <tr>
              <th once-text="'Currency'|translate"></th>
              <th once-text="'Old Value'|translate"></th>
              <th once-text="'New Value'|translate"></th>
              <th></th>

            </tr>
            </thead>
            <tbody>

            <tr ng-repeat="memberLimit in clearingLimitData[config.selectedMemberLimitIndex].limits">

              <td ng-class="{ 'has-error':(config.form.name.$submitted || config.form.name['currency_'+$index].$touched)
                                &&(config.form.name['currency_'+$index].$invalid)  }">

                <select
                  name="currency_{{$index}}"
                  ng-model="memberLimit.currency"
                  ng-disabled="memberLimit.oldValue"
                  ng-required="true">
                  <option value="">---</option>
                  <option value="{{currency|json}}" ng-repeat="currency in  metaData.currencies">
                    {{currency.code}}
                  </option>
                </select>

                <div class="error-message-style"
                     ng-show="config.form.name.$submitted || config.form.name['currency_'+$index].$touched">
                  <p ng-show="config.form.name['currency_'+$index].$error.required"
                     class="help-block help-block-error">
                    <span once-text="'This field is required'|translate"></span>
                  </p>
                </div>

              </td>
              <td>

                <input class="k-textbox"
                       ng-trim="true"
                       type="number"
                       ng-disabled="true"
                       ng-model="memberLimit.oldValue"
                  >

              </td>
              <td
                ng-class="{ 'has-error': (config.form.name.$submitted || config.form.name['new_value_'+$index].$touched)&&(config.form.name['new_value_'+$index].$invalid)  }">

                <input class="k-textbox"
                       ng-trim="true"
                       min="0"

                       type="number"
                       name="new_value_{{$index}}"
                       ng-model="memberLimit.newValue"
                       ng-required="true"
                  >

                <div class="error-message-style"
                     ng-show="config.form.name.$submitted || config.form.name['new_value_'+$index].$touched">
                  <p ng-show="config.form.name['new_value_'+$index].$error.required"
                     class="help-block help-block-error">
                    <span once-text="'This field is required'|translate"></span>
                  </p>

                  <p
                    ng-show="config.form.name['new_value_'+$index].$error.number"
                    class="help-block help-block-error">
                    <span once-text="'Wrong Number Format!'|translate"></span>
                  </p>

                  <p
                    ng-show="config.form.name['new_value_'+$index].$error.min"
                    class="help-block help-block-error">
                    <span once-text="'Amount cannot be less than 0'|translate"></span>
                  </p>
                </div>

              </td>

              <td>

                <md-button ng-if="$index>0" class="md-fab md-micro"
                           aria-label="Mini FAB"
                           ng-click="removeClearingLimit(clearingLimitData[config.selectedMemberLimitIndex].limits,$index)">
                  <i class="glyphicon glyphicon-remove micro-glyphicon"></i>
                  <md-tooltip>
                    <span once-text="'Remove Clearing Limit'|translate"></span>
                  </md-tooltip>
                </md-button>
              </td>
            </tr>

            </tbody>
          </table>
          <md-button class="md-fab md-micro pull-left"
                     aria-label="Mini FAB"
                     ng-if="config.selectedMemberLimitIndex"
                     ng-click="addNewClearingLimit()">
            <i class="glyphicon glyphicon-plus micro-glyphicon"></i>
            <md-tooltip>
              <span once-text="'Add New Clearing Limit'|translate"></span>
            </md-tooltip>
          </md-button>
      </div>
    </div>
  </div>
</div>
