<div class="window-extend-block" data-extend-template="app/common/templates/view-window-layout.html">
  <div data-block="content" class="window-main-content">

    <div class="add-new-user">
      <div class="add-new-user-buttons">

      </div>


      <form name="outgoingPayment" class="add-new-user-window no-scroll" novalidate style="margin-left: 200px">

        <!--------------------Client ----------------------->
        <div class="form-group" ng-class="{ 'has-error': false}">
          <div style="margin-bottom: 5px">
            <span>Müştəri</span>:
          </div>
          <span class="k-textbox k-button k-space-right" style="width: 270px; padding-left: 0">
            <input readonly ng-value="accountName + ' ' + accountNumber"/>
            <a class="k-icon k-i-search" ng-click="findMember()"></a>
          </span>
        </div>

        <!--------------------Currency ----------------------->
        <div class="form-group" ng-class="{ 'has-error': false}">
          <div style="margin-bottom: 5px">
            <span once-text="'Currency'|translate"></span>:
          </div>

          <select
            name="currency"
            style="width: 270px; height: 30px"
            ng-model="data.currencyID" ng-options="obj.id as obj.nameAz for obj in metaData.currencies">
            <option value="">---</option>
          </select>

        </div>

        <!--------------------bankAccounts ----------------------->
        <div class="form-group" ng-class="{ 'has-error': false}">
          <div style="margin-bottom: 5px">
            <span once-text="'Bank Accounts'|translate"></span>:
          </div>

          <select
            style="width: 270px; height: 30px"
            name="currency"
            ng-model="data.bankAccountID"
            ng-options="obj.id as obj.bankNameAz + ' ' +  obj.iban for obj in bankAccounts">
            <option value="">---</option>
          </select>

        </div>


        <!--------------------amount ----------------------->
        <div class="form-group" ng-class="{ 'has-error': false}">
          <div style="margin-bottom: 5px">
            <span>Məbləğ</span>:
          </div>

          <input type="text"
                 class="ux_input"
                 name="name_az"
                 ng-model="data.amount"
                 ng-required="instrument.config.fields.name.is_mandatory"
          >
        </div>

        <!--------------------destination ----------------------->
        <div class="form-group" ng-class="{ 'has-error': false}">
          <div style="margin-bottom: 5px">
            <span>Təyinat</span>:
          </div>

          <input type="text"
                 class="ux_input"
                 name="name_az"
                 ng-model="data.destination"
                 ng-required="instrument.config.fields.name.is_mandatory"
          >
        </div>


        <!--------------------notes ----------------------->
        <div class="form-group" ng-class="{ 'has-error': false}">
          <div style="margin-bottom: 5px">
            <span>Qeyd</span>:
          </div>

          <input type="text"
                 class="ux_input"
                 name="name_az"
                 ng-model="data.notes"
                 ng-required="instrument.config.fields.name.is_mandatory"
          >
        </div>


        <!--------------------budgetClassificationCode ----------------------->
        <div class="form-group" ng-class="{ 'has-error': false}">
          <div style="margin-bottom: 5px">
            <span>Büdcə təsnifatının kodu</span>:
          </div>

          <input type="text"
                 class="ux_input"
                 name="name_az"
                 ng-model="data.budgetClassificationCode"
                 ng-required="instrument.config.fields.name.is_mandatory"
          >
        </div>


        <!--------------------budgetLevelCode ----------------------->
        <div class="form-group" ng-class="{ 'has-error': false}">
          <div style="margin-bottom: 5px">
            <span>Büdcə səviyyəsinin kodu</span>:
          </div>

          <input type="text"
                 class="ux_input"
                 name="name_az"
                 ng-model="data.budgetLevelCode"
                 ng-required="instrument.config.fields.name.is_mandatory"
          >
        </div>

        <md-button
          ng-click="print()"
          aria-label="print button"
          type="button"
          class="md-fab md-micro">
          <i class="glyphicon glyphicon-print micro-glyphicon"></i>
          <md-tooltip md-tooltip="right">
            <span once-text="'Print'|translate"></span>
          </md-tooltip>
        </md-button>

      </form>

    </div>
  </div>
</div>
