<div class="window-extend-block" data-extend-template="app/common/templates/view-window-layout.html">
  <div class="div-full-height" data-block="content" style="overflow:auto;" ng-include="'app/clearing/templates/partials/search-templates/security-position.html'"
       ng-controller="SecurityPositionSearchTemplateController">
  </div>
</div>

