<div class="window-extend-block" data-extend-template="app/common/templates/operation-window-layout.html">
  <div data-block="content">
    <div class="person-find-result-block padding-top-10"
         ng-form="config.form.name"
         ng-submit="config.buttons.complete.click()">

      <div
        kendo-grid="config.grid"
        k-on-change="subscriptionSelected(data)"
        k-ng-delay="mainGridOptions"
        k-options="mainGridOptions"
        k-pageable='{ "pageSize": 20, "refresh": true, "pageSizes": true }'
        k-resizable="true">

        <div k-detail-template>
          <div ng-if="dataItem.matchedPayments.length > 0"
               kendo-grid
               k-options="detailGridOptions(dataItem)"></div>
        </div>

      </div>

    </div>
  </div>
</div>
