<div class="window-extend-block" data-extend-template="app/common/templates/operation-window-layout.html">
  <div data-block="content" class="window-main-content">

    <div class="add-new-user">
      <div class="add-new-user-buttons">

      </div>


      <form name="outgoingPayment" class="add-new-user-window no-scroll" novalidate style="margin-left: 200px">

        <!--------------------Member Client  ----------------------->
        <div class="form-group" ng-class="{ 'has-error': false}">
          <div style="margin-bottom: 5px">
            <span>Müştəri</span>:
            <span class="required-sign">*</span>
          </div>

          <span class="k-textbox k-button k-space-right" style="width: 270px; padding-left: 0">
            <input readonly ng-value="data.account.name + ' ' + data.account.accountNumber"/>
            <a class="k-icon k-i-search" ng-click="findAccount()"></a>
          </span>
        </div>


        <!--------------------Currency ----------------------->
        <div class="form-group" ng-class="{ 'has-error': false}">
          <div style="margin-bottom: 5px">
            <span once-text="'Currency'|translate"></span>:
            <span class="required-sign">*</span>
          </div>

          <select
            name="currency"
            style="width: 270px; height: 30px"
            ng-model="data.currency" ng-options="obj.code as obj.nameAz for obj in metaData.currencies">
            <option value="">---</option>
          </select>

        </div>


        <div class="form-group" ng-class="{ 'has-error': false}">
          <div style="margin-bottom: 5px">
            <span class="required-sign">*</span>
            <span>Bölmə</span>:
          </div>

          <select
            name="currency"
            style="width: 270px; height: 30px"
            ng-model="data.serviceClass" ng-options="obj as obj.nameAz for obj in serviceClasses">
            <option value="">---</option>
          </select>
        </div>

        <!--------------------amount ----------------------->
        <div class="form-group" ng-class="{ 'has-error': false}">
          <div style="margin-bottom: 5px">
            <span>Cari məbləğ</span>:
          </div>

          <div class="form-inputs">
            <span  ng-show="amountLoading"><span class="glyphicon glyphicon-refresh glyphicon-spin"></span></span>
            <span ng-hide="amountLoading">{{ amount | formatNumber}}</span>
          </div>
        </div>

        <div class="form-group" ng-class="{ 'has-error': false}">
          <div style="margin-bottom: 5px">
            <span once-text="'Amount'|translate"></span>:
          </div>

          <input
            type="text"
            class="ux_input"
            name="name_az"
            ng-model="data.amount"
          >
        </div>


      </form>

    </div>
  </div>
</div>
