<div class="window-extend-block" data-extend-template="app/common/templates/operation-window-layout.html">
  <div data-block="content" class="window-main-content">


    <table class="table table-striped table-hover table-responsive table-bordered ">
      <tbody>
      <tr>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><b>Müştəri</b></td>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6">{{ taskData.account.name }} ({{taskData.account.accountNumber }})</td>
      </tr>
      <tr>
          <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><b>İnvestisiya şirkəti</b></td>
          <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6">{{ taskData.memberAccount ? taskData.memberAccount.name: '' }} ({{ taskData.memberAccount ? taskData.memberAccount.accountNumber: '' }})</td>
      </tr>
      <tr>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><b once-text="'Currency'|translate">currency</b></td>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6">{{taskData.currency }}</td>
      </tr>
      <tr>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><b>Bölmə</b></td>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6">{{taskData.serviceClass.nameAz }}</td>
      </tr>
      <tr>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><b once-text="'Amount'|translate"></b></td>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6">{{taskData.amount }}</td>
      </tr>
      </tbody>
    </table>

  </div>
</div>

