<div class="window-extend-block" data-extend-template="app/common/templates/operation-window-layout.html">
  <div data-block="content" class="window-main-content">
    <table class="table table-striped table-hover table-responsive table-bordered ">
      <tbody>
      <tr>
        <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4"><b
          once-text="'Account Number'|translate"></b></td>
        <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4">{{taskData.accountNumber}}</td>
      </tr>
      <tr>
        <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4"><b
          once-text="'Destination'|translate"></b></td>
        <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4">{{taskData.destination}}</td>
      </tr>
      <tr>
        <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4"><b
          once-text="'Reference Number'|translate"></b></td>
        <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4">{{taskData.referenceNumber}}</td>
      </tr>

      <tr>
        <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4"><b
          once-text="'Amount'|translate"></b></td>
        <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4">{{taskData.amount}}</td>
      </tr>
      <tr>
        <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4"><b
          once-text="'Currency'|translate"></b></td>
        <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4">{{taskData.currency.code}}</td>
      </tr>
      <tr>
        <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4"><b
          once-text="'Correspondent Account'|translate"></b></td>
        <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4">{{taskData.correspondentAccount.accountNumber}}</td>
      </tr>

      </tbody>

    </table>

  </div>

</div>
