<div class="window-extend-block" data-extend-template="app/common/templates/operation-window-layout.html">
  <div data-block="content" class="window-main-content">


    <div role="form" ng-form="config.form.name" ng-submit="config.buttons.complete.click()">

      <div class="min-width-470">
        <div class="form-group">
          <label class="form-label">
            <span once-text="'Search'|translate"></span>:</label>

          <div class="form-inputs">

            <md-button class="md-fab md-micro"
                       aria-label="Mini FAB"
                       ng-click="findBankStatement()">
              <i class="glyphicon glyphicon-search micro-glyphicon"></i>
              <md-tooltip>
                <span once-text="'Find Bank Statement'|translate"></span>
              </md-tooltip>
            </md-button>
          </div>
        </div>
      </div>

      <div class="forms">
        <div class="form-group"
             ng-class="{ 'has-error':
                 (config.form.name.$submitted || config.form.name.account_number.$touched)
                 &&(config.form.name.account_number.$invalid)  }">

          <label class="form-labels">
            <span once-text="'Account Number'|translate"></span>:</label>

          <div class="form-inputs">
            <input class="k-textbox"
                   type="text"
                   name="account_number"
                   ng-disabled="!enterBankStatementData.ID"
                   ng-blur="checkAccount(enterBankStatementData.accountNumber)"
                   ng-model="enterBankStatementData.accountNumber"
              >
            <div class="error-message-style"
                 ng-show="config.form.name.$submitted || config.form.name.account_number.$touched">
              <p ng-show="config.form.name.account_number.$error.required"
                 class="help-block help-block-error">
                <span once-text="'This field is required'|translate"></span>
              </p>
            </div>
          </div>

        </div>
      </div>
      <div class="min-width-470">
        <div class="form-group"
             ng-class="{ 'has-error':(config.form.name.$submitted || config.form.name.destination.$touched)
             &&(config.form.name.destination.$invalid)  }">

          <label class="form-labels">
            <span class="required-sign">*</span><span
            once-text="'Destination'|translate"></span>:</label>

          <div class="form-inputs">
            <input class="k-textbox"
                   type="text"
                   name="destination"
                   ng-disabled="!enterBankStatementData.ID"
                   ng-model="enterBankStatementData.destination"
                   ng-required="true"
              >
             <span tooltip-placement="left" uib-tooltip-html="'Which is written in destination.'|translate">
               <span class="glyphicon glyphicon-question-sign glyphicon-question-sign-style"></span>
            </span>
            <div class="error-message-style"
                 ng-show="config.form.name.$submitted || config.form.name.destination.$touched">
              <p ng-show="config.form.name.destination.$error.required"
                 class="help-block help-block-error">
                <span once-text="'This field is required'|translate"></span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="min-width-470">
        <div class="form-group"
             ng-class="{ 'has-error':
                 (config.form.name.$submitted || config.form.name.reference_number.$touched)
                 &&(config.form.name.reference_number.$invalid)  }">

          <label class="form-labels">
            <span class="required-sign">*</span> <span once-text="'Reference Number'|translate"></span>:</label>
          <div class="form-inputs">
            <input class="k-textbox"
                   type="text"
                   ng-disabled="!enterBankStatementData.ID"
                   name="reference_number"
                   ng-model="enterBankStatementData.referenceNumber"
                   ng-required="true"
              >
            <span tooltip-placement="left"
                  uib-tooltip-html="'Payment number in the bank\'s system'|translate">
                <span class="glyphicon glyphicon-question-sign glyphicon-question-sign-style"></span>
             </span>

            <div class="error-message-style"
                 ng-show="config.form.name.$submitted || config.form.name.reference_number.$touched">
              <p ng-show="config.form.name.reference_number.$error.required"
                 class="help-block help-block-error">
                <span once-text="'This field is required'|translate"></span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="forms">
        <div class="form-group"
             ng-class="{ 'has-error':
                 (config.form.name.$submitted || config.form.name.amount.$touched)
                 &&(config.form.name.amount.$invalid)  }">

          <label class="form-labels">
            <span class="required-sign">*</span><span once-text="'Amount'|translate"></span>:</label>


          <div class="form-inputs">
            <input class="k-textbox"
                   ng-trim="true"
                   min="0"
                   ng-disabled="!enterBankStatementData.ID"
                   type="number"
                   name="amount"
                   ng-model="enterBankStatementData.amount"
                   ng-required="true"
              >

            <div class="error-message-style"
                 ng-show="config.form.name.$submitted || config.form.name.amount.$touched">
              <p ng-show="config.form.name.amount.$error.required"
                 class="help-block help-block-error">
                <span once-text="'This field is required'|translate"></span>
              </p>

              <p
                ng-show="config.form.name.amount.$error.number"
                class="help-block help-block-error">
                <span once-text="'Wrong Number Format!'|translate"></span>
              </p>
              <p
                ng-show="config.form.name.amount.$error.min"
                class="help-block help-block-error">
                <span once-text="'Amount cannot be less than 0'|translate"></span>
              </p>
            </div>
          </div>

        </div>
      </div>
      <div class="forms">
        <div class="form-group" ng-class="{ 'has-error':(config.form.name.$submitted || config.form.name.currency.$touched)
                 &&(config.form.name.currency.$invalid)  }">
          <label class="form-labels">
            <span class="required-sign">*</span><span
            once-text="'Currency'|translate"></span>:</label>

          <div class="form-inputs">
            <select
              name="currency"
              ng-disabled="!enterBankStatementData.ID"
              ng-model="enterBankStatementData.currency"
              ng-required="true">
              <option value="">---</option>
              <option value="{{currency|json}}" ng-repeat="currency in  metaData.currencies">
                {{currency.code}}
              </option>
            </select>

            <div class="error-message-style"
                 ng-show="config.form.name.$submitted || config.form.name.currency.$touched">
              <p ng-show="config.form.name.currency.$error.required"
                 class="help-block help-block-error">
                <span once-text="'This field is required'|translate"></span>
              </p>
            </div>
          </div>

        </div>
      </div>
      <div class="forms">
        <div class="form-group" ng-class="{ 'has-error':(config.form.name.$submitted || config.form.name.correspondent_account.$touched)
                 &&(config.form.name.correspondent_account.$invalid)  }">
          <label class="form-labels">
            <span class="required-sign">*</span><span
            once-text="'Correspondent Account'|translate"></span>:</label>

          <div class="form-inputs">
            <select
              name="correspondent_account"
              ng-disabled="!enterBankStatementData.ID"
              ng-model="enterBankStatementData.correspondentAccount"
              ng-required="true">
              <option value="">---</option>
              <option value="{{account|json}}" ng-repeat="account in  enterBankStatementData.correspondentAccounts">
                {{account.accountNumber}}
              </option>
            </select>

            <div class="error-message-style"
                 ng-show="config.form.name.$submitted || config.form.name.correspondent_account.$touched">
              <p ng-show="config.form.name.correspondent_account.$error.required"
                 class="help-block help-block-error">
                <span once-text="'This field is required'|translate"></span>
              </p>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>

</div>
