<div class="window-extend-block" data-extend-template="app/common/templates/view-window-layout.html">
  <div class="div-full-height" data-block="content"
       ng-include="'app/clearing/templates/partials/search-templates/view-member-advances.html'"
       ng-controller="ViewMemberAdvancesSearchTemplateController">
  </div>
</div>
