<div class="window-extend-block" data-extend-template="app/common/templates/operation-window-layout.html">
  <div data-block="content" class="window-main-content">


    <div role="form" class="form-horizontal" ng-form="config.form.name" ng-submit="config.buttons.complete.click()">

      <div layout="column">
        <div>
          <div class="table-responsive">
            <table class="table table-striped table-bordered">
              <thead>

              <tr>
                <th once-text="'Account Number'|translate"></th>
                <th once-text="'Account'|translate"></th>
                <th once-text="'Currency'|translate"></th>
                <th once-text="'Withdrawal Amount'|translate"></th>
                <th once-text="'Service Class'|translate"></th>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="obj in taskData.data">
                <td> {{ obj.account.accountNumber }}</td>
                <td> {{ obj.amount }}</td>
                <td> {{ obj.currency }}</td>
                <td> {{ obj.withdrawalAmount }}</td>
                <td> {{ obj.serviceClass['name'+lnC] }}</td>

              </tr>

              </tbody>
            </table>
          </div>
        </div>
      </div>

    </div>

  </div>

</div>

