<div class="window-extend-block" data-extend-template="app/common/templates/operation-window-layout.html">
  <div data-block="content" class="window-main-content">


    <div role="form" class="form-horizontal" ng-form="config.form.name" ng-submit="config.buttons.complete.click()">

      <div layout="column">
        <div>
          <div class="table-responsive">
            <table class="table table-striped table-bordered">
              <thead>

              <tr>
                <th once-text="'Is Approved'|translate"></th>
                <th once-text="'Is Denied'|translate"></th>
                <th once-text="'Comment'|translate"></th>
                <th once-text="'Account Number'|translate"></th>
                <th once-text="'Account Owner'|translate"></th>
                <th once-text="'Correspondent Account'|translate"></th>
                <th once-text="'Current Position'|translate"></th>
                <th once-text="'Currency'|translate"></th>
                <th once-text="'Amount'|translate"></th>
                <th once-text="'To Bank Account'|translate"></th>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="position in enterWithdrawalOrderData.positions track by $index" ng-if="position.block4String">
                <td>
                  <label class="form-labels input-checkbox">
                    <input type="checkbox" ng-disabled="true"
                           name="position_approved_{{$index}}"
                           ng-true-value="true"
                           ng-false-value="false"
                           ng-indeterminate="position.approved === null"
                           ng-model="position.approved"/>
                  </label>
                </td>
                <td>
                  <label class="form-labels input-checkbox">
                    <input type="checkbox" ng-disabled="true"
                           name="position_rejected_{{$index}}"
                           ng-true-value="false"
                           ng-false-value="true"
                           ng-indeterminate="position.approved === null"
                           ng-model="position.approved"/>
                  </label>
                </td>
                <td> {{position.rejectionMessage}}</td>
                <td> {{position.account.iban}}</td>
                <td> {{position.account.name}}</td>
                <td> {{position.correspondentAccount.accountNumber}}</td>
                <td> {{position.currentPosition}}</td>
                <td> {{position.currency.code}}</td>
                <td> {{position.withdrawalAmount}}</td>
                <td
                  ng-class="{ 'has-error':(config.form.name.$submitted || config.form.name['to_account_'+$index].$touched)&&(config.form.name['to_account_'+$index].$invalid)  }">

                  <p>{{position.selectedBank.bankNameAz}}</p>
                  <p>{{position.selectedBank.iban}}</p>

                </td>
              </tr>

              </tbody>
            </table>

          </div>

          <div layout="row" layout-align="start center">

            <md-button ng-click="sign()" class="md-raised md-primary" ng-disabled="startSigning || signedSuccess">
              <span>İmzalayın</span>
            </md-button>

            <md-progress-circular ng-if="startSigning" md-mode="indeterminate" md-diameter="20" style="height:42px;    position: relative; left: -30px;    top: -6px;"></md-progress-circular>

            <span ng-show="signedSuccess" class="glyphicon glyphicon-ok" style="color:green;width:42px;text-align:center;"></span>

          </div>

        </div>
      </div>

    </div>

  </div>

</div>
