<div class="window-extend-block" data-extend-template="app/common/templates/operation-window-layout.html">
  <div data-block="content" class="window-main-content">

    <div class="add-new-user">
      <div class="add-new-user-buttons">
      </div>


      <form name="outgoingPayment" class="add-new-user-window no-scroll" novalidate style="margin-left: 100px">


        <!--------------------session info ----------------------->
        <div class="form-group" ng-class="{ 'has-error': false}">
          <div style="margin-bottom: 5px">
            <span>Sessiya</span>:
            <span class="required-sign">*</span>
            </label>

            <md-radio-group
              layout="row"
              ng-change="sessionTypeChange(sessionType)"
              ng-model="sessionType" class="md-secondary">

              <md-radio-button ng-value="'now'" ng-show="metaData.sessionInfo.currentSessionNumber"
                               style="margin-left: 0">
                <span>Cari</span>
              </md-radio-button>

              <md-radio-button ng-value="'next'" ng-hide="metaData.sessionInfo.currentSessionNumber">
                <span>Növbəti</span>
              </md-radio-button>

              <md-radio-button ng-value="'future'">
                <span>Gələcək</span>
              </md-radio-button>

            </md-radio-group>
          </div>
        </div>

        <!--------------------withdrawalDate ----------------------->
        <div class="form-group" ng-class="{ 'has-error': false}">
          <div style="margin-bottom: 5px">
            <span>Çıxarış tarixi</span>:
            <span class="required-sign">*</span>
          </div>


          <input type="text"
                 class="datepicker-cst"
                 kendo-date-picker
                 k-options="kendoDateOptions"
                 name="withdrawalDate"
                 ng-readonly="sessionType != 'future'"
                 ng-model="data.withdrawalDate"
                 k-ng-model="data.withdrawalDateObj"
                 ng-required="true"
          >
        </div>


        <!--------------------sessionNumber ----------------------->
        <div class="form-group" ng-class="{ 'has-error': false}">
          <div style="margin-bottom: 5px">
            <span>Seans nömrəsi</span>:
            <span class="required-sign">*</span>
          </div>

          <input type="text"
                 class="ux_input"
                 name="name_az"
                 ng-model="data.sessionNumber"
                 ng-readonly="sessionType != 'future'"
                 ng-required="instrument.config.fields.name.is_mandatory"
          >
        </div>


        <!--------------------destination ----------------------->
        <div class="form-group" ng-class="{ 'has-error': false}">
          <div style="margin-bottom: 5px">
            <span>Təyinat</span>:
            <span class="required-sign">*</span>
          </div>

          <input type="text"
                 class="ux_input"
                 name="name_az"
                 ng-model="data.destination"
                 ng-required="instrument.config.fields.name.is_mandatory"
          >
        </div>


        <div class="form-group" ng-class="{ 'has-error': false}">
          <table>
            <thead></thead>
            <tbody>
            <tr>
              <td><span once-text="'Currency'|translate"></span></td>
              <td style="padding-left: 10px">Cari məbləğ:</td>
              <td style="padding-left: 10px">Çıxarış məbləği</td>
              <td style="padding-left: 10px"><span once-text="'Bank Account'|translate"></span></td>
            </tr>
            <tr ng-repeat="obj in data.revenueDataItems">
              <td>
                <!--------------------trdAmount ----------------------->
                <div class="form-group" ng-class="{ 'has-error': false}">
                  <div class="form-inputs" style="padding-left: 0">
                    <input class="ux_input" style="width: 170px"  ng-model="obj.currencyCode" readonly/>
                  </div>
                </div>
              </td>
              <td>
                <!--------------------subAmount ----------------------->
                <div class="form-group" ng-class="{ 'has-error': false}">
                  <div class="form-inputs">
                    <input class="ux_input" style="width: 170px"  ng-model="obj.currentAmount" readonly/>
                  </div>
                </div>
              </td>
              <td>
                <!--------------------disAmount ----------------------->
                <div class="form-group" ng-class="{ 'has-error': false}">
                  <div class="form-inputs">
                    <input class="ux_input" style="width: 170px" ng-model="obj.withdrawAmount"/>
                  </div>
                </div>
              </td>
              <td>
                <div class="form-group">
                  <select
                    style="width: 170px; margin-left: 10px; height: 30px"
                    name="currency"
                    ng-model="obj.selectedBankAccount"
                    ng-options="obj as obj.bankNameAz + ' ' +  obj.iban for obj in obj.bankAccountList | filter: {'currency': {'code': obj.currencyCode}}">
                    <option value="">---</option>
                  </select>

                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>


      </form>

    </div>
  </div>
</div>
