<div class="window-extend-block" data-extend-template="app/common/templates/operation-window-layout.html">
  <div data-block="content" class="window-main-content">


    <div role="form" class="form-horizontal" ng-form="config.form.name" ng-submit="config.buttons.complete.click()">

      <div layout="column">
        <div>
          <div class="table-responsive">
            <table class="table table-striped table-bordered">
              <thead>

              <tr>
                <th once-text="'Account Number'|translate"></th>
                <th once-text="'Account Owner'|translate"></th>
                <th once-text="'Correspondent Account'|translate"></th>
                <th once-text="'Current Position'|translate"></th>
                <th once-text="'Currency'|translate"></th>
                <th once-text="'Amount'|translate"></th>
                <th once-text="'To Bank Account'|translate"></th>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="position in enterWithdrawalOrderData.positions">
                <td> {{position.account.iban}}</td>
                <td> {{position.account.name}}</td>
                <td> {{position.correspondentAccount.accountNumber}}</td>
                <td> {{position.currentPosition}}</td>
                <td> {{position.currency.code}}</td>
                <td
                  ng-class="{ 'has-error': (config.form.name.$submitted || config.form.name['withdraw_amount_'+$index].$touched)&&(config.form.name['withdraw_amount_'+$index].$invalid)  }">
                  <input class="k-textbox"
                         ng-trim="true"
                         min="0"
                         max="{{position.currentPosition}}"
                         type="number"
                         name="withdraw_amount_{{$index}}"
                         ng-model="position.withdrawalAmount"
                  >

                  <div class="error-message-style"
                       ng-show="config.form.name.$submitted || config.form.name['withdraw_amount_'+$index].$touched">
                    <p ng-show="config.form.name['withdraw_amount_'+$index].$error.required"
                       class="help-block help-block-error">
                      <span once-text="'This field is required'|translate"></span>
                    </p>

                    <p
                      ng-show="config.form.name['withdraw_amount_'+$index].$error.number"
                      class="help-block help-block-error">
                      <span once-text="'Wrong Number Format!'|translate"></span>
                    </p>

                    <p
                      ng-show="config.form.name['withdraw_amount_'+$index].$error.max"
                      class="help-block help-block-error">
                      <span once-text="'Amount cannot be greater than current position'|translate"></span>
                    </p>

                    <p
                      ng-show="config.form.name['withdraw_amount_'+$index].$error.min"
                      class="help-block help-block-error">
                      <span once-text="'Amount cannot be less than 0'|translate"></span>
                    </p>
                  </div>

                </td>
                <td
                  ng-class="{ 'has-error':(config.form.name.$submitted || config.form.name['to_account_'+$index].$touched)&&(config.form.name['to_account_'+$index].$invalid)  }">
                  <select name="to_account_{{$index}}" ng-model="position.selectedBank"
                          ng-required="false">
                    <option value="">---</option>
                    <option value="{{bankAccount}}" ng-repeat="bankAccount in  position.vmBankAccounts">
                      {{bankAccount.bankNameAz}} - {{bankAccount.iban}}
                    </option>
                  </select>

                  <div class="error-message-style"
                       ng-show="config.form.name.$submitted || config.form.name['to_account_'+$index].$touched">
                    <p ng-show="config.form.name['to_account_'+$index].$error.required"
                       class="help-block help-block-error">
                      <span once-text="'This field is required'|translate"></span>
                    </p>
                  </div>
                </td>
              </tr>

              </tbody>
            </table>
          </div>
        </div>
      </div>

    </div>

  </div>

</div>
