<div class="window-extend-block" data-extend-template="app/common/templates/operation-window-layout.html">
  <div data-block="content" class="window-main-content">


    <table class="table table-striped table-hover table-responsive table-bordered ">
      <tbody>
      <tr>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><b>Çıxarış tarixi</b></td>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6">{{taskData.withdrawalDate }}</td>
      </tr>
      <tr>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><b>Seans nömrəsi</b></td>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6">{{taskData.sessionNumber }}</td>
      </tr>
      <tr>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><b>Təyinat</b></td>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6">{{taskData.destination }}</td>
      </tr>
      </tbody>
    </table>

    <table class="table table-striped table-hover table-responsive table-bordered ">
      <tbody>
      <tr>
        <td><span once-text="'Currency'|translate"></span></td>
        <td style="padding-left: 10px">Cari məbləğ:</td>
        <td style="padding-left: 10px">Çıxarış məbləği</td>
        <td style="padding-left: 10px">Bank</td>
      </tr>
      <tr ng-repeat="obj in taskData.revenueDataItems">
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6">{{ obj.currencyCode }}</td>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6">{{ obj.currentAmount }}</td>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6">{{ obj.withdrawAmount }}</td>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6">{{ obj.selectedBankAccount.bankNameAz }} {{ obj.selectedBankAccount.iban }}</td>
      </tr>
      </tbody>
    </table>

  </div>
</div>

