<div class="window-extend-block" data-extend-template="app/common/templates/operation-window-layout.html">
  <div data-block="content" class="window-main-content">


    <div role="form" class="form-horizontal" ng-form="config.form.name" ng-submit="config.buttons.complete.click()">

      <div layout="column">
        <div>
          <div class="table-responsive">
            <table class="table table-striped table-bordered">
              <thead>

              <tr>
                <th>
                  <span once-text="'Approve'|translate"></span>
                  <br/>
                  <label class="form-labels input-checkbox">
                    <input class="md-checkbox-style" type="checkbox"
                           name="position_approve_all"
                           ng-true-value="true"
                           ng-false-value="false"
                           ng-indeterminate="config.form.approveAll === null"
                           ng-model="config.form.approveAll"
                           ng-click="approveAllChanged(config.form.approveAll)"/>
                  </label>
                </th>
                <th>
                  <span once-text="'Deny'|translate"></span>
                  <br/>
                  <label class="form-labels input-checkbox">
                    <input class="md-checkbox-style" type="checkbox"
                           name="position_reject_all"
                           ng-true-value="false"
                           ng-false-value="true"
                           ng-indeterminate="config.form.approveAll === null"
                           ng-model="config.form.approveAll"
                           ng-click="approveAllChanged(config.form.approveAll)"/>
                  </label>
                </th>
                <th once-text="'Comment'|translate"></th>
                <th once-text="'Account Number'|translate"></th>
                <th once-text="'Account Owner'|translate"></th>
                <th once-text="'Correspondent Account'|translate"></th>
                <th once-text="'Current Position'|translate"></th>
                <th once-text="'Currency'|translate"></th>
                <th once-text="'Amount'|translate"></th>
                <th once-text="'To Bank Account'|translate"></th>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="position in enterWithdrawalOrderData.positions track by $index" ng-if="position.block4String">
                <td>
                  <label class="form-labels input-checkbox">
                    <input type="checkbox"
                           name="position_approved_{{$index}}"
                           ng-true-value="true"
                           ng-false-value="false"
                           ng-indeterminate="position.approved === null"
                           ng-model="position.approved"/>
                  </label>
                </td>
                <td>
                  <label class="form-labels input-checkbox">
                    <input type="checkbox"
                           name="position_rejected_{{$index}}"
                           ng-true-value="false"
                           ng-false-value="true"
                           ng-indeterminate="position.approved === null"
                           ng-model="position.approved"/>
                  </label>
                </td>
                <td>
                  <input type="text"
                         class="k-textbox"
                         name="comment_{{$index}}"
                         ng-model="position.rejectionMessage"
                         ng-required="false">
                </td>
                <td> {{position.account.iban}}</td>
                <td> {{position.account.name}}</td>
                <td> {{position.correspondentAccount.accountNumber}}</td>
                <td> {{position.currentPosition}}</td>
                <td> {{position.currency.code}}</td>
                <td> {{position.withdrawalAmount}}</td>
                <td
                  ng-class="{ 'has-error':(config.form.name.$submitted || config.form.name['to_account_'+$index].$touched)&&(config.form.name['to_account_'+$index].$invalid)  }">

                  <p>{{position.selectedBank.bankNameAz}}</p>
                  <p>{{position.selectedBank.iban}}</p>

                </td>
              </tr>

              </tbody>
            </table>

          </div>
        </div>
      </div>

    </div>

  </div>

</div>
