<div class="window-extend-block" data-extend-template="app/common/templates/view-window-layout.html">
  <div class="div-full-height" data-block="content" ng-include="'app/clearing/templates/partials/search-templates/withdrawal.html'"
       ng-controller="WithdrawalSearchTemplateController">
  </div>
</div>
