<div class="window-extend-block" data-extend-template="app/common/templates/view-window-layout.html">
  <div  style="overflow-y: scroll" class="div-full-height" data-block="content" ng-include="'app/common/templates/partials/business-development-department-monthly-report-search-template.html'"
       ng-controller="BusinessDevelopmentDepartmentMonthlyReportSearchTemplateController">
  </div>
</div>

