<div class="window-extend-block" data-extend-template="app/common/templates/operation-window-layout.html">
  <div data-block="content" class="window-main-content">
    <div
      role="form"
      ng-form="config.form.name"
      ng-submit="config.buttons.complete.click()">


        <div class="forms">
            <div class="form-group" ng-class="{ 'has-error':  (config.form.name.$submitted || config.form.name.selectedSigner.$touched)
                                              &&(config.form.name.selectedSigner.$invalid)  }">

                <label class="form-labels"><span class="required-sign">*</span>
                    <span once-text="'Signer'|translate"></span>:</label>

                <div class="form-inputs">
                    <select ng-model="selectedSignerID"
                            ng-change="selectedSignerChange(selectedSignerID);"
                            name="selectedSignerID">
                        <option value="{{signer.id}}" ng-repeat="signer in issueHoldingReport.signers">{{signer.position + " - " + signer.name}}</option>
                    </select>
                    <div ng-show="config.form.name.$submitted || config.form.name.selectedSigner.$touched">
                        <p ng-show="config.form.name.selectedSigner.$error.required"
                           class="help-block help-block-error">
                            <span once-text="'This field is required'|translate"></span>
                        </p>
                    </div>
                </div>

            </div>
        </div>

        <div class="forms">
          <div class="form-group "
               ng-class="{ 'has-error':
                   (config.form.name.$submitted || config.form.name.requested_by.$touched)
                   &&(config.form.name.requested_by.$invalid)  }">

            <label class="form-labels"><span class="required-sign">*</span>
              <span once-text="'Requested by'|translate"></span>:</label>

            <div class="form-inputs">
              <input
                class="k-textbox"
                type="text"
                name="requested_by"
                ng-required="true"
                ng-model="issueHoldingReport.requestedBy">

              <div ng-show="config.form.name.$submitted || config.form.name.requested_by.$touched">
                <p ng-show="config.form.name.requested_by.$error.required"
                   class="help-block help-block-error">
                  <span once-text="'This field is required'|translate"></span>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="forms">
        <div class="form-group "
             ng-class="{ 'has-error':
                 (config.form.name.$submitted || config.form.name.request_date.$touched)
                 &&(config.form.name.request_date.$invalid)  }">

          <label class="form-labels"><span class="required-sign">*</span>
            <span once-text="'Date of Statement'|translate"></span>:</label>

          <div class="form-inputs datepicker-checkbox-wrapper">
            <input type="text"
                   class="datepicker-cst"
                   kendo-date-time-picker="config.timePicker"
                   name="request_date"
                   k-footer="false"
                   ng-hide="issueHoldingReport.currentTimeSelected"
                   ng-model="issueHoldingReport.requestDate"
                   k-ng-model="issueHoldingReport.requestDateObj"
                   ng-required="!issueHoldingReport.currentTimeSelected"
              >
            <md-checkbox ng-model="issueHoldingReport.currentTimeSelected" class="no-margin"
              ><span
              once-text="'Select current time'|translate"></span></md-checkbox>

            <div ng-show="config.form.name.$submitted || config.form.name.request_date.$touched">
              <p ng-show="config.form.name.request_date.$error.required"
                 class="help-block help-block-error">
                <span once-text="'This field is required'|translate"></span>
              </p>

              <p ng-show="config.form.name.request_date.$error.csmKendoDate"
                 class="help-block help-block-error">
                <span once-text="'Invalid Date'|translate"></span>
              </p>
            </div>

          </div>

        </div>
      </div>

        <table class="table table-striped table-bordered">
        <thead>
        <tr>
          <th><strong class="required-sign">*</strong> <strong once-text="'Instrument'|translate"></strong></th>
          <th><strong class="required-sign">*</strong> <strong once-text="'Issuer'|translate"></strong></th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td class="half-width">
            <span ng-if="!issueHoldingReport.instrument.ISIN">......</span>
            <span>{{issueHoldingReport.instrument.ISIN}}</span>
            <input
              class="k-textbox"
              type="hidden"
              name="ISIN"
              ng-required="true"
              ng-model="issueHoldingReport.instrument.ISIN">

            <div ng-class="{ 'has-error':
                 (config.form.name.$submitted || config.form.name.ISIN.$touched)
                 &&(config.form.name.ISIN.$invalid)  }"
                 ng-show="config.form.name.$submitted || config.form.name.ISIN.$touched">
              <p ng-show="config.form.name.ISIN.$error.required"
                 class="help-block help-block-error">
                <span once-text="'This field is required'|translate"></span>
              </p>
            </div>

          </td>
          <td class="half-width">
            <span ng-if="!issueHoldingReport.instrument.issuerName">......</span>
            <span> {{issueHoldingReport.instrument.issuerName}}</span>
            <input
              class="k-textbox"
              type="hidden"
              name="issuer"
              ng-required="true"
              ng-model="issueHoldingReport.instrument.issuerName">

            <div ng-class="{ 'has-error':
                     (config.form.name.$submitted || config.form.name.issuer.$touched)
                     &&(config.form.name.issuer.$invalid)  }"
                 ng-show="config.form.name.$submitted || config.form.name.issuer.$touched">
              <p ng-show="config.form.name.issuer.$error.required"
                 class="help-block help-block-error">
                <span once-text="'This field is required'|translate"></span>
              </p>
            </div>

          </td>
          <td>
            <md-button type="button"
                       class="md-fab md-micro"
                       aria-label="search button"
                       ng-disabled="!issueHoldingReport.currentTimeSelected && !issueHoldingReport.requestDateObj"
                       ng-click="findInstrument()">
              <i class="glyphicon glyphicon-search micro-glyphicon"></i>
              <md-tooltip>
                <span once-text="'Find Instrument'|translate"></span>
              </md-tooltip>
            </md-button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

  </div>

</div>
