<div class="window-extend-block" data-extend-template="app/common/templates/operation-window-layout.html">
  <div data-block="content" class="window-main-content">
    <table class="table table-striped table-hover table-responsive table-bordered ">
      <tbody>

      <tr>
        <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4"><b once-text="'Signer'|translate"></b></td>
        <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4">{{taskData.selectedSigner.position + " - " + taskData.selectedSigner.name}}</td>
      </tr>
      <tr>
        <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4"><b once-text="'Operator'|translate"></b></td>
        <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4">{{taskData.selectedOperator.position + " - " + taskData.selectedOperator.name}}</td>
      </tr>

      <tr>
        <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4"><b once-text="'Account Owner'|translate"></b>
        </td>

        <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4">{{taskData.account.name}}</td>

      </tr>

      <tr>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><b once-text="'Account Number'|translate"></b></td>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6">{{taskData.account.accountNumber}}</td>
      </tr>
      <tr>

      <tr>
        <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4"><b once-text="'Issuer'|translate"></b></td>
        <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4">{{taskData.instrument.issuerName}}</td>
      </tr>

      <tr>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><b once-text="'Instrument'|translate"></b></td>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6">{{taskData.instrument.ISIN}}</td>
      </tr>

      <tr>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><b once-text="'Requested by'|translate"></b></td>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6">{{taskData.requestedBy}}</td>
      </tr>

      <tr>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><b once-text="'Request Date'|translate"></b></td>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6">{{taskData.requestDate}}</td>
      </tr>

      </tbody>
    </table>


    <h4 once-text="'Report'|translate" class="issue-report"></h4>
    <md-button
      ng-click="_openBase64File(taskData.reportHtml, 'application/pdf', 'pdf')"
      type="button"
      class="md-fab md-micro">
      <i class="glyphicon glyphicon-print micro-glyphicon"></i>
      <md-tooltip md-direction="right">
        <span once-text="'Print'|translate"></span>
      </md-tooltip>
    </md-button>

    <!--<pdf-view data="taskData.reportHtml"></pdf-view>-->

  </div>
</div>
