<div class="window-extend-block" data-extend-template="app/common/templates/operation-window-layout.html">
  <div data-block="content" class="window-main-content">
    <table class="table table-striped table-hover table-responsive table-bordered ">
      <tbody>

      <tr>
        <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4"><b once-text="'Signer'|translate"></b></td>
        <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4">{{taskData.selectedSigner.position + " - " + taskData.selectedSigner.name}}</td>
      </tr>

      <tr>
        <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4"><b once-text="'Issuer'|translate"></b>
        </td>

        <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4">{{taskData.instrument.issuerName}}</td>

      </tr>

      <tr>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><b once-text="'Instrument'|translate"></b></td>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6">{{taskData.instrument.ISIN}}</td>
      </tr>

      <tr>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><b once-text="'Requested by'|translate"></b></td>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6">{{taskData.requestedBy}}</td>
      </tr>

      <tr>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><b once-text="'Request Date'|translate"></b></td>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6">{{taskData.requestDate}}</td>
      </tr>
      </tbody>
    </table>


    <h4 class="issue-report" once-text="'Report'|translate"></h4>
    <!--<md-button-->
      <!--ng-click="_saveBase64AsBlob(taskData.reportHtml, 'application/pdf', 'pdf')"-->
      <!--type="button"-->
      <!--aria-label="print button"-->
      <!--class="md-fab md-micro">-->
      <!--<i class="glyphicon glyphicon-print micro-glyphicon"></i>-->
      <!--<md-tooltip md-direction="right">-->
        <!--<span once-text="'Print'|translate"></span>-->
      <!--</md-tooltip>-->
    <!--</md-button>-->
    <md-button
      ng-click="_openBase64File(taskData.reportHtml, 'application/pdf', 'pdf')"
      type="button"
      aria-label="print button"
      class="md-fab md-micro">
      <i class="glyphicon glyphicon-print micro-glyphicon"></i>
      <md-tooltip md-direction="right">
        <span once-text="'Print'|translate"></span>
      </md-tooltip>
    </md-button>
    Button
    <div class="report-block" ng-bind-html="renderHtml(taskData.reportHtml)"></div>

    <!--<pdf-view data="taskData.reportHtml" size="landscape"></pdf-view>-->

  </div>
</div>
