<div class="window-extend-block" data-extend-template="app/common/templates/operation-window-layout.html">
  <div data-block="content" class="window-main-content">
    <div
      role="form"
      ng-form="config.form.name"
      ng-submit="config.buttons.complete.click()">

        <div class="forms">
            <div class="form-group" ng-class="{ 'has-error':  (config.form.name.$submitted || config.form.name.selectedSigner.$touched)
             &&(config.form.name.selectedSigner.$invalid)  }">

                <label class="form-labels"><span class="required-sign">*</span>
                    <span once-text="'Signer'|translate"></span>:</label>

                <div class="form-inputs">
                    <select ng-model="selectedSignerID"
                            ng-change="selectedSignerChange(selectedSignerID)"
                            name="selectedSignerID">
                        <option value="{{signer.id}}"
                                ng-selected="ngEqual(signer, issueAccountStatement.selectedSigner)"
                                ng-repeat="signer in issueAccountStatement.signers">
                            {{signer.position + " - " + signer.name}}
                        </option>
                    </select>
                    <div ng-show="config.form.name.$submitted || config.form.name.selectedSigner.$touched">
                        <p ng-show="config.form.name.selectedSigner.$error.required"
                           class="help-block help-block-error">
                            <span once-text="'This field is required'|translate"></span>
                        </p>
                    </div>
                </div>

            </div>
        </div>
        <div class="forms">
            <div class="form-group" ng-class="{ 'has-error':  (config.form.name.$submitted || config.form.name.selectedOperator.$touched)
             &&(config.form.name.selectedOperator.$invalid)  }">
                <label class="form-labels"><span class="required-sign">*</span>
                    <span once-text="'Operator'|translate"></span>:</label>

                <div class="form-inputs">
                    <select ng-model="selectedOperatorID"
                            ng-change="selectedOperatorChange(selectedOperatorID);"
                            name="selectedOperator">
                        <option value="{{operator.id}}"
                                ng-selected="ngEqual(operator, issueAccountStatement.selectedOperator)"
                                ng-repeat="operator in issueAccountStatement.operators">{{operator.position + " - " + operator.name}}</option>
                    </select>
                    <div ng-show="config.form.name.$submitted || config.form.name.selectedOperator.$touched">
                        <p ng-show="config.form.name.selectedOperator.$error.required"
                           class="help-block help-block-error">
                            <span once-text="'This field is required'|translate"></span>
                        </p>
                    </div>
                </div>
            </div>
        </div>

      <div class="forms">
        <div class="form-group" ng-class="{ 'has-error':  (config.form.name.$submitted || config.form.name.requested_by.$touched)
             &&(config.form.name.requested_by.$invalid)  }">

          <label class="form-labels"><span class="required-sign">*</span>
            <span once-text="'Requested by'|translate"></span>:</label>

          <div class="form-inputs">
            <input
              class="k-textbox"
              type="text"
              name="requested_by"
              ng-required="true"
              ng-model="issueAccountStatement.requestedBy">

            <div ng-show="config.form.name.$submitted || config.form.name.requested_by.$touched">
              <p ng-show="config.form.name.requested_by.$error.required"
                 class="help-block help-block-error">
                <span once-text="'This field is required'|translate"></span>
              </p>
            </div>
          </div>

        </div>
      </div>
      <div class="forms">
        <div class="form-group "
             ng-class="{ 'has-error':
                 (config.form.name.$submitted || config.form.name.request_date.$touched)
                 &&(config.form.name.request_date.$invalid)  }">

          <label class="form-labels"><span class="required-sign">*</span>
            <span once-text="'Date of Statement'|translate"></span>:</label>

          <div class="form-inputs datepicker-checkbox-wrapper">
            <input type="text"
                   ng-hide="issueAccountStatement.currentTimeSelected"
                   class="datepicker-cst "
                   k-footer="false"
                   kendo-date-time-picker="config.timePicker"
                   name="request_date"
                   ng-model="issueAccountStatement.requestDate"
                   k-ng-model="issueAccountStatement.requestDateObj"
                   ng-required="!issueAccountStatement.currentTimeSelected"
              >
            <md-checkbox ng-model="issueAccountStatement.currentTimeSelected"
                         class="no-margin"
              ><span
              once-text="'Select current time'|translate"></span></md-checkbox>

            <div ng-show="config.form.name.$submitted || config.form.name.request_date.$touched">
              <p ng-show="config.form.name.request_date.$error.required"
                 class="help-block help-block-error">
                <span once-text="'This field is required'|translate"></span>
              </p>

              <p ng-show="config.form.name.request_date.$error.csmKendoDate"
                 class="help-block help-block-error">
                <span once-text="'Invalid Date'|translate"></span>
              </p>
            </div>
          </div>
        </div>
      </div>

      <table class="table table-striped table-bordered">
        <thead>
        <tr>
          <th><strong class="required-sign">*</strong> <strong once-text="'Account Number'|translate"></strong></th>
          <th><strong class="required-sign">*</strong> <strong once-text="'Account Owner'|translate"></strong></th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td class="half-width">
            <span ng-if="!issueAccountStatement.account.accountNumber">......</span>
            <span> {{issueAccountStatement.account.accountNumber}}</span>
            <input
              type="hidden"
              name="account"
              ng-required="true"
              ng-model="issueAccountStatement.account.accountNumber">

            <div ng-class="{ 'has-error':
                 (config.form.name.$submitted || config.form.name.account.$touched)
                 &&(config.form.name.account.$invalid)  }"
                 ng-show="config.form.name.$submitted || config.form.name.account.$touched">
              <p ng-show="config.form.name.account.$error.required"
                 class="help-block help-block-error">
                <span once-text="'This field is required'|translate"></span>
              </p>
            </div>

          </td>
          <td class="half-width">
            <span ng-if="!issueAccountStatement.account.name">......</span>
            <span>{{issueAccountStatement.account.name}}</span>
            <input
              type="hidden"
              name="acc_number"
              ng-required="true"
              ng-model="issueAccountStatement.account.name">

            <div ng-class="{ 'has-error':
                 (config.form.name.$submitted || config.form.name.acc_number.$touched)
                 &&(config.form.name.acc_number.$invalid)  }"
                 ng-show="config.form.name.$submitted">
              <p ng-show="config.form.name.acc_number.$error.required"
                 class="help-block help-block-error">
                <span once-text="'This field is required'|translate"></span>
              </p>
            </div>

          </td>
          <td>
            <md-button class="md-fab md-micro"
                       aria-label="Mini FAB"
                       ng-click="findAccount()">
              <i class="glyphicon glyphicon-search micro-glyphicon"></i>
              <md-tooltip>
                <span once-text="'Find Client'|translate"></span>
              </md-tooltip>

            </md-button>
          </td>
        </tr>
        </tbody>
      </table>

    </div>

  </div>

</div>
