<div class="view-buttons-wrapper">
  <div class="pull-left view-button-group">

    <div class="row">
      <div class="col-lg-12">
        <div class="form-group inline-block">
          <label class="panel-body-label text-right inline-block text-muted-manual">
            <span once-text="'Start Date'|translate"></span>:</label>

          <div class="inline-block person-search-inputs">
            <input type="text"
                   class="datepicker-cst"
                   kendo-date-picker
                   name="start"
                   ng-model="data.startDate"
                   k-ng-model="data.startDateObj"
            >
          </div>
        </div>
        <div class="form-group inline-block">
          <label class="panel-body-label text-right inline-block text-muted-manual">
            <span once-text="'Finish Date'|translate"></span>:</label>

          <div class="inline-block person-search-inputs">
            <input type="text"
                   kendo-date-picker
                   name="finish"
                   ng-model="data.endDate"
                   k-ng-model="data.endDateObj"
            >
          </div>
        </div>

        <div class="form-group inline-block">
          <label class="text-right inline-block text-muted-manual">
            <span once-text="'Currency'|translate"></span>:</label>

          <div class="inline-block person-search-inputs">
            <select ng-model="data.currencyCode"
                    style="padding: 2px; width: 170px"
                    ng-options="obj.code as obj.code for obj in metaData.currencies"
            ></select>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">

        <div class="form-group inline-block">
          <label class="panel-body-label text-right inline-block text-muted-manual">
            <span>Tarixin əvvəlinə qalıq</span>
          </label>

          <div class="inline-block person-search-inputs" style="width: 161px;">
            <p style="background-color: lightgray; padding: 5px; text-align: right">{{ startBalance | number: 2 }}</p>
          </div>
        </div>

        <div class="form-group inline-block">
          <label class="panel-body-label text-right inline-block text-muted-manual">
            Tarixin sonuna qalıq
          </label>

          <div class="inline-block person-search-inputs" style="width: 161px;">
            <p style="background-color: lightgray; padding: 5px; text-align: right">{{ endBalance| number: 2 }}</p>
          </div>
        </div>


        <!--<div class="form-group inline-block">-->
          <!--<label class="text-right inline-block text-muted-manual">-->
            <!--Xidmət sinfi:</label>-->

          <!--<div class="inline-block person-search-inputs">-->
            <!--<select kendo-drop-down-list-->
                    <!--ng-model="data.serviceClassCode"-->
                    <!--k-data-text-field="'nameAz'"-->
                    <!--k-data-value-field="'value'"-->
                    <!--k-data-source="metaData.serviceClasses"-->
                    <!--k-width="'100%'"-->
            <!--&gt;-->
            <!--</select>-->
          <!--</div>-->
        <!--</div>-->
      </div>
    </div>

  </div>


  <div class="pull-right view-button-group">
    <md-button type="button" class="md-fab md-micro"
               aria-label="Refresh table"
               ng-click="findData()">
      <i class="glyphicon glyphicon-refresh micro-glyphicon"></i>
      <md-tooltip md-direction="down">
        <span once-text="'Refresh data'|translate"></span>
      </md-tooltip>
    </md-button>
    <md-button type="button" class="md-fab md-micro"
               aria-label="Print data"
               ng-click="exportToExcel()">
      <i class="glyphicon glyphicon-export micro-glyphicon"></i>
      <md-tooltip md-direction="down">
        <span once-text="'Print data'|translate"></span>
      </md-tooltip>
    </md-button>
    <md-button type="button" class="md-fab md-micro"
               aria-label="Mini FAB"
               ng-click="closeWindow()">
      <i class="glyphicon glyphicon-remove micro-glyphicon"></i>

      <md-tooltip md-direction="down">
        <span once-text="'Close Window'|translate"></span>
      </md-tooltip>

    </md-button>

  </div>
</div>


<div class="person-find-result-block" style="top: 108px">
  <div
    kendo-grid="searchResultGrid"
    k-ng-delay="mainGridOptions"
    k-options="mainGridOptions"

    k-sortable="true"
    k-scrollable="true"
    k-pageable='{"pageSize": 20, "refresh": true, "pageSizes": true, "buttonCount": 5 }'
    k-resizable="true"
  >


  </div>

</div>
