<div class="window-extend-block" data-extend-template="app/common/templates/view-window-layout.html">
  <div  style="overflow-y: scroll" class="div-full-height" data-block="content" ng-include="'app/common/templates/partials/ndc-azips-services-report-search-template.html'"
        ng-controller="NDCAzipsServicesReportSearchController">
  </div>
</div>
