<div class="window-extend-block" data-extend-template="app/common/templates/view-window-layout.html">

  <div class="div-full-height" data-block="content">
    <md-tabs flex layout="column" class="div-full-height min-height-500 md-tabs-bordered">
      <md-tab flex layout="column" layout-fill label="{{'First part'|translate}}">
        <md-tab-content flex layout-fill class="padding20 border-box">
          <div class="div-full-height"
               data-block="content"
               ng-include="'app/common/templates/partials/quarterly-client-report-search-template-first.html'"
               ng-controller="QuarterlyClientReportSearchTemplateControllerFirst">
          </div>
        </md-tab-content>
      </md-tab>

      <md-tab flex layout="column" layout-fill label="{{'Second part'|translate}}">
        <md-tab-content flex layout-fill class="padding20 border-box">
          <div class="div-full-height"
               data-block="content"
               ng-include="'app/common/templates/partials/quarterly-client-report-search-template-second.html'"
               ng-controller="QuarterlyClientReportSearchTemplateControllerSecond">
          </div>
        </md-tab-content>
      </md-tab>

    </md-tabs>

  </div>

</div>

