<div class="trade-view-buttons-wrapper margin-top-20">
  <div class="pull-left view-button-group">
    <div class="form-group inline-block">
      <label class="panel-body-label text-right inline-block text-muted-manual">
        <span once-text="'Date'|translate"></span>:</label>

      <div class="inline-block person-search-inputs">
        <input type="text"
               class="datepicker-cst"
               kendo-date-picker
               name="date"
               ng-model="data.date"
               k-ng-model="data.dateObj"
        >
      </div>
    </div>
    <div class="form-group inline-block">
      <label class="panel-body-label text-right inline-block text-muted-manual">
        <span once-text="'Currency'|translate"></span>:</label>

      <div class="inline-block person-search-inputs">
        <select
          ng-model="data.currencyId"
          ng-change="currencyChange()"
          style="width: 100px;"
        >
          <option value="">----</option>
          <option ng-repeat="data in metaData.currencyClasses" value="{{data.id}}">{{data.code}}</option>
        </select>
      </div>
    </div>
    <div class="form-group inline-block">
      <label class="panel-body-label text-right inline-block text-muted-manual">
        <span once-text="'Alətin Növü'|translate"></span>:</label>

      <div class="inline-block person-search-inputs">
        <select
          ng-model="data.instrumentType"
          style="width: 240px;"
        >
          <option ng-repeat="data in metaData.instrumentTypes" value="{{data.data}}">{{data.name}}</option>
        </select>
      </div>
    </div>
  </div>
  <div class="pull-right view-button-group">
    <md-button type="button" class="md-fab md-micro"
               aria-label="Refresh table"
               ng-click="findData()">
      <i class="glyphicon glyphicon-refresh micro-glyphicon"></i>
      <md-tooltip md-direction="down">
        <span once-text="'Refresh data'|translate"></span>
      </md-tooltip>
    </md-button>
    <md-button type="button" class="md-fab md-micro"
               aria-label="Print data"
               ng-click="printData('quarterlyClientReportSecond')">
      <i class="glyphicon glyphicon-print micro-glyphicon"></i>
      <md-tooltip md-direction="down">
        <span once-text="'Print data'|translate"></span>
      </md-tooltip>
    </md-button>
    <md-button type="button" class="md-fab md-micro"
               aria-label="Mini FAB"
               ng-click="closeWindow()">
      <i class="glyphicon glyphicon-remove micro-glyphicon"></i>

      <md-tooltip md-direction="down">
        <span once-text="'Close Window'|translate"></span>
      </md-tooltip>

    </md-button>

  </div>
</div>

<div>
  <table class="table table-striped table-hover table-responsive table-bordered" id="quarterlyClientReportSecond">
    <thead>

    <tr>
      <th rowspan="2" style="width:10rem;">Emitent</th>
      <th colspan="5" style="text-align: center">Rezident deponentlərin depo hesablarında olan həcm</th>
      <th rowspan="2" style="text-align: center;">Qeyri-Rezident deponentlərin depo hesablarında olan həcm
      </th>
    </tr>

    <tr>
      <th style="text-align:center;">Qeyri-maliyyə sektoru</th>
      <th style="text-align:center;width:5rem;">Maliyyə sektoru</th>
      <th style="text-align:center;">Dövlət idarəetmə orqanları</th>
      <th style="text-align:center;">Ev təsərrüfati (fiziki şəxslər)</th>
      <th style="text-align:center;">İctimai və qeyri kommersiya təşkilatları</th>
    </tr>
    </thead>
    <tbody ng-repeat="obj in records">
    <tr>
      <td style="text-align:left;font-weight:bold;cursor:pointer;" ng-click="getDetail(obj)">
        <span
          ng-class="!obj.showDetail ? 'glyphicon glyphicon-chevron-right' : 'glyphicon glyphicon-chevron-down'"></span>
        {{obj.name}}
      </td>
      <td style="text-align:right;">{{obj.capacity.nonfinancial ? (obj.capacity.nonfinancial|formatNumber: false) : ""}}</td>
      <td style="text-align:right;">{{obj.capacity.financial ? (obj.capacity.financial|formatNumber: false) : ""}}</td>
      <td style="text-align:right;">{{obj.capacity.governmentManagement ? (obj.capacity.governmentManagement|formatNumber: false) : ""}}</td>
      <td style="text-align:right;">{{obj.capacity.natural ? (obj.capacity.natural|formatNumber: false) : ""}}</td>
      <td style="text-align:right;">{{obj.capacity.publicAndnonCommersion ? (obj.capacity.publicAndnonCommersion|formatNumber: false) : ""}}</td>
      <td style="text-align:right;">{{obj.capacity.nonresident ? (obj.capacity.nonresident|formatNumber: false) : ""}}</td>
    </tr>
    <tr ng-repeat="child in obj.detailedInfos" ng-if="obj.showDetail">
      <td style="padding-left: 40px;font-weight:normal;color:black">{{child.issuer}}</td>
      <td style="text-align:right;">{{child.capacity.nonfinancial ? (child.capacity.nonfinancial|formatNumber: false) : ""}}</td>
      <td style="text-align:right;">{{child.capacity.financial ? (child.capacity.financial|formatNumber: false) : ""}}</td>
      <td style="text-align:right;">{{child.capacity.governmentManagement ? (child.capacity.governmentManagement|formatNumber: false) : ""}}</td>
      <td style="text-align:right;">{{child.capacity.natural ? (child.capacity.natural|formatNumber: false) : ""}}</td>
      <td style="text-align:right;">{{child.capacity.publicAndnonCommersion ? (child.capacity.publicAndnonCommersion|formatNumber: false) : ""}}</td>
      <td style="text-align:right;">{{child.capacity.nonresident ? (child.capacity.nonresident|formatNumber: false) : ""}}</td>
    </tr>
    </tbody>
  </table>
</div>
