<div ng-show="person.personDetails" class="person-details-view padding10  fg-dark">
  <md-button
    aria-label="right arrow button"
    type="button"
    ng-click="closePersonDetails()"
    class="md-micro md-fab pull-right">

    <span class="glyphicon glyphicon-eye-close micro-glyphicon"></span>
    <md-tooltip><span once-text="'Close'|translate"></span></md-tooltip>
  </md-button>
  <!--<div class="md-raised md-button clearing"></div>-->

  <div class="content-block" ng-repeat="person in [person.personDetails] "
       ng-include="'app/persons/templates/partials/person-details.html'"></div>
</div>

<div
  kendo-splitter="params.splitter1"
  orientation="'horizontal'"
  class="persons-view-splitter"
  k-collapse="searchCriteriaCollapse"
  k-expand="searchCriteriaExpand"
  k-navigatable="true"
  k-scrollable="true"
  panes="params.config.splitterPanesConfig">

  <div ng-form="person.formName"
       role="form"
       csm-enter="findPerson()"
       ng-submit="findPerson()"
       class="person-find-criteria-form fg-dark left-pane-style"
       novalidate>


    <div class="row filter-buttons-position">
      <md-button
        aria-label="right arrow button"
        type="button"
        ng-click="resetForm()"
        class="md-micro md-fab pull-right filter-button-style">
        <md-tooltip md-direction="down">
          <span once-text="'Reset Filter'|translate"></span>
        </md-tooltip>
        <span class="icon icon-remove-filter"></span>
      </md-button>

      <md-button
        aria-label="right arrow button"
        type="button"
        ng-click="findPerson()"
        class="md-micro md-fab pull-right filter-button-style">
        <md-tooltip md-direction="down">
          <span once-text="'Filter'|translate"></span>
        </md-tooltip>
        <span class="icon icon-filter"></span>
      </md-button>
    </div>


    <div class="pane-content">
      <uib-accordion close-others="false">
        <uib-accordion-group is-disabled="true">
          <uib-accordion-heading>
            <div class="person-search-template-input-style"
                 ng-class="{ 'has-error': (person.formName.$submitted || person.formName.name.$touched)&&(person.formName.first_name.$invalid)  }">
              <label class="text-right inline-block text-muted-manual">
                <span once-text="'Name'|translate"></span>:
              </label>

              <div class="inline-block person-search-inputs">

                <input
                  class="k-textbox "
                  type="text"
                  name="last_name"
                  ng-model="person.form.fullName">

                <div ng-show="person.formName.$submitted || person.formName.name.$touched">
                  <p ng-show="person.formName.name.$error.required"
                     class="help-block help-block-error">
                    <span once-text="'This field is required'|translate"></span>
                  </p>
                </div>
              </div>
            </div>

            <!--</div>-->
          </uib-accordion-heading>
        </uib-accordion-group>
        <!--NAME-->
        <uib-accordion-group is-disabled="true">
          <uib-accordion-heading>
              <div class="form-group person-search-template-input-style">
                <label class="text-right inline-block text-muted-manual">
                  <span once-text="'Account Type'|translate"></span>:</label>

                <div class="inline-block person-search-inputs">
                  <select
                    kendo-drop-down-list
                    ng-model="person.form.accountClassId"
                    k-data-text-field="'name'+lnC"
                    k-data-value-field="'id'"
                    k-data-source="person.data.functionalAccountClasses"
                    k-value="''"
                    >
                  </select>
                </div>
              </div>
          </uib-accordion-heading>
        </uib-accordion-group>

        <uib-accordion-group is-disabled="true">
          <uib-accordion-heading>
            <div class="form-group person-search-template-input-style">
              <label class="text-right inline-block text-muted-manual">
                <span once-text="'Person Type'|translate"></span>:</label>

              <div class="inline-block person-search-inputs">
                <select
                  kendo-drop-down-list
                  ng-model="person.form.personClassId"
                  k-data-text-field="'name'+lnC"
                  k-data-value-field="'id'"
                  k-data-source="person.data.personClasses"
                  k-value="''"
                >
                </select>
              </div>
            </div>
          </uib-accordion-heading>
        </uib-accordion-group>

        <uib-accordion-group is-disabled="true">
          <uib-accordion-heading>
            <div class="form-group person-search-template-input-style"
                 ng-class="{ 'has-error': (person.formName.$submitted || person.formName.account_number.$touched) &&(person.formName.account_number.$invalid)  }">

              <label class="text-right inline-block text-muted-manual">
                <span once-text="'Account Number'|translate"></span>:</label>

              <div class="inline-block person-search-inputs">
                <input
                  class="k-textbox"
                  type="text"
                  name="account_number"
                  ng-model="person.form.accountNumber"
                  >

                <div ng-show="person.formName.$submitted || person.formName.account_number.$touched">
                  <p ng-show="person.formName.account_number.$error.required"
                     class="help-block help-block-error">
                    <span once-text="'This field is required'|translate"></span>
                  </p>
                </div>
              </div>
            </div>

          </uib-accordion-heading>
        </uib-accordion-group>
        <uib-accordion-group is-disabled="true">
          <uib-accordion-heading>
            <div class="person-search-switch-wrapper">
                <label class="text-right inline-block text-muted-manual">
                  <span once-text="'Suspended'|translate"></span>:</label>
                <div class="inline-block account-search-inputs"
                  style="padding-left: 9px!important;">
                  <md-checkbox
                    aria-label="Suspended"
                    type="checkbox"
                    ng-model="person.form.isSuspended"
                    data-ng-value="false"
                    class=" md-checkbox-style"
                    >
                </div>
            </div>
          </uib-accordion-heading>
        </uib-accordion-group>
        <uib-accordion-group is-disabled="true">
          <uib-accordion-heading>
            <div class="person-search-switch-wrapper">
                <label class="text-right inline-block text-muted-manual">
                  <span once-text="'Deleted'|translate"></span>:</label>
                <div class="inline-block account-search-inputs"
                     style="padding-left: 9px!important;">
                  <md-checkbox
                    aria-label="Deleted"
                    type="checkbox"
                    data-ng-value="false"
                    ng-model="person.form.isDeleted"
                    class=" md-checkbox-style"
                    >
                </div>
            </div>
          </uib-accordion-heading>
        </uib-accordion-group>

        <uib-accordion-group>
          <uib-accordion-heading>
            <div class="collapsible-panel-heading cursor-pointer">
              <label class="text-right text-muted-manual-70">
                <a href="#" once-text="'Date'|translate" class="text-muted-manual"></a>
              </label>

              <div class="inline-block pull-right">
                <i class="glyphicon pull-right person-search-accordion-icon"></i>
              </div>
            </div>
          </uib-accordion-heading>


          <div>
            <div class="person-search-template-input-style">
              <label class="panel-body-label text-right inline-block text-muted-manual">
                <span once-text="'Create Date From'|translate"></span>:</label>

              <div class="inline-block person-search-inputs">
                <input type="text"
                       kendo-date-picker
                       name="creation_date_start"
                       ng-model="person.form.creationDateStart"
                       k-ng-model="person.form.creationDateStartObj"
                  >
              </div>
            </div>
            <div class="form-group person-search-template-input-style">
              <label class="panel-body-label text-right inline-block text-muted-manual">
                <span once-text="'Create Date To'|translate"></span>:</label>

              <div class="inline-block person-search-inputs">
                <input type="text"
                       kendo-date-picker
                       name="registration_date_finish"
                       ng-model="person.form.creationDateFinish"
                       k-ng-model="person.form.creationDateFinishObj"
                  >
              </div>
            </div>
          </div>


        </uib-accordion-group>

      </uib-accordion>
    </div>

  </div>

  <div class="pane-content">
   <div class="view-buttons-wrapper">
     <md-button
       aria-label="hamburger button"
       class="pull-left md-icon-button md-primary hamburger-button-style"
       ng-click="toggleSearchCriteriaBlock(params.splitter1)">
       <span class="glyphicon glyphicon-align-justify micro-glyphicon micro-align-glyphicon"></span>
     </md-button>
     <!--<span class="text-danger grid-text-danger" ng-show="person.searchResult.isEmpty"-->
           <!--once-text="'Nobody Found!'|translate"></span>-->

     <div class="pull-right view-button-group">
       <md-button type="button" class="md-fab md-micro"
                  aria-label="Export to excel"
                  ng-click="exportToExcel(person.searchResultGrid)">
         <i class="glyphicon glyphicon-export micro-glyphicon"></i>
         <md-tooltip md-direction="down">
           <span once-text="'Export to Excel'|translate"></span>
         </md-tooltip>
       </md-button>
       <md-button type="button" class="md-fab md-micro"
                  aria-label="Mini FAB"
                  ng-click="closeWindow()">

         <i class="glyphicon glyphicon-remove micro-glyphicon"></i>

         <md-tooltip md-direction="down">
           <span once-text="'Close Window'|translate"></span>
         </md-tooltip>

       </md-button>

     </div>
   </div>
    <div class="person-find-result-block">

      <div



        kendo-grid="person.searchResultGrid"
        k-ng-delay="person.mainGridOptions"
        k-options="person.mainGridOptions"
        k-sortable="true"
        k-scrollable="true"
        k-pageable='{ "pageSize": 20, "refresh": true, "pageSizes": true, "buttonCount": 5 }'
        k-resizable="true"
        >

      </div>

    </div>

  </div>

</div>
