<div
  kendo-splitter="params.splitter1"
  orientation="'horizontal'"
  class="corporate-action-view-splitter"
  k-collapse="searchCriteriaCollapse"
  k-expand="searchCriteriaExpand"
  k-navigatable="true"
  panes="params.config.splitterPanesConfig">

  <div class="pane-content">

    <div ng-form="bankStatement.formName"
         role="form"
         csm-enter="findData()"
         ng-submit="findData()"
         class="person-find-criteria-form fg-dark left-pane-style"
         novalidate>

      <div class="row filter-buttons-position">
        <md-button
          aria-label="right arrow button"
          type="button"
          ng-click="resetForm()"
          class="md-micro md-fab pull-right filter-button-style">
          <md-tooltip md-direction="down">
            <span once-text="'Reset Filter'|translate"></span>
          </md-tooltip>
          <span class="icon icon-remove-filter"></span>
        </md-button>

        <md-button
          aria-label="right arrow button"
          type="button"
          ng-click="findData()"
          class="md-micro md-fab pull-right filter-button-style">
          <md-tooltip md-direction="down">
            <span once-text="'Filter'|translate"></span>
          </md-tooltip>
          <span class="icon icon-filter"></span>
        </md-button>
      </div>
      <div class="pane-content">
        <uib-accordion close-others="false">

          <uib-accordion-group is-disabled="true">
            <uib-accordion-heading>
              <div class="person-search-template-input-style"
                   ng-class="{ 'has-error': (bankStatement.formName.$submitted || bankStatement.formName.reference_number.$touched)&&(bankStatement.formName.reference_number.$invalid)  }">
                <label class="text-right inline-block text-muted-manual">
                  <span once-text="'Reference Number'|translate"></span>:
                </label>

                <div class="inline-block person-search-inputs">

                  <input
                    class="k-textbox "
                    type="text"
                    name="reference_number"
                    ng-model="bankStatement.form.recordNumber">

                  <div ng-show="bankStatement.formName.$submitted || bankStatement.formName.reference_number.$touched">
                    <p ng-show="bankStatement.formName.reference_number.$error.required"
                       class="help-block help-block-error">
                      <span once-text="'This field is required'|translate"></span>
                    </p>
                  </div>
                </div>
              </div>

              <!--</div>-->
            </uib-accordion-heading>
          </uib-accordion-group>
          <uib-accordion-group is-disabled="true">
            <uib-accordion-heading>

              <div class="person-search-template-input-style"
                   ng-class="{ 'has-error': (bankStatement.formName.$submitted || bankStatement.formName.destination.$touched)&&(bankStatement.formName.destination.$invalid)  }">
                <label class="text-right inline-block text-muted-manual">
                  <span once-text="'Destination'|translate"></span>:
                </label>

                <div class="inline-block person-search-inputs">

                  <input
                    class="k-textbox "
                    type="text"
                    name="destination"
                    ng-model="bankStatement.form.comment">

                  <div ng-show="bankStatement.formName.$submitted || bankStatement.formName.destination.$touched">
                    <p ng-show="bankStatement.formName.destination.$error.required"
                       class="help-block help-block-error">
                      <span once-text="'This field is required'|translate"></span>
                    </p>
                  </div>
                </div>
              </div>

              <!--</div>-->
            </uib-accordion-heading>
          </uib-accordion-group>
          <!--Destination-->

        </uib-accordion>
      </div>

    </div>
  </div>

  <div class="pane-content">
    <div class="view-buttons-wrapper">
      <md-button
        aria-label="hamburger button"
        class="pull-left md-icon-button md-primary hamburger-button-style"
        ng-click="toggleSearchCriteriaBlock(params.splitter1)">
        <span class="glyphicon glyphicon-align-justify micro-glyphicon micro-align-glyphicon"></span>
      </md-button>
      <!--<span class="text-danger grid-text-danger" ng-show="bankStatement.searchResult.isEmpty"-->
      <!--once-text="'No Statement Found!'|translate"></span>-->
      <div class="pull-right view-button-group">


        <md-button ng-if="!config.screenId" class="md-fab md-micro"
                   type="button"
                   ng-disabled="bankStatement.selectedBankStatementIndex === false"
                   aria-label="submit button"
                   ng-click="selectBankStatement()">
          <i class="glyphicon glyphicon-ok micro-glyphicon"></i>
          <md-tooltip md-direction="down">
            <span once-text="'Select Bank Statement'|translate"></span>
          </md-tooltip>
        </md-button>

        <md-button type="button" class="md-fab md-micro"
                   aria-label="Export to excel"
                   ng-click="exportToExcel(bankStatement.searchResultGrid)">
          <i class="glyphicon glyphicon-export micro-glyphicon"></i>
          <md-tooltip md-direction="down">
            <span once-text="'Export to Excel'|translate"></span>
          </md-tooltip>
        </md-button>
        <md-button type="button" class="md-fab md-micro"
                   aria-label="Mini FAB"
                   ng-click="closeWindow()">

          <i class="glyphicon glyphicon-remove micro-glyphicon"></i>

          <md-tooltip md-direction="down">
            <span once-text="'Close Window'|translate"></span>
          </md-tooltip>

        </md-button>

      </div>
    </div>
    <div class="person-find-result-block">

      <div
        kendo-grid="bankStatement.searchResultGrid"
        k-ng-delay="bankStatement.mainGridOptions"
        k-options="bankStatement.mainGridOptions"
        k-sortable="true"
        k-scrollable="true"
        k-pageable='{ "pageSize": 20, "refresh": true, "pageSizes": true, "buttonCount": 5 }'
        k-resizable="true"
        k-on-change="bankStatementSelected(data)"
        >
      </div>

    </div>

  </div>

</div>

</div>
