<div class="trade-view-buttons-wrapper margin-top-20">
  <div class="pull-left view-button-group">
    <div class="form-group inline-block">
      <label class="panel-body-label text-right inline-block text-muted-manual">
        <span once-text="'Start Date'|translate"></span>:</label>

      <div class="inline-block person-search-inputs">
        <input type="text"
               class="datepicker-cst"
               kendo-date-picker
               name="start"
               ng-model="trade.form.startDate"
               k-ng-model="trade.form.startDateObj"
        >
      </div>
    </div>
    <div class="form-group inline-block">
      <label class="panel-body-label text-right inline-block text-muted-manual">
        <span once-text="'Finish Date'|translate"></span>:</label>

      <div class="inline-block person-search-inputs">
        <input type="text"
               kendo-date-picker
               name="finish"
               ng-model="trade.form.finishDate"
               k-ng-model="trade.form.finishDateObj"
        >
      </div>
    </div>
  </div>
  <div class="pull-right view-button-group">
    <md-button type="button" class="md-fab md-micro"
               aria-label="Refresh table"
               ng-click="refreshData()">
      <i class="glyphicon glyphicon-refresh micro-glyphicon"></i>
      <md-tooltip md-direction="down">
        <span once-text="'Refresh data'|translate"></span>
      </md-tooltip>
    </md-button>
    <md-button type="button" class="md-fab md-micro"
               aria-label="Print data"
               ng-click="printData('printTable')">
      <i class="glyphicon glyphicon-print micro-glyphicon"></i>
      <md-tooltip md-direction="down">
        <span once-text="'Print data'|translate"></span>
      </md-tooltip>
    </md-button>
    <md-button type="button" class="md-fab md-micro"
               aria-label="Mini FAB"
               ng-click="closeWindow()">

      <i class="glyphicon glyphicon-remove micro-glyphicon"></i>

      <md-tooltip md-direction="down">
        <span once-text="'Close Window'|translate"></span>
      </md-tooltip>

    </md-button>

  </div>
</div>


<div class="table-margin20">
  <table class="table table-striped table-hover table-responsive table-bordered" id="printTable">
    <tr ng-show="printClicked">
      <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4"><b once-text="'Start Date'|translate"></b></td>
      <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4">{{ trade.form.startDate }}</td>
    </tr>
    <tr ng-show="printClicked">
      <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4"><b once-text="'Finish Date'|translate"></b></td>
      <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4">{{ trade.form.finishDate }}</td>
    </tr>
    <tr>
      <th colspan="2" style="background-color: #e0e0e0;font-size:large;text-align: center"  once-text="'Operation\'s type'|translate"></th>
    </tr>
    <tr>
      <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4"><b once-text="'Placement Count'|translate"></b></td>
      <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4">{{myData.increasingCapitalData.placementCount}}</td>
    </tr>
    <tr>
      <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><b once-text="'Conversion Count'|translate"></b></td>
      <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6">{{myData.increasingCapitalData.conversionCount}}</td>
    </tr>
    <tr>
      <th colspan="2" style="background-color: #e0e0e0;font-size:large;text-align: center" once-text="'Stocks'|translate"></th>
    </tr>
    <tr>
      <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4"><b once-text="'Stock Count'|translate"></b></td>
      <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4">{{myData.ndcHoldingSecurityData.stockCount}}</td>
    </tr>
    <tr>
      <th colspan="2" style="background-color: #e0e0e0;font-size:large;text-align: center" once-text="'Stock Sizes'|translate"></th>
    </tr>
    <tr ng-repeat="sts in myData.ndcHoldingSecurityData.stockSizes">
      <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4">{{sts.currencyCode}}</td>
      <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4">{{sts.totalMoney}}</td>
    </tr>
    <tr>
      <th colspan="2" style="background-color: #e0e0e0;font-size:large; text-align: center" once-text="'Bonds x'|translate"></th>
    </tr>
    <tr>
      <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><b once-text="'Bond Count'|translate"></b></td>
      <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6">{{myData.ndcHoldingSecurityData.bondCount}}</td>
    </tr>
    <tr>
      <th colspan="2" style="background-color: #e0e0e0;font-size:large;text-align: center" once-text="'Bond Sizes'|translate"></th>
    </tr>
    <tr ng-repeat="bns in myData.ndcHoldingSecurityData.bondSizes">
      <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4">{{bns.currencyCode}}</td>
      <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4">{{bns.totalMoney}}</td>
    </tr>

    <tr>
      <th colspan="2" style="background-color: #e0e0e0;font-size:large; text-align: center">Notlar</th>
    </tr>

    <tr>
      <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><b>Notların sayı</b></td>
      <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6">{{ myData.ndcHoldingSecurityData.noteCount }}</td>
    </tr>

    <tr>
      <th colspan="2" style="background-color: #e0e0e0;font-size:large;text-align: center">Notlar üzrə həcm</th>
    </tr>

    <tr ng-repeat="bns in myData.ndcHoldingSecurityData.noteSizes">
      <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4">{{ bns.currencyCode }}</td>
      <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4">{{ bns.totalMoney }}</td>
    </tr>

  </table>
</div>
