<div
  kendo-splitter="params.splitter1"
  orientation="'horizontal'"
  class="persons-view-splitter"
  k-collapse="searchCriteriaCollapse"
  k-expand="searchCriteriaExpand"
  k-navigatable="true"
  k-scrollable="true"
  panes="params.config.splitterPanesConfig">

  <div
    ng-form="search.formName"
    role="form"
    csm-enter="findData()"
    ng-submit="findData()"
    class="person-find-criteria-form fg-dark left-pane-style"
    novalidate>


    <div class="row filter-buttons-position">




      <md-button
        aria-label="right arrow button"
        type="button"
        ng-click="resetForm()"
        class="md-micro md-fab pull-right filter-button-style">

        <md-tooltip md-direction="down">
          <span once-text="'Reset Filter'|translate"></span>
        </md-tooltip>
        <span class="icon icon-remove-filter"></span>

      </md-button>

      <md-button
        aria-label="right arrow button"
        type="button"
        ng-click="findData()"
        class="md-micro md-fab pull-right filter-button-style">

        <md-tooltip md-direction="down">
          <span once-text="'Filter'|translate"></span>
        </md-tooltip>
        <span class="icon icon-filter"></span>

      </md-button>

    </div>


    <div class="pane-content">
    </div>

  </div>

  <div class="pane-content">
    <div class="view-buttons-wrapper">



      <md-button
        aria-label="hamburger button"
        class="pull-left md-icon-button md-primary hamburger-button-style"
        ng-click="toggleSearchCriteriaBlock(params.splitter1)">
        <span class="glyphicon glyphicon-align-justify micro-glyphicon micro-align-glyphicon"></span>
      </md-button>
      <!--<span class="text-danger grid-text-danger" ng-show="person.searchResult.isEmpty"-->
      <!--once-text="'Nobody Found!'|translate"></span>-->

      <div class="pull-right view-button-group">

        <md-button type="button"
                   class="md-fab md-micro"
                   aria-label="Select"
                   ng-disabled="searchConfig.accountPrescription.selectedPaymentIndex === false"
                   ng-click="selectPerson()">
          <i class="glyphicon glyphicon-ok micro-glyphicon"></i>
          <md-tooltip md-direction="down">
            <span once-text="'Select Person'|translate"></span>
          </md-tooltip>
        </md-button>

        <md-button type="button" class="md-fab md-micro"
                   aria-label="Export to excel"
                   ng-click="exportToExcel(search.searchResultGrid)">
          <i class="glyphicon glyphicon-export micro-glyphicon"></i>
          <md-tooltip md-direction="down">
            <span once-text="'Export to Excel'|translate"></span>
          </md-tooltip>
        </md-button>
        <md-button type="button" class="md-fab md-micro"
                   aria-label="Mini FAB"
                   ng-click="closeWindow()">

          <i class="glyphicon glyphicon-remove micro-glyphicon"></i>

          <md-tooltip md-direction="down">
            <span once-text="'Close Window'|translate"></span>
          </md-tooltip>

        </md-button>

      </div>
    </div>
    <div class="person-find-result-block">

      <div


        kendo-grid="search.searchResultGrid"
        k-ng-delay="mainGridOptions"
        k-options="mainGridOptions"
        k-on-change="test.personSelected(data)"
        k-sortable="true"
        k-scrollable="true"
        k-pageable='{ "pageSize": 20, "refresh": true, "pageSizes": true, "buttonCount": 5 }'
        k-resizable="true"
      >

      </div>

    </div>

  </div>

</div>
