<div
  kendo-splitter="splitter"
  orientation="'horizontal'"
  class="corporate-action-view-splitter"
  k-collapse="searchCriteriaCollapse"
  k-expand="searchCriteriaExpand"
  panes="params.config.splitterPanesConfig">

  <div class="pane-content">
    <div ng-form="corporateAction.formName"
         role="form"
         csm-enter="findCorporateAction()"
         ng-submit="findCorporateAction()"
         class="person-find-criteria-form  fg-dark left-pane-style"
         novalidate>

      <div class="row filter-buttons-position">
        <md-button
          aria-label="right arrow button"
          type="button"
          ng-click="resetForm()"
          class="md-micro md-fab pull-right filter-button-style">
          <md-tooltip md-direction="down">
            <span once-text="'Reset Form'|translate"></span>
          </md-tooltip>
          <span class="icon icon-remove-filter"></span>
        </md-button>
        <md-button
          ng-show="params.showSearchCriteriaBlock"
          aria-label="right arrow button"
          type="button"
          ng-click="findCorporateAction()"
          class="md-micro md-fab pull-right filter-button-style">
          <md-tooltip md-direction="down">
            <span once-text="'Find Corporate Action'|translate"></span>
          </md-tooltip>
          <span class="icon icon-filter"></span>
        </md-button>
      </div>
      <uib-accordion>
        <uib-accordion-group is-disabled="!status.isFirstDisabled" ng-if="params.formConfig.caCategory.isVisible">
          <uib-accordion-heading>
            <div>
              <div class="person-search-template-input-style">
                <label class="text-right inline-block corporate-action-text-muted-manual">
                  <span once-text="'Corporate Action Category'|translate"></span>:</label>

                <div class="inline-block person-search-inputs">
                  <select
                    kendo-drop-down-list
                    ng-model="corporateAction.form.corporateActionCategoryId"
                    ng-change="changeCorporateActionCategory()"
                    k-data-text-field="'name'+lnC"
                    k-data-value-field="'id'"
                    k-data-source="corporateAction.data.corporateActionCategories"
                    >
                  </select>
                </div>
              </div>
            </div>
          </uib-accordion-heading>
        </uib-accordion-group>
        <uib-accordion-group is-disabled="!status.isFirstDisabled" ng-if="params.formConfig.caClass.isVisible">
          <uib-accordion-heading>
            <div>
              <div class="person-search-template-input-style">
                <label class="text-right inline-block corporate-action-text-muted-manual">
                  <span once-text="'Corporate Action Type'|translate"></span>:</label>

                <div class="inline-block person-search-inputs">
                  <select
                    kendo-drop-down-list
                    ng-model="corporateAction.form.corporateActionClassId"
                    k-data-text-field="'name'+lnC"
                    k-data-value-field="'id'"
                    k-data-source="corporateAction.data.corporateActionClasses"
                    >
                  </select>
                </div>
              </div>
            </div>
          </uib-accordion-heading>
        </uib-accordion-group>
        <uib-accordion-group is-disabled="!status.isFirstDisabled">
          <uib-accordion-heading>
            <div class="person-search-template-input-style"
                 ng-class="{ 'has-error': (corporateAction.formName.$submitted || corporateAction.formName.reg_num.$touched)
             &&(corporateAction.formName.reg_num.$invalid)  }">
              <label class="text-right inline-block corporate-action-text-muted-manual">
                <span once-text="'Registration Number'|translate"></span>:</label>

              <div class="inline-block person-search-inputs">
                <input
                  class="k-textbox"
                  type="text"
                  name="reg_num"
                  ng-model="corporateAction.form.registrationNumber"
                  >
              </div>
            </div>
          </uib-accordion-heading>
        </uib-accordion-group>
        <uib-accordion-group is-disabled="!status.isFirstDisabled">
          <uib-accordion-heading>
            <div class="person-search-template-input-style"
                 ng-class="{ 'has-error':  (corporateAction.formName.$submitted || corporateAction.formName.registration_date.$touched)
                 &&(corporateAction.formName.registration_date.$invalid)  }">
              <label class="text-right inline-block corporate-action-text-muted-manual"><span
                once-text="'Record Date'|translate"></span>:</label>

              <div class="inline-block person-search-inputs">
                <input type="text"
                       kendo-date-picker
                       csm-kendo-date=""
                       name="registration_date"
                       ng-model="corporateAction.form.registrationDate"
                       k-ng-model="corporateAction.form.registrationDateObj"
                  >

                <div
                  ng-show="corporateAction.formName.$submitted || corporateAction.formName.registration_date.$touched">
                  <p ng-show="corporateAction.formName.registration_date.$error.required"
                     class="help-block help-block-error">
                    <span once-text="'This field is required'|translate"></span>
                  </p>

                  <p ng-show="corporateAction.formName.registration_date.$error.csmKendoDate"
                     class="help-block help-block-error">
                    <span once-text="'Please enter a valid date!'|translate"></span>
                  </p>
                </div>
              </div>
            </div>
          </uib-accordion-heading>
        </uib-accordion-group>
        <uib-accordion-group is-disabled="!status.isFirstDisabled">
          <uib-accordion-heading>
            <div class="person-search-template-input-style"
                 ng-class="{ 'has-error': (corporateAction.formName.$submitted || corporateAction.formName.ISIN.$touched)
             &&(corporateAction.formName.ISIN.$invalid) }">
              <label class="text-right inline-block corporate-action-text-muted-manual">
                <span class="required-sign">*</span><span once-text="'ISIN'|translate"></span>:</label>

              <div class="inline-block person-search-inputs">
                <input
                  class="k-textbox"
                  type="text"
                  name="ISIN"
                  ng-model="corporateAction.form.ISIN"
                  >
              </div>
            </div>
          </uib-accordion-heading>
        </uib-accordion-group>
      </uib-accordion>


      <!-- Search Button-->
      <!--<div class="row" ng-show="params.showSearchCriteriaBlock">-->
      <!--<div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">-->

      <!--<div class="form-group">-->
      <!--<md-button type="button"-->
      <!--aria-label="search button"-->
      <!--ng-click="findCorporateAction()"-->
      <!--class="md-raised md-button view-search-button footer-button-style">-->
      <!--<i class="glyphicon glyphicon-search"></i>-->
      <!--<span once-text="'Find Corporate Action'|translate"></span>-->
      <!--</md-button>-->

      <!--</div>-->

      <!--</div>-->
      <!--</div>-->

    </div>
  </div>

  <div class="pane-content">

    <div class="view-buttons-wrapper">
      <md-button aria-label="hamburger button"
                 class="pull-left md-icon-button md-primary hamburger-button-style"
                 ng-click="toggleSearchCriteriaBlock (splitter)">
        <span class="glyphicon glyphicon-align-justify micro-glyphicon micro-align-glyphicon"></span>

      </md-button>
     <!--<span class="text-danger grid-text-danger" ng-show="corporateAction.searchResult.isEmpty"-->
           <!--once-text="'Nothing Found!'|translate"></span>-->

      <div class="pull-right view-button-group">

        <!--View actions -->
        <md-button ng-if="!config.screenId"
                   type="button"
                   class="md-fab md-micro"
                   aria-label="submit button"
                   ng-disabled="searchConfig.person.selectedCorporateActionIndex === false"
                   ng-click="selectCorporateAction()">
          <i class="glyphicon glyphicon-ok micro-glyphicon"></i>
          <md-tooltip md-direction="down">
            <span once-text="'Select Corporate Action'|translate"></span>
          </md-tooltip>
        </md-button>
        <md-button
          type="button"
          class="md-fab md-micro"
          aria-label="Export to excel"
          ng-click="exportToExcel(corporateAction.searchResultGrid)">
          <i class="glyphicon glyphicon-export micro-glyphicon"></i>
          <md-tooltip md-direction="down">
            <span once-text="'Export to Excel'|translate"></span>
          </md-tooltip>
        </md-button>
        <md-button type="button" class="md-fab md-micro"
                   aria-label="Mini FAB"
                   ng-click="closeWindow()">

          <i class="glyphicon glyphicon-remove micro-glyphicon"></i>

          <md-tooltip md-direction="down">
            <span once-text="'Close Window'|translate"></span>
          </md-tooltip>

        </md-button>

      </div>
    </div>

    <div class="person-find-result-block">

      <!-- Bu setirdeki DIV'de ng-show="corporateAction.searchResult.data" silinmishdir-->
      <div
        class="kendo-grid-top"
        kendo-grid="corporateAction.searchResultGrid"
        k-data-source="gridData"
        k-columns="gridColumns"
        k-selectable="true" k-scrollable="true" k-pageable="true" k-page-size="20"
        k-on-change="corporateAction.corporateActionSelected(data)"
        k-sortable="true"
        k-scrollable="true"
        k-width="'auto'"
        k-pageable='{ "pageSize": 5, "refresh": true, "pageSizes": true }'
        k-resizable="true"
        k-detail-init="detailInit"
        >

        <div k-detail-template>

          <md-tabs md-selected="selectedIndex" md-border-bottom style="min-height: 250px;">
            <md-tab label="{{labels.lblUnderlyingSecurities}}">
              <div kendo-grid
                   k-data-source="dataItem.underlyingSecurity"
                   k-options="underlyingSecuritiesGrid()"
                   k-resizable="true"
                   k-sortable="true"
                   k-height="150"
                   k-scrollable="true">

              </div>
            </md-tab>
            <md-tab label="{{labels.lblEntitlementSecurities}}">
              <div kendo-grid
                   k-data-source="dataItem.entitlementSecurity"
                   k-options="entitlementSecuritiesGrid()"
                   k-resizable="true"
                   k-sortable="true"
                   k-height="150"
                   k-scrollable="true"></div>
            </md-tab>
          </md-tabs>
        </div>

      </div>


    </div>

  </div>

</div>




