<div
  kendo-splitter="params.splitter1"
  orientation="'horizontal'"
  class="persons-view-splitter"
  k-collapse="searchCriteriaCollapse"
  k-expand="searchCriteriaExpand"
  k-no-records="true"
  k-navigatable="true"
  panes="params.config.splitterPanesConfig">

  <div ng-form="debtor.formName"
       role="form"
       csm-enter="findDebtor()"
       ng-submit="findDebtor()"
       class="person-find-criteria-form  fg-dark left-pane-style"
       novalidate>


    <div class="row filter-buttons-position">
      <md-button
        aria-label="right arrow button"
        type="button"
        ng-click="resetForm()"
        class="md-micro md-fab pull-right filter-button-style">
        <md-tooltip md-direction="down">
          <span once-text="'Reset Filter'|translate"></span>
        </md-tooltip>
        <span class="icon icon-remove-filter"></span>
      </md-button>

      <md-button
        aria-label="right arrow button"
        type="button"
        ng-click="findDebtor()"
        class="md-micro md-fab pull-right filter-button-style">
        <md-tooltip md-direction="down">
          <span once-text="'Filter'|translate"></span>
        </md-tooltip>
        <span class="icon icon-filter"></span>
      </md-button>
    </div>


    <div class="pane-content">
      <uib-accordion close-others="false">
        <uib-accordion-group is-disabled="true">
          <uib-accordion-heading>

            <div class="person-search-template-input-style">
              <label class="text-right inline-block text-muted-manual-40">
                <span once-text="'ISIN'|translate"></span>:</label>

              <div class="inline-block person-search-inputs">
                <input
                  class="k-textbox"
                  type="text"
                  name="instrument"
                  ng-model="debtor.form.ISIN">

              </div>
            </div>
          </uib-accordion-heading>
        </uib-accordion-group>
        <uib-accordion-group is-disabled="true">
          <uib-accordion-heading>

            <div class="person-search-template-input-style">
              <label class="text-right inline-block text-muted-manual-40">
                <span once-text="'Issuer'|translate"></span>:</label>

              <div class="inline-block person-search-inputs">
                <input
                  class="k-textbox"
                  type="text"
                  name="instrument"
                  ng-model="debtor.form.issuerName">

              </div>
            </div>
          </uib-accordion-heading>
        </uib-accordion-group>
      </uib-accordion>
    </div>
  </div>


  <div class="pane-content">
    <div class="view-buttons-wrapper">
      <md-button
        ng-if="params.criteriaEnabled"
        aria-label="hamburger button"
        class="pull-left md-icon-button md-primary hamburger-button-style"
        ng-click="toggleSearchCriteriaBlock(params.splitter1)">
        <span class="glyphicon glyphicon-align-justify micro-glyphicon micro-align-glyphicon"></span>
      </md-button>

      <div class="pull-right view-button-group">
        <!--View actions -->
        <md-button ng-if="!config.screenId"
                   type="button"
                   class="md-fab md-micro"
                   aria-label="Select"
                   ng-disabled="searchConfig.debtor.selectedDebtorIndex === false"
                   ng-click="selectDebtor()">
          <i class="glyphicon glyphicon-ok micro-glyphicon"></i>
          <md-tooltip md-direction="down">
            <span once-text="'Select Debtor'|translate"></span>
          </md-tooltip>
        </md-button>

        <md-button type="button" class="md-fab md-micro"
                   aria-label="Export to excel"
                   ng-click="exportToExcel(debtor.searchResultGrid)">
          <i class="glyphicon glyphicon-export micro-glyphicon"></i>
          <md-tooltip md-direction="down">
            <span once-text="'Export to Excel'|translate"></span>
          </md-tooltip>
        </md-button>
        <md-button type="button" class="md-fab md-micro"
                   aria-label="Mini FAB"
                   ng-click="closeWindow()">

          <i class="glyphicon glyphicon-remove micro-glyphicon"></i>

          <md-tooltip md-direction="down">
            <span once-text="'Close Window'|translate"></span>
          </md-tooltip>

        </md-button>

      </div>
    </div>
    <div class="person-find-result-block">

      <!--<p class="text-danger margin20" ng-show="debtor.searchResult.isEmpty"-->
         <!--once-text="'No Record Found!'|translate"></p>-->

      <div
        kendo-grid="debtor.searchResultGrid"
        k-ng-delay="debtor.mainGridOptions"
        k-options="debtor.mainGridOptions"
        k-on-change="debtor.debtorSelected(data)"

        k-sortable="true"
        k-scrollable="true"
        k-pageable='{"pageSize": 20, "refresh": true, "pageSizes": true, "buttonCount": 5 }'
        k-resizable="true"
        k-detail-init="detailInit"
        >
        <div k-detail-template>
          <h4 once-text="'White List'|translate"></h4>

          <div kendo-grid k-data-source="dataItem.whiteList" k-options="detailGrid()" k-resizable="true">
            <div k-detail-template>
              <h5 once-text="'Available Actions'|translate"></h5>
              <ul>
                <li ng-repeat="actionClass in dataItem.rejectionActionClasses" ng-if="actionClass.isSelected == 'true'">
                  {{actionClass.actionClass['name'+lnC]}}
                </li>
              </ul>
            </div>

          </div>
        </div>

      </div>

    </div>

  </div>

  <!--</div>-->
</div>
