<div ng-show="person.personDetails" class="person-details-view padding10  fg-dark">
  <md-button
    aria-label="right arrow button"
    type="button"
    ng-click="closePersonDetails()"
    class="md-micro md-fab pull-right">

    <span class="glyphicon glyphicon-eye-close micro-glyphicon"></span>
    <md-tooltip><span once-text="'Close'|translate"></span></md-tooltip>
  </md-button>
</div>


<div
  kendo-splitter="params.splitter1"
  orientation="'horizontal'"
  class="persons-view-splitter"
  k-collapse="searchCriteriaCollapse"
  k-expand="searchCriteriaExpand"
  k-no-records="true"
  k-navigatable="true"
  panes="params.config.splitterPanesConfig">

  <div
    ng-form="person.formName"
    role="form"
    csm-enter="findPerson()"
    ng-submit="findPerson()"
    class="person-find-criteria-form fg-dark left-pane-style"
    novalidate>
    <div ng-if="params.criteriaEnabled" class="row filter-buttons-position">
      <md-button
        aria-label="right arrow button"
        type="button"
        ng-click="resetForm()"
        class="md-micro md-fab pull-right filter-button-style">
        <md-tooltip md-direction="down">
          <span once-text="'Reset Filter'|translate"></span>
        </md-tooltip>
        <span class="icon icon-remove-filter"></span>
      </md-button>

      <md-button
        aria-label="right arrow button"
        type="button"
        ng-click="findPerson()"
        class="md-micro md-fab pull-right filter-button-style">
        <md-tooltip md-direction="down">
          <span once-text="'Filter'|translate"></span>
        </md-tooltip>
        <span class="icon icon-filter"></span>
      </md-button>
    </div>
    <div ng-if="params.criteriaEnabled" class="pane-content">
      <uib-accordion close-others="false">

        <uib-accordion-group is-disabled="true">
          <uib-accordion-heading>
            <div class="form-group person-search-template-input-style">
              <label class="panel-body-label text-right inline-block text-muted-manual">
                <span once-text="'Deponentin adı'|translate"></span>:</label>

              <div class="inline-block person-search-inputs">
                <input
                  class="k-textbox"
                  type="text"
                  name="pr_username"
                  ng-model="person.form.name">

              </div>
            </div>
          </uib-accordion-heading>

        </uib-accordion-group>
        <uib-accordion-group is-disabled="true">
          <uib-accordion-heading>
            <div class="form-group person-search-template-input-style">
              <label class="panel-body-label text-right inline-block text-muted-manual">
                <span once-text="'Hüquqi şəxs'|translate"></span>:</label>

              <div class="inline-block">
                <md-checkbox
                  aria-label="checkbox 1"
                  ng-model="person.form.isJuridical"
                >
                </md-checkbox>
              </div>
            </div>
          </uib-accordion-heading>

        </uib-accordion-group>

      </uib-accordion>
    </div>
    <div class="">
      <div class="alert alert-info">
        <strong class="glyphicon glyphicon-info-sign"></strong>
        <span>Müqaviləsi olan deponentlər siyahıya çıxmır.</span>
      </div>
    </div>

  </div>

  <div class="pane-content">
    <div class="view-buttons-wrapper">
      <md-button
        ng-if="params.criteriaEnabled"
        aria-label="hamburger button"
        class="pull-left md-icon-button md-primary hamburger-button-style"
        ng-click="toggleSearchCriteriaBlock(params.splitter1)">
        <span class="glyphicon glyphicon-align-justify micro-glyphicon micro-align-glyphicon"></span>
      </md-button>

      <div class="pull-right view-button-group">
        <!--View actions -->
        <md-button ng-if="!config.screenId"
                   type="button"
                   class="md-fab md-micro"
                   aria-label="Select"
                   ng-disabled="searchConfig.person.selectedPersonIndex === false"
                   ng-click="selectPerson(person.searchResultGrid)">
          <i class="glyphicon glyphicon-ok micro-glyphicon"></i>
          <md-tooltip md-direction="down">
            <span once-text="'Select Person'|translate"></span>
          </md-tooltip>
        </md-button>
        <md-button ng-if="config.screenId"

                   type="button"
                   class="md-fab md-micro"
                   aria-label="View"
                   ng-disabled="searchConfig.person.selectedPersonIndex === false"
                   ng-click="showPersonDetails()">
          <i class="glyphicon glyphicon-eye-open micro-glyphicon"></i>
          <md-tooltip md-direction="down">
            <span once-text="'View'|translate"></span>
          </md-tooltip>
        </md-button>
        <md-button type="button" class="md-fab md-micro"
                   aria-label="Export to excel"
                   ng-click="exportToExcel(person.searchResultGrid)">
          <i class="glyphicon glyphicon-export micro-glyphicon"></i>
          <md-tooltip md-direction="down">
            <span once-text="'Export to Excel'|translate"></span>
          </md-tooltip>
        </md-button>
        <md-button type="button" class="md-fab md-micro"
                   aria-label="Mini FAB"
                   ng-click="closeWindow()">

          <i class="glyphicon glyphicon-remove micro-glyphicon"></i>

          <md-tooltip md-direction="down">
            <span once-text="'Close Window'|translate"></span>
          </md-tooltip>

        </md-button>

      </div>
    </div>
    <div class="person-find-result-block">

      <!--<span class="text-danger " ng-show="person.searchResult.isEmpty"-->
      <!--once-text="'Nobody Found!'|translate"></span>-->


      <div
        kendo-grid="person.searchResultGrid"
        k-ng-delay="person.mainGridOptions"
        k-options="person.mainGridOptions"
        k-on-change="person.personSelected(data)"
        k-sortable="true"
        k-scrollable="true"
        k-pageable='{ "pageSize": 20, "refresh": true, "pageSizes": true, "buttonCount": 5 }'
        k-resizable="true"
      >

      </div>

    </div>

  </div>

</div>

