<div ng-show="person.personDetails" class="person-details-view padding10  fg-dark">
  <md-button
    aria-label="right arrow button"
    type="button"
    ng-click="closePersonDetails()"
    class="md-micro md-fab pull-right">

    <span class="glyphicon glyphicon-eye-close micro-glyphicon"></span>
    <md-tooltip><span once-text="'Close'|translate"></span></md-tooltip>
  </md-button>
  <!--<div class="md-raised md-button clearing"></div>-->

  <div class="content-block" ng-repeat="person in [person.personDetails] "
       ng-include="'app/persons/templates/partials/person-details.html'"></div>
</div>


<div
  kendo-splitter="params.splitter1"
  orientation="'horizontal'"
  class="persons-view-splitter"
  k-collapse="searchCriteriaCollapse"
  k-expand="searchCriteriaExpand"
  k-no-records="true"
  k-navigatable="true"
  panes="params.config.splitterPanesConfig">

  <div
    ng-form="person.formName"
    role="form"
    csm-enter="findPerson()"
    ng-submit="findPerson()"
    class="person-find-criteria-form fg-dark left-pane-style"
    novalidate>
    <div ng-if="params.criteriaEnabled" class="row filter-buttons-position">
      <md-button
        aria-label="right arrow button"
        type="button"
        ng-click="resetForm()"
        class="md-micro md-fab pull-right filter-button-style">
        <md-tooltip md-direction="down">
          <span once-text="'Reset Filter'|translate"></span>
        </md-tooltip>
        <span class="icon icon-remove-filter"></span>
      </md-button>
      <md-button
        aria-label="right arrow button"
        type="button"
        ng-click="findPerson()"
        class="md-micro md-fab pull-right filter-button-style">
        <md-tooltip md-direction="down">
          <span once-text="'Filter'|translate"></span>
        </md-tooltip>
        <span class="icon icon-filter"></span>
      </md-button>
    </div>
    <div ng-if="params.criteriaEnabled" class="pane-content">
      <uib-accordion close-others="false">

        <uib-accordion-group ng-if="!params.config.criteriaForm.personType.isVisible">
          <uib-accordion-heading>
            <div class="collapsible-panel-heading cursor-pointer">
              <label class="text-right text-muted-manual">
                <a href="#" once-text="'Date'|translate" class="text-muted-manual"></a>
              </label>

              <div class="inline-block pull-right">
                <i class="glyphicon pull-right person-search-accordion-icon"></i>
              </div>
            </div>
          </uib-accordion-heading>


          <div>
            <div class="person-search-template-input-style">
              <label class="panel-body-label text-right inline-block text-muted-manual">
                <span once-text="'Create Date From'|translate"></span>:</label>

              <div class="inline-block person-search-inputs">
                <input type="text"
                       kendo-date-picker
                       name="registration_date_start"
                       ng-model="person.form.createdDate.first"
                       k-ng-model="person.form.createdDate.firstObj">

              </div>
            </div>
            <div class="form-group person-search-template-input-style">
              <label class="panel-body-label text-right inline-block text-muted-manual">
                <span once-text="'Create Date To'|translate"></span>:</label>

              <div class="inline-block person-search-inputs">
                <input type="text"
                       kendo-date-picker
                       name="registration_date_finish"
                       ng-model="person.form.createdDate.last"
                       k-ng-model="person.form.createdDate.lastObj">

              </div>
            </div>

          </div>


        </uib-accordion-group>

        <uib-accordion-group ng-if="params.config.criteriaForm.personType.isVisible" is-disabled="true">
          <uib-accordion-heading>

            <!--<div class="row" >-->
            <div class="person-search-template-input-style">
              <label class="text-right inline-block text-muted-manual">
                <span once-text="'Unique ID'|translate"></span>:</label>

              <div class="inline-block person-search-inputs">
                <input
                  class="k-textbox"
                  type="text"
                    name="unique_code"
                  ng-model="person.form.uniqueCode">
              </div>
            </div>


            <!--</div>-->
          </uib-accordion-heading>
        </uib-accordion-group>
        <uib-accordion-group ng-if="params.config.criteriaForm.personType.isVisible" is-disabled="true">
          <uib-accordion-heading>
            <div class="form-group person-search-template-input-style"
                 ng-class="{ 'has-error': (person.formName.$submitted || person.formName.account_number.$touched) &&(person.formName.account_number.$invalid)  }">

              <label class="text-right inline-block text-muted-manual">
                <span once-text="'Account Number'|translate"></span>:</label>

              <div class="inline-block person-search-inputs">
                <input
                  class="k-textbox"
                  type="text"
                  name="account_number"
                  ng-model="person.form.accountNumber"
                  >

                <div ng-show="person.formName.$submitted || person.formName.account_number.$touched">
                  <p ng-show="person.formName.account_number.$error.required"
                     class="help-block help-block-error">
                    <span once-text="'This field is required'|translate"></span>
                  </p>
                </div>
              </div>
            </div>

          </uib-accordion-heading>
        </uib-accordion-group>

        <uib-accordion-group ng-if="params.config.criteriaForm.personType.isVisible" is-disabled="true">
          <uib-accordion-heading>

            <!--<div class="row" >-->
            <div class="person-search-template-input-style">
              <label class="text-right inline-block text-muted-manual">
                <span once-text="'Person Type'|translate"></span>:</label>

              <div class="inline-block person-search-inputs">
                <select kendo-drop-down-list
                        ng-model="person.form.personClassId"
                        ng-change="changePersonType()"
                        k-value='person.form.personClassId'
                        k-data-text-field="'name'+lnC"
                        k-data-value-field="'id'"
                        k-data-source=" person.data.personClasses"
                        k-width="'100%'"
                  >
                </select>
              </div>
            </div>


            <!--</div>-->
          </uib-accordion-heading>
        </uib-accordion-group>
        <uib-accordion-group>
          <uib-accordion-heading>
            <div class="collapsible-panel-heading cursor-pointer">
              <label class="text-right text-muted-manual">
                <a href="#" once-text="'Name'|translate" class="text-muted-manual"></a>
              </label>

              <div class="inline-block pull-right">
                <i class="glyphicon pull-right person-search-accordion-icon"></i>
              </div>
            </div>

          </uib-accordion-heading>
          <div>
            <div ng-show="person.selectedPersonType == person.data.personClassCodes.natural_person">

              <div class="form-group person-search-template-input-style"
                   ng-class="{ 'has-error': (person.formName.$submitted || person.formName.last_name.$touched)
             &&(person.formName.first_name.$invalid)  }">
                <label class="panel-body-label text-right inline-block"><span
                  once-text="'Last Name'|translate"></span>:</label>

                <div class="inline-block person-search-inputs">

                  <input
                    class="k-textbox"
                    type="text"
                    name="last_name"
                    ng-model="person.form.lastName">

                  <div ng-show="person.formName.$submitted || person.formName.last_name.$touched">
                    <p ng-show="person.formName.last_name.$error.required"
                       class="help-block help-block-error">
                      <span once-text="'This field is required'|translate"></span>
                    </p>
                  </div>
                </div>
              </div>

              <div class="form-group person-search-template-input-style"
                   ng-class="{ 'has-error': (person.formName.$submitted || person.formName.first_name.$touched) &&(person.formName.first_name.$invalid)  }">
                <label class="panel-body-label text-right inline-block">
                  <span once-text="'First Name'|translate"></span>:</label>

                <div class="inline-block person-search-inputs">

                  <input
                    class="k-textbox"
                    type="text"
                    name="first_name"
                    ng-model="person.form.firstName">

                  <div ng-show="person.formName.$submitted || person.formName.first_name.$touched">
                    <p ng-show="person.formName.first_name.$error.required"
                       class="help-block help-block-error">
                      <span once-text="'This field is required'|translate"></span>
                    </p>
                  </div>
                </div>
              </div>

              <div class="form-group person-search-template-input-style"
                   ng-class="{ 'has-error': (person.formName.$submitted || person.formName.middle_name.$touched)
             &&(person.formName.first_name.$invalid)  }">
                <label class="panel-body-label text-right inline-block"><span
                  once-text="'Middle Name'|translate"></span>:</label>

                <div class="inline-block person-search-inputs">

                  <input
                    class="k-textbox"
                    type="text"
                    name="middle_name"
                    ng-model="person.form.middleName">

                  <div ng-show="person.formName.$submitted || person.formName.middle_name.$touched">
                    <p ng-show="person.formName.middle_name.$error.required"
                       class="help-block help-block-error">
                      <span once-text="'This field is required'|translate"></span>
                    </p>
                  </div>
                </div>
              </div>

            </div>
            <div ng-show="person.selectedPersonType == person.data.personClassCodes.juridical_person">
              <div class="person-search-template-input-style"
                   ng-class="{ 'has-error': (person.formName.$submitted || person.formName.name.$touched)
             &&(person.formName.first_name.$invalid)  }">
                <label class="panel-body-label text-right inline-block"><span
                  once-text="'Name'|translate"></span>:</label>

                <div class="inline-block person-search-inputs">

                  <input
                    class="k-textbox "
                    type="text"
                    name="last_name"
                    ng-model="person.form.fullName">

                  <div ng-show="person.formName.$submitted || person.formName.name.$touched">
                    <p ng-show="person.formName.name.$error.required"
                       class="help-block help-block-error">
                      <span once-text="'This field is required'|translate"></span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </uib-accordion-group>
        <!--<uib-accordion-group>-->
        <!--<uib-accordion-heading>-->
        <!--<div>-->
        <!--<div class="collapsible-panel-heading">-->
        <!--<label class="text-right text-muted-manual">-->
        <!--<a href="#" once-text="'Document'|translate" class="text-muted-manual"></a>-->
        <!--</label>-->

        <!--<div class="inline-block pull-right">-->
        <!--<i class="glyphicon pull-right person-search-accordion-icon"></i>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->

        <!--</uib-accordion-heading>-->
        <!--<div>-->
        <!--<div ng-if="person.selectedPersonType == person.data.personClassCodes.natural_person">-->
        <!--<div>-->
        <!--<div class="form-group person-search-template-input-style">-->
        <!--<label class="panel-body-label text-right inline-block text-muted-manual">-->
        <!--<span once-text="'Document Type'|translate"></span>:</label>-->

        <!--<div class="inline-block person-search-inputs">-->
        <!--<select-->
        <!--kendo-drop-down-list-->
        <!--ng-model="person.form.idDocumentClass"-->
        <!--k-data-text-field="'name'+lnC"-->
        <!--k-data-value-field="'code'"-->
        <!--k-data-source="person.data.naturalPersonIdDocumentTypes"-->
        <!--k-value="''">-->

        <!--</select>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--<div ng-if="person.selectedPersonType == person.data.personClassCodes.juridical_person">-->
        <!--<div>-->
        <!--<div class="form-group person-search-template-input-style">-->
        <!--<label class="panel-body-label text-right inline-block text-muted-manual">-->
        <!--<span once-text="'Document Type'|translate"></span>:</label>-->

        <!--<div class="inline-block person-search-inputs">-->
        <!--<select-->
        <!--kendo-drop-down-list-->
        <!--ng-model="person.form.idDocumentClass"-->
        <!--k-data-text-field="'name'+lnC"-->
        <!--k-data-value-field="'code'"-->
        <!--k-data-source="person.data.juridicalPersonIdDocumentTypes"-->
        <!--k-value="''">-->

        <!--</select>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="form-group person-search-template-input-style"-->
        <!--ng-class="{ 'has-error': (person.formName.$submitted || person.formName.id_document_series.$touched)-->
        <!--&&(person.formName.name.$invalid)  }">-->
        <!--<label class="panel-body-label text-right inline-block"><span-->
        <!--once-text="'ID Document Series'|translate"></span>:</label>-->

        <!--<div class="inline-block person-search-inputs">-->

        <!--<input-->
        <!--class="k-textbox"-->
        <!--type="text"-->
        <!--name="id_document_series"-->
        <!--ng-model="person.form.idDocumentSeries">-->

        <!--<div ng-show="person.formName.$submitted || person.formName.id_document_series.$touched">-->
        <!--<p ng-show="person.formName.id_document_series.$error.required"-->
        <!--class="help-block help-block-error">-->
        <!--<span once-text="'This field is required'|translate"></span>-->
        <!--</p>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="person-search-template-input-style"-->
        <!--ng-class="{ 'has-error': (person.formName.$submitted || person.formName.id_document_number.$touched)-->
        <!--&&(person.formName.id_document_number.$invalid)  }">-->
        <!--<label class="panel-body-label text-right inline-block"><span-->
        <!--once-text="'ID Document Number'|translate"></span>:</label>-->

        <!--<div class="inline-block person-search-inputs">-->

        <!--<input-->
        <!--class="k-textbox"-->
        <!--type="text"-->
        <!--name="id_document_number"-->
        <!--ng-model="person.form.idDocumentNumber">-->

        <!--<div ng-show="person.formName.$submitted || person.formName.id_document_number.$touched">-->
        <!--<p ng-show="person.formName.id_document_number.$error.required"-->
        <!--class="help-block help-block-error">-->
        <!--<span once-text="'This field is required'|translate"></span>-->
        <!--</p>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->

        <!--</div>-->
        <!--</uib-accordion-group>-->
        <uib-accordion-group is-disabled="true" ng-if="params.config.criteriaForm.personType.isVisible">
          <uib-accordion-heading>

            <div class="person-search-template-input-style"
                 ng-class="{ 'has-error': (person.formName.$submitted || person.formName.address_line.$touched)
                   &&(person.formName.address_line.$invalid)  }">
              <label class="text-right inline-block text-muted-manual">
                <span once-text="'Address Line'|translate"></span>:</label>

              <div class="inline-block person-search-inputs">
                <input
                  class="k-textbox"
                  type="text"
                  name="address_line"
                  ng-model="person.form.plainAddress">

                <div ng-show="person.formName.$submitted || person.formName.address_line.$touched">
                  <p ng-show="person.formName.address_line.$error.required"
                     class="help-block help-block-error">
                    <span once-text="'This field is required'|translate"></span>
                  </p>
                </div>
              </div>
            </div>
          </uib-accordion-heading>
        </uib-accordion-group>
      </uib-accordion>
    </div>

  </div>

  <div class="pane-content">
    <div class="view-buttons-wrapper">
      <md-button
        ng-if="params.criteriaEnabled"
        aria-label="hamburger button"
        class="pull-left md-icon-button md-primary hamburger-button-style"
        ng-click="toggleSearchCriteriaBlock(params.splitter1)">
        <span class="glyphicon glyphicon-align-justify micro-glyphicon micro-align-glyphicon"></span>
      </md-button>

      <div class="pull-right view-button-group">
        <!--View actions -->
        <md-button ng-if="!config.screenId"
                   type="button"
                   class="md-fab md-micro"
                   aria-label="Select"
                   ng-disabled="searchConfig.person.selectedPersonIndex === false"
                   ng-click="selectPerson()">
          <i class="glyphicon glyphicon-ok micro-glyphicon"></i>
          <md-tooltip md-direction="down">
            <span once-text="'Select Person'|translate"></span>
          </md-tooltip>
        </md-button>
        <md-button ng-if="config.screenId"

                   type="button"
                   class="md-fab md-micro"
                   aria-label="View"
                   ng-disabled="searchConfig.person.selectedPersonIndex === false"
                   ng-click="showPersonDetails()">
          <i class="glyphicon glyphicon-eye-open micro-glyphicon"></i>
          <md-tooltip md-direction="down">
            <span once-text="'View'|translate"></span>
          </md-tooltip>
        </md-button>
        <md-button type="button" class="md-fab md-micro"
                   aria-label="Export to excel"
                   ng-click="exportToExcel(person.searchResultGrid)">
          <i class="glyphicon glyphicon-export micro-glyphicon"></i>
          <md-tooltip md-direction="down">
            <span once-text="'Export to Excel'|translate"></span>
          </md-tooltip>
        </md-button>
        <md-button type="button" class="md-fab md-micro"
                   aria-label="Mini FAB"
                   ng-click="closeWindow()">

          <i class="glyphicon glyphicon-remove micro-glyphicon"></i>

          <md-tooltip md-direction="down">
            <span once-text="'Close Window'|translate"></span>
          </md-tooltip>

        </md-button>

      </div>
    </div>
    <div class="person-find-result-block">

      <!--<span class="text-danger " ng-show="person.searchResult.isEmpty"-->
            <!--once-text="'Nobody Found!'|translate"></span>-->


      <div
        kendo-grid="person.searchResultGrid"
        k-ng-delay="person.mainGridOptions"
        k-options="person.mainGridOptions"
        k-on-change="person.personSelected(data)"
        k-sortable="true"
        k-scrollable="true"
        k-pageable='{ "pageSize": 20, "refresh": true, "pageSizes": true, "buttonCount": 5 }'
        k-resizable="true"
        >
        <div k-detail-template ng-disabled="params.config.params.personSelected">
          <ul>
            <li ng-repeat="instrument in dataItem.details.instruments">
              {{instrument.instrumentName}}
            </li>
          </ul>


        </div>
      </div>

    </div>

  </div>

</div>

