 <div class="trade-view-buttons-wrapper">
   <div class="pull-left view-button-group">
     <div class="form-group inline-block">
       <label class="panel-body-label text-right inline-block text-muted-manual">
         <span once-text="'Start Date'|translate"></span>:</label>

       <div class="inline-block person-search-inputs">
         <input type="text"
                class="datepicker-cst"
                kendo-date-picker
                name="start"
                ng-model="trade.form.startDate"
                k-ng-model="trade.form.startDateObj"
         >
       </div>
     </div>
     <div class="form-group inline-block">
       <label class="panel-body-label text-right inline-block text-muted-manual">
         <span once-text="'Finish Date'|translate"></span>:</label>

       <div class="inline-block person-search-inputs">
         <input type="text"
                kendo-date-picker
                name="finish"
                ng-model="trade.form.finishDate"
                k-ng-model="trade.form.finishDateObj"
         >
       </div>
     </div>
   </div>
   <div class="pull-right view-button-group">
        <md-button type="button" class="md-fab md-micro"
                   aria-label="Export to excel"
                   ng-click="exportToExcel(trade.searchResultGrid)">
          <i class="glyphicon glyphicon-export micro-glyphicon"></i>
          <md-tooltip md-direction="down">
            <span once-text="'Export to Excel'|translate"></span>
          </md-tooltip>
        </md-button>
        <md-button type="button" class="md-fab md-micro"
                   aria-label="Mini FAB"
                   ng-click="closeWindow()">

          <i class="glyphicon glyphicon-remove micro-glyphicon"></i>

          <md-tooltip md-direction="down">
            <span once-text="'Close Window'|translate"></span>
          </md-tooltip>

        </md-button>

      </div>
 </div>

 <div class="trade-search-result-grid">
      <div
        kendo-grid="trade.searchResultGrid"
        k-ng-delay="trade.mainGridOptions"
        k-options="trade.mainGridOptions"
        k-sortable="true"
        k-scrollable="true"
        k-pageable='{ "pageSize": 20, "refresh": true, "pageSizes": true, "buttonCount": 5 }'
        k-resizable="true"
        >
      </div>

    </div>
