 <div class="view-buttons-wrapper">
   <div class="pull-left view-button-group">
     <div class="form-group inline-block">
       <label class="panel-body-label text-right inline-block text-muted-manual">
         <span once-text="'Start Date'|translate"></span>:</label>

       <div class="inline-block person-search-inputs">
         <input type="text"
                class="datepicker-cst"
                kendo-date-picker
                name="start"
                ng-model="freezing.form.startDate"
                k-ng-model="freezing.form.startDateObj"
         >
       </div>
     </div>
     <div class="form-group inline-block">
       <label class="panel-body-label text-right inline-block text-muted-manual">
         <span once-text="'Finish Date'|translate"></span>:</label>

       <div class="inline-block person-search-inputs">
         <input type="text"
                kendo-date-picker
                name="finish"
                ng-model="freezing.form.finishDate"
                k-ng-model="freezing.form.finishDateObj"
         >
       </div>
     </div>
   </div>
   <div class="pull-right view-button-group">
     <!--View actions -->
     <md-button type="button" class="md-fab md-micro"
                aria-label="Export to excel"
                ng-click="exportToExcel(freezing.searchResultGrid)">
       <i class="glyphicon glyphicon-export micro-glyphicon"></i>
       <md-tooltip md-direction="down">
         <span once-text="'Export to Excel'|translate"></span>
       </md-tooltip>
     </md-button>
     <md-button type="button" class="md-fab md-micro"
                aria-label="Mini FAB"
                ng-click="closeWindow()">

       <i class="glyphicon glyphicon-remove micro-glyphicon"></i>

       <md-tooltip md-direction="down">
         <span once-text="'Close Window'|translate"></span>
       </md-tooltip>

     </md-button>
   </div>

    </div>
 <div class="person-find-result-block">
      <div
        kendo-grid="freezing.searchResultGrid"
        k-ng-delay="freezing.mainGridOptions"
        k-options="freezing.mainGridOptions"
        k-on-change="freezing.freezingSelected(data)"

        k-sortable="true"
        k-scrollable="true"
        k-pageable='{"pageSize": 20, "refresh": true, "pageSizes": true, "buttonCount": 5 }'
        k-resizable="true"
        >


      </div>

    </div>

