<div class="trade-view-buttons-wrapper margin-top-20">
  <div class="pull-left view-button-group">
    <div class="form-group inline-block">
      <label class="panel-body-label text-right inline-block text-muted-manual">
        <span once-text="'Start Date'|translate"></span>:</label>

      <div class="inline-block person-search-inputs">
        <input type="text"
               class="datepicker-cst"
               kendo-date-picker
               name="start"
               ng-model="form.start"
               k-ng-model="form.startObj"
        >
      </div>
    </div>
    <div class="form-group inline-block">
      <label class="panel-body-label text-right inline-block text-muted-manual">
        <span once-text="'Finish Date'|translate"></span>:</label>

      <div class="inline-block person-search-inputs">
        <input type="text"
               kendo-date-picker
               name="finish"
               ng-model="form.end"
               k-ng-model="form.endObj"
        >
      </div>
    </div>
  </div>
  <div class="pull-right view-button-group">
    <md-button type="button" class="md-fab md-micro"
               aria-label="Refresh table"
               ng-click="findData()">
      <i class="glyphicon glyphicon-refresh micro-glyphicon"></i>
      <md-tooltip md-direction="down">
        <span once-text="'Refresh data'|translate"></span>
      </md-tooltip>
    </md-button>
    <md-button type="button" class="md-fab md-micro"
               aria-label="Export to excel"
               ng-click="exportToExcel(search.searchResultGrid)">
      <i class="glyphicon glyphicon-export micro-glyphicon"></i>
      <md-tooltip md-direction="down">
        <span once-text="'Export to Excel'|translate"></span>
      </md-tooltip>
    </md-button>
    <md-button type="button" class="md-fab md-micro"
               aria-label="Mini FAB"
               ng-click="closeWindow()">

      <i class="glyphicon glyphicon-remove micro-glyphicon"></i>

      <md-tooltip md-direction="down">
        <span once-text="'Close Window'|translate"></span>
      </md-tooltip>

    </md-button>

  </div>
</div>


<div class="table-margin20" style="position: relative; min-height: 800px">

  <div class="person-find-result-block">

    <div
      kendo-grid="search.searchResultGrid"
      k-ng-delay="mainGridOptions"
      k-options="mainGridOptions"
      k-sortable="true"
      k-scrollable="true"
      k-pageable='{ "pageSize": 20, "refresh": true, "pageSizes": true, "buttonCount": 5 }'
      k-resizable="true"
    >
      <div k-detail-template>
        <md-button type="button"
                   class="md-fab md-micro export-button"
                   aria-label="Export to excel"
                   ng-click="exportToExcel(detailGridInstance)">
          <i class="glyphicon glyphicon-export micro-glyphicon"></i>
          <md-tooltip md-direction="down">
            <span once-text="'Export to Excel'|translate"></span>
          </md-tooltip>
        </md-button>
        <div kendo-grid="detailGridInstance" k-options="detailGrid(dataItem)" k-resizable="true">
        </div>
      </div>
    </div>

  </div>
</div>
