<div  ng-repeat="comment in operation.comments" class="event event-comment">
  <div class="event-tile-row event-tile-small event-header">
    <div class="event-tile-content">
      <div class="event-symbol">
        <div class="avatar avatar-text avatar-small bg-yellow "
             data-role="hint"
             data-hint-background="bg-green"
             data-hint-color="fg-white"
             data-hint-mode="2"
             data-hint-position="top"
             data-hint="{{comment.user.full_name}}"
          >
          <div class="text">{{comment.user.short_name}}</div>
        </div>
      </div>
      <div class="event-info">
        <div class="event-time-wrapper">
          <div class="event-time"
               data-role="hint"
               data-hint-background="bg-green"
               data-hint-color="fg-white"
               data-hint-mode="2"
               data-hint-position="top"
               data-hint="{{comment.time.full}}">
            <i class="glyphicon glyphicon-time"></i>
            <span>{{comment.time.ago}}</span>
          </div>
        </div>
        <div class="event-title-wrapper">
          <span class="event-title" once-text="'Left a Comment'|translate"></span>
        </div>
      </div>
    </div>
  </div>
  <div class="event-content">
    <div class="comment">
      <p>{{comment.body}}</p>
    </div>
  </div>
</div>
