<div class="event event-document" ng-repeat="document in operation.documents">
  <div class="event-tile-row event-tile-small event-header">
    <div class="event-tile-content">
      <div class="event-symbol">
        <div class="avatar avatar-text avatar-small bg-yellow "
             data-role="hint"
             data-hint-background="bg-green"
             data-hint-color="fg-white"
             data-hint-mode="2"
             data-hint-position="top"
             data-hint="{{document.user.full_name}}"
          >
          <div class="text">{{document.user.short_name}}</div>
        </div>
      </div>
      <div class="event-info">
        <div class="event-time-wrapper">
          <div class="event-time"
               data-role="hint"
               data-hint-background="bg-green"
               data-hint-color="fg-white"
               data-hint-mode="2"
               data-hint-position="top"
               data-hint="{{document.time.full}}">
            <i class="glyphicon glyphicon-time"></i>
            <span>{{document.time.ago}}</span>
          </div>
        </div>
        <div class="event-title-wrapper">
          <span class="event-title" once-text="'Added a Document'|translate"></span>
        </div>
      </div>
    </div>
  </div>
  <div class="event-content">
    <div class="file">
      <div class="event-tile-row event-tile-action field field-file">
        <div class="event-tile-header"><i class="glyphicon glyphicon-file"></i></div>
        <div class="event-tile-toolbar">
          <a href="#" rel="ignore" class="btn"><i class="icon glyphicon glyphicon-download-alt"></i></a>
        </div>
        <div class="event-tile-content">
          <div class="file-size pull-right">{{document.file.size}}</div>
          <div class="file-name">{{document.file.name}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
