<div class="line padding10">

  <div class=" ">

    <!--<span class="date"-->
    <!--data-role="hint"-->
    <!--data-hint-background="bg-green"-->
    <!--data-hint-color="fg-white"-->
    <!--data-hint-mode="2"-->
    <!--data-hint-position="top"-->
    <!--data-hint="{{operation.creation_time.full}}" >-->
    <p class="date">
      <i class="glyphicon glyphicon-time"></i>
      <span> <span class="title" once-text="'Created'|translate"></span>:&nbsp;<i>{{ task.createDate |
        date:'yyyy-MM-ddHH:mm'}}</i></span>
    </p>

    <p class="date">
      <!--<span class="date"-->
      <!--data-role="hint"-->
      <!--data-hint-background="bg-green"-->
      <!--data-hint-color="fg-white"-->
      <!--data-hint-mode="2"-->
      <!--data-hint-position="top"-->
      <!--data-hint="{{operation.creation_time.full}}" >-->
      <i class="glyphicon glyphicon-time"></i>
      <span> <span class="title" once-text="'Due Date'|translate"></span>:&nbsp;{{task.dueDate | date:'yyyy-MM-dd HH:mm'}}</span>
    </p>

  </div>

  <br/>
  <button class="priority-pointer button {{task.priorityData.level}}"
          data-role="hint"
          data-hint-background="bg-green"
          data-hint-color="fg-white"
          data-hint-mode="2"
          data-hint-position="top"
          data-hint="Priority">{{task.priorityData['name'+ln]}}
  </button>

</div> <!--Line-->

<div class="line  wt-border padding10">

  <div class="input-control textarea">
    <textarea placeholder="{{'Type a Comment'|translate}}"></textarea>
  </div>

</div> <!--Line-->

<div class="line  padding10">

  <a class="file-attach" href="#"><i class="glyphicon glyphicon-paperclip"></i>
    <span once-text="'Upload a Document'|translate"></span></a>
  <input class="submit" type="submit" ng-value="'Send'|translate">

</div> <!--Line-->

<div class="line wt-border padding10">

  <div class="tabcontrol" data-role="tabControl">

    <ul class="tabs">

      <li><a href="#comments" once-text="'Comments'|translate"></a></li>
      <li><a href="#documents" once-text="'Documents'|translate"></a></li>

    </ul>
    <!--Tab controls-->

    <div class="frames">

      <div class="frame" id="comments">

        <div class="events" ng-include="'app/common/templates/partials/operation-comments.html'"></div>

      </div>

      <div class="frame" id="documents">

        <div class="events" ng-include="'app/common/templates/partials/operation-documents.html'"></div>

      </div>

    </div>
    <!--Tab frames-->

  </div>
  <!--Tab-->

</div>  <!--Line-->
