<div class="div-full-height">
  <div class="pull-right view-button-group">
    <md-button type="button" class="md-fab md-micro"
               aria-label="Export to excel"
               ng-click="exportToExcel(order.searchResultGrid)">
      <i class="glyphicon glyphicon-export micro-glyphicon"></i>
      <md-tooltip md-direction="down">
        <span once-text="'Export to Excel'|translate"></span>
      </md-tooltip>
    </md-button>
    <md-button type="button" class="md-fab md-micro"
               aria-label="Mini FAB"
               ng-click="closeWindow()">

      <i class="glyphicon glyphicon-remove micro-glyphicon"></i>

      <md-tooltip md-direction="down">
        <span once-text="'Close Window'|translate"></span>
      </md-tooltip>
    </md-button>

  </div>
  <span class="text-danger grid-text-danger" ng-show="order.searchResult.isEmpty"
        once-text="'No Order Found!'|translate"></span>

  <div class="order-search-result-grid">

    <div
      kendo-grid="order.searchResultGrid"
      k-data-source="gridData"
      k-columns="gridColumns"
      k-sortable="true"
      k-scrollable="true"
      k-pageable='{ "pageSize": 10, "refresh": true, "pageSizes": true }'
      k-resizable="true"
      >

    </div>

  </div>

</div>
