<div  class="person-details-view padding10  fg-dark">

  <div class="pane-content">
    <div class="view-buttons-wrapper">

      <div class="pull-right view-button-group">
        <!--View actions -->
        <md-button ng-if="!config.screenId"
                   type="button"
                   class="md-fab md-micro"
                   aria-label="Select"
                   ng-disabled="payment.selectedPaymentIndex === false"
                   ng-click="selectPerson()">
          <i class="glyphicon glyphicon-ok micro-glyphicon"></i>
          <md-tooltip md-direction="down">
            <span once-text="'Select Person'|translate"></span>
          </md-tooltip>
        </md-button>
        <md-button type="button" class="md-fab md-micro"
                   aria-label="Mini FAB"
                   ng-click="closeWindow()">

          <i class="glyphicon glyphicon-remove micro-glyphicon"></i>

          <md-tooltip md-direction="down">
            <span once-text="'Close Window'|translate"></span>
          </md-tooltip>

        </md-button>

      </div>
    </div>
    <div class="person-find-result-block">

      <div
        kendo-grid="payment.searchResultGrid"
        k-ng-delay="payment.mainGridOptions"
        k-options="payment.mainGridOptions"
        k-on-change="personSelected(data)"
        k-sortable="true"
        k-scrollable="true"
        k-pageable='{ "pageSize": 20, "refresh": true, "pageSizes": true, "buttonCount": 5 }'
        k-resizable="true",
        >

      </div>

    </div>

  </div>

</div>
