<div class="trade-view-buttons-wrapper margin-top-20">
  <div class="pull-left view-button-group">
    <div class="form-group inline-block">
      <label class="panel-body-label text-right inline-block text-muted-manual">
        <span once-text="'End of term'|translate"></span>:</label>

      <div class="inline-block person-search-inputs">
        <input type="text"
               kendo-date-picker
               name="finish"
               ng-model="trade.form.finishDate"
               k-ng-model="trade.form.finishDateObj"
        >
      </div>
    </div>
  </div>
  <div class="pull-right view-button-group">
    <md-button type="button" class="md-fab md-micro"
               aria-label="Refresh table"
               ng-click="refreshData()">
      <i class="glyphicon glyphicon-refresh micro-glyphicon"></i>
      <md-tooltip md-direction="down">
        <span once-text="'Refresh data'|translate"></span>
      </md-tooltip>
    </md-button>
    <md-button type="button" class="md-fab md-micro"
               aria-label="Print data"
               ng-click="printData('quarterlyClientReportSecond')">
      <i class="glyphicon glyphicon-print micro-glyphicon"></i>
      <md-tooltip md-direction="down">
        <span once-text="'Print data'|translate"></span>
      </md-tooltip>
    </md-button>
    <md-button type="button" class="md-fab md-micro"
               aria-label="Mini FAB"
               ng-click="closeWindow()">

      <i class="glyphicon glyphicon-remove micro-glyphicon"></i>

      <md-tooltip md-direction="down">
        <span once-text="'Close Window'|translate"></span>
      </md-tooltip>

    </md-button>

  </div>
</div>

  <div>
    <table class="table table-striped table-hover table-responsive table-bordered" id="quarterlyClientReportSecond">
      <thead>
      <tr>
        <th colspan="9" style="text-align: center" once-text="'Asset volume of clients for the end of period' | translate"></th>
      </tr>
      <tr>
        <th colspan="1" style="text-align: center" once-text="'Resource\'s type' | translate"></th>
        <th colspan="3" style="text-align: center" once-text="'Total asset volume owned by natural persons' | translate"></th>
        <th colspan="5" style="text-align: center" once-text="'Total asset volume owned by juridical persons' | translate"></th>
      </tr>
      <tr>
        <th></th>
        <th once-text="'Resident' | translate"></th>
        <th once-text="'Non-resident' | translate"></th>
        <th once-text="'Unknown' | translate"></th>
        <th once-text="'Local banks' | translate"></th>
        <th once-text="'Local other juridical person' | translate"></th>
        <th once-text="'Foreign banks' | translate"></th>
        <th once-text="'Foreign other juridical person' | translate"></th>
        <th once-text="'Unknown other juridical person' | translate"></th>
      </tr>

      </thead>
      <tbody>
      <tr>
        <th scope="row" once-text="'Cash money' | translate"></th>
        <td >{{myData.residentAmount}}</td>
        <td >{{myData.nonResidentAmount}}</td>
        <td >{{myData.unknownAmount}}</td>
        <td >{{myData.localBanksAmount}}</td>
        <td >{{myData.localJuridicalPersonsAmount}}</td>
        <td >{{myData.foreignBanksAmount}}</td>
        <td >{{myData.foreignJuridicalPersonsAmount}}</td>
        <td >{{myData.unknownJuridicalPersonsAmount}}</td>
      </tr>
      <tr>
        <th scope="row" once-text="'Securities' | translate"></th>
        <td>{{myData.residentQuantity}}</td>
        <td>{{myData.nonResidentQuantity}}</td>
        <td>{{myData.unknownQuantity}}</td>
        <td>{{myData.localBanksQuantity}}</td>
        <td>{{myData.localJuridicalPersonsQuantity}}</td>
        <td>{{myData.foreignBanksQuantity}}</td>
        <td>{{myData.foreignJuridicalPersonsQuantity}}</td>
        <td>{{myData.unknownJuridicalPersonsQuantity}}</td>
      </tr>
      </tbody>
    </table>
  </div>
