<div class="trade-view-buttons-wrapper margin-top-20">
  <div class="pull-left view-button-group">
    <div class="form-group inline-block">
      <label class="panel-body-label text-right inline-block text-muted-manual">
        <span once-text="'End of term'|translate"></span>:</label>

      <div class="inline-block person-search-inputs">
        <input type="text"
               kendo-date-picker
               name="finish"
               ng-model="trade.form.finishDate"
               k-ng-model="trade.form.finishDateObj"
        >
      </div>
    </div>
  </div>
  <div class="pull-right view-button-group">
    <md-button type="button" class="md-fab md-micro"
               aria-label="Refresh table"
               ng-click="refreshData()">
      <i class="glyphicon glyphicon-refresh micro-glyphicon"></i>
      <md-tooltip md-direction="down">
        <span once-text="'Refresh data'|translate"></span>
      </md-tooltip>
    </md-button>
    <md-button type="button" class="md-fab md-micro"
               aria-label="Print data"
               ng-click="printData('quarterlyClientReportFirst')">
      <i class="glyphicon glyphicon-print micro-glyphicon"></i>
      <md-tooltip md-direction="down">
        <span once-text="'Print data'|translate"></span>
      </md-tooltip>
    </md-button>
    <md-button type="button" class="md-fab md-micro"
               aria-label="Mini FAB"
               ng-click="closeWindow()">

      <i class="glyphicon glyphicon-remove micro-glyphicon"></i>

      <md-tooltip md-direction="down">
        <span once-text="'Close Window'|translate"></span>
      </md-tooltip>

    </md-button>

  </div>
</div>

  <table class="table table-striped table-hover table-responsive table-bordered" id="quarterlyClientReportFirst">
    <tr>
      <th colspan="2" style="font-size:large;text-align: center;" once-text="'Report on clients for the end of period'|translate"></th>
    </tr>
    <tr>
      <th colspan="2" style="background-color: #e0e0e0;font-size:large" once-text="'Number of natural persons'|translate"></th>
    </tr>
    <tr>
      <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><b once-text="'Resident'|translate"></b></td>
      <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6">{{myData.residentCount}}</td>
    </tr>
    <tr>
      <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4"><b once-text="'Non-resident'|translate"></b></td>
      <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4">{{myData.nonResidentCount}}</td>
    </tr>
    <tr>
      <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4"><b once-text="'Unknown'|translate"></b></td>
      <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4">{{myData.unknownCount}}</td>
    </tr>
    <tr>
      <th colspan="2" style="background-color: #e0e0e0;font-size:large" once-text="'Number of juridical persons'|translate"></th>
    </tr>
    <tr>
      <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><b once-text="'Local banks'|translate"></b></td>
      <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6">{{myData.localBanksCount}}</td>
    </tr>
    <tr>
      <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4"><b once-text="'Local other juridical person'|translate"></b></td>
      <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4">{{myData.localJuridicalPersonsCount}}</td>
    </tr>
    <tr>
      <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><b once-text="'Foreign banks'|translate"></b></td>
      <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6">{{myData.foreignBanksCount}}</td>
    </tr>
    <tr>
      <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4"><b once-text="'Foreign other juridical person'|translate"></b></td>
      <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4">{{myData.foreignJuridicalPersonsCount}}</td>
    </tr>
    <tr>
      <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4"><b once-text="'Unknown other juridical person'|translate"></b></td>
      <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4">{{myData.unknownJuridicalPersonsCount}}</td>
    </tr>
  </table>


<!--<div class="table-margin20">-->
  <!--<table class="table table-striped table-hover table-responsive table-bordered">-->
    <!--<thead>-->
      <!--<tr>-->
        <!--<th colspan="9" style="text-align: center">Dovr sonununa musterilerin aktivlerinin hecmi</th>-->
      <!--</tr>-->
    <!--<tr>-->
      <!--<th colspan="1" style="text-align: center">Vesaitin novu</th>-->
      <!--<th colspan="3" style="text-align: center">fiziki sexsin malik oldugu vesaitlerin umumi hecmi</th>-->
      <!--<th colspan="5" style="text-align: center">huquqi sexslerin malik oldugu esaitlerin umumi hecmi</th>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<th></th>-->
      <!--<th>rezident</th>-->
      <!--<th>qeyri-rezident</th>-->
      <!--<th>namelum</th>-->
      <!--<th>yerli banklar</th>-->
      <!--<th> yerli diger  huquqi sexler</th>-->
      <!--<th>xarici banlar</th>-->
      <!--<th>diger xarici huquqi sexler</th>-->
      <!--<th>namelum diger huquqi sexler</th>-->
    <!--</tr>-->

    <!--</thead>-->
    <!--<tbody>-->
      <!--<tr>-->
        <!--<th scope="row">Negd pul</th>-->
        <!--<td>{{myData.ndcHoldingSecurityData.unknownJuridicalPersonsCount}}</td>-->
        <!--<td>{{myData.ndcHoldingSecurityData.unknownJuridicalPersonsCount}}</td>-->
        <!--<td>{{myData.ndcHoldingSecurityData.unknownJuridicalPersonsCount}}</td>-->
        <!--<td>{{myData.ndcHoldingSecurityData.unknownJuridicalPersonsCount}}</td>-->
        <!--<td>{{myData.ndcHoldingSecurityData.unknownJuridicalPersonsCount}}</td>-->
        <!--<td>{{myData.ndcHoldingSecurityData.unknownJuridicalPersonsCount}}</td>-->
        <!--<td>{{myData.ndcHoldingSecurityData.unknownJuridicalPersonsCount}}</td>-->
        <!--<td>{{myData.ndcHoldingSecurityData.unknownJuridicalPersonsCount}}</td>-->
      <!--</tr>-->
      <!--<tr>-->
        <!--<th scope="row">qiymetli kagizlar</th>-->
        <!--<td>{{myData.ndcHoldingSecurityData.unknownJuridicalPersonsCount}}</td>-->
        <!--<td>{{myData.ndcHoldingSecurityData.unknownJuridicalPersonsCount}}</td>-->
        <!--<td>{{myData.ndcHoldingSecurityData.unknownJuridicalPersonsCount}}</td>-->
        <!--<td>{{myData.ndcHoldingSecurityData.unknownJuridicalPersonsCount}}</td>-->
        <!--<td>{{myData.ndcHoldingSecurityData.unknownJuridicalPersonsCount}}</td>-->
        <!--<td>{{myData.ndcHoldingSecurityData.unknownJuridicalPersonsCount}}</td>-->
        <!--<td>{{myData.ndcHoldingSecurityData.unknownJuridicalPersonsCount}}</td>-->
        <!--<td>{{myData.ndcHoldingSecurityData.unknownJuridicalPersonsCount}}</td>-->
      <!--</tr>-->
    <!--</tbody>-->
  <!--</table>-->
<!--</div>-->
