<div class="window-extend-block" data-extend-template="app/common/templates/view-window-layout.html">
  <div class="div-full-height" data-block="content">
    <div
      kendo-splitter="params.splitter1"
      orientation="'horizontal'"
      class="persons-view-splitter"
      k-collapse="searchCriteriaCollapse"
      k-expand="searchCriteriaExpand"
      k-navigatable="true"
      k-height="549"
      panes="params.config.splitterPanesConfig"
      k-no-records="true">

      <div ng-form="subscriptionOrders.formName"
           role="form"
           csm-enter="findData()"
           ng-submit="findData()"
           class="person-find-criteria-form  fg-dark left-pane-style"
           novalidate>


        <div class="row filter-buttons-position">
          <md-button
            aria-label="right arrow button"
            type="button"
            ng-click="resetForm()"
            class="md-micro md-fab pull-right filter-button-style">
            <md-tooltip md-direction="down">
              <span once-text="'Reset Filter'|translate"></span>
            </md-tooltip>
            <span class="icon icon-remove-filter"></span>
          </md-button>

          <md-button
            aria-label="right arrow button"
            type="button"
            ng-click="findSubscriptionOrders()"
            class="md-micro md-fab pull-right filter-button-style">
            <md-tooltip md-direction="down">
              <span once-text="'Filter'|translate"></span>
            </md-tooltip>
            <span class="icon icon-filter"></span>
          </md-button>
        </div>


        <div class="pane-content">
          <uib-accordion close-others="false">
            <uib-accordion-group is-disabled="true">
              <uib-accordion-heading>

                <div class="person-search-template-input-style">
                  <label class="text-right inline-block text-muted-manual">
                    <span once-text="'Member Name'|translate"></span>:</label>

                  <div class="inline-block person-search-inputs">
                    <input
                      class="k-textbox"
                      type="text"
                      name="buy_side_member_name"
                      ng-model="subscriptionOrders.form.buySideMemberName">

                  </div>
                </div>
              </uib-accordion-heading>
            </uib-accordion-group>
            <uib-accordion-group is-disabled="true">
              <uib-accordion-heading>

                <div class="person-search-template-input-style">
                  <label class="text-right inline-block text-muted-manual">
                    <span once-text="'Client Name'|translate"></span>:</label>

                  <div class="inline-block person-search-inputs">
                    <input
                      class="k-textbox"
                      type="text"
                      name="buy_side_client_name"
                      ng-model="subscriptionOrders.form.buySideClientName">

                  </div>
                </div>
              </uib-accordion-heading>
            </uib-accordion-group>
            <uib-accordion-group is-disabled="true">
              <uib-accordion-heading>

                <div class="person-search-template-input-style">
                  <label class="text-right inline-block text-muted-manual">
                    <span once-text="'Client Account Number'|translate"></span>:</label>

                  <div class="inline-block person-search-inputs">
                    <input
                      class="k-textbox"
                      type="text"
                      name="buy_side_client_account_number"
                      ng-model="subscriptionOrders.form.buySideClientAccountNumber">

                  </div>
                </div>
              </uib-accordion-heading>
            </uib-accordion-group>
            <uib-accordion-group is-disabled="true">
              <uib-accordion-heading>
                <div class="person-search-template-input-style">
                  <label class="text-right inline-block text-muted-manual">
                    <span once-text="'Status Code'|translate"></span>:</label>

                  <div class="inline-block person-search-inputs status-code">
                    <select
                      name="status_code"
                      ng-model="subscriptionOrders.form.statusCode"
                      ng-required="true"
                    >
                      <option value="STATUS_PENDING">PENDING</option>
                      <option value="STATUS_PROCESSED">PROCESSED</option>

                    </select>
                  </div>
                </div>
              </uib-accordion-heading>
            </uib-accordion-group>

            <uib-accordion-group>
              <uib-accordion-heading>
                <div class="collapsible-panel-heading cursor-pointer">
                  <label class="text-right text-muted-manual-70">
                    <a href="#" once-text="'Date'|translate" class="text-muted-manual"></a>
                  </label>

                  <div class="inline-block pull-right">
                    <i class="glyphicon pull-right person-search-accordion-icon"></i>
                  </div>
                </div>
              </uib-accordion-heading>

              <div>
                <div class="person-search-template-input-style">
                  <label class="panel-body-label text-right inline-block text-muted-manual">
                    <span once-text="'Registration Date From'|translate"></span>:</label>

                  <div class="inline-block person-search-inputs">
                    <input type="text"
                           kendo-date-picker
                           name="registration_date_start"
                           ng-model="subscriptionOrders.form.regDateStart"
                           k-ng-model="subscriptionOrders.form.regDateStartObj"
                    >
                  </div>
                </div>
                <div class="form-group person-search-template-input-style">
                  <label class="panel-body-label text-right inline-block text-muted-manual">
                    <span once-text="'Registration Date To'|translate"></span>:</label>

                  <div class="inline-block person-search-inputs">
                    <input type="text"
                           kendo-date-picker
                           name="registration_date_finish"
                           ng-model="subscriptionOrders.form.regDateFinish"
                           k-ng-model="subscriptionOrders.form.regDateFinishObj"
                    >
                  </div>
                </div>
              </div>


            </uib-accordion-group>
          </uib-accordion>
        </div>
      </div>
      <div class="pane-content">
        <div class="trade-view-buttons-wrapper">
          <md-button
            aria-label="hamburger button"
            class="pull-left md-icon-button md-primary hamburger-button-style"
            ng-click="toggleSearchCriteriaBlock(params.splitter1)">
            <span class="glyphicon glyphicon-align-justify micro-glyphicon micro-align-glyphicon"></span>
          </md-button>

          <div class="pull-right view-button-group">

            <md-button
              ng-disabled="!view.selectedSubscriptionOrdersId"
              type="button"
              class="md-fab md-micro"
              aria-label="submit button"
              ng-click="openSubscriptionOrders()">
              <i class="glyphicon glyphicon-eye-open micro-glyphicon"></i>
              <!--<md-tooltip md-direction="down">-->
                <!--<span once-text="'Open Order'|translate"></span>-->
              <!--</md-tooltip>-->
            </md-button>
            <md-button
              type="button"
              class="md-fab md-micro"
              aria-label="Export to excel"
              ng-click="exportToExcel(subscriptionOrders.searchResultGrid)">
              <i class="glyphicon glyphicon-export micro-glyphicon"></i>
              <md-tooltip md-direction="down">
                <span once-text="'Export to Excel'|translate"></span>
              </md-tooltip>
            </md-button>
            <md-button type="button" class="md-fab md-micro"
                       aria-label="Mini FAB"
                       ng-click="closeWindow()">

              <i class="glyphicon glyphicon-remove micro-glyphicon"></i>

              <md-tooltip md-direction="down">
                <span once-text="'Close Window'|translate"></span>
              </md-tooltip>

            </md-button>

          </div>
        </div>
        <div class="trade-search-result-grid">
          <div
               kendo-grid="subscriptionOrders.searchResultGrid"
               k-resizable="true"
               k-options="subscriptionOrders.mainGridOptions"
               k-rebind="subscriptionOrders.mainGridOptions.selectable"
               k-allow-copy="false"
               k-sortable="true"
               k-scrollable="true"
               k-detail-init="detailInit"
               k-pageable='{ "pageSize": 20, "refresh": true, "pageSizes": true, "buttonCount": 5 }'
          >

            <div k-detail-template>

              <div kendo-grid
                   k-data-source="dataItem.subscriptionOrdersList"
                   k-options="detailGrid()"
                   k-resizable="true"></div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



