<div class="window-extend-block" data-extend-template="app/common/templates/view-window-layout.html">
  <div class="div-full-height" data-block="content">
    <div
      kendo-splitter="params.splitter1"
      orientation="'horizontal'"
      class="persons-view-splitter"
      k-collapse="searchCriteriaCollapse"
      k-expand="searchCriteriaExpand"
      k-navigatable="true"
      k-height="549"
      panes="params.config.splitterPanesConfig"
      k-no-records="true">

      <div ng-form="subscriptionOrders.formName"
           role="form"
           csm-enter="findData()"
           ng-submit="findData()"
           class="person-find-criteria-form  fg-dark left-pane-style"
           novalidate>


        <div class="row filter-buttons-position">
          <md-button
            aria-label="right arrow button"
            type="button"
            ng-click="resetForm()"
            class="md-micro md-fab pull-right filter-button-style">
            <md-tooltip md-direction="down">
              <span once-text="'Reset Filter'|translate"></span>
            </md-tooltip>
            <span class="icon icon-remove-filter"></span>
          </md-button>

          <md-button
            aria-label="right arrow button"
            type="button"
            ng-click="findSubscriptionOrders()"
            class="md-micro md-fab pull-right filter-button-style">
            <md-tooltip md-direction="down">
              <span once-text="'Filter'|translate"></span>
            </md-tooltip>
            <span class="icon icon-filter"></span>
          </md-button>
        </div>


        <div class="pane-content">
          <uib-accordion close-others="false">
            <uib-accordion-group>
              <uib-accordion-heading>
                <div class="collapsible-panel-heading cursor-pointer">
                  <label class="text-right text-muted-manual">
                    <a href="#" once-text="'Date'|translate" class="text-muted-manual"></a>
                  </label>

                  <div class="inline-block pull-right">
                    <i class="glyphicon pull-right person-search-accordion-icon"></i>
                  </div>
                </div>
              </uib-accordion-heading>


              <div>
                <div class="person-search-template-input-style">
                  <label class="panel-body-label text-right inline-block text-muted-manual">
                    <span once-text="'Payment Date From'|translate"></span>:</label>

                  <div class="inline-block person-search-inputs">
                    <input type="text"
                           kendo-date-picker
                           name="payment_date_start"
                           ng-model="subscriptionOrders.form.paymentDateStart"
                           k-ng-model="subscriptionOrders.form.paymentDateStartObj"
                    >
                  </div>
                </div>
                <div class="form-group person-search-template-input-style">
                  <label class="panel-body-label text-right inline-block text-muted-manual">
                    <span once-text="'Payment Date To'|translate"></span>:</label>

                  <div class="inline-block person-search-inputs">
                    <input type="text"
                           kendo-date-picker
                           name="payment_date_finish"
                           ng-model="subscriptionOrders.form.paymentDateFinish"
                           k-ng-model="subscriptionOrders.form.paymentDateFinishObj"
                    >
                  </div>
                </div>
              </div>


            </uib-accordion-group>
            <uib-accordion-group is-disabled="true">
              <uib-accordion-heading>
                <div class="person-search-template-input-style">
                  <label class="text-right inline-block text-muted-manual">
                    <span once-text="'Payment Class'|translate"></span>:</label>

                  <div class="inline-block person-search-inputs status-code">
                    <select
                      name="status_code"
                      ng-model="subscriptionOrders.form.paymentClass"
                      ng-required="true"
                    >
                      <option></option>
                      <option value="MT_900_IN" once-text="'MT_900_IN'|translate"></option>
                      <option value="MT_910_IN" once-text="'MT_910_IN'|translate"></option>

                    </select>
                  </div>
                </div>
              </uib-accordion-heading>
            </uib-accordion-group>
            <uib-accordion-group is-disabled="true">
              <uib-accordion-heading>
                <div class="person-search-template-input-style">
                  <label class="text-right inline-block text-muted-manual">
                    <span once-text="'Status'|translate"></span>:</label>

                  <div class="inline-block person-search-inputs status-code">
                    <select
                      name="status_code"
                      ng-model="subscriptionOrders.form.status"
                      ng-required="true"
                    >
                      <option></option>
                      <option value="STATUS_MATCHED" once-text="'Matched'|translate"></option>
                      <option value="STATUS_NOTMATCHED" once-text="'Not matched'|translate"></option>

                    </select>
                  </div>
                </div>
              </uib-accordion-heading>
            </uib-accordion-group>
            <uib-accordion-group is-disabled="true">
              <uib-accordion-heading>

                <div class="person-search-template-input-style"
                     ng-class="{ 'has-error': (subscriptionOrders.formName.$submitted || subscriptionOrders.formName.destination.$touched)
                   &&(subscriptionOrders.formName.destination.$invalid)  }">
                  <label class="text-right inline-block text-muted-manual">
                    <span once-text="'Destination'|translate"></span>:</label>

                  <div class="inline-block person-search-inputs">
                    <input
                      class="k-textbox"
                      type="text"
                      name="destination"
                      ng-model="subscriptionOrders.form.destination">

                    <div ng-show="subscriptionOrders.formName.$submitted || subscriptionOrders.formName.destination.$touched">
                      <p ng-show="subscriptionOrders.formName.destination.$error.required"
                         class="help-block help-block-error">
                        <span once-text="'This field is required'|translate"></span>
                      </p>
                    </div>
                  </div>
                </div>
              </uib-accordion-heading>
            </uib-accordion-group>
            <uib-accordion-group is-disabled="true">
              <uib-accordion-heading>

                <div class="person-search-template-input-style"
                     ng-class="{ 'has-error': (subscriptionOrders.formName.$submitted || subscriptionOrders.formName.reference_number.$touched)
                   &&(subscriptionOrders.formName.reference_number.$invalid)  }">
                  <label class="text-right inline-block text-muted-manual">
                    <span once-text="'Reference Number'|translate"></span>:</label>

                  <div class="inline-block person-search-inputs">
                    <input
                      class="k-textbox"
                      type="text"
                      name="reference_number"
                      ng-model="subscriptionOrders.form.referenceNumber">

                    <div ng-show="subscriptionOrders.formName.$submitted || subscriptionOrders.formName.reference_number.$touched">
                      <p ng-show="subscriptionOrders.formName.reference_number.$error.required"
                         class="help-block help-block-error">
                        <span once-text="'This field is required'|translate"></span>
                      </p>
                    </div>
                  </div>
                </div>
              </uib-accordion-heading>
            </uib-accordion-group>
          </uib-accordion>
        </div>
      </div>
      <div class="pane-content">
        <div class="trade-view-buttons-wrapper">
          <md-button
            aria-label="hamburger button"
            class="pull-left md-icon-button md-primary hamburger-button-style"
            ng-click="toggleSearchCriteriaBlock(params.splitter1)">
            <span class="glyphicon glyphicon-align-justify micro-glyphicon micro-align-glyphicon"></span>
          </md-button>

          <div class="pull-right view-button-group">

            <md-button
              ng-disabled="!view.selectedSubscriptionOrdersId"
              type="button"
              class="md-fab md-micro"
              aria-label="submit button"
              ng-click="openSubscriptionOrders()">
              <i class="glyphicon glyphicon-eye-open micro-glyphicon"></i>
              <!--<md-tooltip md-direction="down">-->
              <!--<span once-text="'Open Order'|translate"></span>-->
              <!--</md-tooltip>-->
            </md-button>
            <md-button
              type="button"
              class="md-fab md-micro"
              aria-label="Export to excel"
              ng-click="exportToExcel(subscriptionOrders.searchResultGrid)">
              <i class="glyphicon glyphicon-export micro-glyphicon"></i>
              <md-tooltip md-direction="down">
                <span once-text="'Export to Excel'|translate"></span>
              </md-tooltip>
            </md-button>
            <md-button type="button" class="md-fab md-micro"
                       aria-label="Mini FAB"
                       ng-click="closeWindow()">

              <i class="glyphicon glyphicon-remove micro-glyphicon"></i>

              <md-tooltip md-direction="down">
                <span once-text="'Close Window'|translate"></span>
              </md-tooltip>

            </md-button>

          </div>
        </div>
        <div class="trade-search-result-grid">
          <div
            kendo-grid="subscriptionOrders.searchResultGrid"
            k-resizable="true"
            k-options="subscriptionOrders.mainGridOptions"
            k-sortable="true"
            k-scrollable="true"
            k-detail-init="detailInit"
            k-pageable='{ "pageSize": 20, "refresh": true, "pageSizes": true, "buttonCount": 5 }'
          >

            <div k-detail-template>
              <ul>
                <li ng-repeat="recordNumber in dataItem.details.payments">
                  <strong>{{recordNumber}}</strong>
                </li>
              </ul>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>






