<!-- Important for registering task keys for translating -->

<span once-text="'freezing-registration'|translate"></span>
<span once-text="'pledgee-data-entry'|translate"></span>
<span once-text="'person-data-field-entry'|translate"></span>
<span once-text="'global-configuration-entry'|translate"></span>
<span once-text="'role-rules-management'|translate"></span>
<span once-text="'account-rules-management'|translate"></span>
<span once-text="'unfreezing-securities'|translate"></span>
<span once-text="'shareholder-data-entry'|translate"></span>
<span once-text="'investor-account-opening'|translate"></span>
<span once-text="'investor-data-change'|translate"></span>
<span once-text="'system-owner-account-opening'|translate"></span>
<span once-text="'system-owner-data-change'|translate"></span>
<span once-text="'issuer-account-opening'|translate"></span>
<span once-text="'issuer-data-change'|translate"></span>
<span once-text="'nominee-account-opening'|translate"></span>
<span once-text="'nominee-data-change'|translate"></span>
<span once-text="'depository-account-opening'|translate"></span>
<span once-text="'depository-data-change'|translate"></span>
<span once-text="'pledgee-account-opening'|translate"></span>
<span once-text="'pledgee-data-change'|translate"></span>
<span once-text="'billing-member-account-opening'|translate"></span>
<span once-text="'billing-member-account-data-change'|translate"></span>
<span once-text="'trading-member-account-opening'|translate"></span>
<span once-text="'trading-member-data-change'|translate"></span>
<span once-text="'settlement-agent-account-opening'|translate"></span>
<span once-text="'settlement-agent-data-change'|translate"></span>
<span once-text="'depository-member-account-opening'|translate"></span>
<span once-text="'depository-member-data-change'|translate"></span>
<span once-text="'clearing-member-account-opening'|translate"></span>
<span once-text="'clearing-member-data-change'|translate"></span>
<span once-text="'shareholder-data-entry-model'|translate"></span>
<span once-text="'issue-registration'|translate"></span>
<span once-text="'issue-finalization'|translate"></span>
<span once-text="'instrument-deletion'|translate"></span>
<span once-text="'return-of-capital'|translate"></span>
<span once-text="'cash-dividend'|translate"></span>
<span once-text="'haircut-change'|translate"></span>
<span once-text="'parvalue-change'|translate"></span>
<span once-text="'instrument-conversion'|translate"></span>
<span once-text="'instrument-data-entry'|translate"></span>
<span once-text="'bonus-shares'|translate"></span>
<span once-text="'stock-split'|translate"></span>
<span once-text="'demerger'|translate"></span>
<span once-text="'merger'|translate"></span>
<span once-text="'issuer-data-entry'|translate"></span>
<span once-text="'member-data-entry'|translate"></span>
<span once-text="'currency'|translate"></span>
<span once-text="'currency-rate-manual-entry'|translate"></span>
<span once-text="'pledge-register'|translate"></span>
<span once-text="'grant-operation'|translate"></span>
<span once-text="'title-transfer-operation'|translate"></span>
<span once-text="'succession-operation'|translate"></span>
<span once-text="'otc-trade'|translate"></span>
<span once-text="'member-cross-trade-registration'|translate"></span>
<span once-text="'title-assignment'|translate"></span>
<span once-text="'buy-back'|translate"></span>
<span once-text="'freezing-issuer-securities'|translate"></span>
<span once-text="'freezing-shareholder-securities'|translate"></span>
<span once-text="'unfreezing-issuer-securities'|translate"></span>
<span once-text="'unfreezing-shareholder-securities'|translate"></span>
<span once-text="'pledge-closure'|translate"></span>
<span once-text="'add-instrument-to-debtors-list'|translate"></span>
<span once-text="'add-exception-shareholder-to-debtors-list'|translate"></span>
<span once-text="'remove-exception-shareholder-from-debtors-list'|translate"></span>
<span once-text="'add-instrument-to-black-list'|translate"></span>
<span once-text="'add-exception-shareholder-to-black-list'|translate"></span>
<span once-text="'remove-exception-shareholder-from-black-list'|translate"></span>
<span once-text="'remove-instrument-from-debtors-list'|translate"></span>
<span once-text="'cash-dividend-payment'|translate"></span>
<span once-text="'configure-bis-model'|translate"></span>
<span once-text="'otc-deal-broker'|translate"></span>
<span once-text="'confirm-matched-trade'|translate"></span>
<span once-text="'remove-instrument-from-black-list'|translate"></span>
<span once-text="'entry-bank-statement'|translate"></span>
<span once-text="'update-bank-statement'|translate"></span>
<span once-text="'enter-payment-receipt'|translate"></span>
<span once-text="'enter-clearing-limit'|translate"></span>
<span once-text="'enter-withdrawal-order'|translate"></span>
<span once-text="'early-settlement'|translate"></span>
<span once-text="'settlement-default-management'|translate"></span>
<span once-text="'active-tasks'|translate"></span>
<span once-text="'completed-tasks'|translate"></span>
<span once-text="'candidate-tasks'|translate"></span>
<span once-text="'finish-tasks'|translate"></span>
<span once-text="'corporate-action'|translate"></span>
<span once-text="'send-batch-data'|translate"></span>
<span once-text="'issue-account-statement'|translate"></span>
<span once-text="'issue-holding-report'|translate"></span>
<span once-text="'issue-title-abstract'|translate"></span>
<span once-text="'client-account-opening'|translate"></span>
<span once-text="'underwriter-contract'|translate"></span>
<span once-text="'client-account-data-change'|translate"></span>
<span once-text="'account-suspension'|translate"></span>
<span once-text="'account-unsuspension'|translate"></span>
<span once-text="'account-deletion'|translate"></span>
<span once-text="'account-consolidation'|translate"></span>
<span once-text="'modify-bond-cash-flow'|translate"></span>
<span once-text="'batch-entryOfAllotment'|translate"></span>
<span once-text="'batch-entry-of-auction'|translate"></span>
<span once-text="'auction-finalization'|translate"></span>
<span once-text="'organization-structure-management'|translate"></span>
<span once-text="'employee-management'|translate"></span>
<span once-text="'user-management'|translate"></span>
<span once-text="'authorization-management'|translate"></span>
<span once-text="'case-processing'|translate"></span>
<span once-text="'business-calendar-management'|translate"></span>
<span once-text="'transfer-pledged-title'|translate"></span>
<span once-text="'juridical-client-data-change'|translate"></span>
<span once-text="'juridical-client-account-opening'|translate"></span>
<span once-text="'natural-client-data-change'|translate"></span>
<span once-text="'natural-client-account-opening'|translate"></span>
<span once-text="'pledge-reregistration'|translate"></span>
<span once-text="'pledge-endorsement'|translate"></span>
<span once-text="'manage-order-whitelist'|translate"></span>


