<div
  kendo-splitter="params.splitter1"
  orientation="'horizontal'"
  class="persons-view-splitter"
  k-collapse="searchCriteriaCollapse"
  k-expand="searchCriteriaExpand"
  k-navigatable="true"
  k-height="549"
  panes="params.config.splitterPanesConfig"
  k-no-records="true">

  <div ng-form="OTCTrade.formName"
       role="form"
       csm-enter="findData()"
       ng-submit="findData()"
       class="person-find-criteria-form  fg-dark left-pane-style"
       novalidate>


    <div class="row filter-buttons-position">
      <md-button
        aria-label="right arrow button"
        type="button"
        ng-click="resetForm()"
        class="md-micro md-fab pull-right filter-button-style">
        <md-tooltip md-direction="down">
          <span once-text="'Reset Filter'|translate"></span>
        </md-tooltip>
        <span class="icon icon-remove-filter"></span>
      </md-button>

      <md-button
        aria-label="right arrow button"
        type="button"
        ng-click="findData()"
        class="md-micro md-fab pull-right filter-button-style">
        <md-tooltip md-direction="down">
          <span once-text="'Filter'|translate"></span>
        </md-tooltip>
        <span class="icon icon-filter"></span>
      </md-button>
    </div>


    <div class="pane-content">
      <uib-accordion close-others="false">
        <uib-accordion-group>
          <uib-accordion-heading>
            <div class="collapsible-panel-heading cursor-pointer">
              <label class="text-right text-muted-manual-70">
                <a href="#" once-text="'Date'|translate" class="text-muted-manual"></a>
              </label>

              <div class="inline-block pull-right">
                <i class="glyphicon pull-right person-search-accordion-icon"></i>
              </div>
            </div>
          </uib-accordion-heading>


          <div>
            <div class="person-search-template-input-style">
              <label class="panel-body-label text-right inline-block text-muted-manual">
                <span once-text="'Registration Date From'|translate"></span>:</label>

              <div class="inline-block person-search-inputs">
                <input type="text"
                       kendo-date-picker
                       name="registration_date_start"
                       ng-model="OTCTrade.form.regDateStart"
                       k-ng-model="OTCTrade.form.regDateStartObj"
                  >
              </div>
            </div>
            <div class="form-group person-search-template-input-style">
              <label class="panel-body-label text-right inline-block text-muted-manual">
                <span once-text="'Registration Date To'|translate"></span>:</label>

              <div class="inline-block person-search-inputs">
                <input type="text"
                       kendo-date-picker
                       name="registration_date_finish"
                       ng-model="OTCTrade.form.regDateFinish"
                       k-ng-model="OTCTrade.form.regDateFinishObj"
                  >
              </div>
            </div>
            <div class="form-group person-search-template-input-style">
              <label class="panel-body-label text-right inline-block text-muted-manual">
                <span once-text="'Settlement Date From'|translate"></span>:</label>

              <div class="inline-block person-search-inputs">
                <input type="text"
                       kendo-date-picker
                       name="value_date_start"
                       ng-model="OTCTrade.form.settlementDateStart"
                       k-ng-model="OTCTrade.form.settlementDateStartObj"
                  >
              </div>
            </div>
            <div class="form-group person-search-template-input-style">
              <label class="panel-body-label text-right inline-block text-muted-manual">
                <span once-text="'Settlement Date To'|translate"></span>:</label>

              <div class="inline-block person-search-inputs">
                <input type="text"
                       kendo-date-picker
                       name="value_date_finish"
                       ng-model="OTCTrade.form.settlementDateFinish"
                       k-ng-model="OTCTrade.form.settlementDateFinishObj"
                  >
              </div>
            </div>
          </div>


        </uib-accordion-group>


        <uib-accordion-group>
          <uib-accordion-heading>
            <div class="collapsible-panel-heading cursor-pointer">
              <label class="text-right text-muted-manual-70">
                <a href="#" once-text="'Account'|translate" class="text-muted-manual"></a>
              </label>

              <div class="inline-block pull-right">
                <i class="glyphicon pull-right person-search-accordion-icon"></i>
              </div>
            </div>
          </uib-accordion-heading>

          <div>
            <div class="person-search-template-input-style">
              <label class="panel-body-label text-right inline-block text-muted-manual">
                <span once-text="'Pledgee'|translate"></span>:</label>

              <div class="inline-block person-search-inputs">
                <input
                  class="k-textbox"
                  type="text"
                  name="sell_side_member"
                  ng-model="OTCTrade.form.sellSideMemberName"
                  >
              </div>
            </div>
            <div class="form-group person-search-template-input-style">
              <label class="panel-body-label text-right inline-block text-muted-manual">
                <span once-text="'Seller'|translate"></span>:</label>

              <div class="inline-block person-search-inputs">
                <input
                  class="k-textbox"
                  type="text"
                  name="sell_side_client"
                  ng-model="OTCTrade.form.sellSideClientName"
                  >
              </div>
            </div>

            <div class="form-group person-search-template-input-style">
              <label class="panel-body-label text-right inline-block text-muted-manual">
                <span once-text="'Buyer'|translate"></span>:</label>

              <div class="inline-block person-search-inputs">
                <input
                  class="k-textbox"
                  type="text"
                  name="buy_side_member"
                  ng-model="OTCTrade.form.buySideClientName"
                  >
              </div>
            </div>
          </div>
        </uib-accordion-group>

        <uib-accordion-group is-disabled="true">
          <uib-accordion-heading>

            <div class="person-search-template-input-style">
              <label class="text-right inline-block text-muted-manual-80">
                <span once-text="'Instrument'|translate"></span>:</label>

              <div class="inline-block person-search-inputs">
                <input
                  class="k-textbox"
                  type="text"
                  name="instrument"
                  ng-model="OTCTrade.form.ISIN">

              </div>
            </div>
          </uib-accordion-heading>
        </uib-accordion-group>
        <uib-accordion-group is-disabled="true">
          <uib-accordion-heading>

            <div class="person-search-template-input-style">
              <label class="text-right inline-block text-muted-manual-80">
                <span once-text="'Issuer'|translate"></span>:</label>

              <div class="inline-block person-search-inputs">
                <input
                  class="k-textbox"
                  type="text"
                  name="issuer"
                  ng-model="OTCTrade.form.issuerName">

              </div>
            </div>
          </uib-accordion-heading>
        </uib-accordion-group>
      </uib-accordion>
    </div>
  </div>

  <div class="pane-content">
    <div class="trade-view-buttons-wrapper">
      <md-button
        aria-label="hamburger button"
        class="pull-left md-icon-button md-primary hamburger-button-style"
        ng-click="toggleSearchCriteriaBlock(params.splitter1)">
        <span class="glyphicon glyphicon-align-justify micro-glyphicon micro-align-glyphicon"></span>
      </md-button>
      <!--<span class="text-danger grid-text-danger" ng-show="OTCTrade.searchResult.isEmpty" once-text="'No OTCTrade Found!'|translate"></span>-->

      <div class="pull-right view-button-group">
        <md-button type="button" class="md-fab md-micro"
                   aria-label="Export to excel"
                   ng-click="exportToExcel(OTCTrade.searchResultGrid)">
          <i class="glyphicon glyphicon-export micro-glyphicon"></i>
          <md-tooltip md-direction="down">
            <span once-text="'Export to Excel'|translate"></span>
          </md-tooltip>
        </md-button>
        <md-button type="button" class="md-fab md-micro"
                   aria-label="Mini FAB"
                   ng-click="closeWindow()">

          <i class="glyphicon glyphicon-remove micro-glyphicon"></i>

          <md-tooltip md-direction="down">
            <span once-text="'Close Window'|translate"></span>
          </md-tooltip>

        </md-button>

      </div>
    </div>
    <div class="trade-search-result-grid">
      <div


        kendo-grid="OTCTrade.searchResultGrid"
        k-ng-delay="OTCTrade.mainGridOptions"
        k-options="OTCTrade.mainGridOptions"
        k-sortable="true"
        k-scrollable="true"
        k-pageable='{ "pageSize": 20, "refresh": true, "pageSizes": true, "buttonCount": 5 }'
        k-resizable="true"

        >

      </div>

    </div>

  </div>

</div>
