<div class="window-extend-block" data-extend-template="app/common/templates/view-window-layout.html">
  <div class="div-full-height" data-block="content">
    <div
      kendo-splitter="params.splitter1"
      orientation="'horizontal'"
      class="persons-view-splitter"
      k-collapse="searchCriteriaCollapse"
      k-expand="searchCriteriaExpand"
      k-navigatable="true"
      k-height="549"
      panes="params.config.splitterPanesConfig"
      k-no-records="true">

      <div ng-form="subscriptionOrders.formName"
           role="form"
           csm-enter="findData()"
           ng-submit="findData()"
           class="person-find-criteria-form  fg-dark left-pane-style"
           novalidate>


        <div class="row filter-buttons-position">
          <md-button
            aria-label="right arrow button"
            type="button"
            ng-click="resetForm()"
            class="md-micro md-fab pull-right filter-button-style">
            <md-tooltip md-direction="down">
              <span once-text="'Reset Filter'|translate"></span>
            </md-tooltip>
            <span class="icon icon-remove-filter"></span>
          </md-button>

          <md-button
            aria-label="right arrow button"
            type="button"
            ng-click="findSubscriptionOrders()"
            class="md-micro md-fab pull-right filter-button-style">
            <md-tooltip md-direction="down">
              <span once-text="'Filter'|translate"></span>
            </md-tooltip>
            <span class="icon icon-filter"></span>
          </md-button>
        </div>


        <div class="pane-content">
          <uib-accordion close-others="false">
            <uib-accordion-group>
              <uib-accordion-heading>
                <div class="collapsible-panel-heading cursor-pointer">
                  <label class="text-right text-muted-manual">
                    <a href="#" once-text="'Date'|translate" class="text-muted-manual"></a>
                  </label>

                  <div class="inline-block pull-right">
                    <i class="glyphicon pull-right person-search-accordion-icon"></i>
                  </div>
                </div>
              </uib-accordion-heading>


              <div>
                <div class="person-search-template-input-style">
                  <label class="panel-body-label text-right inline-block text-muted-manual">
                    <span once-text="'Send time start'|translate"></span>:</label>

                  <div class="inline-block person-search-inputs">
                    <input type="text"
                           kendo-date-picker
                           name="date_start"
                           ng-model="subscriptionOrders.form.sendTimeStart"
                           k-ng-model="subscriptionOrders.form.sendTimeStartObj"
                    >
                  </div>
                </div>
                <div class="form-group person-search-template-input-style">
                  <label class="panel-body-label text-right inline-block text-muted-manual">
                    <span once-text="'Send time finish'|translate"></span>:</label>

                  <div class="inline-block person-search-inputs">
                    <input type="text"
                           kendo-date-picker
                           name="date_finish"
                           ng-model="subscriptionOrders.form.sendTimeFinish"
                           k-ng-model="subscriptionOrders.form.sendTimeFinishObj"
                    >
                  </div>
                </div>
              </div>


            </uib-accordion-group>
            <uib-accordion-group is-disabled="true">
              <uib-accordion-heading>
                <div class="person-search-template-input-style">
                  <label class="text-right inline-block text-muted-manual">
                    <span once-text="'Status'|translate"></span>:</label>

                  <div class="inline-block person-search-inputs status-code">
                    <select
                      name="status_code"
                      ng-model="subscriptionOrders.form.status"
                      ng-required="true"
                    >
                      <option></option>
                      <option value="SENT" once-text="'SENT'|translate"></option>
                      <option value="ACCEPTED" once-text="'ACCEPTED'|translate"></option>
                      <option value="PENDING" once-text="'PENDING'|translate"></option>
                      <option value="REJECTED" once-text="'REJECTED'|translate"></option>
                      <option value="SCHEDULED" once-text="'SCHEDULED'|translate"></option>
                      <option value="ENROUTE" once-text="'ENROUTE'|translate"></option>
                      <option value="DELIVERED" once-text="'DELIVERED'|translate"></option>
                      <option value="EXPIRED" once-text="'EXPIRED'|translate"></option>
                      <option value="DELETED" once-text="'DELETED'|translate"></option>
                      <option value="UNDELIVERABLE" once-text="'UNDELIVERABLE'|translate"></option>
                      <option value="UNKNOWN" once-text="'UNKNOWN'|translate"></option>
                      <option value="SKIPPED" once-text="'SKIPPED'|translate"></option>










                    </select>
                  </div>
                </div>
              </uib-accordion-heading>
            </uib-accordion-group>
            <uib-accordion-group is-disabled="true">
              <uib-accordion-heading>

                <div class="person-search-template-input-style"
                     ng-class="{ 'has-error': (subscriptionOrders.formName.$submitted || subscriptionOrders.formName.phone_number.$touched)
                   &&(subscriptionOrders.formName.record_number.$invalid)  }">
                  <label class="text-right inline-block text-muted-manual">
                    <span once-text="'Record Number'|translate"></span>:</label>

                  <div class="inline-block person-search-inputs">
                    <input
                      class="k-textbox"
                      type="text"
                      name="record_number"
                      ng-model="subscriptionOrders.form.recordNumber">

                    <div ng-show="subscriptionOrders.formName.$submitted || subscriptionOrders.formName.phone_number.$touched">
                      <p ng-show="subscriptionOrders.formName.record_number.$error.required"
                         class="help-block help-block-error">
                        <span once-text="'This field is required'|translate"></span>
                      </p>
                    </div>
                  </div>
                </div>
              </uib-accordion-heading>
            </uib-accordion-group>
            <uib-accordion-group is-disabled="true">
              <uib-accordion-heading>

                <div class="person-search-template-input-style"
                     ng-class="{ 'has-error': (subscriptionOrders.formName.$submitted || subscriptionOrders.formName.sms_text.$touched)
                   &&(subscriptionOrders.formName.sms_text.$invalid)  }">
                  <label class="text-right inline-block text-muted-manual">
                    <span once-text="'SMS Text'|translate"></span>:</label>

                  <div class="inline-block person-search-inputs">
                    <input
                      class="k-textbox"
                      type="text"
                      name="sms_text"
                      ng-model="subscriptionOrders.form.smsText">

                    <div ng-show="subscriptionOrders.formName.$submitted || subscriptionOrders.formName.sms_text.$touched">
                      <p ng-show="subscriptionOrders.formName.sms_text.$error.required"
                         class="help-block help-block-error">
                        <span once-text="'This field is required'|translate"></span>
                      </p>
                    </div>
                  </div>
                </div>
              </uib-accordion-heading>
            </uib-accordion-group>
            <uib-accordion-group is-disabled="true">
              <uib-accordion-heading>

                <div class="person-search-template-input-style"
                     ng-class="{ 'has-error': (subscriptionOrders.formName.$submitted || subscriptionOrders.formName.record_number.$touched)
                   &&(subscriptionOrders.formName.phone_number.$invalid)  }">
                  <label class="text-right inline-block text-muted-manual">
                    <span once-text="'Phone Number'|translate"></span>:</label>

                  <div class="inline-block person-search-inputs">
                    <input
                      class="k-textbox"
                      type="text"
                      name="phone_number"
                      ng-model="subscriptionOrders.form.phoneNumber">

                    <div ng-show="subscriptionOrders.formName.$submitted || subscriptionOrders.formName.phone_number.$touched">
                      <p ng-show="subscriptionOrders.formName.phone_number.$error.required"
                         class="help-block help-block-error">
                        <span once-text="'This field is required'|translate"></span>
                      </p>
                    </div>
                  </div>
                </div>
              </uib-accordion-heading>
            </uib-accordion-group>
            <uib-accordion-group is-disabled="true">
              <uib-accordion-heading>

                <div class="person-search-template-input-style"
                     ng-class="{ 'has-error': (subscriptionOrders.formName.$submitted || subscriptionOrders.formName.person_name.$touched)
                   &&(subscriptionOrders.formName.person_name.$invalid)  }">
                  <label class="text-right inline-block text-muted-manual">
                    <span once-text="'Person Name'|translate"></span>:</label>

                  <div class="inline-block person-search-inputs">
                    <input
                      class="k-textbox"
                      type="text"
                      name="person_name"
                      ng-model="subscriptionOrders.form.personName">

                    <div ng-show="subscriptionOrders.formName.$submitted || subscriptionOrders.formName.person_name.$touched">
                      <p ng-show="subscriptionOrders.formName.person_name.$error.required"
                         class="help-block help-block-error">
                        <span once-text="'This field is required'|translate"></span>
                      </p>
                    </div>
                  </div>
                </div>
              </uib-accordion-heading>
            </uib-accordion-group>
          </uib-accordion>
        </div>
      </div>
      <div class="pane-content">
        <div class="trade-view-buttons-wrapper">
          <md-button
            aria-label="hamburger button"
            class="pull-left md-icon-button md-primary hamburger-button-style"
            ng-click="toggleSearchCriteriaBlock(params.splitter1)">
            <span class="glyphicon glyphicon-align-justify micro-glyphicon micro-align-glyphicon"></span>
          </md-button>

          <div class="pull-right view-button-group">

            <md-button
              type="button"
              class="md-fab md-micro"
              aria-label="Export to excel"
              ng-click="exportToExcel(subscriptionOrders.searchResultGrid)">
              <i class="glyphicon glyphicon-export micro-glyphicon"></i>
              <md-tooltip md-direction="down">
                <span once-text="'Export to Excel'|translate"></span>
              </md-tooltip>
            </md-button>
            <md-button type="button" class="md-fab md-micro"
                       aria-label="Mini FAB"
                       ng-click="closeWindow()">

              <i class="glyphicon glyphicon-remove micro-glyphicon"></i>

              <md-tooltip md-direction="down">
                <span once-text="'Close Window'|translate"></span>
              </md-tooltip>

            </md-button>

          </div>
        </div>
        <div class="trade-search-result-grid">
          <div
            kendo-grid="subscriptionOrders.searchResultGrid"
            k-resizable="true"
            k-options="subscriptionOrders.mainGridOptions"
            k-sortable="true"
            k-scrollable="true"
            k-pageable='{ "pageSize": 20, "refresh": true, "pageSizes": true, "buttonCount": 5 }'
          >

          </div>
        </div>
      </div>
    </div>
  </div>
</div>






