<div class="window-extend-block" data-extend-template="app/common/templates/view-window-layout.html">
  <div class="div-full-height" data-block="content">
    <div
      kendo-splitter="params.splitter1"
      orientation="'horizontal'"
      class="persons-view-splitter"
      k-collapse="searchCriteriaCollapse"
      k-expand="searchCriteriaExpand"
      k-navigatable="true"
      panes="params.config.splitterPanesConfig">

      <div ng-show="params.criteriaEnabled" ng-form="subscriptionOrders.formName"
           role="form"
           csm-enter="findData()"
           ng-submit="findData()"
           class="person-find-criteria-form  fg-dark left-pane-style"
           novalidate>


        <div class="row filter-buttons-position">
          <md-button
            aria-label="right arrow button"
            type="button"
            ng-click="resetForm()"
            class="md-micro md-fab pull-right filter-button-style">
            <md-tooltip md-direction="down">
              <span once-text="'Reset Filter'|translate"></span>
            </md-tooltip>
            <span class="icon icon-remove-filter"></span>
          </md-button>

          <md-button
            aria-label="right arrow button"
            type="button"
            ng-click="findSubscriptionOrders()"
            class="md-micro md-fab pull-right filter-button-style">
            <md-tooltip md-direction="down">
              <span once-text="'Filter'|translate"></span>
            </md-tooltip>
            <span class="icon icon-filter"></span>
          </md-button>
        </div>


        <div class="pane-content">
          <uib-accordion close-others="false">

            <uib-accordion-group is-disabled="true">
              <uib-accordion-heading>

                <div class="person-search-template-input-style">
                  <label class="text-right inline-block text-muted-manual">
                    <span once-text="'Message Type'|translate"></span>:</label>

                  <div class="inline-block person-search-inputs">
                    <input
                      class="k-textbox"
                      type="text"
                      name="buy_side_member_name"
                      ng-model="subscriptionOrders.form.messageType">

                  </div>
                </div>
              </uib-accordion-heading>
            </uib-accordion-group>

            <uib-accordion-group is-disabled="true">
              <uib-accordion-heading>

                <div class="person-search-template-input-style">
                  <label class="panel-body-label text-right inline-block text-muted-manual">
                    <span once-text="'Registration Date From'|translate"></span>:</label>

                  <div class="inline-block person-search-inputs">
                    <input type="text"
                           kendo-date-picker
                           name="registration_date_start"
                           ng-model="subscriptionOrders.form.creationDateStart"
                           k-ng-model="subscriptionOrders.form.creationDateStartObj"
                    >
                  </div>
                </div>

              </uib-accordion-heading>
            </uib-accordion-group>

            <uib-accordion-group is-disabled="true">
              <uib-accordion-heading>

                <div class="form-group person-search-template-input-style">
                  <label class="panel-body-label text-right inline-block text-muted-manual">
                    <span once-text="'Registration Date To'|translate"></span>:</label>

                  <div class="inline-block person-search-inputs">
                    <input type="text"
                           kendo-date-picker
                           name="registration_date_finish"
                           ng-model="subscriptionOrders.form.creationDateEnd"
                           k-ng-model="subscriptionOrders.form.creationDateEndObj"
                    >
                  </div>
                </div>

              </uib-accordion-heading>
            </uib-accordion-group>


            <uib-accordion-group is-disabled="true">
              <uib-accordion-heading>

                <div class="person-search-template-input-style">
                  <label class="text-right inline-block text-muted-manual">
                    <span once-text="'Block 4'|translate"></span>:</label>

                  <div class="inline-block person-search-inputs">
                    <input
                      class="k-textbox"
                      type="text"
                      name="buy_side_member_name"
                      ng-model="subscriptionOrders.form.block4">

                  </div>
                </div>
              </uib-accordion-heading>
            </uib-accordion-group>


            <uib-accordion-group is-disabled="true">
              <uib-accordion-heading>
                <div class="person-search-template-input-style">
                  <label class="text-right inline-block text-muted-manual">
                    <span>İstiqamət</span>:</label>
                  <div class="inline-block person-search-inputs status-code">
                    <select
                      name="status_code"
                      ng-model="subscriptionOrders.form.direction"
                      ng-required="true"
                    >
                      <option value="ALL">ALL</option>
                      <option value="IN">IN</option>
                      <option value="OUT">OUT</option>

                    </select>
                  </div>
                </div>
              </uib-accordion-heading>
            </uib-accordion-group>


          </uib-accordion>
        </div>
      </div>

      <div class="pane-content">
        <div class="trade-view-buttons-wrapper">

          <md-button
            ng-if="params.criteriaEnabled"
            aria-label="hamburger button"
            class="pull-left md-icon-button md-primary hamburger-button-style"
            ng-click="toggleSearchCriteriaBlock(params.splitter1)">
            <span class="glyphicon glyphicon-align-justify micro-glyphicon micro-align-glyphicon"></span>
          </md-button>

          <div class="pull-right view-button-group">

            <md-button
              ng-disabled="!view.selectedSubscriptionOrdersId"
              type="button"
              class="md-fab md-micro"
              aria-label="submit button"
              ng-click="openSubscriptionOrders()">
              <i class="glyphicon glyphicon-eye-open micro-glyphicon"></i>
              <!--<md-tooltip md-direction="down">-->
              <!--<span once-text="'Open Order'|translate"></span>-->
              <!--</md-tooltip>-->
            </md-button>
            <md-button
              type="button"
              class="md-fab md-micro"
              aria-label="Export to excel"
              ng-click="exportToExcel(subscriptionOrders.searchResultGrid)">
              <i class="glyphicon glyphicon-export micro-glyphicon"></i>
              <md-tooltip md-direction="down">
                <span once-text="'Export to Excel'|translate"></span>
              </md-tooltip>
            </md-button>
            <md-button type="button" class="md-fab md-micro"
                       aria-label="Mini FAB"
                       ng-click="closeWindow()">

              <i class="glyphicon glyphicon-remove micro-glyphicon"></i>

              <md-tooltip md-direction="down">
                <span once-text="'Close Window'|translate"></span>
              </md-tooltip>

            </md-button>

          </div>
        </div>
        <div class="person-find-result-block">
          <div
            kendo-grid="subscriptionOrders.searchResultGrid"
            k-options="subscriptionOrders.mainGridOptions"
          >
          </div>

        </div>
      </div>
    </div>
  </div>
</div>



