<div
  kendo-splitter="params.splitter1"
  orientation="'horizontal'"
  class="persons-view-splitter"
  k-collapse="searchCriteriaCollapse"
  k-expand="searchCriteriaExpand"
  k-navigatable="true"
  k-height="549"
  panes="params.config.splitterPanesConfig"
  k-no-records="true">

  <div ng-form="trade.formName"
       role="form"
       csm-enter="findData()"
       ng-submit="findData()"
       class="person-find-criteria-form  fg-dark left-pane-style"
       novalidate>


    <div class="row filter-buttons-position">
      <md-button
        aria-label="right arrow button"
        type="button"
        ng-click="resetForm()"
        class="md-micro md-fab pull-right filter-button-style">
        <md-tooltip md-direction="down">
          <span once-text="'Reset Filter'|translate"></span>
        </md-tooltip>
        <span class="icon icon-remove-filter"></span>
      </md-button>

      <md-button
        aria-label="right arrow button"
        type="button"
        ng-click="findData()"
        class="md-micro md-fab pull-right filter-button-style">
        <md-tooltip md-direction="down">
          <span once-text="'Filter'|translate"></span>
        </md-tooltip>
        <span class="icon icon-filter"></span>
      </md-button>
    </div>


    <div class="pane-content">
      <uib-accordion close-others="false">

        <uib-accordion-group is-open="true">
          <uib-accordion-heading>

            <div class="collapsible-panel-heading cursor-pointer">
              <label class="text-right text-muted-manual-70">
              </label>

              <div class="inline-block pull-right">
                <i class="glyphicon pull-right person-search-accordion-icon"></i>
              </div>
            </div>

          </uib-accordion-heading>

          <div>

            <div class="person-search-template-input-style">
              <label class="panel-body-label text-right inline-block text-muted-manual">
                <span>Hesabat tarixi</span>:</label>

              <div class="inline-block person-search-inputs">
                <input type="text"
                       kendo-date-picker
                       name="reportDate"
                       ng-required="true"
                       ng-model="trade.form.reportDate"
                       k-options="reportDatePickerOptions"
                       k-ng-model="trade.form.reportDateObj">
              </div>
            </div>

            <br>


            <div class="person-search-template-input-style">
              <label class="panel-body-label text-right inline-block text-muted-manual">
                <span>Say</span>:</label>

              <div class="inline-block person-search-inputs">
                <input
                  class="k-textbox"
                  type="number"
                  name="count"
                  ng-required="true"
                  ng-model="trade.form.count">

              </div>
            </div>

          </div>

        </uib-accordion-group>

      </uib-accordion>
    </div>
  </div>

  <div class="pane-content">
    <div class="trade-view-buttons-wrapper">
      <md-button
        aria-label="hamburger button"
        class="pull-left md-icon-button md-primary hamburger-button-style"
        ng-click="toggleSearchCriteriaBlock(params.splitter1)">
        <span class="glyphicon glyphicon-align-justify micro-glyphicon micro-align-glyphicon"></span>
      </md-button>
      <!--<span class="text-danger grid-text-danger" ng-show="trade.searchResult.isEmpty" once-text="'No Trade Found!'|translate"></span>-->

      <div class="pull-right view-button-group">
        <md-button type="button" class="md-fab md-micro"
                   aria-label="Export to excel"
                   ng-click="exportToExcel(trade.searchResultGrid)">
          <i class="glyphicon glyphicon-export micro-glyphicon"></i>
          <md-tooltip md-direction="down">
            <span once-text="'Export to Excel'|translate"></span>
          </md-tooltip>
        </md-button>
        <md-button type="button" class="md-fab md-micro"
                   aria-label="Mini FAB"
                   ng-click="closeWindow()">

          <i class="glyphicon glyphicon-remove micro-glyphicon"></i>

          <md-tooltip md-direction="down">
            <span once-text="'Close Window'|translate"></span>
          </md-tooltip>

        </md-button>

      </div>
    </div>
    <div class="trade-search-result-grid">

      <div kendo-grid="trade.searchResultGrid"
        k-ng-delay="trade.mainGridOptions"
        k-options="trade.mainGridOptions">

      </div>

    </div>

  </div>

</div>
