<div
  kendo-splitter="params.splitter1"
  orientation="'horizontal'"
  class="persons-view-splitter"
  k-collapse="searchCriteriaCollapse"
  k-expand="searchCriteriaExpand"
  k-navigatable="true"
  k-scrollable="true"
  panes="params.config.splitterPanesConfig">

  <div
    ng-form="search.formName"
    role="form"
    csm-enter="findData()"
    ng-submit="findData()"
    class="person-find-criteria-form fg-dark left-pane-style"
    novalidate>


    <div class="row filter-buttons-position">

      <md-button
        aria-label="right arrow button"
        type="button"
        ng-click="resetForm()"
        class="md-micro md-fab pull-right filter-button-style">

        <md-tooltip md-direction="down">
          <span once-text="'Reset Filter'|translate"></span>
        </md-tooltip>
        <span class="icon icon-remove-filter"></span>

      </md-button>

      <md-button
        aria-label="right arrow button"
        type="button"
        ng-click="findData()"
        class="md-micro md-fab pull-right filter-button-style">

        <md-tooltip md-direction="down">
          <span once-text="'Filter'|translate"></span>
        </md-tooltip>
        <span class="icon icon-filter"></span>

      </md-button>

    </div>


    <div class="pane-content">
      <uib-accordion close-others="false">




        <uib-accordion-group is-disabled="true">
          <uib-accordion-heading>

            <div>
              <div class="person-search-template-input-style">
                <label class="panel-body-label text-right inline-block text-muted-manual">
                  <span>Başlanğıc çixarış tarixi</span>:</label>

                <div class="inline-block person-search-inputs">
                  <input
                    type="text"
                    kendo-date-picker
                    name="creation_date_start"
                    ng-model="search.form.withdrawalDateStart"
                    k-ng-model="search.form.withdrawalDateStartObj"
                  >
                </div>
              </div>

              <div class="form-group person-search-template-input-style">
                <label class="panel-body-label text-right inline-block text-muted-manual">
                  <span>Son çixarış tarixi</span>:</label>

                <div class="inline-block person-search-inputs">
                  <input
                    type="text"
                    kendo-date-picker
                    name="registration_date_finish"
                    ng-model="search.form.withdrawalDateFinish"
                    k-ng-model="search.form.withdrawalDateFinishObj"
                  >
                </div>
              </div>
            </div>



            <div>
              <div class="person-search-template-input-style">
                <label class="panel-body-label text-right inline-block text-muted-manual">
                  <span>Başlanğıc yaranma tarixi</span>:</label>

                <div class="inline-block person-search-inputs">
                  <input
                    type="text"
                    kendo-date-picker
                    name="creation_date_start"
                    ng-model="search.form.creationDateStart"
                    k-ng-model="search.form.creationDateStartObj"
                  >
                </div>
              </div>

              <div class="form-group person-search-template-input-style">
                <label class="panel-body-label text-right inline-block text-muted-manual">
                  <span>Son yaranma tarixi</span>:</label>

                <div class="inline-block person-search-inputs">
                  <input
                    type="text"
                    kendo-date-picker
                    name="registration_date_finish"
                    ng-model="search.form.creationDateFinish"
                    k-ng-model="search.form.creationDateFinishObj"
                  >
                </div>
              </div>
            </div>

            <div class="form-group person-search-template-input-style">

              <label class="text-right inline-block text-muted-manual">
                <span>Müştərinin adı</span>:</label>

              <div class="inline-block person-search-inputs">
                <input
                  class="k-textbox"
                  type="text"
                  name="account_number"
                  ng-model="search.form.accountName"
                >
              </div>
            </div>


            <div class="form-group person-search-template-input-style">

              <label class="text-right inline-block text-muted-manual">
                <span>Hesab nömrəsi</span>:</label>

              <div class="inline-block person-search-inputs">
                <input
                  class="k-textbox"
                  type="text"
                  name="account_number"
                  ng-model="search.form.accountNumber"
                >
              </div>
            </div>



            <div class="form-group person-search-template-input-style">

              <label class="text-right inline-block text-muted-manual">
                <span>Üzvün adı</span>:</label>

              <div class="inline-block person-search-inputs">
                <input
                  class="k-textbox"
                  type="text"
                  name="account_number"
                  ng-model="search.form.memberName"
                >
              </div>
            </div>



            <div class="form-group person-search-template-input-style">

              <label class="text-right inline-block text-muted-manual">
                <span>Valyuta Kodu</span>:</label>

              <div class="inline-block person-search-inputs">
                <input
                  class="k-textbox"
                  type="text"
                  name="account_number"
                  ng-model="search.form.currencyCode"
                >
              </div>
            </div>




            <div class="form-group person-search-template-input-style">

              <label class="text-right inline-block text-muted-manual">
                <span>Seans nömrəsi</span>:</label>

              <div class="inline-block person-search-inputs">
                <input
                  class="k-textbox"
                  type="text"
                  name="account_number"
                  ng-model="search.form.sessionNumber"
                >
              </div>
            </div>





            <div class="form-group person-search-template-input-style">

              <label class="text-right inline-block text-muted-manual">
                <span>Təyinat</span>:</label>

              <div class="inline-block person-search-inputs">
                <input
                  class="k-textbox"
                  type="text"
                  name="account_number"
                  ng-model="search.form.destination"
                >
              </div>
            </div>



            <div class="form-group person-search-template-input-style">

              <label class="text-right inline-block text-muted-manual">
                <span>İstinad Nömrəsi</span>:</label>

              <div class="inline-block person-search-inputs">
                <input
                  class="k-textbox"
                  type="text"
                  name="account_number"
                  ng-model="search.form.refNumber"
                >
              </div>
            </div>

            <div class="form-group person-search-template-input-style">

              <label class="text-right inline-block text-muted-manual">
                <span>Status</span>:</label>

              <div class="inline-block person-search-inputs">
                <select
                  style="width: 160px"
                  name="currency"
                  ng-model="search.form.statusCode" ng-options="obj.code as obj.name for obj in status">
                  <option value="">---</option>
                </select>
              </div>
            </div>


            <div class="form-group person-search-template-input-style">

              <label class="text-right inline-block text-muted-manual">
                <span>Status mesajı</span>:</label>

              <div class="inline-block person-search-inputs">
                <input
                  class="k-textbox"
                  type="text"
                  name="account_number"
                  ng-model="search.form.statusMessage"
                >
              </div>
            </div>

          </uib-accordion-heading>
        </uib-accordion-group>



      </uib-accordion>
    </div>

  </div>

  <div class="pane-content">
    <div class="view-buttons-wrapper">
      <md-button
        aria-label="hamburger button"
        class="pull-left md-icon-button md-primary hamburger-button-style"
        ng-click="toggleSearchCriteriaBlock(params.splitter1)">
        <span class="glyphicon glyphicon-align-justify micro-glyphicon micro-align-glyphicon"></span>
      </md-button>
      <!--<span class="text-danger grid-text-danger" ng-show="person.searchResult.isEmpty"-->
      <!--once-text="'Nobody Found!'|translate"></span>-->

      <div class="pull-right view-button-group">
        <md-button type="button" class="md-fab md-micro"
                   aria-label="Export to excel"
                   ng-click="exportToExcel(search.searchResultGrid)">
          <i class="glyphicon glyphicon-export micro-glyphicon"></i>
          <md-tooltip md-direction="down">
            <span once-text="'Export to Excel'|translate"></span>
          </md-tooltip>
        </md-button>
        <md-button type="button" class="md-fab md-micro"
                   aria-label="Mini FAB"
                   ng-click="closeWindow()">

          <i class="glyphicon glyphicon-remove micro-glyphicon"></i>

          <md-tooltip md-direction="down">
            <span once-text="'Close Window'|translate"></span>
          </md-tooltip>

        </md-button>

      </div>
    </div>
    <div class="person-find-result-block" kendo-tooltip k-options="toolTipOptions">

      <div
        kendo-grid="search.searchResultGrid"
        k-ng-delay="mainGridOptions"
        k-options="mainGridOptions"
        k-sortable="true"
        k-scrollable="true"
        k-pageable='{ "pageSize": 20, "refresh": true, "pageSizes": true, "buttonCount": 5 }'
        k-resizable="true"
      >

      </div>

    </div>

  </div>

</div>

