<div>

  <div class="pane-content">
    <div class="view-buttons-wrapper">
      <div class="pull-right view-button-group">
        <!--<md-button type="button" class="md-fab md-micro"-->
                   <!--aria-label="Export to excel"-->
                   <!--ng-click="exportToExcel(search.searchResultGrid)">-->
          <!--<i class="glyphicon glyphicon-export micro-glyphicon"></i>-->
          <!--<md-tooltip md-direction="down">-->
            <!--<span once-text="'Export to Excel'|translate"></span>-->
          <!--</md-tooltip>-->
        <!--</md-button>-->
        <md-button type="button" class="md-fab md-micro"
                   aria-label="Mini FAB"
                   ng-click="closeWindow()">

          <i class="glyphicon glyphicon-remove micro-glyphicon"></i>

          <md-tooltip md-direction="down">
            <span once-text="'Close Window'|translate"></span>
          </md-tooltip>

        </md-button>

      </div>
    </div>


    <div class="person-find-result-block">


      <div class="form-group person-search-template-input-style">

        <label class="text-right inline-block text-muted-manual">
          <span>Hesab nömrəsi</span>:</label>

        <div class="inline-block person-search-inputs">
          <input
            class="k-textbox"
            type="text"
            csm-enter="findData()"
            name="account_number"
            ng-model="form.accountNumber"
          >

          <md-button ng-click="findData()" class="md-raised md-primary" style="min-height: 22px;    line-height: 23px;">
            <span>Axtar</span>
          </md-button>

        </div>
      </div>


      <div class="form-group person-search-template-input-style" ng-show="data.personName">

        <label class="text-right inline-block text-muted-manual">
          <span>Şəxsin adı</span>:</label>

        <div class="inline-block person-search-inputs">
            {{ data.personName}}
        </div>
      </div>

      <div ng-show="error" style="padding-left: 140px; width: 50%; color: red; ">
          Nəticə tapılmadı!
      </div>

      <div ng-show="data.balances" style="padding-left: 20px; width: 50%">

        <table class="table table-striped">
          <thead>
            <tr>
              <td style="text-align: center">Xidmət sinfi</td>
              <td style="text-align: center" once-text="'Amount'|translate"></td>
              <td style="text-align: center" once-text="'Currency'|translate"></td>
            </tr>
          </thead>
          <tbody>


          <tr ng-repeat="obj in data.balances">
            <td>{{ obj.serviceClass.nameAz }}</td>
            <td style="text-align: right; width: 20%">{{ obj.amount | formatNumber}}</td>
            <td style="text-align: center; width: 20%">{{ obj.currency.code }}</td>
          </tr>

          </tbody>
        </table>


      </div>

    </div>

  </div>

</div>

