<div>

  <div class="pane-content">
    <div class="view-buttons-wrapper">
      <div class="pull-right view-button-group">
        <md-button type="button" class="md-fab md-micro"
                   aria-label="Mini FAB"
                   ng-click="closeWindow()">

          <i class="glyphicon glyphicon-remove micro-glyphicon"></i>

          <md-tooltip md-direction="down">
            <span once-text="'Close Window'|translate"></span>
          </md-tooltip>

        </md-button>

      </div>
    </div>
    <div class="person-find-result-block" style="overflow: auto">


      <div class="form-group person-search-template-input-style">

        <label class="text-right inline-block text-muted-manual">
          <span>Seriya Nömrəsi</span>:</label>

        <div class="inline-block person-search-inputs">
          <input
            class="k-textbox"
            type="text"
            csm-enter="findData()"
            name="account_number"
            ng-model="form.SerialId"
          >
        </div>
      </div>
      <div class="form-group person-search-template-input-style">

        <label class="text-right inline-block text-muted-manual">
          <span>Pin Code</span>:</label>

        <div class="inline-block person-search-inputs">
          <input
            class="k-textbox"
            type="text"
            csm-enter="findData()"
            name="account_number"
            ng-model="form.pinCode"
            ng-change="form.pinCode = form.pinCode.toUpperCase()"
          >



        </div>
        <md-button ng-click="findData()" aria-label="Button 1" class="md-raised md-primary" style="min-height: 22px;    line-height: 23px;">
            <span>Axtar</span>
          </md-button>
      </div>
      <div class="form-group person-search-template-input-style">
        <label class="text-right inline-block text-muted-manual">
          <span>Qeyri-Rezident</span> :
        </label>
        <div class="inline-block person-search-inputs">
          <md-checkbox aria-label="Checkbox" ng-model="form.isDMX" label="Resident">

          </md-checkbox>
        </div>
      </div>
      <div ng-show="form.idCard" style="padding-left: 20px;">
        <div class="idcard-holder">
          <p><img ng-src="{{'data:image/png;base64,' + form.idCard.Image.data}}" style="width: 100px;" ></p>
          <p><span class="dbl-click-selection-off">Ad (AZ):</span>{{ form.idCard.Profile.Name_AZ }}</p>
          <p><span class="dbl-click-selection-off">Soyad (AZ):</span>{{ form.idCard.Profile.Surname_AZ }}</p>
          <p><span class="dbl-click-selection-off">Ad (EN):</span>{{ form.idCard.Profile.Name_EN }}</p>
          <p><span class="dbl-click-selection-off">Soyad (EN):</span>{{ form.idCard.Profile.Surname_EN }}</p>
          <p><span class="dbl-click-selection-off">Ata adı:</span>{{ form.idCard.Profile.FatherName_AZ }}</p>
          <p><span class="dbl-click-selection-off">Təvəllüd:</span>{{ form.idCard.Profile.Birthday }}</p>
          <p><span class="dbl-click-selection-off">Tam Ünvan:</span>{{ form.idCard.realAddress.FullAddress }}</p>
          <p><span class="dbl-click-selection-off">Doğulduğu Ölkə:</span>{{ form.idCard.birthAddress.country }}</p>
          <p><span class="dbl-click-selection-off">FIN:</span>{{ form.idCard.Profile.Pin }}</p>
        </div>


      </div>

    </div>

  </div>

</div>

