<div
  kendo-splitter="params.splitter1"
  orientation="'horizontal'"
  class="persons-view-splitter"
  k-collapse="searchCriteriaCollapse"
  k-expand="searchCriteriaExpand"
  k-navigatable="true"
  k-height="549"
  panes="params.config.splitterPanesConfig"
  k-no-records="true">

  <div ng-form="OTCTrade.formName"
       role="form"
       csm-enter="findData()"
       ng-submit="findData()"
       class="person-find-criteria-form  fg-dark left-pane-style"
       novalidate>


    <div class="row filter-buttons-position">
      <md-button
        aria-label="right arrow button"
        type="button"
        ng-click="resetForm()"
        class="md-micro md-fab pull-right filter-button-style">
        <md-tooltip md-direction="down">
          <span once-text="'Reset Filter'|translate"></span>
        </md-tooltip>
        <span class="icon icon-remove-filter"></span>
      </md-button>

      <md-button
        aria-label="right arrow button"
        type="button"
        ng-click="findData()"
        class="md-micro md-fab pull-right filter-button-style">
        <md-tooltip md-direction="down">
          <span once-text="'Filter'|translate"></span>
        </md-tooltip>
        <span class="icon icon-filter"></span>
      </md-button>
    </div>


    <div class="pane-content">
      <uib-accordion close-others="false">

        <uib-accordion-group is-disabled="true">
          <uib-accordion-heading>

            <div class="person-search-template-input-style">
              <label class="text-right inline-block text-muted-manual-80">
                <span>Qeydiyyat nömrəsi</span>:</label>

              <div class="inline-block person-search-inputs">
                <input
                  class="k-textbox"
                  type="text"
                  name="regNumber"
                  ng-model="OTCTrade.form.regNumber">

              </div>
            </div>
          </uib-accordion-heading>
        </uib-accordion-group>

        <uib-accordion-group>
          <uib-accordion-heading>
            <div class="collapsible-panel-heading cursor-pointer">
              <label class="text-right text-muted-manual-70">
                <a href="#" once-text="'Date'|translate" class="text-muted-manual"></a>
              </label>

              <div class="inline-block pull-right">
                <i class="glyphicon pull-right person-search-accordion-icon"></i>
              </div>
            </div>
          </uib-accordion-heading>


          <div>
            <div class="person-search-template-input-style">
              <label class="panel-body-label text-right inline-block text-muted-manual">
                <span>Başlama tarixi</span>:</label>

              <div class="inline-block person-search-inputs">
                <input type="text"
                       kendo-date-picker
                       name="startTime"
                       ng-model="OTCTrade.form.startTime"
                       k-ng-model="OTCTrade.form.startTimeObj"
                >
              </div>
            </div>
            <div class="form-group person-search-template-input-style">
              <label class="panel-body-label text-right inline-block text-muted-manual">
                <span>Bitmə tarixi</span>:</label>

              <div class="inline-block person-search-inputs">
                <input type="text"
                       kendo-date-picker
                       name="finishTime"
                       ng-model="OTCTrade.form.finishTime"
                       k-ng-model="OTCTrade.form.finishTimeObj"
                >
              </div>
            </div>
          </div>


        </uib-accordion-group>

        <uib-accordion-group>
          <uib-accordion-heading>
            <div class="collapsible-panel-heading cursor-pointer">
              <label class="text-right text-muted-manual-70">
                <a href="#" class="text-muted-manual">Emitent iştirakçı</a>
              </label>

              <div class="inline-block pull-right">
                <i class="glyphicon pull-right person-search-accordion-icon"></i>
              </div>
            </div>
          </uib-accordion-heading>

          <div>
            <div class="person-search-template-input-style">
              <label class="panel-body-label text-right inline-block text-muted-manual">
                <span>Müştəri hesab nömrəsi</span>:</label>

              <div class="inline-block person-search-inputs">
                <input
                  class="k-textbox"
                  type="text"
                  name="payerClientAccountNumber"
                  ng-model="OTCTrade.form.payerClientAccountNumber"
                >
              </div>
            </div>
            <div class="form-group person-search-template-input-style">
              <label class="panel-body-label text-right inline-block text-muted-manual">
                <span>Müştəri adı</span>:</label>

              <div class="inline-block person-search-inputs">
                <input
                  class="k-textbox"
                  type="text"
                  name="payerClientName"
                  ng-model="OTCTrade.form.payerClientName"
                >
              </div>
            </div>

            <div class="form-group person-search-template-input-style">
              <label class="panel-body-label text-right inline-block text-muted-manual">
                <span>BIC</span>:</label>

              <div class="inline-block person-search-inputs">
                <input
                  class="k-textbox"
                  type="text"
                  name="payerBankBIC"
                  ng-model="OTCTrade.form.payerBankBIC"
                >
              </div>
            </div>
          </div>
        </uib-accordion-group>

        <uib-accordion-group>
          <uib-accordion-heading>
            <div class="collapsible-panel-heading cursor-pointer">
              <label class="text-right text-muted-manual-70">
                <a href="#" class="text-muted-manual">Benefisiar iştirakçı</a>
              </label>

              <div class="inline-block pull-right">
                <i class="glyphicon pull-right person-search-accordion-icon"></i>
              </div>
            </div>
          </uib-accordion-heading>

          <div>
            <div class="person-search-template-input-style">
              <label class="panel-body-label text-right inline-block text-muted-manual">
                <span>Müştəri hesab nömrəsi</span>:</label>

              <div class="inline-block person-search-inputs">
                <input
                  class="k-textbox"
                  type="text"
                  name="payeeClientAccountNumber"
                  ng-model="OTCTrade.form.payeeClientAccountNumber"
                >
              </div>
            </div>
            <div class="form-group person-search-template-input-style">
              <label class="panel-body-label text-right inline-block text-muted-manual">
                <span>Müştəri adı</span>:</label>

              <div class="inline-block person-search-inputs">
                <input
                  class="k-textbox"
                  type="text"
                  name="payeeClientName"
                  ng-model="OTCTrade.form.payeeClientName"
                >
              </div>
            </div>

            <div class="form-group person-search-template-input-style">
              <label class="panel-body-label text-right inline-block text-muted-manual">
                <span>BIC</span>:</label>

              <div class="inline-block person-search-inputs">
                <input
                  class="k-textbox"
                  type="text"
                  name="payeeBankBIC"
                  ng-model="OTCTrade.form.payeeBankBIC"
                >
              </div>
            </div>
          </div>
        </uib-accordion-group>

        <uib-accordion-group is-disabled="true">
          <uib-accordion-heading>

            <div class="person-search-template-input-style">
              <label class="text-right inline-block text-muted-manual-80">
                <span>Valyuta</span>:</label>

              <div class="inline-block person-search-inputs">
                <input
                  class="k-textbox"
                  type="text"
                  name="currencyCode"
                  ng-model="OTCTrade.form.currencyCode">

              </div>
            </div>
          </uib-accordion-heading>
        </uib-accordion-group>

        <uib-accordion-group is-disabled="true">
          <uib-accordion-heading>

            <div class="person-search-template-input-style">
              <label class="text-right inline-block text-muted-manual-80">
                <span>Təyinat</span>:</label>

              <div class="inline-block person-search-inputs">
                <input
                  class="k-textbox"
                  type="text"
                  name="destination"
                  ng-model="OTCTrade.form.destination">

              </div>
            </div>
          </uib-accordion-heading>
        </uib-accordion-group>

        <uib-accordion-group is-disabled="true">
          <uib-accordion-heading>

            <div class="person-search-template-input-style">
              <label class="text-right inline-block text-muted-manual-80">
                <span>Status</span>:</label>

              <div class="inline-block person-search-inputs">
                <select kendo-drop-down-list=""  ng-model="OTCTrade.form.statusCode">
                  <option value="">---</option>
                  <option value="STATUS_ERROR">Xəta</option>
                  <option value="STATUS_PENDING">Gözləmədədir</option>
                  <option value="STATUS_ACCEPTED">Qəbul Olunub</option>
                  <option value="STATUS_REJECTED">İmtina Olunub</option>
                </select>
              </div>
            </div>
          </uib-accordion-heading>
        </uib-accordion-group>

        <uib-accordion-group is-disabled="true">
          <uib-accordion-heading>

            <div class="person-search-template-input-style">
              <label class="text-right inline-block text-muted-manual-80">
                <span>İstiqamət</span>:</label>

              <div class="inline-block person-search-inputs">
                <select kendo-drop-down-list=""  ng-model="OTCTrade.form.direction">
                  <option value="">---</option>
                  <option value="DIRECTION_OUT">Xaric olan</option>
                  <option value="DIRECTION_IN">Daxil olan</option>
                </select>
              </div>
            </div>
          </uib-accordion-heading>
        </uib-accordion-group>

        <uib-accordion-group is-disabled="true">
          <uib-accordion-heading>

            <div class="person-search-template-input-style">
              <label class="text-right inline-block text-muted-manual-80">
                <span>Səhv haqqında məlumat</span>:</label>

              <div class="inline-block person-search-inputs">
                <input
                  class="k-textbox"
                  type="text"
                  name="errorMessage"
                  ng-model="OTCTrade.form.errorMessage">

              </div>
            </div>
          </uib-accordion-heading>
        </uib-accordion-group>

      </uib-accordion>
    </div>
  </div>

  <div class="pane-content">
    <div class="trade-view-buttons-wrapper">
      <md-button
        aria-label="hamburger button"
        class="pull-left md-icon-button md-primary hamburger-button-style"
        ng-click="toggleSearchCriteriaBlock(params.splitter1)">
        <span class="glyphicon glyphicon-align-justify micro-glyphicon micro-align-glyphicon"></span>
      </md-button>
      <!--<span class="text-danger grid-text-danger" ng-show="OTCTrade.searchResult.isEmpty" once-text="'No OTCTrade Found!'|translate"></span>-->

      <div class="pull-right view-button-group">

        <md-button ng-if="!config.screenId"
                   type="button"
                   class="md-fab md-micro"
                   aria-label="Select"
                   ng-disabled="!OTCTrade.hasSelectedOTCTrade"
                   ng-click="selectData()">
          <i class="glyphicon glyphicon-ok micro-glyphicon"></i>
          <md-tooltip md-direction="down">
            <span once-text="'Select Person'|translate"></span>
          </md-tooltip>
        </md-button>

        <md-button type="button" class="md-fab md-micro"
                   aria-label="Export to excel"
                   ng-click="exportToExcel(OTCTrade.searchResultGrid)">
          <i class="glyphicon glyphicon-export micro-glyphicon"></i>
          <md-tooltip md-direction="down">
            <span once-text="'Export to Excel'|translate"></span>
          </md-tooltip>
        </md-button>
        <md-button type="button" class="md-fab md-micro"
                   aria-label="Mini FAB"
                   ng-click="closeWindow()">

          <i class="glyphicon glyphicon-remove micro-glyphicon"></i>

          <md-tooltip md-direction="down">
            <span once-text="'Close Window'|translate"></span>
          </md-tooltip>

        </md-button>

      </div>
    </div>
    <div class="trade-search-result-grid">
      <div
        kendo-grid="searchConfig.OTCTrade.searchResultGrid"
        k-ng-delay="OTCTrade.mainGridOptions"
        k-options="OTCTrade.mainGridOptions"
        k-sortable="true"
        k-scrollable="true"
        k-pageable='{ "pageSize": 20, "refresh": true, "pageSizes": true, "buttonCount": 5 }'
        k-resizable="true">

      </div>

    </div>

  </div>

</div>
