
<div class="window-footer-content">

  <md-button
    ng-repeat="(key,value) in config._buttons"
    aria-label="icon button"
    ng-if="value"
    ng-click="value.click()"
    ng-disabled="value.disabled"
    type="button"
    type="button"
    class="md-fab md-micro"
    >

    <i class="glyphicon glyphicon-{{value.icon}}"></i>
    <md-tooltip>
      <span once-text="value.title|translate"></span>
    </md-tooltip>
  </md-button>
  <!--Button-->

</div> <!--Window footer content-->
