<form name="instrument.cfiForm.name" class="cfi-generate-form">

    <div class="cfi-submit-button">
        <md-button class="md-fab md-micro pull-right"
                type="submit"
                ng-disabled="instrument.cfiForm.name.$invalid"
                ng-click="generateCFI(instrument.cfiGenerateWindow,instrument)"
                aria-label="fab-button">
          <i class="glyphicon glyphicon-ok micro-glyphicon"></i>
          <md-tooltip md-direction="down">
            <span once-text="'OK'|translate"></span>
          </md-tooltip>
        </md-button>
  </div>
    <div class="forms">
      <div class="form-group">

        <label class="cfi-form-labels"><span once-text="'Category'|translate"></span>: </label>
     <div class="form-inputs">
       <select name="sel1"
               ng-model="instrument.cfiForm.sel1"
               ng-required="true"
               ng-change="getChildOptions(instrument.cfiForm.sel1,1)">

         <option value="">---</option>
         <option ng-repeat="category in metaData.sel1" value="{{category.id}}">
           {{category['name'+lnC]}}
         </option>
       </select>
     </div>
      </div>
    </div>
    <div class=forms">
      <div class="form-group">

        <label class="cfi-form-labels"><span once-text="'Group'|translate"></span>: </label>
       <div class="form-inputs">
         <select name="sel2"
                 ng-model="instrument.cfiForm.sel2"
                 ng-required="true"
                 ng-change="getChildOptions(instrument.cfiForm.sel2,2)">

           <option value="">---</option>
           <option ng-repeat="category in metaData.sel2" value="{{category.id}}">
             {{category['name'+lnC]}}
           </option>

         </select>
       </div>
      </div>

    </div>
    <div class="forms">
      <div class="form-group">

        <label class="cfi-form-labels"><span once-text="'Attribute'|translate"></span>1: </label>
      <div class="form-inputs">
        <select name="sel3"
                ng-model="instrument.cfiForm.sel3"
                ng-required="true"
                ng-change="getChildOptions(instrument.cfiForm.sel3,3)">

          <option value="">---</option>
          <option ng-repeat="category in metaData.sel3" value="{{category.id}}">

            {{category['name'+lnC]}}
          </option>

        </select>
      </div>
      </div>

    </div>
    <div class="forms">
      <div class="form-group">

        <label class="cfi-form-labels"><span once-text="'Attribute'|translate"></span>2: </label>
     <div class="form-inputs">
       <select name="sel4"
               ng-model="instrument.cfiForm.sel4"
               ng-required="true"
               ng-change="getChildOptions(instrument.cfiForm.sel4,4)">

         <option value="">---</option>
         <option ng-repeat="category in metaData.sel4" value="{{category.id}}">

           {{category['name'+lnC]}}
         </option>

       </select>
     </div>
      </div>

    </div>
    <div class="forms">
      <div class="form-group">

        <label class="cfi-form-labels"><span once-text="'Attribute'|translate"></span>3: </label>
       <div class="form-inputs">
         <select name="sel5"
                 ng-model="instrument.cfiForm.sel5"
                 ng-required="true"
                 ng-change="getChildOptions(instrument.cfiForm.sel5,5)">

           <option value="">---</option>
           <option ng-repeat="category in metaData.sel5" value="{{category.id}}">

             {{category['name'+lnC]}}
           </option>

         </select>
       </div>
      </div>

    </div>
    <div class="forms">
      <div class="form-group">

        <label class="cfi-form-labels"><span once-text="'Attribute'|translate"></span>4: </label>
       <div class="form-inputs">
         <select name="sel1"
                 ng-model="instrument.cfiForm.sel6"
                 ng-required="true"
                 ng-change="getChildOptions(instrument.cfiForm.sel6,6)">

           <option value="">---</option>
           <option ng-repeat="category in metaData.sel6" value="{{category.id}}">

             {{category['name'+lnC]}}
           </option>

         </select>
       </div>
      </div>

    </div>

</form>
