<div class="forms" ng-if="instrument.config.fields.CFI.is_visible">
  <table class="table table-striped table-bordered">
    <thead>
    <tr>
      <th><span once-text="'CFI'|translate"></span></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td class="half-width">
        <span ng-if="!instrument.CFI['description'+lnC]">......</span>
        <span> {{instrument.CFI['description'+lnC]}}</span>
        <input
          type="hidden"
          name="cfi"
          ng-model="instrument.CFI['description'+lnC]"
          ng-required="instrument.config.fields.CFI.is_mandatory"
          >

        <div ng-class="{ 'has-error': (instrument.partialFormName.$submitted || instrument.partialFormName.cfi.$touched)
                 &&(instrument.partialFormName.cfi.$invalid)  }"
             ng-show="instrument.partialFormName.$submitted || instrument.partialFormName.cfi.$touched">
          <p ng-show="instrument.partialFormName.cfi.$error.required"
             class="help-block help-block-error">
            <span once-text="'This field is required'|translate"></span>
          </p>
        </div>
      </td>
      <td class="half-width">
        <md-button
          class="md-fab md-micro"
          aria-label="Mini FAB"
          ng-click="openWindow(instrument.cfiGenerateWindow)">
          <i class="glyphicon glyphicon-search micro-glyphicon"></i>
          <md-tooltip>
            <span once-text="'Generate CFI'|translate"></span>
          </md-tooltip>
        </md-button>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<!--Generate CFI-->
<div class="forms" ng-if="instrument.config.fields.issuer.is_visible">
  <table class="table table-striped table-bordered">
    <thead>
    <tr>
      <th><span once-text="'Issuer'|translate"></span></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td class="half-width">
        <span ng-if="!instrument.issuer.name">......</span>
        <span> {{instrument.issuer.name}}</span>
        <input
          type="hidden"
          name="issuer"
          ng-required="instrument.config.fields.issuer.is_mandatory"
          ng-model="instrument.issuer.name">

        <div ng-class="{ 'has-error': (instrument.partialFormName.$submitted || instrument.partialFormName.issuer.$touched)
                 &&(instrument.partialFormName.issuer.$invalid)  }"
             ng-show="instrument.partialFormName.$submitted || instrument.partialFormName.issuer.$touched">
          <p ng-show="instrument.partialFormName.issuer.$error.required"
             class="help-block help-block-error">
            <span once-text="'This field is required'|translate"></span>
          </p>
        </div>
      </td>
      <td class="half-width">
        <md-button
          class="md-fab md-micro"
          aria-label="Mini FAB"
          ng-click="findIssuer(instrument)"
          ng-disabled="!instrument.CFI['description'+lnC]">
          <i class="glyphicon glyphicon-search micro-glyphicon"></i>
          <md-tooltip>
            <span once-text="'Find Issuer'|translate"></span>
          </md-tooltip>
        </md-button>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<div class="forms"
     ng-if="instrument.config.fields.convertible_stock.is_visible && !instrument.metaData.convertableStockes">

  <div class="form-group" ng-class="{ 'has-error':
                 (instrument.partialFormName.$submitted || instrument.partialFormName.convertable_stock.$touched)
                 &&(instrument.partialFormName.convertable_stock.$invalid)  }">
    <label class="form-labels"><span class="required-sign"
                                     ng-if="instrument.config.fields.convertible_stock.is_mandatory">*</span>
      <span once-text="'Convertible Stock'|translate"></span>:</label>

    <div class="form-inputs">
      <select
        name="convertable_stock"
        ng-model="instrument.convertableStock"
        ng-required="instrument.config.fields.convertible_stock.is_mandatory"
        >
        <option value="">---</option>
        <option
          value="{{cl|json}}"
          ng-repeat="cl in  metaData.convertableStockes">{{cl.ISIN}}
        </option>
      </select>

      <div ng-show="instrument.partialFormName.$submitted || instrument.partialFormName.convertable_stock.$touched">
        <p ng-show="instrument.partialFormName.convertable_stock.$error.required"
           class="help-block help-block-error">
          <span once-text="'This field is required'|translate"></span>
        </p>
      </div>
    </div>
  </div>
</div>
<!--Issuer convertible stock-->
<div class="forms"
     ng-if="instrument.config.fields.convertible_stock.is_visible && instrument.metaData.convertableStockes">

  <div class="form-group" ng-class="{ 'has-error':
                 (instrument.partialFormName.$submitted || instrument.partialFormName.convertable_stock.$touched)
                 &&(instrument.partialFormName.convertable_stock.$invalid)  }">
    <label class="form-labels"><span class="required-sign"
                                     ng-if="instrument.config.fields.convertible_stock.is_mandatory">*</span>
      <span once-text="'Convertible Stock'|translate"></span>:</label>

    <div class="form-inputs">
      <select
        name="convertable_stock"
        ng-model="instrument.convertableStock"
        ng-required="instrument.config.fields.convertible_stock.is_mandatory"
        >
        <option value="">---</option>
        <option
          value="{{cl|json}}"
          ng-repeat="cl in  instrument.metaData.convertableStockes">{{cl.ISIN}}
        </option>
      </select>

      <div ng-show="instrument.partialFormName.$submitted || instrument.partialFormName.convertable_stock.$touched">
        <p ng-show="instrument.partialFormName.convertable_stock.$error.required"
           class="help-block help-block-error">
          <span once-text="'This field is required'|translate"></span>
        </p>
      </div>
    </div>
  </div>

</div>
<!--Issuer convertible stock-->

<!--Find issuer-->

<div class="forms" ng-if="instrument.config.fields.security_groups.is_visible">
  <table class="table table-striped table-bordered">
    <thead>
    <tr>
      <th><span once-text="'Security Group'|translate"></span></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr data-ng-repeat="sg in instrument.securityGroups track by $index">
      <td class="half-width">
        <select
          name="security_group_{{$index}}"
          ng-model="instrument.securityGroups[$index]"
          ng-required="instrument.config.fields.security_group.is_mandatory"
          >
          <option value="">---</option>
          <option
            value="{{sg|json}}"
            ng-repeat="sg in metaData.securityGroups">{{sg['name'+lnC]}}
          </option>
        </select>

        <div ng-class="{ 'has-error': (instrument.partialFormName.$submitted || instrument.partialFormName['security_group_'+$index].$touched)
                &&(instrument.partialFormName['security_group_'+$index].$invalid)  }"
             ng-show="instrument.partialFormName.$submitted || instrument.partialFormName['security_group_'+$index].$touched">
          <p ng-show="instrument.partialFormName['security_group_'+$index].$error.required"
             class="help-block help-block-error">
            <span once-text="'This field is required'|translate"></span>
          </p>
        </div>
      </td>
      <td class="half-width">
        <md-button
          ng-show="$index>0"
          class="md-fab md-micro"
          aria-label="Mini FAB"
          ng-click="removeSecurityGroup($index,instrument.securityGroups)">
          <i class="glyphicon glyphicon-remove micro-glyphicon"></i>
          <md-tooltip>
            <span once-text="'Delete'|translate"></span>
          </md-tooltip>
        </md-button>
        <!--Remove Button-->
      </td>
    </tr>
    </tbody>
  </table>
  <div class="inline-block">
    <md-button class="md-fab md-micro pull-left"
               ng-click="addNewSecurityGroup(instrument.securityGroups)">
      <i class="glyphicon glyphicon-plus micro-glyphicon"></i>
      <md-tooltip>
        <span once-text="'Add New Security Group'|translate"></span>
      </md-tooltip>
    </md-button>
  </div>
</div>
<hr>
<!--Security groups-->

<div ng-if="instrument.config.fields.custom_identificators.is_visible">
  <div class="forms">

    <h4 once-text="'Custom Identificators'|translate"></h4>

    <div ng-if="instrument.config.fields.custom_identificators.fields.type.is_visible">
      <table class="table table-striped table-bordered">
        <thead>
        <tr>
          <th><span once-text="'Identificator Class'|translate"></span></th>
          <th once-text="'Number'|translate"></th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr data-ng-repeat="customIdentificator in instrument.customIdentificators">
          <td>
            <select
              name="identificator_class{{$index}}"
              ng-model="customIdentificator.type"
              ng-required="instrument.config.fields.custom_identificators.fields.type.is_mandatory"
              >
              <option value="">---</option>
              <option
                value="{{idc|json}}"
                ng-repeat="idc in metaData.identificatorClasses">{{idc['name'+lnC]}}
              </option>
            </select>

            <div ng-class="{ 'has-error': (instrument.partialFormName.$submitted || instrument.partialFormName['identificator_class'+$index].$touched)
                 &&(instrument.partialFormName['identificator_class'+$index].$invalid)  }"
                 ng-show="instrument.partialFormName.$submitted || instrument.partialFormName['identificator_class'+$index].$touched">
              <p ng-show="instrument.partialFormName['identificator_class'+$index].$error.required"
                 class="help-block help-block-error">
                <span once-text="'This field is required'|translate"></span>
              </p>
            </div>
          </td>
          <td ng-if="instrument.config.fields.custom_identificators.fields.number.is_visible">
            <input
              name="number_{{$index}}"
              class="k-textbox removable-input"
              type="hidden"
              ng-model="customIdentificator.number"
              ng-required="instrument.config.fields.custom_identificators.fields.number.is_mandatory"
              />

            <div ng-class="{ 'has-error':(instrument.partialFormName.$submitted || instrument.partialFormName['number_'+$index].$touched)
                 &&(instrument.partialFormName['number_'+$index].$invalid)  }"
                 ng-show="instrument.partialFormName.$submitted || instrument.partialFormName['number_'+$index].$touched">
              <p ng-show="instrument.partialFormName['number_'+$index].$error.required"
                 class="help-block help-block-error">
                <span once-text="'This field is required'|translate"></span>
              </p>
            </div>

          </td>
          <td>
            <md-button
              ng-show="$index>0"
              class="md-fab md-micro"
              aria-label="Mini FAB"
              ng-click="removeIdentificator($index,instrument.customIdentificators)">
              <i class="glyphicon glyphicon-remove micro-glyphicon"></i>
              <md-tooltip>
                <span once-text="'Delete'|translate"></span>
              </md-tooltip>
            </md-button>
            <!--Remove Button-->
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <!--Custom identificators-->

    <div class="inline-block">
      <md-button class="md-fab md-micro pull-left"
                 aria-label="fab-button"
                 ng-click="addNewIdentificator(instrument.customIdentificators)">
        <i class="glyphicon glyphicon-plus micro-glyphicon"></i>
        <md-tooltip>
          <span once-text="'Add New Identificator'|translate"></span>
        </md-tooltip>
      </md-button>

    </div>
    <hr>


  </div>
</div>
<!--Custom identificators-->
<div class="forms" ng-if="instrument.config.fields.ISIN.is_visible">
  <div class="form-group"
       ng-class="{ 'has-error': (instrument.partialFormName.$submitted || instrument.partialFormName.isin_code.$touched)
                         &&(instrument.partialFormName.isin_code.$invalid)  }">

    <label class="form-labels"><span class="required-sign" ng-if="instrument.config.fields.ISIN.is_mandatory">*</span>
      <span once-text="'ISIN Code'|translate"></span>:</label>

    <div class="form-inputs">
      <input
        type="text"
        class="k-textbox"
        name="isin_code"
        ng-trim="true"
        ng-maxlength="12"
        ng-minlength="12"
        maxlength="12"
        ng-model="instrument.ISIN"
        ng-required="instrument.config.fields.ISIN.is_mandatory"
        >

      <div ng-show="instrument.partialFormName.$submitted || instrument.partialFormName.isin_code.$touched">
        <p ng-show="instrument.partialFormName.isin_code.$error.required"
           class="help-block help-block-error">
          <span once-text="'This field is required'|translate"></span>
        </p>

        <p
          ng-show="instrument.partialFormName.isin_code.$error.maxlength || instrument.partialFormName.isin_code.$error.minlength"
          class="help-block help-block-error">
          <span once-text="'ISIN code must be consist of 12 symbols.'|translate"></span>
        </p>
      </div>
    </div>
  </div>
</div>
<!-- NAME AZ-->
<div class="forms" ng-if="instrument.config.fields.name.is_visible">
  <div class="form-group" ng-class="{ 'has-error': (instrument.partialFormName.$submitted || instrument.partialFormName.name_az.$touched)
             &&(instrument.partialFormName.name_az.$invalid)  }">

    <label class="form-labels"><span class="required-sign" ng-if="instrument.config.fields.name.is_mandatory">*</span>
      <span once-text="'Name'|translate"></span> (AZ):</label>

    <div class="form-inputs">
      <input
        type="text"
        class="k-textbox"
        name="name_az"
        ng-model="instrument.name.nameAz"
        ng-required="instrument.config.fields.name.is_mandatory"
        >

      <div ng-show="instrument.partialFormName.$submitted || instrument.partialFormName.name_az.$touched">
        <p ng-show="instrument.partialFormName.name_az.$error.required"
           class="help-block help-block-error">
          <span once-text="'This field is required'|translate"></span>
        </p>
      </div>
    </div>
  </div>
</div>
<!-- Abbreviation AZ-->
<div class="forms"
     ng-if="instrument.config.fields.abbreviation.is_visible">
  <div class="form-group"
       ng-class="{ 'has-error': (instrument.partialFormName.$submitted || instrument.partialFormName.abbreviation_az.$touched)
             &&(instrument.partialFormName.abbreviation_az.$invalid)  }">

    <label class="form-labels"><span class="required-sign"
                                     ng-if="instrument.config.fields.abbreviation.is_mandatory">*</span>
      <span once-text="'Abbreviation'|translate"></span> (AZ):</label>

    <div class="form-inputs">
      <input
        type="text"
        name="abbreviation_az"
        class="k-textbox"
        ng-model="instrument.abbreviation.nameAz"
        ng-required="instrument.config.fields.abbreviation.is_mandatory"
        >

      <div ng-show="instrument.partialFormName.$submitted || instrument.partialFormName.abbreviation_az.$touched">
        <p ng-show="instrument.partialFormName.abbreviation_az.$error.required"
           class="help-block help-block-error">
          <span once-text="'This field is required'|translate"></span>
        </p>
      </div>
    </div>
  </div>
</div>
<!--Names-->
<div ng-show="true" class="forms" ng-init="showNameGroups = true">
  <div class="form-group">
    <label class="form-labels">
      <span once-text="'Show English Fields'|translate">:</span>
    </label>
    <md-switch
      ng-model="showNameGroups"
      aria-label="No/Yes"
      class="instrument-data-switch">
    </md-switch>
  </div>
</div>
<!--L18n btn-->
<div ng-show="showNameGroups">

  <!-- NAME EN-->
  <div ng-if="instrument.config.fields.name.is_visible && instrument.config.fields.isEnRequired.is_visible"
       class="forms">
    <div class="form-group" ng-class="{ 'has-error': (instrument.partialFormName.$submitted || instrument.partialFormName.name_en.$touched)
             &&(instrument.partialFormName.name_en.$invalid)  }">

      <label class="form-labels"><span class="required-sign"
                                       ng-if="instrument.config.fields.name.is_mandatory && instrument.config.fields.isEnRequired.is_mandatory">*</span>
        <span once-text="'Name'|translate"></span> (EN):</label>

      <div class="form-inputs">
        <input
          type="text"
          class="k-textbox"
          name="name_en"
          ng-model="instrument.name.nameEn"
          ng-required="instrument.config.fields.name.is_mandatory && instrument.config.fields.isEnRequired.is_mandatory"
          >

        <div ng-show="instrument.partialFormName.$submitted || instrument.partialFormName.name_en.$touched">
          <p ng-show="instrument.partialFormName.name_en.$error.required"
             class="help-block help-block-error">
            <span once-text="'This field is required'|translate"></span>
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- Abbreviation EN-->
  <div ng-if="instrument.config.fields.abbreviation.is_visible && instrument.config.fields.isEnRequired.is_visible"
       class="forms">
    <div class="form-group"
         ng-class="{ 'has-error': (instrument.partialFormName.$submitted || instrument.partialFormName.abbreviation_en.$touched)
             &&(instrument.partialFormName.abbreviation_en.$invalid)  }">

      <label class="form-labels"><span class="required-sign"
                                       ng-if="instrument.config.fields.abbreviation.is_mandatory && instrument.config.fields.isEnRequired.is_mandatory">*</span>
        <span once-text="'Abbreviation'|translate"></span> (EN):</label>

      <div class="form-inputs">
        <input
          type="text"
          name="abbreviation_en"
          class="k-textbox"
          ng-model="instrument.abbreviation.nameEn"
          ng-required="instrument.config.fields.abbreviation.is_mandatory && instrument.config.fields.isEnRequired.is_mandatory"
          >

        <div ng-show="instrument.partialFormName.$submitted || instrument.partialFormName.abbreviation_en.$touched">
          <p ng-show="instrument.partialFormName.abbreviation_en.$error.required"
             class="help-block help-block-error">
            <span once-text="'This field is required'|translate"></span>
          </p>
        </div>
      </div>
    </div>
  </div>

</div>
<!-- Locale names-->
<div class="forms" ng-if="instrument.config.fields.quantity.is_visible">
  <div class="form-group"
       ng-class="{ 'has-error': (instrument.partialFormName.$submitted || instrument.partialFormName.quantity.$touched)
                &&(instrument.partialFormName.quantity.$invalid)  }">

    <label class="form-labels"><span class="required-sign"
                                     ng-if="instrument.config.fields.quantity.is_mandatory">*</span>
      <span once-text="'Quantity'|translate"></span>:</label>

    <div class="form-inputs">
      <input
        type="number"
        class="k-textbox"
        name="quantity"
        ng-trim="true"
        ng-model="instrument.quantity"
        ng-required="instrument.config.fields.quantity.is_mandatory"
        >

      <div ng-show="instrument.partialFormName.$submitted || instrument.partialFormName.quantity.$touched">
        <p ng-show="instrument.partialFormName.quantity.$error.required"
           class="help-block help-block-error">
          <span once-text="'This field is required'|translate"></span>
        </p>

        <p
          ng-show="instrument.partialFormName.quantity.$error.number"
          class="help-block help-block-error">
          <span once-text="'Wrong Format!'|translate"></span>
        </p>
      </div>
    </div>
  </div>
</div>
<!--Quantity-->
<div class="forms" ng-if="instrument.config.fields.par_value.is_visible">
  <div class="form-group"
       ng-class="{ 'has-error': (instrument.partialFormName.$submitted || instrument.partialFormName.par_value.$touched)
                &&(instrument.partialFormName.par_value.$invalid)  }">

    <label class="form-labels"><span class="required-sign"
                                     ng-if="instrument.config.fields.par_value.is_mandatory">*</span>
      <span once-text="'Par Value'|translate"></span>:</label>

    <div class="form-inputs">
      <input
        type="number"
        class="k-textbox"
        name="par_value"
        ng-trim="true"
        ng-model="instrument.parValue"
        ng-required="instrument.config.fields.par_value.is_mandatory"
        >

      <div ng-show="instrument.partialFormName.$submitted || instrument.partialFormName.par_value.$touched">
        <p ng-show="instrument.partialFormName.par_value.$error.required"
           class="help-block help-block-error">
          <span once-text="'This field is required'|translate"></span>
        </p>

        <p
          ng-show="instrument.partialFormName.par_value.$error.number"
          class="help-block help-block-error">
          <span once-text="'Wrong Format!'|translate"></span>
        </p>
      </div>
    </div>
  </div>
</div>
<!--Par value-->
<div class="forms" ng-if="instrument.config.fields.exercise_price.is_visible">
  <div class="form-group"
       ng-class="{ 'has-error': (instrument.partialFormName.$submitted || instrument.partialFormName.par_value.$touched)
                &&(instrument.partialFormName.par_value.$invalid)  }">

    <label class="form-labels"><span class="required-sign" ng-if="instrument.config.fields.exercise_price.is_mandatory">*</span>
      <span once-text="'Exercise Price'|translate"></span>:</label>

    <div class="form-inputs">
      <input
        type="number"
        class="k-textbox"
        name="par_value"
        ng-trim="true"
        ng-model="instrument.parValue"
        ng-required="instrument.config.fields.exercise_price.is_mandatory"
        >

      <div ng-show="instrument.partialFormName.$submitted || instrument.partialFormName.par_value.$touched">
        <p ng-show="instrument.partialFormName.par_value.$error.required"
           class="help-block help-block-error">
          <span once-text="'This field is required'|translate"></span>
        </p>

        <p
          ng-show="instrument.partialFormName.par_value.$error.number"
          class="help-block help-block-error">
          <span once-text="'Wrong Format!'|translate"></span>
        </p>
      </div>
    </div>
  </div>
</div>
<!--Exercise price-->
<div class="forms" ng-if="instrument.config.fields.currency.is_visible">
  <div class="form-group"
       ng-class="{ 'has-error': (instrument.partialFormName.$submitted || instrument.partialFormName.currency.$touched)
                &&(instrument.partialFormName.currency.$invalid)  }">
    <label class="form-labels"><span class="required-sign"
                                     ng-if="instrument.config.fields.currency.is_mandatory">*</span>
      <span once-text="'Currency'|translate"></span>:</label>

    <div class="form-inputs">
      <select
        name="currency"
        ng-model="instrument.currency"
        ng-required="instrument.config.fields.currency.is_mandatory"
        >
        <option value="">---</option>
        <option
          value="{{currency|json}}"
          ng-repeat="currency in metaData.currencies">{{currency['name'+lnC]}}
        </option>
      </select>

      <div ng-show="instrument.partialFormName.$submitted || instrument.partialFormName.currency.$touched">
        <p ng-show="instrument.partialFormName.currency.$error.required"
           class="help-block help-block-error">
          <span once-text="'This field is required'|translate"></span>
        </p>
      </div>
    </div>
  </div>

</div>
<!--Currency-->

<div class="forms" ng-if="instrument.config.fields.fiscal_date.is_visible">
  <table class="table table-striped table-bordered">
    <thead>
    <tr>
      <th><span once-text="'Fiscal Date'|translate"></span></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr data-ng-repeat="sg in instrument.fiscalDates">
      <td class="half-width">
        <input type="text"
               class="datepicker-cst"
               kendo-date-picker
               name="fiscal_date_{{$index}}"
               ng-model="sg.value"
               k-ng-model="sg.valueObj"
               k-format="'dd MM'"
               ng-required="instrument.config.fields.fiscal_date.is_mandatory"
          >

        <div
          class="has-error"
          ng-show="instrument.partialFormName.$submitted || instrument.partialFormName['fiscal_date_'+$index].$touched">
          <p ng-show="instrument.partialFormName['fiscal_date_'+$index].$error.required"
             class="help-block help-block-error">
            <span once-text="'This field is required'|translate"></span>
          </p>

          <p ng-show="instrument.partialFormName['fiscal_date_'+$index].$error.cmsKendoDate"
             class="help-block help-block-error">
            <span once-text="'Please enter a valid date!'|translate"></span>
          </p>
        </div>
      </td>
      <td class="half-width">
        <md-button
          ng-show="$index>0"
          class="md-fab md-micro"
          aria-label="Mini FAB"
          ng-click="removeFiscalDate($index,instrument.fiscalDates)">
          <i class="glyphicon glyphicon-remove micro-glyphicon"></i>
          <md-tooltip>
            <span once-text="'Delete'|translate"></span>
          </md-tooltip>
        </md-button>
        <!--Remove Button-->
      </td>
    </tr>
    </tbody>
  </table>

  <div class="form-group inline-block">
    <md-button class="md-fab md-micro pull-left"
               ng-click="addNewFiscalDate(instrument.fiscalDates)">
      <i class="glyphicon glyphicon-plus micro-glyphicon"></i>
      <md-tooltip>
        <span once-text="'Add New Fiscal Date'|translate"></span>
      </md-tooltip>
    </md-button>

  </div>
  <hr>


</div>
<!--Security groups-->


<div class="forms"
     ng-if="instrument.config.fields.maturity_date.is_visible">
  <div class="form-group"
       ng-class="{ 'has-error':
                 (instrument.partialFormName.$submitted || instrument.partialFormName.maturity_date.$touched)
                 &&(instrument.partialFormName.maturity_date.$invalid)  }">
    <label class="form-labels"><span class="required-sign"
                                     ng-if="instrument.config.fields.maturity_date.is_mandatory">*</span>
      <span once-text="'Maturity Date'|translate"></span>:</label>

    <div class="form-inputs">
      <input type="text"
             class="datepicker-cst"
             kendo-date-picker
             name="maturity_date"
             ng-model="instrument.maturityDate"
             k-ng-model="instrument.maturityDateObj"
             ng-required="instrument.config.fields.maturity_date.is_mandatory"
        >

      <div ng-show="instrument.partialFormName.$submitted || instrument.partialFormName.maturity_date.$touched">
        <p ng-show="instrument.partialFormName.maturity_date.$error.required"
           class="help-block help-block-error">
          <span once-text="'This field is required'|translate"></span>
        </p>

        <p ng-show="instrument.partialFormName.maturity_date.$error.cmsKendoDate"
           class="help-block help-block-error">
          <span once-text="'Please enter a valid date!'|translate"></span>
        </p>
      </div>
    </div>
  </div>

</div>
<div class="forms"
     ng-if="instrument.config.fields.exercise_period_start_date.is_visible">
  <div class="form-group"
       ng-class="{ 'has-error':
                 (instrument.partialFormName.$submitted || instrument.partialFormName.period_start_date.$touched)
                 &&(instrument.partialFormName.period_start_date.$invalid)  }">
    <label class="form-labels"><span class="required-sign"
                                     ng-if="instrument.config.fields.exercise_period_start_date.is_mandatory">*</span>
      <span once-text="'Exercise Period Start Date'|translate"></span>:</label>

    <div class="form-inputs">
      <input type="text"
             class="datepicker-cst"
             kendo-date-picker
             name="period_start_date"
             ng-model="instrument.periodStartDate"
             k-ng-model="instrument.periodStartDateObj"
             ng-required="instrument.config.fields.exercise_period_start_date.is_mandatory"
        >

      <div ng-show="instrument.partialFormName.$submitted || instrument.partialFormName.period_start_date.$touched">
        <p ng-show="instrument.partialFormName.period_start_date.$error.required"
           class="help-block help-block-error">
          <span once-text="'This field is required'|translate"></span>
        </p>

        <p ng-show="instrument.partialFormName.period_start_date.$error.cmsKendoDate"
           class="help-block help-block-error">
          <span once-text="'Please enter a valid date!'|translate"></span>
        </p>
      </div>
    </div>
  </div>

</div>
<div class="forms"
     ng-if="instrument.config.fields.exercise_period_end_date.is_visible">
  <div class="form-group"
       ng-class="{ 'has-error':
                 (instrument.partialFormName.$submitted || instrument.partialFormName.period_end_date.$touched)
                 &&(instrument.partialFormName.period_end_date.$invalid)  }">
    <label class="form-labels"><span class="required-sign"
                                     ng-if="instrument.config.fields.exercise_period_end_date.is_mandatory">*</span>
      <span once-text="'Exercise Period End Date'|translate"></span>:</label>

    <div class="form-inputs">
      <input type="text"
             class="datepicker-cst"
             kendo-date-picker
             name="period_end_date"
             ng-model="instrument.periodEndDate"
             k-ng-model="instrument.periodEndDateObj"
             ng-required="instrument.config.fields.exercise_period_end_date.is_mandatory"
        >

      <div ng-show="instrument.partialFormName.$submitted || instrument.partialFormName.period_end_date.$touched">
        <p ng-show="instrument.partialFormName.period_end_date.$error.required"
           class="help-block help-block-error">
          <span once-text="'This field is required'|translate"></span>
        </p>

        <p ng-show="instrument.partialFormName.period_end_date.$error.cmsKendoDate"
           class="help-block help-block-error">
          <span once-text="'Please enter a valid date!'|translate"></span>
        </p>
      </div>
    </div>
  </div>

</div>
<div class="forms"
     ng-if="instrument.config.fields.establishment_start_date.is_visible">
  <div class="form-group"
       ng-class="{ 'has-error':
                 (instrument.partialFormName.$submitted || instrument.partialFormName.period_start_date.$touched)
                 &&(instrument.partialFormName.period_start_date.$invalid)  }">
    <label class="form-labels"><span class="required-sign"
                                     ng-if="instrument.config.fields.establishment_start_date.is_mandatory">*</span>
      <span once-text="'Establishment Start Date'|translate"></span>:</label>

    <div class="form-inputs">
      <input type="text"
             class="datepicker-cst"
             kendo-date-picker
             name="period_start_date"
             ng-model="instrument.periodStartDate"
             k-ng-model="instrument.periodStartDateObj"
             ng-required="instrument.config.fields.establishment_start_date.is_mandatory"
        >

      <div ng-show="instrument.partialFormName.$submitted || instrument.partialFormName.period_start_date.$touched">
        <p ng-show="instrument.partialFormName.period_start_date.$error.required"
           class="help-block help-block-error">
          <span once-text="'This field is required'|translate"></span>
        </p>

        <p ng-show="instrument.partialFormName.period_start_date.$error.cmsKendoDate"
           class="help-block help-block-error">
          <span once-text="'Please enter a valid date!'|translate"></span>
        </p>
      </div>
    </div>
  </div>

</div>
<div class="forms" ng-if="instrument.config.fields.establishment_end_date.is_visible">
  <div class="form-group"
       ng-class="{ 'has-error':
                 (instrument.partialFormName.$submitted || instrument.partialFormName.period_end_date.$touched)
                 &&(instrument.partialFormName.period_end_date.$invalid)  }">
    <label class="form-labels"><span class="required-sign"
                                     ng-if="instrument.config.fields.establishment_end_date.is_mandatory">*</span>
      <span once-text="'Establishment End Date'|translate"></span>:</label>

    <div class="form-inputs">
      <input type="text"
             class="datepicker-cst"
             kendo-date-picker
             name="period_end_date"
             ng-model="instrument.periodEndDate"
             k-ng-model="instrument.periodEndDateObj"
             ng-required="instrument.config.fields.establishment_end_date.is_mandatory"
        >

      <div ng-show="instrument.partialFormName.$submitted || instrument.partialFormName.period_end_date.$touched">
        <p ng-show="instrument.partialFormName.period_end_date.$error.required"
           class="help-block help-block-error">
          <span once-text="'This field is required'|translate"></span>
        </p>

        <p ng-show="instrument.partialFormName.period_end_date.$error.cmsKendoDate"
           class="help-block help-block-error">
          <span once-text="'Please enter a valid date!'|translate"></span>
        </p>
      </div>
    </div>
  </div>

</div>
<div class="forms" ng-if="instrument.config.fields.SR_last_trading_date.is_visible">
  <div class="form-group"
       ng-class="{ 'has-error':
                 (instrument.partialFormName.$submitted || instrument.partialFormName.period_end_date.$touched)
                 &&(instrument.partialFormName.period_end_date.$invalid)  }">
    <label class="form-labels"><span class="required-sign"
                                     ng-if="instrument.config.fields.SR_last_trading_date.is_mandatory">*</span>
      <span once-text="'Subscription Right Last Trading Date'|translate"></span>:</label>

    <div class="form-inputs">
      <input type="text"
             class="datepicker-cst"
             kendo-date-picker
             name="period_end_date"
             ng-model="instrument.periodEndDate"
             k-ng-model="instrument.periodEndDateObj"
             ng-required="instrument.config.fields.SR_last_trading_date.is_mandatory"
        >

      <div ng-show="instrument.partialFormName.$submitted || instrument.partialFormName.period_end_date.$touched">
        <p ng-show="instrument.partialFormName.period_end_date.$error.required"
           class="help-block help-block-error">
          <span once-text="'This field is required'|translate"></span>
        </p>

        <p ng-show="instrument.partialFormName.period_end_date.$error.cmsKendoDate"
           class="help-block help-block-error">
          <span once-text="'Please enter a valid date!'|translate"></span>
        </p>
      </div>
    </div>
  </div>

</div>
<div class="forms"
     ng-if="instrument.config.fields.haircut_ratio.is_visible">
  <div class="form-group"
       ng-class="{ 'has-error': (instrument.partialFormName.$submitted || instrument.partialFormName.haircut_ratio.$touched)
                &&(instrument.partialFormName.haircut_ratio.$invalid)  }">

    <label class="form-labels"><span class="required-sign"
                                     ng-if="instrument.config.fields.haircut_ratio.is_mandatory">*</span>
      <span once-text="'Haircut Ratio'|translate"></span>:</label>

    <div class="form-inputs">
      <input
        type="number"
        class="k-textbox"
        name="haircut_ratio"
        ng-trim="true"
        ng-model="instrument.haircutRatio"
        ng-required="instrument.config.fields.haircut_ratio.is_mandatory"
        min="0"
        max="99"
        >

      <div ng-show="instrument.partialFormName.$submitted || instrument.partialFormName.haircut_ratio.$touched">
        <p ng-show="instrument.partialFormName.haircut_ratio.$error.required"
           class="help-block help-block-error">
          <span once-text="'This field is required'|translate"></span>
        </p>

        <p
          ng-show="instrument.partialFormName.haircut_ratio.$error.number"
          class="help-block help-block-error">
          <span once-text="'Wrong Format!'|translate"></span>
        </p>

        <p
          ng-show="instrument.partialFormName.haircut_ratio.$error.max || instrument.partialFormName.haircut_ratio.$error.min"
          class="help-block help-block-error">
          <span once-text="'Value of haircut ratio must be between 0 and 99.'|translate"></span>
        </p>
      </div>
    </div>
  </div>
</div>
<!--Haircut ratio-->
<div class="forms"
     ng-if="instrument.config.fields.conventional_day_count.is_visible">
  <div class="form-group"
       ng-class="{ 'has-error': (instrument.partialFormName.$submitted || instrument.partialFormName.conventional_day_count.$touched)
                &&(instrument.partialFormName.conventional_day_count.$invalid)  }">

    <label class="form-labels"><span class="required-sign"
                                     ng-if="instrument.config.fields.conventional_day_count.is_mandatory">*</span>
      <span once-text="'Conventional Day Count'|translate"></span>:</label>

    <div class="form-inputs">
      <input
        type="number"
        min="0"
        class="k-textbox"
        name="conventional_day_count"
        ng-trim="true"
        ng-model="instrument.conventionalDayCount"
        ng-required="instrument.config.fields.conventional_day_count.is_mandatory"
        >

      <div
        ng-show="instrument.partialFormName.$submitted || instrument.partialFormName.conventional_day_count.$touched">
        <p ng-show="instrument.partialFormName.conventional_day_count.$error.required"
           class="help-block help-block-error">
          <span once-text="'This field is required'|translate"></span>
        </p>

        <p
          ng-show="instrument.partialFormName.conventional_day_count.$error.number"
          class="help-block help-block-error">
          <span once-text="'Wrong Format!'|translate"></span>
        </p>

        <p
          ng-show="instrument.partialFormName.conventional_day_count.$error.min"
          class="help-block help-block-error">
          <span once-text="'Wrong Number!'|translate"></span>
        </p>
      </div>
    </div>
  </div>
</div>
<!--Conventional day count-->

<div class="forms"
     ng-if="instrument.config.fields.coupon_payment_method.is_visible">

  <div class="form-group" ng-class="{ 'has-error':
                 (instrument.partialFormName.$submitted || instrument.partialFormName.coupon_payment_method.$touched)
                 &&(instrument.partialFormName.coupon_payment_method.$invalid)  }">
    <label class="form-labels"><span class="required-sign"
                                     ng-if="instrument.config.fields.coupon_payment_method.is_mandatory">*</span>
      <span once-text="'Coupon Payment Method'|translate"></span>:</label>

    <div class="form-inputs">
      <select
        name="coupon_payment_method"
        ng-model="instrument.couponPaymentMethod"
        ng-required="instrument.config.fields.coupon_payment_method.is_mandatory"
        >
        <option value="">---</option>
        <option
          value="{{cl|json}}"
          ng-repeat="cl in metaData.couponPaymentMethodClasses">{{cl['name'+lnC]}}
        </option>
      </select>

      <div
        ng-show="instrument.partialFormName.$submitted || instrument.partialFormName.coupon_payment_method.$touched">
        <p ng-show="instrument.partialFormName.coupon_payment_method.$error.required"
           class="help-block help-block-error">
          <span once-text="'This field is required'|translate"></span>
        </p>
      </div>
    </div>
  </div>

</div>

<!--coupon payment methods-->

<div class="forms"
     ng-if="instrument.config.fields.coupon_rate.is_visible">
  <div class="form-group"
       ng-class="{ 'has-error': (instrument.partialFormName.$submitted || instrument.partialFormName.coupon_rate.$touched)
                &&(instrument.partialFormName.coupon_rate.$invalid)  }">

    <label class="form-labels"><span class="required-sign"
                                     ng-if="instrument.config.fields.coupon_rate.is_mandatory">*</span>
      <span once-text="'Coupon Rate'|translate"></span>:</label>

    <div class="form-inputs">
      <input
        type="number"
        class="k-textbox"
        name="coupon_rate"
        ng-trim="true"
        ng-maxlength="8"
        ng-model="instrument.couponRate"
        ng-required="instrument.config.fields.coupon_rate.is_mandatory"
        >

      <div ng-show="instrument.partialFormName.$submitted || instrument.partialFormName.coupon_rate.$touched">
        <p ng-show="instrument.partialFormName.coupon_rate.$error.required"
           class="help-block help-block-error">
          <span once-text="'This field is required'|translate"></span>
        </p>

        <p
          ng-show="instrument.partialFormName.coupon_rate.$error.number"
          class="help-block help-block-error">
          <span once-text="'Wrong Format!'|translate"></span>
        </p>

        <p
          ng-show="instrument.partialFormName.coupon_rate.$error.maxlength || instrument.partialFormName.coupon_rate.$error.minlength"
          class="help-block help-block-error">
          <span once-text="'ISIN code must be consist of 12 symbols.'|translate"></span>
        </p>
      </div>
    </div>
  </div>
</div>


<!--Names-->
<div ng-show="true" class="forms" ng-if="instrument.config.fields.coupon_rate.is_visible" ng-init="instrument.isPaymentAgent = false">
  <div class="form-group">
    <label class="form-labels">
      <span>Ödəniş agentidirmi?:</span>
    </label>
    <md-switch
      ng-model="instrument.isPaymentAgent"
      aria-label="No/Yes"
      class="instrument-data-switch">
    </md-switch>
  </div>
</div>

<!--Names-->
<div ng-show="true" class="forms" ng-if="instrument.config.fields.coupon_rate.is_visible" ng-init="instrument.isTaxAgent = false">
  <div class="form-group">
    <label class="form-labels">
      <span>Vergi agentidirmi?:</span>
    </label>
    <md-switch
      ng-model="instrument.isTaxAgent"
      aria-label="No/Yes"
      class="instrument-data-switch">
    </md-switch>
  </div>
</div>


<!--coupon rate value-->

<div ng-if="instrument.config.fields.coupon_payments.is_visible">
  <div class="forms">
    <h4 once-text="'Coupon Payments'|translate"></h4>
    <table class="table table-striped table-bordered">
      <thead>
      <tr>
        <th><span once-text="'Payment Date'|translate"></span></th>
        <th once-text="'Amount'|translate"></th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr data-ng-repeat="cp in instrument.couponPayments">
        <td ng-if="instrument.config.fields.coupon_payments.fields.payment_date.is_visible">
          <input
            type="text"
            class="datepicker-cst"
            kendo-date-picker
            name="payment_date_{{$index}}"
            ng-model="cp.paymentDate"
            k-ng-model="cp.paymentDateObj"
            ng-required="instrument.config.fields.coupon_payments.fields.payment_date.is_mandatory"
            >

          <div ng-class="{ 'has-error': (instrument.partialFormName.$submitted
            || instrument.partialFormName['payment_date_'+$index].$touched)  &&(instrument.partialFormName['payment_date_'+$index].$invalid)  }"
               ng-show="instrument.partialFormName.$submitted || instrument.partialFormName['payment_date_'+$index].$touched">
            <p ng-show="instrument.partialFormName['payment_date_'+$index].$error.required"
               class="help-block help-block-error">
              <span once-text="'This field is required'|translate"></span>
            </p>

            <p ng-show="config.form.name.value_date.$error.csmKendoDate"
               class="help-block help-block-error">
              <span once-text="'Please enter a valid date!'|translate"></span>
            </p>
          </div>
        </td>
        <td ng-if="instrument.config.fields.coupon_payments.fields.amount.is_visible">
          <input
            type="number"
            min="0"
            class="k-textbox"
            name="amount_{{$index}}"
            ng-trim="true"
            ng-model="cp.amount"
            ng-required="instrument.config.fields.coupon_payments.fields.amount.is_mandatory"
            >

          <div ng-class="{ 'has-error': (instrument.partialFormName.$submitted
            || instrument.partialFormName['amount_'+$index].$touched)  &&(instrument.partialFormName['amount_'+$index].$invalid)  }"
               ng-show="instrument.partialFormName.$submitted || instrument.partialFormName['amount_'+$index].$touched">
            <p ng-show="instrument.partialFormName['amount_'+$index].$error.required"
               class="help-block help-block-error">
              <span once-text="'This field is required'|translate"></span>
            </p>

            <p
              ng-show="instrument.partialFormName['amount_'+$index].$error.number"
              class="help-block help-block-error">
              <span once-text="'Wrong Format!'|translate"></span>
            </p>

            <p
              ng-show="instrument.partialFormName['amount_'+$index].$error.min"
              class="help-block help-block-error">
              <span once-text="'Wrong Number!'|translate"></span>
            </p>
          </div>
        </td>
        <td>
          <md-button
            class="md-fab md-micro"
            aria-label="Mini FAB"
            ng-show="$index>0"
            ng-click="removeCouponPayment($index,instrument.couponPayments)">
            <i class="glyphicon glyphicon-remove micro-glyphicon"></i>
            <md-tooltip>
              <span once-text="'Find Issuer'|translate"></span>
            </md-tooltip>
          </md-button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="inline-block">
    <md-button class="md-fab md-micro pull-left"
               aria-label="fab-button"
               ng-click="addNewCouponPayment(instrument.couponPayments)">
      <i class="glyphicon glyphicon-plus micro-glyphicon"></i>
      <md-tooltip md-direction="down">
        <span once-text="'Add New Coupon Payment'|translate"></span>
      </md-tooltip>
    </md-button>

  </div>
  <hr>

</div>
<!--Coupon payments-->


<div kendo-window="instrument.cfiGenerateWindow"
     k-title="'CFI'"
     k-width="477" k-height="415" k-visible="false" k-modal="true"
     k-on-close=""
  >
  <div ng-include="'app/instruments/templates/partials/cfi-generate.html'"></div>


</div>
