<div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
  <table class="table table-striped table-hover table-responsive table-bordered ">
    <tbody>

    <tr ng-if="instrument.placedQuantity">
      <td class="col-md-2 col-xs-2 col-lg-2 col-sm-2"><b once-text="'Placed Quantity'|translate"></b></td>
      <td class="col-md-5 col-xs-5 col-lg-5 col-sm-5">{{instrument.placedQuantity}}
      </td>
    </tr>

    </tbody>
  </table>
  <div ng-if="instrument.securityGroups.length>0 && instrument.securityGroups[0]['name'+lnC]">
    <!--<h4 once-text="'Security Groups'|translate"></h4>-->
    <table ng-if="instrument.securityGroups.length>0"
           class="table table-striped table-hover table-responsive table-bordered ">
      <thead>
      <th once-text="'Security Groups'|translate"></th>
      </thead>
      <tbody>
      <tr data-ng-repeat="sg in instrument.securityGroups">
        <td>{{sg['name'+lnC]}}</td>
      </tr>
      </tbody>
    </table>
  </div>

  <table class="table table-striped table-hover table-responsive table-bordered ">
    <tbody>


    <tr ng-if="instrument.issuer">
      <td class="col-md-2 col-xs-2 col-lg-2 col-sm-2">
        <span class="field-name" once-text="'Issuer'|translate"></span></td>
      <td class="col-md-5 col-xs-5 col-lg-5 col-sm-5">
        <p> {{instrument.issuer.name}}</p>
      </td>
    </tr>
    <!--Issuer-->
    <tr ng-if="instrument.ISIN">
      <td class="col-md-2 col-xs-2 col-lg-2 col-sm-2">
        <span class="field-name" once-text="'ISIN'|translate"></span></td>
      <td class="col-md-5 col-xs-5 col-lg-5 col-sm-5 ">
        <p> {{instrument.ISIN}}</p>
      </td>
    </tr>

    <tr ng-if="instrument.issueCode">
      <td class="col-md-2 col-xs-2 col-lg-2 col-sm-2">
        <span class="field-name" once-text="'Issue Code'|translate"></span></td>
      <td class="col-md-5 col-xs-5 col-lg-5 col-sm-5 ">
        <p> {{instrument.issueCode}}</p>
      </td>
    </tr>


    <tr ng-if="instrument.CFI">
      <td class="col-md-2 col-xs-2 col-lg-2 col-sm-2">
        <span class="field-name" once-text="'CFI'|translate"></span></td>
      <td class="col-md-5 col-xs-5 col-lg-5 col-sm-5 ">
        <div style="text-overflow: ellipsis; overflow: hidden; white-space: normal">
          {{instrument.CFI['description'+lnC]}}
        </div>
        <!--<p> {{instrument.CFI['description'+lnC]}}</p>-->
      </td>
    </tr>
    <!--CFI-->

    <tr ng-if="instrument.name">
      <td class="col-md-2 col-xs-2 col-lg-2 col-sm-2">
        <span class="field-name" once-text="'Name'|translate"></span></td>
      <td class="col-md-5 col-xs-5 col-lg-5 col-sm-5 ">
        <p><span class="field-new">(AZ) </span> {{instrument.name.nameAz}}</p>

        <p><span class="field-new">(EN) </span> {{instrument.name.nameEn}}</p>
      </td>
    </tr>
    <!--ISIN-->

    <tr ng-if="instrument.abbreviation">
      <td class="col-md-2 col-xs-2 col-lg-2 col-sm-2">
        <span class="field-name" once-text="'Abbreviation'|translate"></span></td>
      <td class="col-md-5 col-xs-5 col-lg-5 col-sm-5 ">

        <p><span class="field-new">(AZ) </span> {{instrument.abbreviation.nameAz}}</p>

        <p><span class="field-new">(EN) </span> {{instrument.abbreviation.nameEn}}</p>

      </td>
    </tr>
    <!--Abbreviation-->


    <tr ng-if="instrument.convertableStock">
      <td class="col-md-2 col-xs-2 col-lg-2 col-sm-2">
        <span class="field-name" once-text="'Convertable Stock'|translate"></span></td>
      <td class="col-md-5 col-xs-5 col-lg-5 col-sm-5 ">
        <p> {{instrument.convertableStock.ISIN}}</p>
      </td>
    </tr>
    <!--Convertable stock-->

    <!--<tr ng-if="instrument.foreign">-->

    <!--<td class="col-md-2 col-xs-2 col-lg-2 col-sm-2">-->
    <!--<span class="field-name" once-text="'Foreign'|translate"></span>-->
    <!--</td>-->

    <!--<td class="col-md-5 col-xs-5 col-lg-5 col-sm-5 ">-->
    <!--<p class="text-success" ng-if="instrument.foreign==true" once-text="'Yes'|translate"></p>-->

    <!--<p class="text-danger" ng-if="instrument.foreign==false" once-text="'No'|translate"></p>-->
    <!--</td>-->

    <!--</tr>-->
    <!--Foreign-->

    <tr ng-if="instrument.quantity  >-1">
      <td class="col-md-2 col-xs-2 col-lg-2 col-sm-2">
        <span class="field-name" once-text="'Quantity'|translate"></span></td>
      <td class="col-md-5 col-xs-5 col-lg-5 col-sm-5 ">
        <p> {{instrument.quantity}}</p>
      </td>
    </tr>
    <!--Quantity-->

    <tr ng-if="instrument.parValue  >-1">
      <td class="col-md-2 col-xs-2 col-lg-2 col-sm-2">
        <span class="field-name" ng-if="startsWith(instrument.CFI.code, 'CFI_R_W')"
              once-text="'Exercise Price'|translate"></span>
        <span class="field-name" ng-if="!startsWith(instrument.CFI.code, 'CFI_R_W')"
              once-text="'Par Value'|translate"></span>
      </td>
      <td class="col-md-5 col-xs-5 col-lg-5 col-sm-5 ">
        <p> {{instrument.parValue}}</p>
      </td>
    </tr>
    <!--Par value-->


    <tr ng-if="instrument.haircutRatio  >-1">
      <td class="col-md-2 col-xs-2 col-lg-2 col-sm-2">
        <span class="field-name" once-text="'Haircut Ratio'|translate"></span></td>
      <td class="col-md-5 col-xs-5 col-lg-5 col-sm-5 ">
        <p> {{instrument.haircutRatio}}</p>
      </td>
    </tr>
    <!--haircut-->
    <tr ng-if="instrument.conventionalDayCount  >-1">
      <td class="col-md-2 col-xs-2 col-lg-2 col-sm-2">
        <span class="field-name" once-text="'Conventional Day Count'|translate"></span></td>
      <td class="col-md-5 col-xs-5 col-lg-5 col-sm-5 ">
        <p> {{instrument.conventionalDayCount}}</p>
      </td>
    </tr>
    <!--Conventional day count-->

    <tr ng-if="instrument.periodStartDate">
      <td class="col-md-2 col-xs-2 col-lg-2 col-sm-2">

        <span ng-if="startsWith(instrument.CFI.code, 'CFI_R_W')"
              once-text="'Exercise Period Start Date'|translate"></span>
        <span ng-if="startsWith(instrument.CFI.code, 'CFI_E_U')"
              once-text="'Establishment Start Date'|translate"></span>
      </td>

      <td class="col-md-5 col-xs-5 col-lg-5 col-sm-5 ">
        <p> {{instrument.periodStartDate |date: 'short'}}</p>
      </td>
    </tr>
    <!--Period start date-->


    <tr ng-if="instrument.periodEndDate">


      <td class="col-md-2 col-xs-2 col-lg-2 col-sm-2">
       <span ng-if="startsWith(instrument.CFI.code, 'CFI_R_W')"
             once-text="'Exercise Period End Date'|translate"></span>

        <span ng-if="startsWith(instrument.CFI.code, 'CFI_R_S')"
              once-text="'Subscription Right Last Trading Date'|translate"></span>

        <span ng-if="startsWith(instrument.CFI.code, 'CFI_E_P') ||  startsWith(instrument.CFI.code, 'CFI_E_V')"
              once-text="'Exercise Period End Date'|translate"></span>

        <span ng-if="startsWith(instrument.CFI.code, 'CFI_E_U')"
              once-text="'Establishment End Date'|translate"></span>
      </td>
      <td class="col-md-5 col-xs-5 col-lg-5 col-sm-5 ">
        <p> {{instrument.periodEndDate |date: 'short'}}</p>
      </td>
    </tr>
    <!--Period end date-->


    <tr ng-if="instrument.currency">
      <td class="col-md-2 col-xs-2 col-lg-2 col-sm-2">
        <span class="field-name" once-text="'Currency'|translate"></span></td>
      <td class="col-md-5 col-xs-5 col-lg-5 col-sm-5 ">
        <p> {{instrument.currency.code}}</p>
      </td>
    </tr>
    <!--Currency-->

    <tr ng-if="instrument.couponPaymentMethod">
      <td class="col-md-2 col-xs-2 col-lg-2 col-sm-2">
        <span class="field-name" once-text="'Coupon Payment Method'|translate"></span></td>
      <td class="col-md-5 col-xs-5 col-lg-5 col-sm-5 ">
        <p> {{instrument.couponPaymentMethod['name'+lnC]}}</p>
      </td>
    </tr>
    <!--Coupon payment method-->
    <tr ng-if="instrument.couponRate  >-1">
      <td class="col-md-2 col-xs-2 col-lg-2 col-sm-2">
        <span class="field-name" once-text="'Coupon Rate'|translate"></span></td>
      <td class="col-md-5 col-xs-5 col-lg-5 col-sm-5 ">
        <p> {{instrument.couponRate}}</p>
      </td>
    </tr>
    <!--Coupon rate-->

    <tr ng-if="instrument.maturityDate">
      <td class="col-md-2 col-xs-2 col-lg-2 col-sm-2">
        <span class="field-name" once-text="'Maturity Date'|translate"></span></td>
      <td class="col-md-5 col-xs-5 col-lg-5 col-sm-5 ">
        <p> {{instrument.maturityDate |date: 'short'}}</p>
      </td>
    </tr>
    <!--Coupon rate-->
    </tbody>
  </table>

  <div ng-if="instrument.customIdentificators">
    <hr/>
    <h4 once-text="'Custom Identificators'|translate"></h4>
    <table class="table table-striped table-hover table-responsive table-bordered ">
      <thead>
      <th once-text="'Identificator Class'|translate"></th>
      <th once-text="'Identificator Number'|translate"></th>

      </thead>
      <tbody>
      <tr data-ng-repeat="identificator in instrument.customIdentificators">
        <td>{{identificator.type['name'+lnC]}}</td>
        <td>{{identificator.number}}</td>
      </tr>
      </tbody>
    </table>
  </div>
  <!--Custom identificators-->

  <div ng-if="instrument.fiscalDates">
    <hr/>
    <h4 once-text="'Fiscal Dates'|translate"></h4>
    <table class="table table-striped table-hover table-responsive table-bordered ">
      <thead>
      <th once-text="'Month'|translate"></th>
      <th once-text="'Day'|translate"></th>

      </thead>
      <tbody>
      <tr data-ng-repeat="fd in instrument.fiscalDates">
        <td>{{fd.month}}</td>
        <td>{{fd.day}}</td>
      </tr>
      </tbody>
    </table>
  </div>
  <!--Fiscal dates-->

  <div ng-if="instrument.couponPayments" class="margin-top-30">
    <h4 once-text="'Coupon Payments'|translate"></h4>
    <table class="table table-striped table-hover table-responsive table-bordered">
      <thead>
      <th once-text="'Payment Date'|translate"></th>
      <th once-text="'Amount'|translate"></th>
      </thead>
      <tbody>
      <tr data-ng-repeat="cp in instrument.couponPayments">
        <td>{{cp.paymentDate |date: 'short'}}</td>
        <td>{{cp.amount}}</td>
      </tr>
      </tbody>
    </table>
  </div>
  <!--Coupon payments-->

</div>
