<div
  kendo-splitter="params.splitter1"
  orientation="'horizontal'"
  class="persons-view-splitter"
  k-collapse="searchCriteriaCollapse"
  k-expand="searchCriteriaExpand"
  k-no-records="true"
  k-navigatable="true"
  panes="params.config.splitterPanesConfig">

  <div ng-form="accountStatement.formName"
       role="form"
       csm-enter="searchCouponPayment()"
       ng-submit="searchCouponPayment()"
       class="person-find-criteria-form  fg-dark left-pane-style"
       novalidate>


    <div class="row filter-buttons-position">
      <md-button
        aria-label="right arrow button"
        type="button"
        ng-click="resetForm()"
        class="md-micro md-fab pull-right filter-button-style">
        <md-tooltip md-direction="down">
          <span once-text="'Reset Filter'|translate"></span>
        </md-tooltip>
        <span class="icon icon-remove-filter"></span>
      </md-button>

      <md-button
        aria-label="right arrow button"
        type="button"
        ng-click="searchCouponPayment()"
        class="md-micro md-fab pull-right filter-button-style">
        <md-tooltip md-direction="down">
          <span once-text="'Filter'|translate"></span>
        </md-tooltip>
        <span class="icon icon-filter"></span>
      </md-button>
    </div>


    <div class="pane-content">

      <uib-accordion close-others="false">

        <uib-accordion-group>
          <uib-accordion-heading>
            <div class="collapsible-panel-heading cursor-pointer">
              <label class="text-right text-muted-manual">
                <a href="#" once-text="'Date'|translate" class="text-muted-manual"></a>
              </label>

              <div class="inline-block pull-right">
                <i class="glyphicon pull-right person-search-accordion-icon"></i>
              </div>
            </div>
          </uib-accordion-heading>


          <div>
            <div class="person-search-template-input-style">
              <label class="panel-body-label text-right inline-block text-muted-manual">
                <span once-text="'Maturity Date From'|translate"></span>:</label>

              <div class="inline-block person-search-inputs">
                <input type="text"
                       kendo-date-picker
                       class="datepicker-cst"
                       name="registration_date_start"
                       ng-model="couponPayment.form.maturityStartDate"
                       k-ng-model="couponPayment.form.maturityStartDateObj"
                >
              </div>
            </div>
            <div class="form-group person-search-template-input-style">
              <label class="panel-body-label text-right inline-block text-muted-manual">
                <span once-text="'Maturity Date To'|translate"></span>:</label>

              <div class="inline-block person-search-inputs">
                <input type="text"
                       kendo-date-picker
                       name="registration_date_finish"
                       ng-model="couponPayment.form.maturityEndDate"
                       k-ng-model="couponPayment.form.maturityEndDateObj"
                >
              </div>
            </div>
          </div>


        </uib-accordion-group>


        <uib-accordion-group is-disabled="true">
          <uib-accordion-heading>
            <div class="person-search-template-input-style">
              <label class="text-right inline-block text-muted-manual">
                <span once-text="'Issuer'|translate"></span>:</label>

              <div class="inline-block person-search-inputs">
                <input
                  class="k-textbox"
                  type="text"
                  name="instrument"
                  ng-model="couponPayment.form.issuer">

              </div>
            </div>
          </uib-accordion-heading>
        </uib-accordion-group>


        <uib-accordion-group is-disabled="true">
          <uib-accordion-heading>
            <div class="person-search-template-input-style">
              <label class="text-right inline-block text-muted-manual">
                <span once-text="'ISIN'|translate"></span>:</label>

              <div class="inline-block person-search-inputs">
                <input
                  class="k-textbox"
                  type="text"
                  name="instrument"
                  ng-model="couponPayment.form.idNumber">

              </div>
            </div>
          </uib-accordion-heading>
        </uib-accordion-group>

      </uib-accordion>
    </div>
  </div>


  <div class="pane-content">
    <div class="view-buttons-wrapper">
      <md-button
        ng-if="params.criteriaEnabled"
        aria-label="hamburger button"
        class="pull-left md-icon-button md-primary hamburger-button-style"
        ng-click="toggleSearchCriteriaBlock(params.splitter1)">
        <span class="glyphicon glyphicon-align-justify micro-glyphicon micro-align-glyphicon"></span>
      </md-button>

      <div class="pull-right view-button-group">
        <!--View actions -->
        <md-button ng-if="!config.screenId"
                   type="button"
                   class="md-fab md-micro"
                   aria-label="Select"
                   ng-disabled="searchConfig.accountStatement.selectedPersonIndex === false"
                   ng-click="selectAccountStatement()">
          <i class="glyphicon glyphicon-ok micro-glyphicon"></i>
          <md-tooltip md-direction="down">
            <span once-text="'Select Person'|translate"></span>
          </md-tooltip>
        </md-button>

        <md-button type="button" class="md-fab md-micro"
                   aria-label="Export to excel"
                   ng-click="exportToExcel(couponPayment.searchResultGrid)">
          <i class="glyphicon glyphicon-export micro-glyphicon"></i>
          <md-tooltip md-direction="down">
            <span once-text="'Export to Excel'|translate"></span>
          </md-tooltip>
        </md-button>
        <md-button type="button" class="md-fab md-micro"
                   aria-label="Mini FAB"
                   ng-click="closeWindow()">

          <i class="glyphicon glyphicon-remove micro-glyphicon"></i>

          <md-tooltip md-direction="down">
            <span once-text="'Close Window'|translate"></span>
          </md-tooltip>

        </md-button>

      </div>
    </div>
    <div class="person-find-result-block">

      <!--<p class="text-danger margin20" ng-show="accountStatement.searchResult.isEmpty"-->
      <!--once-text="'No Record Found!'|translate"></p>-->

      <div
        kendo-grid="couponPayment.searchResultGrid"
        k-ng-delay="couponPayment.mainGridOptions"
        k-options="couponPayment.mainGridOptions"
        k-on-change="couponPayment.personSelected(data)"
        k-detail-init="detailInit"
        k-sortable="true"
        k-scrollable="true"
        k-pageable='{ "pageSize": 20, "refresh": true, "pageSizes": true, "buttonCount": 5 }'
        k-resizable="true">

        <div k-detail-template>

          <div kendo-grid="detailGridInstance"
               k-ng-delay="paymentdetailGrid"
               k-options="paymentdetailGrid(dataItem)" k-resizable="true"
               k-detail-init="detailInit"
          >


            <div k-detail-template>
              <md-button type="button"
                         class="md-fab md-micro export-button"
                         aria-label="Export to excel"
                         ng-click="exportToExcel(paymentRecoddetailGridInstance)">
                <i class="glyphicon glyphicon-export micro-glyphicon"></i>
                <md-tooltip md-direction="down">
                  <span once-text="'Export to Excel'|translate"></span>
                </md-tooltip>
              </md-button>
              <div kendo-grid="paymentRecoddetailGridInstance"
                   k-ng-delay="paymentRecoddetailGrid"
                   k-options="paymentRecoddetailGrid(dataItem)" k-resizable="true"
              >

              </div>
            </div>

          </div>



        </div>


      </div>

    </div>

  </div>

</div>












<!--<div>-->

<!--<div-->
<!--ng-form="person.formName"-->
<!--role="form"-->
<!--csm-enter="findPerson()"-->
<!--ng-submit="findPerson()"-->
<!--class="person-find-criteria-form fg-dark left-pane-style"-->
<!--novalidate>-->
<!--<div ng-if="params.criteriaEnabled" class="row filter-buttons-position">-->
<!--<md-button-->
<!--aria-label="right arrow button"-->
<!--type="button"-->
<!--ng-click="resetForm()"-->
<!--class="md-micro md-fab pull-right filter-button-style">-->
<!--<md-tooltip md-direction="down">-->
<!--<span once-text="'Reset Filter'|translate"></span>-->
<!--</md-tooltip>-->
<!--<span class="icon icon-remove-filter"></span>-->
<!--</md-button>-->
<!--<md-button-->
<!--aria-label="right arrow button"-->
<!--type="button"-->
<!--ng-click="findPerson()"-->
<!--class="md-micro md-fab pull-right filter-button-style">-->
<!--<md-tooltip md-direction="down">-->
<!--<span once-text="'Filter'|translate"></span>-->
<!--</md-tooltip>-->
<!--<span class="icon icon-filter"></span>-->
<!--</md-button>-->
<!--</div>-->
<!--<div ng-if="params.criteriaEnabled" class="pane-content">-->
<!--<uib-accordion close-others="false">-->

<!--<uib-accordion-group is-disabled="true">-->
<!--<uib-accordion-heading>-->

<!--&lt;!&ndash;<div class="row" >&ndash;&gt;-->
<!--<div class="person-search-template-input-style">-->
<!--<label class="text-right inline-block text-muted-manual">-->
<!--<span once-text="'Unique ID'|translate"></span>:</label>-->

<!--<div class="inline-block person-search-inputs">-->
<!--<input-->
<!--class="k-textbox"-->
<!--type="text"-->
<!--name="unique_code"-->
<!--ng-model="person.form.uniqueCode">-->
<!--</div>-->
<!--</div>-->


<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--</uib-accordion-heading>-->
<!--</uib-accordion-group>-->
<!--<uib-accordion-group is-disabled="true">-->
<!--<uib-accordion-heading>-->
<!--<div class="form-group person-search-template-input-style"-->
<!--ng-class="{ 'has-error': (person.formName.$submitted || person.formName.account_number.$touched) &&(person.formName.account_number.$invalid)  }">-->

<!--<label class="text-right inline-block text-muted-manual">-->
<!--<span once-text="'Account Number'|translate"></span>:</label>-->

<!--<div class="inline-block person-search-inputs">-->
<!--<input-->
<!--class="k-textbox"-->
<!--type="text"-->
<!--name="account_number"-->
<!--ng-model="person.form.accountNumber"-->
<!--&gt;-->

<!--<div ng-show="person.formName.$submitted || person.formName.account_number.$touched">-->
<!--<p ng-show="person.formName.account_number.$error.required"-->
<!--class="help-block help-block-error">-->
<!--<span once-text="'This field is required'|translate"></span>-->
<!--</p>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<!--</uib-accordion-heading>-->
<!--</uib-accordion-group>-->
<!--<uib-accordion-group>-->
<!--<uib-accordion-heading>-->
<!--<div class="collapsible-panel-heading cursor-pointer">-->
<!--<label class="text-right text-muted-manual">-->
<!--<a href="#" once-text="'Name'|translate" class="text-muted-manual"></a>-->
<!--</label>-->

<!--<div class="inline-block pull-right">-->
<!--<i class="glyphicon pull-right person-search-accordion-icon"></i>-->
<!--</div>-->
<!--</div>-->

<!--</uib-accordion-heading>-->
<!--<div>-->
<!--<div ng-show="person.selectedPersonType == person.data.personClassCodes.natural_person">-->

<!--<div class="form-group person-search-template-input-style"-->
<!--ng-class="{ 'has-error': (person.formName.$submitted || person.formName.last_name.$touched)-->
<!--&&(person.formName.first_name.$invalid)  }">-->
<!--<label class="panel-body-label text-right inline-block"><span-->
<!--once-text="'Last Name'|translate"></span>:</label>-->

<!--<div class="inline-block person-search-inputs">-->

<!--<input-->
<!--class="k-textbox"-->
<!--type="text"-->
<!--name="last_name"-->
<!--ng-model="person.form.lastName">-->

<!--<div ng-show="person.formName.$submitted || person.formName.last_name.$touched">-->
<!--<p ng-show="person.formName.last_name.$error.required"-->
<!--class="help-block help-block-error">-->
<!--<span once-text="'This field is required'|translate"></span>-->
<!--</p>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<!--<div class="form-group person-search-template-input-style"-->
<!--ng-class="{ 'has-error': (person.formName.$submitted || person.formName.first_name.$touched) &&(person.formName.first_name.$invalid)  }">-->
<!--<label class="panel-body-label text-right inline-block">-->
<!--<span once-text="'First Name'|translate"></span>:</label>-->

<!--<div class="inline-block person-search-inputs">-->

<!--<input-->
<!--class="k-textbox"-->
<!--type="text"-->
<!--name="first_name"-->
<!--ng-model="person.form.firstName">-->

<!--<div ng-show="person.formName.$submitted || person.formName.first_name.$touched">-->
<!--<p ng-show="person.formName.first_name.$error.required"-->
<!--class="help-block help-block-error">-->
<!--<span once-text="'This field is required'|translate"></span>-->
<!--</p>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<!--<div class="form-group person-search-template-input-style"-->
<!--ng-class="{ 'has-error': (person.formName.$submitted || person.formName.middle_name.$touched)-->
<!--&&(person.formName.first_name.$invalid)  }">-->
<!--<label class="panel-body-label text-right inline-block"><span-->
<!--once-text="'Middle Name'|translate"></span>:</label>-->

<!--<div class="inline-block person-search-inputs">-->

<!--<input-->
<!--class="k-textbox"-->
<!--type="text"-->
<!--name="middle_name"-->
<!--ng-model="person.form.middleName">-->

<!--<div ng-show="person.formName.$submitted || person.formName.middle_name.$touched">-->
<!--<p ng-show="person.formName.middle_name.$error.required"-->
<!--class="help-block help-block-error">-->
<!--<span once-text="'This field is required'|translate"></span>-->
<!--</p>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<!--</div>-->
<!--<div ng-show="person.selectedPersonType == person.data.personClassCodes.juridical_person">-->
<!--<div class="person-search-template-input-style"-->
<!--ng-class="{ 'has-error': (person.formName.$submitted || person.formName.name.$touched)-->
<!--&&(person.formName.first_name.$invalid)  }">-->
<!--<label class="panel-body-label text-right inline-block"><span-->
<!--once-text="'Name'|translate"></span>:</label>-->

<!--<div class="inline-block person-search-inputs">-->

<!--<input-->
<!--class="k-textbox "-->
<!--type="text"-->
<!--name="last_name"-->
<!--ng-model="person.form.fullName">-->

<!--<div ng-show="person.formName.$submitted || person.formName.name.$touched">-->
<!--<p ng-show="person.formName.name.$error.required"-->
<!--class="help-block help-block-error">-->
<!--<span once-text="'This field is required'|translate"></span>-->
<!--</p>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</uib-accordion-group>-->
<!--&lt;!&ndash;<uib-accordion-group>&ndash;&gt;-->
<!--&lt;!&ndash;<uib-accordion-heading>&ndash;&gt;-->
<!--&lt;!&ndash;<div>&ndash;&gt;-->
<!--&lt;!&ndash;<div class="collapsible-panel-heading">&ndash;&gt;-->
<!--&lt;!&ndash;<label class="text-right text-muted-manual">&ndash;&gt;-->
<!--&lt;!&ndash;<a href="#" once-text="'Document'|translate" class="text-muted-manual"></a>&ndash;&gt;-->
<!--&lt;!&ndash;</label>&ndash;&gt;-->

<!--&lt;!&ndash;<div class="inline-block pull-right">&ndash;&gt;-->
<!--&lt;!&ndash;<i class="glyphicon pull-right person-search-accordion-icon"></i>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->

<!--&lt;!&ndash;</uib-accordion-heading>&ndash;&gt;-->
<!--&lt;!&ndash;<div>&ndash;&gt;-->
<!--&lt;!&ndash;<div ng-if="person.selectedPersonType == person.data.personClassCodes.natural_person">&ndash;&gt;-->
<!--&lt;!&ndash;<div>&ndash;&gt;-->
<!--&lt;!&ndash;<div class="form-group person-search-template-input-style">&ndash;&gt;-->
<!--&lt;!&ndash;<label class="panel-body-label text-right inline-block text-muted-manual">&ndash;&gt;-->
<!--&lt;!&ndash;<span once-text="'Document Type'|translate"></span>:</label>&ndash;&gt;-->

<!--&lt;!&ndash;<div class="inline-block person-search-inputs">&ndash;&gt;-->
<!--&lt;!&ndash;<select&ndash;&gt;-->
<!--&lt;!&ndash;kendo-drop-down-list&ndash;&gt;-->
<!--&lt;!&ndash;ng-model="person.form.idDocumentClass"&ndash;&gt;-->
<!--&lt;!&ndash;k-data-text-field="'name'+lnC"&ndash;&gt;-->
<!--&lt;!&ndash;k-data-value-field="'code'"&ndash;&gt;-->
<!--&lt;!&ndash;k-data-source="person.data.naturalPersonIdDocumentTypes"&ndash;&gt;-->
<!--&lt;!&ndash;k-value="''">&ndash;&gt;-->

<!--&lt;!&ndash;</select>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;<div ng-if="person.selectedPersonType == person.data.personClassCodes.juridical_person">&ndash;&gt;-->
<!--&lt;!&ndash;<div>&ndash;&gt;-->
<!--&lt;!&ndash;<div class="form-group person-search-template-input-style">&ndash;&gt;-->
<!--&lt;!&ndash;<label class="panel-body-label text-right inline-block text-muted-manual">&ndash;&gt;-->
<!--&lt;!&ndash;<span once-text="'Document Type'|translate"></span>:</label>&ndash;&gt;-->

<!--&lt;!&ndash;<div class="inline-block person-search-inputs">&ndash;&gt;-->
<!--&lt;!&ndash;<select&ndash;&gt;-->
<!--&lt;!&ndash;kendo-drop-down-list&ndash;&gt;-->
<!--&lt;!&ndash;ng-model="person.form.idDocumentClass"&ndash;&gt;-->
<!--&lt;!&ndash;k-data-text-field="'name'+lnC"&ndash;&gt;-->
<!--&lt;!&ndash;k-data-value-field="'code'"&ndash;&gt;-->
<!--&lt;!&ndash;k-data-source="person.data.juridicalPersonIdDocumentTypes"&ndash;&gt;-->
<!--&lt;!&ndash;k-value="''">&ndash;&gt;-->

<!--&lt;!&ndash;</select>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;<div class="form-group person-search-template-input-style"&ndash;&gt;-->
<!--&lt;!&ndash;ng-class="{ 'has-error': (person.formName.$submitted || person.formName.id_document_series.$touched)&ndash;&gt;-->
<!--&lt;!&ndash;&&(person.formName.name.$invalid)  }">&ndash;&gt;-->
<!--&lt;!&ndash;<label class="panel-body-label text-right inline-block"><span&ndash;&gt;-->
<!--&lt;!&ndash;once-text="'ID Document Series'|translate"></span>:</label>&ndash;&gt;-->

<!--&lt;!&ndash;<div class="inline-block person-search-inputs">&ndash;&gt;-->

<!--&lt;!&ndash;<input&ndash;&gt;-->
<!--&lt;!&ndash;class="k-textbox"&ndash;&gt;-->
<!--&lt;!&ndash;type="text"&ndash;&gt;-->
<!--&lt;!&ndash;name="id_document_series"&ndash;&gt;-->
<!--&lt;!&ndash;ng-model="person.form.idDocumentSeries">&ndash;&gt;-->

<!--&lt;!&ndash;<div ng-show="person.formName.$submitted || person.formName.id_document_series.$touched">&ndash;&gt;-->
<!--&lt;!&ndash;<p ng-show="person.formName.id_document_series.$error.required"&ndash;&gt;-->
<!--&lt;!&ndash;class="help-block help-block-error">&ndash;&gt;-->
<!--&lt;!&ndash;<span once-text="'This field is required'|translate"></span>&ndash;&gt;-->
<!--&lt;!&ndash;</p>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;<div class="person-search-template-input-style"&ndash;&gt;-->
<!--&lt;!&ndash;ng-class="{ 'has-error': (person.formName.$submitted || person.formName.id_document_number.$touched)&ndash;&gt;-->
<!--&lt;!&ndash;&&(person.formName.id_document_number.$invalid)  }">&ndash;&gt;-->
<!--&lt;!&ndash;<label class="panel-body-label text-right inline-block"><span&ndash;&gt;-->
<!--&lt;!&ndash;once-text="'ID Document Number'|translate"></span>:</label>&ndash;&gt;-->

<!--&lt;!&ndash;<div class="inline-block person-search-inputs">&ndash;&gt;-->

<!--&lt;!&ndash;<input&ndash;&gt;-->
<!--&lt;!&ndash;class="k-textbox"&ndash;&gt;-->
<!--&lt;!&ndash;type="text"&ndash;&gt;-->
<!--&lt;!&ndash;name="id_document_number"&ndash;&gt;-->
<!--&lt;!&ndash;ng-model="person.form.idDocumentNumber">&ndash;&gt;-->

<!--&lt;!&ndash;<div ng-show="person.formName.$submitted || person.formName.id_document_number.$touched">&ndash;&gt;-->
<!--&lt;!&ndash;<p ng-show="person.formName.id_document_number.$error.required"&ndash;&gt;-->
<!--&lt;!&ndash;class="help-block help-block-error">&ndash;&gt;-->
<!--&lt;!&ndash;<span once-text="'This field is required'|translate"></span>&ndash;&gt;-->
<!--&lt;!&ndash;</p>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->

<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;</uib-accordion-group>&ndash;&gt;-->
<!--<uib-accordion-group is-disabled="true">-->
<!--<uib-accordion-heading>-->

<!--<div class="person-search-template-input-style"-->
<!--ng-class="{ 'has-error': (person.formName.$submitted || person.formName.address_line.$touched)-->
<!--&&(person.formName.address_line.$invalid)  }">-->
<!--<label class="text-right inline-block text-muted-manual">-->
<!--<span once-text="'Address Line'|translate"></span>:</label>-->

<!--<div class="inline-block person-search-inputs">-->
<!--<input-->
<!--class="k-textbox"-->
<!--type="text"-->
<!--name="address_line"-->
<!--ng-model="person.form.plainAddress">-->

<!--<div ng-show="person.formName.$submitted || person.formName.address_line.$touched">-->
<!--<p ng-show="person.formName.address_line.$error.required"-->
<!--class="help-block help-block-error">-->
<!--<span once-text="'This field is required'|translate"></span>-->
<!--</p>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</uib-accordion-heading>-->
<!--</uib-accordion-group>-->
<!--</uib-accordion>-->
<!--</div>-->

<!--</div>-->

<!--<div class="pane-content">-->
<!--&lt;!&ndash;<div class="view-buttons-wrapper">&ndash;&gt;-->
<!--&lt;!&ndash;<md-button&ndash;&gt;-->
<!--&lt;!&ndash;ng-if="params.criteriaEnabled"&ndash;&gt;-->
<!--&lt;!&ndash;aria-label="hamburger button"&ndash;&gt;-->
<!--&lt;!&ndash;class="pull-left md-icon-button md-primary hamburger-button-style"&ndash;&gt;-->
<!--&lt;!&ndash;ng-click="toggleSearchCriteriaBlock(params.splitter1)">&ndash;&gt;-->
<!--&lt;!&ndash;<span class="glyphicon glyphicon-align-justify micro-glyphicon micro-align-glyphicon"></span>&ndash;&gt;-->
<!--&lt;!&ndash;</md-button>&ndash;&gt;-->

<!--&lt;!&ndash;<div class="pull-right view-button-group">&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;View actions &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;<md-button ng-if="!config.screenId"&ndash;&gt;-->
<!--&lt;!&ndash;type="button"&ndash;&gt;-->
<!--&lt;!&ndash;class="md-fab md-micro"&ndash;&gt;-->
<!--&lt;!&ndash;aria-label="Select"&ndash;&gt;-->
<!--&lt;!&ndash;ng-disabled="searchConfig.person.selectedPersonIndex === false"&ndash;&gt;-->
<!--&lt;!&ndash;ng-click="selectPerson()">&ndash;&gt;-->
<!--&lt;!&ndash;<i class="glyphicon glyphicon-ok micro-glyphicon"></i>&ndash;&gt;-->
<!--&lt;!&ndash;<md-tooltip md-direction="down">&ndash;&gt;-->
<!--&lt;!&ndash;<span once-text="'Select Person'|translate"></span>&ndash;&gt;-->
<!--&lt;!&ndash;</md-tooltip>&ndash;&gt;-->
<!--&lt;!&ndash;</md-button>&ndash;&gt;-->
<!--&lt;!&ndash;<md-button ng-if="config.screenId"&ndash;&gt;-->

<!--&lt;!&ndash;type="button"&ndash;&gt;-->
<!--&lt;!&ndash;class="md-fab md-micro"&ndash;&gt;-->
<!--&lt;!&ndash;aria-label="View"&ndash;&gt;-->
<!--&lt;!&ndash;ng-disabled="searchConfig.person.selectedPersonIndex === false"&ndash;&gt;-->
<!--&lt;!&ndash;ng-click="showPersonDetails()">&ndash;&gt;-->
<!--&lt;!&ndash;<i class="glyphicon glyphicon-eye-open micro-glyphicon"></i>&ndash;&gt;-->
<!--&lt;!&ndash;<md-tooltip md-direction="down">&ndash;&gt;-->
<!--&lt;!&ndash;<span once-text="'View'|translate"></span>&ndash;&gt;-->
<!--&lt;!&ndash;</md-tooltip>&ndash;&gt;-->
<!--&lt;!&ndash;</md-button>&ndash;&gt;-->
<!--&lt;!&ndash;<md-button type="button" class="md-fab md-micro"&ndash;&gt;-->
<!--&lt;!&ndash;aria-label="Export to excel"&ndash;&gt;-->
<!--&lt;!&ndash;ng-click="exportToExcel(person.searchResultGrid)">&ndash;&gt;-->
<!--&lt;!&ndash;<i class="glyphicon glyphicon-export micro-glyphicon"></i>&ndash;&gt;-->
<!--&lt;!&ndash;<md-tooltip md-direction="down">&ndash;&gt;-->
<!--&lt;!&ndash;<span once-text="'Export to Excel'|translate"></span>&ndash;&gt;-->
<!--&lt;!&ndash;</md-tooltip>&ndash;&gt;-->
<!--&lt;!&ndash;</md-button>&ndash;&gt;-->
<!--&lt;!&ndash;<md-button type="button" class="md-fab md-micro"&ndash;&gt;-->
<!--&lt;!&ndash;aria-label="Mini FAB"&ndash;&gt;-->
<!--&lt;!&ndash;ng-click="closeWindow()">&ndash;&gt;-->

<!--&lt;!&ndash;<i class="glyphicon glyphicon-remove micro-glyphicon"></i>&ndash;&gt;-->

<!--&lt;!&ndash;<md-tooltip md-direction="down">&ndash;&gt;-->
<!--&lt;!&ndash;<span once-text="'Close Window'|translate"></span>&ndash;&gt;-->
<!--&lt;!&ndash;</md-tooltip>&ndash;&gt;-->

<!--&lt;!&ndash;</md-button>&ndash;&gt;-->

<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--<div class="person-find-result-block">-->

<!--&lt;!&ndash;<span class="text-danger " ng-show="person.searchResult.isEmpty"&ndash;&gt;-->
<!--&lt;!&ndash;once-text="'Nobody Found!'|translate"></span>&ndash;&gt;-->


<!---->
<!--</div>-->

<!--</div>-->

<!--</div>-->

