<div class="window-extend-block" data-extend-template="app/common/templates/operation-window-layout.html">
  <div data-block="content" class="window-main-content">

    <div class="add-new-user">
      <div class="add-new-user-buttons">

      </div>


      <form name="assignAccountAndServiceForm" class="add-new-user-window no-scroll" novalidate style="overflow-x: scroll">


        <div>

          <table class="table table-striped">
            <thead>
            <tr>
              <td>
                <div class="form-inputs" ng-if="!obj.loading && !obj.success && !obj.error">
                  <label class="form-labels input-checkbox" style="width: 20px">
                    <input type="checkbox"
                           name="isConfirmed"
                           ng-required="config.form.name.isConfirmed.$untouched"
                           ng-true-value="true"
                           ng-false-value="false"
                           ng-indeterminate="tr.selectAll === null"
                           ng-model="tr.selectAll">
                  </label>
                </div>
              </td>
              <td width="10%" style="text-align: center">Yaranma tarixi</td>
              <td width="10%" style="text-align: center">Müştəri</td>
              <td once-text="'Currency'|translate" style="text-align: center">Müştəri</td>
              <td style="text-align: center">Bank hesabı</td>

              <td style="text-align: center">Kim Çıxarır</td>
              <td style="text-align: center">Məbləğ</td>
              <td style="text-align: center">Növ</td>
              <td style="text-align: center">Seans nömrəsi</td>
              <td style="text-align: center">Təyinat</td>
              <td style="text-align: center" once-text="'Reference Number'|translate"></td>
              <td>
                Detallar
              </td>
            </tr>

            </thead>
            <tbody ng-repeat="obj in data.vmWithdrawals">
            <tr>
              <td>
                <md-progress-circular ng-if="obj.loading" md-mode="indeterminate" md-diameter="20" style="height:42px;    position: relative; left: -30px;    top: -6px;"></md-progress-circular>
                <div ng-if="obj.success" style="padding-left: 12px">
                  <span class="glyphicon glyphicon-ok" style="color:green;width:12px;text-align:center;"></span>
                </div>
                <div ng-if="obj.error" style="padding-left: 12px">
                  <span class="glyphicon glyphicon-exclamation-sign" style="color:red;width:12px;text-align:center;"></span>
                </div>

                <div class="form-inputs" ng-if="!obj.loading && !obj.success && !obj.error">
                  <label class="form-labels input-checkbox">
                    <input type="checkbox"
                           name="isConfirmed"
                           ng-true-value="true"
                           ng-false-value="false"
                           ng-indeterminate="obj.chairmanApproved === null"
                           ng-change="chairmanApprovedChanged(obj)"
                           ng-model="obj.chairmanApproved">
                  </label>
                </div>

              </td>
              <td>{{ obj.creationDate | date:'dd-MM-yyyy HH:mm' }}</td>
              <td>{{ obj.payeeClientName + " " + obj.account.payeeClientAccountNumber }}</td>
              <td>{{ obj.currency.code }}</td>
              <td>{{ obj.payeeBankName }}</td>
              <td>{{ obj.memberAccount.name }}</td>
              <td style="text-align: center">{{ obj.amount }}</td>
              <td>{{ obj.withdrawalClass.nameAz }}</td>
              <td style="text-align: center">{{ obj.sessionNumber }}</td>
              <td style="text-align: center">{{ obj.destination }}</td>
              <td style="text-align: center" width="10%">{{ obj.refNumber }}</td>
              <td>
                <md-button
                  aria-label="right arrow button"
                  type="button"
                  ng-click="expand()"
                  class="md-micro md-fab pull-right">

                  <span ng-if="obj.expanded" class="glyphicon glyphicon-eye-close micro-glyphicon"></span>
                  <span ng-if="!obj.expanded" class="glyphicon glyphicon-eye-open micro-glyphicon"></span>
                </md-button>
              </td>
            </tr>
            <tr ng-if="obj.expanded" ng-repeat="item in obj.details">
              <td colspan="6">
                <table class="table table-striped">
                  <thead>
                  <tr>
                    <td>
                      Xidmət sinfi
                    </td>
                    <td>
                      Məbləğ
                    </td>
                  </tr>

                  </thead>
                  <tbody>
                  <tr>
                    <td>{{ item.serviceClass.nameAz }}</td>
                    <td style="text-align: center">{{ item.amount }}</td>
                  </tr>
                  </tbody>
                </table>

              </td>
            </tr>
            </tbody>
          </table>

          <!--<div layout="row" layout-align="start center">-->

            <!--<md-button ng-click="sign()" class="md-raised md-primary" ng-disabled="isLoading()">-->
              <!--<span>İmzalayın</span>-->
            <!--</md-button>-->

          <!--</div>-->
        </div>


      </form>

    </div>
  </div>
</div>
