<div class="window-extend-block" data-extend-template="app/common/templates/operation-window-layout.html">
  <div data-block="content" class="window-main-content">

    <div
      role="form"
      ng-form="config.form.name"
      ng-submit="config.buttons.complete.click()">

      <div class="title-transfer-forms">
        <div class="form-group" ng-class="{ 'has-error':
                 (config.form.name.$submitted || config.form.name.record_number.$touched)
                 &&(config.form.name.record_number.$invalid)  }">

          <label class="form-labels">
            <span once-text="'Is Confirmed'|translate"></span>:</label>

          <div class="form-inputs">
            <md-checkbox type="checkbox"
                   name="record_number"
                   ng-model="otcTrade.isConfirmed"
                         class="md-checkbox-style"
              >
          </div>
        </div>
      </div>
      <table class="table table-striped table-hover table-responsive table-bordered">
        <tbody>
        <tr>
          <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4"><b once-text="'Venue'|translate"></b></td>
          <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4">{{taskData.venueName}}</td>
        </tr>
        <tr>
          <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4"><b once-text="'Seller'|translate"></b></td>
          <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4">{{taskData.seller.name}} - {{taskData.seller.accountNumber}}
          </td>
        </tr>
        <tr>
          <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4"><b once-text="'Seller Broker'|translate"></b></td>
          <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4">{{taskData.brokerSeller.name}}</td>
        </tr>
        <tr>
          <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4"><b once-text="'Buyer'|translate"></b></td>
          <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4">{{taskData.buyer.name}} - {{taskData.buyer.accountNumber}}
          </td>
        </tr>
        <tr>
          <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4"><b once-text="'Buyer Broker'|translate"></b></td>
          <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4">{{taskData.brokerBuyer.name}}</td>
        </tr>
        </tbody>
      </table>
      <hr/>
      <h4 once-text="'Subject'|translate"></h4>
      <table class="table table-striped table-hover table-responsive table-bordered ">
        <thead>
        <th once-text="'ISIN'|translate"></th>
        <th once-text="'Issuer'|translate"></th>
        <th once-text="'Quantity'|translate"></th>
        <th once-text="'Price'|translate"></th>
        </thead>
        <tbody>
        <tr>
          <td>{{taskData.subject.instrument.ISIN}}</td>
          <td>{{taskData.subject.instrument.issuerName}}</td>
          <td>{{taskData.subject.quantity}}</td>
          <td>{{taskData.subject.price}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
