<div class="window-extend-block" data-extend-template="app/common/templates/operation-window-layout.html">
  <div data-block="content" class="window-main-content">

    <table class="table table-striped">
      <thead>
      <tr>
        <td width="3%"></td>
        <td width="10%" style="text-align: center">Müştəri</td>
        <td once-text="'Currency'|translate" style="text-align: center">Müştəri</td>
        <td style="text-align: center">Bank hesabı</td>

        <td style="text-align: center">Çıxarış ticarət məbləği</td>
        <td style="text-align: center">Çıxarış abunə yazılışı məbləği</td>
        <td style="text-align: center">Çıxarış FOREX məbləği</td>
        <td style="text-align: center">Çıxarış xidmət məbləği</td>
        <td style="text-align: center">Pul zəmanəti</td>
        <td style="text-align: center">Naməlum</td>
        <td style="text-align: center">Seans nömrəsi</td>
        <td style="text-align: center">Təyinat</td>
        <td style="text-align: center"  once-text="'Reference Number'|translate"></td>
      </tr>

      </thead>
      <tbody>


      <tr ng-repeat="obj in taskData.vmWithdrawals" ng-if="obj.opDepApproved !== null">
        <td>
            {{ obj.opDepApproved ? 'Təsdiqlənib': "Təsdiqlənməyib"}}
        </td>
        <td>{{ obj.payeeClientName + " " + obj.payeeClientAccountNumber }}</td>
        <td>{{ obj.currency.code }}</td>
        <td>{{ obj.payeeBankName }}</td>
        <td style="text-align: center">{{ obj.trdWithdrawalAmount }}</td>
        <td style="text-align: center">{{ obj.subWithdrawalAmount }}</td>
        <td style="text-align: center">{{ obj.frxWithdrawalAmount }}</td>
        <td style="text-align: center">{{ obj.disWithdrawalAmount }}</td>
        <td style="text-align: center">{{ obj.colWithdrawalAmount }}</td>
        <td style="text-align: center">{{ obj.unkWithdrawalAmount }}</td>
        <td style="text-align: center">{{ obj.sessionNumber }}</td>
        <td style="text-align: center">{{ obj.destination }}</td>
        <td style="text-align: center" width="10%">{{ obj.refNumber }}</td>
      </tr>
      </tbody>
    </table>


  </div>
</div>
