
<div class="window-extend-block" data-extend-template="app/common/templates/operation-window-layout.html">
  <div data-block="content" class="window-main-content">

    <div class="add-new-user">
      <div class="add-new-user-buttons">

        <!--<md-button class="md-micro md-fab pull-right"-->
        <!--aria-label="add bank account button"-->
        <!--ng-click="_closeWindow(buffers.user.userManageWindow)"-->
        <!--type="submit">-->
        <!--<i class="glyphicon glyphicon-remove micro-glyphicon"></i>-->
        <!--<md-tooltip md-direction="down">-->
        <!--<span once-text="'Close'|translate"></span>-->
        <!--</md-tooltip>-->
        <!--</md-button>-->

        <!--<md-button-->
        <!--type="submit"-->
        <!--aria-label="submit button"-->
        <!--class="md-micro md-fab pull-right"-->
        <!--ng-click="config.buttons.complete.click()">-->
        <!--<i class="glyphicon glyphicon-ok micro-glyphicon"></i>-->
        <!--<md-tooltip md-direction="down">-->
        <!--{{config.labels.userManageWindowTitle}}-->
        <!--</md-tooltip>-->
        <!--</md-button>-->
      </div>


      <form name="assignAccountAndServiceForm" class="add-new-user-window no-scroll" novalidate style="overflow: scroll">


        <div>

          <table class="table table-striped">
            <thead>
            <tr>
              <td width="3%">
                <div class="form-inputs">
                  <label class="form-labels input-checkbox">
                    <input type="checkbox"
                           name="isConfirmed"
                           ng-required="config.form.name.isConfirmed.$untouched"
                           ng-true-value="true"
                           ng-false-value="false"
                           ng-indeterminate="tr.selectAll === null"
                           ng-model="tr.selectAll">
                  </label>
                </div>
              </td>
              <td width="10%" style="text-align: center">Yaranma tarixi</td>
              <td width="10%" style="text-align: center">Müştəri</td>
              <td once-text="'Currency'|translate" style="text-align: center">Müştəri</td>
              <td style="text-align: center">Bank hesabı</td>

              <td style="text-align: center">Çıxarış ticarət məbləği</td>
              <td style="text-align: center">Çıxarış abunə yazılışı məbləği</td>
              <td style="text-align: center">Çıxarış FOREX məbləği</td>
              <td style="text-align: center">Çıxarış xidmət məbləği</td>
              <td style="text-align: center">Pul zəmanəti</td>
              <td style="text-align: center">Naməlum</td>
              <td style="text-align: center">Seans nömrəsi</td>
              <td style="text-align: center">Təyinat</td>
              <td style="text-align: center"  once-text="'Reference Number'|translate"></td>
            </tr>

            </thead>
            <tbody>


            <tr ng-repeat="obj in data.vmWithdrawals">
              <td>
                  <div class="form-inputs">
                    <label class="form-labels input-checkbox">
                      <input type="checkbox"
                             name="isConfirmed"
                             ng-required="config.form.name.isConfirmed.$untouched"
                             ng-true-value="true"
                             ng-false-value="false"
                             ng-indeterminate="obj.opDepApproved === null"
                             ng-model="obj.opDepApproved">
                    </label>
                  </div>
              </td>
              <td>{{ obj.creationDate | date:'dd-MM-yyyy HH:mm' }}</td>
              <td>{{ obj.payeeClientName }}</td>
              <td>{{ obj.currency.code }}</td>
              <td>{{ obj.selectedBankAccount.bankNameAz }}</td>
              <td style="text-align: center">{{ obj.trdWithdrawalAmount }}</td>
              <td style="text-align: center">{{ obj.subWithdrawalAmount }}</td>
              <td style="text-align: center">{{ obj.frxWithdrawalAmount }}</td>
              <td style="text-align: center">{{ obj.disWithdrawalAmount }}</td>
              <td style="text-align: center">{{ obj.colWithdrawalAmount }}</td>
              <td style="text-align: center">{{ obj.unkWithdrawalAmount }}</td>
              <td style="text-align: center">{{ obj.sessionNumber }}</td>
              <td style="text-align: center">{{ obj.destination }}</td>
              <td style="text-align: center" width="10%">{{ obj.refNumber }}</td>
            </tr>
            </tbody>
          </table>

        </div>


      </form>

    </div>
  </div>
</div>
