<div class="window-extend-block" data-extend-template="app/common/templates/operation-window-layout.html">
  <div data-block="content" class="window-main-content">

    <div class="add-new-user">
      <div class="add-new-user-buttons">

        <!--<md-button class="md-micro md-fab pull-right"-->
        <!--aria-label="add bank account button"-->
        <!--ng-click="_closeWindow(buffers.user.userManageWindow)"-->
        <!--type="submit">-->
        <!--<i class="glyphicon glyphicon-remove micro-glyphicon"></i>-->
        <!--<md-tooltip md-direction="down">-->
        <!--<span once-text="'Close'|translate"></span>-->
        <!--</md-tooltip>-->
        <!--</md-button>-->

        <!--<md-button-->
        <!--type="submit"-->
        <!--aria-label="submit button"-->
        <!--class="md-micro md-fab pull-right"-->
        <!--ng-click="config.buttons.complete.click()">-->
        <!--<i class="glyphicon glyphicon-ok micro-glyphicon"></i>-->
        <!--<md-tooltip md-direction="down">-->
        <!--{{config.labels.userManageWindowTitle}}-->
        <!--</md-tooltip>-->
        <!--</md-button>-->
      </div>


      <form name="assignAccountAndServiceForm" class="add-new-user-window no-scroll" novalidate style="overflow: scroll">


        <div>

          <table class="table table-striped table-bordered">
            <tbody>
            <tr>
              <td><span once-text="'Creation Date'|translate"></span></td>
              <td>{{ data.creationDate }}</td>
            </tr>
            <tr>
              <td><span once-text="'Reference Number'|translate"></span></td>
              <td>{{ data.refNumber }}</td>
            </tr>
            <tr>
              <td><span once-text="'Payment Date'|translate"></span></td>
              <td>{{ data.paymentDate }}</td>
            </tr>
            <tr>
              <td><span once-text="'Currency'|translate"></span></td>
              <td>{{ data.currency.code }}</td>
            </tr>
            <tr>
              <td><span once-text="'Amount'|translate"></span></td>
              <td>{{ data.paidAmount }}</td>
            </tr>

            <tr>
              <td><span>Təyinat</span></td>
              <td>{{ data.destination }}</td>
            </tr>

            <tr>
              <td><span once-text="'Status'|translate"></span></td>
              <td>{{ data.status['name' + lnc] }}</td>
            </tr>
            <tr>
              <td><span>Status mesajı</span></td>
              <td>{{ data.statusMessage }}</td>
            </tr>

            <tr>
              <td><span>Ödəyici tərəfin hesab nömrəsi</span></td>
              <td>{{ data.payerClientAccountNumber }}</td>
            </tr>
            <tr>
              <td><span>Ödəyici tərəfin adı</span></td>
              <td>{{ data.payerClientName }}</td>
            </tr>
            <tr>
              <td><span>Ödəyicinin VÖEN-i</span></td>
              <td>{{ data.payerClientTin }}</td>
            </tr>
            <tr>
              <td><span>Ödəyici bankın VÖEN-i</span></td>
              <td>{{ data.payerBankTin }}</td>
            </tr>
            <tr>
              <td><span>Ödəyici bankın kodu</span></td>
              <td>{{ data.payerBankCode }}</td>
            </tr>
            <tr>
              <td><span>Ödəyici bankın BİC-i</span></td>
              <td>{{ data.payerBankBIC }}</td>
            </tr>

            <tr>
              <td><span>Ödəyici bankın müxbir hesabı</span></td>
              <td>{{ data.payerBankCorrespondentAccount }}</td>
            </tr>


            <tr>
              <td><span>Qalıq</span></td>
              <td>{{ data.paidAmount - data.localeAmount || 0 }}</td>
            </tr>


            </tbody>
          </table>

        </div>



        <div class="forms">
          <div class="form-group">
            <label class="form-labels" style="width: 200px">
              <span>Yönləndirmə doğrudurmu?</span>:</label>

            <div class="form-inputs">
              <md-checkbox
                aria-label="Deleted"
                type="checkbox"
                ng-change="changeAccountStatus()"
                ng-model="data.correctAssignment"
                class=" md-checkbox-style"
              >
            </div>
          </div>
        </div>


        <!--<div class="forms">-->
        <!--<div class="form-group">-->

        <!--<label class="cfi-form-labels">Xidmət sinfi</label>-->
        <!--<div class="form-inputs">-->
        <!--<select-->
        <!--name="sel1"-->
        <!--ng-model="data.serviceClass"-->
        <!--ng-required="true"-->
        <!--ng-options="serviceClass as serviceClass.name for serviceClass in serviceClasses">-->

        <!--</select>-->
        <!--</div>-->
        <!--</div>-->

        <!--</div>-->


        <div>

          <table class="table table-striped table-bordered">
            <thead>
              <tr>
                <td>Üzv hesabıdırmı?</td>
                <td>Müştəri</td>
                <td>Ticarət</td>
                <td>Abunə yazılışı</td>
                <td>Pul zəmanəti</td>
                <td>FOREX</td>
                <td>Xidmət</td>
                <td></td>
              </tr>

            </thead>
            <tbody>
            <tr ng-repeat="obj in data.items">
              <td width="10%">
                <div class="forms" style="min-width: 200px">
                  <div class="form-group">
                    <div class="form-inputs">
                      <md-checkbox
                        aria-label="Deleted"
                        type="checkbox"
                        ng-change="changeAccountStatus()"
                        ng-model="obj.isHouseAccount"
                        class=" md-checkbox-style"
                      >
                    </div>
                  </div>
                </div>
              </td>
              <td>
                <div ng-hide="obj.isHouseAccount">
                  {{ obj.beneficiarAccount.accountNumber }}
                  <md-button
                    type="button"
                    aria-label="search button"
                    style="float: right"
                    class="md-fab md-micro"
                    ng-disabled="obj.isHouseAccount"
                    ng-click="findMember(obj)">
                    <i class="glyphicon glyphicon-search micro-glyphicon"></i>
                  </md-button>
                </div>
              </td>
              <td>
                <div class="form-inputs">
                  <input type="number"
                         style="width: 160px"
                         step="0.01"
                         class="k-textbox"
                         name="record_number"
                         placeholder="Ticarət"
                         ng-model="obj.trdAmount"
                         ng-required="true"/>
                </div>
              </td>
              <td>
                <div class="form-inputs">
                  <input type="number"
                         step="0.01"
                         style="width: 160px"
                         class="k-textbox"
                         name="record_number"
                         placeholder="Abunə yazılışı"
                         ng-model="obj.subAmount"
                         ng-required="true"/>
                </div>
              </td>
              <td>
                <div class="form-inputs" ng-hide="!obj.isHouseAccount">
                  <input type="number"
                         step="0.01"
                         style="width: 160px"
                         class="k-textbox"
                         name="record_number"
                         placeholder="Pul zəmanəti"
                         ng-disabled="!obj.isHouseAccount"
                         ng-model="obj.colAmount"
                         ng-required="obj.isHouseAccount"/>
                </div>
              </td>
              <td>
                <div class="form-inputs" ng-hide="!obj.isHouseAccount">
                  <input type="number"
                         step="0.01"
                         style="width: 160px"
                         class="k-textbox"
                         name="record_number"
                         placeholder="FOREX"
                         ng-disabled="!obj.isHouseAccount"
                         ng-model="obj.frxAmount"
                         ng-required="obj.isHouseAccount"/>
                </div>
              </td>
              <td>
                <div class="form-inputs" ng-hide="!obj.isHouseAccount">
                  <input type="number"
                         step="0.01"
                         style="width: 160px"
                         class="k-textbox"
                         name="record_number"
                         placeholder="Xidmət"
                         ng-disabled="!obj.isHouseAccount"
                         ng-model="obj.advAmount"
                         ng-required="obj.isHouseAccount"/>
                </div>
              </td>

              <td>
                <md-button
                  type="button"
                  aria-label="search button"
                  class="md-fab md-micro"
                  ng-disabled="data.items.length == 1"
                  ng-click="removeItem($index)">
                  <i class="glyphicon glyphicon-trash micro-glyphicon"></i>
                </md-button>
              </td>
            </tr>
            <tr>
              <td colspan="8">
                <md-button
                  type="button"
                  aria-label="search button"
                  class="md-fab md-micro"
                  ng-click="addItem()">
                  <i class="glyphicon glyphicon-plus micro-glyphicon"></i>
                </md-button>
              </td>
            </tr>
            </tbody>
          </table>

        </div>


      </form>

    </div>
  </div>
</div>
