<div class="window-extend-block" data-extend-template="app/common/templates/operation-window-layout.html">
  <div data-block="content" class="window-main-content">
    <div class="add-new-user-buttons">

      <!--<md-button class="md-micro md-fab pull-right"-->
                 <!--aria-label="add bank account button"-->
                 <!--ng-click="_closeWindow(buffers.user.userManageWindow)"-->
                 <!--type="submit">-->
        <!--<i class="glyphicon glyphicon-remove micro-glyphicon"></i>-->
        <!--<md-tooltip md-direction="down">-->
          <!--<span once-text="'Close'|translate"></span>-->
        <!--</md-tooltip>-->
      <!--</md-button>-->

      <!--<md-button-->
        <!--type="submit"-->
        <!--aria-label="submit button"-->
        <!--class="md-micro md-fab pull-right"-->
        <!--ng-click="config.buttons.complete.click()">-->
        <!--<i class="glyphicon glyphicon-ok micro-glyphicon"></i>-->
        <!--<md-tooltip md-direction="down">-->
          <!--{{config.labels.userManageWindowTitle}}-->
        <!--</md-tooltip>-->
      <!--</md-button>-->
    </div>


    <div ng-form="buffers.user.config.form.name" class="add-new-user-window no-scroll" novalidate>


      <div>

        <table class="table table-striped table-bordered">
          <tbody>
          <tr>
            <td><span once-text="'Creation Date'|translate"></span></td>
            <td>{{ data.creationDate }}</td>
          </tr>
          <tr>
            <td><span once-text="'Reference Number'|translate"></span></td>
            <td>{{ data.refNumber }}</td>
          </tr>
          <tr>
            <td><span once-text="'Payment Date'|translate"></span></td>
            <td>{{ data.paymentDate }}</td>
          </tr>
          <tr>
            <td><span once-text="'Currency'|translate"></span></td>
            <td>{{ data.currency.code }}</td>
          </tr>
          <tr>
            <td><span once-text="'Amount'|translate"></span></td>
            <td>{{ data.paidAmount }}</td>
          </tr>

          <!--<tr>-->
            <!--<td><span>Benefisiarın hesab nömrəsi</span></td>-->
            <!--<td>{{ data.beneficiarAccount.accountNumber }}</td>-->
          <!--</tr>-->

          <!--<tr>-->
            <!--<td><span>Benefisiarın adı</span></td>-->
            <!--<td>{{ data.beneficiarAccount.name }}</td>-->
          <!--</tr>-->

          <tr>
            <td><span>Təyinat</span></td>
            <td>{{ data.destination }}</td>
          </tr>

          <tr>
            <td><span>Xidmət sinfi</span></td>
            <td>{{ data.serviceClass ? data.serviceClass.nameAz: '' }}</td>
          </tr>


          <tr>
            <td><span once-text="'Status'|translate"></span></td>
            <td>{{ data.status.nameAz }}</td>
          </tr>
          <tr>
            <td><span>Status mesajı</span></td>
            <td>{{ data.statusMessage }}</td>
          </tr>

          <tr>
            <td><span>Ödəyici tərəfin hesab nömrəsi</span></td>
            <td>{{ data.payerClientAccountNumber }}</td>
          </tr>
          <tr>
            <td><span>Ödəyici tərəfin adı</span></td>
            <td>{{ data.payerClientName }}</td>
          </tr>
          <tr>
            <td><span>payerClientTin</span></td>
            <td>{{ data.payerClientTin }}</td>
          </tr>
          <tr>
            <td><span>Ödəyici bankın VÖEN-i</span></td>
            <td>{{ data.payerBankTin }}</td>
          </tr>
          <tr>
            <td><span>Ödəyici bankın kodu</span></td>
            <td>{{ data.payerBankCode }}</td>
          </tr>
          <tr>
            <td><span>Ödəyici bankın BİC-i</span></td>
            <td>{{ data.payerBankBIC }}</td>
          </tr>

          <tr>
            <td><span>Ödəyici bankın müxbir hesabı</span></td>
            <td>{{ data.payerBankCorrespondentAccount }}</td>
          </tr>


          </tbody>
        </table>

      </div>



      <div class="form-group" ng-class="{ 'has-error': false}">

        <div class="form-inputs">
          <md-radio-group ng-model="data.payerType">

            <md-radio-button value="MEMBER">Üzv</md-radio-button>
            <md-radio-button value="ISSUER"> Emitent </md-radio-button>
            <md-radio-button value="UNKNOWN">Bilinmir</md-radio-button>
            <md-radio-button value="TAX_EXCHANGE">Mənbə vergisi konvertasiyası</md-radio-button>

          </md-radio-group>
        </div>
      </div>

      <md-divider></md-divider>

      <!--<div class="form-group" ng-class="{ 'has-error': false}">-->
        <!--<label class="form-labels">-->
          <!--<span class="required-sign">*</span>-->
          <!--<span>Emitent hesabıdırmı?</span>:-->
        <!--</label>-->

        <!--<div class="form-inputs">-->
          <!--<label class="form-labels input-checkbox">-->
            <!--<input type="checkbox"-->
                   <!--name="isConfirmed"-->
                   <!--ng-required="config.form.name.isConfirmed.$untouched"-->
                   <!--ng-true-value="true"-->
                   <!--ng-false-value="false"-->
                   <!--ng-indeterminate="data.payerIsIssuer === null"-->
                   <!--ng-model="data.payerIsIssuer">-->
          <!--</label>-->

        <!--</div>-->
      <!--</div>-->





      <!--<div class="forms" ng-show="data.payerType === 'MEMBER'">-->
        <!--<div class="form-group">-->
          <!--<label class="form-labels">-->
            <!--<span>Üzvü seçmək mümkündürmü?</span>:</label>-->

          <!--<div class="form-inputs">-->
            <!--<md-checkbox-->
              <!--aria-label="Deleted"-->
              <!--type="checkbox"-->
              <!--ng-change="changeAccountStatus()"-->
              <!--ng-model="data.canDetectMember"-->
              <!--class=" md-checkbox-style"-->
            <!--&gt;-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->


      <div class="form-group" ng-class="{ 'has-error': false}" ng-show="data.payerType == 'ISSUER'">
        <label class="form-labels" style="width: 66px">
          <span class="required-sign">*</span>
          <span>Xidmət</span>:
        </label>

        <div class="form-inputs">
          <select
            name="serviceClass"
            ng-model="data.serviceClass"
            ng-options="obj as obj.name for obj in serviceClasses"
          >
          </select>

        </div>
      </div>



      <div>

        <table class="table table-striped table-bordered" ng-show="data.payerType === 'MEMBER'">
          <thead>
          <tr>
            <th><strong class="required-sign">*</strong> <strong once-text="'Member'|translate"></strong></th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>
              {{ data.payeeClient.name }}
            </td>
            <td>
              <md-button
                type="button"
                aria-label="search button"
                class="md-fab md-micro"
                ng-click="findMember()">
                <i class="glyphicon glyphicon-search micro-glyphicon"></i>
              </md-button>
            </td>
          </tr>
          </tbody>
        </table>


        <table class="table table-striped table-bordered"  ng-show="data.payerType === 'ISSUER'">
          <thead>
          <tr>
            <th><strong class="required-sign">*</strong> <strong once-text="'Issuer'|translate"></strong></th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>
              {{ data.payeeClient.name }}
            </td>
            <td>
              <md-button
                type="button"
                aria-label="search button"
                class="md-fab md-micro"
                ng-click="findIssuer()">
                <i class="glyphicon glyphicon-search micro-glyphicon"></i>
              </md-button>
            </td>
          </tr>
          </tbody>
        </table>




        <div class="form-group" ng-class="{ 'has-error': false}" ng-show="data.payerType == 'TAX_EXCHANGE'">
          <label class="form-labels">
            <span>Konvertasiyanın axtarışı</span>:
          </label>

          <div class="form-inputs">
            <md-button
              type="button"
              style="top: -10px"
              aria-label="search button"
              class="md-fab md-micro"
              ng-click="findTaxExchanges()">
              <i class="glyphicon glyphicon-search micro-glyphicon"></i>
            </md-button>
          </div>
        </div>


        <table class="table table-striped table-bordered"  ng-show="data.payerType === 'TAX_EXCHANGE' && data.items">
          <thead>
          <tr>
            <th>Vergi</th>
            <th>Benefisiarın adı</th>
            <th>Benefisiarın hesab nömrəsi</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="obj in data.items">
            <td>{{ obj.taxAmount }}</td>
            <td>{{ obj.beneficiarAccount.name }}</td>
            <td>{{ obj.beneficiarAccount.accountNumber }}</td>
          </tr>
          </tbody>
        </table>

      </div>


    </div>
  </div>

</div>
