<div class="window-extend-block" data-extend-template="app/common/templates/operation-window-layout.html">
  <div data-block="content" class="window-main-content">

    <table class="table table-striped table-hover table-responsive table-bordered">
      <tbody>
      <tr>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><b once-text="'Registration Number'|translate"></b></td>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6">{{taskData.registrationNumber}}</td>
      </tr>
      <tr>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><b once-text="'Registration Date'|translate"></b></td>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6">{{taskData.registrationDate |date: 'short'}}</td>
      </tr>
      <tr>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><b once-text="'Value Date'|translate"></b></td>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6">{{taskData.valueDate |date: 'short'}}</td>
      </tr>
      <tr>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><b once-text="'Comment'|translate"></b></td>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6">{{taskData.comment}}</td>
      </tr>
      <tr>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><b once-text="'Registration Authority Class'|translate"></b>
        </td>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6">{{taskData.registrationAuthorityClass['name'+lnC]}}</td>
      </tr>
      </tbody>
    </table>
    <hr/>
    <h4 once-text="'Instrument'|translate"></h4>

    <table class="table table-striped table-hover table-responsive table-bordered ">
      <thead>
      <th once-text="'Instrument'|translate"></th>
      <th once-text="'ISIN'|translate"></th>
      <th once-text="'Issuer'|translate"></th>


      </thead>
      <tbody>
      <tr>
        <td>{{taskData.instrument.instrumentName}}</td>
        <td>{{taskData.instrument.ISIN}}</td>
        <td>{{taskData.instrument.issuerName}}</td>


      </tr>
      </tbody>
    </table>
    <hr/>
    <h4 once-text="'Auctions'|translate"></h4>
    <table class="table table-striped table-bordered">
      <thead>
      <tr>
        <th><span once-text="'Registration Number'|translate"></span></th>
        <th once-text="'Registration Date'|translate"></th>
        <th once-text="'Auction Class'|translate"></th>
        <th once-text="'Price'|translate"></th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="auction in taskData.auctions">
        <td>{{auction.registrationNumber}}</td>
        <td>{{auction.registrationDate}}</td>
        <td>{{auction.auctionClass['name'+lnC]}}</td>
        <td>{{auction.price}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
