<div class="window-extend-block" data-extend-template="app/common/templates/operation-window-layout.html">
  <div data-block="content" class="window-main-content">
    <div
      role="form"
      ng-form="config.form.name"
      ng-submit="config.buttons.complete.click()">


      <div class="title-transfer-forms">
        <div class="form-group" ng-class="{ 'has-error':
                 (config.form.name.$submitted || config.form.name.record_number.$touched)
                 &&(config.form.name.record_number.$invalid)  }">

          <label class="form-labels"><span class="required-sign">*</span><span
            once-text="'Registration Number'|translate"></span>:</label>

          <div class="form-inputs">
            <input type="text"
                   class="k-textbox"
                   name="record_number"
                   ng-model="auctionFinalizationData.registrationNumber"
                   ng-required="true">

            <div ng-show="config.form.name.$submitted || config.form.name.record_number.$touched">
              <p ng-show="config.form.name.record_number.$error.required"
                 class="help-block help-block-error">
                <span once-text="'This field is required'|translate"></span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="title-transfer-forms">
        <div class="form-group" ng-class="{ 'has-error':
                 (config.form.name.$submitted || config.form.name.record_date.$touched)
                 &&(config.form.name.record_date.$invalid)  }">
          <label class="form-labels"><span class="required-sign">*</span><span
            once-text="'Registration Date'|translate"></span>:</label>

          <div class="form-inputs">
            <input type="text"
                   class="datepicker-cst"
                   kendo-date-picker
                   name="record_date"
                   ng-model="auctionFinalizationData.registrationDate"
                   k-ng-model="auctionFinalizationData.registrationDateObj"
                   ng-required="true"
              >

            <div ng-show="config.form.name.$submitted || config.form.name.record_date.$touched">
              <p ng-show="config.form.name.record_date.$error.required"
                 class="help-block help-block-error">
                <span once-text="'This field is required'|translate"></span>
              </p>

              <p ng-show="config.form.name.record_date.$error.csmKendoDate"
                 class="help-block help-block-error">
                <span once-text="'Please enter a valid date!'|translate"></span>
              </p>
            </div>
          </div>
        </div>

      </div>
      <div class="title-transfer-forms">
        <div class="form-group"
             ng-class="{ 'has-error':
                 (config.form.name.$submitted || config.form.name.value_date.$touched)
                 &&(config.form.name.value_date.$invalid)  }">
          <label class="form-labels"><span once-text="'Value Date'|translate"></span>:</label>

          <div class="form-inputs">
            <input type="text"
                   class="datepicker-cst inline-block"
                   kendo-date-picker
                   name="value_date"
                   ng-model="auctionFinalizationData.valueDate"
                   k-ng-model="auctionFinalizationData.valueDateObj"
                   ng-required="false"
              >
             <span tooltip-placement="left"
                   uib-tooltip-html="'Value date will be the same as record date if not provided.'|translate">
               <span class="glyphicon glyphicon-question-sign glyphicon-question-sign-style"></span>
            </span>

            <div ng-show="config.form.name.$submitted || config.form.name.value_date.$touched">
              <p ng-show="config.form.name.value_date.$error.required"
                 class="help-block help-block-error">
                <span once-text="'This field is required'|translate"></span>
              </p>

              <p ng-show="config.form.name.value_date.$error.csmKendoDate"
                 class="help-block help-block-error">
                <span once-text="'Please enter a valid date!'|translate"></span>
              </p>
            </div>
          </div>
        </div>

      </div>
      <div class="title-transfer-forms">

        <div class="form-group" ng-class="{ 'has-error':
                 (config.form.name.$submitted || config.form.name.comment.$touched)
                 &&(config.form.name.comment.$invalid)  }">

          <label class="form-labels">
            <span class="required-sign">*</span>
            <span once-text="'Comment'|translate"></span>:</label>

          <div class="form-inputs">
                  <textarea
                    class="k-textbox"
                    name="comment"
                    cols="6"
                    rows="7"
                    ng-model="auctionFinalizationData.comment"
                    ng-required="true"></textarea>

            <div ng-show="config.form.name.$submitted || config.form.name.comment.$touched">
              <p ng-show="config.form.name.comment.$error.required"
                 class="help-block help-block-error">
                <span once-text="'This field is required'|translate"></span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <!--Comment-->
      <div class="title-transfer-forms">
        <div class="form-group" ng-class="{ 'has-error':
                 (config.form.name.$submitted || config.form.name.reg_auth_class.$touched)
                 &&(config.form.name.reg_auth_class.$invalid)  }">

          <label class="form-labels"><span class="required-sign">*</span>
            <span once-text="'Registration Authority Class'|translate"></span>:</label>

          <div class="form-inputs">
            <select
              name="reg_auth_class"
              ng-model="auctionFinalizationData.registrationAuthorityClass"
              ng-required="true"
              >
              <option value="">---</option>
              <option
                value="{{cl|json}}"
                ng-repeat="cl in  metaData.registrationAuthorityClasses">{{cl['name'+lnC]}}
              </option>
            </select>

            <div ng-show="config.form.name.$submitted || config.form.name.reg_auth_class.$touched">
              <p ng-show="config.form.name.reg_auth_class.$error.required"
                 class="help-block help-block-error">
                <span once-text="'This field is required'|translate"></span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <!--Reg Auth-->
      <div class="title-transfer-forms">
        <table class="table table-striped table-bordered">
          <thead>
          <tr>
            <th><span class="required-sign">*</span> <span once-text="'Instrument'|translate"></span></th>
            <th once-text="'ISIN'|translate"></th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>

              <span ng-if="!auctionFinalizationData.instrument.instrumentName">......</span>
              <span> {{auctionFinalizationData.instrument.instrumentName}}</span>
              <md-button

                class="md-fab md-micro"
                aria-label="Mini FAB"
                ng-click="findInstrument()">
                <i class="glyphicon glyphicon-search micro-glyphicon"></i>
                <md-tooltip>
                  <span once-text="'Find Instrument'|translate"></span>
                </md-tooltip>

              </md-button>
              <input type="hidden" name="ISIN" ng-required="true" ng-model="auctionFinalizationData.instrument.ISIN">

              <div
                class="has-error"
                ng-show="config.form.name.$submitted ">
                <p ng-show="config.form.name['ISIN'].$error.required"
                   class="help-block help-block-error">
                  <span once-text="'You have to select instrument!'|translate"></span>
                </p>
              </div>
            </td>
            <td>
              <span ng-if="!auctionFinalizationData.instrument.ISIN">......</span>
              <span> {{auctionFinalizationData.instrument.ISIN}}</span>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="title-transfer-forms">
        <hr/>
        <h4 once-text="'Auctions'|translate"></h4>
        <table class="table table-striped table-bordered">
          <thead>
          <tr>
            <th><span once-text="'Registration Number'|translate"></span></th>
            <th once-text="'Registration Date'|translate"></th>
            <th once-text="'Auction Class'|translate"></th>
            <th once-text="'Price'|translate"></th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="auction in auctionFinalizationData.auctions">
            <td>{{auction.registrationNumber}}</td>
            <td>{{auction.registrationDate  |date:'dd-MM-yyyy'}}</td>
            <td>{{auction.auctionClass['name'+lnC]}}</td>
            <td>{{auction.price}}</td>
          </tr>
          </tbody>
        </table>
      </div>


    </div>
  </div>
</div>
