<div class="window-extend-block" data-extend-template="app/common/templates/operation-window-layout.html">
  <div data-block="content" class="window-main-content">

    <table class="table table-striped table-hover table-responsive table-bordered">
      <tbody>
      <tr>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><b once-text="'Registration Number'|translate"></b></td>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6">{{taskData.registrationNumber}}</td>
      </tr>
      <tr>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><b once-text="'Registration Date'|translate"></b></td>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6">{{taskData.registrationDate |date: 'short'}}</td>
      </tr>
      <tr>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><b once-text="'Value Date'|translate"></b></td>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6">{{taskData.valueDate |date: 'short'}}</td>
      </tr>
      <tr>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><b once-text="'Comment'|translate"></b></td>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6">{{taskData.comment}}</td>
      </tr>
      <tr>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><b once-text="'Registration Authority Class'|translate"></b>
        </td>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6">{{taskData.registrationAuthorityClass['name'+lnC]}}</td>
      </tr>
      <tr>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><b once-text="'Auction Class'|translate"></b>
        </td>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6">{{taskData.auctionClass['name'+lnC]}}</td>
      </tr>
      </tbody>
    </table>
    <hr/>
    <h4 once-text="'Subject'|translate"></h4>

    <table class="table table-striped table-hover table-responsive table-bordered ">
      <thead>
      <th once-text="'Instrument'|translate"></th>
      <th once-text="'ISIN'|translate"></th>
      <th once-text="'Issuer'|translate"></th>

      </thead>
      <tbody>
      <tr>
        <td>{{taskData.instrument.instrumentName}}</td>
        <td>{{taskData.instrument.ISIN}}</td>
        <td>{{taskData.instrument.issuerName}}</td>

      </tr>
      </tbody>
    </table>
    <hr/>
    <h4 once-text="'Shareholders'|translate"></h4>

    <table class="table table-striped table-hover table-responsive table-bordered ">
      <thead>
      <th once-text="'Name'|translate"></th>
      <th once-text="'Quantity'|translate"></th>


      </thead>
      <tbody>
      <tr ng-repeat="person in taskData.items">
        <td>{{person.personData.name.nameAz}}</td>
        <td>{{person.quantity}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
