<div class="window-extend-block" data-extend-template="app/common/templates/operation-window-layout.html">
  <div data-block="content" class="window-main-content">
    <div role="form" ng-form="config.form.name" ng-submit="config.buttons.complete.click()">
      <div class="forms">

        <div class="form-group" ng-class="{ 'has-error':
                 (config.form.name.$submitted || config.form.name.registration_number.$touched)
                 &&(config.form.name.registration_number.$invalid)  }">

          <label class="form-labels"><span class="required-sign">*</span>
            <span once-text="'Registration Number'|translate"></span>:</label>

          <div class="form-inputs">
            <input type="text"
                   class="k-textbox"
                   name="registration_number"
                   ng-model="batchEntryData.registrationNumber"
                   ng-required="true">


            <div ng-show="config.form.name.$submitted || config.form.name.registration_number.$touched">
              <p ng-show="config.form.name.registration_number.$error.required"
                 class="help-block help-block-error">
                <span once-text="'This field is required'|translate"></span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="forms">
        <div class="form-group"
             ng-class="{ 'has-error': (config.form.name.$submitted || config.form.name.reg_auth_class.$touched)    &&(config.form.name.reg_auth_class.$invalid)  }">

          <label class="form-labels"><span class="required-sign">*</span>
            <span once-text="'Registration Authority Class'|translate"></span>:</label>

          <div class="form-inputs">
            <select
              name="reg_auth_class"
              ng-model="batchEntryData.registrationAuthorityClass"
              ng-required="true"
              >
              <option value="">---</option>
              <option
                value="{{cl|json}}"
                ng-repeat="cl in  metaData.registrationAuthorityClasses">{{cl['name'+lnC]}}
              </option>
            </select>

            <div ng-show="config.form.name.$submitted || config.form.name.reg_auth_class.$touched">
              <p ng-show="config.form.name.reg_auth_class.$error.required"
                 class="help-block help-block-error">
                <span once-text="'This field is required'|translate"></span>
              </p>
            </div>
          </div>
        </div>

      </div>
      <!--Reg num. ,reg auth-->
      <div class="forms">
        <div class="form-group" ng-class="{ 'has-error':
                 (config.form.name.$submitted || config.form.name.registration_date.$touched)
                 &&(config.form.name.registration_date.$invalid)  }">
          <label class="form-labels"><span class="required-sign">*</span>
            <span once-text="'Registration Date'|translate"></span>:</label>

          <div class="form-inputs">
            <input type="text"
                   class="datepicker-cst"
                   kendo-date-picker
                   name="registration_date"
                   ng-model="batchEntryData.registrationDate"
                   k-ng-model="batchEntryData.registrationDateObj"
                   ng-required="true"
              >

            <div ng-show="config.form.name.$submitted || config.form.name.registration_date.$touched">
              <p ng-show="config.form.name.registration_date.$error.required"
                 class="help-block help-block-error">
                <span once-text="'This field is required'|translate"></span>
              </p>

              <p ng-show="config.form.name.registration_date.$error.csmKendoDate"
                 class="help-block help-block-error">
                <span once-text="'Please enter a valid date!'|translate"></span>
              </p>
            </div>
          </div>
        </div>

      </div>
      <!-- Reg Date-->
      <div class="forms">
        <div class="form-group" ng-class="{ 'has-error':
                 (config.form.name.$submitted || config.form.name.value_date.$touched)
                 &&(config.form.name.value_date.$invalid)  }">
          <label class="form-labels"><span class="required-sign">*</span>
            <span once-text="'Value Date'|translate"></span>:</label>

          <div class="form-inputs">
            <input type="text"
                   class="datepicker-cst"
                   kendo-date-picker
                   name="value_date"
                   ng-model="batchEntryData.valueDate"
                   k-ng-model="batchEntryData.valueDateObj"
                   ng-required="true"
              >

            <div ng-show="config.form.name.$submitted || config.form.name.value_date.$touched">
              <p ng-show="config.form.name.value_date.$error.required"
                 class="help-block help-block-error">
                <span once-text="'This field is required'|translate"></span>
              </p>

              <p ng-show="config.form.name.value_date.$error.csmKendoDate"
                 class="help-block help-block-error">
                <span once-text="'Please enter a valid date!'|translate"></span>
              </p>
            </div>
          </div>
        </div>

      </div>
      <!-- Value Date-->
      <div class="forms">

        <div class="form-group" ng-class="{ 'has-error':
                 (config.form.name.$submitted || config.form.name.comment.$touched)
                 &&(config.form.name.comment.$invalid)  }">

          <label class="form-labels"><span class="required-sign">*</span>
            <span once-text="'Comment'|translate"></span>:</label>

          <div class="form-inputs">
                  <textarea
                    class="k-textbox"
                    name="comment"
                    cols="6"
                    rows="7"
                    ng-model="batchEntryData.comment"
                    ng-required="true"></textarea>

            <div ng-show="config.form.name.$submitted || config.form.name.comment.$touched">
              <p ng-show="config.form.name.comment.$error.required"
                 class="help-block help-block-error">
                <span once-text="'This field is required'|translate"></span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <!--Comment-->
      <div class="forms">
        <div class="form-group" ng-class="{ 'has-error':
                 (config.form.name.$submitted || config.form.name.entry_type.$touched)
                 &&(config.form.name.entry_type.$invalid)  }">

          <label class="form-labels"><span once-text="'Entry Type'|translate"></span>:</label>

          <div class="form-inputs">
            <select
              name="entry_type"
              ng-model="batchEntryData.entryType"
              ng-change="entryTypeChange()"
              ng-required="true"
              >
              <option value="">---</option>
              <option
                value="{{cl|json}}"
                ng-repeat="cl in  metaData.entryTypes">{{cl['name'+lnC]}}
              </option>
            </select>


            <div ng-show="config.form.name.$submitted || config.form.name.entry_type.$touched">
              <p ng-show="config.form.name.entry_type.$error.required"
                 class="help-block help-block-error">
                <span once-text="'This field is required'|translate"></span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="forms">
        <div class="form-group"
             ng-class="{ 'has-error': (config.form.name.$submitted || config.form.name.auction_classes.$touched)    &&(config.form.name.auction_classes.$invalid)  }">

          <label class="form-labels"><span class="required-sign">*</span>
            <span once-text="'Auction Class'|translate"></span>:</label>

          <div class="form-inputs">
            <select
              name="auction_classes"
              ng-model="batchEntryData.auctionClass"
              ng-required="true"
              >
              <option value="">---</option>
              <option
                value="{{cl|json}}"
                ng-repeat="cl in  metaData.auctionClasses">{{cl['name'+lnC]}}
              </option>
            </select>


            <div ng-show="config.form.name.$submitted || config.form.name.auction_classes.$touched">
              <p ng-show="config.form.name.auction_classes.$error.required"
                 class="help-block help-block-error">
                <span once-text="'This field is required'|translate"></span>
              </p>
            </div>
          </div>
        </div>

      </div>
      <fieldset ng-if="batchEntryData.entryTypeCode == metaData.entryTypeCodes.file" class="custom-fieldset">
        <h3 once-text="'Select Files'|translate" class="padding10"></h3>

        <div>
          <div class="col-md-3">
            <form enctype="multipart/form-data">
              <input type="file" nv-file-select="" uploader="uploader" multiple="true"/><br/>
            </form>
          </div>

          <div class="col-md-9" style="margin-bottom: 40px">
            <h3 once-text="'Files'"></h3>

            <p><span once-text="'Selected Files Count'|translate"></span>: {{ uploader.queue.length }}</p>

            <table class="table table-striped table-bordered">
              <thead>
              <tr>
                <th width="50%" once-text="'Name'|translate"></th>
                <th once-text="'Actions'|translate"></th>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="item in uploader.queue">
                <td><strong>{{ item.file.name }}</strong></td>
                <td nowrap>
                  <md-button type="button"
                             class="md-fab md-micro"
                             aria-label="trash button"
                             ng-click="item.remove()">
                    <i class="glyphicon glyphicon-trash micro-glyphicon"></i>
                    <md-tooltip>
                      <span once-text="'Remove'|translate"></span>
                    </md-tooltip>
                  </md-button>
                </td>
              </tr>
              </tbody>
            </table>
            <div>
              <md-button type="button"
                         class="md-fab md-micro"
                         aria-label="upload button"
                         ng-click="uploader.uploadAll()"
                         ng-disabled="!uploader.getNotUploadedItems().length">
                <i class="glyphicon glyphicon-upload micro-glyphicon"></i>
                <md-tooltip>
                  <span once-text="'Upload All'|translate"></span>
                </md-tooltip>
              </md-button>
              <md-button type="button"
                         class="md-fab md-micro" aria-label="circle button"
                         ng-click="uploader.cancelAll()"
                         ng-disabled="!uploader.isUploading">
                <i class="glyphicon glyphicon-ban-circle micro-glyphicon"></i>
                <md-tooltip>
                  <span once-text="'Cancel All'|translate"></span>
                </md-tooltip>
              </md-button>
              <md-button type="button"
                         class="md-fab md-micro"
                         aria-label="trash button"
                         ng-click="uploader.clearQueue()"
                         ng-disabled="!uploader.queue.length">
                <i class="glyphicon glyphicon-trash micro-glyphicon"></i>
                <md-tooltip>
                  <span once-text="'Remove All'|translate"></span>
                </md-tooltip>
              </md-button>
            </div>

          </div>

        </div>
      </fieldset>
      <!--File selection-->
      <div class="margin10">
        <h4 once-text="'Select Instrument'|translate"></h4>
        <table class="table table-striped table-bordered">
          <thead>
          <tr>
            <th><strong class="required-sign">*</strong> <strong once-text="'Instrument Code'|translate"></strong></th>
            <th once-text="'Issuer'|translate"></th>
            <th once-text="'Auction Price'|translate"></th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>
              <span ng-if="!batchEntryData.instrument.ISIN">......</span>
              <span>{{batchEntryData.instrument.ISIN}}</span>
              <input
                class="k-textbox"
                type="hidden"
                name="ISIN"
                disabled readonly
                ng-required="true"
                ng-model="batchEntryData.instrument.ISIN">

              <div ng-class="{ 'has-error': (config.form.name.$submitted
            || config.form.name['ISIN'].$touched)  &&(config.form.name['ISIN'].$invalid)  }"
                   ng-show="config.form.name.$submitted || config.form.name['ISIN'].$touched">
                <p ng-show="config.form.name['ISIN'].$error.required"
                   class="help-block help-block-error">
                  <span once-text="'This field is required'|translate"></span>
                </p>
              </div>
            </td>
            <td>
              <span ng-if="!batchEntryData.instrument.issuerName">......</span>
              <span>{{batchEntryData.instrument.issuerName}}</span>
              <input
                class="k-textbox"
                type="hidden"
                disabled readonly
                ng-model="batchEntryData.instrument.issuerName">

              <div ng-class="{ 'has-error': (config.form.name.$submitted
            || config.form.name['ISIN'].$touched)  &&(config.form.name['ISIN'].$invalid)  }"
                   ng-show="config.form.name.$submitted || config.form.name['ISIN'].$touched">
                <p ng-show="config.form.name['ISIN'].$error.required"
                   class="help-block help-block-error">
                  <span once-text="'This field is required'|translate"></span>
                </p>
              </div>
            </td>
            <td>
              <input
                class="k-textbox"
                type="number"
                name="price"
                min="0"
                ng-required="true"
                ng-model="batchEntryData.price">

              <div ng-class="{ 'has-error': (config.form.name.$submitted
            || config.form.name['price'].$touched)  &&(config.form.name['price'].$invalid)  }"
                   ng-show="config.form.name.$submitted || config.form.name['price'].$touched">
                <p ng-show="config.form.name['price'].$error.required"
                   class="help-block help-block-error">
                  <span once-text="'This field is required'|translate"></span>
                </p>

                <p ng-show="config.form.name['price'].$error.number"
                   class="help-block help-block-error">
                  <span once-text="'Wrong Number'|translate"></span>
                </p>

                <p ng-show="config.form.name['price'].$error.min"
                   class="help-block help-block-error">
                  <span once-text="'Wrong Number'|translate"></span>
                </p>
              </div>
            </td>
            <td>
              <md-button
                type="button"
                aria-label="search button"
                class="md-fab md-micro"
                ng-click="findInstrument($index)">
                <i class="glyphicon glyphicon-search micro-glyphicon"></i>
                <md-tooltip>
                  <span once-text="'Find Instrument'|translate"></span>
                </md-tooltip>
              </md-button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <!--Find instrument-->
      <div class="margin10" ng-if="batchEntryData.entryTypeCode == metaData.entryTypeCodes.manual">
        <h4 once-text="'Shareholders'|translate"></h4>
        <table class="table table-striped table-bordered">
          <thead>
          <tr>
            <th class="sortable-column " once-text="'Name'|translate"></th>
            <th class="sortable-column " once-text="'Quantity'|translate"></th>
            <th class="sortable-column " once-text="'Actions'|translate"></th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="item in  batchEntryData.items">
            <td>{{item.personData.name.nameAz}}</td>
            <td>

              <input type="number" min="1"
                     class="k-textbox"
                     ng-model="item.quantity"
                     name="instrument_quantity_{{$index}}"
                     ng-required="true"
                >

              <div class="has-error"
                   ng-show="config.form.name.$submitted || config.form.name['instrument_quantity_'+$index].$touched">
                <p ng-show="config.form.name['instrument_quantity_'+$index].$error.required"
                   class="help-block help-block-error">
                  <span once-text="'This field is required'|translate"></span>
                </p>

                <p ng-show="config.form.name['instrument_quantity_'+$index].$error.number"
                   class="help-block help-block-error">
                  <span once-text="'Wrong Number'|translate"></span>
                </p>

                <p ng-show="config.form.name['instrument_quantity_'+$index].$error.min"
                   class="help-block help-block-error">
                  <span once-text="'Wrong Number'|translate"></span>
                </p>

              </div>


            </td>

            <td>
              <div class="center-align">


                <md-button ng-show="!(item.accountData.ID>0)" class="md-micro md-fab"
                           aria-label="edit button"
                           ng-click="showRepresentativeUpdateForm($index,batchEntryData.items,data.representativeAddWindow)">
                  <span class="micro-glyphicon glyphicon glyphicon-edit"></span>
                  <md-tooltip><span once-text="'Edit Personal Details'|translate"></span></md-tooltip>
                </md-button>


                <md-button class="md-micro md-fab"
                           aria-label="delete button"
                           ng-click="removeRepresentative($index,batchEntryData.items)">
                  <span class="micro-glyphicon glyphicon glyphicon-trash"></span>
                  <md-tooltip><span once-text="'Delete'|translate"></span></md-tooltip>
                </md-button>

              </div>
            </td>
          </tr>
          </tbody>
            <tfoot>
            <tr ng-if="total_quantity > 0">
                <th>
                    <label class="form-labels" style="width: auto;display: block;float: none;">
                        <span once-text="'Total quantity'|translate"></span>:
                    </label>
                </th>
                <th>
                    <input class="k-textbox"
                           ng-model="total_quantity"
                           readonly>

                </th>
                <th></th>
            </tr>
            </tfoot>
        </table>
        <div class="row">
          <div class="col-lg-11">
            <div class="form-group">
              <md-button class="md-micro md-fab" ng-click="openWindow(data.representativeAddWindow)"
                         aria-label="search button">

                <i class="glyphicon glyphicon-plus micro-glyphicon"></i>
                <md-tooltip><span once-text="'Add New Shareholder'|translate"></span></md-tooltip>

              </md-button>

              <md-button class="md-micro md-fab" ng-click="findShareholder()"
                         aria-label="search button">

                <i class="glyphicon glyphicon-search micro-glyphicon"></i>
                <md-tooltip><span once-text="'Search Shareholder'|translate"></span></md-tooltip>

              </md-button>

            </div>
          </div>
        </div>
        <div kendo-window="data.representativeAddWindow"
             k-title="'Add New Shareholder'"

             k-modal="true"
             k-width="'80%'"
             k-height="'80%'"
             k-visible="false"
             k-on-close="resetRepresentativesBuffer(data.representativeAddWindow,data.config.formName)">
          <div ng-include="'app/person-account/templates/partials/np/representative_form.html'"></div>
        </div>

      </div>

      <div class="margin10" ng-if="batchEntryData.entryTypeCode == metaData.entryTypeCodes.file">
        <h4 once-text="'Shareholders'|translate"></h4>
        <table class="table table-striped table-bordered">
          <thead>
          <tr>
            <th class="sortable-column" once-text="'Quantity'|translate"></th>
            <th class="sortable-column" once-text="'Name'|translate"></th>
            <th class="sortable-column" once-text="'ID Document'|translate"></th>
            <th class="sortable-column" once-text="'Address'|translate"></th>
            <th class="sortable-column" once-text="'Phone Numbers'|translate"></th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="item in  batchEntryData.items">
            <td>
              {{item.quantity}}
            </td>
            <td>{{item.personData.name.nameAz}}</td>
            <td>
              <span ng-if="item.personData.registrationCertificate">
                 <pre>{{item.personData.registrationCertificate.series}} - {{item.personData.registrationCertificate.number}}  </pre>
              </span>
              <span ng-if="item.personData.idCard">
                 <pre>{{item.personData.idCard.series}} - {{item.personData.idCard.number}}</pre>
              </span>
                 <span ng-if="item.personData.otherDocuments.length && item.personData.otherDocuments[0]">
                 <pre>{{item.personData.otherDocuments[0].series}} - {{item.personData.otherDocuments[0].number}}</pre>
              </span>
            </td>
            <td>
              <span>{{item.personData.legalAddress.plainAddressAz}}</span>
            </td>
            <td>
              <ul>
                <li ng-repeat="phoneNumber in item.accountData.phoneNumbers">
                  <pre>{{phoneNumber.number}} </pre>
                </li>
              </ul>
            </td>
          </tr>
          </tbody>
            <tfoot>
            <tr ng-if="total_quantity > 0">
                <th>
                    <label class="form-labels" style="width: auto;display: block;float: none;">
                        <span once-text="'Total quantity'|translate"></span>:
                    </label>
                </th>
                <th>
                    <input class="k-textbox"
                           ng-model="total_quantity"
                           readonly>

                </th>
                <th></th>
            </tr>
            </tfoot>
        </table>
      </div>
    </div>
  </div>
</div>
