<div class="window-extend-block" data-extend-template="app/common/templates/operation-window-layout.html">
  <div data-block="content" class="window-main-content">

    <div role="form" ng-form="config.form.name" ng-submit="config.buttons.complete.click()">

      <div class="forms">

        <div class="form-group" ng-class="{ 'has-error':
                 (config.form.name.$submitted || config.form.name.registration_number.$touched)
                 &&(config.form.name.registration_number.$invalid)  }">

          <label class="form-labels"><span class="required-sign">*</span>
            <span once-text="'Registration Number'|translate"></span>:</label>

          <div class="form-inputs">
            <input type="text"
                   class="k-textbox"
                   name="registration_number"
                   ng-model="batchEntryData.registrationNumber"
                   ng-required="true">


            <div ng-show="config.form.name.$submitted || config.form.name.registration_number.$touched">
              <p ng-show="config.form.name.registration_number.$error.required"
                 class="help-block help-block-error">
                <span once-text="'This field is required'|translate"></span>
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="forms">
        <div class="form-group"
             ng-class="{ 'has-error': (config.form.name.$submitted || config.form.name.reg_auth_class.$touched)    &&(config.form.name.reg_auth_class.$invalid)  }">

          <label class="form-labels"><span class="required-sign">*</span>
            <span once-text="'Registration Authority Class'|translate"></span>:</label>

          <div class="form-inputs">
            <select
              name="reg_auth_class"
              ng-model="batchEntryData.registrationAuthorityClass"
              ng-required="true"
              >
              <option value="">---</option>
              <option
                value="{{cl|json}}"
                ng-repeat="cl in  metaData.registrationAuthorityClasses">{{cl['name'+lnC]}}
              </option>
            </select>


            <div ng-show="config.form.name.$submitted || config.form.name.reg_auth_class.$touched">
              <p ng-show="config.form.name.reg_auth_class.$error.required"
                 class="help-block help-block-error">
                <span once-text="'This field is required'|translate"></span>
              </p>
            </div>
          </div>
        </div>

      </div>

      <!--Reg num. ,reg auth-->
      <div class="forms">
        <div class="form-group" ng-class="{ 'has-error':
                 (config.form.name.$submitted || config.form.name.registration_date.$touched)
                 &&(config.form.name.registration_date.$invalid)  }">
          <label class="form-labels"><span class="required-sign">*</span>
            <span once-text="'Registration Date'|translate"></span>:</label>

          <div class="form-inputs">
            <input type="text"
                   class="datepicker-cst"
                   kendo-date-picker
                   name="registration_date"
                   ng-model="batchEntryData.registrationDate"
                   k-ng-model="batchEntryData.registrationDateObj"
                   ng-required="true"
              >

            <div ng-show="config.form.name.$submitted || config.form.name.registration_date.$touched">
              <p ng-show="config.form.name.registration_date.$error.required"
                 class="help-block help-block-error">
                <span once-text="'This field is required'|translate"></span>
              </p>

              <p ng-show="config.form.name.registration_date.$error.csmKendoDate"
                 class="help-block help-block-error">
                <span once-text="'Please enter a valid date!'|translate"></span>
              </p>
            </div>
          </div>
        </div>

      </div>
      <div class="forms">
        <div class="form-group" ng-class="{ 'has-error':
                 (config.form.name.$submitted || config.form.name.value_date.$touched)
                 &&(config.form.name.value_date.$invalid)  }">
          <label class="form-labels"><span class="required-sign">*</span>
            <span once-text="'Value Date'|translate"></span>:</label>

          <div class="form-inputs">
            <input type="text"
                   class="datepicker-cst"
                   kendo-date-picker
                   name="value_date"
                   ng-model="batchEntryData.valueDate"
                   k-ng-model="batchEntryData.valueDateObj"
                   ng-required="true"
              >

            <div ng-show="config.form.name.$submitted || config.form.name.value_date.$touched">
              <p ng-show="config.form.name.value_date.$error.required"
                 class="help-block help-block-error">
                <span once-text="'This field is required'|translate"></span>
              </p>

              <p ng-show="config.form.name.value_date.$error.csmKendoDate"
                 class="help-block help-block-error">
                <span once-text="'Please enter a valid date!'|translate"></span>
              </p>
            </div>
          </div>
        </div>

      </div>
      <div class="forms">

        <div class="form-group" ng-class="{ 'has-error':
                 (config.form.name.$submitted || config.form.name.comment.$touched)
                 &&(config.form.name.comment.$invalid)  }">

          <label class="form-labels"><span class="required-sign">*</span>
            <span once-text="'Comment'|translate"></span>:</label>

          <div class="form-inputs">
                  <textarea
                    class="k-textbox"
                    name="comment"
                    cols="6"
                    rows="7"
                    ng-model="batchEntryData.comment"
                    ng-required="true"></textarea>

            <div ng-show="config.form.name.$submitted || config.form.name.comment.$touched">
              <p ng-show="config.form.name.comment.$error.required"
                 class="help-block help-block-error">
                <span once-text="'This field is required'|translate"></span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <!--Reg date,Record date-->

      <div class="margin10">

        <h4 once-text="'Select Instrument'|translate"></h4>
        <table class="table table-striped table-bordered">
          <thead>
          <tr>
            <th><strong class="required-sign">*</strong> <strong once-text="'Instrument Code'|translate"></strong></th>
            <th once-text="'Issuer'|translate"></th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>
              <span ng-if="!batchEntryData.instrument.ISIN">......</span>
              <span>{{batchEntryData.instrument.ISIN}}</span>
              <input
                class="k-textbox"
                type="hidden"
                name="ISIN"
                disabled readonly
                ng-required="true"
                ng-model="batchEntryData.instrument.ISIN">

              <div ng-class="{ 'has-error': (config.form.name.$submitted
            || config.form.name['ISIN'].$touched)  &&(config.form.name['ISIN'].$invalid)  }"
                   ng-show="config.form.name.$submitted || config.form.name['ISIN'].$touched">
                <p ng-show="config.form.name['ISIN'].$error.required"
                   class="help-block help-block-error">
                  <span once-text="'This field is required'|translate"></span>
                </p>
              </div>
            </td>
            <td>
              <span ng-if="!batchEntryData.instrument.issuerName">......</span>
              <span>{{batchEntryData.instrument.issuerName}}</span>
              <input
                class="k-textbox"
                type="hidden"
                disabled readonly
                ng-model="batchEntryData.instrument.issuerName">

              <div ng-class="{ 'has-error': (config.form.name.$submitted
            || config.form.name['ISIN'].$touched)  &&(config.form.name['ISIN'].$invalid)  }"
                   ng-show="config.form.name.$submitted || config.form.name['ISIN'].$touched">
                <p ng-show="config.form.name['ISIN'].$error.required"
                   class="help-block help-block-error">
                  <span once-text="'This field is required'|translate"></span>
                </p>
              </div>
            </td>
            <td>
              <md-button
                type="button"
                aria-label="search button"
                class="md-fab md-micro"
                ng-click="findInstrument($index)">
                <i class="glyphicon glyphicon-search micro-glyphicon"></i>
                <md-tooltip>
                  <span once-text="'Find Instrument'|translate"></span>
                </md-tooltip>
              </md-button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <!--Find instrument-->

      <div class="margin10">
        <h4 once-text="'Shareholders'|translate"></h4>
        <table class="table table-striped table-bordered">
          <thead>
          <tr>
            <th class="sortable-column " once-text="'Name'|translate"></th>
            <th class="sortable-column " once-text="'Quantity'|translate"></th>
            <th class="sortable-column " once-text="'Actions'|translate"></th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="item in  batchEntryData.items">
            <td>{{item.personData.name.nameAz}}</td>
            <td>

              <input type="number" min="1"
                     class="k-textbox"
                     ng-model="item.quantity"
                     name="instrument_quantity_{{$index}}"
                     ng-required="true"
                >

              <div class="has-error"
                   ng-show="config.form.name.$submitted || config.form.name['instrument_quantity_'+$index].$touched">
                <p ng-show="config.form.name['instrument_quantity_'+$index].$error.required"
                   class="help-block help-block-error">
                  <span once-text="'This field is required'|translate"></span>
                </p>

                <p ng-show="config.form.name['instrument_quantity_'+$index].$error.number"
                   class="help-block help-block-error">
                  <span once-text="'Wrong Number'|translate"></span>
                </p>

                <p ng-show="config.form.name['instrument_quantity_'+$index].$error.min"
                   class="help-block help-block-error">
                  <span once-text="'Wrong Number'|translate"></span>
                </p>

              </div>


            </td>

            <td>
              <div class="center-align">


                <md-button ng-show="!(item.accountData.ID>0)" class="md-micro md-fab"
                           aria-label="edit button"
                           ng-click="showRepresentativeUpdateForm($index,batchEntryData.items,data.representativeAddWindow)">
                  <span class="micro-glyphicon glyphicon glyphicon-edit"></span>
                  <md-tooltip><span once-text="'Edit Personal Details'|translate"></span></md-tooltip>
                </md-button>
                <md-button class="md-micro md-fab"
                           aria-label="delete button"
                           ng-click="removeRepresentative($index,batchEntryData.items)">
                  <span class="micro-glyphicon glyphicon glyphicon-trash"></span>
                  <md-tooltip><span once-text="'Delete'|translate"></span></md-tooltip>
                </md-button>

              </div>
            </td>
          </tr>
          </tbody>
        </table>
        <div class="row">
          <div class="col-lg-11">
            <div class="form-group">
              <md-button class="md-micro md-fab" ng-click="openWindow(data.representativeAddWindow)"
                         aria-label="search button">
                <i class="glyphicon glyphicon-plus micro-glyphicon"></i>
                <md-tooltip><span once-text="'Add New Shareholder'|translate"></span></md-tooltip>
              </md-button>
              <md-button class="md-micro md-fab" ng-click="findShareholder()"
                         aria-label="search button">
                <i class="glyphicon glyphicon-search micro-glyphicon"></i>
                <md-tooltip><span once-text="'Search Shareholder'|translate"></span></md-tooltip>
              </md-button>
            </div>
          </div>
        </div>
        <div kendo-window="data.representativeAddWindow"
             k-title="'Add New Shareholder'"
             k-modal="true"
             k-width="'80%'"
             k-height="'80%'"
             k-visible="false"
             k-on-close="resetRepresentativesBuffer(data.representativeAddWindow,data.config.formName)">
          <div ng-include="'app/person-account/templates/partials/np/representative_form.html'"></div>
        </div>
      </div>
    </div>
  </div>
</div>
