<div class="window-extend-block" data-extend-template="app/common/templates/operation-window-layout.html">
  <div data-block="content" class="window-main-content">
    <div
      role="form"
      ng-form="config.form.name"
      ng-submit="config.buttons.complete.click()">

      <div class="title-transfer-forms">
        <div class="form-group" ng-class="{ 'has-error':
                 (config.form.name.$submitted || config.form.name.record_number.$touched)
                 &&(config.form.name.record_number.$invalid)  }">

          <label class="form-labels"><span class="required-sign">*</span><span
            once-text="'Registration Number'|translate"></span>:</label>

          <div class="form-inputs">
            <input type="text"
                   class="k-textbox"
                   name="record_number"
                   ng-model="otcTrade.registrationNumber"
                   ng-required="true">

            <div ng-show="config.form.name.$submitted || config.form.name.record_number.$touched">
              <p ng-show="config.form.name.record_number.$error.required"
                 class="help-block help-block-error">
                <span once-text="'This field is required'|translate"></span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="title-transfer-forms">
        <div class="form-group" ng-class="{ 'has-error':
                 (config.form.name.$submitted || config.form.name.record_date.$touched)
                 &&(config.form.name.record_date.$invalid)  }">
          <label class="form-labels"><span class="required-sign">*</span><span
            once-text="'Registration Date'|translate"></span>:</label>

          <div class="form-inputs">
            <input type="text"
                   class="datepicker-cst"
                   kendo-date-picker
                   name="record_date"
                   ng-model="otcTrade.registrationDate"
                   k-ng-model="otcTrade.registrationDateObj"
                   ng-required="true"
              >

            <div ng-show="config.form.name.$submitted || config.form.name.record_date.$touched">
              <p ng-show="config.form.name.record_date.$error.required"
                 class="help-block help-block-error">
                <span once-text="'This field is required'|translate"></span>
              </p>

              <p ng-show="config.form.name.record_date.$error.csmKendoDate"
                 class="help-block help-block-error">
                <span once-text="'Please enter a valid date!'|translate"></span>
              </p>
            </div>
          </div>
        </div>

      </div>
      <div class="title-transfer-forms">
        <div class="form-group"
             ng-class="{ 'has-error':
                 (config.form.name.$submitted || config.form.name.value_date.$touched)
                 &&(config.form.name.value_date.$invalid)  }">
          <label class="form-labels">Müqavilənin tarixi:</label>

          <div class="form-inputs">
            <input type="text"
                   class="datepicker-cst inline-block"
                   kendo-date-picker
                   name="value_date"
                   ng-model="otcTrade.valueDate"
                   k-ng-model="otcTrade.valueDateObj"
                   ng-required="false"
              >
             <span tooltip-placement="left"
                   uib-tooltip-html="'Value date will be the same as record date if not provided.'|translate">
               <span class="glyphicon glyphicon-question-sign glyphicon-question-sign-style"></span>
            </span>

            <div ng-show="config.form.name.$submitted || config.form.name.value_date.$touched">
              <p ng-show="config.form.name.value_date.$error.required"
                 class="help-block help-block-error">
                <span once-text="'This field is required'|translate"></span>
              </p>

              <p ng-show="config.form.name.value_date.$error.csmKendoDate"
                 class="help-block help-block-error">
                <span once-text="'Please enter a valid date!'|translate"></span>
              </p>
            </div>
          </div>
        </div>

      </div>
      <div class="title-transfer-forms">

        <div class="form-group" ng-class="{ 'has-error':
                 (config.form.name.$submitted || config.form.name.comment.$touched)
                 &&(config.form.name.comment.$invalid)  }">

          <label class="form-labels">
            <span class="required-sign">*</span>
            <span once-text="'Comment'|translate"></span>:</label>

          <div class="form-inputs">
                  <textarea
                    class="k-textbox"
                    name="comment"
                    cols="6"
                    rows="7"
                    ng-model="otcTrade.comment"
                    ng-required="true"></textarea>

            <div ng-show="config.form.name.$submitted || config.form.name.comment.$touched">
              <p ng-show="config.form.name.comment.$error.required"
                 class="help-block help-block-error">
                <span once-text="'This field is required'|translate"></span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <!--Comment-->
      <div class="title-transfer-forms">
        <div class="form-group" ng-class="{ 'has-error':
                 (config.form.name.$submitted || config.form.name.reg_auth_class.$touched)
                 &&(config.form.name.reg_auth_class.$invalid)  }">

          <label class="form-labels"><span class="required-sign">*</span>
            <span once-text="'Registration Authority Class'|translate"></span>:</label>

          <div class="form-inputs">
            <select
              name="reg_auth_class"
              ng-model="otcTrade.registrationAuthorityClass"
              ng-required="true"
              >
              <option value="">---</option>
              <option
                value="{{cl|json}}"
                ng-repeat="cl in  metaData.registrationAuthorityClasses">{{cl['name'+lnC]}}
              </option>
            </select>

            <div ng-show="config.form.name.$submitted || config.form.name.reg_auth_class.$touched">
              <p ng-show="config.form.name.reg_auth_class.$error.required"
                 class="help-block help-block-error">
                <span once-text="'This field is required'|translate"></span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <!--Reg Auth-->
      <div class="title-transfer-forms">
        <div class="inline-block">
          <table class="table table-striped table-bordered">
            <thead>
            <tr>
              <th>
                <strong class="required-sign">*</strong>
                <strong once-text="'Seller'|translate"></strong>
              </th>
              <th once-text="'Account Number'|translate"></th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td class="table-td-overflow">
                <span ng-if="!otcTrade.seller.name">......</span>
                <span> {{otcTrade.seller.name}}</span>
                <input
                  type="hidden"
                  name="seller"
                  ng-required="true"
                  ng-model="otcTrade.seller.name">

                <div ng-class="{ 'has-error':config.form.name.$submitted &&(config.form.name.seller.$invalid)}"
                     ng-show="config.form.name.$submitted">
                  <p ng-show="config.form.name.seller.$error.required"
                     class="help-block help-block-error">
                    <span once-text="'You have to select seller!'|translate"></span>
                  </p>
                </div>

              </td>
              <td>
                <span ng-if="!otcTrade.seller.accountNumber">......</span>
                <span> {{otcTrade.seller.accountNumber}}</span>
              </td>
              <td>
                <md-button class="md-fab md-micro"
                           aria-label="Mini FAB"
                           ng-click="findSeller()">
                  <i class="glyphicon glyphicon-search micro-glyphicon"></i>
                  <md-tooltip>
                    <span once-text="'Find Transferer'|translate"></span>
                  </md-tooltip>

                </md-button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="inline-block">

          <table class="table table-striped table-bordered">
            <thead>
            <tr>
              <th>
                <strong once-text="'Seller Broker'|translate"></strong>
              </th>
              <th once-text="'Account Number'|translate"></th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td class="table-td-overflow">
                <span ng-if="!otcTrade.brokerSeller.name">......</span>
                <span> {{otcTrade.brokerSeller.name}}</span>
                <input
                  type="hidden"
                  name="broker_seller"
                  ng-required="false"
                  ng-model="otcTrade.brokerSeller.name">

                <div ng-class="{ 'has-error':config.form.name.$submitted &&(config.form.name.broker_seller.$invalid)}"
                     ng-show="config.form.name.$submitted">
                  <p ng-show="config.form.name.broker_seller.$error.required"
                     class="help-block help-block-error">
                    <span once-text="'You have to select seller broker!'|translate"></span>
                  </p>
                </div>

              </td>
              <td>
                <span ng-if="!otcTrade.brokerSeller.accountNumber">......</span>
                <span> {{otcTrade.brokerSeller.accountNumber}}</span>
              </td>
              <td>
                <md-button class="md-fab md-micro"
                           aria-label="Mini FAB"
                           ng-click="findSellerBroker()">
                  <i class="glyphicon glyphicon-search micro-glyphicon"></i>
                  <md-tooltip>
                    <span once-text="'Find Seller Broker'|translate"></span>
                  </md-tooltip>

                </md-button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!--Seller-->
      <div class="title-transfer-forms">
        <div class="inline-block">
          <table class="table table-striped table-bordered">
            <thead>
            <tr>
              <th>
                <strong class="required-sign">*</strong>
                <strong once-text="'Buyer'|translate"></strong>
              </th>
              <th once-text="'Account Number'|translate"></th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td class="table-td-overflow">
                <span ng-if="!otcTrade.buyer.name">......</span>
                <span> {{otcTrade.buyer.name}}</span>
                <input
                  type="hidden"
                  name="buyer"
                  ng-required="true"
                  ng-model="otcTrade.buyer.name">

                <div ng-class="{ 'has-error':config.form.name.$submitted &&(config.form.name.buyer.$invalid)}"
                     ng-show="config.form.name.$submitted">
                  <p ng-show="config.form.name.buyer.$error.required"
                     class="help-block help-block-error">
                    <span once-text="'You have to select buyer!'|translate"></span>
                  </p>
                </div>

              </td>
              <td>
                <span ng-if="!otcTrade.buyer.accountNumber">......</span>
                <span> {{otcTrade.buyer.accountNumber}}</span>
              </td>
              <td>
                <md-button class="md-fab md-micro"
                           aria-label="Mini FAB"
                           ng-click="findBuyer()">
                  <i class="glyphicon glyphicon-search micro-glyphicon"></i>
                  <md-tooltip>
                    <span once-text="'Find Transferer'|translate"></span>
                  </md-tooltip>

                </md-button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="inline-block">

          <table class="table table-striped table-bordered">
            <thead>
            <tr>
              <th>
                <strong once-text="'Buyer Broker'|translate"></strong>
              </th>
              <th once-text="'Account Number'|translate"></th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td class="table-td-overflow">
                <span ng-if="!otcTrade.brokerBuyer.name">......</span>
                <span> {{otcTrade.brokerBuyer.name}}</span>
                <input
                  type="hidden"
                  name="broker_buyer"
                  ng-required="false"
                  ng-model="otcTrade.brokerBuyer.name">

                <div ng-class="{ 'has-error':config.form.name.$submitted &&(config.form.name.broker_buyer.$invalid)}"
                     ng-show="config.form.name.$submitted">
                  <p ng-show="config.form.name.broker_buyer.$error.required"
                     class="help-block help-block-error">
                    <span once-text="'You have to select buyer broker!'|translate"></span>
                  </p>
                </div>

              </td>
              <td>
                <span ng-if="!otcTrade.brokerBuyer.accountNumber">......</span>
                <span> {{otcTrade.brokerBuyer.accountNumber}}</span>
              </td>
              <td>
                <md-button class="md-fab md-micro"
                           aria-label="Mini FAB"
                           ng-click="findBuyerBroker()">
                  <i class="glyphicon glyphicon-search micro-glyphicon"></i>
                  <md-tooltip>
                    <span once-text="'Find Buyer Broker'|translate"></span>
                  </md-tooltip>

                </md-button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!--Buyer-->
      <div class="title-transfer-forms">
        <table class="table table-striped table-bordered">
          <thead>
          <tr>
            <th><span class="required-sign">*</span> <span once-text="'Instrument'|translate"></span></th>
            <th once-text="'ISIN'|translate"></th>
            <th once-text="'Quantity'|translate"></th>
            <th once-text="'Price'|translate"></th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td class="table-td-overflow">

              <span ng-if="!otcTrade.subject.instrument.instrumentName">......</span>
              <span> {{otcTrade.subject.instrument.instrumentName}}</span>
              <md-button

                class="md-fab md-micro"
                aria-label="Mini FAB"
                ng-click="findInstrument()">
                <i class="glyphicon glyphicon-search micro-glyphicon"></i>
                <md-tooltip>
                  <span once-text="'Find Instrument'|translate"></span>
                </md-tooltip>

              </md-button>
              <input type="hidden" name="ISIN" ng-required="true" ng-model="otcTrade.subject.instrument.ISIN">

              <div
                class="has-error"
                ng-show="config.form.name.$submitted ">
                <p ng-show="config.form.name['ISIN'].$error.required"
                   class="help-block help-block-error">
                  <span once-text="'You have to select instrument!'|translate"></span>
                </p>
              </div>
            </td>
            <td>
              <span ng-if="!otcTrade.subject.instrument.ISIN">......</span>
              <span> {{otcTrade.subject.instrument.ISIN}}</span>


            </td>
            <td class="input-width">
              <input type="number" min="1" class="k-textbox"
                     ng-model="otcTrade.subject.quantity"
                     name="instrument_quantity"
                     ng-required="true">

              <div class="has-error"
                   ng-show="config.form.name.$submitted || config.form.name['instrument_quantity'].$touched ">
                <p ng-show="config.form.name['instrument_quantity'].$error.required"
                   class="help-block help-block-error">
                  <span once-text="'This field is required'|translate"></span>
                </p>

                <p ng-show="config.form.name['instrument_quantity'].$error.min"
                   class="help-block help-block-error">
                  <span once-text="'Wrong Number!'|translate"></span>
                </p>
              </div>
            </td>
            <td class="input-width">
              <input type="number" min="0" class="k-textbox"
                     ng-model="otcTrade.subject.price"
                     name="instrument_price"
                     ng-required="false">

              <div class="has-error"
                   ng-show="config.form.name.$submitted || config.form.name['instrument_price'].$touched ">
                <p ng-show="config.form.name['instrument_price'].$error.required"
                   class="help-block help-block-error">
                  <span once-text="'This field is required'|translate"></span>
                </p>

                <p ng-show="config.form.name['instrument_price'].$error.min"
                   class="help-block help-block-error">
                  <span once-text="'Wrong Number!'|translate"></span>
                </p>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
