<div class="window-extend-block" data-extend-template="app/common/templates/operation-window-layout.html">
  <div data-block="content" class="window-main-content">


    <div role="form" ng-form="config.form.name" ng-submit="config.buttons.complete.click()">


      <div class="forms">
        <div class="form-group">
          <label class="form-labels">
            <span style="margin-top: 4px;">Əməliyyat ID</span>:</label>

          <div class="form-inputs">
            <span>{{ data.operationID }}</span>
          </div>

        </div>
      </div>

      <div class="forms">
        <div class="form-group">
          <label class="form-labels">Yaranma tarixi:</label>

          <div class="form-inputs">
            <span>{{ data.creationDate | date:'short' }}</span>
          </div>

        </div>
      </div>

      <div class="forms">
        <div class="form-group">
          <label class="form-labels">
            <span>Əməliyyatı başlayanın istifadəçi</span>:</label>

          <div class="form-inputs">
            <span>{{ data.taskCreator }}</span>
          </div>

        </div>
      </div>
      <div class="forms">
        <div class="form-group">
          <label class="form-labels">
            <span>Əməliyyatın adı</span>:</label>

          <div class="form-inputs">
            <span>{{ data.operationName }}</span>
          </div>

        </div>
      </div>

      <div class="forms">
        <div class="form-group">
          <label class="form-labels">
            <span once-text="'Short Description'|translate"></span>:</label>

          <div class="form-inputs" style="width:300px;">
            <span>{{ data.shortDescription }}</span>
          </div>

        </div>
      </div>

      <div class="forms">
        <div class="form-group">
          <label class="form-labels">
            <span once-text="'Note'|translate"></span>:</label>

          <div class="form-inputs">
            <span>{{  data.comment }} </span>
          </div>

        </div>
      </div>


    </div>

  </div>

</div>
