<div class="window-extend-block" data-extend-template="app/common/templates/operation-window-layout.html">
  <div data-block="content" class="window-main-content">


    <div role="form" ng-form='config.form.name' ng-submit="config.buttons.complete.click()">

      <div class="min-width-470">
        <div class="form-group">
          <label class="form-labels">Əməliyyat ID:</label>

          <div class="form-inputs">

            <input type="text" ng-model="data.operationID" class="k-textbox" csm-enter="searchOperation()">

            <button class="btn btn-sm btn-default" ng-click="searchOperation()">Axtar</button>
          </div>
        </div>
        <div class="form-group">
          <label class="form-labels" style="line-height: 48px;">Axtar:</label>
          <div class="form-inputs">
            <button class="md-fab md-micro md-button ng-scope md-ink-ripple" ng-click="searchIncompletedOperation()">
              <i class="glyphicon glyphicon-search micro-glyphicon"></i>
              <div class="md-ripple-container"></div>
            </button>
          </div>
        </div>
      </div>

      <div ng-show="operationInfo.creationDate">
        <div class="forms">
          <div class="form-group">
            <label class="form-labels">Yaranma tarixi:</label>

            <div class="form-inputs">
              <span>{{ operationInfo.creationDate | amDateFormat : 'DD-MMMM-YYYY HH:mm'}}</span>
            </div>

          </div>
        </div>

        <div class="forms">
          <div class="form-group">
            <label class="form-labels">
              <span>Əməliyyatı başlayanın istifadəçi</span>:</label>

            <div class="form-inputs">
              <span>{{ operationInfo.taskCreator }}</span>
            </div>

          </div>
        </div>

        <div class="forms">
          <div class="form-group">
            <label class="form-labels">
              <span> Əməliyyatın adı</span>:</label>

            <div class="form-inputs">
              <span>{{ operationInfo.operationName }}</span>
            </div>

          </div>
        </div>

        <div class="forms">
          <div class="form-group">
            <label class="form-labels">
              <span once-text="'Short Description'|translate"></span>:</label>

            <div class="form-inputs" style="width:300px;">
              <span>{{ operationInfo.shortDescription }}</span>
            </div>

          </div>
        </div>

        <div class="forms">
          <div class="form-group">
            <label class="form-labels">
              <span once-text="'Note'|translate"></span>:</label>

            <div class="form-inputs">
              <textarea class="k-textbox" ng-model="data.comment"></textarea>
            </div>

          </div>
        </div>

      </div>

      <div ng-show="errorMessage" class="text-center text-danger">
        {{ errorMessage }}
      </div>


    </div>

  </div>

</div>
