<div class="window-extend-block" data-extend-template="app/common/templates/operation-window-layout.html">
    <div data-block="content" class="window-main-content">
        <div
                role="form"
                ng-form="config.form.name.titleTransfer"
                ng-submit="config.buttons.complete.click()">


            <md-radio-group ng-model="taskData.correctionType" layout="row">
            <md-radio-button value="titleTransferChange" class="md-primary"><span once-text="'Title transfer'|translate"></span></md-radio-button>
            <md-radio-button value="instrumentDataChange" class="md-primary"><span once-text="'Instrument data change'|translate"></span></md-radio-button>
            </md-radio-group>

            <div ng-if="taskData.correctionType == 'titleTransferChange'" class="title-transfer-change">

                <div class="title-transfer-forms">

                    <div class="form-group" ng-class="{ 'has-error':
                 (config.form.name.$submitted || config.form.name.comment.$touched)
                 &&(config.form.name.comment.$invalid)  }">

                        <label class="form-labels">
                            <span class="required-sign">*</span>
                            <span once-text="'Comment'|translate"></span>:</label>

                        <div class="form-inputs">
                  <textarea
                          class="k-textbox"
                          name="comment"
                          cols="6"
                          rows="7"
                          ng-model="grant.comment"
                          ng-required="true"></textarea>

                            <div ng-show="config.form.name.$submitted || config.form.name.comment.$touched">
                                <p ng-show="config.form.name.comment.$error.required"
                                   class="help-block help-block-error">
                                    <span once-text="'This field is required'|translate"></span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="title-transfer-forms">
                    <table class="table table-striped table-bordered">
                        <thead>
                        <tr>
                            <th>
                                <strong class="required-sign">*</strong>
                                <strong ng-if="!isGrantOperation" once-text="'Transferer'|translate"></strong>
                                <strong ng-if="isGrantOperation" once-text="'Grantor'|translate"></strong>
                            </th>
                            <th once-text="'Account Number'|translate"></th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>
                                <span ng-if="!grant.owner.name">......</span>
                                <span> {{grant.owner.name}}</span>
                                <input
                                        type="hidden"
                                        name="owner"
                                        ng-required="true"
                                        ng-model="grant.owner.name">

                                <div ng-class="{ 'has-error':config.form.name.$submitted &&(config.form.name.owner.$invalid)}"
                                     ng-show="config.form.name.$submitted">
                                    <p ng-show="config.form.name.owner.$error.required"
                                       class="help-block help-block-error">
                                        <span once-text="'You have to select transferer!'|translate"></span>
                                    </p>
                                </div>

                            </td>
                            <td>
                                <span ng-if="!grant.owner.accountNumber">......</span>
                                <span> {{grant.owner.accountNumber}}</span>
                            </td>
                            <td>
                                <md-button class="md-fab md-micro"
                                           aria-label="Mini FAB"
                                           ng-click="findOwner()">
                                    <i class="glyphicon glyphicon-search micro-glyphicon"></i>
                                    <md-tooltip>
                                        <span once-text="'Find Transferer'|translate"></span>
                                    </md-tooltip>

                                </md-button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div class="title-transfer-forms">
                    <table class="table table-striped table-bordered">
                        <thead>
                        <tr>
                            <th>
                                <strong class="required-sign">*</strong>
                                <strong ng-if="!isGrantOperation" once-text="'Transferee'|translate"></strong>
                                <strong ng-if="isGrantOperation" once-text="'Grantee'|translate"></strong>
                            </th>
                            <th once-text="'Account Number'|translate"></th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>
                                <span ng-if="!grant.receiver.name">......</span>
                                <span>{{grant.receiver.name}}</span>
                                <input
                                        type="hidden"
                                        name="receiver"
                                        ng-required="true"
                                        ng-model="grant.receiver.name">

                                <div ng-class="{ 'has-error':config.form.name.$submitted &&(config.form.name.receiver.$invalid)}"
                                     ng-show="config.form.name.$submitted">
                                    <p ng-show="config.form.name.receiver.$error.required"
                                       class="help-block help-block-error">
                                        <span once-text="'You have to select transferee!'|translate"></span>
                                    </p>
                                </div>

                            </td>
                            <td>
                                <span ng-if="!grant.receiver.accountNumber">......</span>
                                <span>{{grant.receiver.accountNumber}}</span>
                            </td>
                            <td>
                                <md-button class="md-fab md-micro"
                                           aria-label="Mini FAB"
                                           ng-click="findReceiver()">
                                    <i class="glyphicon glyphicon-search micro-glyphicon"></i>
                                    <md-tooltip>
                                        <span once-text="'Find Transferee'|translate"></span>
                                    </md-tooltip>

                                </md-button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>


                <div class="title-transfer-forms">
                    <hr/>
                    <h5 once-text="'Titles'|translate"></h5>
                    <table class="table table-striped table-bordered">
                        <thead>
                        <tr>
                            <th><span class="required-sign">*</span> <span once-text="'Instrument'|translate"></span></th>

                            <th once-text="'ISIN'|translate"></th>
                            <th once-text="'Quantity'|translate"></th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr data-ng-repeat="subject in grant.subjects">
                            <td>

                                <span ng-if="!subject.instrument.instrumentName">......</span>
                                <span> {{subject.instrument.instrumentName}}</span>
                                <md-button

                                        class="md-fab md-micro"
                                        aria-label="Mini FAB"
                                        ng-click="findInstrument($index)">
                                    <i class="glyphicon glyphicon-search micro-glyphicon"></i>
                                    <md-tooltip>
                                        <span once-text="'Find Instrument'|translate"></span>
                                    </md-tooltip>

                                </md-button>
                                <input

                                        type="hidden"
                                        name="ISIN_{{$index}}"
                                        ng-required="true"
                                        ng-model="subject.instrument.ISIN">

                                <div
                                        class="has-error"
                                        ng-show="config.form.name.$submitted ">
                                    <p ng-show="config.form.name['ISIN_'+$index].$error.required"
                                       class="help-block help-block-error">
                                        <span once-text="'You have to select instrument!'|translate"></span>
                                    </p>
                                </div>
                            </td>
                            <td>
                                <span ng-if="!subject.instrument.ISIN">......</span>
                                <span> {{subject.instrument.ISIN}}</span>


                            </td>
                          <td>
                            <input type="number" min="0" class="k-textbox"
                                   ng-model="subject.quantity"
                                   name="instrument_quantity_{{$index}}"
                                   ng-required="true">

                            <div class="has-error"
                                 ng-show="config.form.name.$submitted || config.form.name['instrument_quantity_'+$index].$touched ">
                              <p ng-show="config.form.name['instrument_quantity_'+$index].$error.required"
                                 class="help-block help-block-error">
                                <span once-text="'This field is required'|translate"></span>
                              </p>

                              <p ng-show="config.form.name['instrument_quantity_'+$index].$error.min"
                                 class="help-block help-block-error">
                                <span once-text="'Wrong Number!'|translate"></span>
                              </p>
                            </div>
                          </td>

                            <td>
                                <md-button
                                        ng-if="$index>0"
                                        class="md-fab md-micro"
                                        aria-label="Mini FAB"
                                        ng-click="removeInstrument($index,grant.subjects)">
                                    <i class="glyphicon glyphicon-remove micro-glyphicon"></i>
                                    <md-tooltip>
                                        <span once-text="'Delete'|translate"></span>
                                    </md-tooltip>

                                </md-button>
                                <!--Remove Button-->
                            </td>
                        </tr>
                        </tbody>
                    </table>

                </div>

                <div class="row" ng-if="grant.subjects[0].instrument.ISIN">
                    <div class="col-lg-11">
                        <div class="form-group">
                            <md-button
                                    class="md-fab md-micro"
                                    aria-label="Mini FAB"
                                    ng-click="addNewInstrument(grant.subjects)">
                                <i class="glyphicon glyphicon-plus micro-glyphicon"></i>
                                <md-tooltip>
                                    <span once-text="'Add New Item'|translate"></span>
                                </md-tooltip>

                            </md-button>

                        </div>
                    </div>
                </div>

            </div>

</div>
            <!--Generate CFI-->

      <div  role="form"
            ng-form="config.form.name.instrumentDataChange"
            ng-submit="config.buttons.complete.click()">

            <div ng-if="taskData.correctionType == 'instrumentDataChange'">


                <div class="forms">

                    <table class="table table-striped table-bordered">
                        <thead>
                        <tr>
                            <th><strong class="required-sign">*</strong> <strong once-text="'Instrument Code'|translate"></strong></th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td class="half-width">
                                <span >{{instrumentData.isin || '......'}}</span>
                                <input
                                        class="k-textbox"
                                        type="hidden"
                                        name="instrumentID"
                                        ng-required="true"
                                        ng-model="instrumentData.instrumentID">

                                <div ng-class="{ 'has-error': (config.form.name.$submitted
            || config.form.name['instrumentID'].$touched)  &&(config.form.name['instrumentID'].$invalid)  }"
                                     ng-show="config.form.name.$submitted || config.form.name['instrumentID'].$touched">
                                    <p ng-show="config.form.name['instrumentID'].$error.required"
                                       class="help-block help-block-error">
                                        <span once-text="'This field is required'|translate"></span>
                                    </p>
                                </div>
                            </td>
                            <td class="half-width">
                                <md-button type="button"
                                           class="md-fab md-micro"
                                           aria-label="search button"
                                           ng-click="findAllInstrument()">
                                    <i class="glyphicon glyphicon-search micro-glyphicon"></i>
                                    <md-tooltip>
                                        <span once-text="'Find Instrument'|translate"></span>
                                    </md-tooltip>
                                </md-button>
                            </td>
                        </tr>
                        </tbody>
                    </table>


                    <!--<table ng-if="instrumentData.instrumentID" class="table table-striped table-bordered">-->
                        <!--<thead>-->
                        <!--<tr>-->
                            <!--<th><span once-text="'Old CFI'|translate"></span></th>-->
                            <!--<th><span once-text="'New CFI'|translate"></span></th>-->
                            <!--<th></th>-->
                        <!--</tr>-->
                        <!--</thead>-->
                        <!--<tbody>-->
                        <!--<tr>-->
                            <!--<td class="half-width">-->
                              <!--<span> {{instrumentData.oldCFI['description'+lnC]}}</span>-->
                                <!--<input-->
                                        <!--type="hidden"-->
                                        <!--name="cfiID"-->
                                        <!--ng-model="instrumentData.oldCFI.id">-->
                            <!--</td>-->
                            <!--<td class="half-width">-->
                              <!--<span> {{instrumentData.cfi['description'+lnC] || "......"}}</span>-->
                              <!--<input-->
                                <!--type="hidden"-->
                                <!--name="cfiID"-->
                                <!--ng-model="instrumentData.cfi.id">-->
                            <!--</td>-->
                            <!--<td class="half-width">-->
                                <!--<md-button-->
                                        <!--class="md-fab md-micro"-->
                                        <!--aria-label="Mini FAB"-->
                                        <!--ng-click="openWindow(instrument.cfiGenerateWindow)">-->
                                    <!--<i class="glyphicon glyphicon-search micro-glyphicon"></i>-->
                                    <!--<md-tooltip>-->
                                        <!--<span once-text="'Generate CFI'|translate"></span>-->
                                    <!--</md-tooltip>-->
                                <!--</md-button>-->
                            <!--</td>-->
                        <!--</tr>-->
                        <!--</tbody>-->
                    <!--</table>-->


                    <!--<table ng-if="instrumentData.instrumentID && isBond()" class="table table-striped table-bordered">-->
                        <!--<tbody>-->
                        <!--<tr>-->
                            <!--<th>{{'Old coupon rate' | translate}}</th>-->
                            <!--<th>{{'New coupon rate' | translate}}</th>-->
                        <!--</tr>-->
                        <!--<tr ng-if="instrumentData.instrumentID">-->
                            <!--<td>-->
                                <!--<input-->
                                        <!--class="k-textbox"-->
                                        <!--type="text"-->
                                        <!--name="oldCouponRate"-->
                                        <!--ng-disabled="true"-->
                                        <!--ng-model="instrumentData.oldCouponRate">-->
                            <!--</td>-->
                            <!--<td>-->
                                <!--<input-->
                                        <!--class="k-textbox"-->
                                        <!--type="text"-->
                                        <!--name="couponRate"-->
                                        <!--ng-model="instrumentData.couponRate">-->
                            <!--</td>-->
                        <!--</tr>-->
                        <!--</tbody>-->
                    <!--</table>-->
                    <!--<table ng-if="instrumentData.instrumentID && isBond()" class="table table-striped table-bordered">-->
                        <!--<tbody>-->
                        <!--<tr>-->
                            <!--<th>{{'Old maturity date' | translate}}</th>-->
                            <!--<th>{{'New maturity date' | translate}}</th>-->
                        <!--</tr>-->
                        <!--<tr ng-if="instrumentData.instrumentID">-->
                            <!--<td>-->
                                <!--<input-->
                                        <!--class="k-textbox"-->
                                        <!--type="text"-->
                                        <!--name="old_maturity_date"-->
                                        <!--ng-disabled="true"-->
                                        <!--ng-model="instrumentData.oldMaturityDate"-->
                                        <!--k-ng-model="instrumentData.oldMaturityDateObj">-->
                            <!--</td>-->
                            <!--<td>-->
                                <!--<input-->
                                        <!--class="k-textbox"-->
                                        <!--type="text"-->
                                        <!--name="maturity_date"-->
                                        <!--ng-model="instrumentData.maturityDate"-->
                                        <!--k-ng-model="instrumentData.maturityDateObj">-->
                            <!--</td>-->
                        <!--</tr>-->
                        <!--</tbody>-->
                    <!--</table>-->

                    <table ng-if="instrumentData.instrumentID" class="table table-striped table-bordered">
                      <tr>
                        <td id="blank">&nbsp;</td>
                        <th id="co1" headers="blank">{{'Old Value' | translate}}</th>
                        <th id="co2" headers="blank">{{'New Value' | translate}}</th>
                      </tr>
                      <tr>
                        <th id="a1" headers="blank">{{'CFI' | translate}}</th>
                        <td headers="co1 a1" ng-if="instrumentData.instrumentID">
                          <span> {{instrumentData.oldCFI['description'+lnC]}}</span>
                          <input
                            type="hidden"
                            name="cfiID"
                            ng-model="instrumentData.oldCFI.id">
                        </td>
                        <td headers="co2 a1" ng-if="instrumentData.instrumentID">
                          <span> {{instrumentData.cfi['description'+lnC] || "......"}}</span>
                          <input
                            type="hidden"
                            name="cfiID"
                            ng-model="instrumentData.cfi.id">
                          <md-button
                            class="md-fab md-micro"
                            aria-label="Mini FAB"
                            ng-click="openWindow(instrument.cfiGenerateWindow)">
                            <i class="glyphicon glyphicon-search micro-glyphicon"></i>
                            <md-tooltip>
                              <span once-text="'Generate CFI'|translate"></span>
                            </md-tooltip>
                          </md-button>
                        </td>
                      </tr>
                      <tr ng-if="instrumentData.instrumentID && isBond()">
                        <th id="c1" headers="blank">{{'Coupon Rate' | translate}}</th>
                        <td headers="co1 c1" ng-if="instrumentData.instrumentID">
                          <input
                            class="k-textbox"
                            type="text"
                            name="oldCouponRate"
                            ng-disabled="true"
                            ng-model="instrumentData.oldCouponRate">
                        </td>
                        <td headers="co2 c1" ng-if="instrumentData.instrumentID">
                          <input
                            class="k-textbox"
                            type="text"
                            name="couponRate"
                            ng-model="instrumentData.couponRate">
                        </td>
                      </tr>
                      <tr ng-if="instrumentData.instrumentID && isBond()">
                        <th id="p1"  headers="blank">{{'Maturity Date' | translate}}</th>
                        <td headers="co1 p1" ng-if="instrumentData.instrumentID">
                          <input type="hidden"
                                 ng-disabled="true"
                                 class="datepicker-cst"
                                 kendo-date-picker
                                 name="old_maturity_date"
                                 ng-model="instrumentData.oldMaturityDate"
                                 k-ng-model="instrumentData.oldMaturityDateObj"
                          >

                        </td>
                        <td headers="co2 p1" ng-if="instrumentData.instrumentID">
                          <input type="text"
                                 class="datepicker-cst"
                                 kendo-date-picker
                                 name="maturity_date"
                                 ng-model="instrumentData.maturityDate"
                                 k-ng-model="instrumentData.maturityDateObj"
                                 >
                        </td>
                      </tr>
                      <tr>
                        <th id="e1"  headers="blank">{{'Quantity' | translate}}</th>
                        <td headers="co1 e1">
                          <input
                            ng-if="instrumentData.instrumentID"
                            class="k-textbox"
                            type="text"
                            name="old_quantity"
                            ng-disabled="true"
                            ng-model="instrumentData.oldQuantity">
                        </td>
                        <td headers="co2 e1">
                          <input
                            ng-if="instrumentData.instrumentID"
                            class="k-textbox"
                            type="text"
                            name="quantity"
                            ng-model="instrumentData.quantity">
                        </td>
                      </tr>
                      <tr>
                        <th id="f1"  headers="blank">{{'Conventional Day Count' | translate}}</th>
                        <td headers="co1 f1">
                          <input
                            class="k-textbox"
                            type="text"
                            name="oldConventionalDayCount"
                            ng-disabled="true"
                            ng-if="instrumentData.instrumentID"
                            ng-model="instrumentData.oldConventionalDayCount"
                          >
                        </td>
                        <td headers="co2 f1">
                          <input
                            class="k-textbox"
                            type="text"
                            name="conventionalDayCount"
                            ng-if="instrumentData.instrumentID"
                            ng-model="instrumentData.conventionalDayCount">
                        </td>
                      </tr>
                      <tr>
                        <th id="f3"  headers="blank">Qeydiyyat almış orqanı</th>
                        <td headers="co1 f1">
                          <textarea
                            cols="28" rows="3"
                            name="oldConventionalDayCount"
                            ng-disabled="true"
                            ng-if="instrumentData.instrumentID" ng-model="instrumentData.oldRegistrar"></textarea>
                        </td>
                        <td headers="co2 f1">
                          <textarea
                            cols="28" rows="3"
                            name="conventionalDayCount"
                            ng-if="instrumentData.instrumentID" ng-model="instrumentData.registrar"></textarea>
                        </td>
                      </tr>
                      <tr>
                        <th id="f4"  headers="blank">Kupon ödənişi metodu</th>
                        <td headers="co1 f1">
                          <input
                            class="k-textbox"
                            type="text"
                            name="oldConventionalDayCount"
                            ng-disabled="true"
                            ng-if="instrumentData.instrumentID"
                            ng-model="instrumentData.oldCouponPaymentMethod"
                          >
                        </td>
                        <td headers="co2 f1">
                              <select ng-model="instrumentData.couponPaymentMethod"
                                      style="padding: 2px; width: 213px"
                                      ng-options="obj as obj.nameAz for obj in metaData.couponPaymentMethods"
                              >
                              </select>
                        </td>
                      </tr>
                      <tr>
                        <th id="f4"  headers="blank">ISIN</th>
                        <td headers="co1 f1">
                          <input
                            class="k-textbox"
                            type="text"
                            name="oldConventionalDayCount"
                            ng-disabled="true"
                            ng-if="instrumentData.instrumentID"
                            ng-model="instrumentData.oldISIN"
                          >
                        </td>
                        <td headers="co2 f1">
                          <input
                            class="k-textbox"
                            type="text"
                            name="conventionalDayCount"
                            ng-if="instrumentData.instrumentID"
                            ng-model="instrumentData.ISIN">
                        </td>
                      </tr>
                      <tr>
                        <th id="f5"  headers="blank">{{'Q/K buraxılışının qeydiyyatı tarixi' | translate}}</th>
                        <td headers="co1 f1" ng-if="instrumentData.instrumentID">
                          <input type="hidden"
                                 ng-disabled="true"
                                 class="datepicker-cst"
                                 kendo-date-picker
                                 name="old_reg_date"
                                 ng-model="instrumentData.oldRegDate"
                                 k-ng-model="instrumentData.oldRegDateObj"
                          >

                        </td>
                        <td headers="co2 f1" ng-if="instrumentData.instrumentID">
                          <input type="text"
                                 class="datepicker-cst"
                                 kendo-date-picker
                                 name="reg_date"
                                 ng-model="instrumentData.regDate"
                                 k-ng-model="instrumentData.regDateObj"
                                 >
                        </td>
                      </tr>
                    </table>


                </div>


            </div>


        </div>
    </div>
</div>




<div kendo-window="instrument.cfiGenerateWindow"
     k-title="'CFI'"
     k-width="477" k-height="415" k-visible="false" k-modal="true"
     k-on-close="">
    <div ng-include="'app/instruments/templates/partials/cfi-generate-custom.html'"></div>
</div>
