<div class="window-extend-block" data-extend-template="app/common/templates/operation-window-layout.html">
    <div data-block="content" class="window-main-content">

        <div ng-if="taskData.titleTransfer">
            <table class="table table-striped table-hover table-responsive table-bordered ">
                <tbody>
                <tr>
                    <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><b once-text="'Comment'|translate"></b></td>
                    <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6">{{taskData.titleTransfer.comment}}</td>
                </tr>
                <tr>
                    <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4">
                        <b once-text="'Transferer'|translate"></b>
                    </td>
                    <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4">{{taskData.titleTransfer.owner.name}} - {{taskData.titleTransfer.owner.accountNumber}}</td>
                </tr>
                <tr>
                    <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4">
                        <b once-text="'Transferee'|translate"></b>
                    </td>
                    <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4">{{taskData.titleTransfer.receiver.name}} - {{taskData.titleTransfer.receiver.accountNumber}}</td>
                </tr>
                </tbody>
            </table>
            <hr/>
            <table class="table table-striped table-hover table-responsive table-bordered ">
                <thead>
                <th once-text="'Instrument Name'|translate"></th>
                <th once-text="'ISIN'|translate"></th>
                <th once-text="'Issuer'|translate"></th>
                <th once-text="'Quantity'|translate"></th>
                </thead>
                <tbody>
                <tr data-ng-repeat="subject in taskData.titleTransfer.subjects">
                    <td>{{subject.instrument.instrumentName}}</td>
                    <td>{{subject.instrument.isin}}</td>
                    <td>{{subject.instrument.issuerName}}</td>
                    <td>{{subject.quantity}}</td>
                </tr>
                </tbody>
            </table>
        </div>

        <div ng-if="taskData.instrumentData">
            <table class="table table-stripped table-hover table-response table-bordered">
                <tr>
                    <td once-text="'Issuer Name'|translate"></td>
                    <td>{{taskData.instrumentData.issuerName}}</td>
                </tr>
                <tr>
                    <td once-text="'ISIN'|translate"></td>
                    <td>{{taskData.instrumentData.isin}}</td>
                </tr>
                <tr>
                    <td once-text="'Old CFI' | translate"></td>
                    <td>{{taskData.instrumentData.oldCFI['description'+lnC]}}</td>
                </tr>
                <tr>
                    <td once-text="'New CFI' | translate"></td>
                    <td>{{taskData.instrumentData.cfi['description'+lnC]}}</td>
                </tr>
                <tr>
                    <td once-text="'Old coupon rate' | translate"></td>
                    <td>{{taskData.instrumentData.oldCouponRate}}</td>
                </tr>
                <tr>
                    <td once-text="'New coupon rate' | translate"></td>
                    <td>{{taskData.instrumentData.couponRate}}</td>
                </tr>
                <tr>
                  <td once-text="'Old maturity date' | translate"></td>
                  <td>{{taskData.instrumentData.oldMaturityDate | date:'dd-MM-yyyy'}}</td>
                </tr>
                <tr>
                  <td once-text="'New maturity Date' | translate"></td>
                  <td>{{taskData.instrumentData.maturityDate | date:'dd-MM-yyyy'}}</td>
                </tr>
                <tr>
                  <td once-text="'Old quantity' | translate"></td>
                  <td>{{taskData.instrumentData.oldQuantity}}</td>
                </tr>
                <tr>
                  <td once-text="'New quantity' | translate"></td>
                  <td>{{taskData.instrumentData.quantity}}</td>
                </tr>
                <tr>
                  <td once-text="'Old Conventional Day Count' | translate"></td>
                  <td>{{taskData.instrumentData.oldConventionalDayCount}}</td>
                </tr>
                <tr>
                  <td once-text="'New Conventional Day Count' | translate"></td>
                  <td>{{taskData.instrumentData.conventionalDayCount}}</td>
                </tr>

                <tr>
                  <td once-text="'Old Registrar' | translate"></td>
                  <td>{{taskData.instrumentData.oldRegistrar}}</td>
                </tr>
                <tr>

                  <td once-text="'New Registrar' | translate"></td>
                  <td>{{taskData.instrumentData.registrar}}</td>
                </tr>
              <tr>
                <td once-text="'Old Reg Date'"></td>
                <td>{{taskData.instrumentData.oldRegDate}}</td>
              </tr>
              <tr>
                <td once-text="'New Reg Date'"></td>
                <td>{{taskData.instrumentData.regDate}}</td>
              </tr>
            </table>
        </div>

    </div>
</div>
