<div class="window-extend-block" data-extend-template="app/common/templates/operation-window-layout.html">
  <div data-block="content" class="padding20">

    <table class="table table-striped table-hover table-responsive table-bordered ">
      <tbody>
      <tr>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><b once-text="'Registration Number'|translate"></b></td>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6">{{taskData.registrationNumber}}</td>
      </tr>
      <tr>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><b once-text="'Registration Date'|translate"></b></td>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6">{{taskData.registrationDate |date: 'short'}}</td>
      </tr>

      <tr>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><b once-text="'Value Date'|translate"></b></td>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6">{{taskData.valueDate |date: 'short'}}</td>
      </tr>
      <tr>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><b once-text="'Comment'|translate"></b></td>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6">{{taskData.comment}}</td>
      </tr>
      <tr>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><b once-text="'Registration Authority Class'|translate"></b>
        </td>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6">{{taskData.registrationAuthorityClass['name'+lnC]}}</td>
      </tr>
      <tr>
        <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4"><b
          once-text="'Holder'|translate"></b></td>

        <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4">{{taskData.holder.name}} - {{taskData.holder.accountNumber}}</td>

      </tr>
      <tr>
        <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4"><b
          once-text="'Freeze'|translate"></b></td>

        <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4">
          <span ng-if="taskData.freezeAll == true " once-text="'All Instruments'|translate"></span>
          <span ng-if="taskData.freezeAll == false " once-text="'Specific Instruments'|translate"></span>
        </td>

      </tr>
      </tbody>
    </table>
    <br/>

    <div class="succession-operation-forms table-responsive" ng-if="!taskData.freezeAll">
      <hr/>
      <h5 once-text="'Instruments'|translate"></h5>
      <table class="table table-striped table-bordered">
        <thead>
        <tr>

          <th><span class="required-sign">*</span> <span once-text="'Instrument'|translate"></span></th>
          <th once-text="'ISIN'|translate"></th>
          <th ng-if="!taskData.isHolderIssuer" once-text="'Freeze by Shares'|translate"></th>
          <th ng-if="!taskData.isHolderIssuer">
            <span once-text="'Shares'|translate"></span>
              <span tooltip-placement="left"
                    uib-tooltip-html="'This field will be shown when specific quantity selected for instrument.'|translate">
               <span class="glyphicon glyphicon-question-sign glyphicon-question-sign-style"></span>
              </span>
          </th>
        </tr>
        </thead>
        <tbody>
        <tr data-ng-repeat="subject in taskData.subjects">
          <td>

            <span ng-if="!subject.instrument.instrumentName">......</span>
            <span> {{subject.instrument.instrumentName}}</span>
          </td>
          <!--Name-->
          <td>
            <span ng-if="!subject.instrument.ISIN">......</span>
            <span> {{subject.instrument.ISIN}}</span>
          </td>
          <!--ISIN-->
          <td ng-if="!taskData.isHolderIssuer">
            <md-radio-group layout="row"
                            ng-disabled="true"
                            ng-model="subject.allQuantity"
                            class="horizontal-form-checkbox">
              <md-radio-button ng-disabled="true" ng-value="true"><span
                once-text="'All'|translate"></span></md-radio-button>
              <md-radio-button ng-disabled="true" ng-value="false" class="md-primary"><span
                once-text="'Specific'|translate"></span></md-radio-button>
            </md-radio-group>
          </td>

          <td ng-if="!taskData.isHolderIssuer">
            <div ng-if="!subject.allQuantity">

              <table class="table table-striped table-bordered">
                <thead>
                <tr>

                  <th><span once-text="'Share ID'|translate"></span></th>
                  <th once-text="'Quantity'|translate"></th>
                </tr>
                </thead>

                <tbody>
                <tr ng-repeat="share in subject.shares">
                  <td>{{share.ID}}</td>
                  <td>{{share.quantity}}</td>
                </tr>
                </tbody>

              </table>


            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>
