<div class="window-extend-block" data-extend-template="app/common/templates/operation-window-layout.html">
  <div data-block="content" class="window-main-content">
    <div
      role="form"
      ng-form="config.form.name"
      ng-submit="config.buttons.complete.click()">

      <div class="person-search-template-input-style" style="text-align:center;" layout="row" layout-align="center center">
        <label class="text-right text-muted-manual">
          <span>Təsdiqləyirsiniz?</span></label>

        <label class="inline-block account-search-inputs input-checkbox"
               style="padding-left: 9px!important;">
          <input
            name="isApproved"
            type="checkbox"
            ng-required="config.form.name.isApproved.$untouched"
            ng-true-value="true"
            ng-false-value="false"
            ng-indeterminate="taskData.isApproved === null"
            ng-model="taskData.isApproved"
            class="md-checkbox-style"
          >
        </label>
      </div>

      <table class="table table-striped table-hover table-responsive table-bordered">
        <tbody>
        <tr>
          <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><b>Qeydiyyat nömrəsi</b></td>
          <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6">{{taskData.regNumber}}</td>
        </tr>
        <tr>
          <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><b>Ödəniş tarixi</b></td>
          <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6">{{taskData.date | date: "short"}}</td>
        </tr>
        <tr>
          <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><b>Valyuta</b></td>
          <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6">{{taskData.currency["name"+lnC]}}</td>
        </tr>
        <tr>
          <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><b>Məbləğ</b></td>
          <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6">{{taskData.amount}}</td>
        </tr>
        </tbody>
      </table>

      <hr>

      <table class="table table-striped table-hover table-responsive table-bordered">
        <thead>
        <tr>
          <th>Emitent iştirakçı</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>Müştəri hesab nömrəsi</td>
          <td>{{taskData.payerClientAccountNumber}}</td>
        </tr>
        <tr>
          <td>Müştərinin adı</td>
          <td>{{taskData.payerClientName}}</td>
        </tr>
        <tr>
          <td>Müştərinin VÖEN-i</td>
          <td>{{taskData.payerClientTin}}</td>
        </tr>
        <tr>
          <td>Müştərinin kodu</td>
          <td>{{taskData.payerClientCode}}</td>
        </tr>
        <tr>
          <td>Bankın VÖEN-i</td>
          <td>{{taskData.payerBankTin}}</td>
        </tr>
        <tr>
          <td>Bankın kodu</td>
          <td>{{taskData.payerBankCode}}</td>
        </tr>
        <tr>
          <td>BIC</td>
          <td>{{taskData.payerBankBIC}}</td>
        </tr>
        <tr>
          <td>Muxbir hesab</td>
          <td>{{taskData.payerBankCorrespondentAccount}}</td>
        </tr>
        </tbody>
      </table>

      <hr>

      <table class="table table-striped table-hover table-responsive table-bordered">
        <thead>
        <tr>
          <th>Benefisiar iştirakçı</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>Müştəri hesab nömrəsi</td>
          <td>{{taskData.payeeClientAccountNumber}}</td>
        </tr>
        <tr>
          <td>Müştərinin adı</td>
          <td>{{taskData.payeeClientName}}</td>
        </tr>
        <tr>
          <td>Müştərinin VÖEN-i</td>
          <td>{{taskData.payeeClientTin}}</td>
        </tr>
        <tr>
          <td>Müştərinin kodu</td>
          <td>{{taskData.payeeClientCode}}</td>
        </tr>
        <tr>
          <td>Bankın VÖEN-i</td>
          <td>{{taskData.payeeBankTin}}</td>
        </tr>
        <tr>
          <td>Bankın kodu</td>
          <td>{{taskData.payeeBankCode}}</td>
        </tr>
        <tr>
          <td>BIC</td>
          <td>{{taskData.payeeBankBIC}}</td>
        </tr>
        <tr>
          <td>Muxbir hesab</td>
          <td>{{taskData.payeeBankCorrespondentAccount}}</td>
        </tr>
        </tbody>
      </table>

      <hr>

      <table class="table table-striped table-hover table-responsive table-bordered">
        <tbody>
        <tr>
          <td>Təyinat</td>
          <td>{{taskData.destination}}</td>
        </tr>
        <tr>
          <td>Ödəyicidən vəsaiti alana məlumat</td>
          <td>{{taskData.payerToPayeeInfo}}</td>
        </tr>
        </tbody>
      </table>

      <table class="table table-striped table-hover table-responsive table-bordered">
        <tbody>
        <tr>
          <td>Status</td>
          <td>{{taskData.status["name"+lnC]}}</td>
        </tr>
        <!--<tr>-->
          <!--<td>Səhv haqqında məlumat</td>-->
          <!--<td>{{taskData.errorMessage}}</td>-->
        <!--</tr>-->
        </tbody>
      </table>


    </div>
  </div>
</div>
