<div class="window-extend-block" data-extend-template="app/common/templates/operation-window-layout.html">
  <div data-block="content" class="window-main-content">
    <div
      role="form"
      ng-form="config.form.name"
      ng-submit="config.buttons.complete.click()">

      <div class="person-search-template-input-style" style="text-align:center;" layout="row" layout-align="center center">
        <label class="text-right text-muted-manual">
          <span>Təsdiqləyirsiniz?</span></label>

        <label class="inline-block account-search-inputs input-checkbox"
               style="padding-left: 9px!important;">
          <input
            name="isApproved"
            type="checkbox"
            ng-required="config.form.name.isApproved.$untouched"
            ng-true-value="true"
            ng-false-value="false"
            ng-indeterminate="config.form.approveAll === null"
            ng-model="config.form.approveAll"
            ng-change="approveAll(config.form.approveAll)"
            class="md-checkbox-style">
        </label>
      </div>


      <div class="table-responsive">
        <table class="table table-striped table-hover table-responsive table-bordered">
          <thead>
          <tr>
            <th colspan="4"></th>
            <th colspan="8" class="text-center">Emitent iştirakçı</th>
            <th colspan="8" class="text-center">Benefisiar iştirakçı</th>
            <th colspan="3"></th>
          </tr>
          <tr>
            <th>Qeydiyyat nömrəsi</th>
            <th>Ödəniş tarixi</th>
            <th>Valyuta</th>
            <th>Məbləğ</th>

            <td>Müştəri hesab nömrəsi</td>
            <td>Müştərinin adı</td>
            <td>Müştərinin VÖEN-i</td>
            <td>Müştərinin kodu</td>
            <td>Bankın VÖEN-i</td>
            <td>Bankın kodu</td>
            <td>BIC</td>
            <td>Muxbir hesab</td>

            <td>Müştəri hesab nömrəsi</td>
            <td>Müştərinin adı</td>
            <td>Müştərinin VÖEN-i</td>
            <td>Müştərinin kodu</td>
            <td>Bankın VÖEN-i</td>
            <td>Bankın kodu</td>
            <td>BIC</td>
            <td>Muxbir hesab</td>

            <td>Təyinat</td>
            <td>Ödəyicidən vəsaiti alana məlumat</td>

            <td>Status</td>
          </tr>
          </thead>
          <tbody>
          <tr data-ng-repeat="payment in taskData.vmPayments">
            <td>{{payment.regNumber}}</td>
            <td>{{payment.date | date: "short"}}</td>
            <td>{{payment.currency["name"+lnC]}}</td>
            <td>{{payment.amount}}</td>

            <td>{{payment.payerClientAccountNumber}}</td>
            <td>{{payment.payerClientName}}</td>
            <td>{{payment.payerClientTin}}</td>
            <td>{{payment.payerClientCode}}</td>
            <td>{{payment.payerBankTin}}</td>
            <td>{{payment.payerBankCode}}</td>
            <td>{{payment.payerBankBIC}}</td>
            <td>{{payment.payerBankCorrespondentAccount}}</td>

            <td>{{payment.payeeClientAccountNumber}}</td>
            <td>{{payment.payeeClientName}}</td>
            <td>{{payment.payeeClientTin}}</td>
            <td>{{payment.payeeClientCode}}</td>
            <td>{{payment.payeeBankTin}}</td>
            <td>{{payment.payeeBankCode}}</td>
            <td>{{payment.payeeBankBIC}}</td>
            <td>{{payment.payeeBankCorrespondentAccount}}</td>

            <td>{{payment.destination}}</td>
            <td>{{payment.payerToPayeeInfo}}</td>

            <td>{{payment.status["name"+lnC]}}</td>
          </tr>
          </tbody>
        </table>
      </div>


    </div>
  </div>
</div>
