<div class="window-extend-block" data-extend-template="app/common/templates/operation-window-layout.html">
  <div data-block="content" class="window-main-content">

    <table class="table table-striped table-hover table-responsive table-bordered">
      <tbody>
      <tr>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><b once-text="'Müqavilə Nömrəsi'|translate"></b></td>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6">{{taskData.contractNumber}}</td>
      </tr>
      <tr>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><b once-text="'Müqavilə Tarixi'|translate"></b></td>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6">{{taskData.contractDate}}</td>
      </tr>
      <tr>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><b once-text="'Comment'|translate"></b></td>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6">{{taskData.comment}}</td>
      </tr>
      <tr>
        <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4"><b once-text="'Seller'|translate"></b></td>
        <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4">{{taskData.seller.name}} - {{taskData.seller.shareholderAccountNumber}}
        </td>
      </tr>
      <tr>
        <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4"><b once-text="'Buyer'|translate"></b></td>
        <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4">{{taskData.buyer.name}} - {{taskData.buyer.shareholderAccountNumber}}</td>
      </tr>

      </tbody>
    </table>
    <hr/>
    <h4 once-text="'Subject'|translate"></h4>

    <table class="table table-striped table-hover table-responsive table-bordered ">
      <thead>
      <th once-text="'Instrument'|translate"></th>
      <th once-text="'ISIN'|translate"></th>
      <th once-text="'Issuer'|translate"></th>
      <th once-text="'Quantity'|translate"></th>
      <th once-text="'Price'|translate"></th>
      </thead>
      <tbody>
      <tr>
        <td>{{taskData.subject.instrument.instrumentName}}</td>
        <td>{{taskData.subject.instrument.ISIN}}</td>
        <td>{{taskData.subject.instrument.issuerName}}</td>
        <td>{{taskData.subject.quantity}}</td>
        <td>{{taskData.subject.price}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
