<div class="window-extend-block" data-extend-template="app/common/templates/operation-window-layout.html">
  <div data-block="content" class="window-main-content">
    <div
      role="form"
      ng-form="config.form.name"
      ng-submit="config.buttons.complete.click()">

      <div class="title-transfer-forms">
        <div class="form-group" ng-class="{ 'has-error':
                 (config.form.name.$submitted || config.form.name.contract_number.$touched)
                 &&(config.form.name.contract_number.$invalid)  }">

          <label class="form-labels"><span class="required-sign">*</span><span
            once-text="'Müqavilə Nömrəsi'|translate"></span>:</label>

          <div class="form-inputs">
            <input type="text"
                   class="k-textbox"
                   name="contract_number"
                   ng-model="otcTrade.contractNumber"
                   ng-required="true">

            <div ng-show="config.form.name.$submitted || config.form.name.contract_number.$touched">
              <p ng-show="config.form.name.contract_number.$error.required"
                 class="help-block help-block-error">
                <span once-text="'This field is required'|translate"></span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="title-transfer-forms">
        <div class="form-group" ng-class="{ 'has-error':
                 (config.form.name.$submitted || config.form.name.contract_date.$touched)
                 &&(config.form.name.contract_date.$invalid)  }">
          <label class="form-labels"><span class="required-sign">*</span><span
            once-text="'Müqavilə Tarixi'|translate"></span>:</label>

          <div class="form-inputs">
            <input type="text"
                   class="datepicker-cst"
                   kendo-date-picker
                   name="contract_date"
                   ng-model="otcTrade.contractDate"
                   k-ng-model="otcTrade.contractDateObj"
                   ng-required="true"
            >

            <div ng-show="config.form.name.$submitted || config.form.name.contract_date.$touched">
              <p ng-show="config.form.name.contract_date.$error.required"
                 class="help-block help-block-error">
                <span once-text="'This field is required'|translate"></span>
              </p>

              <p ng-show="config.form.name.contract_date.$error.csmKendoDate"
                 class="help-block help-block-error">
                <span once-text="'Please enter a valid date!'|translate"></span>
              </p>
            </div>
          </div>
        </div>

      </div>
      <div class="title-transfer-forms">

        <div class="form-group" ng-class="{ 'has-error':
                 (config.form.name.$submitted || config.form.name.comment.$touched)
                 &&(config.form.name.comment.$invalid)  }">

          <label class="form-labels">
            <span class="required-sign">*</span>
            <span once-text="'Comment'|translate"></span>:</label>

          <div class="form-inputs">
                  <textarea
                    class="k-textbox"
                    name="comment"
                    cols="6"
                    rows="7"
                    ng-model="otcTrade.comment"
                    ng-required="true"></textarea>

            <div ng-show="config.form.name.$submitted || config.form.name.comment.$touched">
              <p ng-show="config.form.name.comment.$error.required"
                 class="help-block help-block-error">
                <span once-text="'This field is required'|translate"></span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <!--Comment-->

      <div class="title-transfer-forms">

        <table class="table table-striped table-bordered">
          <thead>
          <tr>
            <th>
              <strong class="required-sign">*</strong>
              <strong once-text="'Seller'|translate"></strong>
              </th>
            <th once-text="'Account Number'|translate"></th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>
              <span ng-if="!otcTrade.seller.name">......</span>
              <span> {{otcTrade.seller.name}}</span>
              <input
                type="hidden"
                name="seller"
                ng-required="true"
                ng-model="otcTrade.seller.name">

              <div ng-class="{ 'has-error':config.form.name.$submitted &&(config.form.name.seller.$invalid)}"
                   ng-show="config.form.name.$submitted">
                <p ng-show="config.form.name.seller.$error.required"
                   class="help-block help-block-error">
                  <span once-text="'You have to select seller!'|translate"></span>
                </p>
              </div>

            </td>
            <td>
              <span ng-if="!otcTrade.seller.shareholderAccountNumber">......</span>
              <span> {{otcTrade.seller.shareholderAccountNumber}}</span>
            </td>
            <td>
              <md-button class="md-fab md-micro"
                         aria-label="Mini FAB"
                         ng-click="findSeller()">
                <i class="glyphicon glyphicon-search micro-glyphicon"></i>
                <md-tooltip>
                  <span once-text="'Find Seller'|translate"></span>
                </md-tooltip>

              </md-button>
            </td>
          </tr>
          </tbody>
        </table>

      </div>
      <!--Seller-->
      <div class="title-transfer-forms">
        <table class="table table-striped table-bordered">
          <thead>
          <tr>
            <th>
              <strong class="required-sign">*</strong>
              <strong once-text="'Buyer'|translate"></strong>
             </th>
            <th once-text="'Account Number'|translate"></th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>
              <span ng-if="!otcTrade.buyer.name">......</span>
              <span> {{otcTrade.buyer.name}}</span>
              <input
                type="hidden"
                name="buyer"
                ng-required="true"
                ng-model="otcTrade.buyer.name">

              <div ng-class="{ 'has-error':config.form.name.$submitted &&(config.form.name.buyer.$invalid)}"
                   ng-show="config.form.name.$submitted">
                <p ng-show="config.form.name.buyer.$error.required"
                   class="help-block help-block-error">
                  <span once-text="'You have to select buyer!'|translate"></span>
                </p>
              </div>

            </td>
            <td>
              <span ng-if="!otcTrade.buyer.shareholderAccountNumber">......</span>
              <span> {{otcTrade.buyer.shareholderAccountNumber}}</span>
            </td>
            <td>
              <md-button class="md-fab md-micro"
                         aria-label="Mini FAB"
                         ng-click="findBuyer()">
                <i class="glyphicon glyphicon-search micro-glyphicon"></i>
                <md-tooltip>
                  <span once-text="'Find Transferer'|translate"></span>
                </md-tooltip>

              </md-button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <!--Buyer-->

      <div class="title-transfer-forms">
        <table class="table table-striped table-bordered">
          <thead>
          <tr>
            <th><span class="required-sign">*</span> <span once-text="'Instrument'|translate"></span></th>
            <th once-text="'ISIN'|translate"></th>
            <th once-text="'Quantity'|translate"></th>
            <th once-text="'Price'|translate"></th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>

              <span ng-if="!otcTrade.subject.instrument.instrumentName">......</span>
              <span> {{otcTrade.subject.instrument.instrumentName}}</span>
              <md-button

                class="md-fab md-micro"
                aria-label="Mini FAB"
                ng-click="findInstrument()">
                <i class="glyphicon glyphicon-search micro-glyphicon"></i>
                <md-tooltip>
                  <span once-text="'Find Instrument'|translate"></span>
                </md-tooltip>

              </md-button>
              <input type="hidden" name="ISIN" ng-required="true" ng-model="otcTrade.subject.instrument.ISIN">

              <div
                class="has-error"
                ng-show="config.form.name.$submitted ">
                <p ng-show="config.form.name['ISIN'].$error.required"
                   class="help-block help-block-error">
                  <span once-text="'You have to select instrument!'|translate"></span>
                </p>
              </div>
            </td>
            <td>
              <span ng-if="!otcTrade.subject.instrument.ISIN">......</span>
              <span> {{otcTrade.subject.instrument.ISIN}}</span>


            </td>
            <td>
              <input type="number" min="1" class="k-textbox"
                     ng-model="otcTrade.subject.quantity"
                     name="instrument_quantity"
                     ng-required="true">

              <div class="has-error"
                   ng-show="config.form.name.$submitted || config.form.name['instrument_quantity'].$touched ">
                <p ng-show="config.form.name['instrument_quantity'].$error.required"
                   class="help-block help-block-error">
                  <span once-text="'This field is required'|translate"></span>
                </p>

                <p ng-show="config.form.name['instrument_quantity'].$error.min"
                   class="help-block help-block-error">
                  <span once-text="'Wrong Number!'|translate"></span>
                </p>
              </div>
            </td>
            <td>
              <input type="number" min="0" class="k-textbox"
                     ng-model="otcTrade.subject.price"
                     name="instrument_price"
                     ng-required="true">

              <div class="has-error"
                   ng-show="config.form.name.$submitted || config.form.name['instrument_price'].$touched ">
                <p ng-show="config.form.name['instrument_price'].$error.required"
                   class="help-block help-block-error">
                  <span once-text="'This field is required'|translate"></span>
                </p>

                <p ng-show="config.form.name['instrument_price'].$error.min"
                   class="help-block help-block-error">
                  <span once-text="'Wrong Number!'|translate"></span>
                </p>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
