<div class="window-extend-block" data-extend-template="app/common/templates/operation-window-layout.html">
  <div data-block="content" class="window-main-content">

    <div class="succession-operation-forms">
      <div class="form-group" ng-class="{ 'has-error': false}">
        <label class="form-labels">
          <span>ƏDV hesabındakı məbləğ</span>:
        </label>

        <div class="form-inputs">
          {{  taskData.currentAmount }}
        </div>
      </div>

      <div class="succession-operation-forms">
        <div class="form-group" ng-class="{ 'has-error': false}">
          <label class="form-labels">
            <span>Çıxarış məbləği</span>:
          </label>

          <div class="form-inputs">
            {{  taskData.currentAmount }}
          </div>
        </div>
      </div>


  </div>
</div>
