<div class="window-extend-block" data-extend-template="app/common/templates/operation-window-layout.html">
  <div data-block="content" class="window-main-content">

      <div class="succession-operation-forms">
        <div class="form-group" ng-class="{ 'has-error': false}">
          <label class="form-labels">
            <span>ƏDV hesabındakı məbləğ</span>:
          </label>

          <div class="form-inputs">
              {{  obj.currentAmount }}
        </div>
      </div>

      <div class="succession-operation-forms">
        <div class="form-group" ng-class="{ 'has-error': false}">
          <label class="form-labels">
            <span>Çıxarış məbləği</span>:
          </label>

          <div class="form-inputs">
            <input type="text"
                   style="width: 160px"
                   class="k-textbox"
                   name="record_number"
                   placeholder=""
                   maxlength="10"
                   ng-model="obj.withdrawalAmount"
                   ng-required="true"/>
          </div>
        </div>
      </div>


  </div>
</div>
