<div class="window-extend-block" data-extend-template="app/common/templates/view-window-layout.html">
  <div class="div-full-height" data-block="content" ng-include="'app/common/templates/partials/non-matched-trades-search-template.html'"
       ng-controller="NonMatchedTradesSearchTemplateController">
  </div>
</div>


