<div class="window-extend-block" data-extend-template="app/common/templates/operation-window-layout.html">
  <div data-block="content" class="window-main-content">

    <div role="form" ng-form="config.form.name" ng-submit="config.buttons.complete.click()">



      <table class="table table-striped table-hover table-responsive table-bordered">
        <tbody>
        <tr>
          <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4"><b once-text="'Message Code'|translate"></b></td>
          <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4">{{taskData.messageCode}}</td>
        </tr>
        <tr>
          <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4"><b once-text="'Tracking Code'|translate"></b></td>
          <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4">{{taskData.trackingCode}}</td>
        </tr>
        <tr>
          <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4"><b once-text="'Seller Broker'|translate"></b></td>
          <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4">{{taskData.seller.name}}</td>
        </tr>
        <tr>
          <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4"><b once-text="'Buyer'|translate"></b></td>
          <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4">{{taskData.buyer.name}}</td>
        </tr>
        <tr>
          <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4"><b once-text="'DEPO accunt'|translate"></b></td>
          <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4">{{taskData.buyerDepoAccount}}</td>
        </tr>
1        </tbody>
      </table>
      <hr/>


      <h4 once-text="'Subject'|translate"></h4>
      <table class="table table-striped table-hover table-responsive table-bordered ">
        <thead>
        <th once-text="'ISIN'|translate"></th>
        <th once-text="'Issuer'|translate"></th>
        <th once-text="'Quantity'|translate"></th>
        <th once-text="'Amount'|translate"></th>
        </thead>
        <tbody>
        <tr ng-repeat="subject in taskData.contractSubjects">
          <td>{{subject.securityISINCode}}</td>
          <td>{{subject.issuerName}}</td>
          <td>{{subject.quantity}}</td>
          <td>{{subject.amount}}</td>
        </tr>
        </tbody>
      </table>


      <h4 once-text="'Notary'|translate"></h4>
      <table class="table table-striped table-hover table-responsive table-bordered ">
        <thead>
        <th once-text="'Surname'|translate"></th>
        <th once-text="'Name'|translate"></th>
        <th once-text="'Patronymic'|translate"></th>
        <th once-text="'Office'|translate"></th>
        </thead>
        <tbody>
        <tr>
          <td>{{taskData.notaryInfo.surname}}</td>
          <td>{{taskData.notaryInfo.name}}</td>
          <td>{{taskData.notaryInfo.patronymic}}</td>
          <td>{{taskData.notaryInfo.office}}</td>
        </tr>
        </tbody>
      </table>

      <div class="title-transfer-forms">
        <div class="form-group" ng-class="{ 'has-error':
                 (config.form.name.$submitted || config.form.name.record_number.$touched)
                 &&(config.form.name.record_number.$invalid)  }">

          <label class="form-labels"> <span once-text="'Is Confirmed'|translate"></span>:</label>

          <div class="form-inputs">
            <md-checkbox type="checkbox" name="record_number" ng-model="otcTrade.isConfirmed"
                         class="md-checkbox-style"></md-checkbox>

          </div>
        </div>
      </div>

      <div>

        <label class="form-labels"> <span once-text="'Comment'|translate"></span>:</label>

        <div class="form-inputs">
            <textarea class="form-control" ng-model="taskData.resultMessage"></textarea>
        </div>
      </div>



    </div>
  </div>
</div>
