<div class="window-extend-block" data-extend-template="app/common/templates/operation-window-layout.html">
  <div data-block="content" class="window-main-content">

    <table class="table table-striped table-hover table-responsive table-bordered">
      <tbody>

      <tr>
        <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4"><b once-text="'Client'|translate"></b></td>
        <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4">{{taskData.client.name}} - {{taskData.client.accountNumber}}
        </td>
      </tr>

      <tr>

        <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4"><b once-text="'Counterparty Broker'|translate"></b>
        </td>
        <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4">{{taskData.counterPartyBroker.name}}
          -{{taskData.counterPartyBroker.accountNumber}}
        </td>
      </tr>
      </tbody>
    </table>
    <hr/>
    <h4 once-text="'Subject'|translate"></h4>

    <table class="table table-striped table-hover table-responsive table-bordered ">
      <thead>
      <th once-text="'Instrument'|translate"></th>
      <th once-text="'ISIN'|translate"></th>
      <th once-text="'Issuer'|translate"></th>
      <th once-text="'Quantity'|translate"></th>
      <th once-text="'Price'|translate"></th>
      </thead>
      <tbody>
      <tr>
        <td>{{taskData.subject.instrument.instrumentName}}</td>
        <td>{{taskData.subject.instrument.ISIN}}</td>
        <td>{{taskData.subject.instrument.issuerName}}</td>
        <td>{{taskData.subject.quantity}}</td>
        <td>{{taskData.subject.price}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
