<div class="window-extend-block" data-extend-template="app/common/templates/operation-window-layout.html">
  <div data-block="content" class="window-main-content">
    <div
      role="form"
      ng-form="config.form.name"
      ng-submit="config.buttons.complete.click()">


      <!--Comment-->
      <div class="title-transfer-forms">
        <div class="form-group">

          <label class="form-labels"><span class="required-sign">*</span>
            <span once-text="'Action'|translate"></span>:</label>

          <div class="form-inputs">
            <md-radio-group layout="row" ng-model="otcTrade.isSellAction" ng-change="resetData()"
                            class="horizontal-form-checkbox">
              <md-radio-button ng-value="true"><span once-text="'Sell'|translate"></span></md-radio-button>
              <md-radio-button ng-value="false" class="md-primary"><span
                once-text="'Buy'|translate"></span>
              </md-radio-button>
            </md-radio-group>

          </div>
        </div>
      </div>
      <!--Reg Auth-->
      <div class="title-transfer-forms">
        <table class="table table-striped table-bordered">
          <thead>
          <tr>
            <th>
              <strong class="required-sign">*</strong>
              <strong once-text="'Client'|translate"></strong>
              </th>
            <th once-text="'Account Number'|translate"></th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>
              <span ng-if="!otcTrade.client.name">......</span>
              <span> {{otcTrade.client.name}}</span>
              <input
                type="hidden"
                name="client"
                ng-required="true"
                ng-model="otcTrade.client.name">

              <div ng-class="{ 'has-error':config.form.name.$submitted &&(config.form.name.client.$invalid)}"
                   ng-show="config.form.name.$submitted">
                <p ng-show="config.form.name.client.$error.required"
                   class="help-block help-block-error">
                  <span once-text="'You have to select client!'|translate"></span>
                </p>
              </div>

            </td>
            <td>
              <span ng-if="!otcTrade.client.accountNumber">......</span>
              <span> {{otcTrade.client.accountNumber}}</span>
            </td>
            <td>
              <md-button class="md-fab md-micro"
                         aria-label="Mini FAB"
                         ng-click="findClient()">
                <i class="glyphicon glyphicon-search micro-glyphicon"></i>
                <md-tooltip>
                  <span once-text="'Find Client'|translate"></span>
                </md-tooltip>

              </md-button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <!--Client-->
      <div class="title-transfer-forms">
        <table class="table table-striped table-bordered">
          <thead>
          <tr>
            <th>
              <strong once-text="'Counterparty Broker'|translate"></strong>
            </th>
            <th once-text="'Account Number'|translate"></th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>
              <span ng-if="!otcTrade.counterPartyBroker.name">......</span>
              <span> {{otcTrade.counterPartyBroker.name}}</span>
              <input
                type="hidden"
                name="broker_seller"
                ng-required="false"
                ng-model="otcTrade.counterPartyBroker.name">

              <div ng-class="{ 'has-error':config.form.name.$submitted &&(config.form.name.broker_seller.$invalid)}"
                   ng-show="config.form.name.$submitted">
                <p ng-show="config.form.name.broker_seller.$error.required"
                   class="help-block help-block-error">
                  <span once-text="'You have to select counterparty broker!'|translate"></span>
                </p>
              </div>

            </td>
            <td>
              <span ng-if="!otcTrade.counterPartyBroker.accountNumber">......</span>
              <span> {{otcTrade.counterPartyBroker.accountNumber}}</span>
            </td>
            <td>
              <md-button class="md-fab md-micro"
                         aria-label="Mini FAB"
                         ng-click="findCounterPartyBroker()">
                <i class="glyphicon glyphicon-search micro-glyphicon"></i>
                <md-tooltip>
                  <span once-text="'Find Seller Broker'|translate"></span>
                </md-tooltip>

              </md-button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <!--Broker-->
      <div class="title-transfer-forms">
        <table class="table table-striped table-bordered">
          <thead>
          <tr>
            <th><span class="required-sign">*</span> <span once-text="'Instrument'|translate"></span></th>
            <th once-text="'ISIN'|translate"></th>
            <th once-text="'Quantity'|translate"></th>
            <th once-text="'Price'|translate"></th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>

              <span ng-if="!otcTrade.subject.instrument.instrumentName">......</span>
              <span> {{otcTrade.subject.instrument.instrumentName}}</span>
              <md-button

                class="md-fab md-micro"
                aria-label="Mini FAB"
                ng-click="findInstrument()">
                <i class="glyphicon glyphicon-search micro-glyphicon"></i>
                <md-tooltip>
                  <span once-text="'Find Instrument'|translate"></span>
                </md-tooltip>

              </md-button>
              <input type="hidden" name="ISIN" ng-required="true" ng-model="otcTrade.subject.instrument.ISIN">

              <div
                class="has-error"
                ng-show="config.form.name.$submitted ">
                <p ng-show="config.form.name['ISIN'].$error.required"
                   class="help-block help-block-error">
                  <span once-text="'You have to select instrument!'|translate"></span>
                </p>
              </div>
            </td>
            <td>
              <span ng-if="!otcTrade.subject.instrument.ISIN">......</span>
              <span> {{otcTrade.subject.instrument.ISIN}}</span>


            </td>
            <td>
              <input type="number" min="1" class="k-textbox"
                     ng-model="otcTrade.subject.quantity"
                     name="instrument_quantity"
                     ng-required="true">

              <div class="has-error"
                   ng-show="config.form.name.$submitted || config.form.name['instrument_quantity'].$touched ">
                <p ng-show="config.form.name['instrument_quantity'].$error.required"
                   class="help-block help-block-error">
                  <span once-text="'This field is required'|translate"></span>
                </p>

                <p ng-show="config.form.name['instrument_quantity'].$error.min"
                   class="help-block help-block-error">
                  <span once-text="'Wrong Number!'|translate"></span>
                </p>
              </div>
            </td>
            <td>
              <input type="number" min="0" class="k-textbox"
                     ng-model="otcTrade.subject.price"
                     name="instrument_price"
                     ng-required="true">

              <div class="has-error"
                   ng-show="config.form.name.$submitted || config.form.name['instrument_price'].$touched ">
                <p ng-show="config.form.name['instrument_price'].$error.required"
                   class="help-block help-block-error">
                  <span once-text="'This field is required'|translate"></span>
                </p>

                <p ng-show="config.form.name['instrument_price'].$error.min"
                   class="help-block help-block-error">
                  <span once-text="'Wrong Number!'|translate"></span>
                </p>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <!--Instrument-->
    </div>
  </div>
</div>
