<div class="window-extend-block" data-extend-template="app/common/templates/operation-window-layout.html">
    <div data-block="content" class="window-main-content">

        <table class="table table-striped table-hover table-responsive table-bordered">
            <tbody>

            <tr>
                <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><b once-text="'Action'|translate"></b></td>
                <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6" ng-if="taskData.isSellAction"><span once-text="'Sell'|translate"></span></td>
                <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6" ng-if="!taskData.isSellAction"><span once-text="'Buy'|translate"></span></td>
            </tr>

            <tr ng-if="otcTrade.commissionPaymentMethod">
                <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><b once-text="'Comission paid by'|translate"></b></td>
                <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><span once-text="otcTrade.commissionPaymentMethod['name' + lnC]|translate"></span></td>
            </tr>

            <tr>
                <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><b once-text="'Müqavilə Nömrəsi'"></b></td>
                <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6">{{taskData.contractNumber}}</td>
            </tr>

            <tr>
                <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><b once-text="'Müqavilə Tarixi'"></b></td>
                <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6">{{taskData.contractDate}}</td>
            </tr>
            <tr>
                <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><b once-text="'Comment'|translate"></b></td>
                <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6">{{taskData.comment}}</td>
            </tr>

            <tr>
                <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4"><b once-text="'Counterparty Broker'|translate"></b>
                </td>
                <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4">{{taskData.counterPartyBroker.name}}
                    -{{taskData.counterPartyBroker.accountNumber}}
                </td>
            <tr>
                <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><b once-text="'Venue'|translate"></b></td>
                <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6">{{taskData.venue['name'+lnc]}}</td>
            </tr>
            <tr>
                <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4"><b once-text="'Qarşıtərəf müştəri'|translate"></b>
                </td>
                <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4">{{taskData.counterPartyClient.name}} - {{taskData.counterPartyClient.accountNumber}}
                </td>
            </tr>
            </tr>
            <tr>
                <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4"><b once-text="'Client'|translate"></b></td>
                <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4">{{taskData.thisClient.name}} - {{taskData.thisClient.accountNumber}}
                </td>
            </tr>


            </tbody>
        </table>
        <hr/>
        <h4 once-text="'Subject'|translate"></h4>

        <table class="table table-striped table-hover table-responsive table-bordered ">
            <thead>
            <th once-text="'Instrument'|translate"></th>
            <th once-text="'ISIN'|translate"></th>
            <th once-text="'Issuer'|translate"></th>
            <th once-text="'Quantity'|translate"></th>
            <th once-text="'Price'|translate"></th>
            </thead>
            <tbody>
            <tr>
                <td>{{taskData.subject.instrument.instrumentName}}</td>
                <td>{{taskData.subject.instrument.ISIN}}</td>
                <td>{{taskData.subject.instrument.issuerName}}</td>
                <td>{{taskData.subject.quantity}}</td>
                <td>{{taskData.subject.price}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
