<div class="window-extend-block" data-extend-template="app/common/templates/operation-window-layout.html">
  <div data-block="content" class="window-main-content">

    <div class="add-new-user">
      <div class="add-new-user-buttons">

        <!--<md-button class="md-micro md-fab pull-right"-->
        <!--aria-label="add bank account button"-->
        <!--ng-click="_closeWindow(buffers.user.userManageWindow)"-->
        <!--type="submit">-->
        <!--<i class="glyphicon glyphicon-remove micro-glyphicon"></i>-->
        <!--<md-tooltip md-direction="down">-->
        <!--<span once-text="'Close'|translate"></span>-->
        <!--</md-tooltip>-->
        <!--</md-button>-->

        <!--<md-button-->
        <!--type="submit"-->
        <!--aria-label="submit button"-->
        <!--class="md-micro md-fab pull-right"-->
        <!--ng-click="config.buttons.complete.click()">-->
        <!--<i class="glyphicon glyphicon-ok micro-glyphicon"></i>-->
        <!--<md-tooltip md-direction="down">-->
        <!--{{config.labels.userManageWindowTitle}}-->
        <!--</md-tooltip>-->
        <!--</md-button>-->
      </div>


      <form name="outgoingPayment" class="add-new-user-window no-scroll" novalidate style="margin-left: 200px; overflow-x: scroll">


        <!--------------------isHouseAccount ----------------------->
        <div class="form-group" ng-class="{ 'has-error': false}">

          <div style="margin-bottom: 5px">
            <span>Üzv hesabıdırmı?</span>:
            <span class="required-sign">*</span>
          </div>

          <select
            name="currency"
            style="width: 270px; height: 30px"
            ng-change="setAccount()"
            ng-model="data.isHouseAccount"
            ng-options="obj.value as obj.label for obj in [{value: true, label: 'Bəli'},{value: false, label: 'Xeyr'}]">
            <option value="">---</option>
          </select>
        </div>


        <!--------------------Client ----------------------->
        <div class="form-group" ng-class="{ 'has-error': false}" ng-show="data.isHouseAccount === false">
          <div style="margin-bottom: 5px">
            <span>Müştəri</span>:
            <span class="required-sign">*</span>
          </div>
          <span class="k-textbox k-button k-space-right" style="width: 270px; padding-left: 0">
            <input readonly ng-value="accountName + ' ' + accountNumber"/>
            <a class="k-icon k-i-search" ng-click="findMember()"></a>
          </span>
        </div>

        <!--&lt;!&ndash;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;Client -&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&ndash;&gt;-->
        <!--<div class="form-group" ng-class="{ 'has-error': false}" ng-hide="data.isHouseAccount === null">-->
        <!--<label class="form-labels">-->
        <!--<span class="required-sign">*</span>-->
        <!--<span>Hesab</span>:-->
        <!--</label>-->

        <!--<div class="form-inputs">-->
        <!--<span ng-show="accountName.length">{{accountName}} ({{ accountNumber }})</span>-->
        <!--</div>-->
        <!--</div>-->


        <!--------------------Currency ----------------------->
        <div class="form-group" ng-class="{ 'has-error': false}">
          <div style="margin-bottom: 5px">
            <span once-text="'Currency'|translate"></span>:
            <span class="required-sign">*</span>
          </div>

          <select
            name="currency"
            style="width: 270px; height: 30px"
            ng-model="data.currency" ng-options="obj as obj.nameAz for obj in metaData.currencies">
            <option value="">---</option>
          </select>

        </div>

        <!--------------------isHouseAccount ----------------------->
        <div class="form-group" ng-class="{ 'has-error': false}" ng-show="data.isHouseAccount === true">
          <div style="margin-bottom: 5px">
            <span>Üzvün bank hesabıdırmı?</span>:
            <span class="required-sign">*</span>
          </div>

          <select
            style="width: 270px; height: 30px"
            ng-model="data.isMemberBankAccount"
            ng-options="obj.value as obj.label for obj in [{value: true, label: 'Bəli'},{value: false, label: 'Xeyr'}]">
            <option value="">---</option>
          </select>
        </div>


        <!--------------------Member Client  ----------------------->
        <div class="form-group" ng-class="{ 'has-error': false}"
             ng-show="data.isHouseAccount === true && data.isMemberBankAccount === false">
          <div style="margin-bottom: 5px">
            <span>Müştəri</span>:
            <span class="required-sign">*</span>
          </div>

          <span class="k-textbox k-button k-space-right" style="width: 270px; padding-left: 0">
            <input readonly ng-value="memberClientAccountName + ' ' + memberClientAccountNumber"/>
            <a class="k-icon k-i-search" ng-click="findMemberClientAccount()"></a>
          </span>
        </div>


        <!--------------------isHouseAccount ----------------------->
        <!--<div class="form-group" ng-show="data.isHouseAccount === true && data.isMemberBankAccount === false">-->
        <!--<label class="form-labels">-->
        <!--<span>Müştəri</span>:-->
        <!--</label>-->

        <!--<div class="form-inputs">-->
        <!--<span ng-show="memberClientAccountNumber.length">{{memberClientAccountName}} ({{ memberClientAccountNumber }})</span>-->
        <!--</div>-->
        <!--</div>-->


        <!--------------------bankAccounts ----------------------->
        <div class="form-group" ng-class="{ 'has-error': false}">
          <div style="margin-bottom: 5px">
            <span once-text="'Bank Accounts'|translate"></span>:
            <span class="required-sign">*</span>
          </div>

          <select
            style="width: 270px; height: 30px"
            name="currency"
            ng-model="data.selectedBankAccount"
            ng-options="obj as obj.bankNameAz + ' ' +  obj.iban for obj in bankAccounts">
            <option value="">---</option>
          </select>

        </div>


        <!--------------------session info ----------------------->
        <div class="form-group" ng-class="{ 'has-error': false}">
          <div style="margin-bottom: 5px">
            <span>Sessiya</span>:
            <span class="required-sign">*</span>
            </label>

            <md-radio-group
              layout="row"
              ng-change="sessionTypeChange(sessionType)"
              ng-model="sessionType" class="md-secondary">

              <md-radio-button ng-value="'now'" ng-show="metaData.sessionInfo.currentSessionNumber"
                               style="margin-left: 0">
                <span>Cari</span>
              </md-radio-button>

              <md-radio-button ng-value="'next'" ng-hide="metaData.sessionInfo.currentSessionNumber">
                <span>Növbəti</span>
              </md-radio-button>

              <md-radio-button ng-value="'future'">
                <span>Gələcək</span>
              </md-radio-button>

            </md-radio-group>
          </div>
        </div>

        <!--------------------withdrawalDate ----------------------->
        <div class="form-group" ng-class="{ 'has-error': false}">
          <div style="margin-bottom: 5px">
            <span>Çıxarış tarixi</span>:
            <span class="required-sign">*</span>
          </div>


          <input type="text"
                 class="datepicker-cst"
                 kendo-date-picker
                 k-options="kendoDateOptions"
                 name="withdrawalDate"
                 ng-disabled="sessionType != 'future'"
                 ng-model="data.withdrawalDate"
                 k-ng-model="data.withdrawalDateObj"
                 ng-required="true"
          >
        </div>


        <!--------------------sessionNumber ----------------------->
        <div class="form-group" ng-class="{ 'has-error': false}">
          <div style="margin-bottom: 5px">
            <span>Seans nömrəsi</span>:
            <span class="required-sign">*</span>
          </div>

          <input type="text"
                 class="ux_input"
                 name="name_az"
                 ng-model="data.sessionNumber"
                 ng-readonly="sessionType != 'future'"
                 ng-required="instrument.config.fields.name.is_mandatory"
          >
        </div>


        <!--------------------destination ----------------------->
        <div class="form-group" ng-class="{ 'has-error': false}">
          <div style="margin-bottom: 5px">
            <span>Təyinat</span>:
            <span class="required-sign">*</span>
          </div>

          <input type="text"
                 class="ux_input"
                 name="name_az"
                 ng-model="data.destination"
                 ng-required="instrument.config.fields.name.is_mandatory"
          >
        </div>


        <div class="form-group" ng-class="{ 'has-error': false}">
          <table>
            <thead></thead>
            <tbody>
            <tr>
              <td colspan="4">
                <h5 style="width:100%; border-bottom: 1px solid #000; line-height:0.1em;"><span
                  style="background:#fff; color: black; font-weight: bold">Cari məbləğ</span></h5><span></span>
              </td>
            </tr>
            <tr>
              <td>Ticarət:</td>
              <td style="padding-left: 10px">Abunə yazılışı:</td>
              <td style="padding-left: 10px" ng-show="data.isHouseAccount">Xidmət</td>
              <td style="padding-left: 10px" ng-show="data.isHouseAccount">Pul zəmanəti</td>
            </tr>
            <tr>
              <td>
                <!--------------------trdAmount ----------------------->
                <div class="form-group" ng-class="{ 'has-error': false}">
                  <div class="form-inputs" style="padding-left: 0">
                      <span class="k-textbox k-button k-space-right" style="width: 170px; padding-left: 0">
                            <input ng-model="data.trdAmount" readonly/>
                       </span>
                  </div>
                </div>
              </td>
              <td>
                <!--------------------subAmount ----------------------->
                <div class="form-group" ng-class="{ 'has-error': false}">
                  <div class="form-inputs">
                      <span class="k-textbox k-button k-space-right" style="width: 170px; padding-left: 0">
                            <input ng-model="data.subAmount" readonly/>
                       </span>
                  </div>
                </div>
              </td>
              <td>
                <!--------------------disAmount ----------------------->
                <div class="form-group" ng-class="{ 'has-error': false}" ng-show="data.isHouseAccount">
                  <div class="form-inputs">
                       <span class="k-textbox k-button k-space-right" style="width: 170px; padding-left: 0">
                            <input ng-model="data.disAmount" readonly/>
                       </span>
                  </div>
                </div>
              </td>
              <td>
                <!--------------------colAmount ----------------------->
                <div class="form-group" ng-class="{ 'has-error': false}" ng-show="data.isHouseAccount">
                  <div class="form-inputs">
                       <span class="k-textbox k-button k-space-right" style="width: 170px; padding-left: 0">
                            <input ng-model="data.colAmount" readonly/>
                       </span>
                  </div>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>


        <div class="form-group" ng-class="{ 'has-error': false}">
          <table>
            <thead></thead>
            <tbody>
            <tr>
              <td colspan="4">
                <h5 style="width:100%; border-bottom: 1px solid #000; line-height:0.1em; color:black"><span
                  style="background:#fff;font-weight: bold">Çıxarış məbləği</span></h5><span></span>
              </td>
            </tr>
            <tr>
              <td><span>Ticarət</span>:</td>
              <td style="padding-left: 10px"><span>Abunə yazılışı</span>:</td>
              <td style="padding-left: 10px" ng-show="data.isHouseAccount">Xidmət:</td>
              <td style="padding-left: 10px" ng-show="data.isHouseAccount">Pul zəmanəti:</td>
            </tr>
            <tr>
              <td>
                <!--------------------trdWithdrawalAmount ----------------------->
                <div class="form-group" ng-class="{ 'has-error': false}">
                  <div class="form-inputs" style="padding-left: 0">
                       <span class="k-textbox k-button k-space-right" style="width: 170px; padding-left: 0">
                            <input  class="ux_input" style="width: 165px" ng-model="data.trdWithdrawalAmount"/>
                       </span>
                  </div>
                </div>
              </td>
              <td>
                <!--------------------subWithdrawalAmount ----------------------->
                <div class="form-group" ng-class="{ 'has-error': false}">
                  <div class="form-inputs">
                    <input  class="ux_input" style="width: 165px" ng-model="data.subWithdrawalAmount"/>
                  </div>
                </div>

              </td>
              <td>
                <!--------------------disWithdrawalAmount ----------------------->
                <div class="form-group" ng-class="{ 'has-error': false}" ng-show="data.isHouseAccount">
                  <div class="form-inputs">
                       <span class="k-textbox k-button k-space-right" style="width: 170px; padding-left: 0">
                            <input  class="ux_input" style="width: 165px" ng-model="data.disWithdrawalAmount"/>
                       </span>
                  </div>
                </div>
              </td>
              <td>
                <!--------------------colWithdrawalAmount ----------------------->
                <div class="form-group" ng-class="{ 'has-error': false}" ng-show="data.isHouseAccount">
                  <div class="form-inputs">
                       <span class="k-textbox k-button k-space-right" style="width: 170px; padding-left: 0">
                            <input  class="ux_input" style="width: 165px" ng-model="data.colWithdrawalAmount"/>
                       </span>
                  </div>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>


      </form>

    </div>
  </div>
</div>
