<div class="window-extend-block" data-extend-template="app/common/templates/operation-window-layout.html">
  <div data-block="content" class="window-main-content">


    <table class="table table-striped table-hover table-responsive table-bordered ">
      <tbody>
      <tr>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><b>Üzv hesabıdırmı?</b></td>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6">{{taskData.isHouseAccount ? "Bəli": "Xeyr" }}</td>
      </tr>
      <tr>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><b>memberAccount</b></td>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6">{{taskData.memberAccount.accountNumber }}</td>
      </tr>
      <tr>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><b once-text="'Currency'|translate">currency</b></td>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6">{{taskData.currency.code }}</td>
      </tr>
      <tr>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><b>Ticarət məbləği</b></td>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6">{{taskData.trdAmount }}</td>
      </tr>
      <tr>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><b>Abunə yazılışı məbləği</b></td>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6">{{taskData.subAmount }}</td>
      </tr>
      <tr>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><b>Xidmət məbləği</b></td>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6">{{taskData.disAmount }}</td>
      </tr>
      <tr>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><b>Pul zəmanəti məbləği</b></td>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6">{{taskData.colAmount }}</td>
      </tr>
      <tr>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><b>Çıxarış ticarət məbləği</b></td>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6">{{taskData.trdWithdrawalAmount }}</td>
      </tr>
      <tr>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><b>Çıxarış abunə yazılışı məbləği</b></td>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6">{{taskData.subWithdrawalAmount }}</td>
      </tr>
      <tr>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><b>Çıxarış FOREX məbləği</b></td>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6">{{taskData.frxWithdrawalAmount }}</td>
      </tr>
      <tr>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><b>Çıxarış xidmət məbləği</b></td>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6">{{taskData.disWithdrawalAmount }}</td>
      </tr>
      <tr>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><b>Çıxarış pul zəmanəti</b></td>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6">{{taskData.colWithdrawalAmount }}</td>
      </tr>
      <tr>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><b>Bank hesabı</b></td>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6">{{taskData.selectedBankAccount.bankNameAz }}</td>
      </tr>
      <tr>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><b>Seans nömrəsi</b></td>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6">{{taskData.sessionNumber }}</td>
      </tr>
      <tr>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><b>Təyinat</b></td>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6">{{taskData.destination }}</td>
      </tr>
      </tbody>
    </table>

  </div>
</div>

