<div class="window-extend-block" data-extend-template="app/common/templates/operation-window-layout.html">
  <div data-block="content" class="window-main-content">

    <h1>{{task.name}}</h1>
    <hr/>

    <table class="table table-striped table-hover table-responsive table-bordered ">
      <tbody>
      <tr>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><b once-text="'Registration Number'|translate"></b></td>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6">{{taskData.registrationNumber}}</td>
      </tr>
      <tr>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><b once-text="'Registration Date'|translate"></b></td>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6">{{taskData.registrationDate |date: 'shortDate'}}</td>
      </tr>

      <tr>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><b once-text="'Value Date'|translate"></b></td>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6">{{taskData.valueDate |date: 'shortDate'}}</td>
      </tr>
      <tr>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><b once-text="'Matyrity Date'|translate"></b></td>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6">{{taskData.maturityDate |date: 'shortDate'}}</td>
      </tr>
      <tr>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><b once-text="'Comment'|translate"></b></td>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6">{{taskData.comment}}</td>
      </tr>
      <tr>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><b once-text="'Registration Authority Class'|translate"></b>
        </td>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6">{{taskData.registrationAuthorityClass['name'+lnC]}}</td>
      </tr>
      <tr>
        <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4"><b
          once-text="'Pledgor'|translate"></b></td>

        <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4">{{taskData.pledgor.name}} - {{taskData.pledgor.accountNumber}}
        </td>

      </tr>

      <tr>
        <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4"><b
          once-text="'Pledgee'|translate"></b></td>

        <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4">{{taskData.pledgee.name}} - {{taskData.pledgee.accountNumber}}
        </td>

      </tr>
      <tr>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><b>Kim tərəfindən çağrılıb</b></td>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6">
          <span ng-if="taskData.invocationByOrder == true " once-text="'Order'|translate"></span>
          <span ng-if="taskData.invocationByOrder == false " once-text="'Specific Instruments'|translate"></span>
        </td>
      </tr>

      <tr>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><b once-text="'Order Number'|translate"></b></td>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6">{{taskData.referredPledgeRecord.recordNumber}}</td>
      </tr>
      <tr>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><b once-text="'Order Date'|translate"></b></td>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6">{{taskData.referredPledgeRecord.recordDate |date: 'short'}}</td>
      </tr>
      </tbody>

    </table>
    <div class="succession-operation-forms table-responsive">
      <hr/>
      <h5 once-text="'Subjects'|translate"></h5>
      <table class="table table-striped table-bordered">
        <thead>
        <tr>

          <th><span class="required-sign">*</span> <span once-text="'Instrument'|translate"></span></th>
          <th once-text="'ISIN'|translate"></th>
          <th>
            <span once-text="'Shares'|translate"></span>

          </th>
        </tr>
        </thead>
        <tbody>
        <tr data-ng-repeat="subject in taskData.subjects">
          <td>

            <span ng-if="!subject.instrument.instrumentName">......</span>
            <span> {{subject.instrument.instrumentName}}</span>
          </td>
          <!--Name-->
          <td>
            <span ng-if="!subject.instrument.ISIN">......</span>
            <span> {{subject.instrument.ISIN}}</span>
          </td>
          <!--ISIN-->
          <td>

            <table class="table table-striped table-bordered" ng-if="subject.shares">
              <thead>
              <tr>

                <th><span once-text="'Share ID'|translate"></span></th>
                <th once-text="'Quantity'|translate"></th>
              </tr>
              </thead>

              <tbody>
              <tr ng-repeat="share in subject.shares">
                <td>{{share.ID}}</td>
                <td>{{share.quantity}}</td>
              </tr>
              </tbody>

            </table>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


