<div class="window-extend-block" data-extend-template="app/common/templates/operation-window-layout.html">
  <div data-block="content" class="window-main-content">
    <div
      role="form"
      ng-form="config.form.name"
      ng-submit="config.buttons.complete.click()">
      <div class="succession-operation-forms">
        <div class="form-group" ng-class="{ 'has-error':
                 (config.form.name.$submitted || config.form.name.record_number.$touched)
                 &&(config.form.name.record_number.$invalid)  }">

          <label class="form-labels"><span class="required-sign">*</span><span
            once-text="'Registration Number'|translate"></span>:</label>

          <div class="form-inputs">
            <input type="text"
                   class="k-textbox"
                   name="record_number"
                   ng-model="pledge.registrationNumber"
                   ng-required="true">


            <div ng-show="config.form.name.$submitted || config.form.name.record_number.$touched">
              <p ng-show="config.form.name.record_number.$error.required"
                 class="help-block help-block-error">
                <span once-text="'This field is required'|translate"></span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="succession-operation-forms">
        <div class="form-group" ng-class="{ 'has-error':
                 (config.form.name.$submitted || config.form.name.record_date.$touched)
                 &&(config.form.name.record_date.$invalid)  }">
          <label class="form-labels"><span class="required-sign">*</span><span
            once-text="'Registration Date'|translate"></span>:</label>

          <div class="form-inputs">
            <input type="text"
                   class="datepicker-cst"
                   kendo-date-picker

                   name="record_date"
                   ng-model="pledge.registrationDate"
                   k-ng-model="pledge.registrationDateObj"
                   ng-required="true"
              >

            <div ng-show="config.form.name.$submitted || config.form.name.record_date.$touched">
              <p ng-show="config.form.name.record_date.$error.required"
                 class="help-block help-block-error">
                <span once-text="'This field is required'|translate"></span>
              </p>

              <p ng-show="config.form.name.record_date.$error.csmKendoDate"
                 class="help-block help-block-error">
                <span once-text="'Please enter a valid date!'|translate"></span>
              </p>
            </div>
          </div>
        </div>

      </div>
      <div class="succession-operation-forms">
        <div class="form-group"
             ng-class="{ 'has-error':
                 (config.form.name.$submitted || config.form.name.value_date.$touched)
                 &&(config.form.name.value_date.$invalid)  }">
          <label class="form-labels"><span once-text="'Value Date'|translate"></span>:</label>

          <div class="form-inputs">
            <input type="text"
                   class="datepicker-cst inline-block"
                   kendo-date-picker

                   name="value_date"
                   ng-model="pledge.valueDate"
                   k-ng-model="pledge.valueDateObj"
                   ng-required="false"
              >
             <span tooltip-placement="left"
                   uib-tooltip-html="'Value date will be the same as record date if not provided.'|translate">
               <span class="glyphicon glyphicon-question-sign glyphicon-question-sign-style"></span>
            </span>

            <div ng-show="config.form.name.$submitted || config.form.name.value_date.$touched">
              <p ng-show="config.form.name.value_date.$error.required"
                 class="help-block help-block-error">
                <span once-text="'This field is required'|translate"></span>
              </p>

              <p ng-show="config.form.name.value_date.$error.csmKendoDate"
                 class="help-block help-block-error">
                <span once-text="'Please enter a valid date!'|translate"></span>
              </p>
            </div>
          </div>
        </div>

      </div>
      <div class="succession-operation-forms">

        <div class="form-group" ng-class="{ 'has-error':
                 (config.form.name.$submitted || config.form.name.comment.$touched)
                 &&(config.form.name.comment.$invalid)  }">

          <label class="form-labels">
            <span class="required-sign">*</span>
            <span once-text="'Comment'|translate"></span>:</label>

          <div class="form-inputs">
                  <textarea
                    class="k-textbox"
                    name="comment"
                    cols="6"
                    rows="7"
                    ng-model="pledge.comment"
                    ng-required="true"></textarea>

            <div ng-show="config.form.name.$submitted || config.form.name.comment.$touched">
              <p ng-show="config.form.name.comment.$error.required"
                 class="help-block help-block-error">
                <span once-text="'This field is required'|translate"></span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="succession-operation-forms">
        <div class="form-group" ng-class="{ 'has-error':
                 (config.form.name.$submitted || config.form.name.reg_auth_class.$touched)
                 &&(config.form.name.reg_auth_class.$invalid)  }">

          <label class="form-labels"><span class="required-sign">*</span>
            <span once-text="'Registration Authority Class'|translate"></span>:</label>

          <div class="form-inputs">
            <select
              name="reg_auth_class"
              ng-model="pledge.registrationAuthorityClass"
              ng-required="true"
              >
              <option value="">---</option>
              <option
                value="{{cl|json}}"
                ng-repeat="cl in  metaData.registrationAuthorityClasses">{{cl['name'+lnC]}}
              </option>
            </select>

            <div ng-show="config.form.name.$submitted || config.form.name.reg_auth_class.$touched">
              <p ng-show="config.form.name.reg_auth_class.$error.required"
                 class="help-block help-block-error">
                <span once-text="'This field is required'|translate"></span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <!--Record Fields--->
      <div class="succession-operation-forms">
        <div class="form-group">

          <label class="form-labels">
            <span once-text="'Endorse To'|translate"></span>:</label>

          <div class="form-inputs">
            <md-radio-group layout="row" ng-model="pledge.endorseToOrder" ng-change="resetData()"
                            class="horizontal-form-checkbox">
              <md-radio-button ng-value="true"><span once-text="'Order'|translate"></span></md-radio-button>
              <md-radio-button ng-value="false" class="md-primary"><span
                once-text="'Specific Instruments'|translate"></span>
              </md-radio-button>
            </md-radio-group>
          </div>
        </div>
      </div>
      <!--Closure By-->
      <div ng-if="pledge.endorseToOrder" class="succession-operation-forms"> <!--Order-->
        <table class="table table-striped table-bordered">
          <thead>
          <tr>
            <th>
              <strong once-text="'Registration Number'|translate" class="succession-operation-th"></strong>
            </th>
            <th once-text="'Registration Date'|translate" class="succession-operation-th"></th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>
              <span ng-if="!pledge.referredPledgeRecord.recordNumber">......</span>
              <span class="succession-operation-th"> {{pledge.referredPledgeRecord.recordNumber}}</span>
              <input
                type="hidden"
                name="order"
                ng-required="true"
                ng-model="pledge.referredPledgeRecord.recordNumber">

              <div ng-class="{ 'has-error':config.form.name.$submitted &&(config.form.name.order.$invalid)}"
                   ng-show="config.form.name.$submitted">
                <p ng-show="config.form.name.order.$error.required"
                   class="help-block help-block-error">
                  <span once-text="'You have to select order!'|translate"></span>
                </p>
              </div>

            </td>
            <td>
              <span ng-if="!pledge.referredPledgeRecord.recordDate">......</span>
              <span class="succession-operation-th"> {{pledge.referredPledgeRecord.recordDate|date:'shortDate'}}</span>
            </td>
            <td>
              <md-button class="md-fab md-micro"
                         aria-label="Mini FAB"
                         ng-click="findOrder()">
                <i class="glyphicon glyphicon-search micro-glyphicon"></i>
                <md-tooltip>
                  <span once-text="'Find Order'|translate"></span>
                </md-tooltip>

              </md-button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <!--Record Data-->

      <div class="succession-operation-forms">
        <table class="table table-striped table-bordered">
          <thead>
          <tr>
            <th>
              <strong class="required-sign succession-operation-th">*</strong>
              <strong once-text="'Pledgor'|translate" class="succession-operation-th"></strong>
            </th>
            <th once-text="'Account Number'|translate" class="succession-operation-th"></th>
            <th ng-if="!pledge.endorseToOrder"></th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>
              <span ng-if="!pledge.pledgor.name">......</span>
              <span class="succession-operation-th"> {{pledge.pledgor.name}}</span>
              <input
                type="hidden"
                name="pledgor"
                ng-required="!pledge.endorseToOrder"
                ng-model="pledge.pledgor.name">

              <div ng-class="{ 'has-error':config.form.name.$submitted &&(config.form.name.pledgor.$invalid)}"
                   ng-show="config.form.name.$submitted">
                <p ng-show="config.form.name.pledgor.$error.required"
                   class="help-block help-block-error">
                  <span once-text="'You have to select pledgor!'|translate"></span>
                </p>
              </div>
            </td>
            <td>
              <span ng-if="!pledge.pledgor.accountNumber">......</span>
              <span class="succession-operation-th"> {{pledge.pledgor.accountNumber}}</span>
            </td>
            <td ng-if="!pledge.endorseToOrder">
              <md-button class="md-fab md-micro"
                         aria-label="Mini FAB"
                         ng-click="findPledgor()">
                <i class="glyphicon glyphicon-search micro-glyphicon"></i>
                <md-tooltip>
                  <span once-text="'Find Pledgor'|translate"></span>
                </md-tooltip>

              </md-button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <!--Pledgor-->
      <div class="succession-operation-forms">
        <table class="table table-striped table-bordered">
          <thead>
          <tr>
            <th>
              <strong class="required-sign succession-operation-th">*</strong>
              <strong once-text="'Pledgee'|translate" class="succession-operation-th"></strong>
              <input
                type="hidden"
                name="pledgee"
                ng-required="true"
                ng-model="pledge.pledgee.name">

              <div ng-class="{ 'has-error':config.form.name.$submitted &&(config.form.name.pledgee.$invalid)}"
                   ng-show="config.form.name.$submitted">
                <p ng-show="config.form.name.pledgee.$error.required"
                   class="help-block help-block-error">
                  <span once-text="'You have to select pledgee!'|translate"></span>
                </p>
              </div>
            </th>
            <th once-text="'Account Number'|translate" class="succession-operation-th"></th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>
              <span ng-if="!pledge.pledgee.name">......</span>
              <span class="succession-operation-th"> {{pledge.pledgee.name}}</span>

            </td>
            <td>
              <span ng-if="!pledge.pledgee.accountNumber">......</span>
              <span class="succession-operation-th"> {{pledge.pledgee.accountNumber}}</span>
            </td>
            <td>
              <md-button class="md-fab md-micro"
                         aria-label="Mini FAB"
                         ng-click="findPledgee()">
                <i class="glyphicon glyphicon-search micro-glyphicon"></i>
                <md-tooltip>
                  <span once-text="'Find Holder'|translate"></span>
                </md-tooltip>

              </md-button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <!--Pledgee-->


      <div ng-if="pledge.endorseToOrder && pledge.subjects[0].instrument.ISIN ">
        <div class="succession-operation-forms table-responsive">
          <hr/>
          <h5 once-text="'Instruments'|translate"></h5>
          <table class="table table-striped table-bordered">
            <thead>
            <tr>
              <th><span once-text="'Instrument'|translate"></span></th>
              <th once-text="'ISIN'|translate"></th>
              <th once-text="'Select Shares'|translate"></th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <tr data-ng-repeat="subject in pledge.subjects">
              <td>
                <span ng-if="!subject.instrument.instrumentName">......</span>
                <span> {{subject.instrument.instrumentName}}</span>
              </td>
              <!--Name-->
              <td>
                <span ng-if="!subject.instrument.ISIN">......</span>
                <span> {{subject.instrument.ISIN}}</span>
              </td>
              <!--ISIN-->
              <td>
                <div class="has-error">
                  <p ng-show="subject.validation.errors.pledgable" class="help-block help-block-error has-error">
                    <span once-text="'You have to select shares.'|translate"></span>
                  </p>
                </div>
                <md-button
                  ng-if="!(subject.balance.length>0)"
                  class="md-fab md-micro"
                  aria-label="Mini FAB"
                  ng-disabled="!subject.instrument.id"
                  ng-click="checkBalance(subject,config.accountStatementWindow,$index)">
                  <i class="glyphicon glyphicon-edit micro-glyphicon"></i>
                  <md-tooltip>
                    <span once-text="'Select Shares'|translate"></span>
                  </md-tooltip>
                </md-button>


                <div ng-if="subject.balance.length>0">
                  <table class="table table-striped table-bordered">
                    <thead>
                    <tr>
                      <th><span once-text="'Share ID'|translate"></span></th>
                      <th once-text="'Quantity'|translate"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="share in subject.shares">
                      <td>{{share.ID}}</td>
                      <td>{{share.quantity}}</td>
                    </tr>
                    </tbody>
                  </table>
                  <strong>{{subject.share.ID}}</strong>
                  <md-button ng-show="subject.balance.length>0" class="md-icon-button launch"
                             ng-click="showBalanceData(config.accountStatementWindow,subject.balance,subject,$index)">
                    <i class="glyphicon glyphicon-edit"></i>
                    <md-tooltip><span once-text="'Update'|translate"></span></md-tooltip>
                  </md-button>
                </div>
              </td>
              <!--Balance-->
              <td>
                <md-button
                  class="md-fab md-micro"
                  aria-label="Mini FAB"
                  ng-click="removeInstrument($index,pledge.subjects)">
                  <i class="glyphicon glyphicon-remove micro-glyphicon"></i>
                  <md-tooltip>
                    <span once-text="'Delete'|translate"></span>
                  </md-tooltip>

                </md-button>
                <!--Remove Button-->
              </td>
              <!--Delete-->
            </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div ng-if="!pledge.endorseToOrder">
        <div class="succession-operation-forms table-responsive"
             ng-if="!pledge.pledgeAll && pledge.pledgor.id && pledge.pledgee.id">
          <hr/>
          <h5 once-text="'Subjects'|translate"></h5>
          <table class="table table-striped table-bordered">
            <thead>
            <tr>
              <th><span class="required-sign">*</span> <span once-text="'Instrument'|translate"></span></th>
              <th once-text="'ISIN'|translate"></th>
              <th once-text="'Select Shares'|translate"></th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <tr data-ng-repeat="subject in pledge.subjects">
              <td>

                <span ng-if="!subject.instrument.instrumentName">......</span>
                <span> {{subject.instrument.instrumentName}}</span>
                <md-button

                  class="md-fab md-micro"
                  aria-label="Mini FAB"
                  ng-disabled="!pledge.pledgor.id"
                  ng-click="findInstrument($index)">
                  <i class="glyphicon glyphicon-search micro-glyphicon"></i>
                  <md-tooltip>
                    <span once-text="'Find Instrument'|translate"></span>
                  </md-tooltip>

                </md-button>
                <input

                  type="hidden"
                  name="ISIN_{{$index}}"
                  ng-required="true"
                  ng-model="subject.instrument.ISIN">

                <div
                  class="has-error"
                  ng-show="config.form.name.$submitted ">
                  <p ng-show="config.form.name['ISIN_'+$index].$error.required"
                     class="help-block help-block-error">
                    <span once-text="'You have to select instrument.'|translate"></span>
                  </p>
                </div>
              </td>
              <!--Name-->
              <td>
                <span ng-if="!subject.instrument.ISIN">......</span>
                <span> {{subject.instrument.ISIN}}</span>
              </td>
              <!--ISIN-->
              <td>
                <div class="has-error">
                  <p ng-show="subject.validation.errors.pledgable" class="help-block help-block-error has-error">
                    <span once-text="'You have to select shares.'|translate"></span>
                  </p>
                </div>
                <md-button
                  ng-if="!(subject.balance.length>0)"
                  class="md-fab md-micro"
                  aria-label="Mini FAB"
                  ng-disabled="!subject.instrument.id"
                  ng-click="checkBalance(subject,config.accountStatementWindow,$index)">
                  <i class="glyphicon glyphicon-edit micro-glyphicon"></i>
                  <md-tooltip>
                    <span once-text="'Select Shares'|translate"></span>
                  </md-tooltip>
                </md-button>


                <div ng-if="subject.balance.length>0">
                  <table class="table table-striped table-bordered">
                    <thead>
                    <tr>
                      <th><span once-text="'Share ID'|translate"></span></th>
                      <th once-text="'Quantity'|translate"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="share in subject.shares">
                      <td>{{share.ID}}</td>
                      <td>{{share.quantity}}</td>
                    </tr>
                    </tbody>
                  </table>
                  <strong>{{subject.share.ID}}</strong>
                  <md-button ng-show="subject.balance.length>0" class="md-icon-button launch"
                             ng-click="showBalanceData(config.accountStatementWindow,subject.balance,subject,$index)">
                    <i class="glyphicon glyphicon-edit"></i>
                    <md-tooltip><span once-text="'Update'|translate"></span></md-tooltip>
                  </md-button>
                </div>
              </td>
              <!--Balance-->
              <td>
                <md-button
                  ng-if="$index>0"
                  class="md-fab md-micro"
                  aria-label="Mini FAB"
                  ng-click="removeInstrument($index,pledge.subjects)">
                  <i class="glyphicon glyphicon-remove micro-glyphicon"></i>
                  <md-tooltip>
                    <span once-text="'Delete'|translate"></span>
                  </md-tooltip>

                </md-button>
                <!--Remove Button-->
              </td>
              <!--Delete-->
            </tr>
            </tbody>
          </table>
        </div>
        <div class="row" ng-if="pledge.subjects[0].instrument.ISIN ">
          <div class="col-lg-11">
            <div class="form-group">
              <md-button
                class="md-fab md-micro"
                aria-label="Mini FAB"
                ng-click="addNewInstrument(pledge.subjects)">
                <i class="glyphicon glyphicon-plus micro-glyphicon"></i>
                <md-tooltip>
                  <span once-text="'Add New Instrument'|translate"></span>
                </md-tooltip>
              </md-button>
            </div>
          </div>
        </div>
      </div>


      <div kendo-window="config.accountStatementWindow"
           k-title="'Balance'"
           k-
           k-width="'80%'"
           k-resizable="true"
           k-height="'80%'"
           k-visible="false">
        <div ng-include="'app/records/templates/partials/share-selection.html'"></div>

      </div>

    </div>
  </div>
</div>

