<div class="view-buttons-wrapper">
<div class="pull-left view-button-group">
    <div class="form-group inline-block">
      <label class="panel-body-label text-right inline-block text-muted-manual">
        <span once-text="'Date'|translate"></span>:</label>

      <div class="inline-block person-search-inputs">
        <input type="text"
               class="datepicker-cst"
               kendo-date-picker
               name="start"
               ng-model="data.date"
               k-ng-model="data.dateObj"
        >
      </div>

      <div class="form-group inline-block">
        <label class="text-right inline-block text-muted-manual">
          <span once-text="'Currency'|translate"></span>:</label>

        <div class="inline-block person-search-inputs">
          <select ng-model="data.currencyCode"
                  style="padding: 2px; width: 170px"
                  ng-options="obj.code as obj.code for obj in metaData.currencies"
          ></select>
        </div>
      </div>

    </div>

  </div>
  <div class="pull-right view-button-group">
    <md-button type="button" class="md-fab md-micro"
               aria-label="Refresh table"
               ng-click="findData()">
      <i class="glyphicon glyphicon-refresh micro-glyphicon"></i>
      <md-tooltip md-direction="down">
        <span once-text="'Refresh data'|translate"></span>
      </md-tooltip>
    </md-button>
    <md-button type="button" class="md-fab md-micro"
               aria-label="Print data"
               ng-click="exportToExcel()">
      <i class="glyphicon glyphicon-export micro-glyphicon"></i>
      <md-tooltip md-direction="down">
        <span once-text="'Print data'|translate"></span>
      </md-tooltip>
    </md-button>
    <md-button type="button" class="md-fab md-micro"
               aria-label="Mini FAB"
               ng-click="closeWindow()">
      <i class="glyphicon glyphicon-remove micro-glyphicon"></i>

      <md-tooltip md-direction="down">
        <span once-text="'Close Window'|translate"></span>
      </md-tooltip>

    </md-button>

  </div>
</div>



<div class="person-find-result-block"  style="top: 55px">
  <div
    kendo-grid="searchResultGrid"
    k-ng-delay="mainGridOptions"
    k-options="mainGridOptions"

    k-sortable="true"
    k-scrollable="true"
    k-pageable='{"pageSize": 20, "refresh": true, "pageSizes": true, "buttonCount": 5 }'
    k-resizable="true"
  >


  </div>

</div>


<!--<div>-->
  <!--<table class="table table-striped table-hover table-responsive table-bordered" id="quarterlyClientReportSecond">-->
    <!--<thead>-->
    <!--<tr>-->
      <!--<th></th>-->
      <!--<th colspan="11" style="text-align: center">Qalıqlar</th>-->
    <!--</tr>-->

    <!--<tr>-->
      <!--<th>Şəxs (S.A.A.[F.Ş],tam adı [H.Ş]);</th>-->
      <!--<th>Daxili pul hesabının nömrəsi:</th>-->
      <!--<th>Pul hesabının bölməsi:</th>-->
      <!--<th>Hesabı idarə edən:</th>-->
      <!--<th>Qalıq</th>-->
    <!--</tr>-->

    <!--</thead>-->
    <!--<tbody>-->
    <!--<tr ng-repeat="obj in records">-->
      <!--<td >{{ obj.name }}</td>-->
      <!--<td >{{ obj.accountNumber }}</td>-->
      <!--<td >{{ obj.serviceClass.nameAz }}</td>-->
      <!--<td >{{ obj.accountManagerName }}</td>-->
      <!--<td >{{ obj.remainingAmount }}</td>-->
    <!--</tr>-->
    <!--</tbody>-->
  <!--</table>-->
<!--</div>-->
