<div class="window-extend-block" data-extend-template="app/common/templates/operation-window-layout.html">
  <div data-block="content" class="window-main-content">

    <div class="succession-operation-forms">
      <div class="form-group" ng-class="{ 'has-error': false}">
        <label class="form-labels">
          <span>Ödəniş seçin </span>:
        </label>

        <div class="form-inputs">

          <md-button
            type="button"
            aria-label="search button"
            style="float: right; top: -13px"
            class="md-fab md-micro"
            ng-click="findUnknownPayment()">
            <i class="glyphicon glyphicon-search micro-glyphicon"></i>
          </md-button>
        </div>
      </div>
    </div>


    <div class="succession-operation-forms">
      <div class="form-group" ng-class="{ 'has-error': false}">
        <label class="form-labels">
          <span>Məbləğ</span>:
        </label>

        <div class="form-inputs">
          {{ data.amount }}
        </div>
      </div>
    </div>


    <div ng-repeat="obj in data.items">

      <div class="succession-operation-forms">
        <div class="form-group" ng-class="{ 'has-error': false}">
          <label class="form-labels">
            <span>Daxili hesabdırmı</span>:
          </label>

          <div class="form-inputs">
            <label class="form-labels" style="width: 20px">
              <md-checkbox
                style="margin-top: 0"
                type="checkbox"
                name="isConfirmed"
                ng-required="config.form.name.isConfirmed.$untouched"
                ng-true-value="true"
                ng-false-value="false"
                ng-model="obj.isInternalAccount">
              </md-checkbox>
            </label>
          </div>
        </div>
      </div>


      <div class="succession-operation-forms" ng-show="obj.isInternalAccount">
        <div class="form-group" ng-class="{ 'has-error': false}">
          <label class="form-labels">
            <span>Daxili hesab seçin</span>:
          </label>

          <div class="form-inputs">

            <md-button
              type="button"
              aria-label="search button"
              style="float: right; top: -13px"
              class="md-fab md-micro"
              ng-click="findInternalAccount(obj)">
              <i class="glyphicon glyphicon-search micro-glyphicon"></i>
            </md-button>
          </div>
        </div>

      </div>

      <div class="succession-operation-forms" ng-show="obj.isInternalAccount && obj.internalMemberAccount">
        <div class="form-group" ng-class="{ 'has-error': false}">
          <label class="form-labels">
            <span>Daxili hesab</span>:
          </label>

          <div class="form-inputs">
            {{ obj.internalMemberAccount.name }}
          </div>
        </div>

      </div>


      <div class="succession-operation-forms">
        <div class="form-group" ng-class="{ 'has-error': false}">
          <label class="form-labels">
            <span>Məbləğ</span>:
          </label>

          <div class="form-inputs">
            <input type="text"
                   style="width: 160px"
                   class="k-textbox"
                   name="record_number"
                   placeholder=""
                   ng-model="obj.amount"
                   ng-required="true"/>
          </div>
        </div>
      </div>


      <div class="succession-operation-forms" ng-hide="obj.isInternalAccount">
        <div class="form-group" ng-class="{ 'has-error': false}">
          <label class="form-labels">
            <span>AZIPS xərclərini ödənilməsi</span>:
          </label>

          <div class="form-inputs">
            <select style="width: 160px"
                    ng-options="type.value as type.name for type in azipsFeePaymentTypes"
                    ng-model="obj.azipsFeePaymentType"
            ></select>
          </div>
        </div>
      </div>


      <div class="succession-operation-forms"
           ng-show="!obj.isInternalAccount && obj.azipsFeePaymentType == 'PAID_BY_CLIENT'">
        <div class="form-group" ng-class="{ 'has-error': false}">
          <label class="form-labels">
            <span>Xərcləri ödəyən müştəri</span>:
          </label>

          <div class="form-inputs">

            <md-button
              type="button"
              aria-label="search button"
              style="float: right; top: -13px"
              class="md-fab md-micro"
              ng-click="searchClearingMembersAndIssuers(obj)">
              <i class="glyphicon glyphicon-search micro-glyphicon"></i>
            </md-button>


            {{ obj.azipsFeePayer.accountNumber }}
          </div>
        </div>
      </div>

      <div class="succession-operation-forms" ng-hide="obj.isInternalAccount">
        <div class="form-group" ng-class="{ 'has-error': false}">
          <label class="form-labels">
            <span>Müştərinin adı</span>:
          </label>

          <div class="form-inputs">
            <input type="text"
                   style="width: 160px"
                   class="k-textbox"
                   name="record_number"
                   placeholder=""
                   ng-model="obj.payeeClientName"
                   ng-required="true"/>
          </div>
        </div>
      </div>


      <div class="succession-operation-forms" ng-hide="obj.isInternalAccount">
        <div class="form-group" ng-class="{ 'has-error': false}">
          <label class="form-labels">
            <span>Müştərinin VÖENi</span>:
          </label>

          <div class="form-inputs">
            <input type="text"
                   style="width: 160px"
                   class="k-textbox"
                   name="record_number"
                   placeholder=""
                   maxlength="10"
                   ng-model="obj.payeeClientTin"
                   ng-required="true"/>
          </div>
        </div>
      </div>

      <div class="succession-operation-forms" ng-hide="obj.isInternalAccount">
        <div class="form-group" ng-class="{ 'has-error': false}">
          <label class="form-labels">
            <span>Müştərinin kodu</span>:
          </label>

          <div class="form-inputs">
            <input type="text"
                   style="width: 160px"
                   class="k-textbox"
                   name="record_number"
                   placeholder=""
                   ng-model="obj.payeeClientCode"
                   ng-required="true"/>
          </div>
        </div>
      </div>

      <div class="succession-operation-forms" ng-hide="obj.isInternalAccount">
        <div class="form-group" ng-class="{ 'has-error': false}">
          <label class="form-labels">
            <span>Bankın adı</span>:
          </label>

          <div class="form-inputs">
            <input type="text"
                   style="width: 160px"
                   class="k-textbox"
                   name="record_number"
                   placeholder=""
                   ng-model="obj.payeeBankName"
                   ng-required="true"/>
          </div>
        </div>
      </div>

      <div class="succession-operation-forms" ng-hide="obj.isInternalAccount">
        <div class="form-group" ng-class="{ 'has-error': false}">
          <label class="form-labels">
            <span>Bankın VÖENi</span>:
          </label>

          <div class="form-inputs">
            <input type="text"
                   style="width: 160px"
                   class="k-textbox"
                   name="record_number"
                   placeholder=""
                   maxlength="10"
                   ng-model="obj.payeeBankTin"
                   ng-required="true"/>
          </div>
        </div>
      </div>

      <div class="succession-operation-forms" ng-hide="obj.isInternalAccount">
        <div class="form-group" ng-class="{ 'has-error': false}">
          <label class="form-labels">
            <span>Bankın Kodu</span>:
          </label>

          <div class="form-inputs">
            <input type="text"
                   style="width: 160px"
                   class="k-textbox"
                   name="record_number"
                   placeholder=""
                   ng-model="obj.payeeBankCode"
                   ng-required="true"/>
          </div>
        </div>
      </div>

      <div class="succession-operation-forms" ng-hide="obj.isInternalAccount">
        <div class="form-group" ng-class="{ 'has-error': false}">
          <label class="form-labels">
            <span>Bankın BİCi</span>:
          </label>

          <div class="form-inputs">
            <input type="text"
                   style="width: 160px"
                   class="k-textbox"
                   name="record_number"
                   placeholder=""
                   ng-model="obj.payeeBankBIC"
                   ng-required="true"/>
          </div>
        </div>
      </div>

      <div class="succession-operation-forms" ng-hide="obj.isInternalAccount">
        <div class="form-group" ng-class="{ 'has-error': false}">
          <label class="form-labels">
            <span>Bankın müxbir hesabı</span>:
          </label>

          <div class="form-inputs">
            <input type="text"
                   style="width: 160px"
                   class="k-textbox"
                   name="record_number"
                   placeholder=""
                   ng-model="obj.payeeBankCorrespondentAccount"
                   ng-required="true"/>
          </div>
        </div>
      </div>

      <div class="succession-operation-forms" ng-hide="obj.isInternalAccount">
        <div class="form-group" ng-class="{ 'has-error': false}">
          <label class="form-labels">
            <span>IBAN</span>:
          </label>

          <div class="form-inputs">
            <input type="text"
                   style="width: 160px"
                   class="k-textbox"
                   name="record_number"
                   placeholder=""
                   ng-model="obj.payeeClientAccountNumber"
                   ng-required="true"/>
          </div>
        </div>
      </div>

      <div class="succession-operation-forms" ng-hide="obj.isInternalAccount">
        <div class="form-group" ng-class="{ 'has-error': false}">
          <label class="form-labels">
            <span class="required-sign">*</span>
            <span>Sessiya</span>:
          </label>

          <div class="form-inputs">
            <select
              style="width: 160px"
              name="sessionNumber"
              ng-required="true"
              ng-model="obj.sessionNumber"
              ng-options="session.value as session.value for session in sessions"></select>
          </div>
        </div>
      </div>


      <div class="succession-operation-forms" ng-hide="obj.isInternalAccount">
        <div class="form-group" ng-class="{ 'has-error': false}">
          <label class="form-labels">
            <span class="required-sign">*</span>
            <span>Çıxarış tarixi</span>:
          </label>

          <div class="form-inputs">
            <input type="text"
                   style="width: 160px"
                   class="datepicker-cst"
                   kendo-date-picker
                   data-k-format="'dd-MM-yyyy'"
                   name="withdrawalDate"
                   ng-model="obj.withdrawalDate"
                   k-ng-model="obj.withdrawalDateObj"
                   ng-required="true"
            >
          </div>
        </div>
      </div>

      <div class="succession-operation-forms" ng-hide="obj.isInternalAccount">
        <div class="form-group" ng-class="{ 'has-error': false}">
          <label class="form-labels">
            <span>Təyinat</span>:
          </label>

          <div class="form-inputs">
            <input type="text"
                   style="width: 160px"
                   class="k-textbox"
                   name="record_number"
                   placeholder=""
                   ng-model="obj.destination"
                   ng-required="true"/>
          </div>
        </div>
      </div>


      <div class="succession-operation-forms">
        <div class="form-group" ng-class="{ 'has-error': false}">
          <label class="form-labels">
            <span></span>
          </label>

          <div class="form-inputs" ng-if="$last">
            <md-button
              type="button"
              aria-label="search button"
              class="md-fab md-micro"
              ng-click="addItem()">
              <i class="glyphicon glyphicon-plus micro-glyphicon"></i>
            </md-button>
          </div>
          <div class="form-inputs" ng-if="data.items.length > 1">
            <md-button
              type="button"
              aria-label="search button"
              class="md-fab md-micro"
              ng-click="removeItem($index)">
              <i class="glyphicon glyphicon-trash micro-glyphicon"></i>
            </md-button>
          </div>
        </div>
      </div>

      <md-divider ng-if="!$last"></md-divider>
    </div>


  </div>
</div>
