<div class="window-extend-block" data-extend-template="app/common/templates/operation-window-layout.html">
  <div data-block="content" class="window-main-content">

    <table class="table table-striped table-hover table-responsive">
      <tbody ng-repeat="obj in taskData.items">

      <tr>
        <td>Məbləğ</td>
        <td>{{obj.amount}}</td>
      </tr>
      <tr>
        <td>Daxili hesabdırmı</td>
        <td>{{obj.isInternalAccount ? 'Bəli': 'Xeyr'}}</td>
      </tr>

      <tr ng-show="obj.isInternalAccount" style="border-bottom: 2px solid grey; margin-bottom: 20px">
        <td>Daxili hesab</td>
        <td>{{obj.internalMemberAccount.name }}</td>
      </tr>

      <tr ng-hide="obj.isInternalAccount">
        <td>Müştərinin adı</td>
        <td>{{obj.payeeClientName}}</td>
      </tr>
      <tr ng-hide="obj.isInternalAccount">
        <td>Müştərinin VÖENi</td>
        <td>{{obj.payeeClientTin}}</td>
      </tr>
      <tr ng-hide="obj.isInternalAccount">
        <td>Müştərinin kodu</td>
        <td>{{obj.payeeClientCode}}</td>
      </tr>
      <tr ng-hide="obj.isInternalAccount">
        <td>Bankın adı</td>
        <td>{{obj.payeeBankName}}</td>
      </tr>
      <tr ng-hide="obj.isInternalAccount">
        <td>Bankın VÖENi</td>
        <td>{{obj.payeeBankTin}}</td>
      </tr>
      <tr ng-hide="obj.isInternalAccount">
        <td>Bankın Kodu</td>
        <td>{{obj.payeeBankCode}}</td>
      </tr>
      <tr ng-hide="obj.isInternalAccount">
        <td>Bankın BİCi</td>
        <td>{{obj.payeeBankBIC}}</td>
      </tr>
      <tr ng-hide="obj.isInternalAccount">
        <td>Bankın müxbir hesabı</td>
        <td>{{obj.payeeBankCorrespondentAccount}}</td>
      </tr>
      <tr ng-hide="obj.isInternalAccount">
        <td>Təyinat</td>
        <td>{{obj.destination}}</td>
      </tr>

      <tr ng-hide="obj.isInternalAccount" style="border-bottom: 2px solid grey; margin-bottom: 20px">
        <td>IBAN</td>
        <td>{{obj.payeeClientAccountNumber}}</td>
      </tr>

      </tbody>
    </table>
    <hr/>



  </div>
</div>
