<div class="trade-view-buttons-wrapper margin-top-20">
  <div class="pull-left view-button-group">
    <div class="form-group inline-block">
      <label class="panel-body-label text-right inline-block text-muted-manual">
        <span once-text="'Start Date'|translate"></span>:</label>

      <div class="inline-block person-search-inputs">
        <input type="text"
               class="datepicker-cst"
               kendo-date-picker
               name="start"
               ng-model="data.startDate"
               k-ng-model="data.startDateObj"
        >
      </div>
     </div>
    <div class="form-group inline-block">
      <label class="panel-body-label text-right inline-block text-muted-manual">
        <span once-text="'Finish Date'|translate"></span>:</label>

      <div class="inline-block person-search-inputs">
        <input type="text"
               kendo-date-picker
               name="finish"
               ng-model="data.endDate"
               k-ng-model="data.endDateObj"
        >
      </div>
    </div>
  </div>
  <div class="pull-right view-button-group">
    <md-button type="button" class="md-fab md-micro"
               aria-label="Refresh table"
               ng-click="findData()">
      <i class="glyphicon glyphicon-refresh micro-glyphicon"></i>
      <md-tooltip md-direction="down">
        <span once-text="'Refresh data'|translate"></span>
      </md-tooltip>
    </md-button>
    <md-button type="button" class="md-fab md-micro"
               aria-label="Print data"
               ng-click="printData('quarterlyClientReportSecond')">
      <i class="glyphicon glyphicon-print micro-glyphicon"></i>
      <md-tooltip md-direction="down">
        <span once-text="'Print data'|translate"></span>
      </md-tooltip>
    </md-button>
    <md-button type="button" class="md-fab md-micro"
               aria-label="Mini FAB"
               ng-click="closeWindow()">
      <i class="glyphicon glyphicon-remove micro-glyphicon"></i>

      <md-tooltip md-direction="down">
        <span once-text="'Close Window'|translate"></span>
      </md-tooltip>

    </md-button>

  </div>
</div>

<div>
  <table class="table table-striped table-hover table-responsive table-bordered" id="quarterlyClientReportSecond">
    <thead>

    <tr>
      <th rowspan="3">Xidmətlərin adı</th>
      <th rowspan="3">MB hesabına daxil olma</th>
      <th colspan="4" style="text-align: center">ƏDV bəyannaməsi üzrə dövriyyə</th>
      <th colspan="3" style="text-align: center">Ay üzrə gəlir</th>
      <th colspan="3" style="text-align: center">Gələcək dövrün gəlirləri:</th>
    </tr>

    <tr>
      <th rowspan="2">ƏDV cəlb</th>
      <th rowspan="2">ƏDV 0</th>
      <th rowspan="2">ƏDV azad</th>
      <th rowspan="2">Cəmi</th>
      <th colspan="2" style="text-align: center">Daxilolmalardan</th>
      <th></th>
      <th colspan="2" style="text-align: center">Daxilolmalardan</th>
      <th></th>
    </tr>

    <tr>
      <th>Cari ay üzrə</th>
      <th>Əvvəlki dövrlər üzrə</th>
      <th>Cəmi</th>
      <th>Cari ay üzrə</th>
      <th>Əvvəlki dövrlər üzrə</th>
      <th>Cəmi</th>
    </tr>

    </thead>
    <tbody ng-repeat="obj in records">
    <tr>
      <td style="font-weight: bold">{{ obj.name }}</td>
      <td style="text-align: right">{{ obj.incomingAmount }}</td>
      <td style="text-align: right">{{ obj.VAT }}</td>
      <td style="text-align: right">{{ obj.VAT0 }}</td>
      <td style="text-align: right">{{ obj.VATFree }}</td>
      <td style="text-align: right">{{ obj.totalVAT }}</td>
      <td style="text-align: right">{{ obj.currentRevenueFromCurrentIncomes }}</td>
      <td style="text-align: right">{{ obj.currentRevenueFromPreviousIncomes }}</td>
      <td style="text-align: right">{{ obj.currentRevenueTotal }}</td>
      <td style="text-align: right" >{{ obj.futureRevenueFromCurrentIncomes }}</td>
      <td style="text-align: right" >{{ obj.futureRevenueFromPreviousIncomes }}</td>
      <td style="text-align: right" >{{ obj.futureRevenueTotal }}</td>
    </tr>

    <tr ng-repeat-start="child in obj.childReports">
      <td style="padding-left: 20px" ng-click="getDetail(child)">
        <span ng-class="!child.showDetail ? 'glyphicon glyphicon-chevron-right' : 'glyphicon glyphicon-chevron-down'"></span>
        {{ child.name }}
      </td>
      <td style="text-align: right" >{{ child.incomingAmount | number: 2 }}</td>
      <td style="text-align: right" >{{ child.VAT | number: 2 }}</td>
      <td style="text-align: right" >{{ child.VAT0 | number: 2}}</td>
      <td style="text-align: right">{{ child.VATFree | number: 2}}</td>
      <td style="text-align: right">{{ child.totalVAT | number: 2 }}</td>
      <td style="text-align: right">{{ child.currentRevenueFromCurrentIncomes | number: 2}}</td>
      <td style="text-align: right">{{ child.currentRevenueFromPreviousIncomes | number: 2 }}</td>
      <td style="text-align: right">{{ child.currentRevenueTotal | number: 2 }}</td>
      <td style="text-align: right" >{{ child.futureRevenueFromCurrentIncomes | number: 2 }}</td>
      <td style="text-align: right" >{{ child.futureRevenueFromPreviousIncomes | number: 2 }}</td>
      <td style="text-align: right" >{{ child.futureRevenueTotal | number: 2 }}</td>
    </tr>

    <tr ng-repeat-end ng-if="child.showDetail">
      <td colspan="12">
        <table class="table table-striped table-hover table-responsive table-bordered">
        <thead>

        <tr>
          <th style="text-align: center">Təşkilat</th>
          <th style="text-align: center">Cəmi məbləğ</th>
        </tr>

        </thead>
        <tbody>
        <tr ng-repeat-start="detail in child.details" ng-if="detail">
          <td ng-click="getDetailDatails(child, detail)">
            <span ng-class="!detail.showDetail ? 'glyphicon glyphicon-chevron-right' : 'glyphicon glyphicon-chevron-down'"></span>
            {{ detail.name }}
          </td>
          <td style="text-align: right">{{ detail.amount | number: 2 }}</td>
        </tr>

        <tr ng-repeat-end ng-if="detail.showDetail">
          <td colspan="2">
            <table class="table table-striped table-hover table-responsive table-bordered">
              <thead>

              <tr>
                <th style="text-align: center">Tarix</th>
                <th style="text-align: center">Məbləğ</th>
                <th style="text-align: center">Əməliyyat nömrəsi</th>
              </tr>

              </thead>
              <tbody>
              <tr ng-repeat="childdetail in detail.details">
                <td style="text-align: center">{{ childdetail.date | date: 'yyyy-MM-dd HH:mm' }}</td>
                <td style="text-align: right">{{ childdetail.amount | number:2 }}</td>
                <td style="text-align: center">{{ childdetail.operationNumber }}</td>
              </tr>
              </tbody>
            </table>
          </td>
        </tr>
        </tbody>
      </table>
      </td>
    </tr>

    </tbody>
  </table>
</div>
