<div class="window-extend-block" data-extend-template="app/common/templates/operation-window-layout.html">
  <div data-block="content" class="window-main-content">
    <div
      role="form"
      ng-form="config.form.name"
      ng-submit="config.buttons.complete.click()">

      <div class="title-transfer-forms">
        <div class="form-group" ng-class="{ 'has-error':
                 (config.form.name.$submitted || config.form.name.record_number.$touched)
                 &&(config.form.name.record_number.$invalid)  }">

          <label class="form-labels"><span class="required-sign">*</span><span
            once-text="'Registration Number'|translate"></span>:</label>

          <div class="form-inputs">
            <input type="text"
                   class="k-textbox"
                   name="record_number"
                   ng-model="taskData.registrationNumber"
                   ng-required="true">

            <div ng-show="config.form.name.$submitted || config.form.name.record_number.$touched">
              <p ng-show="config.form.name.record_number.$error.required"
                 class="help-block help-block-error">
                <span once-text="'This field is required'|translate"></span>
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="title-transfer-forms">
        <div class="form-group" ng-class="{ 'has-error':
                 (config.form.name.$submitted || config.form.name.record_date.$touched)
                 &&(config.form.name.record_date.$invalid)  }">
          <label class="form-labels"><span class="required-sign">*</span><span
            once-text="'Registration Date'|translate"></span>:</label>

          <div class="form-inputs">
            <input type="text"
                   class="datepicker-cst"
                   kendo-date-picker
                   name="record_date"
                   ng-model="taskData.registrationDate"
                   k-ng-model="taskData.registrationDateObj"
                   ng-required="true">

            <div ng-show="config.form.name.$submitted || config.form.name.record_date.$touched">
              <p ng-show="config.form.name.record_date.$error.required"
                 class="help-block help-block-error">
                <span once-text="'This field is required'|translate"></span>
              </p>

              <p ng-show="config.form.name.record_date.$error.csmKendoDate"
                 class="help-block help-block-error">
                <span once-text="'Please enter a valid date!'|translate"></span>
              </p>
            </div>
          </div>
        </div>

      </div>

      <div class="title-transfer-forms">

        <div class="form-group" ng-class="{ 'has-error':
                 (config.form.name.$submitted || config.form.name.comment.$touched)
                 &&(config.form.name.comment.$invalid)  }">

          <label class="form-labels">
            <span once-text="'Comment'|translate"></span>:</label>

          <div class="form-inputs">
                  <textarea
                    class="k-textbox"
                    name="comment"
                    cols="6"
                    rows="5"
                    ng-model="taskData.comment"
                    ng-required="false"></textarea>

            <div ng-show="config.form.name.$submitted || config.form.name.comment.$touched">
              <p ng-show="config.form.name.comment.$error.required"
                 class="help-block help-block-error">
                <span once-text="'This field is required'|translate"></span>
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="title-transfer-forms">
        <table class="table table-striped table-bordered">
          <thead>
          <tr>
            <th>
              <strong class="required-sign">*</strong>
              <strong>Qiymətli kağız sahibi</strong>
              </th>
            <th once-text="'Account Number'|translate"></th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>
              <span ng-if="!taskData.owner.name">......</span>
              <span> {{taskData.owner.name}}</span>
              <input
                type="hidden"
                name="owner"
                ng-required="true"
                ng-model="taskData.owner.name">

              <div ng-class="{ 'has-error':config.form.name.$submitted &&(config.form.name.owner.$invalid)}"
                   ng-show="config.form.name.$submitted">
                <p ng-show="config.form.name.owner.$error.required"
                   class="help-block help-block-error">
                  <span once-text="'You have to select owner!'|translate"></span>
                </p>
              </div>

            </td>
            <td>
              <span ng-if="!taskData.owner.accountNumber">......</span>
              <span> {{taskData.owner.accountNumber}}</span>
            </td>
            <td>
              <md-button class="md-fab md-micro"
                         aria-label="Mini FAB"
                         ng-click="findOwner()">
                <i class="glyphicon glyphicon-search micro-glyphicon"></i>
                <md-tooltip>
                  <span once-text="'Find Transferer'|translate"></span>
                </md-tooltip>

              </md-button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>

      <div class="title-transfer-forms">
        <table class="table table-striped table-bordered">
          <thead>
          <tr>
            <th>
              <strong class="required-sign">*</strong>
              <strong>Ötürülən tərəf</strong>
              </th>
            <th once-text="'Account Number'|translate"></th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>
              <span ng-if="!taskData.receiver.name">......</span>
              <span>{{taskData.receiver.name}}</span>
              <input
                type="hidden"
                name="receiver"
                ng-required="true"
                ng-model="taskData.receiver.name">

              <div ng-class="{ 'has-error':config.form.name.$submitted &&(config.form.name.receiver.$invalid)}"
                   ng-show="config.form.name.$submitted">
                <p ng-show="config.form.name.receiver.$error.required"
                   class="help-block help-block-error">
                  <span once-text="'You have to select receiver!'|translate"></span>
                </p>
              </div>

            </td>
            <td>
              <span ng-if="!taskData.receiver.accountNumber">......</span>
              <span>{{taskData.receiver.accountNumber}}</span>
            </td>
            <td>
              <md-button class="md-fab md-micro"
                         aria-label="Mini FAB"
                         ng-if="taskData.owner.name"
                         ng-click="findReceiver()">
                <i class="glyphicon glyphicon-search micro-glyphicon"></i>
                <md-tooltip>
                  <span once-text="'Find Transferee'|translate"></span>
                </md-tooltip>

              </md-button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>

      <hr/>

      <div class="title-transfer-forms">

        <table class="table table-striped table-bordered">
          <thead>
          <tr>
            <th><span class="required-sign">*</span> <span once-text="'Instrument'|translate"></span></th>

            <th once-text="'ISIN'|translate"></th>
            <th once-text="'Quantity'|translate"></th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr data-ng-repeat="subject in taskData.subjects">
            <td>

              <span ng-if="!subject.instrument.instrumentName">......</span>
              <span> {{subject.instrument.instrumentName}}</span>
              <md-button

                class="md-fab md-micro"
                aria-label="Mini FAB"
                ng-click="findInstrument($index)">
                <i class="glyphicon glyphicon-search micro-glyphicon"></i>
                <md-tooltip>
                  <span once-text="'Find Instrument'|translate"></span>
                </md-tooltip>

              </md-button>

              <div
                class="has-error"
                ng-show="config.form.name.$submitted ">
                <p ng-show="config.form.name['ISIN_'+$index].$error.required"
                   class="help-block help-block-error">
                  <span once-text="'You have to select instrument!'|translate"></span>
                </p>
              </div>
            </td>
            <td>
              <span ng-if="!subject.instrument.isin">......</span>
              <span> {{subject.instrument.isin}}</span>


            </td>
            <td>
              <input type="number" ng-min="1" class="k-textbox"
                     ng-model="subject.quantity"
                     name="instrument_quantity_{{$index}}"
                     ng-required="true">

              <div class="has-error"
                   ng-show="config.form.name.$submitted || config.form.name['instrument_quantity_'+$index].$touched ">
                <p ng-show="config.form.name['instrument_quantity_'+$index].$error.required"
                   class="help-block help-block-error">
                  <span once-text="'This field is required'|translate"></span>
                </p>

                <p ng-show="config.form.name['instrument_quantity_'+$index].$error.min"
                   class="help-block help-block-error">
                  <span once-text="'Wrong Number!'|translate"></span>
                </p>
              </div>
            </td>

            <td>
              <md-button
                ng-if="$index>0"
                class="md-fab md-micro"
                aria-label="Mini FAB"
                ng-click="removeInstrument($index,taskData.subjects)">
                <i class="glyphicon glyphicon-remove micro-glyphicon"></i>
                <md-tooltip>
                  <span once-text="'Delete'|translate"></span>
                </md-tooltip>

              </md-button>
              <!--Remove Button-->
            </td>
          </tr>
          </tbody>
        </table>

      </div>

      <div class="row" ng-if="taskData.subjects[taskData.subjects.length - 1].instrument">
        <div class="col-lg-11">
          <div class="form-group">
            <md-button
              class="md-fab md-micro"
              aria-label="Mini FAB"
              ng-click="addNewInstrument(taskData.subjects)">
              <i class="glyphicon glyphicon-plus micro-glyphicon"></i>
              <md-tooltip>
                <span once-text="'Add New Item'|translate"></span>
              </md-tooltip>

            </md-button>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
