<div class="window-extend-block" data-extend-template="app/common/templates/operation-window-layout.html">
  <div data-block="content" class="window-main-content">
    <div
      role="form"
      ng-form="config.form.name"
      ng-submit="config.buttons.complete.click()">

      <div class="alert alert-info">
        <strong class="glyphicon glyphicon-info-sign"></strong>
        <span
          once-text="'First, you have to select Holder then Successors. After this you will be able to distribute the shares of the holder at the below of the page.'|translate"></span>
      </div>


      <div class="succession-operation-forms">
        <div class="form-group" ng-class="{ 'has-error':
                 (config.form.name.$submitted || config.form.name.record_number.$touched)
                 &&(config.form.name.record_number.$invalid)  }">

          <label class="form-labels"><span class="required-sign">*</span><span
            once-text="'Registration Number'|translate"></span>:</label>

          <div class="form-inputs">
            <input type="text"
                   class="k-textbox"
                   name="record_number"
                   ng-model="succession.registrationNumber"
                   ng-required="true"
                   ng-maxlength="'100'"
                   maxlength="100"
            >


            <div ng-show="config.form.name.$submitted || config.form.name.record_number.$touched">
              <p ng-show="config.form.name.record_number.$error.required"
                 class="help-block help-block-error">
                <span once-text="'This field is required'|translate"></span>
              </p>
            </div>
            <div ng-show="config.form.name.$submitted || config.form.name.record_number.$touched">
              <p ng-show="config.form.name.record_number.$error.maxlength"
                 class="help-block help-block-error">
                <span once-text="'Simvol sayı minimum 100 olmalıdı'"></span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="succession-operation-forms">
        <div class="form-group" ng-class="{ 'has-error':
                 (config.form.name.$submitted || config.form.name.record_date.$touched)
                 &&(config.form.name.record_date.$invalid)  }">
          <label class="form-labels"><span class="required-sign">*</span><span
            once-text="'Registration Date'|translate"></span>:</label>

          <div class="form-inputs">
            <input type="text"
                   class="datepicker-cst"
                   kendo-date-picker
                   name="record_date"
                   ng-model="succession.registrationDate"
                   k-ng-model="succession.registrationDateObj"
                   ng-required="true"
            >

            <div ng-show="config.form.name.$submitted || config.form.name.record_date.$touched">
              <p ng-show="config.form.name.record_date.$error.required"
                 class="help-block help-block-error">
                <span once-text="'This field is required'|translate"></span>
              </p>

              <p ng-show="config.form.name.record_date.$error.csmKendoDate"
                 class="help-block help-block-error">
                <span once-text="'Please enter a valid date!'|translate"></span>
              </p>
            </div>
          </div>
        </div>

      </div>
      <div class="succession-operation-forms">
        <div class="form-group"
             ng-class="{ 'has-error':
                 (config.form.name.$submitted || config.form.name.value_date.$touched)
                 &&(config.form.name.value_date.$invalid)  }">
          <label class="form-labels">Vərəsəlik şəhadətnaməsinin tarixi:</label>

          <div class="form-inputs">
            <input type="text"
                   class="datepicker-cst inline-block"
                   kendo-date-picker
                   name="value_date"
                   ng-model="succession.valueDate"
                   k-ng-model="succession.valueDateObj"
                   ng-required="false"
            >
            <span tooltip-placement="left"
                  uib-tooltip-html="'Value date will be the same as record date if not provided.'|translate">
               <span class="glyphicon glyphicon-question-sign glyphicon-question-sign-style"></span>
            </span>

            <div ng-show="config.form.name.$submitted || config.form.name.value_date.$touched">
              <p ng-show="config.form.name.value_date.$error.required"
                 class="help-block help-block-error">
                <span once-text="'This field is required'|translate"></span>
              </p>

              <p ng-show="config.form.name.value_date.$error.csmKendoDate"
                 class="help-block help-block-error">
                <span once-text="'Please enter a valid date!'|translate"></span>
              </p>
            </div>
          </div>
        </div>

      </div>
      <div class="succession-operation-forms">

        <div class="form-group" ng-class="{ 'has-error':
                 (config.form.name.$submitted || config.form.name.comment.$touched)
                 &&(config.form.name.comment.$invalid)  }">

          <label class="form-labels">
            <span class="required-sign">*</span>
            <span once-text="'Comment'|translate"></span>:</label>

          <div class="form-inputs">
                  <textarea
                    class="k-textbox"
                    name="comment"
                    cols="6"
                    rows="7"
                    ng-model="succession.comment"
                    ng-required="true"></textarea>

            <div ng-show="config.form.name.$submitted || config.form.name.comment.$touched">
              <p ng-show="config.form.name.comment.$error.required"
                 class="help-block help-block-error">
                <span once-text="'This field is required'|translate"></span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="succession-operation-forms">
        <div class="form-group" ng-class="{ 'has-error':
                 (config.form.name.$submitted || config.form.name.reg_auth_class.$touched)
                 &&(config.form.name.reg_auth_class.$invalid)  }">

          <label class="form-labels"><span class="required-sign">*</span>
            <span once-text="'Registration Authority Class'|translate"></span>:</label>

          <div class="form-inputs">
            <select
              name="reg_auth_class"
              ng-model="succession.registrationAuthorityClass"
              ng-required="true"
            >
              <option value="">---</option>
              <option
                value="{{cl|json}}"
                ng-repeat="cl in  metaData.registrationAuthorityClasses">{{cl['name'+lnC]}}
              </option>
            </select>

            <div ng-show="config.form.name.$submitted || config.form.name.reg_auth_class.$touched">
              <p ng-show="config.form.name.reg_auth_class.$error.required"
                 class="help-block help-block-error">
                <span once-text="'This field is required'|translate"></span>
              </p>
            </div>
          </div>
        </div>
      </div>

      <table class="table table-striped table-bordered">
        <thead>
        <tr>
          <th>
            <strong class="required-sign succession-operation-th">*</strong>
            <strong once-text="'Holder'|translate" class="succession-operation-th"></strong>
          </th>
          <th once-text="'Account Number'|translate" class="succession-operation-th"></th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>
            <span ng-if="!succession.holder.name">......</span>
            <span class="succession-operation-th"> {{succession.holder.name}}</span>
            <input
              type="hidden"
              name="holder"
              ng-required="true"
              ng-model="succession.holder.name">

            <div ng-class="{ 'has-error':config.form.name.$submitted &&(config.form.name.holder.$invalid)}"
                 ng-show="config.form.name.$submitted">
              <p ng-show="config.form.name.holder.$error.required"
                 class="help-block help-block-error">
                <span once-text="'You have to select holder!'|translate"></span>
              </p>
            </div>

          </td>
          <td>
            <span ng-if="!succession.holder.accountNumber">......</span>
            <span class="succession-operation-th"> {{succession.holder.accountNumber}}</span>
          </td>
          <td>
            <md-button class="md-fab md-micro"
                       aria-label="Mini FAB"
                       ng-click="findHolder()">
              <i class="glyphicon glyphicon-search micro-glyphicon"></i>
              <md-tooltip>
                <span once-text="'Find Holder'|translate"></span>
              </md-tooltip>

            </md-button>
          </td>
        </tr>
        </tbody>
      </table>
      <hr/>
      <h4 once-text="'Successors'|translate"></h4>


      <table class="table table-striped table-bordered">
        <thead>
        <tr>
          <th>
            <strong class="required-sign succession-operation-th">*</strong>
            <strong once-text="'Successor'|translate" class="succession-operation-th"></strong>

          </th>
          <th once-text="'Account Number'|translate" class="succession-operation-th"></th>
          <th></th>
          <th></th>

        </tr>
        </thead>
        <tbody>

        <tr ng-repeat="subject in succession.subjects">
          <td>
            <span ng-if="!subject.successor.name">......</span>
            <span>{{subject.successor.name}}</span>

            <input
              type="hidden"
              name="successor_{{$index}}"
              ng-required="true"
              ng-model="subject.successor.name">

            <div class="has-error"
                 ng-show="config.form.name.$submitted || config.form.name['successor_'+$index].$touched">
              <p ng-show="config.form.name['successor_'+$index].$error.required"
                 class="help-block help-block-error">
                <span once-text="'You have to add successor.'|translate"></span>
              </p>
            </div>

          </td>
          <td>
            <span ng-if="!subject.successor.accountNumber">......</span>
            <span class="succession-operation-th"> {{subject.successor.accountNumber}}</span>
          </td>
          <td>
            <md-button class="md-fab md-micro"
                       aria-label="Mini FAB"
                       ng-click="findSuccessor($index)">
              <i class="glyphicon glyphicon-search micro-glyphicon"></i>
              <md-tooltip>
                <span once-text="'Find Successor'|translate"></span>
              </md-tooltip>
            </md-button>
          </td>
          <td class="remove-successor-button">
            <md-button ng-if="$index>0"
                       class="md-fab md-micro"
                       aria-label="Mini FAB"
                       ng-click="removeSubject($index,succession.subjects)">
              <i class="glyphicon glyphicon-remove micro-glyphicon"></i>
              <md-tooltip>
                <span once-text="'Remove Successor'|translate"></span>
              </md-tooltip>
            </md-button>
          </td>

        </tr>

        </tbody>
      </table>
      <div ng-if="succession.subjects[0].successor.accountNumber">
        <div class="col-lg-11">
          <div class="form-group">
            <md-button
              class="md-fab md-micro"
              aria-label="Mini FAB"
              ng-click="addNewSubject(succession.subjects)">
              <i class="glyphicon glyphicon-plus micro-glyphicon"></i>
              <md-tooltip>
                <span once-text="'Add New Successor'|translate"></span>
              </md-tooltip>

            </md-button>

          </div>
        </div>
      </div>

      <div class="balance-grid">
        <div ng-show="succession.holder.id && succession.subjects[0].successor.accountNumber">
          <hr/>
          <h5 once-text="'Distrubute Shares'|translate"></h5>
        </div>
        <div
          ng-show="succession.holder.id && succession.subjects[0].successor.accountNumber"
          kendo-grid="config.balanceGrid"
          k-scrollable="true"
          k-data-source="config.balanceGrid.options.dataSource"
          k-columns="config.balanceGrid.options.columns"
          k-data-bound="config.balanceGrid.options.dataBound"
          k-resizable="true"
          k-height="600"
          k-pageable='{ "pageSize": 20, "refresh": false, "pageSizes": true, "buttonCount": 5 }'
        >
          <div k-detail-template class="margin10">
            <table class="table table-striped table-bordered border-top" style="width: 50%">
              <thead>
              <tr>

                <th once-text="'Successor'|translate"></th>
                <th once-text="'Quantity'|translate"></th>
              </tr>
              </thead>

              <tbody>
              <tr ng-repeat="subject in succession.subjects"
                  ng-init="subject.shares[ dataItem.ID].ID = dataItem.ID; subject.shares[ dataItem.ID].instrument=dataItem.instrument;">
                <td>{{subject.successor.name}}</td>
                <td>

                  <input type="number" min="1" class="k-textbox"
                         ng-model="subject.shares[dataItem.ID].quantity"
                         name="instrument_quantity_{{$index}}_{{dataItem.ID}}"
                         ng-required="false">

                  <div class="has-error"
                       ng-show="config.form.name.$submitted || config.form.name['instrument_quantity_'+$index+'_'+dataItem.ID].$touched ">

                    <p ng-show="config.form.name['instrument_quantity_'+$index+'_'+dataItem.ID].$error.min"
                       class="help-block help-block-error">
                      <span once-text="'Wrong Number.'|translate"></span>
                    </p>
                  </div>

                </td>
              </tr>
              </tbody>

            </table>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
