<div class="window-extend-block" data-extend-template="app/common/templates/operation-window-layout.html">
  <div data-block="content" class="window-main-content">

    <table class="table table-striped table-hover table-responsive table-bordered ">
      <tbody>
      <tr>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><b once-text="'Registration Number'|translate"></b></td>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6">{{taskData.registrationNumber}}</td>
      </tr>
      <tr>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><b once-text="'Registration Date'|translate"></b></td>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6">{{taskData.registrationDate |date: 'short'}}</td>
      </tr>

      <tr>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><b>Vərəsəlik şəhadətnaməsinin tarixi</b></td>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6">{{taskData.valueDate |date: 'short'}}</td>
      </tr>
      <tr>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><b once-text="'Comment'|translate"></b></td>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6">{{taskData.comment}}</td>
      </tr>
      <tr>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><b once-text="'Registration Authority Class'|translate"></b>
        </td>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6">{{taskData.registrationAuthorityClass['name'+lnC]}}</td>
      </tr>
      <tr>
        <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4"><b
          once-text="'Holder'|translate"></b></td>

        <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4">{{taskData.holder.name}} - {{taskData.holder.accountNumber}}</td>

      </tr>
      </tbody>
    </table>
    <br/>
    <h4 once-text="'Successors'|translate"></h4>
    <hr/>
    <div class="table-border">
      <table class="table table-striped">
        <thead>
        <tr>
          <th><strong class="required-sign">*</strong> <strong once-text="'Successor'|translate"></strong></th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="subject in taskData.subjects">
          <td colspan="2">
            <span>{{subject.successor.name}}</span>
            <table class="table table-striped inside-table">
              <thead>
              <tr>
                <th><span class="required-sign">*</span> <span once-text="'Instrument'|translate"></span></th>
                <th once-text="'Quantity'|translate"></th>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="share in subject.shares">
                <td>
                  {{share.instrument.instrumentName}}
                </td>
                <td>
                  {{share.quantity}}
                </td>
              </tr>
              </tbody>
            </table>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
