<div class="window-extend-block" data-extend-template="app/common/templates/operation-window-layout.html">
  <div data-block="content" class="window-main-content">
    <table class="table table-striped table-hover table-responsive table-bordered ">
      <tbody>
      <tr>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><b once-text="'Registration Number'|translate"></b></td>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6">{{taskData.registrationNumber}}</td>
      </tr>
      <tr>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><b once-text="'Registration Date'|translate"></b></td>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6">{{taskData.registrationDate |date: 'short'}}</td>
      </tr>
      <tr>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><b>Müqavilənin tarixi</b></td>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6">{{taskData.valueDate |date: 'short'}}</td>
      </tr>
      <tr>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><b once-text="'Comment'|translate"></b></td>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6">{{taskData.comment}}</td>
      </tr>
      <tr>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><b once-text="'Registration Authority Class'|translate"></b>
        </td>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6">{{taskData.registrationAuthorityClass['name'+lnC]}}</td>
      </tr>
      <tr>
        <td ng-if="!isGrantOperation" class="col-md-4 col-xs-4 col-lg-4 col-sm-4">
          <b once-text="'Transferer'|translate"></b>
        </td>
        <td ng-if="isGrantOperation" class="col-md-4 col-xs-4 col-lg-4 col-sm-4"><b once-text="'Grantor'|translate"></b>
        </td>
        <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4">{{taskData.owner.name}} - {{taskData.owner.accountNumber}}</td>
      </tr>
      <tr>
        <td ng-if="!isGrantOperation" class="col-md-4 col-xs-4 col-lg-4 col-sm-4"><b
          once-text="'Transferee'|translate"></b></td>
        <td ng-if="isGrantOperation" class="col-md-4 col-xs-4 col-lg-4 col-sm-4"><b once-text="'Grantee'|translate"></b>
        </td>

        <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4">{{taskData.receiver.name}} - {{taskData.receiver.accountNumber}}</td>
      </tr>
      </tbody>
    </table>

    <hr/>
    <h4 once-text="'Titles'|translate"></h4>
    <table class="table table-striped table-hover table-responsive table-bordered ">
      <thead>
      <th once-text="'Instrument Name'|translate"></th>
      <th once-text="'ISIN'|translate"></th>
      <th once-text="'Issuer'|translate"></th>
      <th once-text="'Quantity'|translate"></th>
      </thead>
      <tbody>
      <tr data-ng-repeat="subject in taskData.subjects">
        <td>{{subject.instrument.instrumentName}}</td>
        <td>{{subject.instrument.ISIN}}</td>
        <td>{{subject.instrument.issuerName}}</td>
        <td>{{subject.quantity}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
