<div class="window-extend-block" data-extend-template="app/common/templates/operation-window-layout.html">
  <div data-block="content" class="window-main-content">
    <div
      role="form"
      ng-form="config.form.name"
      ng-submit="config.buttons.complete.click()">


      <div class="title-transfer-forms">
        <div class="form-group" ng-class="{ 'has-error':
                 (config.form.name.$submitted || config.form.name.record_number.$touched)
                 &&(config.form.name.record_number.$invalid)  }">

          <label class="form-labels"><span class="required-sign">*</span><span
            once-text="'Registration Number'|translate"></span>:</label>

          <div class="form-inputs">
            <input type="text"
                   class="k-textbox"
                   name="record_number"
                   ng-model="grant.registrationNumber"
                   ng-required="true">

            <div ng-show="config.form.name.$submitted || config.form.name.record_number.$touched">
              <p ng-show="config.form.name.record_number.$error.required"
                 class="help-block help-block-error">
                <span once-text="'This field is required'|translate"></span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="title-transfer-forms">
        <div class="form-group" ng-class="{ 'has-error':
                 (config.form.name.$submitted || config.form.name.record_date.$touched)
                 &&(config.form.name.record_date.$invalid)  }">
          <label class="form-labels"><span class="required-sign">*</span><span
            once-text="'Registration Date'|translate"></span>:</label>

          <div class="form-inputs">
            <input type="text"
                   class="datepicker-cst"
                   kendo-date-picker
                   name="record_date"
                   ng-model="grant.registrationDate"
                   k-ng-model="grant.registrationDateObj"
                   ng-required="true"
              >

            <div ng-show="config.form.name.$submitted || config.form.name.record_date.$touched">
              <p ng-show="config.form.name.record_date.$error.required"
                 class="help-block help-block-error">
                <span once-text="'This field is required'|translate"></span>
              </p>

              <p ng-show="config.form.name.record_date.$error.csmKendoDate"
                 class="help-block help-block-error">
                <span once-text="'Please enter a valid date!'|translate"></span>
              </p>
            </div>
          </div>
        </div>

      </div>
      <div class="title-transfer-forms">
        <div class="form-group"
             ng-class="{ 'has-error':
                 (config.form.name.$submitted || config.form.name.value_date.$touched)
                 &&(config.form.name.value_date.$invalid)  }">
          <label class="form-labels">Müqavilənin tarixi:</label>

          <div class="form-inputs">
            <input type="text"
                   class="datepicker-cst inline-block"
                   kendo-date-picker
                   name="value_date"
                   ng-model="grant.valueDate"
                   k-ng-model="grant.valueDateObj"
                   ng-required="false"
              >
             <span tooltip-placement="left"
                   uib-tooltip-html="'Value date will be the same as record date if not provided.'|translate">
               <span class="glyphicon glyphicon-question-sign glyphicon-question-sign-style"></span>
            </span>

            <div ng-show="config.form.name.$submitted || config.form.name.value_date.$touched">
              <p ng-show="config.form.name.value_date.$error.required"
                 class="help-block help-block-error">
                <span once-text="'This field is required'|translate"></span>
              </p>

              <p ng-show="config.form.name.value_date.$error.csmKendoDate"
                 class="help-block help-block-error">
                <span once-text="'Please enter a valid date!'|translate"></span>
              </p>
            </div>
          </div>
        </div>

      </div>
      <div class="title-transfer-forms">

        <div class="form-group" ng-class="{ 'has-error':
                 (config.form.name.$submitted || config.form.name.comment.$touched)
                 &&(config.form.name.comment.$invalid)  }">

          <label class="form-labels">
            <span class="required-sign">*</span>
            <span once-text="'Comment'|translate"></span>:</label>

          <div class="form-inputs">
                  <textarea
                    class="k-textbox"
                    name="comment"
                    cols="6"
                    rows="7"
                    ng-model="grant.comment"
                    ng-required="true"></textarea>

            <div ng-show="config.form.name.$submitted || config.form.name.comment.$touched">
              <p ng-show="config.form.name.comment.$error.required"
                 class="help-block help-block-error">
                <span once-text="'This field is required'|translate"></span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="title-transfer-forms">
        <div class="form-group" ng-class="{ 'has-error':
                 (config.form.name.$submitted || config.form.name.reg_auth_class.$touched)
                 &&(config.form.name.reg_auth_class.$invalid)  }">

          <label class="form-labels"><span class="required-sign">*</span>
            <span once-text="'Registration Authority Class'|translate"></span>:</label>

          <div class="form-inputs">
            <select
              name="reg_auth_class"
              ng-model="grant.registrationAuthorityClass"
              ng-required="true"
              >
              <option value="">---</option>
              <option
                value="{{cl|json}}"
                ng-repeat="cl in  metaData.registrationAuthorityClasses">{{cl['name'+lnC]}}
              </option>
            </select>

            <div ng-show="config.form.name.$submitted || config.form.name.reg_auth_class.$touched">
              <p ng-show="config.form.name.reg_auth_class.$error.required"
                 class="help-block help-block-error">
                <span once-text="'This field is required'|translate"></span>
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="title-transfer-forms">
        <table class="table table-striped table-bordered">
          <thead>
          <tr>
            <th>
              <strong class="required-sign">*</strong>
              <strong ng-if="!isGrantOperation" once-text="'Transferer'|translate"></strong>
              <strong ng-if="isGrantOperation" once-text="'Grantor'|translate"></strong>
              </th>
            <th once-text="'Account Number'|translate"></th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>
              <span ng-if="!grant.owner.name">......</span>
              <span> {{grant.owner.name}}</span>
              <input
                type="hidden"
                name="owner"
                ng-required="true"
                ng-model="grant.owner.name">

              <div ng-class="{ 'has-error':config.form.name.$submitted &&(config.form.name.owner.$invalid)}"
                   ng-show="config.form.name.$submitted">
                <p ng-show="config.form.name.owner.$error.required"
                   class="help-block help-block-error">
                  <span once-text="'You have to select transferer!'|translate"></span>
                </p>
              </div>

            </td>
            <td>
              <span ng-if="!grant.owner.accountNumber">......</span>
              <span> {{grant.owner.accountNumber}}</span>
            </td>
            <td>
              <md-button class="md-fab md-micro"
                         aria-label="Mini FAB"
                         ng-click="findOwner()">
                <i class="glyphicon glyphicon-search micro-glyphicon"></i>
                <md-tooltip>
                  <span once-text="'Find Transferer'|translate"></span>
                </md-tooltip>

              </md-button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>

      <div class="title-transfer-forms">
        <table class="table table-striped table-bordered">
          <thead>
          <tr>
            <th>
              <strong class="required-sign">*</strong>
              <strong ng-if="!isGrantOperation" once-text="'Transferee'|translate"></strong>
              <strong ng-if="isGrantOperation" once-text="'Grantee'|translate"></strong>
              </th>
            <th once-text="'Account Number'|translate"></th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>
              <span ng-if="!grant.receiver.name">......</span>
              <span>{{grant.receiver.name}}</span>
              <input
                type="hidden"
                name="receiver"
                ng-required="true"
                ng-model="grant.receiver.name">

              <div ng-class="{ 'has-error':config.form.name.$submitted &&(config.form.name.receiver.$invalid)}"
                   ng-show="config.form.name.$submitted">
                <p ng-show="config.form.name.receiver.$error.required"
                   class="help-block help-block-error">
                  <span once-text="'You have to select transferee!'|translate"></span>
                </p>
              </div>

            </td>
            <td>
              <span ng-if="!grant.receiver.accountNumber">......</span>
              <span>{{grant.receiver.accountNumber}}</span>
            </td>
            <td>
              <md-button class="md-fab md-micro"
                         aria-label="Mini FAB"
                         ng-click="findReceiver()">
                <i class="glyphicon glyphicon-search micro-glyphicon"></i>
                <md-tooltip>
                  <span once-text="'Find Transferee'|translate"></span>
                </md-tooltip>

              </md-button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>


      <div class="title-transfer-forms">
        <hr/>
        <h5 once-text="'Titles'|translate"></h5>
        <table class="table table-striped table-bordered">
          <thead>
          <tr>
            <th><span class="required-sign">*</span> <span once-text="'Instrument'|translate"></span></th>

            <th once-text="'ISIN'|translate"></th>
            <th once-text="'Quantity'|translate"></th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr data-ng-repeat="subject in grant.subjects">
            <td>

              <span ng-if="!subject.instrument.instrumentName">......</span>
              <span> {{subject.instrument.instrumentName}}</span>
              <md-button

                class="md-fab md-micro"
                aria-label="Mini FAB"
                ng-click="findInstrument($index)">
                <i class="glyphicon glyphicon-search micro-glyphicon"></i>
                <md-tooltip>
                  <span once-text="'Find Instrument'|translate"></span>
                </md-tooltip>

              </md-button>
              <input

                type="hidden"
                name="ISIN_{{$index}}"
                ng-required="true"
                ng-model="subject.instrument.ISIN">

              <div
                class="has-error"
                ng-show="config.form.name.$submitted ">
                <p ng-show="config.form.name['ISIN_'+$index].$error.required"
                   class="help-block help-block-error">
                  <span once-text="'You have to select instrument!'|translate"></span>
                </p>
              </div>
            </td>
            <td>
              <span ng-if="!subject.instrument.ISIN">......</span>
              <span> {{subject.instrument.ISIN}}</span>


            </td>
            <td>
              <input type="number" min="0" class="k-textbox"
                     ng-model="subject.quantity"
                     name="instrument_quantity_{{$index}}"
                     ng-required="true">

              <div class="has-error"
                   ng-show="config.form.name.$submitted || config.form.name['instrument_quantity_'+$index].$touched ">
                <p ng-show="config.form.name['instrument_quantity_'+$index].$error.required"
                   class="help-block help-block-error">
                  <span once-text="'This field is required'|translate"></span>
                </p>

                <p ng-show="config.form.name['instrument_quantity_'+$index].$error.min"
                   class="help-block help-block-error">
                  <span once-text="'Wrong Number!'|translate"></span>
                </p>
              </div>
            </td>

            <td>
              <md-button
                ng-if="$index>0"
                class="md-fab md-micro"
                aria-label="Mini FAB"
                ng-click="removeInstrument($index,grant.subjects)">
                <i class="glyphicon glyphicon-remove micro-glyphicon"></i>
                <md-tooltip>
                  <span once-text="'Delete'|translate"></span>
                </md-tooltip>

              </md-button>
              <!--Remove Button-->
            </td>
          </tr>
          </tbody>
        </table>

      </div>

      <div class="row" ng-if="grant.subjects[0].instrument.ISIN">
        <div class="col-lg-11">
          <div class="form-group">
            <md-button
              class="md-fab md-micro"
              aria-label="Mini FAB"
              ng-click="addNewInstrument(grant.subjects)">
              <i class="glyphicon glyphicon-plus micro-glyphicon"></i>
              <md-tooltip>
                <span once-text="'Add New Item'|translate"></span>
              </md-tooltip>

            </md-button>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
