<div class="window-extend-block" data-extend-template="app/common/templates/operation-window-layout.html">
  <div data-block="content" class="window-main-content">

    <div class="add-new-user">


      <form name="outgoingPayment" class="add-new-user-window no-scroll" novalidate>

        <table class="table table-border">

          <tbody>
          <tr>
            <th colspan="2"><b>Ötürən</b></th>
          </tr>

          <tr>
            <td>Hesab nömrəsi</td>
            <td><span>{{ taskData.fromAccount.name }} ({{ taskData.fromAccount.accountNumber }})</span></td>
          </tr>

          <tr>
            <td>Bölmə</td>
            <td>{{ taskData.fromServiceClass.nameAz }}</td>
          </tr>

          <tr>
            <th colspan="2"><b>Qəbul edən</b></th>
          </tr>


          <tr>
            <td>Hesab</td>
            <td><span>{{ taskData.toAccount.name || data.toAccount.brokerName }} ({{ taskData.toAccount.accountNumber }})</span>
            </td>
          </tr>

          <tr>
            <td>Bölmə</td>
            <td>{{ taskData.toServiceClass.nameAz }}</td>
          </tr>



          <tr>
            <td><span once-text="'Currency'|translate"></span></td>
            <td>{{ taskData.currencyCode }}</td>
          </tr>


          <tr>
            <td><span once-text="'Amount'|translate"></span></td>
            <td>{{ taskData.amount }}</td>
          </tr>

          </tbody>
        </table>

      </form>

    </div>
  </div>
</div>
