<div class="window-extend-block" data-extend-template="app/common/templates/operation-window-layout.html"
     xmlns="http://www.w3.org/1999/html">
  <div data-block="content" class="window-main-content">

    <div class="add-new-user">


      <form name="outgoingPayment" class="add-new-user-window no-scroll" novalidate>




        <div class="form-group" ng-class="{ 'has-error': false}">
          <div class="form-inputs">
            <table>
              <thead>
              <tr>
                <th style="text-align: right; padding-right: 100px">Ötürən</th>
                <th style="text-align: right; padding-right: 100px">Qəbul edən</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>
                  <!--------------------from accuunt----------------------->
                  <div class="form-group" ng-class="{ 'has-error': false}">
                    <label class="form-labels">
                      <span class="required-sign">*</span>
                      <span>Hesab</span>:
                    </label>

                    <div class="form-inputs">
                      <select
                        name="currency"
                        ng-change="fromAccountChooseChanged(fromAccountChoose)"
                        ng-model="fromAccountChoose" ng-options="obj.value as obj.label for obj in fromAccountChooses">
                        <option value="">---</option>
                      </select>

                      <md-button
                        type="button"
                        aria-label="search button"
                        style="float: right; top: -10px"
                        class="md-fab md-micro"
                        ng-disabled="data.isSelfAccount"
                        ng-click="findFromAccount()"
                        ng-show="fromAccountChoose == 'client'">
                        <i class="glyphicon glyphicon-search micro-glyphicon"></i>
                      </md-button>
                    </div>

                  </div>

                  <!--------------------from accuunt number----------------------->
                  <div class="form-group" ng-class="{ 'has-error': false}">
                    <label class="form-labels">
                      <span class="required-sign">*</span>
                      <span>Hesab nömrəsi</span>:
                    </label>

                    <div class="form-inputs">
                      <span ng-show="data.fromAccount">{{ data.fromAccount.name }} ({{data.fromAccount.accountNumber }})</span>
                    </div>
                  </div>


                  <!--------------------from service class ----------------------->
                  <div class="form-group" ng-class="{ 'has-error': false}">
                    <label class="form-labels">
                      <span class="required-sign">*</span>
                      <span>Bölmə</span>:
                    </label>

                    <div class="form-inputs">
                      <select
                        name="currency"
                        ng-model="data.fromServiceClass" ng-options="obj as obj.label for obj in fromServiceClasses">
                        <option value="">---</option>
                      </select>
                    </div>
                  </div>

                </td>
                <td>
                  <!--------------------to account ----------------------->
                  <div class="form-group" ng-class="{ 'has-error': false}">
                    <label class="form-labels">
                      <span class="required-sign">*</span>
                      <span>Hesab</span>:
                    </label>

                    <div class="form-inputs">
                      <select
                        name="currency"
                        ng-change="toAccountChooseChanged(toAccountChoose)"
                        ng-model="toAccountChoose"
                        ng-options="obj.value as obj.label for obj in toAccountChooses">
                        <option value="">---</option>
                      </select>

                      <md-button
                        type="button"
                        aria-label="search button"
                        style="float: right; top: -10px"
                        class="md-fab md-micro"
                        ng-show="toAccountChoose == 'client' || toAccountChoose == 'other'"
                        ng-click="findToAccount()">
                        <i class="glyphicon glyphicon-search micro-glyphicon"></i>
                      </md-button>
                    </div>

                  </div>


                  <!--------------------to accuunt number----------------------->
                  <div class="form-group" ng-class="{ 'has-error': false}">
                    <label class="form-labels">
                      <span class="required-sign">*</span>
                      <span>Hesab nömrəsi</span>:
                    </label>

                    <div class="form-inputs">
                      <span  ng-show="data.toAccount">{{ data.toAccount.name || data.toAccount.brokerName }} ({{data.toAccount.accountNumber }})</span>
                    </div>
                  </div>


                  <!--------------------to service class ----------------------->
                  <div class="form-group" ng-class="{ 'has-error': false}">
                    <label class="form-labels">
                      <span class="required-sign">*</span>
                      <span>Bölmə</span>:
                    </label>

                    <div class="form-inputs">
                      <select
                        name="currency"
                        ng-model="data.toServiceClass" ng-options="obj as obj.label for obj in toServiceClasses">
                        <option value="">---</option>
                      </select>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td>









                  <!--------------------Currency ----------------------->
                  <div class="form-group" ng-class="{ 'has-error': false}">
                    <label class="form-labels">
                      <span class="required-sign">*</span>
                      <span once-text="'Currency'|translate"></span>:
                    </label>

                    <div class="form-inputs">
                      <select
                        name="currency"
                        ng-model="data.currencyCode" ng-options="obj.code as obj.nameAz for obj in metaData.currencies">
                        <option value="">---</option>
                      </select>

                      <div ng-show="config.form.name.$submitted || config.form.name.currency.$touched">
                        <p ng-show="config.form.name.currency.$error.required"
                           class="help-block help-block-error">
                          <span once-text="'This field is required'|translate"></span>
                        </p>
                      </div>
                    </div>
                  </div>

                  <!--------------------amount ----------------------->
                  <div class="form-group" ng-class="{ 'has-error': false}">
                    <label class="form-labels">
                      <span>Cari məbləğ</span>:
                    </label>

                    <div class="form-inputs">
                      <span  ng-show="amountLoading"><span class="glyphicon glyphicon-refresh glyphicon-spin"></span></span>
                      <span ng-hide="amountLoading">{{ amount }}</span>
                    </div>
                  </div>

                  <!--------------------amount ----------------------->
                  <div class="form-group" ng-class="{ 'has-error': false}">
                    <label class="form-labels">
                      <span once-text="'Amount'|translate"></span>:
                    </label>

                    <div class="form-inputs">
                      <input
                        type="text"
                        class="k-textbox"
                        name="name_az"
                        ng-model="data.amount"
                      >
                    </div>
                  </div>
                </td>
                <td></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>







      </form>

    </div>
  </div>
</div>
