<div class="window-extend-block" data-extend-template="app/common/templates/operation-window-layout.html">
  <div data-block="content" class="window-main-content">

    <table class="table table-striped table-hover table-responsive table-bordered">
      <tbody>
      <tr>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><b once-text="'Registration Number'|translate"></b></td>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6">{{taskData.registrationNumber}}</td>
      </tr>
      <tr>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><b once-text="'Registration Date'|translate"></b></td>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6">{{taskData.registrationDate |date: 'short'}}</td>
      </tr>
      <tr>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><b once-text="'Value Date'|translate"></b></td>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6">{{taskData.valueDate |date: 'short'}}</td>
      </tr>
      <tr>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><b once-text="'Comment'|translate"></b></td>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6">{{taskData.comment}}</td>
      </tr>
      <tr>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><b once-text="'Registration Authority Class'|translate"></b>
        </td>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6">{{taskData.registrationAuthorityClass['name'+lnC]}}</td>
      </tr>
      <tr>
        <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4"><b once-text="'Seller'|translate"></b></td>
        <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4">{{taskData.seller.name}} - {{taskData.seller.accountNumber}}
        </td>
      </tr>
      <tr>
        <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4"><b once-text="'Buyer'|translate"></b></td>
        <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4">{{taskData.buyer.name}} - {{taskData.buyer.accountNumber}}</td>
      </tr>
      <tr>
        <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4"><b once-text="'Pledgee'|translate"></b></td>
        <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4">{{taskData.pledgee.name}} - {{taskData.pledgee.accountNumber}}</td>
      </tr>
      </tbody>
    </table>
    <hr/>
    <h4 once-text="'Subject'|translate"></h4>

    <table class="table table-striped table-hover table-responsive table-bordered ">
      <thead>
      <th once-text="'Instrument'|translate"></th>
      <th once-text="'ISIN'|translate"></th>
      <th once-text="'Issuer'|translate"></th>
      <th once-text="'Price'|translate"></th>
      <th once-text="'Shares'|translate"></th>
      </thead>
      <tbody>
      <tr>
        <td>{{taskData.subject.instrument.instrumentName}}</td>
        <td>{{taskData.subject.instrument.ISIN}}</td>
        <td>{{taskData.subject.instrument.issuerName}}</td>
        <td>{{taskData.subject.price}}</td>
        <td>
          <table class="table table-striped table-bordered" ng-if="taskData.subject.shares">
            <thead>
            <tr>

              <th><span once-text="'Share ID'|translate"></span></th>
              <th once-text="'Quantity'|translate"></th>
            </tr>
            </thead>

            <tbody>
            <tr ng-repeat="share in taskData.subject.shares">
              <td>{{share.ID}}</td>
              <td>{{share.quantity}}</td>
            </tr>
            </tbody>

          </table>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
