<div class="window-extend-block" data-extend-template="app/common/templates/operation-window-layout.html">
  <div data-block="content" class="window-main-content">
    <div
      role="form"
      ng-form="config.form.name"
      ng-submit="config.buttons.complete.click()">
      <div class="succession-operation-forms">
        <div class="form-group" ng-class="{ 'has-error':
                 (config.form.name.$submitted || config.form.name.record_number.$touched)
                 &&(config.form.name.record_number.$invalid)  }">

          <label class="form-labels"><span class="required-sign">*</span><span
            once-text="'Registration Number'|translate"></span>:</label>

          <div class="form-inputs">
            <input type="text"
                   class="k-textbox"
                   name="record_number"
                   ng-model="transferPledgedTitleData.registrationNumber"
                   ng-required="true">


            <div ng-show="config.form.name.$submitted || config.form.name.record_number.$touched">
              <p ng-show="config.form.name.record_number.$error.required"
                 class="help-block help-block-error">
                <span once-text="'This field is required'|translate"></span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="succession-operation-forms">
        <div class="form-group" ng-class="{ 'has-error':
                 (config.form.name.$submitted || config.form.name.record_date.$touched)
                 &&(config.form.name.record_date.$invalid)  }">
          <label class="form-labels"><span class="required-sign">*</span><span
            once-text="'Registration Date'|translate"></span>:</label>

          <div class="form-inputs">
            <input type="text"
                   class="datepicker-cst"
                   kendo-date-picker
                   name="record_date"
                   ng-model="transferPledgedTitleData.registrationDate"
                   k-ng-model="transferPledgedTitleData.registrationDateObj"
                   ng-required="true"
              >

            <div ng-show="config.form.name.$submitted || config.form.name.record_date.$touched">
              <p ng-show="config.form.name.record_date.$error.required"
                 class="help-block help-block-error">
                <span once-text="'This field is required'|translate"></span>
              </p>

              <p ng-show="config.form.name.record_date.$error.csmKendoDate"
                 class="help-block help-block-error">
                <span once-text="'Please enter a valid date!'|translate"></span>
              </p>
            </div>
          </div>
        </div>

      </div>
      <div class="succession-operation-forms">
        <div class="form-group"
             ng-class="{ 'has-error':
                 (config.form.name.$submitted || config.form.name.value_date.$touched)
                 &&(config.form.name.value_date.$invalid)  }">
          <label class="form-labels"><span once-text="'Value Date'|translate"></span>:</label>

          <div class="form-inputs">
            <input type="text"
                   class="datepicker-cst inline-block"
                   kendo-date-picker

                   name="value_date"
                   ng-model="transferPledgedTitleData.valueDate"
                   k-ng-model="transferPledgedTitleData.valueDateObj"
                   ng-required="false"
              >
             <span tooltip-placement="left"
                   uib-tooltip-html="'Value date will be the same as record date if not provided.'|translate">
               <span class="glyphicon glyphicon-question-sign glyphicon-question-sign-style"></span>
            </span>

            <div ng-show="config.form.name.$submitted || config.form.name.value_date.$touched">
              <p ng-show="config.form.name.value_date.$error.required"
                 class="help-block help-block-error">
                <span once-text="'This field is required'|translate"></span>
              </p>

              <p ng-show="config.form.name.value_date.$error.csmKendoDate"
                 class="help-block help-block-error">
                <span once-text="'Please enter a valid date!'|translate"></span>
              </p>
            </div>
          </div>
        </div>

      </div>
      <div class="succession-operation-forms">

        <div class="form-group" ng-class="{ 'has-error':
                 (config.form.name.$submitted || config.form.name.comment.$touched)
                 &&(config.form.name.comment.$invalid)  }">

          <label class="form-labels">
            <span class="required-sign">*</span>
            <span once-text="'Comment'|translate"></span>:</label>

          <div class="form-inputs">
                  <textarea
                    class="k-textbox"
                    name="comment"
                    cols="6"
                    rows="7"
                    ng-model="transferPledgedTitleData.comment"
                    ng-required="true"></textarea>

            <div ng-show="config.form.name.$submitted || config.form.name.comment.$touched">
              <p ng-show="config.form.name.comment.$error.required"
                 class="help-block help-block-error">
                <span once-text="'This field is required'|translate"></span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="succession-operation-forms">
        <div class="form-group" ng-class="{ 'has-error':
                 (config.form.name.$submitted || config.form.name.reg_auth_class.$touched)
                 &&(config.form.name.reg_auth_class.$invalid)  }">

          <label class="form-labels"><span class="required-sign">*</span>
            <span once-text="'Registration Authority Class'|translate"></span>:</label>

          <div class="form-inputs">
            <select
              name="reg_auth_class"
              ng-model="transferPledgedTitleData.registrationAuthorityClass"
              ng-required="true"
              >
              <option value="">---</option>
              <option
                value="{{cl|json}}"
                ng-repeat="cl in  metaData.registrationAuthorityClasses">{{cl['name'+lnC]}}
              </option>
            </select>

            <div ng-show="config.form.name.$submitted || config.form.name.reg_auth_class.$touched">
              <p ng-show="config.form.name.reg_auth_class.$error.required"
                 class="help-block help-block-error">
                <span once-text="'This field is required'|translate"></span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="title-transfer-forms">
        <table class="table table-striped table-bordered">
          <thead>
          <tr>
            <th>
              <strong class="required-sign">*</strong>
              <strong once-text="'Seller'|translate"></strong>
            </th>
            <th once-text="'Account Number'|translate"></th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>
              <span ng-if="!transferPledgedTitleData.seller.name">......</span>
              <span> {{transferPledgedTitleData.seller.name}}</span>
              <input
                type="hidden"
                name="seller"
                ng-required="true"
                ng-model="transferPledgedTitleData.seller.name">

              <div ng-class="{ 'has-error':config.form.name.$submitted &&(config.form.name.seller.$invalid)}"
                   ng-show="config.form.name.$submitted">
                <p ng-show="config.form.name.seller.$error.required"
                   class="help-block help-block-error">
                  <span once-text="'You have to select seller!'|translate"></span>
                </p>
              </div>

            </td>
            <td>
              <span ng-if="!transferPledgedTitleData.seller.accountNumber">......</span>
              <span> {{transferPledgedTitleData.seller.accountNumber}}</span>
            </td>
            <td>
              <md-button class="md-fab md-micro"
                         aria-label="Mini FAB"
                         ng-click="findSeller()">
                <i class="glyphicon glyphicon-search micro-glyphicon"></i>
                <md-tooltip>
                  <span once-text="'Find Seller'|translate"></span>
                </md-tooltip>

              </md-button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <!--Seller-->
      <div class="title-transfer-forms">

        <table class="table table-striped table-bordered">
          <thead>
          <tr>
            <th>
              <strong class="required-sign">*</strong>
              <strong once-text="'Buyer'|translate"></strong>
            </th>
            <th once-text="'Account Number'|translate"></th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>
              <span ng-if="!transferPledgedTitleData.buyer.name">......</span>
              <span> {{transferPledgedTitleData.buyer.name}}</span>
              <input
                type="hidden"
                name="buyer"
                ng-required="true"
                ng-model="transferPledgedTitleData.buyer.name">

              <div ng-class="{ 'has-error':config.form.name.$submitted &&(config.form.name.buyer.$invalid)}"
                   ng-show="config.form.name.$submitted">
                <p ng-show="config.form.name.buyer.$error.required"
                   class="help-block help-block-error">
                  <span once-text="'You have to select buyer!'|translate"></span>
                </p>
              </div>

            </td>
            <td>
              <span ng-if="!transferPledgedTitleData.buyer.accountNumber">......</span>
              <span> {{transferPledgedTitleData.buyer.accountNumber}}</span>
            </td>
            <td>
              <md-button class="md-fab md-micro"
                         aria-label="Mini FAB"
                         ng-click="findBuyer()">
                <i class="glyphicon glyphicon-search micro-glyphicon"></i>
                <md-tooltip>
                  <span once-text="'Find Buyer'|translate"></span>
                </md-tooltip>

              </md-button>
            </td>
          </tr>
          </tbody>
        </table>

      </div>
      <!--Buyer-->
      <div class="title-transfer-forms">

        <table class="table table-striped table-bordered">
          <thead>
          <tr>
            <th>
              <strong class="required-sign">*</strong>
              <strong once-text="'Pledgee'|translate"></strong>
            </th>
            <th once-text="'Account Number'|translate"></th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>
              <span ng-if="!transferPledgedTitleData.pledgee.name">......</span>
              <span> {{transferPledgedTitleData.pledgee.name}}</span>
              <input
                type="hidden"
                name="pledgee"
                ng-required="true"
                ng-model="transferPledgedTitleData.pledgee.name">

              <div ng-class="{ 'has-error':config.form.name.$submitted &&(config.form.name.pledgee.$invalid)}"
                   ng-show="config.form.name.$submitted">
                <p ng-show="config.form.name.pledgee.$error.required"
                   class="help-block help-block-error">
                  <span once-text="'You have to select pledgee!'|translate"></span>
                </p>
              </div>

            </td>
            <td>
              <span ng-if="!transferPledgedTitleData.pledgee.accountNumber">......</span>
              <span> {{transferPledgedTitleData.pledgee.accountNumber}}</span>
            </td>
            <td>
              <md-button class="md-fab md-micro"
                         aria-label="Mini FAB"
                         ng-click="findPledgee()">
                <i class="glyphicon glyphicon-search micro-glyphicon"></i>
                <md-tooltip>
                  <span once-text="'Find Pledgee'|translate"></span>
                </md-tooltip>

              </md-button>
            </td>
          </tr>
          </tbody>
        </table>


      </div>
      <!--Pledgee-->
      <div class="succession-operation-forms table-responsive"
           ng-if="transferPledgedTitleData.pledgee.name
                  && transferPledgedTitleData.seller.name
                  && transferPledgedTitleData.buyer.name">
        <hr/>
        <h5 once-text="'Subject'|translate"></h5>
        <table class="table table-striped table-bordered">
          <thead>
          <tr>
            <th><span class="required-sign">*</span> <span once-text="'Instrument'|translate"></span></th>
            <th once-text="'ISIN'|translate"></th>
            <th once-text="'Price'|translate"></th>
            <th>
              <span once-text="'Shares'|translate"></span>
            </th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>

              <span ng-if="!transferPledgedTitleData.subject.instrument.instrumentName">......</span>
              <span> {{transferPledgedTitleData.subject.instrument.instrumentName}}</span>
              <md-button

                class="md-fab md-micro"
                aria-label="Mini FAB"
                ng-click="findInstrument()">
                <i class="glyphicon glyphicon-search micro-glyphicon"></i>
                <md-tooltip>
                  <span once-text="'Find Instrument'|translate"></span>
                </md-tooltip>

              </md-button>
              <input

                type="hidden"
                name="ISIN"
                ng-required="true"
                ng-model="transferPledgedTitleData.subject.instrument.ISIN">

              <div
                class="has-error"
                ng-show="config.form.name.$submitted ">
                <p ng-show="config.form.name['ISIN'].$error.required"
                   class="help-block help-block-error">
                  <span once-text="'You have to select instrument!'|translate"></span>
                </p>
              </div>
            </td>
            <!--Name-->
            <td>
              <span ng-if="!transferPledgedTitleData.subject.instrument.ISIN">......</span>
              <span> {{transferPledgedTitleData.subject.instrument.ISIN}}</span>
            </td>
            <!--ISIN-->
            <td class="input-width">
              <input type="number" min="0" class="k-textbox"
                     ng-model="transferPledgedTitleData.subject.price"
                     name="instrument_price"
                     ng-required="true">

              <div class="has-error"
                   ng-show="config.form.name.$submitted || config.form.name['instrument_price'].$touched ">
                <p ng-show="config.form.name['instrument_price'].$error.required"
                   class="help-block help-block-error">
                  <span once-text="'This field is required'|translate"></span>
                </p>

                <p ng-show="config.form.name['instrument_price'].$error.min"
                   class="help-block help-block-error">
                  <span once-text="'Wrong Number!'|translate"></span>
                </p>
              </div>
            </td>

            <td>

              <md-button
                ng-if="!(transferPledgedTitleData.subject.balance.length>0)"
                class="md-fab md-micro"
                aria-label="Mini FAB"
                ng-disabled="!transferPledgedTitleData.subject.instrument.id"
                ng-click="checkBalance(transferPledgedTitleData.subject,config.accountStatementWindow,$index)">
                <i class="glyphicon glyphicon-edit micro-glyphicon"></i>
                <md-tooltip>
                  <span once-text="'Select Shares'|translate"></span>
                </md-tooltip>
              </md-button>

              <div ng-if="transferPledgedTitleData.subject.balance.length>0 ">

                <table class="table table-striped table-bordered">
                  <thead>
                  <tr>

                    <th><span once-text="'Share ID'|translate"></span></th>
                    <th once-text="'Quantity'|translate"></th>
                  </tr>
                  </thead>

                  <tbody>
                  <tr ng-repeat="share in transferPledgedTitleData.subject.shares">
                    <td>{{share.ID}}</td>
                    <td>{{share.quantity}}</td>
                  </tr>
                  </tbody>

                </table>


                <strong>{{transferPledgedTitleData.subject.share.ID}}</strong>
                <md-button ng-show="transferPledgedTitleData.subject.balance.length>0" class="md-icon-button launch"
                           ng-click="showBalanceData(config.accountStatementWindow,transferPledgedTitleData.subject.balance,transferPledgedTitleData.subject)">
                  <i class="glyphicon glyphicon-edit"></i>
                  <md-tooltip><span once-text="'Update'|translate"></span></md-tooltip>
                </md-button>

              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <div kendo-window="config.accountStatementWindow"
           k-title="'Balance'"
           k-
           k-width="'80%'"
           k-resizable="true"
           k-height="'80%'"
           k-visible="false">
        <div ng-include="'app/records/templates/partials/share-selection.html'"></div>
      </div>
    </div>
  </div>
</div>
