<div class="window-extend-block" data-extend-template="app/common/templates/operation-window-layout.html">
  <div data-block="content" class="window-main-content">
    <div
      role="form"
      ng-form="config.form.name"
      ng-submit="config.buttons.complete.click()">
      <div class="title-transfer-forms">
        <div class="form-group" ng-class="{ 'has-error':
                 (config.form.name.$submitted || config.form.name.record_number.$touched)
                 &&(config.form.name.record_number.$invalid)  }">

          <label class="form-labels"><span class="required-sign">*</span><span
            once-text="'Registration Number'|translate"></span>:</label>

          <div class="form-inputs">
            <input type="text"
                   class="k-textbox"
                   name="record_number"
                   ng-model="taskData.registrationNumber"
                   ng-required="true">

            <div ng-show="config.form.name.$submitted || config.form.name.record_number.$touched">
              <p ng-show="config.form.name.record_number.$error.required"
                 class="help-block help-block-error">
                <span once-text="'This field is required'|translate"></span>
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="title-transfer-forms">

        <div class="form-group">

          <label class="form-labels">
            <span once-text="'Comment'|translate"></span>:</label>

          <div class="form-inputs">
                  <textarea
                    class="k-textbox"
                    name="comment"
                    cols="6"
                    rows="7"
                    ng-model="taskData.comment"
                    ></textarea>
          </div>
        </div>
      </div>
      <!--Comment-->

      <div class="title-transfer-forms inline-block">
          <table class="table table-striped table-bordered" style="table-layout: fixed">
            <thead>
            <tr>
              <th>
                <strong class="required-sign">*</strong>
                <strong once-text="'Issuer'|translate"></strong>
              </th>
              <th once-text="'Account Number'|translate"></th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td class="table-td-overflow">
                <span ng-if="!issuer.name">......</span>
                <span> {{issuer.name}}</span>
                <input
                  type="hidden"
                  name="issuer"
                  ng-required="true"
                  ng-model="issuer.name">

                <div ng-class="{ 'has-error':config.form.name.$submitted &&(config.form.name.issuer.$invalid)}"
                     ng-show="config.form.name.$submitted">
                  <p ng-show="config.form.name.issuer.$error.required"
                     class="help-block help-block-error">
                    <span once-text="'You have to select issuer!'|translate"></span>
                  </p>
                </div>

              </td>
              <td>
                <span ng-if="!issuer.accountNumber">......</span>
                <span> {{issuer.accountNumber}}</span>
              </td>
              <td>
                <md-button class="md-fab md-micro"
                           aria-label="Mini FAB"
                           ng-click="findIssuer()">
                  <i class="glyphicon glyphicon-search micro-glyphicon"></i>
                  <md-tooltip>
                    <span once-text="'Find Issuer'|translate"></span>
                  </md-tooltip>

                </md-button>
              </td>
            </tr>
            </tbody>
          </table>
      </div>
      <!--issuer-->
      <div class="title-transfer-forms inline-block">
          <table class="table table-striped table-bordered" style="table-layout: fixed">
            <thead>
            <tr>
              <th><span class="required-sign">*</span> <span once-text="'Instrument'|translate"></span></th>
              <th once-text="'ISIN'|translate"></th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td class="table-td-overflow">
                <span ng-if="!instrument.instrumentName">......</span>
                <span> {{instrument.instrumentName}}</span>
                <input type="hidden" name="ISIN" ng-required="true" ng-model="instrument.ISIN">
                <div
                  class="has-error"
                  ng-show="config.form.name.$submitted ">
                  <p ng-show="config.form.name['ISIN'].$error.required"
                     class="help-block help-block-error">
                    <span once-text="'You have to select instrument!'|translate"></span>
                  </p>
                </div>
              </td>
              <td>
                <span ng-if="!instrument.ISIN">......</span>
                <span> {{instrument.ISIN}}</span>


              </td>
              <td>
                <md-button

                  class="md-fab md-micro"
                  aria-label="Mini FAB"
                  ng-disabled="!issuer.id "
                  ng-click="findInstrument(issuer.id)">
                  <i class="glyphicon glyphicon-search micro-glyphicon"></i>
                  <md-tooltip>
                    <span once-text="'Find Instrument'|translate"></span>
                  </md-tooltip>

                </md-button>
              </td>
            </tr>
            </tbody>
          </table>
      </div>
    </div>
  </div>
</div>
