<div class="window-extend-block" data-extend-template="app/common/templates/operation-window-layout.html">
  <div data-block="content" class="window-main-content">

    <div class="add-new-user">


      <form name="outgoingPayment" class="add-new-user-window no-scroll" novalidate>


        <div class="form-group" ng-class="{ 'has-error': false}">
          <div class="form-inputs">
            <table>
              <thead>
              <tr>
                <th style="text-align: right; padding-right: 100px">Ötürən</th>
                <th style="text-align: right; padding-right: 100px">Qəbul edən</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>
                  <!--------------------from accuunt number----------------------->
                  <div class="form-group" ng-class="{ 'has-error': false}">
                    <label class="form-labels">
                      <span class="required-sign">*</span>
                      <span>Hesab nömrəsi</span>:
                    </label>

                    <div class="form-inputs">
                      <span>{{ taskData.fromAccount.name }} ({{ taskData.fromAccount.accountNumber }})</span>
                    </div>
                  </div>


                  <!--------------------from service class ----------------------->
                  <div class="form-group" ng-class="{ 'has-error': false}">
                    <label class="form-labels">
                      <span class="required-sign">*</span>
                      <span>Bölmə</span>:
                    </label>

                    <div class="form-inputs">
                      <span>{{ taskData.fromServiceClass.code }}</span>
                    </div>
                  </div>

                </td>


                <td>
                  <!--------------------to account ----------------------->
                  <div class="form-group" ng-class="{ 'has-error': false}">
                    <label class="form-labels">
                      <span class="required-sign">*</span>
                      <span>Hesab</span>:
                    </label>

                    <div class="form-inputs">
                      <span>{{ taskData.toAccount.name }} ({{ taskData.toAccount.accountNumber }})</span>
                    </div>

                  </div>


                  <!--------------------to service class ----------------------->
                  <div class="form-group" ng-class="{ 'has-error': false}">
                    <label class="form-labels">
                      <span class="required-sign">*</span>
                      <span>Bölmə</span>:
                    </label>


                    <div class="form-inputs">
                      <span>{{ taskData.toServiceClass.code }}</span>
                    </div>
                  </div>
                </td>
              </tr>

              <tr>
                <td>
                  <!--------------------Currency ----------------------->
                  <div class="form-group" ng-class="{ 'has-error': false}">
                    <label class="form-labels">
                      <span class="required-sign">*</span>
                      <span once-text="'Currency'|translate"></span>:
                    </label>


                    <div class="form-inputs">
                      <span>{{ taskData.currency.code }}</span>
                    </div>
                  </div>


                  <!--------------------amount ----------------------->
                  <div class="form-group" ng-class="{ 'has-error': false}">
                    <label class="form-labels">
                      <span once-text="'Amount'|translate"></span>:
                    </label>


                    <div class="form-inputs">
                      <span>{{ taskData.amount }}</span>
                    </div>
                  </div>
                </td>
                <td></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>


      </form>

    </div>
  </div>
</div>
