<div class="window-extend-block" data-extend-template="app/common/templates/operation-window-layout.html">
  <div data-block="content" class="window-main-content">
    <table class="table table-striped table-hover table-responsive table-bordered ">
      <tbody>
      <tr>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><b once-text="'Registration Number'|translate"></b></td>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6">{{taskData.registrationNumber}}</td>
      </tr>
      <tr>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><b once-text="'Registration Date'|translate"></b></td>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6">{{taskData.registrationDate |date: 'shortDate'}}</td>
      </tr>
      <tr>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><b once-text="'Value Date'|translate"></b></td>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6">{{taskData.valueDate |date: 'shortDate'}}</td>
      </tr>
      <tr>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><b once-text="'Comment'|translate"></b></td>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6">{{taskData.comment}}</td>
      </tr>
      <tr>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><b once-text="'Registration Authority Class'|translate"></b>
        </td>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6">{{taskData.registrationAuthorityClass['name'+lnC]}}</td>
      </tr>
      <tr>
        <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4"><b
          once-text="'Holder'|translate"></b></td>
        <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4">{{taskData.holder.name}} - {{taskData.holder.accountNumber}}
        </td>

      </tr>
      <tr>
        <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4"><b
          once-text="'Unfreeze by'|translate"></b></td>

        <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4">
          <span ng-if="taskData.unfreezeOrder == true " once-text="'Order'|translate"></span>
          <span ng-if="taskData.unfreezeOrder == false " once-text="'Specific instruments'|translate"></span>
        </td>

      </tr>

      <tr ng-if="taskData.unfreezingOrder.recordDate">
        <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4"><b
          once-text="'Order Date'|translate"></b></td>


        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6">{{taskData.unfreezingOrder.recordDate |date: 'shortDate'}}</td>

      </tr>
      <tr ng-if="taskData.unfreezingOrder.orderNumber">
        <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4"><b
          once-text="'Order Number'|translate"></b></td>

        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6">{{taskData.unfreezingOrder.orderNumber |date: 'shortDate'}}</td>

      </tr>

      </tbody>
    </table>
    <br/>

    <div class="succession-operation-forms table-responsive">
      <hr/>
      <h5 once-text="'Instruments'|translate"></h5>
      <table class="table table-striped table-bordered">
        <thead>
        <tr>

          <th><span class="required-sign">*</span> <span once-text="'Instrument'|translate"></span></th>
          <th once-text="'ISIN'|translate"></th>
          <th once-text="'Unfreeze by Shares'|translate"></th>
          <th>
            <span once-text="'Shares'|translate"></span>
              <span tooltip-placement="left"
                    uib-tooltip-html="'This field will be shown when specific quantity selected for instrument.'|translate">
               <span class="glyphicon glyphicon-question-sign glyphicon-question-sign-style"></span>
              </span>
          </th>
        </tr>
        </thead>
        <tbody>
        <tr data-ng-repeat="subject in taskData.subjects">
          <td>

            <span ng-if="!subject.instrument.instrumentName">......</span>
            <span> {{subject.instrument.instrumentName}}</span>
          </td>
          <!--Name-->
          <td>
            <span ng-if="!subject.instrument.ISIN">......</span>
            <span> {{subject.instrument.ISIN}}</span>
          </td>
          <!--ISIN-->
          <td>
            <md-radio-group layout="row"
                            ng-disabled="true"
                            ng-model="subject.allQuantity"
                            class="horizontal-form-checkbox">
              <md-radio-button ng-disabled="true" ng-value="true"><span
                once-text="'All'|translate"></span></md-radio-button>
              <md-radio-button ng-disabled="true" ng-value="false" class="md-primary"><span
                once-text="'Specific'|translate"></span></md-radio-button>
            </md-radio-group>
          </td>

          <td ng-if="!taskData.isHolderIssuer">
            <div ng-if="!subject.allQuantity">

              <table class="table table-striped table-bordered">
                <thead>
                <tr>
                  <th><span once-text="'Share ID'|translate"></span></th>
                  <th once-text="'Quantity'|translate"></th>
                </tr>
                </thead>

                <tbody>
                <tr ng-repeat="share in subject.shares">
                  <td>{{share.ID}}</td>
                  <td>{{share.quantity}}</td>
                </tr>
                </tbody>
              </table>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div ng-if="taskData.unfreezingOrder">
  <h4 once-text="'Unfreezing Order'|translate"></h4>
  <table class="table table-striped table-hover table-responsive table-bordered ">
    <tbody>
    <tr>
      <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4"><b once-text="'Order Number'|translate"></b>
      </td>
      <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4">{{taskData.unfreezingOrder.orderNumber}}</td>
    </tr>
    <tr>
      <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4"><b once-text="'Order Date'|translate"></b>
      </td>
      <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4">{{taskData.unfreezingOrder.recordDate |date: 'shortDate'}}</td>
    </tr>
    <tr>
      <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4"><b once-text="'Unfreeze All Securities'|translate"></b>
      </td>
      <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4">

        <p ng-if="taskData.ununfreezeAll==true" once-text="'Yes'|translate"></p>

        <p ng-if="taskData.ununfreezeAll==false" once-text="'No'|translate"></p>

      </td>
    </tr>
    </tbody>
  </table>


</div>


