<div class="window-extend-block" data-extend-template="app/common/templates/operation-window-layout.html">
  <div data-block="content" class="window-main-content">
    <div
      role="form"
      ng-form="config.form.name"
      ng-submit="config.buttons.complete.click()">

      <div class="succession-operation-forms">
        <div class="form-group" ng-class="{ 'has-error':
                 (config.form.name.$submitted || config.form.name.record_number.$touched)
                 &&(config.form.name.record_number.$invalid)  }">

          <label class="form-labels"><span class="required-sign">*</span><span
            once-text="'Registration Number'|translate"></span>:</label>

          <div class="form-inputs">
            <input type="text"
                   class="k-textbox"
                   name="record_number"
                   ng-model="freezing.registrationNumber"
                   ng-required="true">


            <div ng-show="config.form.name.$submitted || config.form.name.record_number.$touched">
              <p ng-show="config.form.name.record_number.$error.required"
                 class="help-block help-block-error">
                <span once-text="'This field is required'|translate"></span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="succession-operation-forms">
        <div class="form-group" ng-class="{ 'has-error':
                 (config.form.name.$submitted || config.form.name.record_date.$touched)
                 &&(config.form.name.record_date.$invalid)  }">
          <label class="form-labels"><span class="required-sign">*</span><span
            once-text="'Registration Date'|translate"></span>:</label>

          <div class="form-inputs">
            <input type="text"
                   class="datepicker-cst"
                   kendo-date-picker

                   name="record_date"
                   ng-model="freezing.registrationDate"
                   k-ng-model="freezing.registrationDateObj"
                   ng-required="true"
              >

            <div ng-show="config.form.name.$submitted || config.form.name.record_date.$touched">
              <p ng-show="config.form.name.record_date.$error.required"
                 class="help-block help-block-error">
                <span once-text="'This field is required'|translate"></span>
              </p>

              <p ng-show="config.form.name.record_date.$error.csmKendoDate"
                 class="help-block help-block-error">
                <span once-text="'Please enter a valid date!'|translate"></span>
              </p>
            </div>
          </div>
        </div>

      </div>
      <div class="succession-operation-forms">
        <div class="form-group"
             ng-class="{ 'has-error':
                 (config.form.name.$submitted || config.form.name.value_date.$touched)
                 &&(config.form.name.value_date.$invalid)  }">
          <label class="form-labels"><span once-text="'Value Date'|translate"></span>:</label>

          <div class="form-inputs">
            <input type="text"
                   class="datepicker-cst inline-block"
                   kendo-date-picker

                   name="value_date"
                   ng-model="freezing.valueDate"
                   k-ng-model="freezing.valueDateObj"
                   ng-required="false"
              >
             <span tooltip-placement="left"
                   uib-tooltip-html="'Value date will be the same as record date if not provided.'|translate">
               <span class="glyphicon glyphicon-question-sign glyphicon-question-sign-style"></span>
            </span>

            <div ng-show="config.form.name.$submitted || config.form.name.value_date.$touched">
              <p ng-show="config.form.name.value_date.$error.required"
                 class="help-block help-block-error">
                <span once-text="'This field is required'|translate"></span>
              </p>

              <p ng-show="config.form.name.value_date.$error.csmKendoDate"
                 class="help-block help-block-error">
                <span once-text="'Please enter a valid date!'|translate"></span>
              </p>
            </div>
          </div>
        </div>

      </div>
      <div class="succession-operation-forms">

        <div class="form-group" ng-class="{ 'has-error':
                 (config.form.name.$submitted || config.form.name.comment.$touched)
                 &&(config.form.name.comment.$invalid)  }">

          <label class="form-labels">
            <span class="required-sign">*</span>
            <span once-text="'Comment'|translate"></span>:</label>

          <div class="form-inputs">
                  <textarea
                    class="k-textbox"
                    name="comment"
                    cols="6"
                    rows="7"
                    ng-model="freezing.comment"
                    ng-required="true"></textarea>

            <div ng-show="config.form.name.$submitted || config.form.name.comment.$touched">
              <p ng-show="config.form.name.comment.$error.required"
                 class="help-block help-block-error">
                <span once-text="'This field is required'|translate"></span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="succession-operation-forms">
        <div class="form-group" ng-class="{ 'has-error':
                 (config.form.name.$submitted || config.form.name.reg_auth_class.$touched)
                 &&(config.form.name.reg_auth_class.$invalid)  }">

          <label class="form-labels"><span class="required-sign">*</span>
            <span once-text="'Registration Authority Class'|translate"></span>:</label>

          <div class="form-inputs">
            <select
              name="reg_auth_class"
              ng-model="freezing.registrationAuthorityClass"
              ng-required="true"
              >
              <option value="">---</option>
              <option
                value="{{cl|json}}"
                ng-repeat="cl in  metaData.registrationAuthorityClasses">{{cl['name'+lnC]}}
              </option>
            </select>

            <div ng-show="config.form.name.$submitted || config.form.name.reg_auth_class.$touched">
              <p ng-show="config.form.name.reg_auth_class.$error.required"
                 class="help-block help-block-error">
                <span once-text="'This field is required'|translate"></span>
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="succession-operation-forms">
        <div class="form-group">

          <label class="form-labels">
            <span once-text="'Unfreeze by'|translate"></span>:</label>

          <div class="form-inputs">
            <md-radio-group layout="row" ng-model="freezing.unfreezeOrder" ng-change="resetData()"
                            class="horizontal-form-checkbox">
              <md-radio-button ng-value="true"><span once-text="'Order'|translate"></span></md-radio-button>
              <md-radio-button ng-value="false" class="md-primary"><span
                once-text="'Specific Instruments'|translate"></span>
              </md-radio-button>
            </md-radio-group>
          </div>
        </div>
      </div>

      <div ng-if="!freezing.unfreezeOrder" class="succession-operation-forms">
        <div class="form-group">

          <label class="form-labels">
            <span once-text="'Account Type'|translate"></span>:</label>

          <div class="form-inputs">
            <md-radio-group layout="row" ng-model="freezing.isHolderIssuer" ng-change="resetData()"
                            class="horizontal-form-checkbox">
              <md-radio-button ng-value="true"><span once-text="'Issuer'|translate"></span></md-radio-button>
              <md-radio-button ng-value="false" class="md-primary"><span once-text="'Shareholder'|translate"></span>
              </md-radio-button>
            </md-radio-group>
          </div>
        </div>
      </div>
      <div ng-if="!freezing.unfreezeOrder" class="succession-operation-forms">
        <div class="form-group">

          <label class="form-labels">
            <span once-text="'Unfreeze'|translate"></span>:</label>

          <div class="form-inputs">
            <md-radio-group layout="row" ng-model="freezing.unfreezeAll" class="horizontal-form-checkbox">
              <md-radio-button ng-value="true"><span once-text="'All Instruments'|translate"></span></md-radio-button>
              <md-radio-button ng-value="false" class="md-primary"><span
                once-text="'Specific Instruments'|translate"></span></md-radio-button>
            </md-radio-group>
          </div>
        </div>
      </div>

      <div ng-if="freezing.unfreezeOrder" class="succession-operation-forms">
        <table class="table table-striped table-bordered">
          <thead>
          <tr>
            <th>
              <strong class="required-sign succession-operation-th">*</strong>
              <strong once-text="'Order'|translate" class="succession-operation-th"></strong>
             </th>
            <th once-text="'Registration Date'|translate" class="succession-operation-th"></th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>
              <span ng-if="!freezing.unfreezingOrder.orderNumber">......</span>
              <span class="succession-operation-th"> {{freezing.unfreezingOrder.orderNumber}}</span>
              <input
                type="hidden"
                name="order"
                ng-required="true"
                ng-model="freezing.unfreezingOrder.orderNumber">

              <div ng-class="{ 'has-error':config.form.name.$submitted &&(config.form.name.order.$invalid)}"
                   ng-show="config.form.name.$submitted">
                <p ng-show="config.form.name.order.$error.required"
                   class="help-block help-block-error">
                  <span once-text="'You have to select order!'|translate"></span>
                </p>
              </div>

            </td>
            <td>
              <span ng-if="!freezing.unfreezingOrder.recordDate">......</span>
              <span class="succession-operation-th"> {{freezing.unfreezingOrder.recordDate|date:'shortDate'}}</span>
            </td>
            <td>
              <md-button class="md-fab md-micro"
                         aria-label="Mini FAB"
                         ng-click="findOrder()">
                <i class="glyphicon glyphicon-search micro-glyphicon"></i>
                <md-tooltip>
                  <span once-text="'Find Order'|translate"></span>
                </md-tooltip>

              </md-button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <div ng-if="!freezing.unfreezeOrder || (freezing.unfreezingOrder && freezing.unfreezingOrder.id)"
           class="succession-operation-forms">
        <table class="table table-striped table-bordered">
          <thead>
          <tr>
            <th>
              <strong class="required-sign succession-operation-th">*</strong>
              <strong once-text="'Holder'|translate" class="succession-operation-th"></strong>
              </th>
            <th once-text="'Account Number'|translate" class="succession-operation-th"></th>
            <th ng-if="!freezing.unfreezingOrder.id"></th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>
              <span ng-if="!freezing.holder.name">......</span>
              <span class="succession-operation-th"> {{freezing.holder.name}}</span>
              <input
                type="hidden"
                name="holder"
                ng-required="true"
                ng-model="freezing.holder.name">

              <div ng-class="{ 'has-error':config.form.name.$submitted &&(config.form.name.holder.$invalid)}"
                   ng-show="config.form.name.$submitted">
                <p ng-show="config.form.name.holder.$error.required"
                   class="help-block help-block-error">
                  <span once-text="'You have to select holder!'|translate"></span>
                </p>
              </div>

            </td>
            <td>
              <span ng-if="!freezing.holder.accountNumber">......</span>
              <span class="succession-operation-th"> {{freezing.holder.accountNumber}}</span>
            </td>
            <td ng-if="!freezing.unfreezingOrder.id">
              <md-button class="md-fab md-micro"
                         aria-label="Mini FAB"
                         ng-click="findHolder()">
                <i class="glyphicon glyphicon-search micro-glyphicon"></i>
                <md-tooltip>
                  <span once-text="'Find Holder'|translate"></span>
                </md-tooltip>

              </md-button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>

      <div class="succession-operation-forms table-responsive" ng-if="!freezing.unfreezeOrder && !freezing.unfreezeAll">
        <hr/>
        <h5 once-text="'Instruments'|translate"></h5>
        <table class="table table-striped table-bordered">
          <thead>
          <tr>

            <th><span class="required-sign">*</span> <span once-text="'Instrument'|translate"></span></th>
            <th once-text="'ISIN'|translate"></th>
            <th ng-if="!freezing.isHolderIssuer" once-text="'Unfreeze by Shares'|translate"></th>

            <th ng-if="!freezing.isHolderIssuer">
              <span once-text="'Shares'|translate"></span>
              <span tooltip-placement="left"
                    uib-tooltip-html="'This field will be shown when specific quantity selected for instrument.'|translate">
               <span class="glyphicon glyphicon-question-sign glyphicon-question-sign-style"></span>
              </span>
            </th>
            <th></th>

          </tr>
          </thead>
          <tbody>
          <tr data-ng-repeat="subject in freezing.subjects">
            <td>

              <span ng-if="!subject.instrument.instrumentName">......</span>
              <span> {{subject.instrument.instrumentName}}</span>
              <md-button

                class="md-fab md-micro"
                aria-label="Mini FAB"
                ng-disabled="!freezing.holder.id"
                ng-click="findInstrument($index)">
                <i class="glyphicon glyphicon-search micro-glyphicon"></i>
                <md-tooltip>
                  <span once-text="'Find Instrument'|translate"></span>
                </md-tooltip>

              </md-button>
              <input

                type="hidden"
                name="ISIN_{{$index}}"
                ng-required="true"
                ng-model="subject.instrument.ISIN">

              <div
                class="has-error"
                ng-show="config.form.name.$submitted ">
                <p ng-show="config.form.name['ISIN_'+$index].$error.required"
                   class="help-block help-block-error">
                  <span once-text="'You have to select instrument!'|translate"></span>
                </p>
              </div>
            </td>
            <!--Name-->
            <td>
              <span ng-if="!subject.instrument.ISIN">......</span>
              <span> {{subject.instrument.ISIN}}</span>
            </td>
            <!--ISIN-->
            <td ng-if="!freezing.isHolderIssuer">
              <md-radio-group layout="row"
                              ng-disabled="!subject.instrument.id"
                              ng-model="subject.allQuantity"
                              ng-change="checkBalance(subject,config.accountStatementWindow,$index)"
                              class="horizontal-form-checkbox">
                <md-radio-button ng-disabled="!subject.instrument.id" ng-value="true"><span
                  once-text="'All'|translate"></span></md-radio-button>
                <md-radio-button ng-disabled="!subject.instrument.id" ng-value="false" class="md-primary"><span
                  once-text="'Specific'|translate"></span></md-radio-button>
              </md-radio-group>
            </td>

            <td ng-if="!freezing.isHolderIssuer">

              <div class="has-error">
                <p ng-show="subject.validation.errors.freezable" class="help-block help-block-error has-error">
                  <span once-text="'You have to select shares!'|translate"></span>
                </p>
              </div>
              <div ng-if="!subject.allQuantity && subject.balance.length>0 ">

                <table class="table table-striped table-bordered">
                  <thead>
                  <tr>

                    <th><span once-text="'Share ID'|translate"></span></th>
                    <th once-text="'Quantity'|translate"></th>
                  </tr>
                  </thead>

                  <tbody>
                  <tr ng-repeat="share in subject.shares">
                    <td>{{share.ID}}</td>
                    <td>{{share.quantity}}</td>
                  </tr>
                  </tbody>

                </table>


                <strong>{{subject.share.ID}}</strong>
                <md-button ng-show="subject.balance.length>0" class="md-icon-button launch"
                           ng-click="showBalanceData(config.accountStatementWindow,subject.balance,subject,$index)">
                  <i class="glyphicon glyphicon-edit"></i>
                  <md-tooltip><span once-text="'Update'|translate"></span></md-tooltip>
                </md-button>

              </div>
            </td>

            <td>
              <md-button
                ng-if="$index>0"
                class="md-fab md-micro"
                aria-label="Mini FAB"
                ng-click="removeInstrument($index,freezing.subjects)">
                <i class="glyphicon glyphicon-remove micro-glyphicon"></i>
                <md-tooltip>
                  <span once-text="'Delete'|translate"></span>
                </md-tooltip>

              </md-button>
              <!--Remove Button-->
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="row" ng-if="!freezing.unfreezeOrder && freezing.subjects[0].instrument.ISIN">
        <div class="col-lg-11">
          <div class="form-group">
            <md-button
              class="md-fab md-micro"
              aria-label="Mini FAB"
              ng-click="addNewInstrument(freezing.subjects)">
              <i class="glyphicon glyphicon-plus micro-glyphicon"></i>
              <md-tooltip>
                <span once-text="'Add New Instrument'|translate"></span>
              </md-tooltip>

            </md-button>

          </div>
        </div>
      </div>


      <div ng-if=" freezing.unfreezeOrder && metaData.currentShareClassCase == metaData.shareClassCases.issuer"
           class="succession-operation-forms table-responsive">
        <hr/>
        <h5 once-text="'Instruments'|translate"></h5>
        <table class="table table-striped table-bordered">
          <thead>
          <tr>

            <th><span class="required-sign">*</span> <span once-text="'Instrument'|translate"></span></th>
            <th once-text="'ISIN'|translate"></th>
            <th once-text="'Select for Unfreezing'|translate"></th>

          </tr>
          </thead>
          <tbody>
          <tr data-ng-repeat="subject in freezing.subjects">
            <td>
              <span ng-if="!subject.instrument.instrumentName">......</span>
              <span> {{subject.instrument.instrumentName}}</span>
            </td>
            <!--Name-->
            <td>
              <span ng-if="!subject.instrument.ISIN">......</span>
              <span> {{subject.instrument.ISIN}}</span>
            </td>
            <!--ISIN-->
            <td>
              <md-checkbox ng-model="subject.selected" aria-label="."></md-checkbox>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <!-- Case 1,2-->

      <div class="succession-operation-forms table-responsive"
           ng-if="freezing.unfreezeOrder && metaData.currentShareClassCase == metaData.shareClassCases.shareholder">
        <hr/>
        <!-- Case 3,4-->
        <h5 once-text="'Instruments'|translate"></h5>
        <table class="table table-striped table-bordered">
          <thead>
          <tr>
            <th once-text="'Instrument'|translate"></th>
            <th once-text="'ISIN'|translate"></th>
            <th once-text="'Select for Unfreezing'|translate"></th>
            <th once-text="'Unfreeze by Shares'|translate"></th>
            <th>
              <span once-text="'Shares'|translate"></span>
              <span tooltip-placement="left"
                    uib-tooltip-html="'This field will be shown when specific quantity selected for instrument.'|translate">
               <span class="glyphicon glyphicon-question-sign glyphicon-question-sign-style"></span>
              </span>
            </th>
          </tr>
          </thead>
          <tbody>
          <tr data-ng-repeat="subject in freezing.subjects">
            <td>

              <span ng-if="!subject.instrument.instrumentName">......</span>
              <span> {{subject.instrument.instrumentName}}</span>
            </td>
            <!--Name-->
            <td>
              <span ng-if="!subject.instrument.ISIN">......</span>
              <span> {{subject.instrument.ISIN}}</span>
            </td>

            <td>
              <md-checkbox ng-model="subject.selected" aria-label="."></md-checkbox>
            </td>

            <td>
              <md-radio-group

                ng-show="subject.selected" layout="row"
                ng-disabled="!subject.instrument.id"
                ng-model="subject.allQuantity"
                ng-change="checkBalance(subject,config.accountStatementWindow,$index)"
                class="horizontal-form-checkbox">
                <md-radio-button ng-disabled="!subject.instrument.id" ng-value="true"><span
                  once-text="'All'|translate"></span></md-radio-button>
                <md-radio-button ng-disabled="!subject.instrument.id" ng-value="false" class="md-primary"><span
                  once-text="'Specific'|translate"></span></md-radio-button>
              </md-radio-group>
            </td>

            <td>

              <div class="has-error">
                <p ng-show="subject.validation.errors.freezable" class="help-block help-block-error has-error">
                  <span once-text="'You have to select shares!'|translate"></span>
                </p>
              </div>
              <div ng-if="!subject.allQuantity && subject.balance.length>0 ">

                <table class="table table-striped table-bordered">
                  <thead>
                  <tr>

                    <th><span once-text="'Share ID'|translate"></span></th>
                    <th once-text="'Quantity'|translate"></th>
                  </tr>
                  </thead>

                  <tbody>
                  <tr ng-repeat="share in subject.shares">
                    <td>{{share.ID}}</td>
                    <td>{{share.quantity}}</td>
                  </tr>
                  </tbody>

                </table>


                <strong>{{subject.share.ID}}</strong>
                <md-button ng-show="subject.balance.length>0" class="md-icon-button launch"
                           ng-click="showBalanceData(config.accountStatementWindow,subject.balance,subject,$index)">
                  <i class="glyphicon glyphicon-edit"></i>
                  <md-tooltip><span once-text="'Update'|translate"></span></md-tooltip>
                </md-button>

              </div>
            </td>

          </tr>
          </tbody>
        </table>
      </div>
      <!--Case 3,4-->

      <div class="succession-operation-forms table-responsive"
           ng-if="freezing.unfreezeOrder && metaData.currentShareClassCase == metaData.shareClassCases.share">
        <hr/>
        <!-- Case 3,4-->
        <h5 once-text="'Instruments'|translate"></h5>
        <table class="table table-striped table-bordered">
          <thead>
          <tr>
            <th once-text="'Instrument'|translate"></th>
            <th once-text="'ISIN'|translate"></th>
            <th once-text="'Select for Unfreezing'|translate"></th>
            <th>
              <span once-text="'Shares'|translate"></span>
              <span tooltip-placement="left"
                    uib-tooltip-html="'This field will be shown when specific quantity selected for instrument.'|translate">
               <span class="glyphicon glyphicon-question-sign glyphicon-question-sign-style"></span>
              </span>
            </th>
          </tr>
          </thead>
          <tbody>
          <tr data-ng-repeat="subject in freezing.subjects">
            <td>

              <span ng-if="!subject.instrument.instrumentName">......</span>
              <span> {{subject.instrument.instrumentName}}</span>
            </td>
            <!--Name-->
            <td>
              <span ng-if="!subject.instrument.ISIN">......</span>
              <span> {{subject.instrument.ISIN}}</span>
            </td>

            <td>
              <md-checkbox  ng-change="checkBalance(subject,config.accountStatementWindow,$index,true)" ng-model="subject.selected" aria-label="."></md-checkbox>
            </td>

            <td>

              <div class="has-error">
                <p ng-show="subject.validation.errors.freezable" class="help-block help-block-error has-error">
                  <span once-text="'You have to select shares!'|translate"></span>
                </p>
              </div>
              <div ng-if="!subject.allQuantity && subject.balance.length>0 ">

                <table class="table table-striped table-bordered">
                  <thead>
                  <tr>

                    <th><span once-text="'Share ID'|translate"></span></th>
                    <th once-text="'Quantity'|translate"></th>
                  </tr>
                  </thead>

                  <tbody>
                  <tr ng-repeat="share in subject.shares">
                    <td>{{share.ID}}</td>
                    <td>{{share.quantity}}</td>
                  </tr>
                  </tbody>

                </table>


                <strong>{{subject.share.ID}}</strong>
                <md-button ng-show="subject.balance.length>0" class="md-icon-button launch"
                           ng-click="showBalanceData(config.accountStatementWindow,subject.balance,subject,$index)">
                  <i class="glyphicon glyphicon-edit"></i>
                  <md-tooltip><span once-text="'Update'|translate"></span></md-tooltip>
                </md-button>

              </div>
            </td>

          </tr>
          </tbody>
        </table>
      </div>
      <!--Case 5-->
      <div kendo-window="config.accountStatementWindow"
           k-title="'Balance'"
           k-
           k-width="'80%'"
           k-resizable="true"
           k-height="'80%'"
           k-visible="false">

        <div ng-include="'app/records/templates/partials/share-selection.html'"></div>

      </div>

    </div>
  </div>
</div>
