<div class="window-extend-block" data-extend-template="app/common/templates/operation-window-layout.html">
  <div data-block="content" class="window-main-content">

    <div class="add-new-user">

      <form name="assignAccountAndServiceForm" class="add-new-user-window no-scroll" novalidate
            style="overflow: scroll">


        <div>

          <table class="table table-striped" style="width: 400px">
            <tbody>
            <tr>
              <td width="30%">Çıxarış tarixi</td>
              <td>{{ data.withdrawalDate }}</td>
            </tr>
            <tr>
              <td><span once-text="'Reference Number'|translate"></span></td>
              <td>{{ data.refNumber }}</td>
            </tr>
            <tr>
              <td><span once-text="'Amount'|translate"></span></td>
              <td>{{ data.amount }}</td>
            </tr>
            <tr>
              <td><span once-text="'Currency'|translate"></span></td>
              <td>{{ data.currency.code }}</td>
            </tr>
            <tr>
              <td><span>Təyinat</span></td>
              <td>{{ data.destination }}</td>
            </tr>
            <tr>
              <td><span>Qalıq</span></td>
              <td>{{ data.amount - (data.localeAmount  || 0) | number: 2}}</td>
            </tr>

            </tbody>
          </table>

        </div>


        <div>

          <table class="table table-striped">
            <thead>
            <tr>
              <td>Bölünmüş məbləğ</td>
              <td>Çıxarış növü</td>
              <td>Hesab</td>
              <td>Xidmət haqqı tutulurmu</td>
            </tr>

            </thead>
            <tbody>
            <tr ng-repeat="obj in data.items">
              <td width="10%">
                <div class="forms" style="min-width: 200px">
                  <div class="form-group">
                    <div class="form-inputs">
                      <input type="text"
                             style="width: 120px"
                             class="k-textbox"
                             name="record_number"
                             ng-model="obj.amount"
                             ng-required="true"/>
                    </div>
                  </div>
                </div>
              </td>
              <td width="10%">
                <div class="forms" style="min-width: 200px">
                  <div class="form-group">
                    <div class="form-inputs">
                      <select ng-options="type.value as type.name for type in withdrawalTypes" ng-model="obj.withdrawalType" ng-change="onWithdrawalTypeChange(obj)"></select>
                    </div>
                  </div>
                </div>
              </td>

              <td width="40%">
                <div ng-show="obj.searchVisible">
                  {{ obj.accountName }}<br>
                  {{ obj.maxAmount }}
                  <md-button
                    type="button"
                    aria-label="search button"
                    style="float: right"
                    class="md-fab md-micro"
                    ng-click="findAccount(obj)">
                    <i class="glyphicon glyphicon-search micro-glyphicon"></i>
                  </md-button>
                </div>
              </td>

              <td>
                <div class="form-inputs" ng-if="obj.hasFeeVisible">
                  <label class="form-labels input-checkbox">
                    <input type="checkbox"
                           name="hasFee"
                           ng-true-value="true"
                           ng-false-value="false"
                           ng-indeterminate="obj.hasFee === null"
                           ng-model="obj.hasFee">
                  </label>
                </div>
              </td>

              <td>
                <md-button
                  type="button"
                  aria-label="search button"
                  class="md-fab md-micro"
                  ng-disabled="data.items.length == 1"
                  ng-click="removeItem($index)">
                  <i class="glyphicon glyphicon-trash micro-glyphicon"></i>
                </md-button>
              </td>
            </tr>
            <tr>
              <td colspan="8">
                <md-button
                  type="button"
                  aria-label="search button"
                  class="md-fab md-micro"
                  ng-click="addItem()">
                  <i class="glyphicon glyphicon-plus micro-glyphicon"></i>
                </md-button>
              </td>
            </tr>
            </tbody>
          </table>

        </div>


      </form>

    </div>
  </div>
</div>
