<div class="window-extend-block" data-extend-template="app/common/templates/operation-window-layout.html">
  <div data-block="content" class="window-main-content">

    <table class="table table-striped table-hover table-responsive table-bordered">
      <tbody>
      <tr>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><b>Çıxarış tarixi</b></td>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6">{{ taskData.withdrawalDate }}</td>
      </tr>
      <tr>
        <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4"><b once-text="'Reference Number'|translate"></b></td>
        <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4">{{ taskData.refNumber }}</td>
      </tr>
      <tr>
        <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4"><b once-text="'Amount'|translate"></b></td>
        <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4">{{ taskData.amount }}
        </td>
      </tr>
      <tr>
        <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4"><b once-text="'Currency'|translate"></b></td>
        <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4">{{ taskData.currency.code }}</td>
      </tr>
      <tr>
        <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4"><b >Təyinat</b></td>
        <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4">{{ taskData.destination }}
        </td>
      </tr>
      </tbody>
    </table>
    <hr/>

    <h4>Bölünmüş Məbləğ</h4>

    <table class="table table-striped table-hover table-responsive table-bordered ">
      <thead>
      <th>Bölünmüş Məbləğ</th>
      <th>Çıxarış növü</th>
      <th>Hesab</th>
      </thead>
      <tbody>
      <tr ng-repeat="obj in taskData.items">
        <td>{{obj.amount}}</td>
        <td>{{obj.withdrawalType}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
