<div
  kendo-splitter="params.splitter1"
  orientation="'horizontal'"
  class="persons-view-splitter"
  k-collapse="searchCriteriaCollapse"
  k-expand="searchCriteriaExpand"
  k-navigatable="true"
  k-scrollable="true"
  panes="params.config.splitterPanesConfig">

  <div>

      <div ng-repeat="service in services" style="padding: 15px 10px">
          <button ng-click="submit(service)">{{ service.name }}</button>
      </div>





  </div>



</div>
