<div class="window-extend-block" data-extend-template="app/common/templates/view-window-layout.html">
  <div class="div-full-height" data-block="content" ng-include="'app/common/templates/partials/view-mt-messages-search-template.html'">
  </div>
</div>

