<div class="window-extend-block" data-extend-template="app/common/templates/operation-window-layout.html">
  <div data-block="content" class="window-main-content">


    <form name="form.taskForm" novalidate>

      <div class="succession-operation-forms">
        <div class="form-group">
          <label class="form-labels">
            <span>Cari məbləğ</span>:
          </label>

          <div class="form-inputs">
            {{ data.currentAmount }}
          </div>
        </div>
      </div>


      <div class="succession-operation-forms">
        <div class="form-group"  ng-class="{ 'has-error': showError}">
          <label class="form-labels">
            <span class="required-sign">*</span>
            <span>Çıxarış məbləği</span>:
          </label>

          <div class="form-inputs">
            <input type="text"
                   style="width: 160px"
                   class="k-textbox"
                   name="withdrawalAmount"
                   placeholder=""
                   ng-model="data.withdrawalAmount"
                   ng-required="true"/>
          </div>
        </div>
      </div>


      <div class="succession-operation-forms">
        <div class="form-group" ng-class="{ 'has-error': false}">
          <label class="form-labels">
            <span class="required-sign">*</span>
            <span>Bankın adı</span>:
          </label>

          <div class="form-inputs">
            <input type="text"
                   style="width: 160px"
                   class="k-textbox"
                   name="payeeBankName"
                   placeholder=""
                   ng-model="data.payeeBankName"
                   ng-required="true"/>
          </div>
        </div>
      </div>


      <div class="succession-operation-forms">
        <div class="form-group" ng-class="{ 'has-error': false}">
          <label class="form-labels">
            <span class="required-sign">*</span>
            <span>Müştərinin adı</span>:
          </label>

          <div class="form-inputs">
            <input type="text"
                   style="width: 160px"
                   class="k-textbox"
                   name="payeeClientName"
                   placeholder=""
                   ng-model="data.payeeClientName"
                   ng-required="true"/>
          </div>
        </div>
      </div>


      <div class="succession-operation-forms">
        <div class="form-group" ng-class="{ 'has-error': false}">
          <label class="form-labels">
            <span class="required-sign">*</span>
            <span>IBAN</span>:
          </label>

          <div class="form-inputs">
            <input type="text"
                   style="width: 160px"
                   class="k-textbox"
                   name="payeeClientAccountNumber"
                   placeholder=""
                   ng-model="data.payeeClientAccountNumber"
                   ng-required="true"/>
          </div>
        </div>
      </div>


      <div class="succession-operation-forms">
        <div class="form-group" ng-class="{ 'has-error': false}">
          <label class="form-labels">
            <span>Müştərinin VÖENi</span>:
          </label>

          <div class="form-inputs">
            <input type="text"
                   style="width: 160px"
                   class="k-textbox"
                   name="payeeClientTin"
                   maxlength="10"
                   placeholder=""
                   ng-model="data.payeeClientTin"
            />
          </div>
        </div>
      </div>


      <div class="succession-operation-forms">
        <div class="form-group" ng-class="{ 'has-error': false}">
          <label class="form-labels">
            <span>Müştərinin kodu</span>:
          </label>

          <div class="form-inputs">
            <input type="text"
                   style="width: 160px"
                   class="k-textbox"
                   name="payeeClientCode"
                   placeholder=""
                   ng-model="data.payeeClientCode"
            />
          </div>
        </div>
      </div>


      <div class="succession-operation-forms">
        <div class="form-group" ng-class="{ 'has-error': false}">
          <label class="form-labels">
            <span class="required-sign">*</span>
            <span>Bankın VÖENi</span>:
          </label>

          <div class="form-inputs">
            <input type="text"
                   style="width: 160px"
                   class="k-textbox"
                   name="payeeBankTin"
                   placeholder=""
                   maxlength="10"
                   ng-model="data.payeeBankTin"
                   ng-required="true"/>
          </div>
        </div>
      </div>


      <div class="succession-operation-forms">
        <div class="form-group" ng-class="{ 'has-error': false}">
          <label class="form-labels">
            <span class="required-sign">*</span>
            <span>Bankın kodu</span>:
          </label>

          <div class="form-inputs">
            <input type="text"
                   style="width: 160px"
                   class="k-textbox"
                   name="payeeBankCode"
                   placeholder=""
                   ng-model="data.payeeBankCode"
                   ng-required="true"/>
          </div>
        </div>
      </div>


      <div class="succession-operation-forms">
        <div class="form-group" ng-class="{ 'has-error': false}">
          <label class="form-labels">
            <span class="required-sign">*</span>
            <span>SWIFT/BIC</span>:
          </label>

          <div class="form-inputs">
            <input type="text"
                   style="width: 160px"
                   class="k-textbox"
                   name="payeeBankBIC"
                   placeholder=""
                   ng-model="data.payeeBankBIC"
                   ng-required="true"/>
          </div>
        </div>
      </div>


      <div class="succession-operation-forms">
        <div class="form-group" ng-class="{ 'has-error': false}">
          <label class="form-labels">
            <span class="required-sign">*</span>
            <span>Müxbir hesab</span>:
          </label>

          <div class="form-inputs">
            <input type="text"
                   style="width: 160px"
                   class="k-textbox"
                   name="payeeBankCorrespondentAccount"
                   placeholder=""
                   ng-model="data.payeeBankCorrespondentAccount"
                   ng-required="true"/>
          </div>
        </div>
      </div>


      <div class="succession-operation-forms">
        <div class="form-group" ng-class="{ 'has-error': false}">
          <label class="form-labels">
            <span class="required-sign">*</span>
            <span>Təyinat</span>:
          </label>

          <div class="form-inputs">
            <input type="text"
                   style="width: 160px"
                   class="k-textbox"
                   name="destination"
                   placeholder=""
                   ng-model="data.destination"
                   ng-required="true"/>
          </div>
        </div>
      </div>

      <div class="succession-operation-forms">
        <div class="form-group" ng-class="{ 'has-error': false}">
          <label class="form-labels">
            <span class="required-sign">*</span>
            <span>Sessiya</span>:
          </label>

          <div class="form-inputs">
            <select
              style="width: 160px"
              name="sessionNumber"
              ng-required="true"
              ng-model="data.sessionNumber"
              ng-options="obj.value as obj.value for obj in sessions"></select>
          </div>
        </div>
      </div>


      <div class="succession-operation-forms">
        <div class="form-group" ng-class="{ 'has-error': false}">
          <label class="form-labels">
            <span class="required-sign">*</span>
            <span>Çıxarış tarixi</span>:
          </label>

          <div class="form-inputs">
            <input type="text"
                   style="width: 160px"
                   class="datepicker-cst"
                   kendo-date-picker
                   name="withdrawalDate"
                   ng-model="data.withdrawalDate"
                   k-ng-model="data.withdrawalDateObj"
                   ng-required="true"
            >
          </div>
        </div>


      </div>

    </form>


  </div>
</div>

