<div class="window-extend-block" data-extend-template="app/common/templates/operation-window-layout.html">
  <div data-block="content" class="window-main-content">

    <table class="table table-striped table-hover table-responsive table-bordered">
      <tbody>
      <tr>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><b>Cari məbləğ</b></td>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6">{{taskData.currentAmount}}</td>
      </tr>
      <tr>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><b>Çıxarış məbləği</b></td>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6">{{taskData.withdrawalAmount}}</td>
      </tr>
      <tr>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><b>Bankın adı</b></td>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6">{{taskData.payeeBankName}}</td>
      </tr>
      <tr>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><b>Müştərinin adı</b></td>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6">{{taskData.payeeClientName}}</td>
      </tr>
      <tr>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><b>IBAN</b></td>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6">{{taskData.payeeClientAccountNumber}}</td>
      </tr>
      <tr>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><b>Müştərinin VÖENi</b></td>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6">{{taskData.payeeClientTin}}</td>
      </tr>
      <tr>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><b>Müştərinin kodu</b></td>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6">{{taskData.payeeClientCode}}</td>
      </tr>
      <tr>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><b>Bankın VÖENi</b></td>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6">{{taskData.payeeBankTin}}</td>
      </tr>
      <tr>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><b>Bankın kodu</b></td>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6">{{taskData.payeeBankCode}}</td>
      </tr>
      <tr>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><b>SWIFT/BIC</b></td>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6">{{taskData.payeeBankBIC}}</td>
      </tr>
      <tr>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><b>Müxbir hesab</b></td>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6">{{taskData.payeeBankCorrespondentAccount}}</td>
      </tr>
      <tr>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><b>Təyinat</b></td>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6">{{taskData.destination}}</td>
      </tr>
      <tr>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><b>Sessiya</b></td>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6">{{taskData.sessionNumber}}</td>
      </tr>
      <tr>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><b>Çıxarış tarixi</b></td>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6">{{taskData.withdrawalDate}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
