<%- include partials/header %>

<section class="container">

  <div id="change-password">
    <h3 align="center"><%= __('Change forgotten password') %></h3>

    <% if(isValidToken){ %>
    <% if(success){ %>

    <p class="success"><%= __('Your password changed successfully.You can login now.') %> </p>

    <% }
    else{ %>
    <p><%= __('Please enter new password in the fields below to change your password.') %> </p>

    <form action="/confirm" method="post">

      <input type="hidden" name="username" value="<%= token.username %>"/>
      <input type="hidden" name="tokenId" value="<%= token.tokenId %>"/>
      <input type="hidden" name="confirmationId" value="<%= token.confirmationId %>"/>

      <md-input-container>
        <label><%= __('New password') %></label>
        <input type="password" name="password" value="<%= form.password %>" autocomplete="off"/>

        <% if(errors && errors.password){ %>
        <div ng-messages="true">
          <div ng-message="required"> <%= errors.password.msg %></div>
        </div>
        <% } %>

      </md-input-container>
      <md-input-container>
        <label><%= __('Confirm password') %></label>
        <input type="password" name="password2" value="<%= form.password2 %>" autocomplete="off"/>

        <% if(errors && errors.password2){ %>
        <div ng-messages="true">
          <div ng-message="required"> <%= errors.password2.msg %></div>
        </div>
        <% } %>

      </md-input-container>

      <a href="/index">
        <md-button class="md-raised" type="button">
          <%= __('Return to login page') %>
        </md-button>
      </a>

      <md-button class="md-raised" type="submit">
        <%= __('Submit') %>
      </md-button>

    </form>
    <% } %>
    <% }else{ %>
    <p class="error"><%= __('Your password reset token is invalid or out of date. Please return to login page and request for a new token.') %></p>

    <% } %>

    <%- include partials/footer %>
  </div>
</section>
