<%- include partials/header %>

<section class="container">

  <div id="forgot-password">
    <h3 align="center"><%= __('Forgotten password?') %></h3>

    <% if(!success){ %>
    <form action="/forgotPassword" method="post">
      <p><%= __('Please enter your username, we will send you an email containing instructions on how to reset your password.') %></p>

      <md-input-container>
        <label><%= __('Username') %></label>
        <input type="text" name="username"/>

        <% if(errors && errors.username){ %>
        <div ng-messages="true">
          <div ng-message="required"> <%= errors.username.msg %></div>
        </div>
        <% } %>

      </md-input-container>


      <a href="/index">
        <md-button class="md-raised" type="button">
          <%= __('Return to login page') %>
        </md-button>
      </a>

      <md-button class="md-raised" type="submit">
        <%= __('Submit') %>
      </md-button>


    </form>
    <% }else{ %>
    <p class="email-sent"><%= __("We have sent you an e-mail, please follow the link in the e-mail to complete your password reset process.") %></p>
    <% } %>

  </div>
</section>
<%- include partials/footer %>
