<%- include partials/header %>

<section class="container">
  <section id="index">
    <aside class="login-form" ng-class="ctrl.currentLanguage =='AZ'?'login-form-az-bg':'login-form-en-bg'"
           ng-controller="LoginCtrl">
      <form action="/index" name="loginForm.name" method="post" autocomplete="off" novalidate>

        <md-radio-group ng-model="loginType" layout="row">
          <md-radio-button value="0" class="md-primary">
            <img src="../images/csdr_logo.png" class="csdr-logo">
            <span class="csdr-logo-name"><%= __('CSDR Login') %></span>
          </md-radio-button>
          <md-radio-button value="1">
            <img src="../images/asan_logo.png" class="asan-logo">
            <span class="asan-logo-name"><%= __('Asan İmza') %></span>
          </md-radio-button>

        </md-radio-group>

        <!-- CSDR Login [[[-->
        <md-input-container ng-if="loginType ==0">
          <i class="icon icon-user"></i>
          <label><%= __('Username') %></label>
          <input type="text"
                 name="username"
                 required value="<%= form.username %>"/>

          <% if(errors && errors.username){ %>
          <div ng-messages="true">
            <div ng-message="required"> <%= errors.username.msg %></div>
          </div>
          <% } %>

        </md-input-container>
        <md-input-container ng-if="loginType ==0">
          <i class="icon icon-lock"></i>
          <label><%= __('Password') %></label>

          <input type="password"
                 required value="<%= form.password %>"
                 name="password"
                 autocomplete="off"/>

          <% if(errors && errors.username){ %>
          <div ng-messages="true">
            <div ng-message="required"> <%= errors.password.msg %></div>
          </div>
          <% } %>
          <% if(errors && errors.server){ %>
          <div ng-messages="true">
            <div ng-message="required"> <%= errors.server.msg %></div>
          </div>
          <% } %>

        </md-input-container>

        <!-- CSDR Login ]]]-->

        <!-- Asan Imza Login [[[-->
        <md-input-container ng-if="loginType ==1">
          <i class="icon glyphicon glyphicon-phone"></i>
          <label><%= __('Phone Number') %></label>
          <input type="text"
                 name="phone_number"
                 ng-required="true"
                 mask="(+999) 99 999 99 99"
                 ng-model="loginForm.data.phoneNumber"/>

            <div ng-messages="true" ng-if="loginType == 1 && loginForm.name.$submitted && !loginForm.data.phoneNumber">
                <div ng-message="required">Telefon nömrəsini daxil etməlisiniz</div>
            </div>

        </md-input-container>

        <md-input-container ng-if="loginType ==1">
          <i class="icon icon-lock"></i>
          <label><%= __('User ID') %></label>
          <input type="password"
                 name="user_id"
                 ng-model="loginForm.data.userId"
                 ng-required="true"
                 autocomplete="off"/>

            <div ng-messages="true" ng-if="loginType == 1 && loginForm.name.$submitted && !loginForm.data.userId">
                <div ng-message="required">İstifadəçi İD-sini daxil etməlisiniz</div>
            </div>

          <div ng-messages="loginForm.error" style="min-height: 5px!important;">
            <div ng-show="loginForm.error">{{loginForm.error}}</div>
          </div>
        </md-input-container>
        <!-- Asan Imza Login ]]]-->


        <md-button class="md-raised"
                   ng-click="asanImzaLogin($event)">
          <%= __('Login') %>
        </md-button>
        <a class="forgot-password" ng-show="loginType ==0" href="/forgotPassword"><%= __('Forgot password') %></a>

      </form>

    </aside>

    <aside class="news-block">

      <h3><%= __('News') %></h3>
      <ul>
        <li>
          <p class="news-short">
            <a target="_blank"
               href="http://mdm.gov.az/cat/27?n=199"><%= __('AFBİA-nın Ümumi Yığıncağı keçirilmişdir') %></a>
          </p>

          <p><i class="icon icon-calendar"></i> 27.11.2017</p>
        </li>

        <li>
          <p class="news-short">
            <a target="_blank"
               href="http://mdm.gov.az/cat/27?n=198"><%= __('Koreya Fond Birjasının əməkdaşları ilə görüş keçirilmişdir') %></a>
          </p>

          <p><i class="icon icon-calendar"></i> 25.10.2017</p>
        </li>
        <li>
          <p class="news-short">
            <a target="_blank"
               href="http://mdm.gov.az/cat/27?n=197"><%= __('Minsk şəhərində AMDA-nın XIV Beynəlxalq Konfransı keçirilmişdir.') %></a>
          </p>

          <p><i class="icon icon-calendar"></i> 12.09.2017</p>
        </li>
        <li>
          <p class="news-short">
            <a target="_blank"
               href="http://mdm.gov.az/cat/27?n=195"><%= __('Azərbaycan Respublikasının Milli Depozit Mərkəzinin kollektivi Xocalı soyqırımı qurbanlarının xatirəsinə ucaldılmış abidəni ziyarət etmişlər') %></a>
          </p>

          <p><i class="icon icon-calendar"></i> 27.02.2017</p>
        </li>

      </ul>
      <md-button class="md-raised">
        <%= __('Download user guide') %>
        <i class="icon icon-download"></i>
      </md-button>

    </aside>
  </section>
</section>
<%- include partials/footer %>
