<div class="row person-data-config-fields" ng-init="parseFieldValues(field)">

  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
    <label><span once-text="field.name"></span>:</label>
  </div>
  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 field-label-style">
    <!--<div class="form-group inline-block">-->
        <label><span class="md-checkbox-label small-check" once-text="'Visible'|translate"></span>:</label>
        <div class="inline-block field-switch-style">
          <md-switch
            ng-model="field.visible"
            aria-label="No/Yes"
            class="md-warn md-cst-checkbox">
          </md-switch>
        </div>
    </div>

    <!--</div>-->

  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 field-label-style">
     <label><span class="md-checkbox-label small-check" once-text="'Mandatory'|translate"></span>:</label>
    <div class="inline-block field-switch-style">
      <md-switch
        ng-model="field.mandatory"
        aria-label="No/Yes"
        class="md-warn md-cst-checkbox">
      </md-switch>
    </div>

  </div>

</div>

<ul class="tree-view-list">
  <li ng-repeat="field in field.childs"
      ng-include="'app/configurations/templates/partials/configuration-field-renderer.html'"></li>
</ul>
