<div class="padding20">
  <table class="table table-striped table-hover table-responsive table-bordered ">
    <tbody>

    <tr>
      <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><b once-text="'Start Date'|translate"></b></td>
      <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6">{{item.startDate}}</td>
    </tr>
    <tr>
      <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><b once-text="'Finish Date'|translate"></b></td>
      <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6">{{item.finishDate}}</td>
    </tr>
    <tr>
      <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4"><b once-text="'Broker'|translate"></b></td>
      <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4">{{item.broker.name}} -
        {{item.broker.accountNumber}}
      </td>
    </tr>
    <tr>
      <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4"><b once-text="'Client'|translate"></b></td>
      <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4">{{item.client.name}} - {{item.client.accountNumber}}
      </td>
    </tr>
    <tr>
      <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><b once-text="'Side'|translate"></b></td>
      <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6">{{item.side}}</td>
    </tr>
    <tr>
      <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><b once-text="'Market ID'|translate"></b></td>
      <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6">{{item.marketID}}</td>
    </tr>
    <tr>
      <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><b once-text="'Filled Quantity'|translate"></b></td>
      <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6">{{item.filledQuantity}}</td>
    </tr>
    <tr>
      <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><b once-text="'Filled Amount'|translate"></b></td>
      <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6">{{item.filledAmount}}</td>
    </tr>
    </tbody>
  </table>

  <table class="table table-striped table-hover table-responsive table-bordered ">
    <thead>
    <th once-text="'ISIN'|translate"></th>
    <th once-text="'Issuer'|translate"></th>
    <th once-text="'Price'|translate"></th>
    <th once-text="'Quantity'|translate"></th>
    <th once-text="'Amount'|translate"></th>
    </thead>
    <tbody>
    <tr>
      <td>{{item.instrument.ISIN}}</td>
      <td>{{item.instrument.issuerName}}</td>
      <td>{{item.price}}</td>
      <td>{{item.quantity}}</td>
      <td>{{item.amount}}</td>

    </tr>
    </tbody>
  </table>
</div>
