<div class="add-new-whitelistItem">
  <div class="add-new-whitelistItem-buttons">
    <md-button class="md-micro md-fab pull-right"
               aria-label="..."
               ng-click="_closeWindow(buffers.whitelistItem.whitelistItemManageWindow)"
               type="submit">
      <i class="glyphicon glyphicon-remove micro-glyphicon"></i>
      <md-tooltip md-direction="down">
        <span once-text="'Close'|translate"></span>
      </md-tooltip>
    </md-button>
    <md-button
      type="submit"
      ng-if="!buffers.whitelistItem.isReadOnlyView"
      aria-label="submit button"
      class="md-micro md-fab pull-right"
      ng-click="buffers.whitelistItem.isNewWhitelistItem?addWhitelistItem():updateWhitelistItem()">
      <i class="glyphicon glyphicon-ok micro-glyphicon"></i>
      <md-tooltip md-direction="down">
        {{config.labels.whitelistItemManageWindowTitle}}
      </md-tooltip>
    </md-button>
  </div>
  <div ng-show="!buffers.whitelistItem.isReadOnlyView"
       ng-form="buffers.whitelistItem.config.form.name"
       class="add-new-whitelistItem-window no-scroll" novalidate>
    <div class="forms legend-heading-style">
      <div class="form-group" ng-class="{ 'has-error':
                 (buffers.whitelistItem.config.form.name.$submitted || buffers.whitelistItem.config.form.name.start_date.$touched)
                 &&(buffers.whitelistItem.config.form.name.start_date.$invalid)  }">
        <label class="form-labels"><span class="required-sign">*</span><span
          once-text="'Start Date'|translate"></span>:</label>

        <div class="form-inputs">
          <input type="text"
                 class="datepicker-cst"
                 kendo-date-picker
                 name="start_date"
                 ng-model="buffers.whitelistItem.form.startDate"
                 k-ng-model="buffers.whitelistItem.form.startDateObj"
                 ng-required="true"
            >

          <div
            ng-show="buffers.whitelistItem.config.form.name.$submitted || buffers.whitelistItem.config.form.name.start_date.$touched">
            <p ng-show="buffers.whitelistItem.config.form.name.start_date.$error.required"
               class="help-block help-block-error">
              <span once-text="'This field is required'|translate"></span>
            </p>

            <p ng-show="buffers.whitelistItem.config.form.name.start_date.$error.csmKendoDate"
               class="help-block help-block-error">
              <span once-text="'Please enter a valid date!'|translate"></span>
            </p>
          </div>
        </div>
      </div>

    </div>
    <!--Start-->
    <div class="forms">
      <div class="form-group"
           ng-class="{ 'has-error':
                 (buffers.whitelistItem.config.form.name.$submitted || buffers.whitelistItem.config.form.name.finish_date.$touched)
                 &&(buffers.whitelistItem.config.form.name.finish_date.$invalid)  }">
        <label class="form-labels"><span class="required-sign">*</span><span
          once-text="'Finish Date'|translate"></span>:</label>

        <div class="form-inputs">
          <input type="text"
                 class="datepicker-cst inline-block"
                 kendo-date-picker
                 name="finish_date"
                 ng-model="buffers.whitelistItem.form.finishDate"
                 k-ng-model="buffers.whitelistItem.form.finishDateObj"
                 ng-required="true"
            >

          <div
            ng-show="buffers.whitelistItem.config.form.name.$submitted || buffers.whitelistItem.config.form.name.finish_date.$touched">
            <p ng-show="buffers.whitelistItem.config.form.name.finish_date.$error.required"
               class="help-block help-block-error">
              <span once-text="'This field is required'|translate"></span>
            </p>

            <p ng-show="buffers.whitelistItem.config.form.name.finish_date.$error.csmKendoDate"
               class="help-block help-block-error">
              <span once-text="'Please enter a valid date!'|translate"></span>
            </p>
          </div>
        </div>
      </div>
    </div>
    <!--Finish-->
    <div class="forms">
      <div class="form-group" ng-class="{ 'has-error':
                 (buffers.whitelistItem.config.form.name.$submitted || buffers.whitelistItem.config.form.name.side.$touched)
                 &&(buffers.whitelistItem.config.form.name.side.$invalid)  }">

        <label class="form-labels"><span class="required-sign">*</span>
          <span once-text="'Side'|translate"></span>:</label>

        <div class="form-inputs">
          <select
            name="side"
            ng-model="buffers.whitelistItem.form.side"
            ng-required="true"
            >
            <option value="">---</option>
            <option
              ng-repeat="cl in  metaData.sides"
              value="{{cl}}">
              {{cl}}
            </option>
          </select>

          <div
            ng-show="buffers.whitelistItem.config.form.name.$submitted || buffers.whitelistItem.config.form.name.side.$touched">
            <p ng-show="buffers.whitelistItem.config.form.name.side.$error.required"
               class="help-block help-block-error">
              <span once-text="'This field is required'|translate"></span>
            </p>
          </div>
        </div>
      </div>
    </div>
    <!--Side-->
    <div class="forms">
      <div class="form-group" ng-class="{ 'has-error':
                 (buffers.whitelistItem.config.form.name.$submitted || buffers.whitelistItem.config.form.name.market.$touched)
                 &&(buffers.whitelistItem.config.form.name.market.$invalid)  }">

        <label class="form-labels"><span class="required-sign">*</span>
          <span once-text="'Market ID'|translate"></span>:</label>

        <div class="form-inputs">
          <select
            name="market"
            ng-model="buffers.whitelistItem.form.marketID"
            ng-required="true"
            >
            <option value="">---</option>
            <option
              ng-repeat="cl in  metaData.markets"
              value="{{cl}}">
              {{cl}}
            </option>
          </select>

          <div
            ng-show="buffers.whitelistItem.config.form.name.$submitted || buffers.whitelistItem.config.form.name.market.$touched">
            <p ng-show="buffers.whitelistItem.config.form.name.market.$error.required"
               class="help-block help-block-error">
              <span once-text="'This field is required'|translate"></span>
            </p>
          </div>
        </div>
      </div>
    </div>
    <!--MarketID-->
    <div class="padding-left-22 forms">
      <table class="table table-striped table-bordered">
        <thead>
        <tr>
          <th>
            <strong class="required-sign">*</strong>
            <strong once-text="'Broker'|translate"></strong>
          </th>
          <th once-text="'Account Number'|translate"></th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td class="table-td-overflow">
            <span ng-if="!buffers.whitelistItem.form.broker.name">......</span>
            <span> {{buffers.whitelistItem.form.broker.name}}</span>
            <input
              type="hidden"
              name="broker"
              ng-required="true"
              ng-model="buffers.whitelistItem.form.broker.name">

            <div
              ng-class="{ 'has-error':buffers.whitelistItem.config.form.name.$submitted &&(buffers.whitelistItem.config.form.name.broker.$invalid)}"
              ng-show="buffers.whitelistItem.config.form.name.$submitted">
              <p ng-show="buffers.whitelistItem.config.form.name.broker.$error.required"
                 class="help-block help-block-error">
                <span once-text="'You have to select  broker!'|translate"></span>
              </p>
            </div>

          </td>
          <td>
            <span ng-if="!buffers.whitelistItem.form.broker.accountNumber">......</span>
            <span> {{buffers.whitelistItem.form.broker.accountNumber}}</span>
          </td>
          <td>
            <md-button class="md-fab md-micro"
                       aria-label="Mini FAB"
                       ng-click="findBroker(buffers.whitelistItem.form)">
              <i class="glyphicon glyphicon-search micro-glyphicon"></i>
              <md-tooltip>
                <span once-text="'Find Broker'|translate"></span>
              </md-tooltip>

            </md-button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <!--Broker-->
    <div class="padding-left-22 forms">

      <table class="table table-striped table-bordered">
        <thead>
        <tr>
          <th>
            <strong class="required-sign">*</strong>
            <strong once-text="'Client'|translate"></strong>
          </th>
          <th once-text="'Account Number'|translate"></th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td class="table-td-overflow">
            <span ng-if="!buffers.whitelistItem.form.client.name">......</span>
            <span> {{buffers.whitelistItem.form.client.name}}</span>
            <input
              type="hidden"
              name="client"
              ng-required="true"
              ng-model="buffers.whitelistItem.form.client.name">

            <div
              ng-class="{ 'has-error':buffers.whitelistItem.config.form.name.$submitted &&(buffers.whitelistItem.config.form.name.client.$invalid)}"
              ng-show="buffers.whitelistItem.config.form.name.$submitted">
              <p ng-show="buffers.whitelistItem.config.form.name.client.$error.required"
                 class="help-block help-block-error">
                <span once-text="'You have to select client!'|translate"></span>
              </p>
            </div>

          </td>
          <td>
            <span ng-if="!buffers.whitelistItem.form.client.accountNumber">......</span>
            <span> {{buffers.whitelistItem.form.client.accountNumber}}</span>
          </td>
          <td>
            <md-button class="md-fab md-micro"
                       ng-disabled="!buffers.whitelistItem.form.broker.name"
                       aria-label="Mini FAB"
                       ng-click="findClient(buffers.whitelistItem.form)">
              <i class="glyphicon glyphicon-search micro-glyphicon"></i>
              <md-tooltip>
                <span once-text="'Find Client'|translate"></span>
              </md-tooltip>

            </md-button>
          </td>
        </tr>
        </tbody>
      </table>

    </div>
    <!--Client-->
    <div class="padding-left-22 forms">
      <table class="table table-striped table-bordered">
        <thead>
        <tr>
          <th><span class="required-sign">*</span> <span once-text="'ISIN'|translate"></span></th>
          <th><span class="required-sign">*</span> <span once-text="'Price'|translate"></span></th>
          <th once-text="'Quantity'|translate"></th>
          <th once-text="'Amount'|translate"></th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td class="table-td-overflow">
            <span ng-if="!buffers.whitelistItem.form.instrument.ISIN">......</span>
            <span> {{buffers.whitelistItem.form.instrument.ISIN}}</span>
            <md-button

              class="md-fab md-micro"
              aria-label="Mini FAB"
              ng-click="findInstrument(buffers.whitelistItem.form)">
              <i class="glyphicon glyphicon-search micro-glyphicon"></i>
              <md-tooltip>
                <span once-text="'Find Instrument'|translate"></span>
              </md-tooltip>

            </md-button>
            <input type="hidden" name="ISIN" ng-required="true" ng-model="buffers.whitelistItem.form.instrument.ISIN">

            <div
              class="has-error"
              ng-show="buffers.whitelistItem.config.form.name.$submitted ">
              <p ng-show="buffers.whitelistItem.config.form.name['ISIN'].$error.required"
                 class="help-block help-block-error">
                <span once-text="'You have to select instrument!'|translate"></span>
              </p>
            </div>
          </td>
          <!--ISIN-->
          <td class="input-width">
            <input type="number" min="0" class="k-textbox"
                   ng-model="buffers.whitelistItem.form.price"
                   name="instrument_price"
                   ng-required="true">

            <div class="has-error"
                 ng-show="buffers.whitelistItem.config.form.name.$submitted || buffers.whitelistItem.config.form.name['instrument_price'].$touched ">
              <p ng-show="buffers.whitelistItem.config.form.name['instrument_price'].$error.required"
                 class="help-block help-block-error">
                <span once-text="'This field is required'|translate"></span>
              </p>

              <p ng-show="buffers.whitelistItem.config.form.name['instrument_price'].$error.min"
                 class="help-block help-block-error">
                <span once-text="'Wrong Number!'|translate"></span>
              </p>
            </div>
          </td>
          <!--Price-->
          <td class="input-width">
            <input type="number" min="1" class="k-textbox"
                   ng-model="buffers.whitelistItem.form.quantity"
                   name="instrument_quantity"
                   ng-required="!buffers.whitelistItem.form.amount">

            <div class="has-error"
                 ng-show="buffers.whitelistItem.config.form.name.$submitted || buffers.whitelistItem.config.form.name['instrument_quantity'].$touched">
              <p ng-show="buffers.whitelistItem.config.form.name['instrument_quantity'].$error.required"
                 class="help-block help-block-error">
                <span once-text="'This field is required'|translate"></span>
              </p>

              <p ng-show="buffers.whitelistItem.config.form.name['instrument_quantity'].$error.min"
                 class="help-block help-block-error">
                <span once-text="'Wrong Number!'|translate"></span>
              </p>
            </div>
          </td>
          <!--Qty-->
          <td class="input-width">
            <input type="number" min="0" class="k-textbox"
                   ng-model="buffers.whitelistItem.form.amount"
                   name="instrument_amount"
                   ng-required="!buffers.whitelistItem.form.quantity">

            <div class="has-error"
                 ng-show="buffers.whitelistItem.config.form.name.$submitted || buffers.whitelistItem.config.form.name['instrument_amount'].$touched ">
              <p ng-show="buffers.whitelistItem.config.form.name['instrument_amount'].$error.required"
                 class="help-block help-block-error">
                <span once-text="'This field is required'|translate"></span>
              </p>

              <p ng-show="buffers.whitelistItem.config.form.name['instrument_amount'].$error.min"
                 class="help-block help-block-error">
                <span once-text="'Wrong Number!'|translate"></span>
              </p>
            </div>
          </td>
          <!--Amount-->
        </tr>
        </tbody>
      </table>
    </div>
    <!--Instrument-->
  </div>
  <div ng-show="buffers.whitelistItem.isReadOnlyView" ng-repeat="item in [buffers.whitelistItem.form]">
    <div ng-include="'app/configurations/templates/partials/order-whitelist-item-details.html'"></div>
  </div>
</div>
