<div class="org-node-add-window-buttons">
  <md-button class="md-micro md-fab pull-right"
             aria-label="add bank account button"
             ng-click="_closeWindow(config.orgNodeAddWindow)"
             type="submit">
    <i class="glyphicon glyphicon-remove micro-glyphicon"></i>
    <md-tooltip md-direction="down">
      <span once-text="'Close'|translate"></span>
    </md-tooltip>
  </md-button>
  <md-button
    type="submit"
    aria-label="submit button"
    ng-disabled="!config.orgNodeFormName.$valid"
    class="md-micro md-fab pull-right"
    ng-click="buffers.orgNode.isUpdate ?updateOrgNode(config.orgNodeFormName):addNewOrgNode(config.orgNodeFormName)">
    <i ng-if="buffers.orgNode.isUpdate" class="glyphicon glyphicon-ok micro-glyphicon"></i>
    <i ng-if="!buffers.orgNode.isUpdate" class="glyphicon glyphicon-ok micro-glyphicon"></i>
    <md-tooltip md-direction="down">
      <span ng-if="buffers.orgNode.isUpdate"><span once-text="'Update'|translate"></span></span>
      <span ng-if="!buffers.orgNode.isUpdate"><span once-text="'Add New'|translate"></span></span>
    </md-tooltip>
  </md-button>
</div>
<div ng-form="config.orgNodeFormName" class="padding20 no-scroll form-horizontal" novalidate>
  <div class="row" ng-if="!buffers.orgNode.form.hasChildren && !buffers.orgNode.isUpdate" style="padding-right: 27px;





  ">
      <div class="form-group">
        <label class="font-size-12 control-label col-lg-3 col-md-3 col-sm-3 col-xs-3 padding-left-22">
          <span  class="required-sign">*</span>
          <span once-text="'Organizational Node Class'|translate"></span>:
        </label>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 org-node-add-window-input-style">
          <select
            name="org_node_class"
            ng-model="buffers.orgNode.form.orgNodeClass"
            ng-change="orgNodeClassChange(buffers.orgNode.form.orgNodeClass)"
            ng-required="true">
            <option value="">---</option>
            <option ng-repeat="orgNode in buffers.orgNode.metaData.orgNodeClasses" value="{{orgNode|json}}">
              {{orgNode['name'+lnC]}}
            </option>
          </select>
        </div>
      </div>
    </div>

  <!--Type-->

  <div  ng-if="buffers.orgNode.isPosition">
        <div class="row">
          <div class="form-group">
            <label class="font-size-12 control-label col-lg-3 col-md-3 col-sm-3 col-xs-3">
              <span class="required-sign">*</span>
              <span once-text="'Position Class'|translate"></span>:
            </label>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 org-node-add-window-input-style">
              <select
                name="position_class"
                ng-model="buffers.orgNode.form.positionClass"
                ng-required="true"
                >
                <option value="">---</option>
                <option
                  ng-repeat="position in metaData.positionClasses"
                  value="{{position|json}}"
                  >{{position['name'+lnC]}}
                </option>
              </select>
            </div>
          </div>
        </div>
    </div>
  <!--Type-->

  <div ng-if="!buffers.orgNode.isPosition">
    <div class="row">
        <div class="form-group">

          <label class="font-size-12 control-label col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <span class="required-sign">*</span>
            <span once-text="'Name (AZ)'|translate"></span>:</label>
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 org-node-add-window-input-style position-relative">
            <input
              class="k-textbox"
              type="text"
              name="name_az"
              ng-model="buffers.orgNode.form.name.nameAz"
              ng-required="true"
              >
          </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group">
          <label class="font-size-12 control-label col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <span class="required-sign">*</span>
            <span once-text="'Name (EN)'|translate"></span>:</label>
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 org-node-add-window-input-style">
            <input
              class="k-textbox"
              type="text"
              name="name_en"
              ng-model="buffers.orgNode.form.name.nameEn"
              ng-required="true"
              >
          </div>
        </div>
      </div>
  </div>
  <!--Name-->

  <div ng-if="!buffers.orgNode.isPosition">
    <div class="row">
        <div class="form-group">
          <label class="font-size-12 control-label col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <span class="required-sign">*</span>
            <span once-text="'Abbreviation (AZ)'|translate"></span>:
          </label>
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 org-node-add-window-input-style">
            <input
              class="k-textbox"
              type="text"
              name="abbr_az"
              required="true"
              ng-model="buffers.orgNode.form.abbreviation.nameAz"
              >
          </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group">
          <label class="font-size-12 control-label col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <span class="required-sign">*</span>
            <span once-text="'Abbreviation (EN)'|translate"></span>:
          </label>

          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 org-node-add-window-input-style">
            <input
              class="k-textbox"
              type="text"
              name="name_en"
              required="true"
              ng-model="buffers.orgNode.form.abbreviation.nameEn"
              >
          </div>
        </div>
      </div>
  </div>
  <!--Abbreviation-->

  <!-- Submit button-->


</div>

