<div class="k-edit-form-container ">
  <div class="org-node-selection-buttons">
    <md-button class="md-micro md-fab pull-right"
               aria-label="add bank account button"
               type="submit"
               ng-click="_closeWindow(buffers.orgNodeSelection.window)" >
      <i class="glyphicon glyphicon-remove micro-glyphicon"></i>
    </md-button>
    <md-button ng-disabled="!buffers.orgNodeSelection.selectedDataItem"
               aria-label="submit button"
               class="md-micro md-fab pull-right"
               ng-click="selectOrgNode()">
      <i class="glyphicon glyphicon-ok micro-glyphicon"></i>
    </md-button>
  </div>


  <div class="org-node-selection-tree">
      <div class="form-group">
        <div kendo-tree-view="config.orgNodeStructureTree"
             k-data-source="orgNodeStructureTree"
             k-on-change="orgNodeSelected(dataItem)"
          >
          <div k-template>

            <strong class="tree-label pull-left">
               <span ng-if="dataItem.orgNodeClass.code === 'ORGNODE_CONTEXT' " class="glyphicon glyphicon-home">
                 <md-tooltip md-direction="top">
                   <span once-text="'Context'|translate"></span>
                 </md-tooltip>
               </span>
              <span ng-if="dataItem.orgNodeClass.code === 'ORGNODE_POSITION' " class="glyphicon glyphicon-briefcase">
                 <md-tooltip md-direction="top">
                   <span once-text="'Position'|translate"></span>
                 </md-tooltip>
               </span>
              <span ng-if="dataItem.orgNodeClass.code === 'ORGNODE_GROUP' " class="icon icon-groups">
                <md-tooltip md-direction="top">
                  <span once-text="'Group'|translate"></span>
                </md-tooltip>
              </span>

              <span ng-if="dataItem.orgNodeClass.code === 'ORGNODE_UNIT' " class="icon icon-unit">
                <md-tooltip md-direction="top">
                  <span once-text="'Unit'|translate">unit</span>
                </md-tooltip>
              </span>

              <span ng-if="dataItem.orgNodeClass.code === 'ORGNODE_PERSON' "
                    class="glyphicon glyphicon-user">
                 <md-tooltip md-direction="top">
                   <span once-text="'Person'|translate"></span>
                 </md-tooltip>
               </span>

              {{dataItem.name.nameAz}}
            </strong>

          </div>

        </div>
      </div>

  </div>


</div>
