<h4> {{buff.subjectClass['name'+lnC]}}
  <span ng-if="buff.operationTypeCode ==metaData.operationTypeClasses.OPERATION_TYPE_INSERT.code"
        once-text="'Inserts'|translate"></span>
  <span ng-if="buff.operationTypeCode ==metaData.operationTypeClasses.OPERATION_TYPE_UPDATE.code"
        once-text="'Updates'|translate"></span>
  {{buff.configurationData.objectClass['name'+lnC]}}

</h4>
<md-content flex layout-fill>

  <ul class="tree-view-list">

    <li ng-repeat="field in buff.configurationData.personConfigData.childs"
        ng-include="'app/configurations/templates/partials/configuration-field-renderer.html'"></li>
  </ul>

</md-content>
