<div class="div-full-height padding20">
  <div class="alert alert-info">
    <strong class="glyphicon glyphicon-info-sign"></strong>
    <span
      once-text="'Your changes will be saved as you working. You can close dialog window after you done with changes.'|translate"></span>
  </div>

  <div class="alert alert-danger" ng-show="buffers.processAuthorization.data.hasError">
    <strong once-text="'Validation Error!'|translate"></strong> <span
    once-text="'Please check workflows!'|translate"></span>
  </div>

  <md-tabs flex layout="column" class="div-full-height min-height-500 md-tabs-bordered">

    <md-tab flex layout="column" layout-fill label="{{config.labels.overallOperationAuth}}">

      <md-tab-content flex layout-fill class="padding10 border-box">

        <div class="form-group">
          <table class="table border bordered">
            <thead>
            <tr>
              <th class="sortable-column " once-text="'Process Controllers'|translate"></th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="processController in buffers.processAuthorization.data.processControllers ">
              <td once-text="processController.fullName"></td>
              <td>
                <div class="center-align">

                  <md-button class="md-micro md-fab" aria-label="edit button"
                             ng-click="removeProcessController($index)">
                    <span class="micro-glyphicon glyphicon glyphicon-remove"></span>
                    <md-tooltip><span once-text="'Delete'|translate"></span></md-tooltip>
                  </md-button>
                </div>
              </td>
            </tr>
            </tbody>
          </table>

          <md-button class="md-micro md-fab" aria-label="edit button"
                     ng-click="showOrgNodeSelectionWindow(buffers.processAuthorization.data.processControllers)">
            <span class="micro-glyphicon glyphicon glyphicon-plus"></span>
            <md-tooltip><span once-text="'Add New Controller'|translate"></span></md-tooltip>
          </md-button>

        </div>

      </md-tab-content>

    </md-tab>

    <md-tab label="{{config.labels.workflowAuth}}" layout-fill>
      <md-tab-content flex layout-fill>
        <table class="table border bordered ">
          <thead>
          <tr>
            <th class="sortable-column " once-text="'Workflows'|translate"></th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="wf in  buffers.processAuthorization.data.groupAuthorizations">
            <td>
              <div ng-class="wf.hasError?'has-error':''">
                <p once-text="wf.groupKey"></p>

                <p>
                  <b class="has-error" ng-show="wf.hasError" once-text="'Invalid configuration!'|translate"></b></p>
              </div>

            </td>
            <td>
              <div class="center-align">

                <md-button class="md-micro md-fab" aria-label="edit button"
                           ng-click="showWfAuthorizationForm($index)">
                  <span class="micro-glyphicon glyphicon glyphicon-edit"></span>
                  <md-tooltip><span once-text="'Edit'|translate"></span></md-tooltip>
                </md-button>
                <md-button class="md-micro md-fab" aria-label="remove button"
                           ng-click="deleteWfAuthorization($index)">
                  <span class="micro-glyphicon glyphicon glyphicon-remove"></span>
                  <md-tooltip><span once-text="'Delete'|translate"></span></md-tooltip>
                </md-button>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
        <md-button class="md-micro md-fab" aria-label="add button"
                   ng-click="addNewWfAuthorization()">
          <span class="micro-glyphicon glyphicon glyphicon-plus"></span>
          <md-tooltip><span once-text="'Add New Workflow'|translate"></span></md-tooltip>
        </md-button>
        <div kendo-window="buffers.wfAuthorization.window"
             k-modal="true"
             k-width="'90%'"
             k-height="'90%'"
             k-visible="false"
             k-on-close="resetWfAuthorizationBuffer()">
          <div class="div-full-height" ng-include="'app/configurations/templates/partials/wf-authorization.html'"></div>

        </div>
      </md-tab-content>
    </md-tab>

  </md-tabs>
</div>
