<div class="div-full-height padding20">
  <h3 once-text="'Signers'|translate" class="text-center"></h3>
  <div>
    <table class="table border bordered">
      <thead>
      <tr>
        <th class="sortable-column" once-text="'Name'|translate"></th>
        <th class="sortable-column" once-text="'Position'|translate"></th>
        <th class="sortable-column" once-text="'Is Default'|translate"></th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="signer in operationParam.signers">
      <td>
        <input type="text"
               class="k-textbox"
               name="signer_name"
               ng-required="true"
               ng-readonly="readonly"
               ng-model="signer.name">
      </td>
      <td>
        <input type="text"
               class="k-textbox"
               name="signer_position"
               ng-required="true"
               ng-readonly="readonly"
               ng-model="signer.position">
      </td>
      <td>
          <md-checkbox aria-label="is_default"
                       ng-disabled="readonly"
                       ng-change="isDefaultChange(signer,operationParam.signers)"
                       ng-model="signer.isDefault">
          </md-checkbox>
      </td>
      <td>
        <md-button class="md-fab md-micro"
                   aria-label="remove button"
                   ng-show="$index>0&&!readonly"
                   ng-click="removeSigner($index,signers)">
          <i class="glyphicon glyphicon-trash micro-glyphicon"></i>
          <md-tooltip md-direction="down">
            <span once-text="'Remove Signer'|translate"></span>
          </md-tooltip>
        </md-button>
      </td>
      </tr>
      </tbody>
    </table>
    <md-button class="md-micro md-fab"
               aria-label="add button"
               ng-show="!readonly"
               ng-click="addNewSigner()">
      <span class="micro-glyphicon glyphicon glyphicon-plus"></span>
      <md-tooltip><span once-text="'Add New Signer'|translate"></span></md-tooltip>
    </md-button>
  </div>
  <div>

  </div>
  <div ng-show="operationKey != 'issue-holding-report'">
    <h3 once-text="'Operators'|translate" class="text-center"></h3>
    <table class="table border bordered">
      <thead>
      <tr>
        <th class="sortable-column" once-text="'Name'|translate"></th>
        <th class="sortable-column" once-text="'Position'|translate"></th>
        <th class="sortable-column" once-text="'Is Default'|translate"></th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="operator in operationParam.operators">
        <td>
          <input type="text"
                 class="k-textbox"
                 name="operator_name"
                 ng-required="true"
                 ng-readonly="readonly"
                 ng-model="operator.name">
        </td>
        <td>
          <input type="text"
                 class="k-textbox"
                 name="operator_position"
                 ng-required="true"
                 ng-readonly="readonly"
                 ng-model="operator.position">
        </td>
        <td>
          <md-checkbox aria-label="is_default"
                       ng-disabled="readonly"
                       id="operator.isDefault"
                       ng-model="operator.isDefault"></md-checkbox>

        </td>
        <td>
          <md-button class="md-fab md-micro"
                     aria-label="remove button"
                     ng-show="$index>0&&!readonly"
                     ng-click="removeOperator($index,data.form.phoneNumbers)">
            <i class="glyphicon glyphicon-trash micro-glyphicon"></i>
            <md-tooltip md-direction="down">
              <span once-text="'Remove Operator'|translate"></span>
            </md-tooltip>
          </md-button>
        </td>
      </tr>
      </tbody>
    </table>
    <md-button class="md-fab md-micro"
               aria-label="plus button"
               ng-show="!readonly"
               ng-click="addNewOperator()">
      <i class="glyphicon glyphicon-plus micro-glyphicon"></i>
      <md-tooltip md-direction="down">
        <span once-text="'Add New Operator'|translate"></span>
      </md-tooltip>
    </md-button>
  </div>
</div>
