<div class="add-new-user">
  <div class="add-new-user-buttons">
    <md-button class="md-micro md-fab pull-right"
               aria-label="add bank account button"
               ng-click="_closeWindow(buffers.user.userManageWindow)"
               type="submit">
      <i class="glyphicon glyphicon-remove micro-glyphicon"></i>
      <md-tooltip md-direction="down">
        <span once-text="'Close'|translate"></span>
      </md-tooltip>
    </md-button>
    <md-button
      type="submit"
      aria-label="submit button"
      ng-disabled="buffers.user.config.formName.$invalid || buffers.user.config.formName.$pending"
      class="md-micro md-fab pull-right"
      ng-click="buffers.user.isNewUser?addUser():updateUser()">
      <i class="glyphicon glyphicon-ok micro-glyphicon"></i>
      <md-tooltip md-direction="down">
        {{config.labels.userManageWindowTitle}}
      </md-tooltip>
    </md-button>
  </div>
  <div ng-form="buffers.user.config.form.name" class="add-new-user-window no-scroll" novalidate>

      <div class="row form-horizontal">
          <div class="form-group">
              <label class="no-padding control-label col-lg-3 col-md-3 col-sm-3 col-xs-3">
                  <span class="required-sign" ng-if="buffers.user.form.strongAuthRequired">*</span>
                  <span once-text="'Email'|translate"></span>:
              </label>

              <style>
                  span.k-combobox {
                      width: 100%;
                  }
              </style>

              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                  <input
                          kendo-combo-box
                          k-data-source="buffers.user.emails"
                          type="email"
                          name="b_email"
                          ng-model="buffers.user.form.email"
                          ng-required="buffers.user.form.strongAuthRequired"
                          >

                  <div ng-show="buffers.user.config.form.name.$submitted || buffers.user.config.form.name.b_email.$touched">

                      <p ng-show="buffers.user.config.form.name.b_email.$error.required"
                         class="help-block help-block-error">
                          <span once-text="'This field is required'|translate"></span>
                      </p>

                      <p ng-show="buffers.user.config.form.name.b_email.$error.email"
                         class="help-block help-block-error">
                          <span once-text="'Wrong Email Format!'|translate"></span>
                      </p>

                  </div>

              </div>

          </div>
      </div>

      <div class="row form-horizontal">
          <div class="form-group">
              <label class="no-padding control-label col-lg-3 col-md-3 col-sm-3 col-xs-3">
                  <span class="required-sign" ng-if="buffers.user.form.strongAuthRequired">*</span>
                  <span once-text="'Pin code'|translate"></span>:
              </label>

              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                  <input
                          class="k-textbox"
                          type="text"
                          name="b_pinCode"
                          ng-model="buffers.user.form.pinCode"
                          ng-required="buffers.user.form.strongAuthRequired"
                          minlength="7"
                          maxlength="7"
                          >
                  <div ng-show="buffers.user.config.form.name.$submitted || buffers.user.config.form.name.b_pinCode.$touched">
                      <p ng-show="buffers.user.config.form.name.b_pinCode.$error.required"
                         class="help-block help-block-error">
                          <span once-text="'This field is required'|translate"></span>
                      </p>
                      <p ng-show="buffers.user.config.form.name.b_pinCode.$error.minlength"
                         class="help-block help-block-error">
                          <span once-text="'7 simvol tələb edilir'"></span>
                      </p>
                      <p ng-show="buffers.user.config.form.name.b_pinCode.$error.maxlength"
                         class="help-block help-block-error">
                          <span once-text="'7 simvol tələb edilir'"></span>
                      </p>
                  </div>
              </div>

          </div>
      </div>

   <div class="row form-horizontal">
     <div class="form-group">
       <label class="no-padding control-label col-lg-3 col-md-3 col-sm-3 col-xs-3">
         <span class="required-sign">*</span>
         <span once-text="'Username'|translate"></span>:
       </label>

       <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
         <input
           class="k-textbox"
           ng-disabled="buffers.user.form.userID"
           type="text"
           name="b_username"
           ng-model="buffers.user.form.username"
           ng-required="true"
           >
       </div>

     </div>
   </div>

   <div class="row form-horizontal">
     <div class="form-group" ng-if="buffers.user.isNewUser">

       <label class="no-padding control-label col-lg-3 col-md-3 col-sm-3 col-xs-3">
         <span class="required-sign">*</span>
         <span once-text="'Password'|translate"></span>:</label>
       <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
         <input
           class="k-textbox"
           type="b_password"
           name="b_password"
           ng-model="buffers.user.form.password"
           ng-required="true"
           >
       </div>
     </div>
   </div>

    <div class="form-group row form-horizontal">
      <label class="no-padding control-label col-lg-3 col-md-3 col-sm-3 col-xs-3">
        <span class="md-checkbox-label small-check" once-text="'Strong Authentication Required'|translate"></span>:</label>
      <label class="add-new-user-switch-style">
        <md-switch name="strong-auth-required"
                   ng-model="buffers.user.form.strongAuthRequired"
                   aria-label="Switch 1"
                   class="md-cst-checkbox">
        </md-switch>
      </label>
    </div>

    <div class="form-group row form-horizontal">

      <label class="no-padding control-label col-lg-3 col-md-3 col-sm-3 col-xs-3">
        <span class="md-checkbox-label small-check" once-text="'Is Suspended'|translate"></span>:</label>
      <label class="add-new-user-switch-style">
        <md-switch name="suspended"
                   ng-model="buffers.user.form.suspended"
                   aria-label="Switch 1"
                   class="md-cst-checkbox">
        </md-switch>
      </label>

    </div>


  </div>

</div>
