<div class="div-full-height padding20">
  <div class="alert alert-info">
    <strong class="glyphicon glyphicon-info-sign"></strong>
    <span
      once-text="'Your changes will be saved as you working. You can close dialog window after you done with changes.'|translate"></span>
  </div>

  <md-tabs flex layout="column" class="div-full-height min-height-500 md-tabs-bordered">

    <md-tab flex layout="column" layout-fill label="{{config.labels.generalConfiguration}}">
      <md-tab-content flex layout-fill class="padding20 border-box">

        <div class="form-group">
          <table class="table border bordered">
            <thead>
            <tr>
              <th class="sortable-column " once-text="'Operators'|translate"></th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="operator in buffers.viewAuthorization.data.operators ">
              <td once-text="operator.fullName"></td>
              <td>
                <div class="center-align">

                  <md-button class="md-micro md-fab" aria-label="edit button"
                             ng-click="removeViewController($index)">
                    <span class="micro-glyphicon glyphicon glyphicon-remove"></span>
                    <md-tooltip><span once-text="'Delete'|translate"></span></md-tooltip>
                  </md-button>
                </div>
              </td>
            </tr>
            </tbody>
          </table>

          <md-button class="md-micro md-fab" aria-label="edit button"
                     ng-click="showOrgNodeSelectionWindow(buffers.viewAuthorization.data.operators)">
            <span class="micro-glyphicon glyphicon glyphicon-plus"></span>
            <md-tooltip><span once-text="'Add New Operator'|translate"></span></md-tooltip>
          </md-button>
        </div>
      </md-tab-content>
    </md-tab>
  </md-tabs>
</div>
