<div class="div-full-height padding20 wf-auth-page">
  <div class="alert alert-info">
    <strong class="glyphicon glyphicon-info-sign"></strong>
    <span
      once-text="'Your changes will be saved as you working. You can close dialog window after you done with changes.'|translate"></span>
  </div>


  <div  class="alert alert-danger" ng-show="buffers.wfAuthorization.data.hasNoProcessStarter">
    <strong once-text="'Validation Error!'|translate"></strong> <span
    once-text="'You have to add at least one process starter!'|translate"></span>
  </div>
  <div ng-repeat="taskData in  buffers.wfAuthorization.data.taskAuthorizations" ng-show="taskData.hasError" class="alert alert-danger" ng-show="buffers.wfAuthorization.data.hasNoProcessStarter">
    <strong once-text="'Validation Error!'|translate"></strong>
    <span once-text="'You have to add at least one operator for task!'|translate"></span> - {{taskData.name.nameAz}}<span></span>
  </div>
  <md-tabs flex layout="column" class="div-full-height min-height-500 md-tabs-bordered">

    <md-tab flex layout="column" layout-fill label="{{config.labels.workflow}}">
      <md-tab-content flex layout-fill class="padding10 border-box">
        <div class="form-group ">

          <label><span class="md-checkbox-label small-check"
                       once-text="'Is Double Entry Enabled'|translate"></span>:</label>
          <label class="wf-authorization-switch input-control">
            <md-switch
              ng-model="buffers.wfAuthorization.data.isDoubleEntryEnabled"
              aria-label="Switch 1"
              class=" md-cst-checkbox">
            </md-switch>
          </label>
        </div>
        <div class="form-group "  ng-if="buffers.processAuthorization.data.isApproveVisible">

          <label><span class="md-checkbox-label small-check"
                       once-text="'Is Approval Enabled'|translate"></span>:</label>
          <label class="input-control wf-authorization-switch">
            <md-switch
			 
              ng-model="buffers.wfAuthorization.data.isApproveEnabled"
              aria-label="Switch 1"
              class=" md-cst-checkbox">
            </md-switch>
          </label>
        </div>
        <div class="form-group ">

          <label><span class="md-checkbox-label small-check"
                       once-text="'Is Visa Enabled'|translate"></span>:</label>
          <label class="input-control wf-authorization-switch">
            <md-switch name="strong-auth-required"

                       ng-model="buffers.wfAuthorization.data.isVisaEnabled"
                       aria-label="Switch 1"
                       class=" md-cst-checkbox">
            </md-switch>
          </label>
        </div>
      </md-tab-content>
    </md-tab>
    <!--OVerall Workflow-->

    <md-tab flex layout="column" layout-fill label="{{config.labels.operators}}">

      <md-tab-content flex layout-fill class="padding20 border-box">
        <md-tabs flex layout="column" class="div-full-height min-height-500 md-tabs-bordered md-sub-tab">
          <md-tab ng-repeat="task in  buffers.wfAuthorization.data.taskAuthorizations"
                  ng-disabled="(task.taskType == metaData.taskTypes.APPROVAL_TASK_CLASS.code && !buffers.wfAuthorization.data.isApproveEnabled)
                  || (task.taskType == metaData.taskTypes.VISA_TASK_CLASS.code && !buffers.wfAuthorization.data.isVisaEnabled)"

                  flex layout="column"
                  layout-fill
                  label="{{task.name.nameAz}}">
            <md-tab-content flex layout-fill class="padding20 border-box">
              <div class="form-group">
                <table class="table border bordered">
                  <thead>
                  <tr>
                    <th class="sortable-column " once-text="'Operators'|translate"></th>
                    <th></th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr ng-repeat="tController in task.taskOperators ">
                    <td>{{tController.fullName}}</td>
                    <td>
                      <div class="center-align">

                        <md-button class="md-micro md-fab" aria-label="edit button"
                                   ng-click="removeTaskController(task.taskOperators,$index)">
                          <span class="micro-glyphicon glyphicon glyphicon-remove"></span>
                          <md-tooltip><span once-text="'Delete'|translate"></span></md-tooltip>
                        </md-button>
                      </div>
                    </td>
                  </tr>
                  </tbody>
                </table>

                <md-button class="md-micro md-fab" aria-label="edit button"
                           ng-click="showOrgNodeSelectionWindow( task.taskOperators)">
                  <span class="micro-glyphicon glyphicon glyphicon-plus"></span>
                  <md-tooltip><span once-text="'Add New Controller'|translate"></span></md-tooltip>
                </md-button>
              </div>
            </md-tab-content>
          </md-tab>
        </md-tabs>
        <!--Tasks-->
      </md-tab-content>
    </md-tab>
    <!-- Operators-->
  </md-tabs>
</div>
