<div class="view-buttons-wrapper">
  <div class="pull-right view-button-group">
    <md-button class="md-micro md-fab pull-right"
               ng-click="_closeWindow(config.accountStatementWindow)"
               aria-label="add bank account button"
               type="submit">
      <i class="glyphicon glyphicon-remove micro-glyphicon"></i>
      <md-tooltip md-direction="down">
        <span once-text="'Close'|translate"></span>
      </md-tooltip>
    </md-button>
    <md-button class="md-micro md-fab pull-right"

               ng-click="selectShares()"
               type="submit">

      <i class="glyphicon glyphicon-ok micro-glyphicon"></i>
      <md-tooltip md-direction="down">
        {{config.bankAccountManageWindowTitle}}
      </md-tooltip>
    </md-button>
  </div>
</div>

<div class="person-find-result-block">
  <div
    kendo-grid="config.balanceGrid"
    k-scrollable="true"
    k-sortable="true"
    k-data-source="config.balanceGrid.options.dataSource"
    k-columns="config.balanceGrid.options.columns"
    k-data-bound="config.balanceGrid.options.dataBound"
    k-resizable="true"
    k-pageable='{ "pageSize": 20, "refresh": false, "pageSizes": true, "buttonCount": 5 }'
    >
  </div>
</div>
