<div class="window-extend-block" data-extend-template="app/common/templates/view-window-layout.html">
    <div class="div-full-height" data-block="content" ng-include="'app/globus/templates/partials/globus-transactions-search-template.html'">
    </div>
</div>
