<div class="div-full-height padding20">
  <md-tabs flex layout="column" class="div-full-height min-height-500 md-tabs-bordered">

    <md-tab flex layout="column" layout-fill label="{{config.labels.generalConfiguration}}">
      <md-tab-content flex layout-fill class="padding20 border-box">

        <div class="form-group">
          <table class="table border bordered">
            <thead>
            <tr>
              <th class="sortable-column " once-text="'Operators'|translate"></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="operator in buffers.dashboardAuthorization.data.operators ">
              <td once-text="operator.fullName"></td>
            </tr>
            </tbody>
          </table>

        </div>
      </md-tab-content>
    </md-tab>


  </md-tabs>
</div>
