<div class="div-full-height padding20 wf-auth-page">


  <md-tabs flex layout="column" class="div-full-height min-height-500 md-tabs-bordered">

    <md-tab flex layout="column" layout-fill label="{{config.labels.workflow}}">
      <md-tab-content flex layout-fill class="padding10 border-box">
        <div class="form-group ">

          <label><span class="md-checkbox-label small-check"
                       once-text="'Is Double Entry Enabled'|translate"></span>:</label>
          <label class="wf-authorization-switch input-control">
            <md-switch
              ng-model="buffers.wfAuthorization.data.isDoubleEntryEnabled"
              aria-label="Switch 1"
              class=" md-cst-checkbox">
            </md-switch>
          </label>
        </div>
        <div class="form-group "  ng-if="buffers.processAuthorization.data.isApproveVisible">

          <label><span class="md-checkbox-label small-check"
                       once-text="'Is Approval Enabled'|translate"></span>:</label>
          <label class="input-control wf-authorization-switch">
            <md-switch

              ng-model="buffers.wfAuthorization.data.isApproveEnabled"
              aria-label="Switch 1"
              class=" md-cst-checkbox">
            </md-switch>
          </label>
        </div>
        <div class="form-group ">

          <label><span class="md-checkbox-label small-check"
                       once-text="'Is Visa Enabled'|translate"></span>:</label>
          <label class="input-control wf-authorization-switch">
            <md-switch name="strong-auth-required"

                       ng-model="buffers.wfAuthorization.data.isVisaEnabled"
                       aria-label="Switch 1"
                       class=" md-cst-checkbox">
            </md-switch>
          </label>
        </div>
      </md-tab-content>
    </md-tab>
    <!--OVerall Workflow-->

    <md-tab flex layout="column" layout-fill label="{{config.labels.operators}}">

      <md-tab-content flex layout-fill class="padding20 border-box">
        <md-tabs flex layout="column" class="div-full-height min-height-500 md-tabs-bordered md-sub-tab">
          <md-tab ng-repeat="task in  buffers.wfAuthorization.data.taskAuthorizations"
                  ng-disabled="(task.taskType == metaData.taskTypes.APPROVAL_TASK_CLASS.code && !buffers.wfAuthorization.data.isApproveEnabled)
                  || (task.taskType == metaData.taskTypes.VISA_TASK_CLASS.code && !buffers.wfAuthorization.data.isVisaEnabled)"

                  flex layout="column"
                  layout-fill
                  label="{{task.name.nameAz}}">
            <md-tab-content flex layout-fill class="padding20 border-box">
              <div class="form-group">
                <table class="table border bordered">
                  <thead>
                  <tr>
                    <th class="sortable-column " once-text="'Operators'|translate"></th>

                  </tr>
                  </thead>
                  <tbody>
                  <tr ng-repeat="tController in task.taskOperators ">
                    <td>{{tController.fullName}}</td>

                  </tr>
                  </tbody>
                </table>


              </div>
            </md-tab-content>
          </md-tab>
        </md-tabs>
        <!--Tasks-->
      </md-tab-content>
    </md-tab>
    <!-- Operators-->
  </md-tabs>
</div>
