<div
        kendo-splitter="params.splitter1"
        orientation="'horizontal'"
        class="persons-view-splitter"
        k-collapse="searchCriteriaCollapse"
        k-expand="searchCriteriaExpand"
        k-navigatable="true"
        k-height="549"
        panes="params.config.splitterPanesConfig"
        k-no-records="true">

    <div ng-form="globusGlobalOperations.formName"
         role="form"
         csm-enter="findData()"
         ng-submit="findData()"
         class="person-find-criteria-form  fg-dark left-pane-style"
         novalidate>


        <div class="row filter-buttons-position">
            <md-button
                    aria-label="right arrow button"
                    type="button"
                    ng-click="globusGlobalOperations.resetForm()"
                    class="md-micro md-fab pull-right filter-button-style">
                <md-tooltip md-direction="down">
                    <span once-text="'Reset Filter'|translate"></span>
                </md-tooltip>
                <span class="icon icon-remove-filter"></span>
            </md-button>

            <md-button
                    aria-label="right arrow button"
                    type="button"
                    ng-click="findData()"
                    class="md-micro md-fab pull-right filter-button-style">
                <md-tooltip md-direction="down">
                    <span once-text="'Filter'|translate"></span>
                </md-tooltip>
                <span class="icon icon-filter"></span>
            </md-button>
        </div>


        <div class="pane-content">
            <uib-accordion close-others="false">

                <uib-accordion-group>
                    <uib-accordion-heading>
                        <div class="collapsible-panel-heading cursor-pointer">
                            <label class="text-right text-muted-manual-70">
                                <a href="#" once-text="'Minus Account'|translate" class="text-muted-manual"></a>
                            </label>

                            <div class="inline-block pull-right">
                                <i class="glyphicon pull-right person-search-accordion-icon"></i>
                            </div>
                        </div>
                    </uib-accordion-heading>


                    <div>
                        <div class="person-search-template-input-style">
                            <label class="panel-body-label text-right inline-block text-muted-manual">
                                <span once-text="'Minus Account Number'|translate"></span>:</label>

                            <div class="inline-block person-search-inputs">
                                <input type="text"
                                       class="k-textbox"
                                       name="minusAccountNumber"
                                       ng-model="globusGlobalOperations.form.minusAccountNumber"
                                        >
                            </div>
                        </div>
                        <div class="form-group person-search-template-input-style">
                            <label class="panel-body-label text-right inline-block text-muted-manual">
                                <span once-text="'Minus Account Name'|translate"></span>:</label>

                            <div class="inline-block person-search-inputs">
                                <input type="text"
                                       class="k-textbox"
                                       name="minusAccountName"
                                       ng-model="globusGlobalOperations.form.minusAccountName"
                                        >
                            </div>
                        </div>
                    </div>
                </uib-accordion-group>

                <uib-accordion-group>
                    <uib-accordion-heading>
                        <div class="collapsible-panel-heading cursor-pointer">
                            <label class="text-right text-muted-manual-70">
                                <a href="#" once-text="'Plus Account'|translate" class="text-muted-manual"></a>
                            </label>

                            <div class="inline-block pull-right">
                                <i class="glyphicon pull-right person-search-accordion-icon"></i>
                            </div>
                        </div>
                    </uib-accordion-heading>


                    <div>
                        <div class="person-search-template-input-style">
                            <label class="panel-body-label text-right inline-block text-muted-manual">
                                <span once-text="'Plus Account Number'|translate"></span>:</label>

                            <div class="inline-block person-search-inputs">
                                <input type="text"
                                       class="k-textbox"
                                       name="plusAccountNumber"
                                       ng-model="globusGlobalOperations.form.plusAccountNumber"
                                        >
                            </div>
                        </div>
                        <div class="form-group person-search-template-input-style">
                            <label class="panel-body-label text-right inline-block text-muted-manual">
                                <span once-text="'Plus Account Name'|translate"></span>:</label>

                            <div class="inline-block person-search-inputs">
                                <input type="text"
                                       class="k-textbox"
                                       name="plusAccountName"
                                       ng-model="globusGlobalOperations.form.plusAccountName"
                                        >
                            </div>
                        </div>
                    </div>
                </uib-accordion-group>

                <uib-accordion-group>
                    <uib-accordion-heading>
                        <div class="collapsible-panel-heading cursor-pointer">
                            <label class="text-right text-muted-manual-70">
                                <a href="#" once-text="'Date'|translate" class="text-muted-manual"></a>
                            </label>

                            <div class="inline-block pull-right">
                                <i class="glyphicon pull-right person-search-accordion-icon"></i>
                            </div>
                        </div>
                    </uib-accordion-heading>


                    <div>
                        <div class="person-search-template-input-style">
                            <label class="panel-body-label text-right inline-block text-muted-manual">
                                <span once-text="'Order Date From'|translate"></span>:</label>

                            <div class="inline-block person-search-inputs">
                                <input type="text"
                                       kendo-date-picker
                                       name="registration_date_start"
                                       ng-model="globusGlobalOperations.form.globalDateStart"
                                       k-ng-model="globusGlobalOperations.form.globalDateStartObj"
                                        >
                            </div>
                        </div>
                        <div class="form-group person-search-template-input-style">
                            <label class="panel-body-label text-right inline-block text-muted-manual">
                                <span once-text="'Order Date To'|translate"></span>:</label>

                            <div class="inline-block person-search-inputs">
                                <input type="text"
                                       kendo-date-picker
                                       name="registration_date_finish"
                                       ng-model="globusGlobalOperations.form.globalDateFinish"
                                       k-ng-model="globusGlobalOperations.form.globalDateFinishObj"
                                        >
                            </div>
                        </div>
                    </div>
                </uib-accordion-group>

                <uib-accordion-group>
                    <uib-accordion-heading>
                        <div class="collapsible-panel-heading cursor-pointer">
                            <label class="text-right text-muted-manual-70">
                                <a href="#" once-text="'Minus Instrument'|translate" class="text-muted-manual"></a>
                            </label>
                            <div class="inline-block pull-right">
                                <i class="glyphicon pull-right person-search-accordion-icon"></i>
                            </div>
                        </div>
                    </uib-accordion-heading>

                    <div>
                        <div class="person-search-template-input-style">
                            <label class="text-right inline-block text-muted-manual-80">
                                <span once-text="'ISIN'|translate"></span>:</label>
                            <div class="inline-block person-search-inputs">
                                <input
                                        class="k-textbox"
                                        type="text"
                                        name="minusISIN"
                                        ng-model="globusGlobalOperations.form.minusISIN">

                            </div>
                        </div>
                        <div class="form-group person-search-template-input-style">
                            <label class="text-right inline-block text-muted-manual-80">
                                <span once-text="'Issuer'|translate"></span>:</label>
                            <div class="inline-block person-search-inputs">
                                <input
                                        class="k-textbox"
                                        type="text"
                                        name="minusIssuerName"
                                        ng-model="globusGlobalOperations.form.minusIssuerName">

                            </div>
                        </div>
                    </div>

                </uib-accordion-group>
                <uib-accordion-group>
                    <uib-accordion-heading>
                        <div class="collapsible-panel-heading cursor-pointer">
                            <label class="text-right text-muted-manual-70">
                                <a href="#" once-text="'Plus Instrument'|translate" class="text-muted-manual"></a>
                            </label>
                            <div class="inline-block pull-right">
                                <i class="glyphicon pull-right person-search-accordion-icon"></i>
                            </div>
                        </div>
                    </uib-accordion-heading>

                    <div>
                        <div class="person-search-template-input-style">
                            <label class="text-right inline-block text-muted-manual-80">
                                <span once-text="'ISIN'|translate"></span>:</label>
                            <div class="inline-block person-search-inputs">
                                <input
                                        class="k-textbox"
                                        type="text"
                                        name="plusISIN"
                                        ng-model="globusGlobalOperations.form.plusISIN">

                            </div>
                        </div>
                        <div class="form-group person-search-template-input-style">
                            <label class="text-right inline-block text-muted-manual-80">
                                <span once-text="'Issuer'|translate"></span>:</label>
                            <div class="inline-block person-search-inputs">
                                <input
                                        class="k-textbox"
                                        type="text"
                                        name="plusIssuerName"
                                        ng-model="globusGlobalOperations.form.plusIssuerName">

                            </div>
                        </div>
                    </div>

                </uib-accordion-group>

                <uib-accordion-group is-disabled="true">
                    <uib-accordion-heading>
                        <div class="person-search-template-input-style">
                            <label class="text-right inline-block text-muted-manual-80">
                                <span once-text="'Transaction Type'|translate"></span>:</label>

                            <div class="inline-block person-search-inputs">
                                <input
                                        type="text"
                                        class="k-textbox"
                                        name="transactionType"
                                        ng-model="globusGlobalOperations.form.transactionType"
                                        >
                            </div>
                        </div>
                    </uib-accordion-heading>
                </uib-accordion-group>
            </uib-accordion>
        </div>
    </div>

    <div class="pane-content">
        <div class="trade-view-buttons-wrapper">
            <md-button
                    aria-label="hamburger button"
                    class="pull-left md-icon-button md-primary hamburger-button-style"
                    ng-click="toggleSearchCriteriaBlock(params.splitter1)">
                <span class="glyphicon glyphicon-align-justify micro-glyphicon micro-align-glyphicon"></span>
            </md-button>
            <!--<span class="text-danger grid-text-danger" ng-show="globusGlobalOperations.searchResult.isEmpty" once-text="'No globusGlobalOperations Found!'|translate"></span>-->

            <div class="pull-right view-button-group">
                <md-button type="button" class="md-fab md-micro"
                           aria-label="Export to excel"
                           ng-click="exportToExcel(globusGlobalOperations.searchResultGrid)">
                    <i class="glyphicon glyphicon-export micro-glyphicon"></i>
                    <md-tooltip md-direction="down">
                        <span once-text="'Export to Excel'|translate"></span>
                    </md-tooltip>
                </md-button>
                <md-button type="button" class="md-fab md-micro"
                           aria-label="Mini FAB"
                           ng-click="closeWindow()">

                    <i class="glyphicon glyphicon-remove micro-glyphicon"></i>

                    <md-tooltip md-direction="down">
                        <span once-text="'Close Window'|translate"></span>
                    </md-tooltip>

                </md-button>

            </div>
        </div>
        <div class="trade-search-result-grid">
            <div
                    kendo-grid="globusGlobalOperations.searchResultGrid"
                    k-ng-delay="globusGlobalOperations.mainGridOptions"
                    k-options="globusGlobalOperations.mainGridOptions"
                    k-sortable="true"
                    k-scrollable="true"
                    k-pageable='{ "pageSize": 20, "refresh": true, "pageSizes": true, "buttonCount": 5 }'
                    k-resizable="true">

                <div k-detail-template>
                    <div kendo-grid k-options="detailGrid(dataItem)" k-resizable="true"></div>
                </div>

            </div>

        </div>

    </div>

</div>
