@font-face {
  font-family: 'segoe ui';
  src: url('../fonts/segoeui_0.ttf');

}

body {
  font-family: segoe ui, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6, a {
  color: #c41230;
}

a, a:hover, a:focus, a:active, #index .news-block a:hover {
  text-decoration: none;
  color: #c41230;
}

a:hover {
  text-decoration: underline;
}

p {
  font-family: segoe ui, Arial, sans-serif;
}

.icon {
  margin: 0px 3px -3px 3px;
  display: inline-block;
}

.icon-download {
  background: url('../images/csdr_sprite.png') no-repeat -412px -375px;
  width: 15px;
  height: 14px;
}

.icon-upload-red {
  background: url('../images/csdr_sprite.png') no-repeat -459px -340px;
  width: 9px;
  height: 10px;
}

.icon-feedback {
  background: url('../images/csdr_sprite.png') -43px -202px;
  width: 18px;
  height: 18px;
}

.icon-dropdown {
  background: url('../images/csdr_sprite.png') no-repeat -302px -211px;
  width: 8px;
  height: 7px;
  margin: 1px;
}

.icon-calendar {
  margin: 0px 5px -2px 0px;
  background: url('../images/csdr_sprite.png') no-repeat -96px -203px;
  width: 13px;
  height: 16px;
}

.icon-user {
  background: url('../images/csdr_sprite.png') no-repeat -197px -206px;
  width: 13px;
  height: 14px;
}

.icon-lock {
  background: url('../images/csdr_sprite.png') no-repeat -232px -206px;
  width: 11px;
  height: 13px;
}

.icon-arrow-right {
  background: url('../images/csdr_sprite.png') no-repeat -93px -252px;
  width: 18px;
  height: 12px;
}

.md-raised {
  color: #fff !important;
  background-color: #cc0033 !important;
  text-transform: none !important;
  padding: 3px 60px 3px 60px !important;
}

.md-button.md-raised[disabled] {
  color: #333 !important;
  background-color: #D8CBCB !important;
}

md-input-container {
  padding-bottom: 7px;
}

md-input-container:not(.md-input-invalid).md-input-focused .md-input {
  border-color: #999999 !important;
}

md-input-container:not(.md-input-invalid).md-input-focused label {
  color: #333333 !important;
}

md-input-container label {
  font-family: "segoe ui";
  font-size: 16px;
  font-weight: normal !important;
  color: #333 !important;
}

md-input-container.md-default-theme, md-input-container .md-input {
  border-color: rgba(0, 0, 0, 0.51);
}

md-input-container.md-default-theme label,
md-input-container.md-default-theme .md-placeholder {
  color: #333 !important;
  border-color: #999999 !important;
}

.container {
  padding: 0px !important;
}

.md-button.md-raised:not([disabled]) {
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .26);
}

/* Header ------------------------------------------------------------------------------------------------------------*/
.header {
  background-color: #c41230;
  height: 43px;
  box-shadow: 0 4px 4px -2px #BFBFBF;
  -moz-box-shadow: 0 4px 4px -2px #BFBFBF;
  -webkit-box-shadow: 0 4px 4px -2px #BFBFBF;
}

.header .container {
  position: relative;
}

.header .container, .footer > .container {
  width: auto !important;
  max-height: 36px !important;
  margin-left: 20px !important;
  overflow: hidden !important;
  margin-right: 20px !important;
}

.header .container #logo-container {
  position: relative;
  margin-left: 9px;
}

.logo-left-az {
  background: url('../images/logo-left-az.png');
  background-repeat: no-repeat;
  width: 245px;
  height: 31px;
}

.header .container #logo-container #logo-image {
  float: left;
  background: url('../images/rsz-white-image-logo.png');
  background-repeat: no-repeat;
  width: 30px;
  height: 31px;
  /*margin: 5px 0px 5px 0px;*/
  margin-top: 6px;
}

.header .container #logo-container #logo-text {
  float: left;

  width: 200px;
  height: 23px;
  margin: 12px 0px 0px 15px;
}

.logo-text-en-bg {
  background: url('../images/rsz-white-text-logo.png');
  background-repeat: no-repeat;
}

.logo-text-az-bg {
  background: url('../images/rsz-white-text-logo-az.png');
  background-repeat: no-repeat;
}

.header .container .project-name {
  color: #fbdedf;
  font-size: 18px;
  text-align: center;
  /*margin: auto;*/
  /*width: 200px;*/
  /*height: 65px;*/
  height: 50px;
}

.header .container .project-name p {
  /*position: relative;*/
  /*top: 41%;*/
  /*transform: translateY(-50%);*/
  /*line-height: 22px;*/
  position: absolute;
  top: 31%;
  /*bottom: 0;*/
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.language-changer {
  color: #fff;
  font-weight: bold;
  position: absolute;
  right: 0;
  top: -3px;
  padding: 0 !important;
}

/* Header ------------------------------------------------------------------------------------------------------------*/

/* Footer ------------------------------------------------------------------------------------------------------------*/
.footer {
  height: 30px;
  background-color: #c41230;
}

.footer > .container > .copyright {
  position: relative;
  top: 5px;
  color: #fff;
  text-align: center;
}

/* Footer ------------------------------------------------------------------------------------------------------------*/

#content {
  overflow: hidden;
  background: url("../images/bg.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

div.m-app-loading div.animated-container {

  background: #ffffff;
}
form {
  position: relative;
  bottom: 14px;
}

.logo-simberg {
  background: url("../images/simberg-logo.jpg") no-repeat;
  width: 180px;
  height: 78px;
  margin: 20px;
}
md-radio-button .md-label {
  margin: 5px;
  top: 2px;
}
.md-container.md-ink-ripple {
  display: none;
}
.md-checked {
  border-bottom: 1px solid #c30f2e;
}
.csdr-logo {
  position: relative;
  right: 5px;
  width: 26px;
  height: 37px;
}
.csdr-logo-name {
  position: relative;
  top: 4px;
}
.asan-logo-name {
  position: relative;
  right: 7px;
}
.asan-logo {
  position: relative;
  width: 45px;
  right: 7px;
}

/* Login page --------------------------------------------------------------------------------------------------------*/
#index, #forgot-password, #change-password {

  position: relative;
  width: 100%;
  margin-top: 75px;
  margin-left: auto;
  margin-right: auto;
  width: 830px;
}

#forgot-password, #change-password {
  display: block;
  float: none;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  margin-top: 225px;
  height: 435px;
  width: 545px;
}

#forgot-password h3, #change-password h3 {
  color: #261C02;
  font-size: 24px;
}

#forgot-password p, #change-password p {
  display: block;
  width: 340px;
  color: #989e9d;
  font-size: 12px;
  margin: 20px auto 20px auto;
  text-align: center;
}

#forgot-password p.email-sent, #change-password p.success {
  color: #333333;
  font-size: 16px;
}

#change-password p.error {
  color: #F44336;
  font-size: 16px;
}

#index .login-form {

  width: 539px;
  height: 527px;
  float: left;
}

#index .login-form-az-bg {
  background: url("../images/login_az.png") no-repeat;
}

#index .login-form-en-bg {
  background: url("../images/login.png") no-repeat;
}

#index .login-form form {
  width: 415px;
  position: relative;
  margin: 150px 0px 0px 55px;
}

#index .login-form form i {
  position: absolute;
  right: 13px;
  top: 35px;
}

#index .login-form form .md-raised {
  font-size: 16px;
  width: 395px;
}

#index .login-form form .forgot-password {

  display: block;
  /* margin-left: auto; */
  /* margin-right: auto; */
  width: 200px;
  float: right;
  margin-top: 20px;
  text-align: right;

}

#index .news-block {
  float: left;
  margin-left: 10px;
  width: 273px;
}

#index .news-block a {
  color: #333333;
}

#index .news-block .md-raised {
  margin-left: 0px;
}

#index .news-block ul {
  list-style: none;
  padding: 0;
}

#index .news-block ul li {

  display: block;
  margin-top: 3px;
  border-bottom: 1px solid #cc0033;
}

#index .news-block .news-block p {

  font-size: 14px;
  color: #261C02;
}

#index .news-block ul li p.news-short:hover {

  cursor: pointer;
  color: #cc0033;
}

#index .news-block h3 {
  margin-top: 5px;
}

/* Login page --------------------------------------------------------------------------------------------------------*/

/*Feedback menu  -----------------------------------------------------------------------------------------------------*/
.feedback-menu {
  top: 43px;
  /*bottom: 45px;*/
  /*margin: 65px 0px 45px 0px;*/
  color: #ffffff !important;
  background-color: #d23952 !important;
}

.feedback-menu md-toolbar {
  color: #ffffff !important;
  background-color: #d23952;
}

.feedback-menu md-toolbar {
  height: 125px;
  border-bottom: 1px solid #fff;
}

.feedback-menu md-toolbar h1 {
  bottom: 0px;
  position: absolute;
  max-height: 35px;
  color: #FFFFFF;
}

md-content.layout-padding {
  background-color: #d23952;
}

md-input-container.md-input-has-value h6 {
  color: #FFFFFF;
}

.feedback-menu md-toolbar .md-icon-button {
  right: 5px;
  bottom: 15px;
  position: absolute;
  width: 35px;
  height: 35px;
  line-height: 0px;
  background: #b00f29;
  -moz-border-radius: 70px;
  -webkit-border-radius: 70px;
  border-radius: 70px;
}

.feedback-menu md-content .md-button {
  width: 95%;
  line-height: 0px;
  min-height: 30px;
  border-radius: 0px;
}

.feedback-menu md-content textarea {
  color: #333333 !important;
  border: none;
  background: #fff;
}

.feedback-menu md-input-container {

  margin: 0px 7px;
}

.feedback-menu md-content .md-button.upload-document {
  background-color: #fff !important;
}

.feedback-menu md-content .md-button.upload-document i {
  margin-bottom: 0px !important;
}

.feedback-menu md-content .md-button.upload-document span {
  color: #b00f29 !important;
}

.feedback-button {
  position: absolute;
  right: 30px;
  top: 135px;
  z-index: 1;
}

/*Feedback menu  -----------------------------------------------------------------------------------------------------*/

/* Media queries -----------------------------------------------------------------------------------------------------*/
@media only screen and (max-width: 768px) {
  .header .container .project-name p {
    display: none;
  }

  #index, #forgot-password {
    width: 100%;
  }

  .feedback-button {
    top: 75px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  .header .container .project-name p {
    font-size: 14px;
  }

  #index, #forgot-password {
    width: 100%;
  }

}

@media (min-width: 992px) and (max-width: 1200px) {
  .header .container .project-name p {
    font-size: 14px;
  }

}

@media (min-width: 1200px) {
  .header .container .project-name p {
    font-size: 15px;
  }
}

/* Media queries -----------------------------------------------------------------------------------------------------*/

.loader,
.loader:before,
.loader:after {
  background: #c41230;;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}

.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}

.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.loader {
  text-indent: -9999em;
  margin: 88px auto;
  position: relative;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
  min-height: 60px;
}

.loader:after {
  left: 1.5em;
}

@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0 #c41230;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em #c41230;
    height: 5em;
  }
}

@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0 #c41230;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em #c41230;
    height: 5em;
  }
}

.pg-loading-screen .pg-loading-logo-header img {
  display: none !important;
}

.pg-loading-screen .pg-loading-html.pg-loaded {
  min-height: 162px;
}
.loader-text{
  top: 0 !important;
  position: relative;
  font-size: 28px;
  font-family: serif;
}
.verification-code {
  font-weight: 600;
  font-family: sans-serif;
  color: #C41230;
}
