<div ng-controller="PersonDetailsController">
  <h3 once-text="'Person Details'|translate"></h3>
  <md-tabs md-dynamic-height md-border-bottom>
    <md-tab label="{{labels.personalInfo}}">

      <div ng-include="'app/persons/templates/partials/panels/personal-info-panel.html'">
      </div>
    </md-tab>
    <md-tab ng-if="person.otherDocuments && person.otherDocuments.length " label="{{labels.idDocuments}}">

      <div ng-include="'app/persons/templates/partials/panels/id-documents-panel.html'"></div>
    </md-tab>
    <md-tab ng-if="person.actualAddress" label="{{labels.actualAddress}}">

      <div ng-repeat="address in [person.actualAddress]"
           ng-include="'app/persons/templates/partials/panels/address-panel.html'"></div>
    </md-tab>
    <md-tab ng-if="person.legalAddress" label="{{labels.legalAddress}}">

      <div ng-repeat="address in [person.legalAddress]"
           ng-include="'app/persons/templates/partials/panels/address-panel.html'"></div>
    </md-tab>
    <md-tab ng-if="person.phoneNumbers || person.emails" label="{{labels.contactInformation}}">

      <div ng-include="'app/persons/templates/partials/panels/contact-info-panel.html'"></div>
    </md-tab>
    <md-tab ng-if="person.bankAccounts.length>0" label={{labels.bankAccounts}}>

      <div ng-include="'app/persons/templates/partials/panels/bank-accounts-panel.html'"></div>
    </md-tab>
    <md-tab ng-if="person.representatives.length>0 || person.signers.length>0" label="{{labels.representatives}}">

      <div ng-include="'app/persons/templates/partials/panels/representatives-panel.html'"></div>
    </md-tab>
  </md-tabs>
</div>
