<div
        role="form"
        ng-form="config.form.name"
        ng-submit="config.buttons.complete.click()">


    <div class="title-transfer-forms">
        <div class="form-group" ng-class="{ 'has-error':
                 (config.form.name.$submitted || config.form.name.person_type.$touched)
                 &&(config.form.name.person_type.$invalid)  }">

            <label class="form-labels"><span class="required-sign">*</span><span
                    once-text="'Şəxsin növü'|translate"></span>:</label>


            <div class="form-inputs">
                <md-radio-group ng-model="data.person" ng-required="true" name="person_type">
                    <md-radio-button style="display:initial" value="huquqi" class="md-primary">Hüquqi</md-radio-button>
                    <md-radio-button style="display:initial" value="fiziki" class="md-primary">Fiziki</md-radio-button>
                </md-radio-group>
                <div ng-show="config.form.name.$submitted || config.form.name.person_type.$touched">
                    <p ng-show="config.form.name.person_type.$error.required"
                       class="help-block help-block-error">
                        <span once-text="'This field is required'|translate"></span>
                    </p>
                </div>
            </div>
        </div>
        <div class="form-group" ng-class="{ 'has-error':
                 (config.form.name.$submitted || config.form.name.citizen.$touched)
                 &&(config.form.name.citizen.$invalid)  }">

            <label class="form-labels"><span class="required-sign">*</span><span
                    once-text="'Vətəndaşlıq'|translate"></span>:</label>


            <div class="form-inputs">
                <md-radio-group ng-model="data.isDMX" ng-required="true" name="citizen">
                    <md-radio-button style="display:initial" value="false" class="md-primary">Rezident
                    </md-radio-button>
                    <md-radio-button style="display:initial" value="true" class="md-primary">Qeyri-Rezident
                    </md-radio-button>
                </md-radio-group>
                <div ng-show="config.form.name.$submitted || config.form.name.citizen.$touched">
                    <p ng-show="config.form.name.citizen.$error.required"
                       class="help-block help-block-error">
                        <span once-text="'This field is required'|translate"></span>
                    </p>
                </div>
            </div>
        </div>

        <div class="form-group" ng-class="{ 'has-error':
                 (config.form.name.$submitted || config.form.name.id_number.$touched)
                 &&(config.form.name.id_number.$invalid)  }">

            <label class="form-labels"><span class="required-sign">*</span><span
                    once-text="'Seriya(nömrə)'|translate"></span>:</label>
            <div class="form-inputs">
                <input type="text"
                       name="id_number"
                       ng-model="data.id"
                       ng-required="true"
                >

                <div ng-show="config.form.name.$submitted || config.form.name.id_number.$touched">
                    <p ng-show="config.form.name.id_number.$error.required"
                       class="help-block help-block-error">
                        <span once-text="'This field is required'|translate"></span>
                    </p>
                </div>
            </div>
        </div>

        <div class="form-group" ng-class="{ 'has-error':
                 (config.form.name.$submitted || config.form.name.fin_number.$touched)
                 &&(config.form.name.fin_number.$invalid)  }">

            <label class="form-labels"><span class="required-sign">*</span><span
                    once-text=" 'FIN'|translate "></span>:</label>

            <div class="form-inputs">
                <input type="text"
                       name="fin_number"
                       ng-maxlength="7"
                       maxlength="7"
                       ng-change="data.pinCode = data.pinCode.toUpperCase()"
                       ng-model="data.pinCode"
                       ng-required="true"

                >

                <div ng-show="config.form.name.$submitted || config.form.name.fin_number.$touched">
                    <p ng-show="config.form.name.fin_number.$error.required"
                       class="help-block help-block-error">
                        <span once-text="'This field is required'|translate"></span>
                    </p>
                </div>
            </div>
        </div>

        <div class="form-group">

            <label class="form-labels"><span
                    once-text=" 'Actual Address'|translate "></span>:</label>

            <div class="form-inputs">
                <input type="text"
                       name="actual_address"
                       ng-model="data.actualAddress"
                >
            </div>
        </div>

        <div class="form-group">

            <label class="form-labels" style="float:none"></label>

            <md-button class="md-raised md-primary" style="padding:0 !important" aria-label="Iamas search for person"
                       ng-click="getPerson()">
                <span>Axtar</span>
            </md-button>
        </div>

        <table class="table table-striped table-hover table-responsive table-bordered" ng-if="data.searchResult">
            <tr>
                <th></th>
                <td><img ng-src="data:image/{{data.searchResult.Image.format}};base64,{{data.searchResult.Image.data}}" alt=""></td>
            </tr>
            <tr>
                <th>Ad</th>
                <td>{{data.searchResult.Profile.Name_AZ}}</td>
            </tr>
            <tr>
                <th>Soyad</th>
                <td>{{data.searchResult.Profile.Surname_AZ}}</td>
            </tr>
            <tr>
                <th>Ata adı</th>
                <td>{{data.searchResult.Profile.FatherName_AZ}}</td>
            </tr>
            <tr>
                <th>Hüquqi Ünvan</th>
                <td>{{data.searchResult.realAddress.FullAddress}}</td>
            </tr>
        </table>

    </div>
</div>
