<div class="window-extend-block" data-extend-template="app/common/templates/operation-window-layout.html">
    <div data-block="content" class="window-main-content"
         ng-include="'app/person-account/templates/iamas-add-person-entry.html'">
    </div>
</div>