<div class="window-extend-block" data-extend-template="app/common/templates/operation-window-layout.html">

  <div data-block="content" class="window-main-content">

    <md-tabs flex layout="column" class="div-full-height">
      <md-tab layout-fill ng-repeat="tab in config.tabs" label="{{tab.label}}">
        <md-tab-content flex layout-fill>
          <div ng-if="$index==0" class="div-full-height">
            <div ng-repeat="data in shareholder"
                 ng-include="'app/person-account/templates/partials/np/main_form.html'"
                 role="form"
                 ng-form="data.config.formName"
                 ng-submit="config.buttons.complete.click()"></div>
          </div>
          <div ng-if="$index==1" class="div-full-height">
            <div
              ng-repeat="data in buffers.user"
              ng-include="'app/person-account/templates/partials/np/main_form.html'"
              role="form"
              ng-form="data.config.formName"
              novalidate>
            </div>
          </div>
        </md-tab-content>
      </md-tab>
    </md-tabs>

  </div>

</div>
