<div class="window-extend-block" data-extend-template="app/common/templates/operation-window-layout.html">
  <div data-block="content" class="window-main-content">

    <div ng-repeat="person in [taskData.dataChange] "
         ng-include="'app/persons/templates/partials/person-data-changes/person-data-changes.html'">
    </div>

  </div>
</div>
