<div class="window-extend-block" data-extend-template="app/common/templates/operation-window-layout.html">
    <div data-block="content" class="window-main-content">
        <div class="container-fluid">
            <div class="row">
                <ul style="display: flex; flex-direction: row; justify-content: center; list-style: none; padding: 5px; align-items: center;">
                    <li ng-repeat="step in vm.steps" ng-class="{ 'iamasActiveTab': vm.currentStep == step.step}"
                        style="width: {{ 100/vm.steps.length }}%; padding: 6px; text-align: center;">
                        <a ng-click="vm.gotoStep(step.step)" href="#">{{step.name}}</a></li>
                </ul>
            </div>
            <div class="row">
                <div class="alert alert-danger" role="alert" ng-if="errorLog">
                    Davam etmək üçün bütün məlumatları daxil etməlisiniz.
                </div>
            </div>

            <div class="row">
                <ng-include src="vm.getStepTemplate()"></ng-include>
            </div>

            <div class="row">
                <div class="pull-right">
                    <div class="btn-group">
                        <md-button class="md-accent md-raised md-hue-3" ng-if="vm.currentStep > 1"
                                   ng-click="vm.gotoStep(vm.currentStep - 1)">
                            Geri
                        </md-button>
                        <md-button class="md-accent md-raised md-hue-1" ng-disabled="vm.currentStep >= vm.steps.length || personData===undefined"
                                   ng-click="vm.gotoStep(vm.currentStep + 1)">
                            Irəli
                        </md-button>
                    </div>
                </div>
            </div>

            <!--<div id="wizard-navigation-container">-->
            <!--<div class="pull-right">-->
            <!--<span class="btn-group">-->
            <!--<button ng-disabled="vm.currentStep <= 1" class="btn btn-default" name="previous" type="button"-->
            <!--ng-click="vm.gotoStep(vm.currentStep - 1)"><i-->
            <!--class="fa fa-arrow-left"></i> Previous</button>-->
            <!--<button ng-disabled="vm.currentStep >= vm.steps.length" class="btn btn-primary" name="next"-->
            <!--type="button"-->
            <!--ng-click="vm.gotoStep(vm.currentStep + 1)">Next<i-->
            <!--class="fa fa-arrow-right"></i></button>-->
            <!--</span>-->
            <!--<button ng-disabled="vm.currentStep != vm.steps.length" class="btn btn-success" name="next"-->
            <!--type="button" ng-click="vm.save()"><i class="fa fa-floppy-o"></i> Save-->
            <!--</button>-->
            <!--</div>-->
            <!--</div>-->

        </div>

    </div>

</div>
