<div class="window-extend-block" data-extend-template="app/common/templates/operation-window-layout.html">
  <div data-block="content" class="window-main-content">
    <div ng-repeat="person in [taskData.data] "
         ng-include="'app/persons/templates/partials/person-data-changes/person-data-changes.html'"></div>
    <hr/>
    <div class="row">
      <div class="col-lg-12">

        <label class="input-control checkbox small-check">
          <md-checkbox type="checkbox" class="md-warn" ng-model="taskData.isAccepted"></md-checkbox>

          <span class="caption" once-text="'Accept'|translate"> </span></span>
        </label>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-3 col-xs-3">
        <div class="form-group">

          <label><span class="required-sign">*</span><span once-text="'Note'|translate"></span> :</label>
          <input
            class="k-textbox"
            type="text"
            name="note"
            ng-model="taskData.note"
            ng-required="true"
            >

        </div>
      </div>
    </div>
  </div>
</div>

