<div class="window-extend-block" data-extend-template="app/common/templates/operation-window-layout.html">
  <div data-block="content" class="window-main-content">

    <div class="row padding10">

      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">

        <table class="table table-striped table-hover table-responsive table-bordered ">
          <tbody>
          <tr>
            <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4"><b once-text="'Operation'|translate"></b>
            </td>

            <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4">{{taskData.operationName}}</td>
          </tr>
          <tr>
            <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4"><b
              once-text="'Error Message'|translate"></b></td>
            </td>

            <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4">{{taskData.errorMessage}}</td>
          </tr>

          </tbody>

        </table>
      </div>

      <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">

        <div class="form-group">

            <label><span class="required-sign">*</span><span once-text="'Your Decision'|translate"></span>:</label>
            <select
              name="approve_decision"
              ng-model="taskData.adminDecision"
              ng-required="true"
              >
              <option value="">---</option>
              <option
                value="{{decision }}"
                ng-repeat="decision in config.adminTaskDecisions">{{decision['name'+lnC]}}
              </option>
            </select>

        </div>

      </div>

    </div>

  </div>

</div>

