<div ng-controller="DashboardAccountsController" class="accounts-dashboard-content" >

    <div class="row task-wrapper">
      <div class="col-md-6 col-xs-6 col-lg-6 col-sm-6">
        <a href="#" class="cursor-pointer" ng-click="_findScreenById(viewCodes.shareholders)"><span
          once-text="'DEPO Accounts'"></span></a>
      </div>
      <div class="col-md-2 col-xs-2 col-lg-2 col-sm-2 pull-right">
        <!--<span class="tile-badge tile-badge-manual ">{{task.dashboardContent.activeTaskCount}}</span>-->
        <span class="badge">{{dashboardContent.shareholderAccountCount}}</span>
      </div>
    </div>

    <div class="row task-wrapper">
      <div class="col-md-6 col-xs-6 col-lg-6 col-sm-6">
        <a class="cursor-pointer" ng-click="_findScreenById(viewCodes.issuers)"><span
          once-text="'Issuer Accounts'"></span></a>
      </div>
      <div class="col-md-2 col-xs-2 col-lg-2 col-sm-2 pull-right">
        <!--<span class="tile-badge tile-badge-manual ">{{task.dashboardContent.activeTaskCount}}</span>-->
        <span class="badge">{{dashboardContent.issuerAccountCount}}</span>
      </div>
    </div>

    <div class="row task-wrapper">
      <div class="col-md-6 col-xs-6 col-lg-6 col-sm-6">
        <a class="cursor-pointer" ng-click="_findScreenById(viewCodes.members)"><span
          once-text="'Member Accounts'"></span></a>
      </div>
      <div class="col-md-2 col-xs-2 col-lg-2 col-sm-2 pull-right">
        <!--<span class="tile-badge tile-badge-manual ">{{task.dashboardContent.activeTaskCount}}</span>-->
        <span class="badge">{{dashboardContent.memberAccountCount}}</span>
      </div>
    </div>

  <div class="tile-label underline" ng-click="_findScreenById(viewCodes.accounts)">
    <h4 once-text="'Accounts'|translate"></h4>
  </div>
</div>
