<div ng-controller="DashboardBusinessDayController" class="accounts-dashboard-content">

  <div class="row task-wrapper" ng-if="dashboardContent.systemBalance.length">
    <div class="col-md-7 col-xs-7 col-lg-7 col-sm-7">
      <div>
        <span>Sitem üzrə</span>
      </div>
    </div>
    <div class="col-md-2 col-xs-2 col-lg-2 col-sm-2 pull-right">
      <div class="badge" ng-repeat="payment in dashboardContent.systemBalance">{{payment.totalMoney | formatNumber}} {{payment.currencyCode}}</div>
    </div>
  </div>

  <div class="row task-wrapper" ng-if="dashboardContent.bankAccountBalance.length">
    <div class="col-md-7 col-xs-7 col-lg-7 col-sm-7">
      <div>
        <span>Bank hesabı üzrə</span>
      </div>
    </div>
    <div class="col-md-2 col-xs-2 col-lg-2 col-sm-2 pull-right">
      <div class="badge" ng-repeat="payment in dashboardContent.bankAccountBalance">{{payment.totalMoney | formatNumber}} {{payment.currencyCode}}</div>
    </div>
  </div>

  <div class="row task-wrapper" ng-if="dashboardContent.differenceBalance.length">
    <div class="col-md-7 col-xs-7 col-lg-7 col-sm-7">
      <div>
        <span>Balans fərqi</span>
      </div>
    </div>
    <div class="col-md-2 col-xs-2 col-lg-2 col-sm-2 pull-right">
      <div class="badge" ng-repeat="payment in dashboardContent.differenceBalance">{{payment.totalMoney | formatNumber}} {{payment.currencyCode}}</div>
    </div>
  </div>

  <div class="row task-wrapper"  ng-if="dashboardContent.status">
    <div class="col-md-7 col-xs-7 col-lg-7 col-sm-7">
      <div>
        <span>Status</span>
      </div>
    </div>
    <div class="col-md-2 col-xs-2 col-lg-2 col-sm-2 pull-right">
      <div class="badge">{{dashboardContent.status}}</div>
    </div>
  </div>

  <div class="row task-wrapper"  ng-if="dashboardContent.date">
    <div class="col-md-7 col-xs-7 col-lg-7 col-sm-7">
      <div>
        <span>Tarix</span>
      </div>
    </div>
    <div class="col-md-2 col-xs-2 col-lg-2 col-sm-2 pull-right">
      <div class="badge">{{dashboardContent.date | date:'fullDate'}}</div>
    </div>
  </div>

  <div class="tile-label">
    <h4>Əməliyyat günü</h4>
  </div>

</div>
