<div ng-controller="DashboardCashBalanceController" class="accounts-dashboard-content">

  <div class="row task-wrapper">
    <div class="col-md-7 col-xs-7 col-lg-7 col-sm-7">
      <div>
        <span>Bilinməyən</span>
      </div>
    </div>
    <div class="col-md-2 col-xs-2 col-lg-2 col-sm-2 pull-right">
      <div class="badge" ng-repeat="payment in dashboardContent.unknownPayments">{{payment.totalMoney | formatNumber}} {{payment.currencyCode}}</div>
    </div>
  </div>

  <div class="row task-wrapper">
    <div class="col-md-7 col-xs-7 col-lg-7 col-sm-7">
      <div>
        <span>Alqı-satqı</span>
      </div>
    </div>
    <div class="col-md-2 col-xs-2 col-lg-2 col-sm-2 pull-right">
      <div class="badge" ng-repeat="payment in dashboardContent.tradeService">{{payment.totalMoney | formatNumber}} {{payment.currencyCode}}</div>
    </div>
  </div>

  <div class="row task-wrapper">
    <div class="col-md-7 col-xs-7 col-lg-7 col-sm-7">
      <div>
        <span>Abunə yazılışı</span>
      </div>
    </div>
    <div class="col-md-2 col-xs-2 col-lg-2 col-sm-2 pull-right">
      <div class="badge" ng-repeat="payment in dashboardContent.subscriptionService">{{payment.totalMoney | formatNumber}} {{payment.currencyCode}}</div>
    </div>
  </div>

  <div class="tile-label">
    <h4>Pul vəsaitləri</h4>
  </div>

</div>
