<div ng-controller="DashboardClearingLimitsController" class="accounts-dashboard-content" ng-click="_findScreenById(viewCodes.clearingLimits)" >


  <div class="tile-label " >
    <h4 once-text="'Clearing Limits'|translate"></h4>
  </div>
</div>
