<div ng-controller="DashboardClearingAccount"
     class="accounts-dashboard-content">

  <div class="tile-wrapper">
    <div>
      <div class="your-position">
        <div ng-repeat="balance in dashboardContent.balances"
             ng-if="balance.currency && balance.currency.code "
             class="currency-wrapper">
          <span class="currency" once-text="balance.currency.code"></span>
          <!--<div class="money-position-arrow"></div>-->
          <span class="money-position-amount">{{balance.amount}}</span>
        </div>

      </div>
    </div>
    <div></div>
  </div>
  <div class="tile-label">
    <h4 once-text="'Clearing Account'|translate"></h4>
  </div>
</div>
