<div ng-controller="DashboardClientsController" class="accounts-dashboard-content" ng-click="_findScreenById(viewCodes.clients)">


  <div class="tile-label tile-wrapper" >
     <div class="tile-icon-title-wrapper inline-block">
       <div class="tile-icon">
         <span class="glyphicon glyphicon-user"></span>
       </div>
       <div class="tile-title">
         <h4 once-text="'Clients'|translate"></h4>
       </div>
     </div>
     <div class="tile-amount">
       <span>{{dashboardContent.clientTaskCount}}</span>
     </div>
  </div>
</div>
