<div ng-controller="DashboardMemberInformationController" class="accounts-dashboard-content">

  <div class="tile-wrapper">
    <div>
      <div class="your-position">
        <div class="money-position-title" once-text="dashboardContent.context"></div>
        <div class="member-account-wrapper" ng-if="dashboardContent.clearingMemberAccount">
          <span  class="pull-left"> <span
            once-text="'Clearing Member Account'|translate"></span></span>
          <!--<div class="money-position-arrow"></div>-->
          <span ng-if="dashboardContent.clearingMemberAccount" class="pull-right font-size-12 fg-yellow">{{dashboardContent.clearingMemberAccount}}</span>
        </div>
        <div class="member-account-wrapper"  ng-if="dashboardContent.depoMemberAccount">
          <span class="pull-left"> <span
            once-text="'Depository Member Account'|translate"></span></span>
          <!--<div class="money-position-arrow"></div>-->
          <span ng-if="dashboardContent.depoMemberAccount" class="pull-right font-size-12 fg-yellow">{{dashboardContent.depoMemberAccount}}</span>
        </div>

        <div class="member-account-wrapper" ng-if="dashboardContent.tradingMemberAccount">
          <span  class="pull-left"> <span
            once-text="'Trading Member Account'|translate"></span></span>
          <!--<div class="money-position-arrow"></div>-->
          <span ng-if="dashboardContent.tradingMemberAccount" class="pull-right font-size-12 fg-yellow">{{dashboardContent.tradingMemberAccount}}</span>
        </div>
        <div class="member-account-wrapper" ng-if="dashboardContent.depoAccount">
          <span  class="pull-left"> <span
            once-text="'Depo Hesabı'"></span></span>
          <!--<div class="money-position-arrow"></div>-->
          <span ng-if="dashboardContent.depoAccount" class="pull-right font-size-12 fg-yellow">{{dashboardContent.depoAccount}}</span>
        </div>
        <div class="member-account-wrapper" ng-if="dashboardContent.participiantAccountNumber" >
          <span class="pull-left"> <span
            once-text="'Client in order management system'|translate"></span></span>
          <!--<div class="money-position-arrow"></div>-->
          <span ng-if="dashboardContent.participiantAccountNumber" class="pull-right font-size-12 fg-yellow">{{dashboardContent.participiantAccountNumber}}</span>
        </div>
      </div>


    </div>
    <div></div>
  </div>


  <div class="tile-label">
    <h4 once-text="'Information'|translate"></h4>
  </div>
</div>
