<div ng-controller="DashboardMemberCashAccountsController" class="accounts-dashboard-content" >

  <!--<div class="row task-wrapper" ng-repeat="obj in dashboardContent">-->
    <!--<div class="col-md-7 col-xs-7 col-lg-7 col-sm-7">-->
      <!--<div>-->
        <!--<span>{{ obj.serviceClass.code }}</span>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="col-md-2 col-xs-2 col-lg-2 col-sm-2 pull-right">-->
      <!--<div class="badge" ng-repeat="payment in obj.balances">{{payment.amount | formatNumber}} {{payment.currency.code}}</div>-->
    <!--</div>-->
  <!--</div>-->



  <div class="row task-wrapper">
    <div class="col-md-7 col-xs-7 col-lg-7 col-sm-7">
      <div>
        <span>Ticarət bölməsi</span>
      </div>
    </div>
    <div class="col-md-2 col-xs-2 col-lg-2 col-sm-2 pull-right">
      <div class="badge" ng-repeat="payment in dashboardContent.tradingBalances">{{payment.amount | formatNumber}} {{payment.currency.code}}</div>
    </div>
  </div>

  <div class="row task-wrapper">
    <div class="col-md-7 col-xs-7 col-lg-7 col-sm-7">
      <div>
        <span>Abunə yazılışı bölməsi</span>
      </div>
    </div>
    <div class="col-md-2 col-xs-2 col-lg-2 col-sm-2 pull-right">
      <div class="badge" ng-repeat="payment in dashboardContent.subscriptionBalances">{{payment.amount | formatNumber}} {{payment.currency.code}}</div>
    </div>
  </div>

  <div class="row task-wrapper">
    <div class="col-md-7 col-xs-7 col-lg-7 col-sm-7">
      <div>
        <span>FOREX bölməsi</span>
      </div>
    </div>
    <div class="col-md-2 col-xs-2 col-lg-2 col-sm-2 pull-right">
      <div class="badge" ng-repeat="payment in dashboardContent.forexBalances">{{payment.amount | formatNumber}} {{payment.currency.code}}</div>
    </div>
  </div>

  <div class="row task-wrapper">
    <div class="col-md-7 col-xs-7 col-lg-7 col-sm-7">
      <div>
        <span>Pul zəmanəti bölməsi</span>
      </div>
    </div>
    <div class="col-md-2 col-xs-2 col-lg-2 col-sm-2 pull-right">
      <div class="badge" ng-repeat="payment in dashboardContent.moneyGuaranteeBalances">{{payment.amount | formatNumber}} {{payment.currency.code}}</div>
    </div>
  </div>


  <div class="row task-wrapper" ng-show="sum(dashboardContent.distributionBalances) > 0 ">
    <div class="col-md-7 col-xs-7 col-lg-7 col-sm-7">
      <div>
        <span>Ödəniş bölməsi</span>
      </div>
    </div>
    <div class="col-md-2 col-xs-2 col-lg-2 col-sm-2 pull-right">
      <div class="badge" ng-repeat="payment in dashboardContent.distributionBalances">{{payment.amount | formatNumber}} {{payment.currency.code}}</div>
    </div>
  </div>

  <!--<div class="row task-wrapper">-->
    <!--<div class="col-md-7 col-xs-7 col-lg-7 col-sm-7">-->
      <!--<div>-->
        <!--<span>Gəlir avans bölməsi</span>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="col-md-2 col-xs-2 col-lg-2 col-sm-2 pull-right">-->
      <!--<div class="badge" ng-repeat="payment in dashboardContent.revenueAdvanceBalances">{{payment.amount | formatNumber}} {{payment.currency.code}}</div>-->
    <!--</div>-->
  <!--</div>-->

  <!--<div class="row task-wrapper">-->
    <!--<div class="col-md-7 col-xs-7 col-lg-7 col-sm-7">-->
      <!--<div>-->
        <!--<span>Gəlir borc bölməsi</span>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="col-md-2 col-xs-2 col-lg-2 col-sm-2 pull-right">-->
      <!--<div class="badge" ng-repeat="payment in dashboardContent.revenueDebtBalances">{{payment.amount | formatNumber}} {{payment.currency.code}}</div>-->
    <!--</div>-->
  <!--</div>-->

  <!--<div class="row task-wrapper">-->
    <!--<div class="col-md-7 col-xs-7 col-lg-7 col-sm-7">-->
      <!--<div>-->
        <!--<span>ƏDV avans bölməsi</span>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="col-md-2 col-xs-2 col-lg-2 col-sm-2 pull-right">-->
      <!--<div class="badge" ng-repeat="payment in dashboardContent.VATAdvanceBalances">{{payment.amount | formatNumber}} {{payment.currency.code}}</div>-->
    <!--</div>-->
  <!--</div>-->


  <div class="row task-wrapper">
    <div class="col-md-7 col-xs-7 col-lg-7 col-sm-7">
      <div>
        <span>Xidmət bölməsi</span>
      </div>
    </div>
    <div class="col-md-2 col-xs-2 col-lg-2 col-sm-2 pull-right">
      <div class="badge" ng-repeat="payment in dashboardContent.serviceBalances">{{payment.amount | formatNumber}} {{payment.currency.code}}</div>
    </div>
  </div>



  <div class="tile-label">
    <h4>Üzvün pul uçotu hesablar</h4>
  </div>

</div>
