<div ng-controller="DashboardMoneyPositionsController" ng-click="_findScreenById(viewCodes.moneyPositions)"
     class="accounts-dashboard-content">

  <div class="tile-wrapper">
    <div>
      <div class="your-position">
        <div class="money-position-title" once-text="'Your Position'|translate"></div>
        <div class="currency-wrapper" ng-repeat="position in dashboardContent.positions">
          <span ng-if="position.currencyCode" class="currency">{{position.currencyCode}}</span>
          <!--<div class="money-position-arrow"></div>-->
          <span  ng-if="position.currencyCode" class="money-position-amount">{{position.totalMoney}}</span>
        </div>


          <div class="currency-wrapper">
              <span ng-if="dashboardContent.advance" class="currency">
                  <span once-text="'Advance' | translate"></span>
              </span>
              <!--<div class="money-position-arrow"></div>-->
              <span ng-if="dashboardContent.advance" class="pull-right">{{dashboardContent.advance}} AZN</span>
          </div>


      </div>
      <div class="clients-position">
        <div class="money-position-title" once-text="'Clients Position'|translate"></div>
        <div class="currency-wrapper" ng-repeat="position in dashboardContent.clientsPositions">
          <span ng-if="position.currencyCode" class="currency" >{{position.currencyCode}}</span>
          <!--<div class="money-position-arrow"></div>-->
          <span ng-if="position.currencyCode" class="money-position-amount">{{position.totalMoney}}</span>
        </div>

      </div>

    </div>
    <div></div>
  </div>


  <div class="tile-label underline">
    <h4 once-text="'Money Positions'|translate"></h4>
  </div>
</div>
