<div ng-controller="DashboardNdcBankAccountsController" class="accounts-dashboard-content" >

  <div class="row task-wrapper" ng-repeat="obj in dashboardContent">
    <div class="col-md-7 col-xs-7 col-lg-7 col-sm-7">
      <div>
        <span>{{ obj.accountNumber }}</span>
      </div>
    </div>
    <div class="col-md-2 col-xs-2 col-lg-2 col-sm-2 pull-right">
      <div class="badge" ng-repeat="payment in obj.balances">{{payment.amount | formatNumber}} {{payment.currency.code}}</div>
    </div>
  </div>


  <div class="tile-label">
    <h4>MDM-in bank hesabları</h4>
  </div>

</div>
