<div ng-controller="DashboardNdcCashAccountsController" class="accounts-dashboard-content" style="padding-right: 0">

  <div style="max-height: 252px; overflow-y: scroll; overflow-x: hidden; padding-right: 10px" class="nice-scroll">
    <div class="row task-wrapper">
      <div class="col-md-7 col-xs-7 col-lg-7 col-sm-7">
        <div>
          <span>Naməlum ödənişlər</span>
        </div>
      </div>
      <div class="col-md-2 col-xs-2 col-lg-2 col-sm-2 pull-right">
        <div class="badge" ng-repeat="payment in dashboardContent.unknownPaymentBalances">{{payment.amount | formatNumber}} {{payment.currency.code}}</div>
      </div>
    </div>


    <div class="row task-wrapper">
      <div class="col-md-7 col-xs-7 col-lg-7 col-sm-7">
        <div>
          <span>Klirinq hesabı</span>
        </div>
      </div>
      <div class="col-md-2 col-xs-2 col-lg-2 col-sm-2 pull-right">
        <div class="badge" ng-repeat="payment in dashboardContent.clearingBalances">{{payment.amount | formatNumber}} {{payment.currency.code}}</div>
      </div>
    </div>

    <div class="row task-wrapper">
      <div class="col-md-7 col-xs-7 col-lg-7 col-sm-7">
        <div>
          <span>Nağd pul hesabı</span>
        </div>
      </div>
      <div class="col-md-2 col-xs-2 col-lg-2 col-sm-2 pull-right">
        <div class="badge" ng-repeat="payment in dashboardContent.cashBalances">{{payment.amount | formatNumber}} {{payment.currency.code}}</div>
      </div>
    </div>

    <div class="row task-wrapper">
      <div class="col-md-7 col-xs-7 col-lg-7 col-sm-7">
        <div>
          <span>Gəlir hesabı</span>
        </div>
      </div>
      <div class="col-md-2 col-xs-2 col-lg-2 col-sm-2 pull-right">
        <div class="badge" ng-repeat="payment in dashboardContent.revenueBalances">{{payment.amount | formatNumber}} {{payment.currency.code}}</div>
      </div>
    </div>


    <div class="row task-wrapper">
      <div class="col-md-7 col-xs-7 col-lg-7 col-sm-7">
        <div>
          <span>Xidmət hesabı</span>
        </div>
      </div>
      <div class="col-md-2 col-xs-2 col-lg-2 col-sm-2 pull-right">
        <div class="badge" ng-repeat="payment in dashboardContent.serviceBalances">{{payment.amount | formatNumber}} {{payment.currency.code}}</div>
      </div>
    </div>


    <div class="row task-wrapper">
      <div class="col-md-7 col-xs-7 col-lg-7 col-sm-7">
        <div>
          <span>ƏDV hesabı</span>
        </div>
      </div>
      <div class="col-md-2 col-xs-2 col-lg-2 col-sm-2 pull-right">
        <div class="badge" ng-repeat="payment in dashboardContent.VATBalances">{{payment.amount | formatNumber}} {{payment.currency.code}}</div>
      </div>
    </div>

    <div class="row task-wrapper">
      <div class="col-md-7 col-xs-7 col-lg-7 col-sm-7">
        <div>
          <span>Mənbə vergisi</span>
        </div>
      </div>
      <div class="col-md-2 col-xs-2 col-lg-2 col-sm-2 pull-right">
        <div class="badge" ng-repeat="payment in dashboardContent.taxBalances">{{payment.amount | formatNumber}} {{payment.currency.code}}</div>
      </div>
    </div>


    <div class="row task-wrapper">
      <div class="col-md-7 col-xs-7 col-lg-7 col-sm-7">
        <div>
          <span>Avans ƏDV</span>
        </div>
      </div>
      <div class="col-md-2 col-xs-2 col-lg-2 col-sm-2 pull-right">
        <div class="badge" ng-repeat="payment in dashboardContent.VATAdvanceBalances">{{payment.amount | formatNumber}} {{payment.currency.code}}</div>
      </div>
    </div>
  </div>




  <div class="tile-label">
    <h4>MDM-in pul uçotu hesabları</h4>
  </div>

</div>
