<div ng-controller="DashboardPaymentsController"  ng-click="_findScreenById(viewCodes.bankStatements)" class="accounts-dashboard-content" >


  <div class="tile-label ">
    <h4 once-text="'Payments'|translate"></h4>
  </div>
</div>
