<div ng-controller="DashboardSecurityPositionsController" class="accounts-dashboard-content"  ng-click="_findScreenById(viewCodes.securityPositions)" >


  <div class="tile-label">
    <h4 once-text="'Security Positions'|translate"></h4>
  </div>
</div>
