<div ng-controller="DashboardShareholderAccountStatementController" class="accounts-dashboard-content" ng-click="_findScreenById(viewCodes.accStatement)" >
  <!--<div class="row task-wrapper">-->
    <!--<div class="col-md-7 col-xs-7 col-lg-7 col-sm-7" ng-repeat="account in acc.length">-->
      <!--<a href="#" class="cursor-pointer" ng-click="_findScreenById()"></a>-->
    <!--</div>-->
    <!--<div class="col-md-7 col-xs-7 col-lg-7 col-sm-7">-->
      <!--<a href="#" class="cursor-pointer" ng-click="_findScreenById(viewCodes.activeTasks)"><span>{{accountNumber[0]}}</span></a>-->
    <!--</div>-->
  <!--</div>-->

  <div class="nice-scroll" style="max-height:252px;overflow-y:scroll;overflow-x:hidden;padding-right:10px;">
    <div ng-repeat="accountNum in accountNumbers track by $index">
      <span>{{ $index + 1 }}.</span> <a href="#" class="cursor-pointer" ng-click="cda(accountNum)">{{ accountNum }}</a>
    </div>
  </div>
  <div class="tile-label " >
    <h4>Hesaba baxış</h4>
  </div>
</div>
