<div ng-controller="DashboardTasksController" class="accounts-dashboard-content">
  <div class="row task-wrapper">
    <div class="col-md-7 col-xs-7 col-lg-7 col-sm-7">
      <a href="#" class="cursor-pointer" ng-click="_findScreenById(viewCodes.activeTasks)"><span
        once-text="'Active Tasks'|translate"></span></a>
    </div>
    <div class="col-md-2 col-xs-2 col-lg-2 col-sm-2 pull-right">
      <span class="badge">{{dashboardContent.activeTaskCount}}</span>
    </div>
  </div>

  <div class="row task-wrapper">
    <div class="col-md-7 col-xs-7 col-lg-7 col-sm-7">
      <a class="cursor-pointer" ng-click="_findScreenById(viewCodes.candidateTasks)"><span
        once-text="'Candidate Tasks'|translate"></span></a>
    </div>
    <div class="col-md-2 col-xs-2 col-lg-2 col-sm-2 pull-right">
      <span class="badge">{{dashboardContent.candidateTaskCount}}</span>
    </div>
  </div>

  <div class="row task-wrapper">
    <div class="col-md-7 col-xs-7 col-lg-7 col-sm-7">
      <a class="cursor-pointer" ng-click="_findScreenById(viewCodes.finishedTasks)"><span
        once-text="'Finished Tasks'|translate"></span></a>
    </div>
    <div class="col-md-2 col-xs-2 col-lg-2 col-sm-2 pull-right">
      <span class="badge">{{dashboardContent.finishTaskCount}}</span>
    </div>
  </div>

  <div class="row task-wrapper">
    <div class="col-md-7 col-xs-7 col-lg-7 col-sm-7">
      <a class="cursor-pointer" ng-click="_findScreenById(viewCodes.completedTasks)"><span
        once-text="'Completed Tasks'|translate"></span></a>
    </div>
    <div class="col-md-2 col-xs-2 col-lg-2 col-sm-2 pull-right">
      <span class="badge">{{dashboardContent.completedTaskCount}}</span>
    </div>
  </div>


  <div class="tile-label">
    <h4 once-text="'Tasks'|translate"></h4>
  </div>
</div>
