<div ng-controller="DashboardWithdrawalsController" class="accounts-dashboard-content" >


  <div class="tile-label " ng-click="_findScreenById(viewCodes.withdrawals)">
    <h4 once-text="'Withdrawals'|translate"></h4>
  </div>
</div>
