<div class="window-extend-block" data-extend-template="app/common/templates/operation-window-layout.html">
  <div data-block="content" class="window-main-content">
    <table class="table table-striped table-hover table-responsive table-bordered ">
      <tbody>
      <tr>
        <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4"><b once-text="'Account Owner'|translate"></b></td>
        <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4">{{taskData.owners[0].nameAz}}</td>
      </tr>

      <tr>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><b once-text="'Account Number'|translate"></b></td>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6">{{taskData.number}}</td>
      </tr>


      </tbody>
    </table>

  </div>
</div>
