<div class="window-extend-block" data-extend-template="app/common/templates/operation-window-layout.html">
  <div data-block="content" class="window-main-content">
    <div role="form" ng-form="config.form.name" ng-submit="config.buttons.complete.click()">
      <div class="alert alert-info">
        <strong class="glyphicon glyphicon-info-sign"></strong>
        <span
          once-text="'You have to select at least two different accounts. Selected accounts cannot be the same. You'|translate"></span>
      </div>
      <div class="forms">
        <table class="table table-striped table-bordered">
          <thead>
          <tr>
            <th><span once-text="'Name'|translate"></span></th>
            <th once-text="'Address'|translate"></th>
            <th once-text="'Unique ID'|translate"></th>
            <th once-text="'ID Document'|translate"></th>
            <th once-text="'Consolidate To'|translate"></th>
            <th></th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr data-ng-repeat="subject in accountConsolidationData.accounts">
            <td>
              <span ng-if="!subject.name">......</span>
              <span> {{subject.name}}</span>
              <input
                type="hidden"
                name="account_{{$index}}"
                ng-required="true"
                ng-model="subject.name">
              <div
                class="has-error"
                ng-show="config.form.name.$submitted ">
                <p ng-show="config.form.name['account_'+$index].$error.required"
                   class="help-block help-block-error">
                  <span once-text="'You have to select account.'|translate"></span>
                </p>
              </div>
            </td>
            <td>
              <span ng-if="!subject.address">......</span>
              <span> {{subject.address}}</span>
            </td>
            <td>
              <span ng-if="!subject.uniqueCode">......</span>
              <span> {{subject.uniqueCode}}</span>
            </td>
            <td>
              <span ng-if="!subject.document">......</span>
              <span> {{subject.document}}</span>
            </td>
            <td>
              <md-checkbox ng-disabled="!subject.name" ng-model="subject.consolidateTo"
                           ng-change="similarAccountSelected(subject.consolidateTo,$index)"></md-checkbox>
            </td>
            <td>
              <md-button
                class="md-fab md-micro"
                aria-label="Mini FAB"
                ng-click="findAccount($index)">
                <i class="glyphicon glyphicon-search micro-glyphicon"></i>
                <md-tooltip>
                  <span once-text="'Find Account'|translate"></span>
                </md-tooltip>
              </md-button>
            </td>

            <td>
              <md-button
                ng-if="$index>0"
                class="md-fab md-micro"
                aria-label="Mini FAB"
                ng-click="removeAccount(accountConsolidationData.accounts,$index)">
                <i class="glyphicon glyphicon-remove micro-glyphicon"></i>
                <md-tooltip>
                  <span once-text="'Delete'|translate"></span>
                </md-tooltip>

              </md-button>
              <!--Remove Button-->
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="row">
        <div class="col-lg-11">
          <div class="form-group">
            <md-button
              class="md-fab md-micro"
              aria-label="Mini FAB"
              ng-click="addNewAccount(accountConsolidationData.accounts)">
              <i class="glyphicon glyphicon-plus micro-glyphicon"></i>
              <md-tooltip>
                <span once-text="'Add New Account'|translate"></span>
              </md-tooltip>
            </md-button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
