<div class="window-extend-block" data-extend-template="app/common/templates/operation-window-layout.html">
  <div data-block="content" class="window-main-content">
    <div
      role="form"
      ng-form="config.form.name"
      ng-submit="config.buttons.complete.click()">


      <md-content class="md-padding">

        <div class="alert alert-info">
          <strong class="glyphicon glyphicon-info-sign"></strong>
        <span once-text="'Firstly input account number, then click search button.'|translate"></span>
        </div>
        <div class="form-horizontal">

          <div class="forms">
            <div class="form-group inline-block">
              <label class="form-labels">
                <span once-text="'Account Number'|translate"></span>:</label>
              <div class="form-inputs account-suspension-form-input ">
                <input
                  class="k-textbox"
                  type="text"
                  name="account_number"
                  ng-model="accountSuspensionData.number">
              </div>
            </div>
            <md-button class="md-fab md-micro"
                       aria-label="Mini FAB"
                       ng-click="findAccount()">
              <i class="glyphicon glyphicon-search micro-glyphicon"></i>
              <md-tooltip><span once-text="'Find Account'|translate"></span></md-tooltip>

            </md-button>
          </div>
          <div ng-if="accountSuspensionData.ID">

            <div class="forms">
              <div class="form-group">
                <label class="form-labels">
                  <span once-text="'Account Type'|translate"></span>:</label>

                <div class="form-inputs">
                  <strong>{{accountSuspensionData.type['name'+lnC]}}</strong>
                </div>

              </div>
            </div>
            <div class="forms">
              <div class="form-group">
                <label class="form-labels">
                  <span once-text="'Suspended'|translate"></span>:</label>

                <div class="form-inputs">
                  <md-checkbox
                    aria-label="Suspended"
                    type="checkbox"
                    ng-change="changeAccountStatus()"
                    ng-model="accountSuspensionData.isSuspended"
                    class=" md-checkbox-style"
                    >
                </div>

              </div>
            </div>
            <div class="forms">
              <div class="form-group">
                <label class="form-labels">
                  <span once-text="'Owners'|translate"></span>:</label>
                <div class="form-inputs">
                  <div ng-repeat="owner in accountSuspensionData.owners">
                    <strong> - {{owner['name'+lnC]}}</strong> <br/>
                  </div>
                </div>
              </div>
            </div>
            <div ng-if="accountSuspensionData.functionalAccounts.length>0">
              <h4 once-text="'Functional Accounts'|translate"></h4>
              <table class="table table-striped table-hover table-responsive table-bordered">
                <thead>
                <th once-text="'Account Number'|translate"></th>
                <th once-text="'Account Type'|translate"></th>
                <th once-text="'Suspended'|translate"></th>
                </thead>
                <tbody>
                <tr data-ng-repeat="fAccount in accountSuspensionData.functionalAccounts">
                  <td>{{fAccount.number}}</td>
                  <td>{{fAccount.type['name'+lnC]}}</td>
                  <td>
                    <md-checkbox ng-disabled="accountSuspensionData.isSuspended"
                                 ng-model="fAccount.isSuspended"></md-checkbox>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </md-content>

    </div>

  </div>

</div>
