<div class="window-extend-block" data-extend-template="app/common/templates/operation-window-layout.html">
  <div data-block="content" class="window-main-content">
    <table class="table table-striped table-bordered">
      <thead>
      <tr>
        <th><span once-text="'Name'|translate"></span></th>
        <th once-text="'Address'|translate"></th>
        <th once-text="'Unique ID'|translate"></th>
        <th once-text="'ID Document'|translate"></th>
        <th once-text="'Consolidate To'|translate"></th>

      </tr>
      </thead>
      <tbody>
      <tr data-ng-repeat="subject in taskData.accounts">
        <td>

          <span ng-if="!subject.name">......</span>
          <span> {{subject.name}}</span>
        </td>
        <td>
          <span ng-if="!subject.address">......</span>
          <span> {{subject.address}}</span>
        </td>
        <td>
          <span ng-if="!subject.uniqueCode">......</span>
          <span> {{subject.uniqueCode}}</span>
        </td>
        <td>
          <span ng-if="!subject.document">......</span>
          <span> {{subject.document}}</span>
        </td>
        <td>
          <md-checkbox ng-disabled="true" ng-model="subject.consolidateTo"></md-checkbox>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
