<div class="window-extend-block" data-extend-template="app/common/templates/operation-window-layout.html">
  <div data-block="content" class="window-main-content">

    <div class="alert alert-info">
      <strong class="glyphicon glyphicon-info-sign"></strong>
      <span
        once-text="'You have to select client account and then you can select one or more items.
        You can select all instruments of client or you can select particular instrument for particular action type.
         To select specific instrument you have to click \'Specific Instrument\' option on the table and then you can
          find instrument by clicking search button.'|translate"></span>
    </div>
    <div role="form" ng-form="config.form.name" ng-submit="config.buttons.complete.click()">

      <div class="forms">
        <div class="form-group"
             ng-class="{ 'has-error':  (config.form.name.$submitted || config.form.name.finish_date.$touched)   &&(config.form.name.finish_date.$invalid)  }">

          <label class="form-labels">
            <span class="required-sign">*</span> <span once-text="'Finish Date'|translate"></span>:</label>

          <div class="form-inputs">
            <input type="text"
                   class="datepicker-cst"
                   kendo-date-picker
                   name="finish_date"
                   ng-model="accountPrescriptionData.finishDate"
                   k-ng-model="accountPrescriptionData.finishDateObj"
                   ng-required="true"
              >

            <div ng-show="config.form.name.$submitted || config.form.name.finish_date.$touched">
              <p ng-show="config.form.name.finish_date.$error.required"
                 class="help-block help-block-error">
                <span once-text="'This field is required'|translate"></span>
              </p>

              <p ng-show="config.form.name.finish_date.$error.csmKendoDate"
                 class="help-block help-block-error">
                <span once-text="'Invalid Date'|translate"></span>
              </p>
            </div>
          </div>
        </div>
      </div>

      <table class="table table-striped table-bordered">
        <thead>
        <tr>
          <th><strong class="required-sign">*</strong> <strong once-text="'Client'|translate"></strong></th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td class="half-width">
            <span ng-if="!accountPrescriptionData.clientAccount.name">......</span>
            <span>{{accountPrescriptionData.clientAccount.name}}</span>
            <input
              type="hidden"
              name="client"
              ng-required="true"
              ng-model="accountPrescriptionData.clientAccount.name">

            <div ng-class="{ 'has-error':config.form.name.$submitted &&(config.form.name.client.$invalid)}"
                 ng-show="config.form.name.$submitted">
              <p ng-show="config.form.name.client.$error.required"
                 class="help-block help-block-error">
                <span once-text="'You have to select client!'|translate"></span>
              </p>
            </div>

          </td>
          <td>
            <md-button class="md-fab md-micro"
                       aria-label="Mini FAB"
                       ng-click="findAccount()">
              <i class="glyphicon glyphicon-search micro-glyphicon"></i>
              <md-tooltip>
                <span once-text="'Find Client'|translate"></span>
              </md-tooltip>

            </md-button>
          </td>
        </tr>
        </tbody>
      </table>
      <!--Client-->
      <div ng-if="config.isBrokerSearchEnabled">
        <table class="table table-striped table-bordered">
          <thead>
          <tr>
            <th><strong class="required-sign">*</strong> <strong once-text="'İnvestisiya şirkəti'|translate"></strong></th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td class="half-width">
              <span ng-if="!accountPrescriptionData.broker.name">......</span>
              <span>{{accountPrescriptionData.broker.name}}</span>
              <input
                type="hidden"
                name="broker"
                ng-required="true"
                ng-model="accountPrescriptionData.broker.name">

              <div ng-class="{ 'has-error':config.form.name.$submitted &&(config.form.name.broker.$invalid)}"
                   ng-show="config.form.name.$submitted">
                <p ng-show="config.form.name.broker.$error.required"
                   class="help-block help-block-error">
                  <span once-text="'You have to select broker!'|translate"></span>
                </p>
              </div>

            </td>
            <td>
              <md-button class="md-fab md-micro"
                         aria-label="Mini FAB"
                         ng-click="findBroker()">
                <i class="glyphicon glyphicon-search micro-glyphicon"></i>
                <md-tooltip>
                  <span once-text="'Find Member'|translate"></span>
                </md-tooltip>

              </md-button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <!--Broker-->
      <table class="table table-striped table-bordered">
        <thead>
        <tr>
          <th><span class="required-sign">*</span> <span once-text="'Action Class'|translate"></span></th>
          <th once-text="'Instruments'|translate"></th>
          <th once-text="'Specific Instrument'|translate"></th>
          <th once-text="'Quantity'|translate"></th>
          <th once-text="'Selected Quantity'|translate"></th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr data-ng-repeat="item in accountPrescriptionData.items">
          <td>
            <div class="form-group" ng-class="{ 'has-error': (config.form.name.$submitted || config.form.name['action_class_'+$index].$touched)
                 &&(config.form.name['action_class_'+$index].$invalid)  }">
              <select
                name="action_class_{{$index}}"
                ng-model="item.actionClass"
                ng-required="true"
                >
                <option value="">---</option>
                <option
                  value="{{cl|json}}"
                  ng-repeat="cl in  metaData.actionClasses">
                  {{cl['name'+lnC]}}
                </option>
              </select>

              <div ng-show="config.form.name.$submitted || config.form.name['action_class_'+$index].$touched">
                <p ng-show="config.form.name['action_class_'+$index].$error.required"
                   class="help-block help-block-error">
                  <span once-text="'This field is required'|translate"></span>
                </p>
              </div>
            </div>
          </td>
          <!--Action Class-->
          <td>
            <md-radio-group layout="row" ng-model="item.allInstrumentSelected"
                            ng-change="changeInstrumentSelection(item)" class="md-primary">

              <md-radio-button ng-value="true">

                <span once-text="'All'|translate"></span>

              </md-radio-button>

              <md-radio-button ng-value="false">

                <span once-text="'Specific'|translate"> </span>

              </md-radio-button>

            </md-radio-group>
          </td>
          <!--Instrument Type-->
          <td>

            <div ng-show="!item.allInstrumentSelected">
              <strong>{{item.instrument.ISIN}}</strong>
              <input
                class="k-textbox"
                type="hidden"
                name="ISIN_{{$index}}"
                ng-required="!item.allInstrumentSelected"
                ng-model="item.instrument.ISIN">

              <div
                ng-class="{ 'has-error': (config.form.name.$submitted && config.form.name['ISIN_'+$index].$invalid)  }"
                ng-show="config.form.name.$submitted ">
                <p ng-show="config.form.name['ISIN_'+$index].$error.required"
                   class="help-block help-block-error">
                  <span once-text="'This field is required'|translate"></span>
                </p>
              </div>
              <md-button
                ng-if="!item.allInstrumentSelected"
                class="md-fab md-micro"
                aria-label="Mini FAB"
                ng-click="findInstrument($index)">
                <i class="glyphicon glyphicon-plus micro-glyphicon"></i>
                <md-tooltip>
                  <span once-text="'Find Instrument'|translate"></span>
                </md-tooltip>

              </md-button>
            </div>
          </td>
          <!--Specific Instrument-->
          <td>
            <md-radio-group ng-show="!item.allInstrumentSelected" layout="row" ng-model="item.hasRestrictionToQuantity"
                            ng-change="quantityRestrictionChange(item)" class="md-primary">

              <md-radio-button ng-value="false">

                <span once-text="'All'|translate"></span>

              </md-radio-button>

              <md-radio-button ng-value="true">

                <span once-text="'Specific Quantity'|translate"> </span>

              </md-radio-button>

            </md-radio-group>
          </td>
          <td>
            <div ng-show="!item.allInstrumentSelected && item.hasRestrictionToQuantity">
              <input
                class="k-textbox"
                type="number"
                name="qty_{{$index}}"
                min="0"
                ng-required="item.hasRestrictionToQuantity"
                ng-model="item.quantity">

              <div
                ng-class="{ 'has-error': (config.form.name.$submitted && config.form.name['qty_'+$index].$invalid)  }"
                ng-show="config.form.name.$submitted ">
                <p ng-show="config.form.name['qty_'+$index].$error.required"
                   class="help-block help-block-error">
                  <span once-text="'This field is required'|translate"></span>
                </p>

                <p ng-show="config.form.name['qty_'+$index].$error.number"
                   class="help-block help-block-error">
                  <span once-text="'Wrong number'|translate"></span>
                </p>

                <p ng-show="config.form.name['qty_'+$index].$error.min"
                   class="help-block help-block-error">
                  <span once-text="'Wrong number'|translate"></span>
                </p>
              </div>
            </div>
          </td>
          <td>
            <md-button
              ng-if="$index>0"
              class="md-fab md-micro"
              aria-label="Mini FAB"
              ng-click="removeItem($index,accountPrescriptionData.items)">
              <i class="glyphicon glyphicon-remove micro-glyphicon"></i>
              <md-tooltip>
                <span once-text="'Delete'|translate"></span>
              </md-tooltip>

            </md-button>
            <!--Remove Button-->
          </td>

        </tr>
        </tbody>
      </table>
      <!--Items-->
      <div class="col-lg-11">
        <div class="form-group">
          <md-button
            class="md-fab md-micro"
            aria-label="Mini FAB"
            ng-click="addNewItem(accountPrescriptionData.items)">
            <i class="glyphicon glyphicon-plus micro-glyphicon"></i>
            <md-tooltip>
              <span once-text="'Add New Item'|translate"></span>
            </md-tooltip>

          </md-button>

        </div>
      </div>
    </div>

  </div>

</div>
