<div class="window-extend-block" data-extend-template="app/common/templates/operation-window-layout.html">
  <div data-block="content" class="window-main-content">
    <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11">
      <table class="table table-striped table-bordered">
        <thead>
        <tr>
          <th><strong once-text="'Finish Date'|translate"></strong></th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td class="half-width">
            <span>{{taskData.finishDate |date: 'short'}}</span>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11">
      <table class="table table-striped table-bordered">
        <thead>
        <tr>
          <th><strong once-text="'Client'|translate"></strong></th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td class="half-width">
            <span once-text="taskData.clientAccount.name"></span>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <!--Client-->
    <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11">
      <table class="table table-striped table-bordered">
        <thead>
        <tr>
          <th><strong once-text="'Broker'|translate"></strong></th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td class="half-width">
            <span once-text="taskData.broker.name"></span>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <!--Broker-->
    <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11">
      <table class="table table-striped table-bordered">
        <thead>
        <tr>
          <th><span class="required-sign">*</span> <span once-text="'Action Class'|translate"></span></th>
          <th once-text="'Selected Instruments'|translate"></th>
          <th once-text="'Specific Instrument'|translate"></th>
          <th once-text="'Quantity'|translate"></th>
          <th once-text="'Selected Quantity'|translate"></th>
        </tr>
        </thead>
        <tbody>
        <tr data-ng-repeat="item in taskData.items">
          <td>
            {{item.actionClass['name'+lnC]}}
          </td>
          <!--Action Class-->
          <td>
            <span ng-if="!item.instrument.id" once-text="'All Instruments'|translate"></span>
            <span ng-if="item.instrument.id" once-text="'Specific Instrument'|translate"></span>
          </td>
          <!--Instrument Type-->
          <td>
            <strong>{{item.instrument.ISIN}}</strong>
          </td>
          <td>
            <div ng-if="item.instrument.id">
              <span ng-if="item.hasRestrictionToQuantity ==false" once-text="'All Quantity'|translate"></span>
              <span ng-if="item.hasRestrictionToQuantity ==true" once-text="'Specific Quantity'|translate"></span>
            </div>
          </td>
          <td>
            <strong>{{item.quantity}}</strong>
          </td>
          <!--Specific Instrument-->
        </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
