<div class="window-extend-block" data-extend-template="app/common/templates/operation-window-layout.html">
  <div data-block="content" class="window-main-content">

    <div class="alert alert-info">
      <strong class="glyphicon glyphicon-info-sign"></strong> <span once-text="'Accounts can match by the four attributes - Name, Address, Unique Code, ID Document.
      Rows with the red color shows that accounts matches by these fields.'|translate"></span>
    </div>
    <!--<uib-accordion close-others="true">-->
    <div ng-repeat="dAccount in duplicateAccountData.matchedAccounts">
      <!--<uib-accordion-heading>-->
      <!--<strong once-text="dAccount.account.name"></strong> - <strong-->
      <!--once-text="dAccount.similarAccount.name"></strong>-->

      <!--<div class="inline-block pull-right">-->
      <!--<i class="glyphicon pull-right person-search-accordion-icon"></i>-->
      <!--</div>-->
      <!--</uib-accordion-heading>-->
      <table bindonce class="table table-striped table-hover table-responsive table-bordered ">
        <tbody>

        <tr bo-class="dAccount.matchedByName?'danger':''">
          <td class="col-md-5 col-xs-5 col-lg-5 col-sm-5">
            <b once-text="dAccount.account.name"></b>
          </td>
          <td class="col-md-5 col-xs-5 col-lg-5 col-sm-5">
            <b once-text="dAccount.similarAccount.name"></b>
          </td>
        </tr>
        <tr bo-class="dAccount.matchedByAddress?'danger':''">
          <td class="col-md-5 col-xs-5 col-lg-5 col-sm-5">
            <b once-text="dAccount.account.address"></b>
          </td>
          <td class="col-md-5 col-xs-5 col-lg-5 col-sm-5">
            <b once-text="dAccount.similarAccount.address"></b>
          </td>
        </tr>
        <tr bo-class="dAccount.matchedByUniqueCode?'danger':''">
          <td class="col-md-5 col-xs-5 col-lg-5 col-sm-5">
            <b once-text="dAccount.account.uniqueCode"></b>
          </td>
          <td class="col-md-5 col-xs-5 col-lg-5 col-sm-5">
            <b once-text="dAccount.similarAccount.uniqueCode"></b>
          </td>
        </tr>
        <tr bo-class="dAccount.matchedByIDDocument?'danger':''">
          <td class="col-md-5 col-xs-5 col-lg-5 col-sm-5">
            <b once-text="dAccount.account.document"></b>
          </td>
          <td class="col-md-5 col-xs-5 col-lg-5 col-sm-5">
            <b once-text="dAccount.similarAccount.document"></b>
          </td>
        </tr>
        </tbody>
      </table>

      <hr/>
      <!--</uib-accordion-group>-->
    </div>
  </div>
</div>
