<div class="window-extend-block" data-extend-template="app/common/templates/operation-window-layout.html">
  <div data-block="content" class="window-main-content">
    <table class="table table-striped table-hover table-responsive table-bordered">
      <tbody>
        <tr>
          <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6">ID:</td>
          <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6">{{taskData.id}}</td>
        </tr>
        <tr>
          <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6">Emitentin Adı:</td>
          <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6">{{taskData.name}}</td>
        </tr>
        <tr>
          <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6">Sinif:</td>
          <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6">{{taskData.distribution}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
