<div class="window-extend-block" data-extend-template="app/common/templates/operation-window-layout.html">
  <div data-block="content" class="window-main-content">
    <div
      role="form"
      ng-form="config.form.name"
    >
      <table class="table table-striped table-bordered">
        <thead>
        <tr>
          <th><strong class="required-sign">*</strong> <strong once-text="'ID'|translate"></strong></th>
          <th><strong class="required-sign">*</strong> <strong once-text="'Name'|translate"></strong></th>
          <th><strong class="required-sign">*</strong> <strong once-text="'Paylanma Sinifi'|translate"></strong></th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td style="width:10%;">
            <span ng-if="!data.id">......</span>
            <span>{{data.id}}</span>
            <input
              class="k-textbox"
              type="hidden"
              name="accountId"
              ng-required="true"
              ng-model="data.exemptID">

            <div ng-class="{ 'has-error':
                 (config.form.name.$submitted || config.form.name.accountId.$touched)
                 &&(config.form.name.accountId.$invalid)  }"
                 ng-show="config.form.name.$submitted || config.form.name.accountId.$touched">
              <p ng-show="config.form.name.accountId.$error.required"
                 class="help-block help-block-error">
                <span once-text="'This field is required'|translate"></span>
              </p>
            </div>

          </td>
          <td class="half-width">
            <span ng-if="!data.name">......</span>
            <span> {{data.name}}</span>
            <input
              class="k-textbox"
              type="hidden"
              name="personName"
              ng-required="true"
              ng-model="data.name">

            <div ng-class="{ 'has-error':
                     (config.form.name.$submitted || config.form.name.personName.$touched)
                     &&(config.form.name.personName.$invalid)  }"
                 ng-show="config.form.name.$submitted || config.form.name.personName.$touched">
              <p ng-show="config.form.name.personName.$error.required"
                 class="help-block help-block-error">
                <span once-text="'This field is required'|translate"></span>
              </p>
            </div>

          </td>
          <td class="half-width">
            <span ng-if="!data.distribution">......</span>
            <span> {{data.distribution}}</span>
            <input
              class="k-textbox"
              type="hidden"
              name="personName2"
              ng-required="true"
              ng-model="data.distribution">

            <div ng-class="{ 'has-error':
                     (config.form.name.$submitted || config.form.name.personName2.$touched)
                     &&(config.form.name.personName2.$invalid)  }"
                 ng-show="config.form.name.$submitted || config.form.name.personName2.$touched">
              <p ng-show="config.form.name.personName2.$error.required"
                 class="help-block help-block-error">
                <span once-text="'This field is required'|translate"></span>
              </p>
            </div>

          </td>
          <td>
            <md-button aria-label="button" ng-click="findTaxExempt()" class="md-fab md-micro">
              <i class="glyphicon glyphicon-search micro-glyphicon"></i>
              <md-tooltip md-direction="bottom">
                <span>Axtar</span>
              </md-tooltip>
            </md-button>
          </td>
        </tr>
        </tbody>
    </table>
    </div>
  </div>
</div>
