<div class="window-extend-block" data-extend-template="app/common/templates/operation-window-layout.html">
  <div data-block="content" class="window-main-content">
    <div
      role="form"
      ng-form="config.form.name"
    >
      <div class="forms">
            <div class="form-group" ng-class="{ 'has-error':  (config.form.name.$submitted || config.form.name.selectedSigner.$touched)
                                              &&(config.form.name.selectedSigner.$invalid)  }">
                <label class="form-labels"><span class="required-sign">*</span>
                    <span once-text="'Paylanma Sinifi'|translate"></span>:</label>

                <div class="form-inputs">
                    <select ng-model="data.distributionClass"
                            name="selectedCouponPaymentMethodClass"
                    >
                      <option value="">---</option>
                      <option value="{{value|json}}" ng-disabled="data[value.id]" ng-repeat="value in metaData.couponPaymentMethodClasses">{{value['nameAz']}}</option>
                    </select>
                    <div ng-show="config.form.name.$submitted || config.form.name.selectedCouponPaymentMethodClass.$touched">
                        <p ng-show="config.form.name.selectedCouponPaymentMethodClass.$error.required"
                           class="help-block help-block-error">
                            <span once-text="'This field is required'|translate"></span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
      <table class="table table-striped table-bordered">
        <thead>
        <tr>
          <th><strong class="required-sign">*</strong> <strong once-text="'ID'|translate"></strong></th>
          <th><strong class="required-sign">*</strong> <strong once-text="'Name'|translate"></strong></th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td class="half-width">
            <span ng-if="!data.personID">......</span>
            <span>{{data.personID}}</span>
            <input
              class="k-textbox"
              type="hidden"
              name="personID"
              ng-required="true"
              ng-model="data.personID">

            <div ng-class="{ 'has-error':
                 (config.form.name.$submitted || config.form.name.personID.$touched)
                 &&(config.form.name.personID.$invalid)  }"
                 ng-show="config.form.name.$submitted || config.form.name.personID.$touched">
              <p ng-show="config.form.name.personID.$error.required"
                 class="help-block help-block-error">
                <span once-text="'This field is required'|translate"></span>
              </p>
            </div>

          </td>
          <td class="half-width">
            <span ng-if="!data.name">......</span>
            <span> {{data.name}}</span>
            <input
              class="k-textbox"
              type="hidden"
              name="personName"
              ng-required="true"
              ng-model="data.name">

            <div ng-class="{ 'has-error':
                     (config.form.name.$submitted || config.form.name.personName.$touched)
                     &&(config.form.name.personName.$invalid)  }"
                 ng-show="config.form.name.$submitted || config.form.name.personName.$touched">
              <p ng-show="config.form.name.personName.$error.required"
                 class="help-block help-block-error">
                <span once-text="'This field is required'|translate"></span>
              </p>
            </div>

          </td>
          <td>
            <md-button aria-label="button" ng-click="findShareholder()" class="md-fab md-micro">
              <i class="glyphicon glyphicon-search micro-glyphicon"></i>
              <md-tooltip md-direction="bottom">
                <span>Axtar</span>
              </md-tooltip>
            </md-button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
