<div class="window-extend-block" data-extend-template="app/common/templates/operation-window-layout.html">
  <div data-block="content" class="window-main-content">

    <table class="table table-striped table-hover table-responsive table-bordered">
      <tbody>

      <tr>
        <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4"><b once-text="'Finish Date'|translate"></b></td>
        <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4"> {{taskData.finishDate |date: 'short'}}
        </td>
      </tr>
      <tr>
        <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4"><b once-text="'Client'|translate"></b></td>
        <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4">{{taskData.clientAccount.name}} -
          {{taskData.clientAccount.accountNumber}}
        </td>
      </tr>
      <tr>
        <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4"><b once-text="'Broker'|translate"></b>
        </td>
        <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4">{{taskData.broker.name}} - {{taskData.broker.accountNumber}}
        </td>
      </tr>
      <tr>
        <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4"><b once-text="'Instruments'|translate"></b>
        </td>
        <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4">
          <span ng-if="taskData.allInstruments ==true">
            <span once-text="'All Instruments'|translate"></span>
          </span>
          <span ng-if="taskData.allInstruments ==false"><span
            once-text="'Specific Instruments'|translate"></span></span>
        </td>
      </tr>
      </tbody>
    </table>

    <div ng-if="!taskData.allInstruments">
      <hr/>
      <h4 once-text="'Instruments'|translate"></h4>

      <table class="table table-striped table-hover table-responsive table-bordered ">
        <thead>
        <th once-text="'ISIN'|translate"></th>
        </thead>
        <tbody>
        <tr ng-repeat="instrument in taskData.instruments">
          <td>{{instrument.ISIN}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
