<div class="window-extend-block" data-extend-template="app/common/templates/operation-window-layout.html">
  <div data-block="content" class="window-main-content">

    <div role="form" ng-form="config.form.name" ng-submit="config.buttons.complete.click()">

      <div class="forms">
        <div class="form-group"
             ng-class="{ 'has-error':  (config.form.name.$submitted || config.form.name.finish_date.$touched)   &&(config.form.name.finish_date.$invalid)  }">

          <label class="form-labels">
            <span class="required-sign">*</span> <span once-text="'Finish Date'|translate"></span>:</label>

          <div class="form-inputs">
            <input type="text"
                   class="datepicker-cst"
                   kendo-date-picker
                   name="finish_date"
                   ng-model="accountPrescriptionData.finishDate"
                   k-ng-model="accountPrescriptionData.finishDateObj"

                   ng-required="true"
              >
            <!--csm-kendo-date-min="{{dateConstants.tomorrow|date}}"-->
            <div ng-show="config.form.name.$submitted || config.form.name.finish_date.$touched">
              <p ng-show="config.form.name.finish_date.$error.required"
                 class="help-block help-block-error">
                <span once-text="'This field is required'|translate"></span>
              </p>

              <p ng-show="config.form.name.finish_date.$error.csmKendoDate"
                 class="help-block help-block-error">
                <span once-text="'Invalid Date'|translate"></span>
              </p>
              <p ng-show="config.form.name.finish_date.$error.csmKendoDateMin"
                 class="help-block help-block-error">
                <span once-text="'You can\'t select date which is past than tomorrow.'|translate"></span>
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="forms-550">
        <div class="form-group">

          <label class="form-labels">
            <span once-text="'Instruments'|translate"></span>:</label>

          <div class="form-inputs">
            <md-radio-group layout="row" ng-model="accountPrescriptionData.allInstruments"
                            class="horizontal-form-checkbox">
              <md-radio-button ng-value="true" class="freezing-radio-buttons"><span
                once-text="'All Instruments'|translate"></span></md-radio-button>
              <md-radio-button ng-value="false" class="md-primary"><span
                once-text="'Specific Instruments'|translate"></span></md-radio-button>
            </md-radio-group>
          </div>
        </div>
      </div>
      <table class="table table-striped table-bordered">
        <thead>
        <tr>
          <th><strong class="required-sign">*</strong> <strong once-text="'Client'|translate"></strong></th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td class="half-width">
            <span ng-if="!accountPrescriptionData.clientAccount.name">......</span>
            <span>{{accountPrescriptionData.clientAccount.name}}</span>
            <input
              type="hidden"
              name="client"
              ng-required="true"
              ng-model="accountPrescriptionData.clientAccount.name">

            <div ng-class="{ 'has-error':config.form.name.$submitted &&(config.form.name.client.$invalid)}"
                 ng-show="config.form.name.$submitted">
              <p ng-show="config.form.name.client.$error.required"
                 class="help-block help-block-error">
                <span once-text="'You have to select client!'|translate"></span>
              </p>
            </div>

          </td>
          <td>
            <md-button class="md-fab md-micro"
                       aria-label="Mini FAB"
                       ng-click="findAccount()">
              <i class="glyphicon glyphicon-search micro-glyphicon"></i>
              <md-tooltip>
                <span once-text="'Find Client'|translate"></span>
              </md-tooltip>

            </md-button>
          </td>
        </tr>
        </tbody>
      </table>
      <!--Client-->
      <div ng-if="config.isBrokerSearchEnabled">
        <table class="table table-striped table-bordered">
          <thead>
          <tr>
            <th><strong class="required-sign">*</strong> <strong once-text="'Broker'|translate"></strong></th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td class="half-width">
              <span ng-if="!accountPrescriptionData.broker.name">......</span>
              <span>{{accountPrescriptionData.broker.name}}</span>
              <input
                type="hidden"
                name="broker"
                ng-required="true"
                ng-model="accountPrescriptionData.clientAccount.name">

              <div ng-class="{ 'has-error':config.form.name.$submitted &&(config.form.name.broker.$invalid)}"
                   ng-show="config.form.name.$submitted">
                <p ng-show="config.form.name.broker.$error.required"
                   class="help-block help-block-error">
                  <span once-text="'You have to select broker!'|translate"></span>
                </p>
              </div>

            </td>
            <td>
              <md-button class="md-fab md-micro"
                         aria-label="Mini FAB"
                         ng-click="findBroker()">
                <i class="glyphicon glyphicon-search micro-glyphicon"></i>
                <md-tooltip>
                  <span once-text="'Find Member'|translate"></span>
                </md-tooltip>

              </md-button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <!--Broker-->
      <table class="table table-striped table-bordered"
             ng-if="!accountPrescriptionData.allInstruments && accountPrescriptionData.clientAccount.name">
        <thead>
        <tr>
          <th once-text="'ISIN'|translate"></th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr data-ng-repeat="item in accountPrescriptionData.instruments">

          <td>
            <strong>{{item.ISIN}}</strong>
            <input
              class="k-textbox"
              type="hidden"
              name="ISIN_{{$index}}"
              ng-required="true"
              ng-model="item.ISIN">

            <div
              ng-class="{ 'has-error': (config.form.name.$submitted && config.form.name['ISIN_'+$index].$invalid)  }"
              ng-show="config.form.name.$submitted ">
              <p ng-show="config.form.name['ISIN_'+$index].$error.required"
                 class="help-block help-block-error">
                <span once-text="'This field is required'|translate"></span>
              </p>
            </div>
            <md-button

              class="md-fab md-micro"
              aria-label="Mini FAB"
              ng-click="findInstrument($index)">
              <i class="glyphicon glyphicon-search micro-glyphicon"></i>
              <md-tooltip>
                <span once-text="'Find Instrument'|translate"></span>
              </md-tooltip>

            </md-button>
          </td>
          <!--Specific Instrument-->
          <td>
            <md-button
              ng-if="$index>0"
              class="md-fab md-micro"
              aria-label="Mini FAB"
              ng-click="removeItem($index,accountPrescriptionData.instruments)">
              <i class="glyphicon glyphicon-remove micro-glyphicon"></i>
              <md-tooltip>
                <span once-text="'Delete'|translate"></span>
              </md-tooltip>

            </md-button>
            <!--Remove Button-->
          </td>
        </tr>
        </tbody>
      </table>
      <!--instruments-->
      <div class="col-lg-11"
           ng-if="!accountPrescriptionData.allInstruments && accountPrescriptionData.clientAccount.name">
        <div class="form-group">
          <md-button
            class="md-fab md-micro"
            aria-label="Mini FAB"
            ng-click="addNewItem(accountPrescriptionData.instruments)">
            <i class="glyphicon glyphicon-plus micro-glyphicon"></i>
            <md-tooltip>
              <span once-text="'Add New Item'|translate"></span>
            </md-tooltip>

          </md-button>

        </div>
      </div>
    </div>

  </div>

</div>
