<div class="window-extend-block" data-extend-template="app/common/templates/view-window-layout.html">
  <div class="div-full-height" data-block="content" ng-include="'app/common/templates/partials/view-iamas-account-search-template.html'" ng-controller="ViewIamasAccountSearchController">
  </div>
</div>

