<div class="window-extend-block" data-extend-template="app/common/templates/view-window-layout.html">
  <div class="div-full-height" data-block="content" ng-include="'app/accounts/templates/partials/account-consolidations-search-template.html'"
       ng-controller="ViewAccountConsolidationsSearchTemplateController">
  </div>
</div>

