<div class="window-extend-block" data-extend-template="app/common/templates/view-window-layout.html">
<div class="div-full-height" data-block="content" ng-include="'app/settlement/templates/partials/net-instrument-obligation-search-template.html'"
       ng-controller="NetInstrumentObligationSearchTemplateController">
  </div>
</div>
