<div class="window-extend-block" data-extend-template="app/common/templates/operation-window-layout.html">
  <div data-block="content" class="padding10">
    <div
      kendo-grid="config.grid"
      k-options="mainGridOptions"
      k-pageable='{ "pageSize": 20, "refresh": false, "pageSizes": true }'
      k-resizable="true"
      >
    </div>
  </div>

</div>
