<div class="window-extend-block" data-extend-template="app/common/templates/operation-window-layout.html">
  <div data-block="content">
    <div class="person-find-result-block padding-top-10 early-settlement" ng-form="config.form.name"
         ng-submit="config.buttons.complete.click()">
      <div
        kendo-grid="config.grid"
        k-options="mainGridOptions"
        k-pageable='{ "pageSize": 20, "refresh": false, "pageSizes": true, "buttonCount": 5 }'
        k-resizable="true"
        k-scrollable="true"
        k-sortable="true"
       >




      </div>
    </div>
  </div>
</div>
