
<div class="row">
  <div class="col-lg-5 col-md-5  col-sm-11 col-xs-11 ">
    <table class="table table-striped table-hover table-responsive table-bordered ">
      <tbody>

      <tr ng-if="address.country">
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><span once-text="'Country'|translate"></span></td>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><b>{{address.country['name'+lnC]}}</b></td>
      </tr>
      <tr ng-if="address.postalCode">
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><span once-text="'Postal Code'|translate"></span></td>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><b>{{address.postalCode}}</b></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
    <table class="table table-striped table-hover table-responsive table-bordered ">
      <tbody>

      <tr ng-if="address.addressLineAz">
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><span once-text="'Address Line'|translate"></span> (AZ)</td>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><b>{{address.addressLineAz}}</b></td>
      </tr>

      <tr ng-if="address.plainAddressAz">
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><span once-text="'Address Line'|translate"></span> (AZ)</td>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><b>{{address.plainAddressAz}}</b></td>
      </tr>


      <tr ng-if="address.locationsAz">
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><span once-text="'Locations'|translate"></span> (AZ)</td>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><b>{{address.locationsAz}}</b></td>
      </tr>


      <tr ng-if="address.stateAz">
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><span once-text="'State'|translate"></span> (AZ)</td>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><b>{{address.stateAz}}</b></td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
    <table class="table table-striped table-hover table-responsive table-bordered ">
      <tbody>

      <tr ng-if="address.addressLineEn">
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><span once-text="'Address Line'|translate"></span> (EN)</td>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><b>{{address.addressLineEn}}</b></td>
      </tr>


      <tr ng-if="address.locationsEn">
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><span once-text="'Locations'|translate"></span> (EN)</td>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><b>{{address.locationsEn}}</b></td>
      </tr>


      <tr ng-if="address.stateEn">
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><span once-text="'State'|translate"></span> (EN)</td>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><b>{{address.stateEn}}</b></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
</div>
