<div class="table-responsive">
  <table class="table border bordered">
    <thead>
    <tr>
      <th class="sortable-column"><span once-text="'Bank Name'|translate"></span>(AZ)</th>
      <th class="sortable-column"><span once-text="'Branch Name'|translate"></span>(AZ)</th>
      <th class="sortable-column" once-text="'Account No.'|translate"></th>
      <th class="sortable-column" once-text="'Correspondent Account'|translate"></th>
      <th class="sortable-column" once-text="'Current Account'|translate"></th>
      <th class="sortable-column" once-text="'IBAN'|translate"></th>
      <th class="sortable-column" once-text="'TIN'|translate"></th>
      <th class="sortable-column" once-text="'SWIFTBIC'|translate"></th>
      <th class="sortable-column" once-text="'Currency'|translate"></th>
    </tr>
    </thead>

    <tbody>
    <tr ng-repeat="account in  person.bankAccounts">
      <td>{{account.bankNameAz}}</td>
      <td>{{account.branchNameAz}}</td>
      <td>{{account.account}}</td>
      <td>{{account.correspondentAccount}}</td>
      <td>{{account.currentAccount}}</td>
      <td>{{account.iban}}</td>
      <td>{{account.tin}}</td>
      <td>{{account.swiftbic}}</td>
      <td>{{account.currency.nameAz}}</td>
    </tr>
    </tbody>
  </table>
</div>
