<table class="table border bordered table-half">
  <thead>
  <tr>
    <th class="sortable-column " once-text="'Phone Number Type'|translate"></th>
    <th class="sortable-column " once-text="'Number'|translate"></th>
  </tr>
  </thead>

  <tbody>
  <tr ng-repeat="phone in person.phoneNumbers">
    <td>{{phone.type['name'+lnC]}}</td>
    <td>{{phone.number}}</td>
  </tr>
  </tbody>
</table>

<table class="table border bordered table-half">
  <thead>
  <tr>
    <th class="sortable-column " once-text="'Email'|translate"></th>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="email in person.emails">
    <td>{{email.value}}</td>
  </tr>
  </tbody>
</table>
