<table class="table border bordered table-half" >
<thead>
<tr>
  <th class="sortable-column " once-text="'Document Type'|translate"></th>
  <th class="sortable-column " once-text="'Series'|translate"></th>
  <th class="sortable-column " once-text="'Number'|translate"></th>

</tr>
</thead>

<tbody>
<tr ng-repeat="document in person.otherDocuments">
  <td>{{document.type['name'+lnC]}}</td>
  <td>{{document.series}}</td>
  <td>{{document.number}}</td>
</tr>
</tbody>
</table>
