<div class="row">
  <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
    <table class="table table-striped table-hover table-responsive table-bordered ">
      <tbody>

      <tr ng-if="person.name.nameAz">
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><span once-text="'Name'|translate"></span> (AZ)</td>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><b>{{person.name.nameAz}}</b></td>
      </tr>

      <tr ng-if="person.lastName.nameAz">
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><span once-text="'Last Name'|translate"></span> (AZ)</td>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><b>{{person.lastName.nameAz}}</b></td>
      </tr>

      <tr ng-if="person.firstName.nameAz">
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><span once-text="'First Name'|translate"></span> (AZ)</td>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><b>{{person.firstName.nameAz}}</b></td>
      </tr>


      <tr ng-if="person.middleName.nameAz">
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><span once-text="'Middle Name'|translate"></span> (AZ)</td>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><b>{{person.middleName.nameAz}}</b></td>
      </tr>
      <tr ng-if="person.abbreviation.nameAz">
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><span once-text="'Abbreviation'|translate"></span> (AZ)</td>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><b>{{person.abbreviation.nameAz}}</b></td>
      </tr>

      </tbody>
    </table>
  </div>
  <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
    <table class="table table-striped table-hover table-responsive table-bordered">
      <tbody>

      <tr ng-if="person.name.nameEn">
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><span once-text="'Name'|translate"></span> (EN)</td>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><b>{{person.name.nameEn}}</b></td>
      </tr>

      <tr ng-if="person.lastName.nameEn">
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><span once-text="'Last Name'|translate"></span> (EN)</td>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><b>{{person.lastName.nameEn}}</b></td>
      </tr>

      <tr ng-if="person.firstName.nameEn">
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><span once-text="'First Name'|translate"></span> (EN)</td>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><b>{{person.firstName.nameEn}}</b></td>
      </tr>

      <tr ng-if="person.middleName.nameEn">
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><span once-text="'Middle Name'|translate"></span> (EN)</td>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><b>{{person.middleName.nameEn}}</b></td>
      </tr>

      <tr ng-if="person.abbreviation.nameEn">
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><span once-text="'Abbreviation'|translate"></span> (EN)</td>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><b>{{person.abbreviation.nameEn}}</b></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
</div>

<div class="row">
  <div class="col-lg-5 col-md-5  col-sm-11 col-xs-11 ">
    <table class="table table-striped table-hover table-responsive table-bordered ">
      <tbody>

      <tr ng-if="person.personType">
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><span once-text="'Person Type'|translate"></span></td>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><b>{{person.personType['name'+lnC]}}</b></td>
      </tr>
      <tr ng-if="person.pinCode">
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><span once-text="'PIN Code'|translate"></span></td>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><b>{{person.pinCode.value}}</b></td>
      </tr>
      <tr ng-if="person.TIN">
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><span once-text="'TIN'|translate"></span></td>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><b>{{person.TIN.value}}</b></td>
      </tr>
      <tr ng-if="person.idCard.series">
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><span once-text="'ID Card (Series)'|translate"></span></td>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><b>{{person.idCard.series}}</b></td>
      </tr>
      <tr ng-if="person.idCard.number">
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><span once-text="'ID Card (Number)'|translate"></span></td>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><b>{{person.idCard.number}}</b></td>
      </tr>

      <tr ng-if="person.registrationCertificate.series">
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><span once-text="'Registration Certificate (Series)'|translate"></span></td>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><b>{{person.registrationCertificate.series}}</b></td>
      </tr>
      <tr ng-if="person.registrationCertificate.number">
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><span once-text="'Registration Certificate (Number)'|translate"></span></td>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><b>{{person.registrationCertificate.number}}</b></td>
      </tr>
      <tr ng-if="person.azipsCode">
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><span once-text="'AZIPS Code'|translate"></span></td>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><b>{{person.azipsCode.value}}</b></td>
      </tr>
      <tr ng-if="person.issuerCode">
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><span once-text="'Issuer Code'|translate"></span></td>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><b>{{person.issuerCode.value}}</b></td>
      </tr>
      <tr ng-if="person.BSEBrokerCode">
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><span once-text="'BSE Broker Code'|translate"></span></td>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><b>{{person.BSEBrokerCode.value}}</b></td>
      </tr>

      <tr ng-if="person.businessClass">
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><span once-text="'Business Class'|translate"></span></td>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><b>{{person.businessClass['name'+lnC]}}</b></td>
      </tr>
      <tr ng-if="person.legalFormClass">
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><span once-text="'Legal Form Class'|translate"></span></td>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><b>{{person.legalFormClass['name'+lnC]}}</b></td>
      </tr>
      <tr ng-if="person.birthday">
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><span once-text="'Birthday'|translate"></span></td>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><b>{{person.birthday|date: 'short'}}</b></td>
      </tr>
      <tr ng-if="person.creationDate">
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><span once-text="'Creation Date'|translate"></span></td>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><b>{{person.creationDate|date: 'short'}}</b></td>
      </tr>

      <tr ng-if="person.citizenshipCountry">
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><span once-text="'Citizenship Country'|translate"></span></td>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><b>{{person.citizenshipCountry['name'+lnC]}}</b></td>
      </tr>
      <tr ng-if="person.jurisdictionCountry">
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><span once-text="'Jurisdiction Country'|translate"></span></td>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><b>{{person.jurisdictionCountry['name'+lnC]}}</b></td>
      </tr>
      <tr ng-if="person.subjectToFatca == 'true'">
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><span once-text="'Subject to FATCA'|translate"></span></td>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><b once-text="'Yes'|translate"></b></td>
      </tr>
      <tr ng-if="person.noteOnFatca">
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><span once-text="'Note on FATCA'|translate"></span></td>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><b>{{person.noteOnFatca}}</b></td>
      </tr>
      <tr ng-if="person.position">
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><span once-text="'Position'|translate"></span></td>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><b>{{person.position['name'+lnC]}}</b></td>
      </tr>

      <tr ng-if="person.warrantStartDate">
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><span once-text="'Warrant Start Date'|translate"></span></td>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><b>{{person.warrantStartDate|date: 'short'}}</b></td>
      </tr>

      <tr ng-if="person.warrantEndDate">
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><span once-text="'Warrant End Date'|translate"></span></td>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><b>{{person.warrantEndDate|date: 'short'}}</b></td>
      </tr>

      <tr ng-if="person.settlementAgent">
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><span once-text="'Settlement Agent'|translate"></span></td>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><b>{{person.settlementAgent.name}}</b></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
