<div
  kendo-window="person.representativeAddWindow"
  k-title="subPersonName"
  k-modal="true"
  k-width="'80%'" k-height="'80%'" k-visible="false"
  >
  <div ng-include="'app/persons/templates/partials/sub-person-details.html'"></div>

</div>

<h4 once-text="'Representatives'|translate"></h4>
<table class="table border bordered">

  <thead>
  <tr>
    <th class="sortable-column " once-text="'Name'|translate"></th>
    <th class="sortable-column "></th>
  </tr>
  </thead>

  <tbody>
  <tr ng-repeat="representative in  person.representatives">
    <td>{{representative.name.nameAz}}</td>
    <td>

      <md-button
        type="button"
        class="md-fab md-micro"
        aria-label="View"
        ng-click="showSubPersonData($index, person.representatives,person.representativeAddWindow)">
        <i class="glyphicon glyphicon-eye-open micro-glyphicon"></i>
        <md-tooltip md-direction="down">
          <span once-text="'Show Details'|translate"></span>
        </md-tooltip>
      </md-button>
    </td>
  </tr>
  </tbody>

</table>
<hr/>

<h4 once-text="'Signers'|translate"></h4>
<table class="table border bordered">

  <thead>
  <tr>
    <th class="sortable-column " once-text="'Name'|translate"></th>
    <th class="sortable-column "></th>
  </tr>
  </thead>

  <tbody>
  <tr ng-repeat="representative in  person.signers">
    <td>{{representative.name.nameAz}}</td>
    <td>

      <md-button
        type="button"
        class="md-fab md-micro"
        aria-label="View"
        ng-click="showSubPersonData($index, person.signers,person.representativeAddWindow)">
        <i class="glyphicon glyphicon-eye-open micro-glyphicon"></i>
        <md-tooltip md-direction="down">
          <span once-text="'Show Details'|translate"></span>
        </md-tooltip>
      </md-button>

    </td>
  </tr>
  </tbody>

</table>

