<div
  kendo-window="person.signerAddWindow"
  k-title="subPersonName"

  k-modal="true"
  k-width="'80%'" k-height="'80%'" k-visible="false"


  >
  <div ng-include="'app/persons/templates/partials/sub-person-details.html' "></div>

</div>

<table class="table border bordered">

  <thead>
  <tr>
    <th class="sortable-column " once-text="'Last Name'|translate"></th>
    <th class="sortable-column " once-text="'First Name'|translate"></th>
    <th class="sortable-column " once-text="'Middle Name'|translate"></th>

    <th class="sortable-column "></th>
  </tr>
  </thead>

  <tbody>
  <tr ng-repeat="representative in  person.signers">
    <td>{{representative.lastName.nameAz}}</td>
    <td>{{representative.firstName.nameAz}}</td>
    <td>{{representative.middleName.nameAz}}</td>

    <td>
      <a class="k-button k-button-icontext k-grid-edit"
         ng-click="showSubPersonData($index, person.signers,person.signerAddWindow)">
        <span class="k-icon k-view"></span><span once-text="'Show Details'|translate"></span>
      </a>

    </td>
  </tr>
  </tbody>

</table>

