<div ng-controller="PersonDataChangesController" class="padding10">

  <uib-tabset>
    <uib-tab>
      <uib-tab-heading>
        <span once-text="'Personal Information'|translate"></span>
      </uib-tab-heading>
      <div ng-include="'app/persons/templates/partials/person-data-changes/panels/personal-info-panel.html'">
      </div>
    </uib-tab>
    <uib-tab ng-if="person.otherDocuments && person.otherDocuments.length ">
      <uib-tab-heading>
        <span once-text="'Other Documents'|translate"></span>
      </uib-tab-heading>
      <div ng-include="'app/persons/templates/partials/person-data-changes/panels/id-documents-panel.html'"></div>
    </uib-tab>
    <uib-tab ng-if="person.actualAddress.oldValue || person.actualAddress.newValue">
      <uib-tab-heading>
        <span once-text="'Actual Address'|translate"></span>
      </uib-tab-heading>
      <div ng-repeat="address in [person.actualAddress]"
           ng-include="'app/persons/templates/partials/person-data-changes/panels/address-panel.html'"></div>
    </uib-tab>
    <uib-tab ng-if="person.legalAddress.oldValue || person.legalAddress.newValue ">
      <uib-tab-heading>
        <span once-text="'Legal Address'|translate"></span>
      </uib-tab-heading>
      <div ng-repeat="address in [person.legalAddress]"
           ng-include="'app/persons/templates/partials/person-data-changes/panels/address-panel.html'"></div>
    </uib-tab>
    <uib-tab ng-if="person.phoneNumbers.length>0 || person.emails.length>0">
      <uib-tab-heading>
        <span once-text="'Contact Information'|translate"></span>
      </uib-tab-heading>
      <div ng-include="'app/persons/templates/partials/person-data-changes/panels/contact-info-panel.html'"></div>
    </uib-tab>

    <uib-tab ng-if="person.bankAccounts.length>0">
      <uib-tab-heading>
        <span once-text="'Bank Accounts'|translate"></span>
      </uib-tab-heading>
      <div ng-include="'app/persons/templates/partials/person-data-changes/panels/bank-accounts-panel.html'"></div>
    </uib-tab>

    <uib-tab ng-if="person.representatives.length>0 || person.signers.length>0">
      <uib-tab-heading>
        <span once-text="'Representatives'|translate"></span>
      </uib-tab-heading>
      <div ng-include="'app/persons/templates/partials/person-data-changes/panels/representatives-panel.html'"></div>
    </uib-tab>
    <uib-tab ng-if="person.userData">
      <uib-tab-heading>
        <span once-text="'User'|translate"></span>
      </uib-tab-heading>
      <div ng-include="'app/persons/templates/partials/person-data-changes/panels/user-panel.html'"></div>
    </uib-tab>


  </uib-tabset>


</div>
