<!-- Deponent -->
<div class="forms legend-heading-style">
  <div class="form-group" ng-class="{ 'has-error':
                 (buffers.addDeponent.config.form.name.$submitted || buffers.addDeponent.config.form.name.deponent.$touched)
                 &&(buffers.addDeponent.config.form.name.deponent.$invalid)  }">
    <label class="form-labels form-labels-xl"><span class="required-sign">*</span><span
      once-text="'Müqaviləni bağlayan deponent'|translate"></span>:</label>

    <div class="form-inputs">
      <input
        type="checkbox"
        ng-required="true"
        ng-model="data.deponent.isFound"
        ng-show="false"
        name="deponent"
      >
      <md-button
        class="md-fab md-micro"
        style="top:-13px;"
        aria-label="btn"
        ng-click="findDeponent()"
      >
        <i class="glyphicon glyphicon-search micro-glyphicon"></i>
      </md-button>
      <label style="float:right">{{data.deponent.foundDeponent.name}}</label> <!-- Deponent name. -->

      <div
        ng-show="buffers.addDeponent.config.form.name.$submitted || buffers.addDeponent.config.form.name.deponent.$touched">
        <p ng-show="buffers.addDeponent.config.form.name.deponent.$error.required"
           class="help-block help-block-error">
          <span once-text="'This field is required'|translate"></span>
        </p>
      </div>
    </div>
  </div>

</div>
<!--Start-->
<div class="forms">
  <div class="form-group" ng-class="{ 'has-error':
                 (buffers.addDeponent.config.form.name.$submitted || buffers.addDeponent.config.form.name.contract_number.$touched)
                 &&(buffers.addDeponent.config.form.name.contract_number.$invalid)  }">
    <label class="form-labels form-labels-xl"><span class="required-sign">*</span><span
      once-text="'Müqavilənin Nömrəsi'|translate"></span>:</label>

    <div class="form-inputs">
      <input type="text"
             class="k-textbox"
             name="contract_number"
             ng-model="data.deponent.contractNumber"
             ng-disabled="!data.deponent.isFound"
             ng-required="data.deponent.isFound"
             ng-maxlength="100"
             maxlength="100"
      >

      <div
        ng-show="buffers.addDeponent.config.form.name.$submitted || buffers.addDeponent.config.form.name.contract_number.$touched">
        <p ng-show="buffers.addDeponent.config.form.name.contract_number.$error.required"
           class="help-block help-block-error">
          <span once-text="'This field is required'|translate"></span>
        </p>
        <p ng-show="buffers.addDeponent.config.form.name.contract_number.$error.maxlength"
           class="help-block help-block-error">
          <span once-text="'Kontraktın nömrəsi 100 simvol və aşağı olmalıdır.'|translate"></span>
        </p>
      </div>
    </div>
  </div>

</div>
<div class="forms">
  <div class="form-group" ng-class="{ 'has-error':
                 (buffers.addDeponent.config.form.name.$submitted || buffers.addDeponent.config.form.name.start_date.$touched)
                 &&(buffers.addDeponent.config.form.name.start_date.$invalid)  }">
    <label class="form-labels form-labels-xl"><span class="required-sign">*</span><span
      once-text="'Müqavilənin bağlanma tarixi'|translate"></span>:</label>

    <div class="form-inputs">
      <input type="text"
             class="datepicker-cst"
             kendo-date-picker
             name="start_date"
             ng-model="data.deponent.contractDate"
             k-ng-model="data.deponent.contractDateObj"
             ng-disabled="!data.deponent.isFound"
             ng-required="data.deponent.isFound"
             csm-kendo-date-val
      >

      <div
        ng-show="buffers.addDeponent.config.form.name.$submitted || buffers.addDeponent.config.form.name.start_date.$touched">
        <p ng-show="buffers.addDeponent.config.form.name.start_date.$error.required"
           class="help-block help-block-error">
          <span once-text="'This field is required'|translate"></span>
        </p>

        <p ng-show="buffers.addDeponent.config.form.name.start_date.$error.csmdd"
           class="help-block help-block-error">
          <span once-text="'Please enter a valid date!'|translate"></span>
        </p>
      </div>
    </div>
  </div>

</div>
<!--Paid-->
<div class="forms">
  <div class="form-group">
    <label class="form-labels form-labels-xl"><span
      once-text="'Odənilibmi'|translate"></span>:</label>

    <div class="form-inputs">
      <md-checkbox
        ng-model="data.deponent.isPaid"
        class="md-checkbox-style"
        aria-label="checkbox 1"
        ng-disabled="!data.deponent.isFound"
      >

      </md-checkbox>
    </div>
  </div>

</div>
<!--end-->
<div class="forms">
  <div class="form-group" ng-class="{ 'has-error':
                 (buffers.addDeponent.config.form.name.$submitted || buffers.addDeponent.config.form.name.end_date.$touched)
                 &&(buffers.addDeponent.config.form.name.end_date.$invalid)  }">
    <label class="form-labels form-labels-xl"><span class="required-sign">*</span><span
      once-text="'Hansı tarixədək ödənilib'|translate"></span>:</label>

    <div class="form-inputs">
      <input type="text"
             class="datepicker-cst"
             kendo-date-picker
             name="end_date"
             ng-model="data.deponent.paidUntilDate"
             k-ng-model="data.deponent.paidUntilDateObj"
             ng-disabled="!data.deponent.isPaid"
             ng-required="data.deponent.isPaid"
             csm-kendo-date-val
      >

      <div
        ng-show="buffers.addDeponent.config.form.name.$submitted || buffers.addDeponent.config.form.name.end_date.$touched">
        <p ng-show="buffers.addDeponent.config.form.name.end_date.$error.required"
           class="help-block help-block-error">
          <span once-text="'This field is required'|translate"></span>
        </p>

        <p ng-show="buffers.addDeponent.config.form.name.end_date.$error.csmdd"
           class="help-block help-block-error">
          <span once-text="'Please enter a valid date!'|translate"></span>
        </p>
      </div>
    </div>
  </div>

</div>

