<div class="forms legend-heading-style">
  <div class="form-group" ng-class="{ 'has-error':
                 (buffers.editDeponent.config.form.name.$submitted || buffers.editDeponent.config.form.name.edit_date.$touched)
                 &&(buffers.editDeponent.config.form.name.edit_date.$invalid)  }">
    <label class="form-labels"><span
      once-text="'Hansı tarixədək ödənilib'|translate"></span>:</label>

    <div class="form-inputs">
      <input type="text"
             class="datepicker-cst"
             kendo-date-picker
             name="edit_date"
             ng-model="data.edit.startDate"
             k-ng-model="data.edit.startDateObj"
             k-min="minDate"
             ng-disabled="data.edit.isTerminated"
             csm-kendo-date-val
      >

      <div
        ng-show="buffers.editDeponent.config.form.name.$submitted || buffers.editDeponent.config.form.name.edit_date.$touched">
        <p ng-show="buffers.editDeponent.config.form.name.edit_date.$error.required"
           class="help-block help-block-error">
          <span once-text="'This field is required'|translate"></span>
        </p>

        <p ng-show="buffers.editDeponent.config.form.name.edit_date.$error.csmdd"
           class="help-block help-block-error">
          <span once-text="'Please enter a valid date!'|translate"></span>
        </p>
      </div>
    </div>
  </div>

</div>

<div class="forms">
  <div class="form-group">
    <label class="form-labels">
      <span>Hansı tarixədək ödənilib</span>:
    </label>
    <div class="form-inputs">
      <span>{{form.deponent.paidTillDate|date: 'shortDate'}}</span>
    </div>
  </div>
</div>
<div class="forms">
  <div class="form-group">
    <label class="form-labels">
      <span>Müqaviləni dondur</span>:
    </label>
    <div class="form-inputs">
      <md-checkbox
        class="md-checkbox-style"
        ng-model="data.edit.isSuspended"
        aria-label="checkbox ;"
        ng-click="data.edit.isTerminated = false"
      >
      </md-checkbox>
    </div>
  </div>
</div>
<div class="forms">
  <div class="form-group">
    <label class="form-labels">
      <span>Müqaviləni sil</span>:
    </label>
    <div class="form-inputs">
      <md-checkbox
        class="md-checkbox-style"
        ng-model="data.edit.isTerminated"
        aria-label="checkbox ;"
        ng-click="data.edit.isSuspended = false"
      >
      </md-checkbox>
    </div>
  </div>
</div>

