<div class="add-new-whitelistItem">
  <div class="add-new-whitelistItem-buttons">
    <md-button class="md-micro md-fab pull-right"
               aria-label="..."
               ng-click="closeWindow()"
               type="submit">
      <i class="glyphicon glyphicon-remove micro-glyphicon"></i>
      <md-tooltip md-direction="down">
        <span once-text="'Close'|translate"></span>
      </md-tooltip>
    </md-button>
    <md-button
      type="submit"
      aria-label="submit button"
      class="md-micro md-fab pull-right"
      ng-click="updatePerson()"
    >
      <i class="glyphicon glyphicon-ok micro-glyphicon"></i>
    </md-button>
  </div>
  <div
       ng-form="buffers.editDeponent.config.form.name"
       ng-if="form.whichForm === forms.editDeponent"
       class="add-new-whitelistItem-window no-scroll" ng-include="'app/management/templates/partials/deponent_edit_form.html'" novalidate>
  </div> <!-- editDeponent -->
  <div
       ng-form="buffers.addUser.config.form.name"
       ng-if="form.whichForm === forms.addUser"
       class="add-new-whitelistItem-window no-scroll" ng-include="'app/management/templates/partials/user_add_form.html'" novalidate>
  </div> <!-- addUser -->
  <div
       ng-form="buffers.addDeponent.config.form.name"
       ng-if="form.whichForm === forms.addDeponent"
       class="add-new-whitelistItem-window no-scroll" ng-include="'app/management/templates/partials/deponent_add_form.html'" novalidate>
  </div> <!-- addDeponent -->
</div>
