<div class="forms legend-heading-style">
  <div class="form-group" ng-class="{ 'has-error':
                 (buffers.addUser.config.form.name.$submitted || buffers.addUser.config.form.name.user_selected.$touched)
                 &&(buffers.addUser.config.form.name.user_selected.$invalid)  }">
    <div class="form-labels form-labels-250">
      <span class="required-sign">*</span>
      <span once-text="'Şəxsi seçin'"></span>:
    </div>
    <div class="form-inputs">
      <input type="checkbox"
             name="user_selected"
             ng-required="true"
             ng-show="false"
             ng-model="data.person.isUserSelected">
      <md-button
        aria-label="Person find button 1"
        ng-click="findPerson(form.deponent)"
        class="md-micro md-fab md-fab-form-button"
      >
        <i class="glyphicon glyphicon-search micro-glyphicon"></i>
      </md-button>
      <div
        ng-show="buffers.addUser.config.form.name.$submitted || buffers.addUser.config.form.name.user_selected.$touched">
        <p ng-show="buffers.addUser.config.form.name.user_selected.$error.required"
           class="help-block help-block-error">
          <span once-text="'This field is required'|translate"></span>
        </p>
      </div>
    </div>
  </div>
</div>
<!-- Result -->
<div ng-if="data.person.isUserSelected">
  <!--[[ Details-->
  <div class="forms">
    <div class="form-group">
      <label class="form-labels form-labels-250">
        Ad:
      </label>
      <div class="form-inputs">
        {{data.person.selected.name['name' + lnC]}}
      </div>
    </div>
  </div>
  <div class="forms">
    <div class="form-group">
      <label class="form-labels form-labels-250">
        Soyad:
      </label>
      <div class="form-inputs">
        {{data.person.selected.surname['name' + lnC]}}
      </div>
    </div>
  </div>
  <div class="forms">
    <div class="form-group">
      <label class="form-labels form-labels-250">
        Ata adı:
      </label>
      <div class="form-inputs">
        {{data.person.selected.fathername['name' + lnC]}}
      </div>
    </div>
  </div>
  <div class="forms">
    <div class="form-group">
      <label class="form-labels form-labels-250">
        Ünvan:
      </label>
      <div class="form-inputs">
        {{data.person.selected.address.value}}
      </div>
    </div>
  </div>
  <div class="forms">
    <div class="form-group">
      <label class="form-labels form-labels-250">
        FİN:
      </label>
      <div class="form-inputs">
        {{data.person.selected.fathername['name' + lnC]}}
      </div>
    </div>
  </div>
  <!--]]-->
  <div class="forms">
    <div class="form-group">
      <label class="form-labels form-labels-250">
        Asan imza ilə daxil olacaq:
      </label>
      <div class="form-inputs">
        <label class="input-checkbox">
          <md-checkbox
            aria-label="checkbox 2"
            class="md-checkbox-style"
            ng-model="data.person.isAsan"
          >

          </md-checkbox>
        </label>
      </div>
    </div>
  </div>
  <div class="forms" ng-if="!data.person.selected.isHasUsername">
    <div class="form-group" ng-class="{ 'has-error':
                 (buffers.addUser.config.form.name.$submitted || buffers.addUser.config.form.name.user_name.$touched)
                 &&(buffers.addUser.config.form.name.user_name.$invalid)  }">
      <label class="form-labels form-labels-250">
        <span class="required-sign">*</span>
        <span once-text="'İstifadəçi adı'"></span>:
      </label>
      <div class="form-inputs">
        <input type="text"
               name="user_name"
               ng-required="!data.person.isAsan && !data.person.selected.isHasUsername"
               ng-model="data.person.selected.user.value"
               ng-disabled="data.person.isAsan || data.person.selected.isHasUsername"
               class="k-textbox"
               ng-minlength="7"
               minlength="7"
               ng-pattern="/^[a-zA-Z0-9.]*$/"
        >
        <div
          ng-show="buffers.addUser.config.form.name.$submitted || buffers.addUser.config.form.name.user_name.$touched">
          <p ng-show="buffers.addUser.config.form.name.user_name.$error.required"
             class="help-block help-block-error">
            <span once-text="'This field is required'|translate"></span>
          </p>
          <p ng-show="buffers.addUser.config.form.name.user_name.$error.minlength"
             class="help-block help-block-error">
            <span once-text="'İstifadəçi adı minimum 7 simvol olmadlıdır.'|translate"></span>
          </p>

        </div>
      </div>
    </div>
  </div>
  <div class="forms">
    <div class="form-group" ng-class="{ 'has-error':
                 (buffers.addUser.config.form.name.$submitted || buffers.addUser.config.form.name.email.$touched)
                 &&(buffers.addUser.config.form.name.email.$invalid)  }">
      <label class="form-labels form-labels-250">
        <span class="required-sign">*</span>
        <span once-text="'İstifadəçi Emaili'"></span>:
      </label>
      <div class="form-inputs">
        <input type="email"
               name="email"
               ng-required="!data.person.isAsan"
               class="k-textbox"
               ng-disabled="data.person.isAsan"
               ng-model="data.person.selected.email.value"
        >
        <div
          ng-show="buffers.addUser.config.form.name.$submitted || buffers.addUser.config.form.name.email.$touched">
          <p ng-show="buffers.addUser.config.form.name.email.$error.required"
             class="help-block help-block-error">
            <span once-text="'This field is required'|translate"></span>
          </p>
          <p ng-show="buffers.addUser.config.form.name.email.$error.email"
             class="help-block help-block-error">
            <span once-text="'Email yanlışdır.'|translate"></span>
          </p>

        </div>
      </div>
    </div>
  </div>
</div>
