<div class="window-extend-block" data-extend-template="app/common/templates/operation-window-layout.html">
  <div data-block="content" class="window-main-content">
    <div role="form" ng-form="config.form.name" ng-submit="config.buttons.click()">
      <div class="forms">
        <div class="form-group">
          <label class="form-labels">
            <span once-text="'Start Date'|translate"></span>:</label>
          <div class="form-inputs">
            <input type="text"
                   class="datepicker-cst"
                   kendo-date-picker
                   name="start_date"
                   ng-model="searchData.createdDate.first"
                   k-ng-model="searchData.createdDate.firstObj"
              >
          </div>
        </div>
      </div>
      <div class="forms">
        <div class="form-group">
          <label class="form-labels">
            <span once-text="'End Date'|translate"></span>:</label>
          <div class="form-inputs">
            <input type="text"
                   class="datepicker-cst"
                   kendo-date-picker
                   name="end_date"
                   ng-model="searchData.createdDate.last"
                   k-ng-model="searchData.createdDate.lastObj"
              >
          </div>
        </div>
      </div>
      <div class="forms">
        <div class="form-group">
          <label class="form-labels">
            <span once-text="'EN'"></span>:
          </label>
          <div class="form-inputs">
            <md-switch ng-model="searchData.isEN" style="margin:0 !important;" name="" aria-label="Switch 1"
                   class=" md-cst-checkbox"></md-switch>
          </div>
        </div>
      </div>
      <div class="forms">
        <div class="form-group">
          <label class="form-labels" style="height:1px;"></label>
          <div class="form-inputs">
            <md-button type="button"
                       aria-label="Find Button"
                       ng-disabled="!searchData.createdDate.first"
                       class="md-primary md-raised"
                       ng-click="findAsb()"
                       style="margin:0;padding:0 !important;">
              <span once-text="'Search'|translate"></span>
            </md-button>
          </div>
        </div>
      </div>
      <div class="forms">
        <div class="form-group">
          <label class="form-labels">Seçilmiş Kağızların sayı: </label>
          <div class="form-inputs">
            <span>{{checkedIds.length}}</span>
          </div>
        </div>
      </div>
    </div>
    <div id="generateAnnaMasterFile">
      <div
        kendo-grid="mainGrid"
        k-ng-delay="gridOptions"
        k-options="gridOptions"
        k-sortable="true"
        k-scrollable="true"
        k-resizable="true"
      >
      </div>
    </div>
  </div>

</div>
