<div class="window-extend-block" data-extend-template="app/common/templates/operation-window-layout.html">
  <div data-block="content" class="window-main-content">
    <div style="margin-top:20px;">
          <label>Text faylına export: </label>
          <div class="form-inputs">
            <md-button
              ng-click="exportToTxt()"
              type="button"
              aria-label="Export button"
              class="md-fab md-micro"
              style="margin:-7px 0 0 0;"
              >
              <i class="glyphicon glyphicon-print micro-glyphicon"></i>
            </md-button>
          </div>
    </div>
  </div>

</div>
