<div class="window-extend-block" data-extend-template="app/common/templates/operation-window-layout.html">
  <div data-block="content" class="window-main-content">

    <table class="table table-striped table-hover table-responsive table-bordered">
      <tbody>

      <tr>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><b once-text="'Comment'|translate"></b></td>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6">{{taskData.comment}}</td>
      </tr>
      </tbody>
    </table>
    <hr/>
    <h4 once-text="'Instrument'|translate"></h4>

    <table class="table table-striped table-hover table-responsive table-bordered ">
      <thead>
      <th once-text="'ISIN'|translate"></th>
      <th once-text="'Issuer'|translate"></th>

      </thead>
      <tbody>
      <tr>
        <td>{{taskData.instrument.ISIN}}</td>
        <td>{{taskData.instrument.issuerName}}</td>
      </tr>
      </tbody>
    </table>

    <hr/>
    <h4 once-text="'Shareholder'|translate"></h4>

    <table class="table table-striped table-hover table-responsive table-bordered ">
      <thead>
      <th once-text="'Name'|translate"></th>
      <th once-text="'Account Number'|translate"></th>
      <th once-text="'Start Date'|translate"></th>
      <th once-text="'Finish Date'|translate"></th>
      <th once-text="'Action Classes'|translate"></th>
      </thead>
      <tbody>
      <tr>
        <td>{{taskData.shareholder.name}}</td>
        <td>{{taskData.shareholder.accountNumber}}</td>
        <td>{{taskData.startDate}}</td>
        <td>{{taskData.finishDate}}</td>
        <td>
          <ul>
            <li ng-repeat="rejectionClass in taskData.rejectionActionClasses" ng-if="rejectionClass.isSelected">
              <span > {{rejectionClass.actionClass['name'+lnC]}}</span>
            </li>
          </ul>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
