<div class="window-extend-block" data-extend-template="app/common/templates/operation-window-layout.html">
  <div data-block="content" class="window-main-content">

    <div
      role="form"
      ng-form="config.form.name"
      ng-submit="config.buttons.complete.click()">


      <div class="title-transfer-forms">

        <div class="form-group" ng-class="{ 'has-error':
                 (config.form.name.$submitted || config.form.name.comment.$touched)
                 &&(config.form.name.comment.$invalid)  }">

          <label class="form-labels">
            <span class="required-sign">*</span>
            <span once-text="'Comment'|translate"></span>:</label>

          <div class="form-inputs">
                  <textarea
                    class="k-textbox"
                    name="comment"
                    cols="6"
                    rows="7"
                    ng-model="whiteListData.comment"
                    ng-required="true"></textarea>

            <div ng-show="config.form.name.$submitted || config.form.name.comment.$touched">
              <p ng-show="config.form.name.comment.$error.required"
                 class="help-block help-block-error">
                <span once-text="'This field is required'|translate"></span>
              </p>
            </div>
          </div>
        </div>
      </div>


      <div class="title-transfer-forms">
        <table class="table table-striped table-bordered">
          <thead>
          <tr>
            <th><span class="required-sign">*</span> <span once-text="'ISIN'|translate"></span></th>
            <th once-text="'Issuer'|translate"></th>

          </tr>
          </thead>
          <tbody>
          <tr>
            <td>
              <span ng-if="!whiteListData.instrument.ISIN">......</span>
              <span> {{whiteListData.instrument.ISIN}}</span>
              <md-button
                class="md-fab md-micro"
                aria-label="Mini FAB"
                ng-click="findInstrument()">
                <i class="glyphicon glyphicon-search micro-glyphicon"></i>
                <md-tooltip>
                  <span once-text="'Find Instrument'|translate"></span>
                </md-tooltip>

              </md-button>
              <input type="hidden" name="ISIN" ng-required="true" ng-model="whiteListData.instrument.ISIN">

              <div
                class="has-error"
                ng-show="config.form.name.$submitted ">
                <p ng-show="config.form.name['ISIN'].$error.required"
                   class="help-block help-block-error">
                  <span once-text="'You have to select instrument!'|translate"></span>
                </p>
              </div>
            </td>
            <td>
              <span ng-if="!whiteListData.instrument.issuerName">......</span>
              <span> {{whiteListData.instrument.issuerName}}</span>
            </td>
          </tr>
          </tbody>
        </table>
      </div>

      <!--Comment-->
      <div class="title-transfer-forms" ng-if="whiteListData.instrument.ISIN">
        <table class="table table-striped table-bordered">
          <thead>
          <tr>
            <th><strong class="required-sign">*</strong><strong once-text="'Shareholder'|translate"></strong></th>
            <th once-text="'Account Number'|translate"></th>
            <th once-text="'Start Date'|translate"></th>
            <th once-text="'Finish Date'|translate"></th>
            <th once-text="'Action Classes'|translate"></th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>
              <span ng-if="!whiteListData.shareholder.name">......</span>
              <span> {{whiteListData.shareholder.name}}</span>
              <input
                type="hidden"
                name="seller"
                ng-required="true"
                ng-model="whiteListData.shareholder.name">

              <div ng-class="{ 'has-error':config.form.name.$submitted &&(config.form.name.seller.$invalid)}"
                   ng-show="config.form.name.$submitted">
                <p ng-show="config.form.name.seller.$error.required"
                   class="help-block help-block-error">
                  <span once-text="'You have to select shareholder!'|translate"></span>
                </p>
              </div>
              <md-button class="md-fab md-micro"
                         aria-label="Mini FAB"
                         ng-click="findShareholder()">
                <i class="glyphicon glyphicon-search micro-glyphicon"></i>
                <md-tooltip>
                  <span once-text="'Find Shareholder'|translate"></span>
                </md-tooltip>

              </md-button>

            </td>
            <td>
              <span ng-if="!whiteListData.shareholder.accountNumber">......</span>
              <span> {{whiteListData.shareholder.accountNumber}}</span>
            </td>
            <td
              ng-class="{ 'has-error':  (config.form.name.$submitted || config.form.name.start_date.$touched)   &&(config.form.name.start_date.$invalid)  }">
              <input type="text"
                     class="datepicker-cst"
                     kendo-date-picker
                     name="start_date"
                     ng-model="whiteListData.startDate"
                     k-ng-model="whiteListData.startDateObj"
                     ng-required="true"
                >

              <div ng-show="config.form.name.$submitted || config.form.name.start_date.$touched">
                <p ng-show="config.form.name.start_date.$error.required"
                   class="help-block help-block-error">
                  <span once-text="'This field is required'|translate"></span>
                </p>

                <p ng-show="config.form.name.start_date.$error.csmKendoDate"
                   class="help-block help-block-error">
                  <span once-text="'Invalid Date'|translate"></span>
                </p>
              </div>
            </td>
            <td
              ng-class="{ 'has-error':  (config.form.name.$submitted || config.form.name.finish_date.$touched)   &&(config.form.name.finish_date.$invalid)  }">
              <input type="text"
                     class="datepicker-cst"
                     kendo-date-picker
                     name="finish_date"
                     ng-model="whiteListData.finishDate"
                     k-ng-model="whiteListData.finishDateObj"

                >

              <div ng-show="config.form.name.$submitted || config.form.name.finish_date.$touched">
                <p ng-show="config.form.name.finish_date.$error.required"
                   class="help-block help-block-error">
                  <span once-text="'This field is required'|translate"></span>
                </p>

                <p ng-show="config.form.name.finish_date.$error.csmKendoDate"
                   class="help-block help-block-error">
                  <span once-text="'Invalid Date'|translate"></span>
                </p>
              </div>
            </td>
            <td>
              <ul>
                <li ng-repeat="rejectionClass in whiteListData.rejectionActionClasses">
                  <md-checkbox ng-model="rejectionClass.isSelected" aria-label="checkbox" class="md-primary">
                    {{rejectionClass.actionClass['name'+lnC]}}
                  </md-checkbox>
                </li>
              </ul>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <!--Seller-->
    </div>
  </div>

</div>

