<div class="window-extend-block" data-extend-template="app/common/templates/operation-window-layout.html">
  <div data-block="content" class="window-main-content">
    <div class="alert alert-info">
      <strong class="glyphicon glyphicon-info-sign"></strong>
      <span once-text="'You have to check instruments which you want to add.'|translate"></span>
    </div>
    <div
      role="form"
      ng-form="config.form.name"
      ng-submit="config.buttons.complete.click()">


      <div class="forms">
        <table class="table table-striped table-bordered">
          <thead>
          <tr>
            <th><strong class="required-sign">*</strong> <strong once-text="'Issuer'|translate"></strong></th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td class="half-width">
              <span ng-if="!debtorsData.issuer.name">......</span>
              <span> {{debtorsData.issuer.name}}</span>
              <input
                class="k-textbox"
                type="hidden"
                name="issuer"
                ng-required="true"
                ng-model="debtorsData.issuer.name">

              <div ng-class="{ 'has-error':
                 (config.form.name.$submitted || config.form.name.issuer.$touched)
                 &&(config.form.name.issuer.$invalid)  }"
                   ng-show="config.form.name.$submitted || config.form.name.issuer.$touched">
                <p ng-show="config.form.name.issuer.$error.required"
                   class="help-block help-block-error">
                  <span once-text="'This field is required'|translate"></span>
                </p>
              </div>
            </td>
            <td class="half-width">
              <md-button type="button"
                         class="md-fab md-micro"
                         aria-label="search button"
                         ng-click="findIssuer()">
                <i class="glyphicon glyphicon-search micro-glyphicon"></i>
                <md-tooltip md-direction="down">
                  <span once-text="'Find Issuer'|translate"></span>
                </md-tooltip>
              </md-button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="title-transfer-forms" ng-show="debtorsData.commissionExceptionList.length">
        <table class="table table-striped table-bordered">
          <thead>
          <tr>
            <!--<th><span once-text="'Instrument'|translate"></span></th>-->
            <th once-text="'ISIN'|translate"></th>
            <th once-text="'Commission Free'|translate"></th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="rejection in debtorsData.commissionExceptionList">
            <td>
              <span> {{rejection.isin}}</span>
            </td>
            <td>
              <md-checkbox aria-label="..." ng-model="rejection.commissionFree"></md-checkbox>
            </td>
          </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>
</div>
