<div class="window-extend-block" data-extend-template="app/common/templates/operation-window-layout.html">
  <div data-block="content" class="window-main-content">
      <table class="table" style="font-size:0.9em;">
        <tbody>
          <tr>
            <th>Emitent:</th>
            <td>{{data.name}}</td>
          </tr>
          <tr>
            <th>Alət:</th>
            <td>{{data.instrumentName}}</td>
          </tr>
          <tr>
            <th>Faiz məbləği:</th>
            <td>{{data.interestAmount| number:2}}</td>
          </tr>
          <tr>
            <th>Əsas məbləği:</th>
            <td>{{data.principalAmount| number:2}}</td>
          </tr>
          <tr>
              <th>Status:</th>
              <td>{{data.status['name' + lnC]}}</td>
          </tr>
          <tr ng-if="operationState !== 'completed'">
            <th>Ödəniş icra olunsun:</th>
            <td><md-switch ng-disabled="!data.isSuccess" aria-label="Switch 1" style="margin:0;" ng-model="data.isDistribute"></md-switch></td>
          </tr>
        </tbody>
      </table>
      <div
        kendo-grid="mainGrid"
        k-ng-delay="mainGridOptions"
        class="custom-operation-grid"
        k-options="mainGridOptions"
        k-scrollable="true"
        k-pageable='{ "pageSize": 10, "refresh": true, "pageSizes": true, "buttonCount": 5 }'
        k-resizable="true">
      </div>
  </div>
</div>
