<div class="window-extend-block" data-extend-template="app/common/templates/operation-window-layout.html">
  <div data-block="content" class="window-main-content">

    <h1>{{task.name}}</h1>

    <div ng-repeat="instrument in [taskData] "
         ng-include="'app/instruments/templates/partials/instrument-data-approval.html'"></div>

  </div>

</div>
