<div class="window-extend-block" data-extend-template="app/common/templates/operation-window-layout.html">
  <div data-block="content" class="window-main-content">

    <div
      role="form"
      ng-form="config.form.name"
      ng-submit="config.buttons.complete.click()">


      <div ng-repeat="instrument in [instrument] "
           ng-include="'app/instruments/templates/partials/instrument-data.html'"></div>

    </div>

  </div>

</div>
