<div class="window-extend-block" data-extend-template="app/common/templates/operation-window-layout.html">
  <div data-block="content" class="window-main-content">

    <table class="table table-striped table-hover table-responsive table-bordered">
      <tbody>

      <tr>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><b once-text="'Comment'|translate"></b></td>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6">{{taskData.comment}}</td>
      </tr>
      <tr>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><b once-text="'Issuer'|translate"></b></td>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6">{{taskData.issuer.name}}</td>
      </tr>
      </tbody>
    </table>
    <hr/>
    <h4 once-text="'Instruments'|translate"></h4>

    <table class="table table-striped table-hover table-responsive table-bordered ">
      <thead>
      <th once-text="'Issuer'|translate"></th>
      <th once-text="'Selected'|translate"></th>
      </thead>
      <tbody>
      <tr ng-repeat="rejection in taskData.instruments">
        <td>{{rejection.instrument.ISIN}}</td>
        <td>
          <md-checkbox aria-label="..." ng-disabled="true" ng-model="rejection.isInRejectionList"></md-checkbox>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
