<div class="window-extend-block" data-extend-template="app/common/templates/operation-window-layout.html">
  <div data-block="content" class="window-main-content">

    <div
      role="form"
      ng-form="config.form.name"
      ng-submit="config.buttons.complete.click()">
      <div class="title-transfer-forms">
        <div class="form-group" ng-class="{ 'has-error':(config.form.name.$submitted || config.form.name.comment.$touched)
                 &&(config.form.name.comment.$invalid)  }">
          <label class="form-labels">
            <span class="required-sign">*</span>
            <span once-text="'Comment'|translate"></span>:</label>

          <div class="form-inputs">
                  <textarea
                    class="k-textbox"
                    name="comment"
                    cols="6"
                    rows="7"
                    ng-model="whiteListData.comment"
                    ng-required="true"></textarea>

            <div ng-show="config.form.name.$submitted || config.form.name.comment.$touched">
              <p ng-show="config.form.name.comment.$error.required"
                 class="help-block help-block-error">
                <span once-text="'This field is required'|translate"></span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="title-transfer-forms">
        <table class="table table-striped table-bordered">
          <thead>
          <tr>
            <th><span class="required-sign">*</span> <span once-text="'ISIN'|translate"></span></th>
            <th once-text="'Issuer'|translate"></th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>
              <span ng-if="!whiteListData.instrument.ISIN">......</span>
              <span> {{whiteListData.instrument.ISIN}}</span>
              <md-button
                class="md-fab md-micro"
                aria-label="Mini FAB"
                ng-click="findInstrument()">
                <i class="glyphicon glyphicon-search micro-glyphicon"></i>
                <md-tooltip>
                  <span once-text="'Find Instrument'|translate"></span>
                </md-tooltip>

              </md-button>
              <input type="hidden" name="ISIN" ng-required="true" ng-model="whiteListData.instrument.ISIN">

              <div
                class="has-error"
                ng-show="config.form.name.$submitted ">
                <p ng-show="config.form.name['ISIN'].$error.required"
                   class="help-block help-block-error">
                  <span once-text="'You have to select instrument!'|translate"></span>
                </p>
              </div>
            </td>
            <td>
              <span ng-if="!whiteListData.instrument.issuerName">......</span>
              <span> {{whiteListData.instrument.issuerName}}</span>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <!--Comment-->
      <div class="title-transfer-forms">
        <table class="table table-striped table-bordered">
          <thead>
          <tr>
            <th>
              <strong class="required-sign">*</strong>
              <strong once-text="'Shareholder'|translate"></strong>
            </th>
            <th once-text="'Account Number'|translate"></th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>
              <span ng-if="!whiteListData.shareholder.name">......</span>
              <span> {{whiteListData.shareholder.name}}</span>
              <input
                type="hidden"
                name="shareholder"
                ng-required="true"
                ng-model="whiteListData.shareholder.name">

              <div ng-class="{ 'has-error':config.form.name.$submitted &&(config.form.name.shareholder.$invalid)}"
                   ng-show="config.form.name.$submitted">
                <p ng-show="config.form.name.shareholder.$error.required"
                   class="help-block help-block-error">
                  <span once-text="'You have to select shareholder!'|translate"></span>
                </p>
              </div>
            </td>
            <td>
              <span ng-if="!whiteListData.shareholder.accountNumber">......</span>
              <span> {{whiteListData.shareholder.accountNumber}}</span>
            </td>
            <td>
              <md-button class="md-fab md-micro"
                         aria-label="Mini FAB"
                         ng-disabled="!whiteListData.instrument.ISIN"
                         ng-click="showShareHolderSelectionWindow()">

                <i class="glyphicon glyphicon-search micro-glyphicon"></i>
                <md-tooltip>
                  <span once-text="'Find Shareholder'|translate"></span>
                </md-tooltip>
              </md-button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>


      <div>


        <div kendo-window="config.shareholderSelectionWindow"
             k-title="config.labels.lblSelectShareholder"
             k-modal="true"
             k-width="'80%'"
             k-height="'80%'"
             k-visible="false"
          >

          <div class="pull-right view-button-group">
            <!--View actions -->
            <md-button
              type="button"
              class="md-fab md-micro"
              aria-label="Select"
              ng-disabled="config.selectedShareholderIndex === false"
              ng-click="selectShareholder()">
              <i class="glyphicon glyphicon-ok micro-glyphicon"></i>
              <md-tooltip md-direction="down">
                <span once-text="'Select Shareholder'|translate"></span>
              </md-tooltip>
            </md-button>


            <md-button type="button" class="md-fab md-micro"
                       aria-label="Mini FAB"
                       ng-click="closeShareHolderSelectionWindow()">

              <i class="glyphicon glyphicon-remove micro-glyphicon"></i>

              <md-tooltip md-direction="down">
                <span once-text="'Close Window'|translate"></span>
              </md-tooltip>

            </md-button>

          </div>
          <div k-selectable="true"
               kendo-grid
               k-on-change="shareholderSelected(data)"
               k-data-source="whiteListData.whiteList"
               k-options="gridData"
               k-resizable="true">

          </div>

        </div>
      </div>

    </div>
  </div>
</div>
