<div class="window-extend-block" data-extend-template="app/common/templates/operation-window-layout.html">
  <div data-block="content" class="window-main-content">


    <input type="hidden" ng-model="taskData.instrumentId" ng-required="true">

    <div>
      <div class="form-group" ng-class="{ 'has-error':(config.form.name.$submitted || config.form.name.registrationNumber.$touched) &&(config.form.name.registrationNumber.$invalid)  }">
        <label class="form-labels">
          <span class="required-sign">*</span>
          <span once-text="'Registration Number'|translate"></span>:
        </label>
        <div class="form-inputs">
          <input
            class="k-textbox"
            ng-readonly="true"
            name="registrationNumber"
            ng-model="taskData.registrationNumber"
            ng-required="true">
          <div ng-show="config.form.name.$submitted || config.form.name.registrationNumber.$touched">
            <p ng-show="config.form.name.registrationNumber.$error.required"
               class="help-block help-block-error">
              <span once-text="'This field is required'|translate"></span>
            </p>
          </div>

        </div>
      </div>
    </div>

    <div>
      <div class="form-group" ng-class="{ 'has-error':(config.form.name.$submitted || config.form.name.ISIN.$touched) &&(config.form.name.ISIN.$invalid)  }">
        <label class="form-labels">
          <span class="required-sign">*</span>
          <span once-text="'ISIN'|translate"></span>:
        </label>
        <div class="form-inputs">
          <input
            class="k-textbox"
            name="ISIN"
            ng-readonly="true"
            ng-model="taskData.isin"
            ng-required="true">
          <div ng-show="config.form.name.$submitted || config.form.name.ISIN.$touched">
            <p ng-show="config.form.name.ISIN.$error.required"
               class="help-block help-block-error">
              <span once-text="'This field is required'|translate"></span>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div ng-if="instrumentData.oldInstrument">
      <table class="table table-bordered table-hover table-stripped">
        <tbody>
        <tr>
          <th colspan="2">{{'Instrument' | translate}}</th>
        </tr>
        <tr>
          <td>
            <span>{{'Issuer Name' | translate}}</span>
          </td>
          <td>
            <span>{{instrumentData.oldInstrument.issuerName}}</span>
          </td>
        </tr>
        <tr>
          <td>
            <span>{{'Quantity' | translate}}</span>
          </td>
          <td>
            <span>{{instrumentData.oldInstrument.quantity}}</span>
          </td>
        </tr>
        <tr>
          <td>
            <span>{{'Par Value' | translate}}</span>
          </td>
          <td>
            <span>{{instrumentData.oldInstrument.parValue}}</span>
          </td>
        </tr>
        <tr>
          <td>
            <span>{{'CFI' | translate}}</span>
          </td>
          <td>
            <span>{{instrumentData.oldInstrument.CFI["name"+lnC]}}</span>
          </td>
        </tr>
        <tr>
          <td>
            <span>{{'Finish date' | translate}}</span>
          </td>
          <td>
            <span>{{instrumentData.oldInstrument.endDate | date:'yyyy-MM-dd hh:mm:ss'}}</span>
          </td>
        </tr>
        </tbody>
      </table>
    </div>


    <div ng-if="instrumentData.vmBalances">
      <table class="table table-bordered table-hover table-stripped">
        <thead>
        <tr>
          <td colspan="4">Balans</td>
        </tr>
        <tr>
          <td>#</td>
          <td>{{'Name' | translate}}</td>
          <td>{{'Account Number' | translate}}</td>
          <td>{{'Quantity' | translate}}</td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="balance in instrumentData.vmBalances track by $index">
          <td>{{$index+1}}</td>
          <td>{{balance.account.name}}</td>
          <td>{{balance.account.accountNumber}}</td>
          <td>{{balance.quantity}}</td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
          <td colspan="3" style="text-align: right;">
            Cəmi miqdar
          </td>
          <td>{{totalQuantity}}</td>
        </tr>
        </tfoot>
      </table>
    </div>


  </div>
</div>
