<div class="window-extend-block" data-extend-template="app/common/templates/view-window-layout.html">
  <div class="div-full-height" data-block="content"
       ng-include="'app/common/templates/partials/issuer-instrument-search-template.html'">
  </div>
</div>
