<div class="window-extend-block" data-extend-template="app/common/templates/view-window-layout.html">
  <div class="div-full-height" data-block="content" ng-include="'app/instruments/templates/partials/instrument-coupon-payment-search-template.html'"
       ng-controller="ViewCouponPaymentSearchController">
  </div>
</div>
