<div class="window-extend-block" data-extend-template="app/common/templates/view-window-layout.html">

  <div class="div-full-height" data-block="content">

    <div ng-show="instrument.instrumentDetails" class="person-details-view padding10  fg-dark">
      <md-button
        aria-label="right arrow button"
        type="button"
        ng-click="closeInstrumentDetails()"
        class="md-micro md-fab pull-right">

        <span class="glyphicon glyphicon-eye-close micro-glyphicon"></span>
        <md-tooltip><span once-text="'Close'|translate"></span></md-tooltip>
      </md-button>
      <div class="content-block" ng-repeat="instrument in [instrument.instrumentDetails] "
           ng-include="'app/instruments/templates/partials/instrument-details-view.html'"></div>
    </div>

    <div kendo-splitter="splitter"
         orientation="'horizontal'"
         class="corporate-action-view-splitter"
         k-collapse="searchCriteriaCollapse"
         k-expand="searchCriteriaExpand"
         panes="params.config.splitterPanesConfig">

      <div class="pane-content">

        <div ng-form="instrument.formName"
             role="form"
             ng-submit="findInstrument()"
             csm-enter="findInstrument()"
             class="person-find-criteria-form fg-dark"
             novalidate>
          <div class="row filter-buttons-position">
            <md-button
              aria-label="right arrow button"
              type="button"
              ng-click="resetForm()"
              class="md-micro md-fab pull-right filter-button-style">
              <md-tooltip md-direction="down">
                <span once-text="'Reset Filter'|translate"></span>
              </md-tooltip>
              <span class="icon icon-remove-filter"></span>
              <md-tooltip><span once-text="'Close'|translate"></span></md-tooltip>
            </md-button>
            <md-button
              aria-label="right arrow button"
              type="button"
              ng-click="findInstrument()"
              class="md-micro md-fab pull-right filter-button-style">
              <md-tooltip md-direction="down">
                <span once-text="'Find Instrument'|translate"></span>
              </md-tooltip>
              <span class="icon icon-filter"></span>
            </md-button>
          </div>
          <uib-accordion close-others="oneAtATime">
            <uib-accordion-group is-disabled="!status.isFirstDisabled">
              <uib-accordion-heading>
                <div ng-if="params.config.ISIN.isVisible">
                  <div class="person-search-template-input-style"
                       ng-class="{ 'has-error': (instrument.formName.$submitted || instrument.formName.isin.$touched)
                      &&(instrument.formName.isin.$invalid)  }">

                    <label class="text-right inline-block text-muted-manual">
                      <span once-text="'ISIN'|translate"></span>:</label>

                    <div class="inline-block person-search-inputs">
                      <input
                        class="k-textbox"
                        type="text"
                        name="isin"
                        ng-model="instrument.form.isin"
                      >

                      <div ng-show="instrument.formName.$submitted || instrument.formName.isin.$touched">
                        <p ng-show="instrument.formName.isin.$error.required"
                           class="help-block help-block-error">
                          <span once-text="'This field is required'|translate"></span>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </uib-accordion-heading>
            </uib-accordion-group>
            <uib-accordion-group is-disabled="!status.isFirstDisabled"
                                 ng-if="params.config.issuer.isVisible">
              <uib-accordion-heading>

                <div class="person-search-template-input-style"
                     ng-class="{ 'has-error': (instrument.formName.$submitted || instrument.formName.issuer_name.$touched)
             &&(instrument.formName.issuer_name.$invalid)  }">
                  <label class="text-right inline-block text-muted-manual">
                    <span once-text="'Issuer Name'|translate"></span>:</label>

                  <div class="inline-block person-search-inputs">
                    <input
                      class="k-textbox"
                      type="text"
                      name="issuer_name"
                      ng-model="instrument.form.issuerName"
                    >

                    <div ng-show="instrument.formName.$submitted || instrument.formName.issuer_name.$touched">
                      <p ng-show="instrument.formName.issuer_name.$error.required"
                         class="help-block help-block-error">
                        <span once-text="'This field is required'|translate"></span>
                      </p>
                    </div>
                  </div>
                </div>
              </uib-accordion-heading>
            </uib-accordion-group>
            <uib-accordion-group is-disabled="!status.isFirstDisabled">
              <uib-accordion-heading>
                <!--<div class="row" >-->
                <div class="person-search-template-input-style">
                  <label class="text-right inline-block text-muted-manual">
                    <span once-text="'Currency'|translate"></span>:</label>

                  <div class="inline-block person-search-inputs">
                    <select kendo-drop-down-list
                            ng-model="instrument.form.currencyID"
                            k-data-text-field="'name'+lnC"
                            k-data-value-field="'id'"
                            k-data-source="metaData.currencies"
                            k-width="'100%'"
                    >
                    </select>
                  </div>
                </div>
                <!--</div>-->
              </uib-accordion-heading>
            </uib-accordion-group>
            <uib-accordion-group is-disabled="!status.isFirstDisabled">
              <uib-accordion-heading>
                <div class="person-search-template-input-style">
                  <label class="text-right text-muted-manual">
                    <span once-text="'Is Issue'|translate"></span>:</label>

                  <label class="inline-block account-search-inputs input-checkbox"
                         style="padding-left: 9px!important;">
                    <input
                      name="is_issue"
                      type="checkbox"
                      ng-required="instrument.formName.isIssue.$untouched"
                      ng-true-value="true"
                      ng-false-value="false"
                      ng-indeterminate="instrument.form.isIssue === null"
                      ng-model="instrument.form.isIssue"
                      class="md-checkbox-style"
                    >
                  </label>
                </div>
              </uib-accordion-heading>
            </uib-accordion-group>
            <uib-accordion-group is-disabled="!status.isFirstDisabled">
              <uib-accordion-heading>
                <div class="person-search-template-input-style">
                  <label class="text-right text-muted-manual">
                    <span once-text="'Is Subscription'|translate"></span>:</label>

                  <label class="inline-block account-search-inputs input-checkbox"
                         style="padding-left: 9px!important;">
                    <input
                      name="is_subscription"
                      type="checkbox"
                      ng-required="instrument.formName.isSubscription.$untouched"
                      ng-true-value="true"
                      ng-false-value="false"
                      ng-indeterminate="instrument.form.isSubscription === null"
                      ng-model="instrument.form.isSubscription"
                      class="md-checkbox-style"
                    >
                  </label>
                </div>
              </uib-accordion-heading>
            </uib-accordion-group>
            <uib-accordion-group is-disabled="!status.isFirstDisabled">
              <uib-accordion-heading>
                <div class="person-search-template-input-style">
                  <label class="text-right text-muted-manual">
                    <span once-text="'Commission Free'|translate"></span>:</label>

                  <label class="inline-block account-search-inputs input-checkbox"
                         style="padding-left: 9px!important;">
                    <input
                      name="is_subscription"
                      type="checkbox"
                      ng-required="instrument.formName.commissionFree.$untouched"
                      ng-true-value="true"
                      ng-false-value="false"
                      ng-indeterminate="instrument.form.commissionFree === null"
                      ng-model="instrument.form.commissionFree"
                      class="md-checkbox-style"
                    >
                  </label>
                </div>
              </uib-accordion-heading>
            </uib-accordion-group>
            <uib-accordion-group is-disabled="!status.isFirstDisabled">
              <uib-accordion-heading>
                <div class="person-search-template-input-style">
                  <label class="text-right text-muted-manual">
                    <span once-text="'Search By Rejection'|translate"></span>:</label>

                  <div class="inline-block account-search-inputs"
                       style="padding-left: 9px!important;">
                    <md-checkbox
                      aria-label="Suspended"
                      type="checkbox"
                      ng-model="instrument.form.searchByRejection"
                      data-ng-value="false"
                      class=" md-checkbox-style"
                    >
                    </md-checkbox>
                  </div>
                </div>
              </uib-accordion-heading>
            </uib-accordion-group>
            <div ng-show="instrument.form.searchByRejection" class="padding-left-15">
              <div class="collapsible-panel-heading cursor-pointer person-search-switch-wrapper">
                <label class="text-right text-muted-manual">
                  <span once-text="'Is in Debtors List'|translate"></span>:</label>

                <div class="inline-block account-search-inputs" style="padding-left: 9px!important;">
                  <md-checkbox
                    aria-label="Debtors List"
                    type="checkbox"
                    ng-model="instrument.form.isInDebtorsList"
                    class="md-checkbox-style"
                  >
                </div>
              </div>
              <!--<div class="collapsible-panel-heading cursor-pointer person-search-switch-wrapper">-->
              <!--<label class="text-right text-muted-manual">-->
              <!--<span once-text="'Is in Black List'|translate"></span>:</label>-->

              <!--<div class="inline-block account-search-inputs" style="padding-left: 9px!important;">-->
              <!--<md-checkbox-->
              <!--aria-label="Debtors List"-->
              <!--type="checkbox"-->
              <!--ng-model="instrument.form.isInBlackList"-->
              <!--class="md-checkbox-style">-->
              <!--</div>-->
              <!--</div>-->
            </div>
          </uib-accordion>

        </div>

      </div>
      <div class="pane-content">
        <div class="view-buttons-wrapper">
          <md-button aria-label="hamburger button" class="pull-left md-icon-button md-primary hamburger-button-style"
                     ng-click="toggleSearchCriteriaBlock (splitter)">
            <span class="glyphicon glyphicon-align-justify micro-glyphicon micro-align-glyphicon"></span>
          </md-button>
          <div class="inline-block debtors-black-list-color">
            <label class="debtors-list-square inline-block"></label><span> - </span><span
            once-text="'Instruments in Debtors List'|translate"></span>
            <!--<label class="black-list-square inline-block"></label><span> - </span><span-->
            <!--once-text="'Instruments in Black List'|translate"></span>-->
          </div>
          <div class="pull-right view-button-group">
            <!--View actions -->
            <md-button ng-if="config.screenId"
                       type="button"
                       class="md-fab md-micro"
                       aria-label="View"
                       ng-disabled="instrument.selectedInstrumentIndex === false"
                       ng-click="showInstrumentDetails()">
              <i class="glyphicon glyphicon-eye-open micro-glyphicon"></i>
              <md-tooltip md-direction="down">
                <span once-text="'View'|translate"></span>
              </md-tooltip>
            </md-button>
            <md-button ng-if="!config.screenId" class="md-fab md-micro"
                       type="button"
                       ng-disabled="instrument.selectedInstrumentIndex === false"
                       aria-label="submit button"
                       ng-click="selectInstrument()">
              <i class="glyphicon glyphicon-ok micro-glyphicon"></i>
              <md-tooltip md-direction="down">
                <span once-text="'Select Instrument'|translate"></span>
              </md-tooltip>
            </md-button>
            <md-button type="button" class="md-fab md-micro"
                       aria-label="Export to excel"
                       ng-click="exportToExcel(instrument.searchResultGrid)">
              <i class="glyphicon glyphicon-export micro-glyphicon"></i>
              <md-tooltip md-direction="down">
                <span once-text="'Export to Excel'|translate"></span>
              </md-tooltip>
            </md-button>
            <md-button type="button" class="md-fab md-micro"
                       aria-label="Mini FAB"
                       ng-click="closeWindow()">
              <i class="glyphicon glyphicon-remove micro-glyphicon"></i>
              <md-tooltip md-direction="down">
                <span once-text="'Close Window'|translate"></span>
              </md-tooltip>
            </md-button>
          </div>
        </div>
        <div class="person-find-result-block">
          <div
            kendo-grid="instrument.searchResultGrid"
            k-ng-delay="instrument.mainGridOptions"
            k-options="instrument.mainGridOptions"
            k-on-change="instrument.instrumentSelected(data)"
            k-sortable="true"
            k-scrollable="true"
            k-pageable='{ "pageSize": 20, "refresh": true, "pageSizes": true, "buttonCount": 5 }'
            k-resizable="true"
          ></div>
        </div>
      </div>
    </div>

  </div>

</div>
