<div class="window-main-view cancel-task-window-main-view padding10">
  <div class="row cancel-operation-buttons">
    <md-button class="md-micro md-fab pull-right"
               aria-label="remove button"
               ng-click="closeWindow()">
      <i class="glyphicon glyphicon-remove micro-glyphicon"></i>
      <md-tooltip md-direction="down" aria-label="tooltip">
        <span once-text="'Close'|translate"></span>
      </md-tooltip>

    </md-button>

    <md-button class="md-micro md-fab pull-right"
               aria-label="submit button"
               ng-click="sendFeedback()">
      <i class="glyphicon glyphicon-ok micro-glyphicon"></i>
      <md-tooltip md-direction="down" aria-label="tooltip">
        <span once-text="'Submit'|translate"></span>
      </md-tooltip>

    </md-button>
  </div>
  <div ng-form="cancelTask.formName"
       role="form"
       class=""
       ng-submit="sendFeedback()"
       novalidate>

      <h3 once-text="'Why are you canceling this task?'|translate"></h3>

    <md-radio-group
      name="operatorReason"
      aria-label="radio group"
      ng-model="cancelTask.form.operatorError"
      class="inline-block margin10 min-width-470">
      <md-radio-button
        type="radio"
        data-ng-value="true"
        class="md-primary inline-block outline-none"
        aria-label="radio button">
          <span class="caption" once-text="'Operator Error'|translate"></span>
      </md-radio-button>
      <md-radio-button
        ng-class="{ 'has-error': (cancelTask.formName.$submitted || cancelTask.formName.otherReason.$touched)
               &&(cancelTask.formName.otherReason.$invalid)  }"
        type="radio"
        class="md-primary inline-block outline-none"
        data-ng-value="false"
        aria-label="radio button">
        <span once-text="'Other'|translate"></span>
      </md-radio-button>
     <div class="cancel-task-textarea">
        <textarea
          aria-label=".."
          class="k-textbox"
          ng-disabled="cancelTask.form.operatorError"
          type="text"
          name="otherReason"
          ng-model="cancelTask.form.otherReason"
          ng-required="!cancelTask.form.operatorError"
          >
           <div class="other-error-message-style"
                ng-show="cancelTask.formName.$submitted || cancelTask.formName.otherReason.$touched">
             <p ng-show="cancelTask.formName.otherReason.$error.required"
                class="help-block help-block-error">
               <span once-text="'This field is required'|translate"></span>
             </p>
           </div>
          </textarea>
     </div>

    </md-radio-group>


    <!--<div class="feedback-note-textarea-wrapper">-->
      <!--<div class="forms">-->
        <!--<div class="form-group">-->
          <!--<label class="cancel-task-form-labels">-->
            <!--<span once-text="'Feedback'|translate"></span>:</label>-->
          <!--<div class="form-inputs">-->
           <!--<textarea-->
             <!--aria-label=".."-->
             <!--class="k-textbox"-->
             <!--data-ng-model="cancelTask.form.feedback"-->
             <!--rows="2"-->
             <!--name="feedback">-->
           <!--</textarea>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="forms">-->
        <!--<div class="form-group">-->
          <!--<label class="cancel-task-form-labels">-->
            <!--<span once-text="'Note'|translate"></span>:</label>-->
          <!--<div class="form-inputs">-->
            <!--<textarea class="k-textbox"-->
                      <!--aria-label=".."-->
                      <!--data-ng-model="cancelTask.form.note"-->
                      <!--rows="2"-->
                      <!--name="note">-->
          <!--</textarea>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  </div>
</div>
