<div class="window-main-view" ng-include="'app/common/templates/partials/corporate-action-search-template.html'"
     ng-controller="CorporateActionSearchTemplateController">
</div>
<!--<div class="window-footer">-->
  <!--<div class="window-footer-content">-->
    <!--<md-button class="md-raised md-button footer-button-style"-->
               <!--aria-label="submit button"-->
               <!--ng-disabled="searchConfig.person.selectedCorporateActionIndex === false"-->
               <!--ng-click="selectCorporateAction()">-->
      <!--<i class="glyphicon glyphicon-ok"></i>-->
      <!--<span once-text="'Select Corporate Action'|translate"></span>-->
    <!--</md-button>-->
  <!--</div>-->
<!--</div>-->
