<p class="margin20 align-center"> {{message}}</p>
<div class="window-footer" ng-if="!dialogConfiguration">
  <button class="md-raised md-button add-input-button close-task-button-style button-margin"
          ng-click="sendYes()">
    <i class="glyphicon glyphicon-ok"></i>
    <span once-text="'Yes'|translate"></span>

  </button>
  <button class="md-raised md-button add-input-button close-task-button-style"
          ng-click="sendNo()">
    <i class="glyphicon glyphicon-remove"></i>
    <span once-text="'No'|translate"></span>

  </button>
  <button class="md-raised md-button add-input-button close-task-button-style"
          ng-click="sendCancel()">
    <i class="glyphicon glyphicon-ban-circle"></i>
    <span once-text="'Cancel'|translate"></span>

  </button>
</div>
<div class="window-footer" ng-if="dialogConfiguration">

  <button ng-repeat="action in dialogConfiguration.buttons"
          class="md-raised md-button add-input-button close-task-button-style button-margin"
          ng-click="sendResponse(action.value)">
    <span>{{action.text}}</span>

  </button>
</div>
