<div class="window-extend-block" data-extend-template="app/common/templates/operation-window-layout.html">
  <div data-block="content">

    <div class="row padding10">

      <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11">

        <div class="form-group">

            <label class="control-label col-lg-2 col-md-2 col-sm-2 col-xs-2">
              <span class="required-sign">*</span><span once-text="'Your Decision'|translate"></span>:</label>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
              <select
                kendo-drop-down-list
                name="approve_decision"
                ng-model="taskData.adminDecision"
                k-data-text-field="'name'+lnC"
                k-data-value-field="'decision'"
                k-data-source="config.adminTaskDecisions"
                ng-required="true"
                k-value="''"
                >

                <!--<md-option value="">-&#45;&#45;</md-option>-->
                <!--<md-option-->
                  <!--ng-repeat="decision in config.adminTaskDecisions"-->
                  <!--value="{{decision }}">-->
                  <!--{{decision['name'+lnC]}}-->
                <!--</md-option>-->


              </select>
            </div>

        </div>

      </div>

      <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11">

        <table class="table table-striped table-hover table-responsive table-bordered ">
          <tbody>
          <tr>
            <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4"><b once-text="'Operation'|translate"></b></td>
            <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4">{{taskData.operationName}}</td>
          </tr>
          <tr>
            <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4"><b once-text="'Operation ID'|translate"></b></td>
            <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4">{{task.processInstanceId}}</td>
          </tr>

          <tr>
            <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4"><b once-text="'Error Message'|translate"></b></td>

            <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4">
              <div class="long-text">{{taskData.errorMessage}}
              </div>
            </td>
          </tr>

          <tr>
            <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4">
              <b once-text="'Payload'|translate"></b></td>
            </td>
            <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4">
              <div class="long-text">{{taskData.payload|json}}
              </div>
            </td>
          </tr>
          </tbody>

        </table>
      </div>

    </div>

  </div>

</div>

