<div class="window-main-view task-screen-view" ng-controller="BaseOperationController">

  <!--Information Block start-->
  <md-sidenav class="md-sidenav-right md-whiteframe-z2 feedback-menu "
              md-component-id="config.window.id+'_rightInformationBlock'" csm-eval-attr-as-expression="mdComponentId">
    <md-toolbar class="information-header">
      <span class="toolbar-header" once-text="'Information'|translate"></span>
      <md-button ng-click="_toggleInformationBlock(config.window.id)"
                 class="md-fab md-micro right-arrow-button-position"
                 aria-label="Right">
        <i class="icon icon-arrow-right icon-arrow-right-position"></i>
      </md-button>
    </md-toolbar>
    <div class="information-block-wrapper">

      <h2 class="created-date-style task-number "># <span class="task-number" once-text="task.id"></span></h2>

      <h2 ng-if="task.previousTaskAssigne" class="created-date-style"><span once-text="'Sender'|translate"></span>:&nbsp;&nbsp;<span
        ng-if="task.previousTaskAssigne" class="" once-text="task.previousTaskAssigne"></span></h2>

      <h2 class="created-date-style"><span once-text="'Create Date'|translate"></span>:&nbsp;&nbsp;<i
        class="glyphicon glyphicon-calendar created-date-icon-position"></i>
        <span class="created-calendar-position" once-text="task.createDate | date:'dd-MM-yyyy'"></span>
        <i class="glyphicon glyphicon-time created-date-icon-position"></i>
        <span once-text="task.createDate | date:'HH:mm'"> </span>
      </h2>

      <h2 class="created-date-style"><span once-text="'Due Date'|translate"></span>:&nbsp;&nbsp;<i
        class="glyphicon glyphicon-calendar created-date-icon-position"></i>
        <span class="created-calendar-position" once-text="task.dueDate | date:'dd-MM-yyyy'"></span>
        <i class="glyphicon glyphicon-time created-date-icon-position"></i><span
          once-text="task.dueDate | date:'HH:mm'"> </span></h2>

      <h2 class="created-date-style"><span once-text="'Priority'|translate"></span>:&nbsp;&nbsp;
        <span class="" once-text="task.priorityData['name'+lnC]"></span>
      </h2>

    </div>

  </md-sidenav>
  <!--Information Block end-->

  <!--Comments Block start-->
  <md-sidenav class="md-sidenav-right md-whiteframe-z2 feedback-menu "
              md-component-id="config.window.id+'_rightCommentBlock'"
              csm-eval-attr-as-expression="mdComponentId">
    <md-toolbar class="comments-header">
      <span once-text="'Notes'|translate" class="toolbar-header"></span>
      <md-button ng-click="_toggleCommentBlock(config.window.id)" class="md-fab md-micro right-arrow-button-position"
                 aria-label="Right">
        <i class="icon icon-arrow-right icon-arrow-right-position"></i>
      </md-button>
    </md-toolbar>
    <md-content class="comments-wrapper" ng-show="task.comment.length">
      <div class="all-comments">
        <div class="comment" ng-repeat="message in task.comment">
          <div class="comments-person-name"><span once-text="message.userId"></span>:</div>

          <p class="comments-paragraph" once-text="message.message"></p>

          <div class="comments-date-time-wrapper">
            <i class="glyphicon glyphicon-calendar comments-date-icon"></i>
            <span class="comments-date-time-text"><span
              once-text="message.createDate | date:'dd-MM-yyyy'"></span></span>
            <i class="glyphicon glyphicon-time comments-time-icon"></i>
            <span class="comments-date-time-text"><span once-text="message.createDate | date:'HH:mm'"></span></span>
          </div>
        </div>

      </div>
    </md-content>
    <md-content class="comments-footer" ng-if="config.state != 'completed' ">
      <p class="comments-label fg-white"><span once-text="'Your Note'|translate"></span>:</p>
      <textarea rows="4" aria-label="Comment"
                ng-model="config.taskMessageBuf"
                class="k-textbox comments-textarea"></textarea>
    </md-content>
  </md-sidenav>
  <!--Comment Block end-->


  <!--Document Block start-->
  <md-sidenav class="md-sidenav-right md-whiteframe-z2 feedback-menu no-scroll"
              md-component-id="config.window.id+'_rightDocumentBlock'"
              csm-eval-attr-as-expression="mdComponentId">
    <md-toolbar class="documents-header">
      <span class="toolbar-header" once-text="'Documents'|translate"></span>
      <md-button ng-click="_toggleDocumentBlock(config.window.id)"
                 class="md-fab md-micro right-arrow-button-position"
                 aria-label="Right">
        <i class="icon icon-arrow-right icon-arrow-right-position"></i>
      </md-button>
    </md-toolbar>
    <form enctype="multipart/form-data" class="document-form">
      <div ng-repeat="document in task.document" ng-hide="document.disabled">
        <div class="padding10">
          <p ng-show="!document.documents.length">{{document.documentClass['name'+lnC]}}</p>

          <div ng-repeat="item in document.documents">
            <div class="inline-block text-style no-margin half-width ">{{document.documentClass['name'+lnC]}}</div>
            <div class="inline-block padding-left-15">
              <md-button type="button"
                         class="md-fab md-micro"
                         aria-label="trash button"
                         ng-click="getDocumentById(item.ID)">
                <i class="glyphicon glyphicon-eye-open micro-glyphicon"></i>
                <md-tooltip>
                  <span once-text="'View File'|translate"></span>
                </md-tooltip>
              </md-button>
              <md-button ng-show="!document.readonly"
                         type="button"
                         class="md-fab md-micro"
                         aria-label="trash button"
                         ng-click="_removeDocument(document.documents,$index,item.ID)">
                <i class="glyphicon glyphicon-trash micro-glyphicon"></i>
                <md-tooltip>
                  <span once-text="'Remove'|translate"></span>
                </md-tooltip>
              </md-button>
            </div>
          </div>
          <div class="fileUpload btn btn-danger"
               ng-hide="document.readonly
                        ||((document.maxLimit>0) && document.maxLimit == document.documents.length)">
            <i class="glyphicon glyphicon-plus fg-white document-icon"></i>
            <span once-text="'Add New File'|translate"></span>
            <input type="file"
                   nv-file-select=""
                   accept="{{document.extensions}}"
                   options="{documentClassCode:document.documentClass.code}"
                   uploader="config.uploader"
                   class="upload"/>
          </div>
        </div>
        <hr class="no-margin">
      </div>
    </form>
  </md-sidenav>
  <!--Document Block end-->

  <!--Document Block start-->
  <md-sidenav class="md-sidenav-right md-whiteframe-z2 feedback-menu no-scroll"
              md-component-id="config.window.id+'_helpBlock'"
              csm-eval-attr-as-expression="mdComponentId">
    <md-toolbar class="documents-header">
      <span class="toolbar-header" once-text="'Help'|translate"></span>
      <md-button ng-click="_toggleHelpBlock(config.window.id)"
                 class="md-fab md-micro right-arrow-button-position"
                 aria-label="Right">
        <i class="icon icon-arrow-right icon-arrow-right-position"></i>
      </md-button>
    </md-toolbar>

    <h1 ng-init="test='freezing-registration'"></h1>

    <p class="task-help-text" ng-bind-html="task.processKey|translate"></p>
  </md-sidenav>
  <!--Document Block end-->
  <div class="task-buttons-block">
    <div class="right-task-buttons-block" bindonce>
      <md-button
        ng-repeat="(key,value) in config._buttons"
        aria-label="icon button"
        ng-hide="(config.state == 'completed' && value.icon !='remove') "
        ng-if="value"
        ng-click="value.click()"
        ng-disabled="value.disabled"
        type="button"
        class="md-fab md-micro"
        >
        <i class="glyphicon glyphicon-{{value.icon}} micro-glyphicon"></i>
        <md-tooltip>
          <span once-text="value.title|translate"></span>
        </md-tooltip>
      </md-button>
    </div>

    <div class="left-task-buttons-block" ng-if="config.state !== 'findoperation'">
      <md-button aria-label=".."
                 class="md-fab md-micro"
                 ng-click="_toggleInformationBlock(config.window.id)">
        <md-tooltip md-direction="left">
          <span once-text="'Information'|translate"></span>
        </md-tooltip>
        <span class="micro-glyphicon glyphicon glyphicon-info-sign"></span>
      </md-button>
      <md-button data-ng-attr-style="{{ task.comment.length && 'background-color: #16499a!important' || '' }}"
                 ng-click="_toggleCommentBlock(config.window.id)"
                 class="md-fab md-micro"
                 aria-label="Comments">
        <i class="micro-glyphicon glyphicon glyphicon-comment"></i>
        <md-tooltip md-direction="left">
          <span once-text="'Note'|translate"></span>
        </md-tooltip>
      </md-button>
      <md-button data-ng-attr-style="{{ task.document.length && 'background-color: #16499a!important' || '' }}"
                 aria-label=".."
                 class="md-fab md-micro"
                 ng-click="_toggleDocumentBlock(config.window.id)">
        <md-tooltip md-direction="left">
          <span once-text="'Documents'|translate"></span>
        </md-tooltip>
        <span class="micro-glyphicon glyphicon glyphicon-book"></span>
      </md-button>
      <md-button
        aria-label=".."
        class="md-fab md-micro"
        ng-click="_toggleHelpBlock(config.window.id)">
        <md-tooltip md-direction="left">
          <span once-text="'Help'|translate"></span>
        </md-tooltip>
        <span class="micro-glyphicon glyphicon glyphicon-question-sign"></span>
      </md-button>
    </div>
  </div>

  <!--Don't Remove-->
  <div data-block="content">

  </div>
  <!--Replaceable content block-->

</div><!--Window main view-->
