<div class="window-main-view reject-task-window-main-view">
  <div class="row reject-operation-buttons">
    <md-button class="md-micro md-fab pull-right"
               aria-label="remove button"
               ng-click="closeWindow()">
      <i class="glyphicon glyphicon-remove micro-glyphicon"></i>
      <md-tooltip md-direction="down" aria-label="tooltip">
        <span once-text="'Close'|translate"></span>
      </md-tooltip>

    </md-button>

    <md-button class="md-micro md-fab pull-right"
               aria-label="submit button"
               ng-click="sendFeedback()">
      <i class="glyphicon glyphicon-ok micro-glyphicon"></i>
      <md-tooltip md-direction="down" aria-label="tooltip">
        <span once-text="'Submit'|translate"></span>
      </md-tooltip>

    </md-button>
  </div>
  <div ng-form="rejectTask.formName"
       role="form"
       class="reject-operation"
       ng-submit="sendFeedback()"
       novalidate>

    <div class="reject-task-heading">
      <h3 once-text="'What is your decision?'|translate"></h3>
    </div>
    <div class="reject-operation-radio-buttons">
      <div class="form-group radio small-check inline-block other-radio-button">
        <md-radio-group
          name="operatorReason"
          class="inline-block"
          ng-model="rejectTask.form.decision"
          aria-label="radio group">
          <md-radio-button
            type="radio"
            ng-disabled="!rejectionConfig.cancelRejectionEnabled"
            data-ng-value="'APPROVAL_DECISION_CANCEL'"
            class="inline-block"
            aria-label="radio button"
            ></md-radio-button>
          <span class="caption " once-text="'Cancel Operation'|translate"></span>
        </md-radio-group>
      </div>
      <div class="form-group pull-left small-check radio inline-block"
           ng-class="{ 'has-error': (rejectTask.formName.$submitted || rejectTask.formName.otherReason.$touched)
               &&(rejectTask.formName.otherReason.$invalid)  }"

        >
        <md-radio-group name="operatorReason"
                        aria-label="radio-group"
                        ng-model="rejectTask.form.decision">
          <md-radio-button type="radio"
                           data-ng-value="'APPROVAL_DECISION_START_OVER'"
                           aria-label="radio button"
                           class="inline-block"
            ></md-radio-button>
          <span class="" once-text="'Start Over'|translate"></span>
        </md-radio-group>

      </div>

        <div class="form-group" >
            <label>
                <span once-text="'Your Note'|translate" style="margin-left: 10px;"></span>
            <textarea rows="4" aria-label="Comment" style="margin-top: 4px;"
                      ng-model="rejectTask.form.comment"
                      class="k-textbox comments-textarea"></textarea>

            </label>
        </div>

    </div>
  </div>
</div>
