<div class="window-main-view" style="overflow: hidden" ng-controller="BaseViewController">

  <div data-block="content">

  </div>
  <!--Replaceable content block-->

</div><!--Window main view-->

<!--<div class="window-footer"   ng-if="config._buttons"  ng-include="'app/common/templates/partials/window-footer.html'"></div>-->
