<div class="window-extend-block" data-extend-template="app/common/templates/operation-window-layout.html">
  <div data-block="content" class="window-main-content">
    <div
      role="form"
      ng-form="config.form.name"
      ng-submit="config.buttons.complete.click()">

      <div class="forms">
        <div class="form-group" ng-class="{ 'has-error':
                 (config.form.name.$submitted || config.form.name.registration_number.$touched)
                 &&(config.form.name.registration_number.$invalid)  }">
          <label class="form-labels"><span class="required-sign">*</span><span
            once-text="'Registration Number'|translate"></span>:</label>

          <div class="form-inputs">
            <input type="text"
                   class="k-textbox"
                   name="registration_number"
                   ng-model="bonusShareData.registrationNumber"
                   ng-required="true">

            <div ng-show="config.form.name.$submitted || config.form.name.registration_number.$touched">
              <p ng-show="config.form.name.registration_number.$error.required"
                 class="help-block help-block-error">
                <span once-text="'This field is required'|translate"></span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="forms">
        <div class="form-group" ng-class="{ 'has-error':
                 (config.form.name.$submitted || config.form.name.reg_auth_class.$touched)
                 &&(config.form.name.reg_auth_class.$invalid)  }">

          <label class="form-labels"><span class="required-sign">*</span><span
            once-text="'Registration Authority Class'|translate"></span>:</label>

          <div class="form-inputs">
            <select
              name="reg_auth_class"
              ng-model="bonusShareData.registrationAuthorityClass"
              ng-required="true"
              >
              <option value="">---</option>
              <option
                value="{{cl|json}}"
                ng-repeat="cl in  metaData.registrationAuthorityClasses">
                {{cl['name'+lnC]}}
              </option>
            </select>

            <div ng-show="config.form.name.$submitted || config.form.name.reg_auth_class.$touched">
              <p ng-show="config.form.name.reg_auth_class.$error.required"
                 class="help-block help-block-error">
                <span once-text="'This field is required'|translate"></span>
              </p>
            </div>
          </div>


        </div>
      </div>
      <!--Reg num. ,reg auth-->

      <div class="forms">
        <div class="form-group" ng-class="{ 'has-error':
                 (config.form.name.$submitted || config.form.name.registration_date.$touched)
                 &&(config.form.name.registration_date.$invalid)  }">

          <label class="form-labels"><span class="required-sign">*</span>
            <span once-text="'Registration Date'|translate"></span>:</label>

          <div class="form-inputs">
            <input type="text"
                   data-role="datepicker"
                   class="datepicker-cst"
                   kendo-date-picker
                   name="registration_date"
                   ng-model="bonusShareData.registrationDate"
                   k-ng-model="bonusShareData.registrationDateObj"
                   ng-required="true"
              >

            <div ng-show="config.form.name.$submitted || config.form.name.registration_date.$touched">
              <p ng-show="config.form.name.registration_date.$error.required"
                 class="help-block help-block-error">
                <span once-text="'This field is required'|translate"></span>
              </p>

              <p ng-show="config.form.name.registration_date.$error.csmKendoDate"
                 class="help-block help-block-error">
                <span once-text="'Please enter a valid date!'|translate"></span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="forms">
        <div class="form-group" ng-class="{ 'has-error':
                 (config.form.name.$submitted || config.form.name.value_date.$touched)
                 &&(config.form.name.value_date.$invalid)  }">
          <label class="form-labels"><span class="required-sign">*</span>
            <span once-text="'Value Date'|translate"></span>:</label>

          <div class="form-inputs">
            <input type="text"
                   class="datepicker-cst"
                   kendo-date-picker
                   name="value_date"
                   ng-model="bonusShareData.valueDate"
                   k-ng-model="bonusShareData.valueDateObj"
                   ng-required="true"
              >

            <div ng-show="config.form.name.$submitted || config.form.name.value_date.$touched">
              <p ng-show="config.form.name.value_date.$error.required"
                 class="help-block help-block-error">
                <span once-text="'This field is required'|translate"></span>
              </p>

              <p ng-show="config.form.name.value_date.$error.csmKendoDate"
                 class="help-block help-block-error">
                <span once-text="'Please enter a valid date!'|translate"></span>
              </p>
            </div>
          </div>

        </div>
      </div>
      <div class="forms">
        <div class="form-group" ng-class="{ 'has-error':
                 (config.form.name.$submitted || config.form.name.record_date.$touched)
                 &&(config.form.name.record_date.$invalid)  }">
          <label class="form-labels"><span class="required-sign">*</span>
            <span once-text="'Record Date'|translate"></span>:</label>

          <div class="form-inputs">
            <input type="text"
                   class="datepicker-cst"
                   kendo-date-picker
                   name="record_date"
                   ng-model="bonusShareData.recordDate"
                   k-ng-model="bonusShareData.recordDateObj"
                   ng-required="true"
              >

            <div ng-show="config.form.name.$submitted || config.form.name.record_date.$touched">
              <p ng-show="config.form.name.record_date.$error.required"
                 class="help-block help-block-error">
                <span once-text="'This field is required'|translate"></span>
              </p>

              <p ng-show="config.form.name.record_date.$error.csmKendoDate"
                 class="help-block help-block-error">
                <span once-text="'Please enter a valid date!'|translate"></span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <!--Reg date , Record date-->

      <div class="forms">
        <div class="form-group" ng-class="{ 'has-error':
                 (config.form.name.$submitted || config.form.name.ca_type.$touched)
                 &&(config.form.name.ca_type.$invalid)  }">

          <label class="form-labels">
            <span class="required-sign">*</span><span
            once-text="'Bonus Share Class'|translate"></span>:</label>

          <div class="form-inputs">
            <select
              name="ca_type"
              ng-model="bonusShareData.CAType"
              ng-required="true"
              ng-change="CATypeChange()"
              >
              <option value="">---</option>
              <option
                value="{{cl|json}}"
                ng-repeat="cl in  metaData.CABonusShareClasses">{{cl['name'+lnC]}}
              </option>
            </select>

            <!--<md-option value="">-&#45;&#45;</md-option>-->
            <!--<md-option-->
            <!--value="{{cl|json}}"-->
            <!--ng-repeat="cl in  metaData.CABonusShareClasses">{{cl['name'+lnC]}}-->
            <!--</md-option>-->

            <div ng-show="config.form.name.$submitted || config.form.name.ca_type.$touched">
              <p ng-show="config.form.name.ca_type.$error.required"
                 class="help-block help-block-error">
                <span once-text="'This field is required'|translate"></span>
              </p>
            </div>
          </div>

        </div>

      </div>
      <!--CA Type-->
      <!--Find issuer-->
      <!--<h4 once-text="'Instrument'|translate"></h4>-->
      <div class="nominator-discriminator-wrappper">
        <div class="inline-block form-group pull-left"
             ng-class="{ 'has-error': (config.form.name.$submitted || config.form.name.nominator.$touched)
                &&(config.form.name.nominator.$invalid)  }">
          <label class="form-labels"><span class="required-sign">*</span>
            <span once-text="'Nominator'|translate"></span>:</label>

          <div class="form-inputs">
            <input
              class="k-textbox"
              type="number"
              name="nominator"
              ng-trim="true"
              min="0"
              ng-model="bonusShareData.nominator"
              ng-required="true"
              >

            <div ng-show="config.form.name.$submitted || config.form.name.nominator.$touched">
              <p ng-show="config.form.name.nominator.$error.required"
                 class="help-block help-block-error">
                <span once-text="'This field is required'|translate"></span>
              </p>

              <p
                ng-show="config.form.name.nominator.$error.number"
                class="help-block help-block-error">
                <span once-text="'Wrong Format!'|translate"></span>
              </p>
            </div>
          </div>
        </div>
        <!--Nominator-->
        <div class="inline-block form-group pull-left"
             ng-class="{ 'has-error': (config.form.name.$submitted || config.form.name.discriminator.$touched)
                &&(config.form.name.discriminator.$invalid)  }">
          <label class="pull-left"><i class="margin10">/</i><span class="required-sign">*</span>
            <span once-text="'Discriminator'|translate"></span>:</label>

          <div class="form-inputs">
            <input
              class="k-textbox"
              type="number"
              min="0"
              name="discriminator"
              ng-trim="true"
              ng-model="bonusShareData.discriminator"
              ng-required="true"
              >

            <div ng-show="config.form.name.$submitted || config.form.name.discriminator.$touched">
              <p ng-show="config.form.name.discriminator.$error.required"
                 class="help-block help-block-error">
                <span once-text="'This field is required'|translate"></span>
              </p>

              <p
                ng-show="config.form.name.discriminator.$error.number"
                class="help-block help-block-error">
                <span once-text="'Wrong Format!'|translate"></span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <!--Denominator-->
      <div class="forms half-width">
        <div class="form-group" ng-class="{ 'has-error':
                 (config.form.name.$submitted || config.form.name.fraction_treatment_class.$touched)
                 &&(config.form.name.fraction_treatment_class.$invalid)  }">

          <label class="form-labels"><span class="required-sign">*</span>
            <span once-text="'Fraction Treatment Class'|translate"></span>:</label>

          <div class="form-inputs">
            <select
              name="fraction_treatment_class"
              ng-model="bonusShareData.fractionTreatmentClass"
              ng-required="true"
              >
              <option value="">---</option>
              <option
                value="{{cl|json}}"
                ng-repeat="cl in  metaData.fractionTreatmentClasses">{{cl['name'+lnC]}}
              </option>
            </select>

            <div ng-show="config.form.name.$submitted || config.form.name.fraction_treatment_class.$touched">
              <p ng-show="config.form.name.fraction_treatment_class.$error.required"
                 class="help-block help-block-error">
                <span once-text="'This field is required'|translate"></span>
              </p>
            </div>
          </div>


        </div>

      </div>
      <!-- Fraction T.C.-->


      <table class="table table-striped table-bordered">
        <thead>
        <tr>
          <th><strong class="required-sign">*</strong> <strong once-text="'Issuer'|translate"></strong></th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td class="half-width">
            <span ng-if="!bonusShareData.issuer.name">......</span>
            <span> {{bonusShareData.issuer.name}}</span>
            <input
              class="k-textbox"
              type="hidden"
              name="issuer"
              ng-required="true"
              ng-model="bonusShareData.issuer.name">

            <div ng-class="{ 'has-error':
                 (config.form.name.$submitted || config.form.name.issuer.$touched)
                 &&(config.form.name.issuer.$invalid)  }"
                 ng-show="config.form.name.$submitted || config.form.name.issuer.$touched">
              <p ng-show="config.form.name.issuer.$error.required"
                 class="help-block help-block-error">
                <span once-text="'This field is required'|translate"></span>
              </p>
            </div>
          </td>
          <td class="half-width">
            <md-button type="button"
                       class="md-fab md-micro"
                       aria-label="search button"
                       ng-click="findCurrentIssuer()">
              <md-tooltip md-direction="down">
                <span once-text="'Find Issuer'|translate"></span>
              </md-tooltip>
              <i class="glyphicon glyphicon-search micro-glyphicon"></i>
            </md-button>
          </td>
        </tr>
        </tbody>
      </table>
      <table class="table table-striped table-bordered">
        <thead>
        <tr>
          <th><strong class="required-sign">*</strong> <strong once-text="'Instrument Code'|translate"></strong></th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td class="half-width">
            <span ng-if="!bonusShareData.oldSecurity.ISIN">......</span>
            <span>{{bonusShareData.oldSecurity.ISIN}}</span>
            <input
              class="k-textbox"
              type="hidden"
              name="old_security_ISIN"
              ng-required="true"
              ng-model="bonusShareData.oldSecurity.ISIN">

            <div ng-class="{ 'has-error': (config.form.name.$submitted
            || config.form.name.old_security_ISIN.$touched)  &&(config.form.name.old_security_ISIN.$invalid)  }"
                 ng-show="config.form.name.$submitted || config.form.name.old_security_ISIN.$touched">
              <p ng-show="config.form.name.old_security_ISIN.$error.required"
                 class="help-block help-block-error">
                <span once-text="'This field is required'|translate"></span>
              </p>
            </div>

          </td>
          <td class="half-width">
            <md-button ng-disabled="!(bonusShareData.issuer.id)"
                       type="button"
                       aria-label="search button"
                       class="md-fab md-micro"
                       ng-click="findOldSecurity()">
              <md-tooltip md-direction="down">
                <span once-text="'Find Old Security'|translate"></span>
              </md-tooltip>
              <i class="glyphicon glyphicon-search micro-glyphicon"></i>
            </md-button>
          </td>
        </tr>
        </tbody>
      </table>
      <div ng-if="bonusShareData.config.showNewSecurity">
        <!--<h4 once-text="'New Security'|translate"></h4>-->
        <div
          ng-repeat="instrument in [bonusShareData.newSecurity] "
          ng-include="'app/instruments/templates/partials/instrument-data.html'">
        </div>

      </div>

    </div>
  </div>
</div>
