<div class="window-extend-block" data-extend-template="app/common/templates/operation-window-layout.html">
  <div data-block="content" class="window-main-content">
    <div
      role="form"
      ng-form="config.form.name"
      ng-submit="config.buttons.complete.click()"
      class="padding10"
    >

      <span style="font-size: 20px" once-text="'Current Date:'|translate"></span>
      <span style="font-size: 20px;font-family: monospace;margin-left: 5px;">
        {{currentDate}}
      </span>



    </div>
  </div>
</div>
