<div class="window-extend-block" data-extend-template="app/common/templates/operation-window-layout.html">
  <div data-block="content" class="window-main-content">
    <div
      role="form"
      ng-form="config.form.name"
      ng-submit="config.buttons.complete.click()"
      class=""
    >

      <table class="table table-striped table-bordered">
        <thead>
        <tr>
          <th><strong once-text="'Market ID'|translate"></strong></th>
          <th><strong once-text="'Closed'|translate"></strong></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="(key, value) in comingData">
          <td class="half-width">
            {{value.marketID}}
          </td>
          <td class="half-width">
            <md-checkbox aria-label="checkbox" ng-disabled="true" ng-model="value.closed"></md-checkbox>

          </td>
        </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>
