<div class="window-extend-block" data-extend-template="app/common/templates/operation-window-layout.html">
  <div data-block="content" class="window-main-content">
    <div
      role="form"
      ng-form="config.form.name"
      ng-submit="config.buttons.complete.click()">
      <h4 once-text="'Cash Dividend'|translate"></h4>
      <table class="table table-striped table-bordered">
        <thead>
        <tr>
          <th><strong
            once-text="'Registration Number'|translate"></strong></th>
          <th><strong once-text="'Registration Date'|translate"></strong></th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>

            <span ng-if="!cashDividendPaymentData.cashDividend.registrationNumber">......</span>
            <span> {{cashDividendPaymentData.cashDividend.registrationNumber}}</span>
            <input
              class="k-textbox"
              type="hidden"
              name="reg_num"
              disabled readonly
              ng-required="true"
              ng-model="cashDividendPaymentData.cashDividend.registrationNumber">

            <div ng-class="{ 'has-error': (config.form.name.$submitted
            || config.form.name['reg_num'].$touched)  &&(config.form.name['reg_num'].$invalid)  }"
                 ng-show="config.form.name.$submitted || config.form.name['reg_num'].$touched">
              <p ng-show="config.form.name['reg_num'].$error.required"
                 class="help-block help-block-error">
                <span once-text="'You have to select cash dividend!'|translate"></span>
              </p>
            </div>

          </td>
          <td>
            <span ng-if="!cashDividendPaymentData.cashDividend.registrationDate">......</span>
            <span> {{cashDividendPaymentData.cashDividend.registrationDate|date:'dd-MM-yyyy'}}</span>

          </td>
          <td>
            <md-button type="button"
                       class="md-fab md-micro"
                       aria-label="search button"
                       ng-click="findCashDividend($index)">
              <i class="glyphicon glyphicon-search micro-glyphicon"></i>
              <md-tooltip md-direction="down">
                <span once-text="'Find Cash Dividend'|translate"></span>
              </md-tooltip>
            </md-button>
          </td>
        </tr>
        </tbody>
      </table>
      <div ng-if="cashDividendPaymentData.cashDividend.underlyingSecurity">
        <h4 once-text="'Underlying Securities'|translate">:</h4>
        <table class="table table-striped table-hover table-responsive table-bordered">
          <thead>
          <th once-text="'Instrument'|translate"></th>
          <th once-text="'ISIN'|translate"></th>
          <th once-text="'Issuer'|translate"></th>
          </thead>
          <tbody>
          <tr data-ng-repeat="instrument in cashDividendPaymentData.cashDividend.underlyingSecurity">
            <td>{{instrument.name.nameAz}}</td>
            <td>{{instrument.ISIN}}</td>
            <td>{{instrument.issuer.name}}</td>
          </tr>
          </tbody>
        </table>
      </div>
      <div ng-if="cashDividendPaymentData.cashDividend.entitlementSecurity">
        <h4 once-text="'Entitlement Securities'|translate">:</h4>
        <table class="table table-striped table-hover table-responsive table-bordered">
          <thead>
          <th once-text="'Instrument'|translate"></th>
          <th once-text="'ISIN'|translate"></th>
          <th once-text="'Issuer'|translate"></th>
          </thead>
          <tbody>
          <tr data-ng-repeat="instrument in cashDividendPaymentData.cashDividend.entitlementSecurity">
            <td>{{instrument.name.nameAz}}</td>
            <td>{{instrument.ISIN}}</td>
            <td>{{instrument.issuer.name}}</td>
          </tr>
          </tbody>
        </table>

      </div>
    </div>
  </div>
</div>
