<div class="window-extend-block" data-extend-template="app/common/templates/operation-window-layout.html">
  <div data-block="content" class="window-main-content">
    <table class="table table-striped table-hover table-responsive table-bordered">
      <tbody>
      <tr>
        <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4"><b
          once-text="'Registration Number'|translate"></b></td>
        <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4">{{taskData.cashDividend.registrationNumber}}</td>
      </tr>
      <tr>
        <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4"><b
          once-text="'Registration Date'|translate"></b></td>
        <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4">{{taskData.cashDividend.registrationDate |date: 'short'}}
        </td>
      </tr>
      </tbody>
    </table>

      <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11"
           ng-if="taskData.cashDividend.underlyingSecurity">

        <div class="form-group ">
          <label><span once-text="'Underlying Securities'|translate"></span>:</label>
          <table class="table table-striped table-hover table-responsive table-bordered">
            <thead>
            <th once-text="'Instrument'|translate"></th>
            <th once-text="'ISIN'|translate"></th>
            <th once-text="'Issuer'|translate"></th>

            </thead>
            <tbody>
            <tr data-ng-repeat="instrument in taskData.cashDividend.underlyingSecurity">
              <td>{{instrument.name.nameAz}}</td>
              <td>{{instrument.ISIN}}</td>
              <td>{{instrument.issuer.name}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11"
           ng-if="taskData.cashDividend.entitlementSecurity">
        <div class="form-group ">
          <label><span once-text="'Entitlement Securities'|translate"></span>:</label>
          <table class="table table-striped table-hover table-responsive table-bordered ">
            <thead>
            <th once-text="'Instrument'|translate"></th>
            <th once-text="'ISIN'|translate"></th>
            <th once-text="'Issuer'|translate"></th>

            </thead>
            <tbody>
            <tr data-ng-repeat="instrument in taskData.cashDividend.entitlementSecurity">
              <td>{{instrument.name.nameAz}}</td>
              <td>{{instrument.ISIN}}</td>
              <td>{{instrument.issuer.name}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>

  </div>
</div>
