<div class="window-extend-block" data-extend-template="app/common/templates/operation-window-layout.html">
  <div data-block="content" class="window-main-content">

    <table class="table table-striped table-hover table-responsive table-bordered ">
      <tbody>

      <tr>
        <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4"><b
          once-text="'Registration Number'|translate"></b></td>
        <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4">{{taskData.registrationNumber}}</td>
      </tr>
      <tr>
        <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4"><b
          once-text="'Registration Date'|translate"></b></td>
        <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4">{{taskData.registrationDate|date: 'short'}}</td>
      </tr>
      <tr>
        <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4"><b
          once-text="'Record Date'|translate"></b></td>
        <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4">{{taskData.recordDate|date: 'short'}}</td>
      </tr>
      <tr>
        <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4"><b
          once-text="'Value Date'|translate"></b></td>
        <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4">{{taskData.valueDate|date: 'short'}}</td>
      </tr>
      <tr>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><b
          once-text="'Registration Authority Class'|translate"></b>
        </td>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6">{{taskData.registrationAuthorityClass['name'+lnC]}}</td>
      </tr>
      <tr>
        <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4"><b
          once-text="'Total Amount'|translate"></b></td>
        <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4">{{taskData.totalAmount}}</td>
      </tr>
      <tr>
        <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4"><b
          once-text="'Issuer'|translate"></b></td>
        <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4">{{taskData.issuer.name}}</td>
      </tr>

      <tr>
        <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4"><b
          once-text="'Instrument'|translate"></b></td>
        <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4">{{taskData.instrument.instrumentName}}</td>
      </tr>
      <tr>
        <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4"><b
          once-text="'ISIN'|translate"></b></td>
        <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4">{{taskData.instrument.ISIN}}</td>
      </tr>

      </tbody>

    </table>


  </div>
</div>
