<div class="window-extend-block" data-extend-template="app/common/templates/operation-window-layout.html">
  <div data-block="content" class="window-main-content">

    <table class="table table-striped table-hover table-responsive table-bordered ">
      <tbody>


      <tr>
        <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4"><b
          once-text="'Registration Date'|translate"></b></td>
        <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4">{{taskData.cashDividend.registrationDate|date: 'short'}}</td>
      </tr>

      <tr>
        <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4"><b
          once-text="'Registration Number'|translate"></b></td>
        <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4">{{taskData.cashDividend.registrationNumber}}</td>
      </tr>

      </tbody>

    </table>

    <div class="form-group" ng-if="taskData.cashDividend.underlyingSecurity">
      <label><span once-text="'Underlying Securities'|translate"></span>:</label>
      <table class="table table-striped table-hover table-responsive table-bordered ">
        <thead>
        <th once-text="'Instrument'|translate"></th>
        <th once-text="'ISIN'|translate"></th>
        <th once-text="'Issuer'|translate"></th>

        </thead>
        <tbody>
        <tr data-ng-repeat="instrument in taskData.cashDividend.underlyingSecurity">
          <td>{{instrument.name.nameAz}}</td>
          <td>{{instrument.ISIN}}</td>
          <td>{{instrument.issuer.name}}</td>
        </tr>
        </tbody>
      </table>
    </div>

    <div class="form-group " ng-if="taskData.cashDividend.entitlementSecurity">
      <label><span once-text="'Entitlement Securities'|translate"></span>:</label>
      <table class="table table-striped table-hover table-responsive table-bordered ">
        <thead>
        <th once-text="'Instrument'|translate"></th>
        <th once-text="'ISIN'|translate"></th>
        <th once-text="'Issuer'|translate"></th>

        </thead>
        <tbody>
        <tr data-ng-repeat="instrument in taskData.cashDividend.entitlementSecurity">
          <td>{{instrument.name.nameAz}}</td>
          <td>{{instrument.ISIN}}</td>
          <td>{{instrument.issuer.name}}</td>
        </tr>
        </tbody>
      </table>
    </div>

    <div
      kendo-grid
      k-data-source="config.cashDividendPayments"
      k-options="config.gridData"
      k-resizable="true">
    </div>
  </div>
</div>



