<div class="window-extend-block" data-extend-template="app/common/templates/view-window-layout.html">
  <div data-block="content" ng-include="'app/common/templates/partials/corporate-action-search-template.html'"
       ng-controller="CorporateActionSearchTemplateController">
  </div>
</div>
