<div class="window-extend-block" data-extend-template="app/common/templates/operation-window-layout.html">
  <div data-block="content" class="window-main-content">


    <div role="form" ng-form='config.form.name' ng-submit="config.buttons.complete.click()">

      <div class="min-width-470">
        <div class="pull-left">
          {{ data.instrument.issuerName }}
        </div>
        <div class="form-group pull-right">
          <label class="form-label"> <span>Axtar</span>:</label>

          <div class="form-inputs" style="padding-left: 25px">
            <md-button class="md-fab md-micro" aria-label="Mini FAB" ng-click="findBondStatement()">
              <i class="glyphicon glyphicon-search micro-glyphicon"></i>
              <md-tooltip>
                <span once-text="'Find '|translate"></span>
              </md-tooltip>
            </md-button>
          </div>
        </div>
      </div>


      <table class="table table-srtiped" style="max-width: 100%">
        <tbody>
        <tr ng-repeat="pay in data.vmCouponPayment">
          <td width="20%">
            <div class="form-group" style="width: 100px !important;">
              <label class="form-labels" style="padding-left: 10px; text-align: left"> <span>Faiz məbləği</span>:</label>

              <div class="form-inputs">
                <input class="k-textbox" ng-model="pay.interestAmount"
                       style="width: 100px"
                       ng-disabled="pay.status && pay.status.code != 'STATUS_PENDING'">
              </div>

            </div>
          </td>

          <td width="20%">
            <div class="form-group" style="width: 157px !important; margin-left: 13px; position: relative">
              <label class="form-labels"  style="padding-left: 10px; text-align: left"> <span>Əsas məbləğ</span>:</label>

              <div class="form-inputs">
                <input class="k-textbox" ng-model="pay.principalAmount"
                       style="width: 100px;"
                       ng-disabled="pay.status && pay.status.code != 'STATUS_PENDING'">
              </div>

            </div>
          </td>

          <td width="25%">
            <div class="form-group">
              <label class="form-labels" style="padding-left: 10px; text-align: left"> <span>Reyestr tarixi</span>:</label>

              <div class="form-inputs">
                <input type="text" class="datepicker-cst" kendo-date-time-picker="config.timePicker" name="request_date" k-footer="false"
                       ng-disabled="pay.status && pay.status.code != 'STATUS_PENDING'" ng-model="pay.recordDateObj"
                       k-ng-model="pay.recordDate">
              </div>

            </div>
          </td>
          <td width="25%">
            <div class="form-group">
              <label class="form-labels" style="padding-left: 10px; text-align: left"> <span once-text="'Payment Date'|translate"></span>:</label>

              <div class="form-inputs">
                <input type="text" class="datepicker-cst" kendo-date-time-picker="config.timePicker" name="request_date"
                       k-footer="false" ng-disabled="pay.status && pay.status.code != 'STATUS_PENDING'"
                       ng-model="pay.valueDateObj" k-ng-model="pay.valueDate">

              </div>
            </div>
          </td>

          <td width="10%">
            <div class="form-group" ng-show="pay.status && pay.status.code != 'STATUS_PENDING'">
              <span>{{ pay.status['nameAz'] }}</span>
            </div>
          </td>

          <td>
            <md-button type="button" class="md-fab md-micro" aria-label="Mini FAB" ng-click="removePayment($index)"
                       ng-show="!pay.status ||  pay.status.code == 'STATUS_PENDING'">

              <i class="glyphicon glyphicon-remove micro-glyphicon"></i>

            </md-button>
          </td>
        </tr>
        </tbody>
      </table>


      <md-button type="button" class="md-fab md-micro" aria-label="Mini FAB" ng-click="addNewCouponPayment()"
                 ng-show="data.instrument">

        <i class="glyphicon glyphicon-plus micro-glyphicon"></i>

      </md-button>


    </div>

  </div>

</div>
