<div class="window-extend-block" data-extend-template="app/common/templates/operation-window-layout.html">
  <div data-block="content" class="window-main-content">

      <table class="table">
          <tbody>
            <tr>
                <th>Alətin:</th>
                <td>{{data.instrument.instrumentName}}</td>
            </tr>
            <tr>
                <th>İSİN:</th>
                <td>{{data.instrument.isin}}</td>
            </tr>
            <tr>
                <th>Qeydiyyat tarixi:</th>
                <td>{{data.instrument.registrationDate}}</td>
            </tr>
          </tbody>
      </table>

    <table class="table table-srtiped">
      <thead>
      <tr>
        <th><span once-text="'Əsas məbləğ'|translate"></span></th>
        <th><span once-text="'Faiz məbləği'|translate"></span></th>
        <th><span>Reyestr tarixi</span></th>
        <th><span once-text="'Payment Date'|translate"></span></th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="pay in data.vmCouponPayment">
        <td>
          {{ pay.principalAmount }}
        </td>
          <td>
              {{ pay.interestAmount }}
          </td>
        <td>
          {{ pay.recordDate|date: 'short' }}
        </td>
        <td>
          {{ pay.valueDate|date: 'short' }}
        </td>
      </tr>
      </tbody>
    </table>


  </div>

</div>
