<div class="window-extend-block" data-extend-template="app/common/templates/operation-window-layout.html">
  <div data-block="content" class="window-main-content">
    <div
      role="form"
      ng-form="config.form.name"
      ng-submit="config.buttons.complete.click()">

      <div class="forms">
        <div class="form-group" ng-class="{ 'has-error':
                 (config.form.name.$submitted || config.form.name.registration_number.$touched)
                 &&(config.form.name.registration_number.$invalid)  }">

          <label class="form-labels"><span class="required-sign">*</span>
            <span once-text="'Registration Number'|translate"></span>:</label>
          <div class="form-inputs">
            <input type="text"
                   class="k-textbox"
                   name="registration_number"
                   ng-model="deMergerData.registrationNumber"
                   ng-required="true">

            <div ng-show="config.form.name.$submitted || config.form.name.registration_number.$touched">
              <p ng-show="config.form.name.registration_number.$error.required"
                 class="help-block help-block-error">
                <span once-text="'This field is required'|translate"></span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="forms">
        <div class="form-group" ng-class="{ 'has-error':
                 (config.form.name.$submitted || config.form.name.reg_auth_class.$touched)
                 &&(config.form.name.reg_auth_class.$invalid)  }">
          <label class="form-labels"><span class="required-sign">*</span>
            <span once-text="'Registration Authority Class'|translate"></span>:</label>
          <div class="form-inputs">
            <select
              name="reg_auth_class"
              ng-model="deMergerData.registrationAuthorityClass"
              ng-required="true"
              >
              <option value="">---</option>
              <option
                value="{{cl|json}}"
                ng-repeat="cl in  metaData.registrationAuthorityClasses">{{cl['name'+lnC]}}</option>
            </select>

            <div ng-show="config.form.name.$submitted || config.form.name.reg_auth_class.$touched">
              <p ng-show="config.form.name.reg_auth_class.$error.required"
                 class="help-block help-block-error">
                <span once-text="'This field is required'|translate"></span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <!--Reg num. ,reg auth-->
      <div class="forms">
        <div class="form-group" ng-class="{ 'has-error':
                 (config.form.name.$submitted || config.form.name.registration_date.$touched)
                 &&(config.form.name.registration_date.$invalid)  }">

          <label class="form-labels"><span class="required-sign">*</span>
            <span once-text="'Registration Date'|translate"></span>:</label>
          <div class="form-inputs">
            <input type="text"
                   class="datepicker-cst"
                   kendo-date-picker
                   name="registration_date"
                   ng-model="deMergerData.registrationDate"
                   k-ng-model="deMergerData.registrationDateObj"
                   ng-required="true"
              >

            <div ng-show="config.form.name.$submitted || config.form.name.registration_date.$touched">
              <p ng-show="config.form.name.registration_date.$error.required"
                 class="help-block help-block-error">
                <span once-text="'This field is required'|translate"></span>
              </p>

              <p ng-show="config.form.name.registration_date.$error.csmKendoDate"
                 class="help-block help-block-error">
                <span once-text="'Please enter a valid date!'|translate"></span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="forms">
        <div class="form-group" ng-class="{ 'has-error':
                 (config.form.name.$submitted || config.form.name.value_date.$touched)
                 &&(config.form.name.value_date.$invalid)  }">
          <label class="form-labels"><span class="required-sign">*</span>
            <span once-text="'Value Date'|translate"></span>:</label>
          <div class="form-inputs">
            <input type="text"
                   class="datepicker-cst"
                   kendo-date-picker
                   name="value_date"
                   ng-model="deMergerData.valueDate"
                   k-ng-model="deMergerData.valueDateObj"
                   ng-required="true"
              >

            <div ng-show="config.form.name.$submitted || config.form.name.value_date.$touched">
              <p ng-show="config.form.name.value_date.$error.required"
                 class="help-block help-block-error">
                <span once-text="'This field is required'|translate"></span>
              </p>

              <p ng-show="config.form.name.value_date.$error.csmKendoDate"
                 class="help-block help-block-error">
                <span once-text="'Please enter a valid date!'|translate"></span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <!--Reg date, Value date-->
      <!--Find issuer-->
      <table class="table table-striped table-bordered">
        <thead>
        <tr>
          <th><strong class="required-sign">*</strong> <strong once-text="'Issuer'|translate"></strong></th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td class="half-width">
            <span ng-if="!deMergerData.issuer.name">......</span>
            <span > {{deMergerData.issuer.name}}</span>
            <input
              type="hidden"
              class="k-textbox"
              name="issuer"
              ng-required="true"
              ng-model="deMergerData.issuer.name">
            <div  ng-class="{ 'has-error':
                 (config.form.name.$submitted || config.form.name.issuer.$touched)
                 &&(config.form.name.issuer.$invalid)  }"
                  ng-show="config.form.name.$submitted || config.form.name.issuer.$touched">
              <p ng-show="config.form.name.issuer.$error.required"
                 class="help-block help-block-error">
                <span once-text="'This field is required'|translate"></span>
              </p>
            </div>
          </td>
          <td class="half-width">
            <md-button type="button"
                       class="md-fab md-micro"
                       ng-click="findCurrentIssuer()">
              <i class="glyphicon glyphicon-search micro-glyphicon"></i>
              <md-tooltip md-direction="down" aria-label="tooltip">
                <span once-text="'Find Issuer'|translate"></span>
              </md-tooltip>
            </md-button>
          </td>
        </tr>
        </tbody>
      </table>


        <div ng-cloak ng-if="deMergerData.instruments">
          <div class="form-group">
            <h3 once-text="'Current Instruments'"></h3>
          </div>
          <md-content>
            <md-tabs md-dynamic-height md-border-bottom>
              <md-tab ng-repeat="dm in deMergerData.instruments" label="{{dm.oldInstrument.ISIN}}" >

                <md-content class="md-padding">

                  <div class="forms">
                    <div class="form-group">
                      <label class="form-labels"> <span once-text="'ISIN'|translate"></span>:</label>
                     <div class="form-inputs">
                       <p>{{dm.oldInstrument.ISIN}}</p>
                     </div>
                    </div>
                  </div>
                  <!--ISIN-->

                  <div class="forms">
                    <div class="form-group">
                      <label class="form-labels">
                        <span class="caption" once-text="'Select Current Instrument also'|translate"></span>:</label>
                      <div class="form-inputs">
                        <md-checkbox ng-model="dm.selectSelfAlso"
                                     aria-label="CB 1"
                                     class="md-checkbox-style"
                                     ng-change="currentInstrumentSelectionChange(dm)">
                        </md-checkbox>
                      </div>
                    </div>
                  </div>
                  <!-- Instrument ISIN-->
                  <div ng-controller="InstrumentDataEntryTemplateController"
                       ng-repeat="instrument in dm.newInstruments ">


                      <h4 ng-if="instrument.isCurrent" once-text="'Current Instrument'|translate"></h4>
                      <h4 ng-show="!instrument.isCurrent" once-text="'New Instrument'"></h4>

                      <div ng-form="instrument.partialFormName">

                        <div class="forms">
                          <div ng-if="instrument.isCurrent" class="form-group">
                            <label class="form-labels"><span class="required-sign">*</span><span once-text="'ISIN'|translate"></span>:</label>
                            <div class="form-inputs">
                              <input
                                type="text"
                                class="k-textbox"
                                name="currenti_inst_ISIN"
                                ng-trim="true"
                                disabled readonly
                                min="0"
                                ng-model="dm.oldInstrument.ISIN"
                                >
                            </div>
                          </div>
                        </div>
                        <!--ISIN-->

                      <div class="nominator-discriminator-wrappper">
                          <div class="inline-block form-group pull-left"
                               ng-class="{ 'has-error': (instrument.partialFormName.$submitted || instrument.partialFormName['nominator'].$touched) &&(instrument.partialFormName['nominator'].$invalid)  }">

                            <label class="form-labels"><span class="required-sign">*</span><span once-text="'Nominator'|translate"></span>:</label>
                            <div class="form-inputs">
                              <input
                                type="number"
                                name="nominator"
                                class="k-textbox"
                                ng-trim="true"
                                min="0"
                                ng-model="instrument.nominator"
                                ng-required="true"
                                >
                              <div
                                ng-show="instrument.partialFormName.$submitted || instrument.partialFormName['nominator'].$touched">
                                <p ng-show="instrument.partialFormName['nominator'].$error.required"
                                   class="help-block help-block-error">
                                  <span once-text="'This field is required'|translate"></span>
                                </p>

                                <p
                                  ng-show="instrument.partialFormName['nominator'].$error.number"
                                  class="help-block help-block-error">
                                  <span once-text="'Wrong Format!'|translate"></span>
                                </p>
                              </div>
                            </div>
                          </div>
                        <!--Nominator-->

                          <div class="inline-block form-group pull-left" ng-class="{ 'has-error': (instrument.partialFormName.$submitted
                            || instrument.partialFormName['discriminator'].$touched)
                            &&(instrument.partialFormName['discriminator'].$invalid)  }">
                            <label class="pull-left"><i class="margin10">/</i><span class="required-sign">*</span>
                            <span once-text="'Discriminator'|translate"></span>:</label>
                            <div class="form-inputs">
                              <input
                                type="number"
                                class="k-textbox"
                                min="0"
                                name="discriminator"
                                ng-trim="true"
                                ng-model="instrument.discriminator"
                                ng-required="true"
                                >
                              <div
                                ng-show="instrument.partialFormName.$submitted || instrument.partialFormName['discriminator'].$touched">
                                <p ng-show="instrument.partialFormName['discriminator'].$error.required"
                                   class="help-block help-block-error">
                                  <span once-text="'This field is required'|translate"></span>
                                </p>

                                <p ng-show="instrument.partialFormName['discriminator'].$error.number"
                                   class="help-block help-block-error">
                                  <span once-text="'Wrong Format!'|translate"></span>
                                </p>
                              </div>
                            </div>
                          </div>

                        <!--Discriminator-->
                      </div>
                        <div class="forms half-width">

                          <div class="form-group" ng-class="{ 'has-error':
                              (instrument.partialFormName.$submitted || instrument.partialFormName['fraction_treatment_class'].$touched)
                              &&(instrument.partialFormName['fraction_treatment_class'].$invalid)  }">

                            <label class="form-labels"><span class="required-sign">*</span>
                              <span once-text="'Fraction Treatment Class'|translate"></span>:</label>

                            <div class="form-inputs">
                              <select
                                name="fraction_treatment_class"
                                ng-model="instrument.fractionTreatmentClass"
                                ng-required="true"
                                >
                                <option value="">---</option>
                                <option
                                  value="{{cl|json}}"
                                  ng-repeat="cl in  metaData.fractionTreatmentClasses">{{cl['name'+lnC]}}</option>
                              </select>

                              <div
                                ng-show="instrument.partialFormName.$submitted || instrument.partialFormName['fraction_treatment_class'].$touched">
                                <p
                                  ng-show="instrument.partialFormName['fraction_treatment_class'].$error.required"
                                  class="help-block help-block-error">
                                  <span once-text="'This field is required'|translate"></span>
                                </p>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- Fraction T.C.-->
                        <!--Nominator, discriminator, Fraction t.-->

                        <div ng-if="!instrument.isCurrent"
                             ng-include="'app/instruments/templates/partials/instrument-data.html'">
                        </div>
                        <!--Add new instrument-->
                      </div>

                  </div>
                  <!--New instrument form-->

                  <!--Instrument selection form-->

                  <hr/>

                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                      <div class="form-group pull-left">
                        <md-button class="md-fab md-micro"
                                   aria-label="add button"
                                   ng-click="addNewInstrument(dm)">
                          <i class="glyphicon glyphicon-plus micro-glyphicon"></i>
                          <md-tooltip>
                            <span once-text="'Add New Instrument'|translate"></span>
                          </md-tooltip>
                        </md-button>
                      </div>
                      <!--Add-->
                      <div class="form-group pull-left">
                        <md-button type="button" aria-label="minus button"
                                   class="md-fab md-micro"
                                   ng-click="removeNewInstrument(dm.newInstruments)">
                          <i class="glyphicon glyphicon-minus micro-glyphicon"></i>
                          <md-tooltip>
                            <span once-text="'Delete Instrument'|translate"></span>
                          </md-tooltip>
                        </md-button>
                      </div>
                      <!--Remove-->
                    </div>

                  <!--New securities add btn-->

                </md-content>
              </md-tab>
            </md-tabs>
          </md-content>
        </div>

    </div>
  </div>
</div>
