<div class="window-extend-block" data-extend-template="app/common/templates/operation-window-layout.html">
  <div data-block="content" class="window-main-content">
      <div class="margin10">
        <table class="table table-striped table-bordered">
          <thead>
          <tr>
            <th><strong class="required-sign">*</strong> <strong once-text="'Instrument Code'|translate"></strong></th>
            <th once-text="'Issuer'|translate"></th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>
              <span>{{taskData.instrument.ISIN}}</span>
            </td>
            <td>
              <span>{{taskData.instrument.issuerName}}</span>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <!--Find instrument-->

      <div class="margin10">
        <h4>Azaldılma miqdarları</h4>
        <table class="table table-striped table-bordered">
          <thead>
          <tr>
            <th class="sortable-column">Yerləşdirilib</th>
            <th class="sortable-column">Azaldılan miqdar</th>
            <th class="sortable-column">Geri satın alınıb</th>
            <th class="sortable-column">Azaldılan miqdar</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>
              {{taskData.currentPlacedQty}}
            </td>
            <td>
              {{taskData.decreasedPlacedQty}}
            </td>
            <td>
              {{taskData.currentBuyBackQty}}
            </td>
            <td>
              {{taskData.decreasedBuyBackQty}}
            </td>
          </tr>
          </tbody>
        </table>
      </div>

      <div class="margin10" ng-if="taskData.decreasedPlacedQty > 0">
        <h4 once-text="'Shareholders'|translate"></h4>
        <table class="table table-striped table-bordered">
          <thead>
          <tr>
            <th class="sortable-column " >Ad</th>
            <th class="sortable-column " >Hesab nömrəsi</th>
            <th class="sortable-column " >Hissənin növü</th>
            <th class="sortable-column " >Cari miqdar</th>
            <th class="sortable-column " >Azaldılan miqdar</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="item in  taskData.decreasedPlacedItems">
            <td>{{item.holder.name}}</td>
            <td>{{item.holder.accountNumber}}</td>
            <td>{{item.balanceClassName}}</td>
            <td>{{item.currentQty}}</td>
            <td>{{item.decreasedQty}}</td>
          </tr>
          </tbody>
        </table>
      </div>
  </div>
</div>
