<div class="window-extend-block" data-extend-template="app/common/templates/operation-window-layout.html">
  <div data-block="content" class="window-main-content">
    <div role="form" ng-form="config.form.name" ng-submit="config.buttons.complete.click()">
      <div class="margin10">
        <h4 once-text="'Select Instrument'|translate"></h4>
        <table class="table table-striped table-bordered">
          <thead>
          <tr>
            <th><strong class="required-sign">*</strong> <strong once-text="'Instrument Code'|translate"></strong></th>
            <th once-text="'Issuer'|translate"></th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>
              <span ng-if="!operationData.instrument.ISIN">......</span>
              <span>{{operationData.instrument.ISIN}}</span>
              <input
                class="k-textbox"
                type="hidden"
                name="ISIN"
                disabled readonly
                ng-required="true"
                ng-model="operationData.instrument.ISIN">

              <div ng-class="{ 'has-error': (config.form.name.$submitted
            || config.form.name['ISIN'].$touched)  &&(config.form.name['ISIN'].$invalid)  }"
                   ng-show="config.form.name.$submitted || config.form.name['ISIN'].$touched">
                <p ng-show="config.form.name['ISIN'].$error.required"
                   class="help-block help-block-error">
                  <span once-text="'This field is required'|translate"></span>
                </p>
              </div>
            </td>
            <td>
              <span ng-if="!operationData.instrument.issuerName">......</span>
              <span>{{operationData.instrument.issuerName}}</span>
              <input
                class="k-textbox"
                type="hidden"
                disabled readonly
                ng-model="operationData.instrument.issuerName">

              <div ng-class="{ 'has-error': (config.form.name.$submitted
            || config.form.name['ISIN'].$touched)  &&(config.form.name['ISIN'].$invalid)  }"
                   ng-show="config.form.name.$submitted || config.form.name['ISIN'].$touched">
                <p ng-show="config.form.name['ISIN'].$error.required"
                   class="help-block help-block-error">
                  <span once-text="'This field is required'|translate"></span>
                </p>
              </div>
            </td>
            <td>
              <md-button
                type="button"
                aria-label="search button"
                class="md-fab md-micro"
                ng-click="findInstrument($index)">
                <i class="glyphicon glyphicon-search micro-glyphicon"></i>
                <md-tooltip>
                  <span once-text="'Find Instrument'|translate"></span>
                </md-tooltip>
              </md-button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <!--Find instrument-->

      <div class="margin10" ng-if="operationData.instrumentID">
        <h4>Azaldılma miqdarları</h4>
        <table class="table table-striped table-bordered">
          <thead>
          <tr>
            <th class="sortable-column">Yerləşdirilib</th>
            <th class="sortable-column">Azaldılan miqdar</th>
            <th class="sortable-column">Geri satın alınıb</th>
            <th class="sortable-column">Azaldılan miqdar</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>
              {{operationData.currentPlacedQty}}
            </td>
            <td>
              <input
              class="k-textbox"
              type="number"
              name="decreasedPlacedQty"
              min="0"
              ng-model="operationData.decreasedPlacedQty"/>
            </td>
            <td>
              {{operationData.currentBuyBackQty}}
            </td>
            <td>
              <input
                class="k-textbox"
                type="number"
                name="decreasedBuyBackQty"
                min="0"
                ng-model="operationData.decreasedBuyBackQty"/>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

      <div class="margin10" ng-if="operationData.decreasedPlacedQty > 0">
        <h4 once-text="'Shareholders'|translate"></h4>
        <table class="table table-striped table-bordered">
          <thead>
          <tr>
            <th class="sortable-column " >Ad</th>
            <th class="sortable-column " >Hesab nömrəsi</th>
            <th class="sortable-column " >Hissənin növü</th>
            <th class="sortable-column " >Cari miqdar</th>
            <th class="sortable-column " >Azaldılan miqdar</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="item in  operationData.decreasedPlacedItems">
            <td>{{item.holder.name}}</td>
            <td>{{item.holder.accountNumber}}</td>
            <td>{{item.balanceClassName}}</td>
            <td>{{item.currentQty}}</td>
            <td>
              <input class="k-textbox"
                     ng-model="item.decreasedQty"
                     name="instrument_quantity_{{$index}}"
                >
            </td>
          </tr>
          </tbody>
        </table>
      </div>
  </div>
</div>
