<div class="window-extend-block" data-extend-template="app/common/templates/operation-window-layout.html">
  <div data-block="content" class="window-main-content">
    <div
      role="form"
      ng-form="config.form.name"
      ng-submit="config.buttons.complete.click()">
        <!--Par value-->
      <div class="forms">
          <div class="form-group margin-top-0" ng-class="{ 'has-error':
                 (config.form.name.$submitted || config.form.name.registration_number.$touched)
                 &&(config.form.name.registration_number.$invalid)  }">
            <label class="form-labels"><span class="required-sign">*</span>
              <span once-text="'Registration Number'|translate"></span>:</label>
            <div class="form-inputs">
              <input type="text"
                     class="k-textbox"
                     name="registration_number"
                     ng-model="haircutChangeData.registrationNumber"
                     ng-required="true">

              <div ng-show="config.form.name.$submitted || config.form.name.registration_number.$touched">
                <p ng-show="config.form.name.registration_number.$error.required"
                   class="help-block help-block-error">
                  <span once-text="'This field is required'|translate"></span>
                </p>
              </div>
            </div>
          </div>
      </div>
      <div class="forms">
          <div class="form-group" ng-class="{ 'has-error':
                 (config.form.name.$submitted || config.form.name.reg_auth_class.$touched)
                 &&(config.form.name.reg_auth_class.$invalid)  }">

            <label class="form-labels text-right"><span class="required-sign">*</span>
              <span once-text="'Registration Authority Class'|translate"></span>:</label>
           <div class="form-inputs">
             <select
               name="reg_auth_class"
               ng-model="haircutChangeData.registrationAuthorityClass"
               ng-required="true"
               >
               <option value="">---</option>
               <option
                 value="{{cl|json}}"
                 ng-repeat="cl in  metaData.registrationAuthorityClasses">{{cl['name'+lnC]}}</option>
             </select>
             <div ng-show="config.form.name.$submitted || config.form.name.reg_auth_class.$touched">
               <p ng-show="config.form.name.reg_auth_class.$error.required"
                  class="help-block help-block-error">
                 <span once-text="'This field is required'|translate"></span>
               </p>
             </div>
           </div>
          </div>
      </div>
      <!--Reg num. ,reg auth-->

      <div class="forms">
          <div class="form-group" ng-class="{ 'has-error':
                 (config.form.name.$submitted || config.form.name.registration_date.$touched)
                 &&(config.form.name.registration_date.$invalid)  }">

            <label class="form-labels"><span class="required-sign">*</span>
              <span once-text="'Registration Date'|translate"></span>:</label>
           <div class="form-inputs">
             <input type="text"
                    class="datepicker-cst"
                    kendo-date-picker
                    name="registration_date"
                    ng-model="haircutChangeData.registrationDate"
                    k-ng-model="haircutChangeData.registrationDateObj"
                    ng-required="true"
               >
             <div ng-show="config.form.name.$submitted || config.form.name.registration_date.$touched">
               <p ng-show="config.form.name.registration_date.$error.required"
                  class="help-block help-block-error">
                 <span once-text="'This field is required'|translate"></span>
               </p>
               <p ng-show="config.form.name.registration_date.$error.csmKendoDate"
                  class="help-block help-block-error">
                 <span once-text="'Please enter a valid date!'|translate"></span>
               </p>
             </div>
           </div>
          </div>
        </div>
      <div class="forms">
          <div class="form-group" ng-class="{ 'has-error':
                 (config.form.name.$submitted || config.form.name.value_date.$touched)
                 &&(config.form.name.value_date.$invalid)  }">
            <label class="form-labels"><span class="required-sign">*</span>
              <span once-text="'Value Date'|translate"></span>:</label>
            <div class="form-inputs">
              <input type="text"
                     class="datepicker-cst"
                     kendo-date-picker
                     name="value_date"
                     ng-model="haircutChangeData.valueDate"
                     k-ng-model="haircutChangeData.valueDateObj"
                     ng-required="true"
                >

              <div ng-show="config.form.name.$submitted || config.form.name.value_date.$touched">
                <p ng-show="config.form.name.value_date.$error.required"
                   class="help-block help-block-error">
                  <span once-text="'This field is required'|translate"></span>
                </p>

                <p ng-show="config.form.name.value_date.$error.csmKendoDate"
                   class="help-block help-block-error">
                  <span once-text="'Please enter a valid date!'|translate"></span>
                </p>
              </div>
            </div>
          </div>
      </div>
      <!--Reg date,Record date-->
      <div class="forms">
        <table class="table table-striped table-bordered">
          <thead>
          <tr>
            <th><strong class="required-sign">*</strong> <strong once-text="'Issuer'|translate"></strong></th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td class="half-width">
              <span ng-if="!haircutChangeData.issuer.name">......</span>
              <span > {{haircutChangeData.issuer.name}}</span>
              <input
                class="k-textbox"
                type="hidden"
                name="issuer"
                ng-required="true"
                ng-model="haircutChangeData.issuer.name">

              <div ng-class="{ 'has-error':
                 (config.form.name.$submitted || config.form.name.issuer.$touched)
                 &&(config.form.name.issuer.$invalid)  }"
                   ng-show="config.form.name.$submitted || config.form.name.issuer.$touched">
                <p ng-show="config.form.name.issuer.$error.required"
                   class="help-block help-block-error">
                  <span once-text="'This field is required'|translate"></span>
                </p>
              </div>
            </td>
            <td class="half-width">
              <md-button type="button"
                         class="md-fab md-micro"
                         aria-label="search button"
                         ng-click="findIssuer()">
                <i class="glyphicon glyphicon-search micro-glyphicon"></i>
                <md-tooltip md-direction="down">
                  <span once-text="'Find Issuer'|translate"></span>
                </md-tooltip>
              </md-button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="forms">
        <table class="table table-striped table-bordered">
          <thead>
          <tr>
            <th><strong class="required-sign">*</strong> <strong once-text="'Instrument Code'|translate"></strong></th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td class="half-width">
              <span ng-if="!haircutChangeData.instrument.ISIN">......</span>
              <span > {{haircutChangeData.instrument.ISIN}}</span>
              <input
                class="k-textbox"
                type="hidden"
                name="ISIN"
                ng-required="true"
                ng-model="haircutChangeData.instrument.ISIN">

              <div ng-class="{ 'has-error': (config.form.name.$submitted
            || config.form.name['ISIN'].$touched)  &&(config.form.name['ISIN'].$invalid)  }"
                   ng-show="config.form.name.$submitted || config.form.name['ISIN'].$touched">
                <p ng-show="config.form.name['ISIN'].$error.required"
                   class="help-block help-block-error">
                  <span once-text="'This field is required'|translate"></span>
                </p>
              </div>
            </td>
            <td class="half-width">
              <md-button
                type="button"
                aria-label="search button"
                class="md-fab md-micro"
                ng-disabled="!(haircutChangeData.issuer.id)"
                ng-click="findInstrument($index)">
                <i class="glyphicon glyphicon-search micro-glyphicon"></i>
                <md-tooltip md-direction="down">
                  <span once-text="'Find Instrument'|translate"></span>
                </md-tooltip>
              </md-button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>

        <table class="table table-striped table-bordered">
          <thead>
          <tr>
            <th><strong class="required-sign">*</strong> <strong once-text="'Old Haircut Value'|translate"></strong></th>
            <th><strong class="required-sign">*</strong> <strong once-text="'New Haircut Value'|translate"></strong></th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td class="half-width">
              <!--<span ng-if="!haircutChangeData.oldHaircutValue">......</span>-->
              <!--<span > {{haircutChangeData.oldHaircutValue}}</span>-->
              <input
                type="number"
                class="k-textbox"
                name="old_haircut_value"
                ng-trim="true"
                disabled readonly
                ng-model="haircutChangeData.oldHaircutValue"
                ng-required="true"
                >

              <div ng-class="{ 'has-error': (config.form.name.$submitted || config.form.name.old_haircut_value.$touched)
                &&(config.form.name.old_haircut_value.$invalid)  }"
                   ng-show="config.form.name.$submitted || config.form.name.old_haircut_value.$touched">
                <p ng-show="config.form.name.old_haircut_value.$error.required"
                   class="help-block help-block-error">
                  <span once-text="'This field is required'|translate"></span>
                </p>

                <p ng-show="config.form.name.old_haircut_value.$error.number"
                   class="help-block help-block-error">
                  <span once-text="'Wrong Format!'|translate"></span>
                </p>
              </div>
            </td>
            <td class="half-width">
              <!--<span ng-if="!haircutChangeData.newHaircutValue">......</span>-->
              <!--<span >{{haircutChangeData.newHaircutValue}}</span>-->
              <input
                class="k-textbox"
                type="number"
                name="new_haircut_value"
                min="0"
                ng-trim="true"
                ui-validate="{greaterThan : 'compareQuantities($value)' }"
                ng-model="haircutChangeData.newHaircutValue"
                ng-required="true"
                >

              <div  ng-class="{ 'has-error': (config.form.name.$submitted || config.form.name.new_haircut_value.$touched)
                &&(config.form.name.new_haircut_value.$invalid)  }"
                    ng-show="config.form.name.$submitted || config.form.name.new_haircut_value.$touched">
                <p ng-show="config.form.name.new_haircut_value.$error.required"
                   class="help-block help-block-error">
                  <span once-text="'This field is required'|translate"></span>
                </p>

                <p ng-show="config.form.name.new_haircut_value.$error.greaterThan"
                   class="help-block help-block-error">
                  <span once-text="'Haircut can\'t be the same as old haircut.'|translate"></span>
                </p>

                <p ng-show="config.form.name.new_haircut_value.$error.number"
                   class="help-block help-block-error">
                  <span once-text="'Wrong Format!'|translate"></span>
                </p>
                <p
                  ng-show="config.form.name.new_haircut_value.$error.number"
                  class="help-block help-block-error">
                  <span once-text="'Amount cannot be less than 0'|translate"></span>
                </p>
              </div>

            </td>
          </tr>
          </tbody>
        </table>

    </div>
  </div>
</div>
