<div class="window-extend-block" data-extend-template="app/common/templates/operation-window-layout.html">
  <div data-block="content" class="window-main-content">
    <div
      role="form"
      ng-form="config.form.name"
      ng-submit="config.buttons.complete.click()">

      <div class="forms">
        <div class="form-group" ng-class="{ 'has-error':
                 (config.form.name.$submitted || config.form.name.registration_number.$touched)
                 &&(config.form.name.registration_number.$invalid)  }">

          <label class="form-labels"><span class="required-sign">*</span>
            <span once-text="'Registration Number'|translate"></span>:</label>
          <div class="form-inputs">
            <input type="text"
                   class="k-textbox"
                   name="registration_number"
                   ng-model="instrumentConversionData.registrationNumber"
                   ng-required="true">

            <div ng-show="config.form.name.$submitted || config.form.name.registration_number.$touched">
              <p ng-show="config.form.name.registration_number.$error.required"
                 class="help-block help-block-error">
                <span once-text="'This field is required'|translate"></span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="forms">
        <div class="form-group" ng-class="{ 'has-error':
                 (config.form.name.$submitted || config.form.name.reg_auth_class.$touched)
                 &&(config.form.name.reg_auth_class.$invalid)  }">

          <label class="form-labels"><span class="required-sign">*</span>
            <span once-text="'Registration Authority Class'|translate"></span>:</label>
          <div class="form-inputs">
            <select
              name="reg_auth_class"
              ng-model="instrumentConversionData.registrationAuthorityClass"
              ng-required="true"
              >
              <option value="">---</option>
              <option
                value="{{cl|json}}"
                ng-repeat="cl in  metaData.registrationAuthorityClasses">{{cl['name'+lnC]}}</option>
            </select>


            <div ng-show="config.form.name.$submitted || config.form.name.reg_auth_class.$touched">
              <p ng-show="config.form.name.reg_auth_class.$error.required"
                 class="help-block help-block-error">
                <span once-text="'This field is required'|translate"></span>
              </p>
            </div>
          </div>
        </div>

      </div>

      <!--Reg num. ,reg auth-->

      <div class="forms">
        <div class="form-group" ng-class="{ 'has-error':
                 (config.form.name.$submitted || config.form.name.registration_date.$touched)
                 &&(config.form.name.registration_date.$invalid)  }">
          <label class="form-labels"><span class="required-sign">*</span>
            <span once-text="'Registration Date'|translate"></span>:</label>
          <div class="form-inputs">
            <input type="text"
                   class="datepicker-cst"
                   kendo-date-picker
                   name="registration_date"
                   ng-model="instrumentConversionData.registrationDate"
                   k-ng-model="instrumentConversionData.registrationDateObj"
                   ng-required="true"
              >

            <div ng-show="config.form.name.$submitted || config.form.name.registration_date.$touched">
              <p ng-show="config.form.name.registration_date.$error.required"
                 class="help-block help-block-error">
                <span once-text="'This field is required'|translate"></span>
              </p>

              <p ng-show="config.form.name.registration_date.$error.csmKendoDate"
                 class="help-block help-block-error">
                <span once-text="'Please enter a valid date!'|translate"></span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="forms">
        <div class="form-group" ng-class="{ 'has-error':
                 (config.form.name.$submitted || config.form.name.record_date.$touched)
                 &&(config.form.name.record_date.$invalid)  }">
          <label class="form-labels"><span class="required-sign">*</span>
            <span once-text="'Record Date'|translate"></span>:</label>
          <div class="form-inputs">
            <input type="text"
                   class="datepicker-cst"
                   kendo-date-picker
                   name="record_date"
                   ng-model="instrumentConversionData.recordDate"
                   k-ng-model="instrumentConversionData.recordDateObj"
                   ng-required="true"
              >

            <div ng-show="config.form.name.$submitted || config.form.name.record_date.$touched">
              <p ng-show="config.form.name.record_date.$error.required"
                 class="help-block help-block-error">
                <span once-text="'This field is required'|translate"></span>
              </p>

              <p ng-show="config.form.name.record_date.$error.csmKendoDate"
                 class="help-block help-block-error">
                <span once-text="'Please enter a valid date!'|translate"></span>
              </p>
            </div>
          </div>
        </div>

      </div>

      <!--Reg date-->

      <div class="forms">
        <div class="form-group" ng-class="{ 'has-error':
                 (config.form.name.$submitted || config.form.name.value_date.$touched)
                 &&(config.form.name.value_date.$invalid)  }">
          <label class="form-labels"><span class="required-sign">*</span>
            <span once-text="'Value Date'|translate"></span>:</label>
          <div class="form-inputs">
            <input type="text"
                   class="datepicker-cst"
                   kendo-date-picker
                   name="value_date"
                   ng-model="instrumentConversionData.valueDate"
                   k-ng-model="instrumentConversionData.valueDateObj"
                   ng-required="true"
              >

            <div ng-show="config.form.name.$submitted || config.form.name.value_date.$touched">
              <p ng-show="config.form.name.value_date.$error.required"
                 class="help-block help-block-error">
                <span once-text="'This field is required'|translate"></span>
              </p>

              <p ng-show="config.form.name.value_date.$error.csmKendoDate"
                 class="help-block help-block-error">
                <span once-text="'Please enter a valid date!'|translate"></span>
              </p>
            </div>
          </div>
        </div>

      </div>

      <div class="nominator-discriminator-wrappper">
          <div class="form-group inline-block pull-left"
               ng-class="{ 'has-error': (config.form.name.$submitted || config.form.name.nominator.$touched)
                &&(config.form.name.nominator.$invalid)  }">

              <label class="form-labels"> <span class="required-sign">*</span>
                <span once-text="'Nominator'|translate"></span>:</label>
             <div class="form-inputs">
               <input
                 class="k-textbox"
                 type="number"
                 name="nominator"
                 ng-trim="true"
                 min="0"
                 ng-model="instrumentConversionData.nominator"
                 ng-required="true"
                 >

               <div ng-show="config.form.name.$submitted || config.form.name.nominator.$touched">
                 <p ng-show="config.form.name.nominator.$error.required"
                    class="help-block help-block-error">
                   <span once-text="'This field is required'|translate"></span>
                 </p>

                 <p
                   ng-show="config.form.name.nominator.$error.number"
                   class="help-block help-block-error">
                   <span once-text="'Wrong Format!'|translate"></span>
                 </p>
               </div>
             </div>
          </div>
        <!--Nominator-->

          <div class="form-group inline-block pull-left" ng-class="{ 'has-error': (config.form.name.$submitted || config.form.name.discriminator.$touched)
                &&(config.form.name.discriminator.$invalid)  }">

              <label class="pull-left"> <span class="required-sign">*</span><i class="margin10">/</i>
                <!--<i class="margin10"></i>-->
                <span once-text="'Discriminator'|translate"></span>:</label>

              <div class="form-inputs">
                <input
                  class="k-textbox"
                  type="number"
                  min="0"
                  name="discriminator"
                  ng-trim="true"
                  ng-model="instrumentConversionData.discriminator"
                  ng-required="true"
                  >

                <div ng-show="config.form.name.$submitted || config.form.name.discriminator.$touched">
                  <p ng-show="config.form.name.discriminator.$error.required"
                     class="help-block help-block-error">
                    <span once-text="'This field is required'|translate"></span>
                  </p>

                  <p
                    ng-show="config.form.name.discriminator.$error.number"
                    class="help-block help-block-error">
                    <span once-text="'Wrong Format!'|translate"></span>
                  </p>
                </div>
              </div>
          </div>
        <!--Denominator-->
      </div>

        <div class="forms half-width">
          <div class="form-group" ng-class="{ 'has-error':
                 (config.form.name.$submitted || config.form.name.fraction_treatment_class.$touched)
                 &&(config.form.name.fraction_treatment_class.$invalid)  }">

            <label class="form-labels"><span class="required-sign">*</span>
              <span once-text="'Fraction Treatment Class'|translate"></span>:</label>
           <div class="form-inputs">
             <select
               name="fraction_treatment_class"
               ng-model="instrumentConversionData.fractionTreatmentClass"
               ng-required="true"
               >
               <option value="">---</option>
               <option
                 value="{{cl|json}}"
                 ng-repeat="cl in  metaData.fractionTreatmentClasses">{{cl['name'+lnC]}}</option>
             </select>

             <div ng-show="config.form.name.$submitted || config.form.name.fraction_treatment_class.$touched">
               <p ng-show="config.form.name.fraction_treatment_class.$error.required"
                  class="help-block help-block-error">
                 <span once-text="'This field is required'|translate"></span>
               </p>
             </div>
           </div>
          </div>
        </div>
        <!-- Fraction T.C.-->

      <h4  once-text="'Old Security'|translate"></h4>

      <table class="table table-striped table-bordered">
        <thead>
        <tr>
          <th><strong class="required-sign">*</strong> <strong once-text="'Instrument Code'|translate"></strong></th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td class="half-width">
            <span ng-if="!instrumentConversionData.oldSecurity.ISIN">......</span>
            <span >{{instrumentConversionData.oldSecurity.ISIN}}</span>
            <input
              class="k-textbox"
              type="hidden"
              name="old_security_ISIN"
              ng-required="true"
              ng-model="instrumentConversionData.oldSecurity.ISIN">

            <div ng-class="{ 'has-error': (config.form.name.$submitted
            || config.form.name.old_security_ISIN.$touched)  &&(config.form.name.old_security_ISIN.$invalid)  }"
                 ng-show="config.form.name.$submitted || config.form.name.old_security_ISIN.$touched">
              <p ng-show="config.form.name.old_security_ISIN.$error.required"
                 class="help-block help-block-error">
                <span once-text="'This field is required'|translate"></span>
              </p>
            </div>

          </td>
          <td>
            <md-button type="button"
                       class="md-fab md-micro"
                       aria-label="search button"
                       ng-click="findOldSecurity()">
              <i class="glyphicon glyphicon-search micro-glyphicon"></i>
              <md-tooltip>
                <span once-text="'Find Old Security'|translate"></span>
              </md-tooltip>
            </md-button>
          </td>
        </tr>
        </tbody>
      </table>

      <div ng-if="instrumentConversionData.oldSecurity.CFI">
        <h4 once-text="'New Security'|translate"></h4>
        <table class="table table-striped table-bordered">
          <thead>
          <tr>
            <th><strong class="required-sign">*</strong> <strong once-text="'Create New Instrument'|translate"></strong></th>
            <th ng-if="!instrumentConversionData.config.newSecurity.isNew" once-text="'Instrument Code'|translate"></th>
            <th ng-if="!instrumentConversionData.config.newSecurity.isNew"></th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>
              <label> <span once-text="'Create New Instrument'|translate"></span>:</label>
              <label class="input-control checkbox small-check">
                <md-checkbox type="checkbox"
                             ng-change="changeNewSecurityType()"
                             ng-model="instrumentConversionData.config.newSecurity.isNew">
              </label>
            </td>
            <td ng-if="!instrumentConversionData.config.newSecurity.isNew">
              <span ng-if="!instrumentConversionData.newSecurity.ISIN">......</span>
              <span >{{instrumentConversionData.newSecurity.ISIN}}</span>
              <input
                class="k-textbox"
                type="hidden"
                name="new_security_ISIN"
                ng-required="true"
                ng-model="instrumentConversionData.newSecurity.ISIN">

              <div ng-class="{ 'has-error': (config.form.name.$submitted
            || config.form.name.new_security_ISIN.$touched)  &&(config.form.name.new_security_ISIN.$invalid)  }"
                   ng-show="config.form.name.$submitted || config.form.name.new_security_ISIN.$touched">
                <p ng-show="config.form.name.new_security_ISIN.$error.required"
                   class="help-block help-block-error">
                  <span once-text="'This field is required'|translate"></span>
                </p>
              </div>
            </td>
            <td ng-if="!instrumentConversionData.config.newSecurity.isNew">
              <md-button type="button"
                         class="md-fab md-micro"
                         aria-label="search button"
                         ng-click="findNewSecurity()">
                <i class="glyphicon glyphicon-search micro-glyphicon"></i>
                <md-tooltip>
                  <span once-text="'Find New Security'|translate"></span>
                </md-tooltip>
              </md-button>
            </td>
          </tr>
          </tbody>
        </table>


        <div ng-if="instrumentConversionData.config.newSecurity.isNew"
             ng-repeat="instrument in [instrumentConversionData.newSecurity] "
             ng-include="'app/instruments/templates/partials/instrument-data.html'">
        </div>
      </div>


      <!--Value date-->
    </div>
  </div>
</div>
