<div class="window-extend-block" data-extend-template="app/common/templates/operation-window-layout.html">
  <div data-block="content" class="window-main-content">
    <div
      role="form"
      ng-form="config.form.name"
      ng-submit="config.buttons.complete.click()">


      <div class="forms">

        <div class="form-group" ng-class="{ 'has-error':
                 (config.form.name.$submitted || config.form.name.registration_number.$touched)
                 &&(config.form.name.registration_number.$invalid)  }">

          <label class="form-labels"><span class="required-sign">*</span>
            <span once-text="'Registration Number'|translate"></span>:</label>
          <div class="form-inputs">
            <input type="text"
                   class="k-textbox"
                   name="registration_number"
                   ng-model="instrumentDeletionData.registrationNumber"
                   ng-required="true">

            <div ng-show="config.form.name.$submitted || config.form.name.registration_number.$touched">
              <p ng-show="config.form.name.registration_number.$error.required"
                 class="help-block help-block-error">
                <span once-text="'This field is required'|translate"></span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="forms">

        <div class="form-group" ng-class="{ 'has-error':
                 (config.form.name.$submitted || config.form.name.reg_auth_class.$touched)
                 &&(config.form.name.reg_auth_class.$invalid)  }">

          <label class="form-labels"><span class="required-sign">*</span>
            <span once-text="'Registration Authority Class'|translate"></span>:</label>
          <div class="form-inputs">
            <select
              name="reg_auth_class"
              ng-model="instrumentDeletionData.registrationAuthorityClass"
              ng-required="true"
              >
              <option value="">---</option>
              <option
                value="{{cl|json}}"
                ng-repeat="cl in  metaData.registrationAuthorityClasses">{{cl['name'+lnC]}}</option>
            </select>


            <div ng-show="config.form.name.$submitted || config.form.name.reg_auth_class.$touched">
              <p ng-show="config.form.name.reg_auth_class.$error.required"
                 class="help-block help-block-error">
                <span once-text="'This field is required'|translate"></span>
              </p>
            </div>
          </div>
        </div>

      </div>
      <!--Reg num. ,reg auth-->
      <div class="forms">
        <div class="form-group" ng-class="{ 'has-error':
                 (config.form.name.$submitted || config.form.name.registration_date.$touched)
                 &&(config.form.name.registration_date.$invalid)  }">
          <label class="form-labels"><span class="required-sign">*</span>
            <span once-text="'Registration Date'|translate"></span>:</label>
          <div class="form-inputs">
            <input type="text"
                   class="datepicker-cst"
                   kendo-date-picker
                   name="registration_date"
                   ng-model="instrumentDeletionData.registrationDate"
                   k-ng-model="instrumentDeletionData.registrationDateObj"
                   ng-required="true"
              >

            <div ng-show="config.form.name.$submitted || config.form.name.registration_date.$touched">
              <p ng-show="config.form.name.registration_date.$error.required"
                 class="help-block help-block-error">
                <span once-text="'This field is required'|translate"></span>
              </p>

              <p ng-show="config.form.name.registration_date.$error.csmKendoDate"
                 class="help-block help-block-error">
                <span once-text="'Please enter a valid date!'|translate"></span>
              </p>
            </div>
          </div>
        </div>

      </div>
      <div class="forms">
        <div class="form-group" ng-class="{ 'has-error':
                 (config.form.name.$submitted || config.form.name.value_date.$touched)
                 &&(config.form.name.value_date.$invalid)  }">
          <label class="form-labels"><span class="required-sign">*</span>
            <span once-text="'Value Date'|translate"></span>:</label>
          <div class="form-inputs">
            <input type="text"
                   class="datepicker-cst"
                   kendo-date-picker
                   name="value_date"
                   ng-model="instrumentDeletionData.valueDate"
                   k-ng-model="instrumentDeletionData.valueDateObj"
                   ng-required="true"
              >

            <div ng-show="config.form.name.$submitted || config.form.name.value_date.$touched">
              <p ng-show="config.form.name.value_date.$error.required"
                 class="help-block help-block-error">
                <span once-text="'This field is required'|translate"></span>
              </p>

              <p ng-show="config.form.name.value_date.$error.csmKendoDate"
                 class="help-block help-block-error">
                <span once-text="'Please enter a valid date!'|translate"></span>
              </p>
            </div>
          </div>
        </div>

      </div>
      <!--Reg date, value date-->
      <div class="forms">

          <div class="form-group" ng-class="{ 'has-error':
                 (config.form.name.$submitted || config.form.name.instrument_deletion_class.$touched)
                 &&(config.form.name.instrument_deletion_class.$invalid)  }">

            <label class="form-labels"><span class="required-sign">*</span>
              <span once-text="'Instrument Deletion Class'|translate"></span>:</label>
           <div class="form-inputs">
             <select
               name="instrument_deletion_class"
               ng-model="instrumentDeletionData.instrumentDeletionClass"
               ng-change="instrumentDeletionClassChange()"
               ng-required="true"
               >
               <option value="">---</option>
               <option
                 value="{{cl|json}}"
                 ng-repeat="cl in  metaData.CAInstrumentDeletionClasses">{{cl['name'+lnC]}}</option>
             </select>


             <div ng-show="config.form.name.$submitted || config.form.name.instrument_deletion_class.$touched">
               <p ng-show="config.form.name.instrument_deletion_class.$error.required"
                  class="help-block help-block-error">
                 <span once-text="'This field is required'|translate"></span>
               </p>
             </div>
           </div>
          </div>

        </div>
      <!--Instrument Deletion Class-->
      <table class="table table-striped table-bordered">
        <thead>
        <tr>
          <th><strong class="required-sign">*</strong> <strong once-text="'Issuer'|translate"></strong></th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td class="half-width">
            <span ng-if="!instrumentDeletionData.issuer.name">......</span>
            <span >{{instrumentDeletionData.issuer.name}}</span>
            <input
              type="hidden"
              name="issuer"
              disabled readonly
              ng-required="true"
              ng-model="instrumentDeletionData.issuer.name">
            <div ng-class="{ 'has-error':
                 (config.form.name.$submitted || config.form.name.issuer.$touched)
                 &&(config.form.name.issuer.$invalid)  }"
                 ng-show="config.form.name.$submitted || config.form.name.issuer.$touched">
              <p ng-show="config.form.name.issuer.$error.required"
                 class="help-block help-block-error">
                <span once-text="'This field is required'|translate"></span>
              </p>
            </div>

          </td>
          <td class="half-width">
            <md-button type="button"
                       aria-label="search button"
                       class="md-fab md-micro"
                       ng-click="findIssuer()">
              <md-tooltip md-direction="down">
                <span once-text="'Find Issuer'|translate"></span>
              </md-tooltip>
              <i class="glyphicon glyphicon-search micro-glyphicon"></i>
            </md-button>
          </td>
        </tr>
        </tbody>
      </table>
      <!--Find issuer-->
      <div  ng-if="instrumentDeletionData.config.instrument.showInstrumentFindBlock && instrumentDeletionData.issuer.id">

        <table class="table table-striped table-bordered">
          <thead>
          <tr>
            <th><strong class="required-sign">*</strong> <strong once-text="'Instrument Code'|translate"></strong></th>
            <th></th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr data-ng-repeat="instrument in instrumentDeletionData.instruments" >
            <td>
              <span ng-if="!instrument.ISIN">......</span>
              <span >{{instrument.ISIN}}</span>
              <input
                type="hidden"
                name="ISIN_{{$index}}"
                disabled readonly
                ng-required="true"
                ng-model="instrument.ISIN">
              <div ng-class="{ 'has-error': (config.form.name.$submitted
            || config.form.name['ISIN_'+$index].$touched)  &&(config.form.name['ISIN_'+$index].$invalid)  }"
                   ng-show="config.form.name.$submitted || config.form.name['ISIN_'+$index].$touched">
                <p ng-show="config.form.name['ISIN_'+$index].$error.required"
                   class="help-block help-block-error">
                  <span once-text="'This field is required'|translate"></span>
                </p>
              </div>

            </td>
            <td>
              <md-button type="button"
                         aria-label="search button"
                         class="md-fab md-micro"
                         ng-click="findInstrument($index)">
                <i class="glyphicon glyphicon-search micro-glyphicon"></i>
                <md-tooltip md-direction="down">
                  <span once-text="'Find Instrument'|translate"></span>
                </md-tooltip>
              </md-button>
            </td>
            <td>
              <md-button ng-show="$index>0"
                         type="button"
                         aria-label="search button"
                         class="md-fab md-micro"
                         ng-click="removeInstrument($index,instrumentDeletionData.instruments)">
                <i class="glyphicon glyphicon-remove micro-glyphicon"></i>
                <md-tooltip md-direction="down">
                  <span once-text="'Delete'|translate"></span>
                </md-tooltip>
              </md-button>
            </td>
          </tr>
          </tbody>
        </table>

      </div>

      <div ng-if="instrumentDeletionData.config.instrument.showInstrumentAddBtn && instrumentDeletionData.issuer.id" class="inline-block">

          <div class="form-group">
            <md-button class="md-fab md-micro pull-left"
                       aria-label="md search button"
                       ng-click="addNewInstrument(instrumentDeletionData.instruments)">
              <i class="glyphicon glyphicon-plus micro-glyphicon"></i>
              <md-tooltip>
                <span once-text="'Add New Instrument'|translate"></span>
              </md-tooltip>
            </md-button>
          </div>
      </div>

      <hr/>

    </div>
  </div>
</div>
