<div class="window-extend-block" data-extend-template="app/common/templates/operation-window-layout.html">
  <div data-block="content" class="window-main-content">

    <table class="table table-striped table-hover table-responsive table-bordered ">
      <tbody>
      <tr>
        <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4"><b
          once-text="'Corporate Action Class'|translate"></b></td>
        <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4">{{taskData.corporateAction.corporateActionClass['name'+lnC]}}
        </td>
      </tr>
      <tr>
        <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4"><b
          once-text="'Corporate Action Registration Number'|translate"></b></td>
        <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4">{{taskData.corporateAction.registrationNumber}}</td>
      </tr>

      <tr>
        <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4"><b
          once-text="'Corporate Action Registration Date'|translate"></b></td>
        <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4">{{taskData.corporateAction.registrationDate |date: 'short'}}
        </td>
      </tr>
      <tr>
        <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4"><b
          once-text="'Registration Number'|translate"></b></td>
        <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4">{{taskData.registrationNumber}}</td>
      </tr>
      <tr>
        <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4"><b
          once-text="'Registration Date'|translate"></b></td>
        <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4">{{taskData.registrationDate |date: 'short'}}</td>
      </tr>
      <tr>
        <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4"><b
          once-text="'Value Date'|translate"></b></td>
        <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4">{{taskData.valueDate |date: 'short'}}</td>
      </tr>

      <tr>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><b
          once-text="'Registration Authority Class'|translate"></b>
        </td>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6">{{taskData.registrationAuthorityClass['name'+lnC]}}</td>
      </tr>

      <tr ng-if="taskData.issueSuccess == true">
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><b
          once-text="'Issue Success'|translate"></b>
        </td>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"
            once-text="'Yes'|translate"></td>
      </tr>

      <tr ng-if="taskData.issueSuccess == false">
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><b
          once-text="'Issue Canceled'|translate"></b>
        </td>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"
            once-text="'Yes'|translate"></td>
      </tr>
      </tbody>
    </table>

    <table class="table table-striped table-hover table-responsive table-bordered ">
      <tbody>
      <tr>
        <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4"><b
          once-text="'Issued Quantity'|translate"></b></td>
        <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4">{{taskData.corporateAction.issueQuantity.issuedQuantity}}
        </td>
      </tr>
      <tr>
        <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4"><b
          once-text="'Placed Quantity'|translate"></b></td>
        <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4">{{taskData.corporateAction.issueQuantity.placedQuantity}}</td>
      </tr>
      <tr ng-if="taskData.sendToTreasure === true || taskData.sendToTreasure === false">
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><b
          once-text="'Send remaining shares to treasure'|translate"></b>
        </td>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6" ng-if="taskData.sendToTreasure ==true"
            once-text="'Yes'|translate"></td>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6" ng-if="taskData.sendToTreasure ==false"
            once-text="'No'|translate"></td>
      </tr>

      </tbody>

    </table>
    <div class="row">
      <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5"
           ng-if="taskData.corporateAction.underlyingSecurity">

        <div class="form-group ">
          <label><span once-text="'Underlying Securities'|translate"></span>:</label>
          <table class="table table-striped table-hover table-responsive table-bordered ">
            <thead>
            <th once-text="'Instrument'|translate"></th>
            <th once-text="'ISIN'|translate"></th>
            <th once-text="'Issuer'|translate"></th>

            </thead>
            <tbody>
            <tr data-ng-repeat="instrument in taskData.corporateAction.underlyingSecurity">
              <td>{{instrument.name.nameAz}}</td>
              <td>{{instrument.ISIN}}</td>
              <td>{{instrument.issuer.name}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5"
           ng-if="taskData.corporateAction.entitlementSecurity">
        <div class="form-group ">
          <label><span once-text="'Entitlement Securities'|translate"></span>:</label>
          <table class="table table-striped table-hover table-responsive table-bordered ">
            <thead>
            <th once-text="'Instrument'|translate"></th>
            <th once-text="'ISIN'|translate"></th>
            <th once-text="'Issuer'|translate"></th>

            </thead>
            <tbody>
            <tr data-ng-repeat="instrument in taskData.corporateAction.entitlementSecurity">
              <td>{{instrument.name.nameAz}}</td>
              <td>{{instrument.ISIN}}</td>
              <td>{{instrument.issuer.name}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>


  </div>
</div>
