<div class="window-extend-block" data-extend-template="app/common/templates/operation-window-layout.html">
  <div data-block="content" class="window-main-content">


    <div role="form" ng-form='config.form.name' ng-submit="config.buttons.complete.click()">

      <div class="min-width-470">
        <div class="form-group">
          <label class="form-label"> <span>Emitent hesabı</span>:</label>

          <div class="form-inputs" style="padding-left: 25px">
            <input class="k-textbox" ng-model="data.issuerAccount.name">
            <md-button class="md-fab md-micro" aria-label="Mini FAB" ng-click="findPersonStatement()">
              <i class="glyphicon glyphicon-search micro-glyphicon"></i>
              <md-tooltip>
                <span once-text="'Find '|translate"></span>
              </md-tooltip>
            </md-button>
          </div>
        </div>
      </div>

      <div class="forms">
        <div class="form-group">
          <label class="form-labels"> <span once-text="'Amount'|translate"></span>:</label>

          <div class="form-inputs">
            <input class="k-textbox" ng-model="data.amount">
          </div>

        </div>
      </div>

      <div class="forms">
        <div class="form-group">
          <label class="form-labels"> <span>Qeydiyyat nömrəsi</span>:</label>

          <div class="form-inputs">
            <input class="k-textbox" ng-model="data.regNumber">
          </div>

        </div>
      </div>

      <div class="forms">
        <div class="form-group">
          <label class="form-labels"> <span once-text="'Currency'|translate"></span>:</label>

          <div class="form-inputs">
            <select
              name="currency"
              ng-model="data.currency">
              <option value="">---</option>
              <option
                value="{{currency|json}}"
                ng-repeat="currency in metaData.currencies">{{currency['name'+lnC]}}
              </option>
            </select>
          </div>

        </div>
      </div>

      <div class="forms">
        <div class="form-group">
          <label class="form-labels"> <span once-text="'Note'|translate"></span>:</label>

          <div class="form-inputs">
            <textarea class="k-textbox" ng-model="data.comment"></textarea>
          </div>

        </div>
      </div>


    </div>

  </div>

</div>
