<div class="window-extend-block" data-extend-template="app/common/templates/operation-window-layout.html">
  <div data-block="content" class="window-main-content">
    <div
      role="form"
      ng-form="config.form.name"
      ng-submit="config.buttons.complete.click()">


      <!--Reg num, auth class[[-->
      <div class="forms">
        <div class="form-group" ng-class="{ 'has-error':
                 (config.form.name.$submitted || config.form.name.registration_date.$touched)
                 &&(config.form.name.registration_date.$invalid)  }">
          <label class="form-labels"><span class="required-sign">*</span> <span once-text="'Registration Date'|translate"></span>:</label>

          <div class="form-inputs">
            <input type="text"
                   class="datepicker-cst"
                   kendo-date-picker
                   name="registration_date"
                   ng-model="issueRegistration.registrationDate"
                   k-ng-model="issueRegistration.registrationDateObj"
                   ng-required="true"
            >

            <div ng-show="config.form.name.$submitted || config.form.name.registration_date.$touched">
              <p ng-show="config.form.name.registration_date.$error.required"
                 class="help-block help-block-error">
                <span once-text="'This field is required'|translate"></span>
              </p>

              <p ng-show="config.form.name.registration_date.$error.csmKendoDate"
                 class="help-block help-block-error">
                <span once-text="'Please enter a valid date!'|translate"></span>
              </p>
            </div>
          </div>
        </div>
      </div>

      <!-- Reg date-->

      <div class="forms">
        <div class="form-group" ng-class="{ 'has-error':
                 (config.form.name.$submitted || config.form.name.registration_number.$touched)
                 &&(config.form.name.registration_number.$invalid)  }">
          <label class="form-labels"><span class="required-sign">*</span> <span once-text="'Registration Number'|translate"></span>:</label>

          <div class="form-inputs">
            <input type="text"
                   name="registration_number"
                   class="k-textbox"
                   ng-model="issueRegistration.registrationNumber"
                   ng-required="true">

            <div ng-show="config.form.name.$submitted || config.form.name.registration_number.$touched">
              <p ng-show="config.form.name.registration_number.$error.required"
                 class="help-block help-block-error">
                <span once-text="'This field is required'|translate"></span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <!--Reg num-->

      <div class="forms">
        <div class="form-group"
             ng-class="{ 'has-error': (config.form.name.$submitted || config.form.name.reg_auth_class.$touched) &&(config.form.name.reg_auth_class.$invalid)  }">
          <label class="form-labels"><span class="required-sign">*</span> <span once-text="'Registration Authority Class'|translate"></span>:</label>

          <div class="form-inputs">
            <select
              name="reg_auth_class"
              ng-model="issueRegistration.registrationAuthorityClass"
              ng-required="true"
            >
              <option value="">---</option>
              <option  value="{{cl|json}}"
                       ng-repeat="cl in  metaData.regAuthClasses">{{cl['name'+lnC]}}

              </option>
            </select>

            <div ng-show="config.form.name.$submitted || config.form.name.reg_auth_class.$touched">
              <p ng-show="config.form.name.reg_auth_class.$error.required"
                 class="help-block help-block-error">
                <span once-text="'This field is required'|translate"></span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <!--Reg auth class-->
      <!--Reg num, auth class]]-->
      <!--Placement class[[-->
      <div class="forms">
        <div class="form-group" ng-class="{ 'has-error':
                 (config.form.name.$submitted || config.form.name.placement_class.$touched)
                 &&(config.form.name.placement_class.$invalid)  }">
          <label class="form-labels"><span class="required-sign">*</span> <span once-text="'Placement Class'|translate"></span>:</label>

          <div class="form-inputs">
            <select
              name="placement_class"
              ng-model="issueRegistration.placementClass"
              ng-change="placementClassChange()"
              ng-required="true"
            >
              <option value="">---</option>
              <option
                ng-repeat="pc in  metaData.placementClasses"
                value="{{pc|json}}">{{pc['name'+lnC]}}
              </option>
            </select>

            <div ng-show="config.form.name.$submitted || config.form.name.placement_class.$touched">
              <p ng-show="config.form.name.placement_class.$error.required"
                 class="help-block help-block-error">
                <span once-text="'This field is required'|translate"></span>
              </p>
            </div>
          </div>
        </div>

      </div>
      <div ng-if="issueRegistration.isSubscription">
        <div class="forms">
          <div class="form-group" ng-class="{ 'has-error':
                 (config.form.name.$submitted || config.form.name.period_start_date.$touched)
                 &&(config.form.name.period_start_date.$invalid)  }">
            <label class="form-labels"><span class="required-sign">*</span>
              <span once-text="'Period Start Date'|translate"></span>:</label>
            <div class="form-inputs">
              <input type="text"
                     class="datepicker-cst"
                     kendo-date-picker
                     name="period_start_date"
                     ng-model="issueRegistration.instrument.periodStartDate"
                     k-ng-model="issueRegistration.instrument.periodStartDateObj"
                     ng-required="true"
              >

              <div ng-show="config.form.name.$submitted || config.form.name.period_start_date.$touched">
                <p ng-show="config.form.name.period_start_date.$error.required"
                   class="help-block help-block-error">
                  <span once-text="'This field is required'|translate"></span>
                </p>

                <p ng-show="config.form.name.period_start_date.$error.csmKendoDate"
                   class="help-block help-block-error">
                  <span once-text="'Please enter a valid date!'|translate"></span>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="forms">
          <div class="form-group" ng-class="{ 'has-error':
                 (config.form.name.$submitted || config.form.name.period_end_date.$touched)
                 &&(config.form.name.period_end_date.$invalid)  }">
            <label class="form-labels"><span class="required-sign">*</span>
              <span once-text="'Period End Date'|translate"></span>:</label>
            <div class="form-inputs">
              <input type="text"
                     class="datepicker-cst"
                     kendo-date-picker
                     name="period_end_date"
                     ng-model="issueRegistration.instrument.periodEndDate"
                     k-ng-model="issueRegistration.instrument.periodEndDateObj"
                     ng-required="true"
              >

              <div ng-show="config.form.name.$submitted || config.form.name.period_end_date.$touched">
                <p ng-show="config.form.name.period_end_date.$error.required"
                   class="help-block help-block-error">
                  <span once-text="'This field is required'|translate"></span>
                </p>

                <p ng-show="config.form.name.period_end_date.$error.csmKendoDate"
                   class="help-block help-block-error">
                  <span once-text="'Please enter a valid date!'|translate"></span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="forms" ng-if="issueRegistration.config.placement.currentCode != issueRegistration.config.placement.classCodes.auction">
        <div class="form-group">
          <label class="form-labels">
            <span once-text="'Is Inital'|translate"></span>:</label>

          <div class="form-inputs">
            <md-checkbox
              aria-label="Is Initial"
              type="checkbox"
              ng-model="issueRegistration.config.security.isIPO"
              class="md-checkbox-style"
            ></md-checkbox>
          </div>
        </div>
      </div>
      <div class="forms"
           ng-class="{ 'has-error':
                 (config.form.name.$submitted)
                 &&(config.form.name.is_subscription.$invalid)  }"
           ng-if="issueRegistration.config.placement.currentCode == issueRegistration.config.placement.classCodes.public">

        <div class="form-group">
          <span class="form-labels">
              <span class="required-sign">*</span>
            <span once-text="'Is Subscription'|translate"></span>:
          </span>

          <label class="form-inputs input-checkbox">
                    <input type="checkbox"
                   name="isSubscription"
                   ng-required="config.form.name.isSubscription.$untouched"
                           ng-true-value="true"
                           ng-false-value="false"
                           ng-indeterminate="issueRegistration.isSubscription === null"
                           ng-model="issueRegistration.isSubscription">
                </label>

                <div ng-show="config.form.name.$submitted"
                     style="display: inline-block;margin-left: 3px;position: relative;top: 2px;">
                    <p ng-show="config.form.name.is_subscription.$error.required"
                       class="help-block help-block-error">
                        <span once-text="'This field is required'|translate"></span>
                    </p>
                </div>
            </div>

        </div>
      </div>

      <div class="forms">
        <div class="form-group"
             ng-class="{ 'has-error': (config.form.name.$submitted || config.form.name.issue_code.$touched)
                &&(config.form.name.issue_code.$invalid)  }">

          <label class="form-labels"><span class="required-sign">*</span> <span once-text="'Issue Code'|translate"></span>:</label>

          <div class="form-inputs">
            <input
              type="text"
              class="k-textbox"
              name="issue_code"
              ng-trim="true"
              ng-model="issueRegistration.issueCode"
              ng-required="true"
            >

            <div ng-show="config.form.name.$submitted || config.form.name.issue_code.$touched">
              <p ng-show="config.form.name.issue_code.$error.required"
                 class="help-block help-block-error">
                <span once-text="'This field is required'|translate"></span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <!--Placement class]]-->
      <div ng-if="issueRegistration.config.security.isIPO" ng-repeat="instrument in [issueRegistration.instrument]"
           ng-include="'app/instruments/templates/partials/instrument-data.html'">
      </div>
      <!-- Security[[-->
      <div
        ng-if="(issueRegistration.config.placement.currentCode != issueRegistration.config.placement.classCodes.auction)&&  !issueRegistration.config.security.isIPO">
        <h4 once-text="'Security'|translate"></h4>
        <table class="table table-striped table-bordered">
          <thead>
          <tr>
            <th><strong class="required-sign">*</strong> <strong once-text="'Instrument Code'|translate"></strong></th>
            <th><strong class="required-sign">*</strong> <strong once-text="'Issuer'|translate"></strong></th>
            <th><strong class="required-sign">*</strong> <strong once-text="'CFI'|translate"></strong></th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>
              <span ng-if="!issueRegistration.security.ISIN">......</span>
              <span> {{issueRegistration.security.ISIN}}</span>
              <input
                class="k-textbox"
                type="hidden"
                name="ISIN"
                ng-required="true"
                ng-model="issueRegistration.security.ISIN">

              <div ng-class="{ 'has-error': (config.form.name.$submitted
                || config.form.name['ISIN'].$touched)  &&(config.form.name['ISIN'].$invalid)  }"
                   ng-show="config.form.name.$submitted || config.form.name['ISIN'].$touched">
                <p ng-show="config.form.name['ISIN'].$error.required"
                   class="help-block help-block-error">
                  <span once-text="'This field is required'|translate"></span>
                </p>
              </div>
            </td>
            <td>
              <span ng-if="!issueRegistration.security.issuerName">......</span>
              <span>{{issueRegistration.security.issuerName}}</span>
              <input
                class="k-textbox"
                type="hidden"
                name="issuer_name"
                ng-model="issueRegistration.security.issuerName">
            </td>
            <td>
              <span ng-if="!issueRegistration.security.CFI['description'+lnC]">......</span>
              <span> {{issueRegistration.security.CFI['description'+lnC]}}</span>
              <input
                class="k-textbox"
                type="hidden"
                name="cfi"
                ng-model="issueRegistration.security.CFI['description'+lnC]">
            </td>
            <td>
              <md-button
                type="button"
                aria-label="search button"
                class="md-fab md-micro"
                ng-click="findInstrument($index)">
                <i class="glyphicon glyphicon-search micro-glyphicon"></i>
                <md-tooltip md-direction="down">
                  <span once-text="'Find Instrument'|translate"></span>
                </md-tooltip>
              </md-button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <!-- Security]]-->
      <!--Issue quantity [[-->
      <div class="forms" ng-if="issueRegistration.security.id">
        <div class="form-group"
             ng-class="{ 'has-error': (config.form.name.$submitted || config.form.name.issue_quantity.$touched)
                &&(config.form.name.issue_quantity.$invalid)  }">

          <label class="form-labels"><span class="required-sign" ng-if="issueRegistration.security.id">*</span>
            <span once-text="'Issue Quantity'|translate"></span>:</label>

          <div class="form-inputs">
            <input
              type="number"
              class="k-textbox"
              name="issue_quantity"
              ng-trim="true"
              ng-model="issueRegistration.issueQuantity"
              ng-required="issueRegistration.security.id"
            >

            <div ng-show="config.form.name.$submitted || config.form.name.issue_quantity.$touched">
              <p ng-show="config.form.name.issue_quantity.$error.required"
                 class="help-block help-block-error">
                <span once-text="'This field is required'|translate"></span>
              </p>

              <p
                ng-show="config.form.name.issue_quantity.$error.number"
                class="help-block help-block-error">
                <span once-text="'Wrong Format!'|translate"></span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <!--Issue quantity ]]-->
      <!--Issue code, preemptive[[-->
      <div
        ng-if="issueRegistration.security.id && (issueRegistration.config.security.currentSecurity == issueRegistration.config.security.securityTypes.equity)"
        class="forms">
        <div class="form-group">
          <label class="form-labels">
            <span once-text="'Preemptive'|translate"></span>:</label>

          <div class="form-inputs">
            <md-checkbox
              aria-label="Is Initial"
              type="checkbox"
              ng-model="issueRegistration.preemptive"
              class="md-checkbox-style"
            />
          </div>
        </div>
      </div>
      <div class="forms" ng-if="issueRegistration.preemptive">
        <div class="form-group" ng-class="{ 'has-error':
                 (config.form.name.$submitted || config.form.name.record_date.$touched)
                 &&(config.form.name.record_date.$invalid)  }">
          <label class="form-labels"><span class="required-sign">*</span> <span once-text="'Record Date'|translate"></span>:</label>

          <div class="form-inputs">
            <input type="text"
                   class="datepicker-cst"
                   kendo-date-picker
                   name="record_date"
                   ng-model="issueRegistration.recordDate"
                   k-ng-model="issueRegistration.recordDateObj"
                   ng-required="true"
            >

            <div ng-show="config.form.name.$submitted || config.form.name.record_date.$touched">
              <p ng-show="config.form.name.record_date.$error.required"
                 class="help-block help-block-error">
                <span once-text="'This field is required'|translate"></span>
              </p>

              <p ng-show="config.form.name.record_date.$error.csmKendoDate"
                 class="help-block help-block-error">
                <span once-text="'Please enter a valid date!'|translate"></span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <!--Issue code, preemptive]]>
      <!--Reg date, finish date[[-->
      <div class="forms">
        <div class="form-group" ng-class="{ 'has-error':
                 (config.form.name.$submitted || config.form.name.value_date.$touched)
                 &&(config.form.name.value_date.$invalid)  }">
          <label class="form-labels"><span class="required-sign">*</span> <span once-text="'Value Date'|translate"></span>:</label>

          <div class="form-inputs">
            <input type="text"
                   class="datepicker-cst"
                   kendo-date-picker
                   name="value_date"
                   ng-model="issueRegistration.valueDate"
                   k-ng-model="issueRegistration.valueDateObj"
                   ng-required="true"
            >

            <div ng-show="config.form.name.$submitted || config.form.name.value_date.$touched">
              <p ng-show="config.form.name.value_date.$error.required"
                 class="help-block help-block-error">
                <span once-text="'This field is required'|translate"></span>
              </p>

              <p ng-show="config.form.name.value_date.$error.csmKendoDate"
                 class="help-block help-block-error">
                <span once-text="'Please enter a valid date!'|translate"></span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="forms"
           ng-if="issueRegistration.instrument.config.fields.finish_date.is_visible">
        <div class="form-group"
             ng-class="{ 'has-error':
                 (config.form.name.$submitted || config.form.name.finish_date.$touched)
                 &&(config.form.name.finish_date.$invalid)  }">
          <label class="form-labels"><span class="required-sign" ng-if="issueRegistration.instrument.config.fields.finish_date.is_mandatory">*</span>
            <span once-text="'Finish Date'|translate"></span>:</label>

          <div class="form-inputs">
            <input type="text"
                   class="datepicker-cst"
                   kendo-date-picker
                   name="finish_date"
                   ng-required="issueRegistration.instrument.config.fields.finish_date.is_mandatory"
                   ng-model="issueRegistration.finishDate"
                   k-ng-model="issueRegistration.finishDateObj"

            >

            <div ng-show="config.form.name.$submitted || config.form.name.finish_date.$touched">
              <p ng-show="config.form.name.finish_date.$error.required"
                 class="help-block help-block-error">
                <span once-text="'This field is required'|translate"></span>
              </p>

              <p ng-show="config.form.name.finish_date.$error.csmKendoDate"
                 class="help-block help-block-error">
                <span once-text="'Please enter a valid date!'|translate"></span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <!--Reg date, finish date]]-->

      <div ng-if="issueRegistration.config.placement.currentCode == issueRegistration.config.placement.classCodes.public" class="forms">

        <h3 once-text="'Underwriters'|translate"></h3>

        <table class="table table-striped table-bordered">
          <thead>
          <tr>
            <th><span once-text="'Underwriter'|translate"></span></th>
            <th once-text="'BSE Broker Code'|translate"></th>
            <th></th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr data-ng-repeat="underwriter in issueRegistration.underwriters">
            <td>
              <span ng-if="!underwriter.name">......</span>
              <span> {{underwriter.name}}</span>
              <input
                type="hidden"
                name="underwriter_name{{$index}}"
                ng-required="issueRegistration.isSubscription"
                ng-model="underwriter.name">

              <div
                ng-class="{ 'has-error': (config.form.name.$submitted || config.form.name['underwriter_name'+$index].$touched)  &&(config.form.name['underwriter_name'+$index].$invalid)}"
                ng-show="config.form.name.$submitted || config.form.name['underwriter_name'+$index].$touched">
                <p ng-show="config.form.name['underwriter_name'+$index].$error.required"
                   class="help-block help-block-error">
                  <span once-text="'This field is required'|translate"></span>
                </p>
              </div>
            </td>
            <td>
              <span ng-if="!underwriter.identificator">......</span>
              <span> {{underwriter.identificator}}</span>
            </td>
            <td>
              <md-button
                class="md-fab md-micro"
                aria-label="Mini FAB"
                ng-click="findUnderwriter($index)">
                <i class="glyphicon glyphicon-search micro-glyphicon"></i>
                <md-tooltip>
                  <span once-text="'Find Underwriter'|translate"></span>
                </md-tooltip>
              </md-button>
            </td>
            <td>
              <md-button
                ng-show="$index>0"
                class="md-fab md-micro"
                aria-label="Mini FAB"
                ng-click="removeUnderwriter($index,issueRegistration.underwriters)">
                <i class="glyphicon glyphicon-remove micro-glyphicon"></i>
                <md-tooltip>
                  <span once-text="'Delete'|translate"></span>
                </md-tooltip>
              </md-button>
              <!--Remove Button-->
            </td>
          </tr>
          </tbody>
        </table>
        <div class="inline-block">
          <md-button
            class="md-fab md-micro pull-left"
            aria-label="Mini FAB"
            ng-click="addNewUnderwriter(issueRegistration.underwriters)">
            <i class="glyphicon glyphicon-plus micro-glyphicon"></i>
            <md-tooltip>
              <span once-text="'Add New Underwriter'|translate"></span>
            </md-tooltip>
          </md-button>
        </div>
        <hr>
      </div>


      <!--Underwriters[[-->
      <div class="forms">
        <div class="form-group">
          <label class="form-labels">
            <span class="caption" once-text="'Send to secondary market'|translate"></span>:</label>

          <div class="form-inputs">
            <md-checkbox
              aria-label="Secondary Market"
              type="checkbox"
              ng-model="issueRegistration.sendToSecondaryMarket"
              class="md-checkbox-style"
              >
          </div>

        </div>
      </div>

    </div>
  </div>
</div>
