<div class="window-extend-block" data-extend-template="app/common/templates/operation-window-layout.html">
  <div data-block="content" class="window-main-content">


    <div role="form" ng-form="config.form.name" ng-submit="config.buttons.complete.click()">


      <div class="forms">
        <div class="form-group">
          <label class="form-labels">
            <span></span>Emitent hesabı:</label>

          <div class="form-inputs">
            <span>{{ data.issuerAccount.name }}</span>
          </div>

        </div>
      </div>

      <div class="forms">
        <div class="form-group">
          <label class="form-labels">
            <span once-text="'Amount'|translate"></span>:</label>

          <div class="form-inputs">
            <span>{{ data.amount }}</span>
          </div>

        </div>
      </div>

      <div class="forms">
        <div class="form-group">
          <label class="form-labels">
            <span></span>Qeydiyyat nömrəsi:</label>

          <div class="form-inputs">
            <span>{{ data.regNumber }}</span>
          </div>

        </div>
      </div>

      <div class="forms">
        <div class="form-group">
          <label class="form-labels">
            <span once-text="'Currency'|translate"></span>:</label>

          <div class="form-inputs">
            <span>{{ data.currency }}</span>
          </div>

        </div>
      </div>


      <div class="forms">
        <div class="form-group">
          <label class="form-labels">
            <span once-text="'Note'|translate"></span>:</label>

          <div class="form-inputs">
            <span>{{  data.comment }} </span>
          </div>

        </div>
      </div>


    </div>

  </div>

</div>
