<div class="window-extend-block" data-extend-template="app/common/templates/operation-window-layout.html">
  <div data-block="content" class="window-main-content">
    <div
      role="form"
      ng-form="config.form.name"
      ng-submit="config.buttons.complete.click()">
      <!--<fieldset class="custom-fieldset">-->
      <div class="forms">
        <div class="form-group" ng-class="{ 'has-error':
                 (config.form.name.$submitted || config.form.name.registration_number.$touched)
                 &&(config.form.name.registration_number.$invalid)  }">
          <label class="form-labels"><span class="required-sign">*</span>
            <span once-text="'Registration Number'|translate"></span>:</label>

          <div class="form-inputs">
            <input type="text"
                   class="k-textbox"
                   name="registration_number"
                   ng-model="issueFinalizationData.registrationNumber"
                   ng-required="true">

            <div ng-show="config.form.name.$submitted || config.form.name.registration_number.$touched">
              <p ng-show="config.form.name.registration_number.$error.required"
                 class="help-block help-block-error">
                <span once-text="'This field is required'|translate"></span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="forms">
        <div class="form-group" ng-class="{ 'has-error':
                 (config.form.name.$submitted || config.form.name.reg_auth_class.$touched)
                 &&(config.form.name.reg_auth_class.$invalid)  }">
          <label class="form-labels"><span class="required-sign">*</span>
            <span once-text="'Registration Authority Class'|translate"></span>:</label>

          <div class="form-inputs">
            <select
              name="reg_auth_class"
              ng-model="issueFinalizationData.registrationAuthorityClass"
              ng-required="true"
              >
              <option value="">---</option>
              <option
                value="{{cl|json}}"
                ng-repeat="cl in  metaData.regAuthClasses">{{cl['name'+lnC]}}
              </option>
            </select>


            <div ng-show="config.form.name.$submitted || config.form.name.reg_auth_class.$touched">
              <p ng-show="config.form.name.reg_auth_class.$error.required"
                 class="help-block help-block-error">
                <span once-text="'This field is required'|translate"></span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <!--Reg num. ,reg auth-->
      <div class="forms">
        <div class="form-group" ng-class="{ 'has-error':
                 (config.form.name.$submitted || config.form.name.registration_date.$touched)
                 &&(config.form.name.registration_date.$invalid)  }">
          <label class="form-labels"><span class="required-sign">*</span>
            <span once-text="'Registration Date'|translate"></span>:</label>

          <div class="form-inputs">
            <input type="text"
                   class="datepicker-cst"
                   kendo-date-picker
                   name="registration_date"
                   ng-model="issueFinalizationData.registrationDate"
                   k-ng-model="issueFinalizationData.registrationDateObj"
                   ng-required="true"
              >

            <div ng-show="config.form.name.$submitted || config.form.name.registration_date.$touched">
              <p ng-show="config.form.name.registration_date.$error.required"
                 class="help-block help-block-error">
                <span once-text="'This field is required'|translate"></span>
              </p>

              <p ng-show="config.form.name.registration_date.$error.csmKendoDate"
                 class="help-block help-block-error">
                <span once-text="'Please enter a valid date!'|translate"></span>
              </p>
            </div>
          </div>
        </div>
      </div>

      <!--Reg date, issue success-->
      <div class="forms">
        <div class="form-group" ng-class="{ 'has-error':
                 (config.form.name.$submitted || config.form.name.value_date.$touched)
                 &&(config.form.name.value_date.$invalid)  }">
          <label class="form-labels"><span class="required-sign">*</span>
            <span once-text="'Value Date'|translate"></span>:</label>

          <div class="form-inputs">
            <input type="text"
                   class="datepicker-cst"
                   kendo-date-picker
                   name="value_date"
                   ng-model="issueFinalizationData.valueDate"
                   k-ng-model="issueFinalizationData.valueDateObj"
                   ng-required="true"
              >

            <div ng-show="config.form.name.$submitted || config.form.name.value_date.$touched">
              <p ng-show="config.form.name.value_date.$error.required"
                 class="help-block help-block-error">
                <span once-text="'This field is required'|translate"></span>
              </p>

              <p ng-show="config.form.name.value_date.$error.csmKendoDate"
                 class="help-block help-block-error">
                <span once-text="'Please enter a valid date!'|translate"></span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <!--Value date-->
      <div class="forms">
        <md-radio-group ng-model="issueFinalizationData.issueSuccess">
          <md-radio-button class="form-labels inline-block" ng-value="true">
            <span once-text="'Issue Success'|translate"></span>
          </md-radio-button>

          <md-radio-button class="inline-block" ng-value="false">
            <span once-text="'Issue Canceled'|translate"></span>
          </md-radio-button>
        </md-radio-group>
      </div>

      <div class="forms">

        <div ng-if="issueFinalizationData.config.sendToTreasure.visible">
          <div class="form-group">
            <label class="form-labels">
              <span once-text="'Send remaining shares to treasure'|translate"></span>:
            </label>

            <div class="form-inputs">

              <md-radio-group ng-model="issueFinalizationData.sendToTreasure">
                <md-radio-button value="true" class="md-primary"><span once-text="'Yes'|translate"> </span>
                </md-radio-button>
                <md-radio-button value="false"><span once-text="'No'|translate"> </span></md-radio-button>
                <md-radio-button value="default" ng-show="false"></md-radio-button>
              </md-radio-group>
              <!--<md-checkbox-->
              <!--aria-label="Is Initial"-->
              <!--type="checkbox"-->
              <!--ng-model="issueFinalizationData.sendToTreasure"-->
              <!--class="md-checkbox-style">-->
              <!--</md-checkbox>-->
            </div>
          </div>
        </div>
      </div>
      <h4 once-text="'Corporate Action'|translate"></h4>
      <table class="table table-striped table-bordered">
        <thead>
        <tr>
          <th><strong class="required-sign">*</strong> <strong once-text="'Corporate Action Class'|translate"></strong>
          </th>
          <th><strong once-text="'Registration Number'|translate"></strong></th>
          <th><strong once-text="'Registration Date'|translate"></strong></th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>

            <span ng-if="!issueFinalizationData.corporateAction.corporateActionClass">......</span>
            <span> {{issueFinalizationData.corporateAction.corporateActionClass['name'+lnC]}}</span>
            <input
              class="k-textbox"
              type="hidden"
              name="ca_class"
              disabled readonly
              ng-required="true"
              ng-model="issueFinalizationData.corporateAction.corporateActionClass['name'+lnC]">

            <div ng-class="{ 'has-error': (config.form.name.$submitted
            || config.form.name['ca_class'].$touched)  &&(config.form.name['ca_class'].$invalid)  }"
                 ng-show="config.form.name.$submitted || config.form.name['ca_class'].$touched">
              <p ng-show="config.form.name['ca_class'].$error.required"
                 class="help-block help-block-error">
                <span once-text="'You have to select corporate action!'|translate"></span>
              </p>
            </div>
          </td>
          <td>
            <span ng-if="!issueFinalizationData.corporateAction.registrationNumber">......</span>
            <span> {{issueFinalizationData.corporateAction.registrationNumber}}</span>
          </td>
          <td>
            <span ng-if="!issueFinalizationData.corporateAction.registrationDate">......</span>
            <span> {{issueFinalizationData.corporateAction.registrationDate|date:'dd-MM-yyyy'}}</span>

          </td>
          <td>
            <md-button type="button"
                       class="md-fab md-micro"
                       aria-label="search button"
                       ng-click="findCorporateAction($index)">
              <i class="glyphicon glyphicon-search micro-glyphicon"></i>
              <md-tooltip md-direction="down">
                <span once-text="'Find Corporate Action'|translate"></span>
              </md-tooltip>
            </md-button>
          </td>
        </tr>
        </tbody>
      </table>

      <div ng-if="issueFinalizationData.corporateAction.underlyingSecurity">
        <h4 once-text="'Underlying Securities'|translate">:</h4>
        <table class="table table-striped table-hover table-responsive table-bordered ">
          <thead>
          <th once-text="'Instrument'|translate"></th>
          <th once-text="'ISIN'|translate"></th>
          <th once-text="'Issuer'|translate"></th>

          </thead>
          <tbody>
          <tr data-ng-repeat="instrument in issueFinalizationData.corporateAction.underlyingSecurity">
            <td>{{instrument.name.nameAz}}</td>
            <td>{{instrument.ISIN}}</td>
            <td>{{instrument.issuer.name}}</td>
          </tr>
          </tbody>
        </table>
      </div>
      <div ng-if="issueFinalizationData.corporateAction.entitlementSecurity">
        <h4 once-text="'Entitlement Securities'|translate">:</h4>
        <table class="table table-striped table-hover table-responsive table-bordered">
          <thead>
          <th once-text="'Instrument'|translate"></th>
          <th once-text="'ISIN'|translate"></th>
          <th once-text="'Issuer'|translate"></th>

          </thead>
          <tbody>
          <tr data-ng-repeat="instrument in issueFinalizationData.corporateAction.entitlementSecurity">
            <td>{{instrument.name.nameAz}}</td>
            <td>{{instrument.ISIN}}</td>
            <td>{{instrument.issuer.name}}</td>
          </tr>
          </tbody>
        </table>
      </div>

      <!--Search corporate action-->
      <div ng-if="issueFinalizationData.corporateAction.issueQuantity">
        <h4 once-text="'Issue Quantities'|translate">:</h4>
        <table class="table table-striped table-hover table-responsive table-bordered ">
          <thead>
          <th once-text="'Issued Quantity'|translate"></th>
          <th once-text="'Placed Quantity'|translate"></th>

          </thead>
          <tbody>
          <tr>
            <td class="half-width">{{issueFinalizationData.corporateAction.issueQuantity.issuedQuantity}}</td>
            <td class="half-width">{{issueFinalizationData.corporateAction.issueQuantity.placedQuantity}}</td>
          </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>
</div>
