<div class="window-extend-block" data-extend-template="app/common/templates/operation-window-layout.html">
  <div data-block="content" class="window-main-content">


    <table class="table table-striped table-hover table-responsive table-bordered ">
      <tbody>

      <tr ng-if="taskData.registrationNumber">
        <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4"><b
          once-text="'Registration Number'|translate"></b></td>
        <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4">{{taskData.registrationNumber}}</td>
      </tr>
      <!--Reg. num-->
      <tr ng-if="taskData.registrationDate">
        <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4"><b
          once-text="'Registration Date'|translate"></b>
        </td>

        <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4">{{taskData.registrationDate |date: 'short'}}</td>
      </tr>
      <!--Reg. date-->

      <tr ng-if="taskData.registrationAuthorityClass">
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><b
          once-text="'Registration Authority Class'|translate"></b>
        </td>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6">{{taskData.registrationAuthorityClass['name'+lnC]}}</td>
      </tr>
      <!--Reg auth class-->
      <tr ng-if="taskData.security">
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><b
          once-text="'Security Issuer'|translate"></b></td>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6">{{taskData.security.issuerName}}</td>
      </tr>

      <tr ng-if="taskData.placementClass">
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><b
          once-text="'Placement Class'|translate"></b>
        </td>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6">{{taskData.placementClass['name'+lnC]}}</td>
      </tr>
      <!--Placement class-->

      <tr ng-if="taskData.issueCode">
        <td class="col-md-2 col-xs-2 col-lg-2 col-sm-2">
          <b once-text="'Issue Code'|translate"></b></td>
        <td class="col-md-5 col-xs-5 col-lg-5 col-sm-5 ">
          <p> {{taskData.issueCode}}</p>
        </td>
      </tr>
      <!--Issue code-->

      <tr ng-if="taskData.security">
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><b
          once-text="'Security ISIN'|translate"></b></td>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6">{{taskData.security.ISIN}}</td>
      </tr>
      <!--ISIN-->

      <tr ng-if="taskData.security">
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><b
          once-text="'Security CFI'|translate"></b></td>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6">{{taskData.security.CFI['description'+lnC]}}</td>
      </tr>
      <!--CFI-->

      <tr ng-if="taskData.security">
        <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4">
          <span class="field-name" once-text="'Name'|translate"></span></td>
        <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4">
          <p><span class="field-new">(AZ) </span> {{taskData.issueName.nameAz}}</p>

          <p><span class="field-new">(EN) </span> {{taskData.issueName.nameEn}}</p>
        </td>
      </tr>
      <!--ISIN-->

      <tr ng-if="taskData.security">
        <td class="col-md-2 col-xs-2 col-lg-2 col-sm-2">
          <span class="field-name" once-text="'Abbreviation'|translate"></span></td>
        <td class="col-md-5 col-xs-5 col-lg-5 col-sm-5 ">

          <p><span class="field-new">(AZ) </span> {{taskData.issueAbbreviation.nameAz}}</p>

          <p><span class="field-new">(EN) </span> {{taskData.issueAbbreviation.nameEn}}</p>

        </td>
      </tr>
      <!--Abbreviation-->

      <tr ng-if="taskData.issueQuantity">
        <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4"><b
          once-text="'Issue Quantitiy'|translate"></b></td>
        <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4">{{taskData.issueQuantity}}</td>
      </tr>



      <tr ng-if="taskData.valueDate">
        <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4"><b
          once-text="'Value Date'|translate"></b>
        </td>

        <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4">{{taskData.valueDate |date: 'short'}}</td>
      </tr>

      <!--Value date-->
      <tr ng-if="taskData.finishDate">
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><b
          once-text="'Finish Date'|translate"></b></td>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6">{{taskData.finishDate |date: 'short'}}</td>
      </tr>
      <!--Finish date-->

      <tr ng-if="taskData.preemptive">
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><b
          once-text="'Preemptive'|translate"></b></td>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6">

          <p ng-show="taskData.preemptive ==true" once-text="'Yes'|translate"></p>

          <p ng-show="taskData.preemptive ==false" once-text="'No'|translate"></p>
        </td>
      </tr>

      <tr>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><b
          once-text="'Send to secondary market'|translate"></b></td>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6">

          <p ng-show="taskData.sendToSecondaryMarket ==true" once-text="'Yes'|translate"></p>

          <p ng-show="taskData.sendToSecondaryMarket ==false" once-text="'No'|translate"></p>
        </td>
      </tr>
      <tr ng-if="taskData.periodStartDate">
        <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4"><b
                once-text="'Period Start Date'|translate"></b></td>
        <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4">{{taskData.periodStartDate}}</td>
      </tr>
      <tr ng-if="taskData.periodEndDate">
        <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4"><b
                once-text="'Period End Date'|translate"></b></td>
        <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4">{{taskData.periodEndDate}}</td>
      </tr>
      <!--Send to secondary market-->
      <tr>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><b
          once-text="'Is Subscription'|translate"></b></td>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6">

          <p ng-show="taskData.isSubscription ==true" once-text="'Yes'|translate"></p>

          <p ng-show="taskData.isSubscription ==false" once-text="'No'|translate"></p>

        </td>
      </tr>
      <!--Is Subscription-->

      <tr ng-if="taskData.recordDate">
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><b once-text="'Record Date'|translate"></b></td>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6">{{taskData.recordDate |date: 'short'}}</td>
      </tr>
      <!--Record date-->

      </tbody>

    </table>

    <div ng-if="taskData.underwriters" class="row">

      <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11">

        <h4 once-text="'Underwriters'|translate"></h4>

        <table class="table table-striped table-hover table-responsive table-bordered ">
          <thead>
          <th once-text="'Name'|translate"></th>
          <th once-text="'BSE Broker Code'|translate"></th>

          </thead>
          <tbody>
          <tr data-ng-repeat="underwriter in taskData.underwriters">
            <td>{{underwriter.name}}</td>
            <td>{{underwriter.identificator}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!--Underwriters-->

    <!--<div class="custom-fieldset row" ng-if="taskData.issue">-->
      <!--<div class="col-lg-11 col-md-11 col-sm-11 col-xs-11">-->
        <!--<h4 once-text="'New Instrument'|translate"></h4>-->

        <!--<div ng-repeat="instrument in [taskData.issue] "-->
             <!--ng-include="'app/instruments/templates/partials/instrument-data-approval.html'"></div>-->
      <!--</div>-->
    <!--</div>-->

    <div class="row" ng-if="taskData.issue">
      <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11">
        <h4 once-text="'New Instrument'|translate"></h4>

        <div ng-repeat="instrument in [taskData.issue] "
             ng-include="'app/instruments/templates/partials/instrument-data-approval.html'"></div>
      </div>
    </div>

  </div>
</div>
