<div class="window-extend-block" data-extend-template="app/common/templates/operation-window-layout.html">
  <div data-block="content" class="window-main-content">

    <table class="table table-striped table-hover table-responsive table-bordered ">
      <tbody>

      <tr>
        <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4"><b
          once-text="'Registration Date'|translate"></b></td>
        <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4">{{taskData.registrationDate |date: 'short'}}</td>
      </tr>

      <tr>
        <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4"><b
          once-text="'Value Date'|translate"></b></td>
        <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4">{{taskData.valueDate |date: 'short'}}</td>
      </tr>

      <tr>
        <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4"><b
          once-text="'Registration Number'|translate"></b></td>
        <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4">{{taskData.registrationNumber}}</td>
      </tr>

      <tr>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><b
          once-text="'Registration Authority Class'|translate"></b>
        </td>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6">{{taskData.registrationAuthorityClass['name'+lnC]}}</td>
      </tr>

      </tbody>

    </table>


    <fieldset class="custom-fieldset margin10">

      <div class="form-group">
        <h3 once-text="'Merged Instruments'"></h3>
      </div>

      <div ng-repeat="mi in taskData.mergedInstruments">

        <fieldset class="custom-fieldset">

          <h4><span once-text="'Merging'|translate"></span> {{$index+1}}</h4>

          <md-tabs md-dynamic-height md-border-bottom>

            <md-tab label="{{config.labels.lblOldInstruments}}">

              <md-content class="md-padding">

                <fieldset ng-repeat="instrument in mi.oldInstruments" class="custom-fieldset">

                  <h3>{{instrument.issuerName}}</h3>

                  <fieldset class="custom-fieldset">

                    <p> {{instrument.ISIN}}</p>

                    <div class="row">


                      <table class="table table-striped table-hover table-responsive table-bordered ">
                        <tbody>

                        <tr>
                          <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4"><b
                            once-text="'Nominator'|translate"></b></td>
                          <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4">{{instrument.nominator}}</td>
                        </tr>

                        <tr>
                          <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4"><b
                            once-text="'Discriminator'|translate"></b></td>
                          <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4">{{instrument.discriminator}}</td>
                        </tr>


                        <tr>
                          <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><b
                            once-text="'Fraction Treatment Class'|translate"></b>
                          </td>
                          <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6">
                            {{instrument.fractionTreatmentClass['name'+lnC]}}
                          </td>
                        </tr>

                        </tbody>

                      </table>

                    </div>

                  </fieldset>

                </fieldset>

              </md-content>

            </md-tab>
            <!--Old Instruments Tab-->

            <md-tab label="{{config.labels.lblNewInstrument}}">

              <md-content class="md-padding">
                <div ng-repeat="instrument in [mi.newInstrument] "
                     ng-include="'app/instruments/templates/partials/instrument-data-approval.html'"
                  >

                </div>
              </md-content>

            </md-tab>
            <!--New Instrument Tab-->

          </md-tabs>

        </fieldset>

      </div>
      <!--New instrument form-->


    </fieldset>

  </div>

</div>


