<div class="window-extend-block" data-extend-template="app/common/templates/operation-window-layout.html">
  <div data-block="content" class="window-main-content">
    <div
      role="form"
      ng-form="config.form.name"
      ng-submit="config.buttons.complete.click()">


        <div class="forms">

          <div class="form-group" ng-class="{ 'has-error':
                 (config.form.name.$submitted || config.form.name.registration_number.$touched)
                 &&(config.form.name.registration_number.$invalid)  }">

              <label class="form-labels"><span class="required-sign">*</span>
                <span once-text="'Registration Number'|translate"></span>:</label>
              <div class="form-inputs">
                <input type="text"
                       class="k-textbox"
                       name="registration_number"
                       ng-model="mergerData.registrationNumber"
                       ng-required="true">

                <div ng-show="config.form.name.$submitted || config.form.name.registration_number.$touched">
                  <p ng-show="config.form.name.registration_number.$error.required"
                     class="help-block help-block-error">
                    <span once-text="'This field is required'|translate"></span>
                  </p>
                </div>
              </div>
          </div>
        </div>
        <div class="forms">
          <div class="form-group" ng-class="{ 'has-error':
                 (config.form.name.$submitted || config.form.name.reg_auth_class.$touched)
                 &&(config.form.name.reg_auth_class.$invalid)  }">

            <label class="form-labels"><span once-text="'Registration Authority Class'|translate"></span>:</label>
           <div class="form-inputs">
             <select
               name="reg_auth_class"
               ng-model="mergerData.registrationAuthorityClass"
               ng-required="true"
               >
               <option value="">---</option>
               <option
                 value="{{cl|json}}"
                 ng-repeat="cl in  metaData.registrationAuthorityClasses">{{cl['name'+lnC]}}</option>
             </select>
             <div ng-show="config.form.name.$submitted || config.form.name.reg_auth_class.$touched">
               <p ng-show="config.form.name.reg_auth_class.$error.required"
                  class="help-block help-block-error">
                 <span once-text="'This field is required'|translate"></span>
               </p>
             </div>
           </div>
          </div>
        </div>

      <!--Reg num. ,reg auth-->

        <div class="forms">
          <div class="form-group" ng-class="{ 'has-error':
                 (config.form.name.$submitted || config.form.name.registration_date.$touched)
                 &&(config.form.name.registration_date.$invalid)  }">
            <label class="form-labels"><span class="required-sign">*</span>
              <span once-text="'Registration Date'|translate"></span>:</label>
           <div class="form-inputs">
             <input type="text"
                    class="datepicker-cst"
                    kendo-date-picker
                    name="registration_date"
                    ng-model="mergerData.registrationDate"
                    k-ng-model="mergerData.registrationDateObj"
                    ng-required="true"
               >

             <div ng-show="config.form.name.$submitted || config.form.name.registration_date.$touched">
               <p ng-show="config.form.name.registration_date.$error.required"
                  class="help-block help-block-error">
                 <span once-text="'This field is required'|translate"></span>
               </p>

               <p ng-show="config.form.name.registration_date.$error.csmKendoDate"
                  class="help-block help-block-error">
                 <span once-text="'Please enter a valid date!'|translate"></span>
               </p>
             </div>
           </div>
          </div>
        </div>
        <div class="forms">
          <div class="form-group" ng-class="{ 'has-error':
                 (config.form.name.$submitted || config.form.name.value_date.$touched)
                 &&(config.form.name.value_date.$invalid)  }">
            <label class="form-labels"><span class="required-sign">*</span>
              <span once-text="'Value Date'|translate"></span>:</label>
           <div class="form-inputs">
             <input type="text"
                    class="datepicker-cst"
                    kendo-date-picker
                    name="value_date"
                    ng-model="mergerData.valueDate"
                    k-ng-model="mergerData.valueDateObj"
                    ng-required="true"
               >

             <div ng-show="config.form.name.$submitted || config.form.name.value_date.$touched">
               <p ng-show="config.form.name.value_date.$error.required"
                  class="help-block help-block-error">
                 <span once-text="'This field is required'|translate"></span>
               </p>

               <p ng-show="config.form.name.value_date.$error.csmKendoDate"
                  class="help-block help-block-error">
                 <span once-text="'Please enter a valid date!'|translate"></span>
               </p>
             </div>
           </div>
          </div>
        </div>

      <!--Reg date, Value date-->
        <div class="form-group">
          <h3 once-text="'Issuers'|translate"></h3>
        </div>


      <div >
        <table class="table table-striped table-bordered">
          <thead>
          <tr>
            <th><strong class="required-sign">*</strong> <strong once-text="'Issuer'|translate"></strong></th>
            <th></th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="issuer in mergerData.issuers">
            <td >
              <input
                type="text"
                class="k-textbox"
                name="issuer_{{$index}}"
                disabled readonly
                ng-required="true"
                ng-model="issuer.name">

              <div ng-class="{ 'has-error':
                 (config.form.name.$submitted || config.form.name['issuer_'+$index].$touched)
                 &&(config.form.name['issuer_'+$index].$invalid)  }"
                   ng-show="config.form.name.$submitted || config.form.name['issuer_'+$index].$touched">
                <p ng-show="config.form.name['issuer_'+$index].$error.required"
                   class="help-block help-block-error">
                  <span once-text="'This field is required'|translate"></span>
                </p>
              </div>
              <input
                type="hidden"
                readonly
                csm-min-length="2"
                name="issuers"
                ng-model="mergerData.issuers"
                >

              <div class="has-error">
                <p class="help-block help-block-error"
                   ng-show="config.form.name.$submitted && config.form.name.issuers.$error.csmMinLength">
                  <span once-text="'You have to add at least two issuer!'|translate"></span>
                </p>
              </div>
            </td>
            <td>
              <md-button type="button"
                         class="md-fab md-micro"
                         aria-label="search button"
                         ng-click="findCurrentIssuer($index)">
                <md-tooltip md-direction="down">
                  <span once-text="'Find Issuer'|translate"></span>
                </md-tooltip>
                <i class="glyphicon glyphicon-search micro-glyphicon"></i>
              </md-button>
            </td>
            <td>
              <md-button
                class="md-fab md-micro"
                ng-show=" $index >0"
                ng-click="removeIssuer($index,mergerData.issuers)">
                <i class="glyphicon glyphicon-remove micro-glyphicon"></i>
                <md-tooltip md-direction="down">
                  <span once-text="'Delete'|translate"></span>
                </md-tooltip>
              </md-button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
        <md-button class="md-fab md-micro"
                   ng-click="addNewIssuer(mergerData.issuers)">
          <i class="glyphicon glyphicon-plus micro-glyphicon"></i>
          <md-tooltip>
            <span once-text="'Add New Issuer'|translate"></span>
          </md-tooltip>
        </md-button>


      <!--Find issuer-->
      <fieldset class="custom-fieldset margin10" ng-if="mergerData.issuers.length>1 && mergerData.issuers[1].id">

        <div class="form-group">
          <h3 once-text="'Merge Instruments'"></h3>
        </div>

        <div ng-repeat="mi in mergerData.mergedInstruments">


            <h4><span once-text="'Merging'|translate"></span> {{$index+1}}</h4>

            <md-tabs md-dynamic-height md-border-bottom>

              <md-tab label="{{config.labels.lblOldInstruments}}">

                <md-content class="md-padding">

                  <fieldset class="custom-fieldset" ng-repeat="issuer in mi.oldInstruments">

                    <h3 ng-init="mergingIndex = $index">{{issuer.name}}</h3>

                    <fieldset class="custom-fieldset" ng-repeat="instrument in issuer.instruments">

                      <md-checkbox
                        name="selected_{{issuer.name}}_{{instrument.ISIN}}_{{$index}}"
                        ng-model="instrument.isSelected"
                        aria-label="{{instrument.ISIN}}"
                        class="md-align-top-left">
                        {{instrument.ISIN}}
                      </md-checkbox>

                      <div ng-if="instrument.isSelected">

                        <div class="nominator-discriminator-wrappper">
                          <div class="inline-block form-group pull-left"
                               ng-init="nominatorInput = 'nominator_'+instrument.ISIN+mergingIndex">
                            <div ng-class="{ 'has-error': (config.form.name.$submitted || config.form.name[nominatorInput].$touched) &&(config.form.name[nominatorInput].$invalid)  }">

                                <label class="form-labels"><span class="required-sign">*</span>
                                  <span once-text="'Nominator'|translate"></span>:</label>
                              <div class="form-inputs">
                                <input
                                  class="k-textbox"
                                  type="number"
                                  name="{{nominatorInput}}"
                                  ng-trim="true"
                                  min="0"
                                  ng-model="instrument.nominator"
                                  ng-required="true"
                                  >

                                <div
                                  ng-show="config.form.name.$submitted || config.form.name[nominatorInput].$touched">
                                  <p ng-show="config.form.name[nominatorInput].$error.required"
                                     class="help-block help-block-error">
                                    <span once-text="'This field is required'|translate"></span>
                                  </p>

                                  <p
                                    ng-show="config.form.name[nominatorInput].$error.number"
                                    class="help-block help-block-error">
                                    <span once-text="'Wrong Format!'|translate"></span>
                                  </p>
                                </div>
                              </div>

                            </div>
                          </div>
                          <!--Nominator-->
                          <div class="inline-block form-group pull-left"
                               ng-init="discriminatorInput = 'discriminator_'+instrument.ISIN+mergingIndex">

                            <div ng-class="{ 'has-error': (config.form.name.$submitted
                            || config.form.name[discriminatorInput].$touched)
                            &&(config.form.name[discriminatorInput].$invalid)  }">

                              <label class="pull-left"><i class="margin10">/</i><span class="required-sign">*</span>
                                <span once-text="'Discriminator'|translate"></span>:</label>
                              <div class="form-inputs">
                                <input
                                  class="k-textbox"
                                  type="number"
                                  min="0"
                                  name="{{discriminatorInput}}"
                                  ng-trim="true"
                                  ng-model="instrument.discriminator"
                                  ng-required="true"
                                  >
                                <div ng-show="config.form.name.$submitted || config.form.name[discriminatorInput].$touched">
                                  <p ng-show="config.form.name[discriminatorInput].$error.required"
                                     class="help-block help-block-error">
                                    <span once-text="'This field is required'|translate"></span>
                                  </p>
                                  <p
                                    ng-show="config.form.name[discriminatorInput].$error.number"
                                    class="help-block help-block-error">
                                    <span once-text="'Wrong Format!'|translate"></span>
                                  </p>
                                </div>
                              </div>
                            </div>
                          </div>
                          <!--Discriminator-->
                        </div>

                        <div class="forms half-width"
                             ng-init="ftcInput = 'ftc_'+instrument.ISIN+mergingIndex">

                          <div class="form-group" ng-class="{ 'has-error':
                              (config.form.name.$submitted || config.form.name[ftcInput].$touched)
                              &&(config.form.name[ftcInput].$invalid)  }">


                            <label class="form-labels"><span class="required-sign">*</span>
                              <span once-text="'Fraction Treatment Class'|translate"></span>:</label>

                            <div class="form-inputs">
                              <select
                                name="{{ftcInput}}"
                                ng-model="instrument.fractionTreatmentClass"
                                ng-required="true"
                                >
                                <option value="">---</option>
                                <option
                                  value="{{cl|json}}"
                                  ng-repeat="cl in  metaData.fractionTreatmentClasses">{{cl['name'+lnC]}}</option>
                              </select>

                              <div
                                ng-show="config.form.name.$submitted || config.form.name[ftcInput].$touched">
                                <p
                                  ng-show="config.form.name[ftcInput].$error.required"
                                  class="help-block help-block-error">
                                  <span once-text="'This field is required'|translate"></span>
                                </p>
                              </div>
                            </div>


                          </div>

                        </div>
                        <!--F T C-->

                      </div>

                    </fieldset>

                  </fieldset>

                </md-content>

              </md-tab>
              <!--Old Instruments Tab-->

              <md-tab label="{{config.labels.lblNewInstrument}}">

                <md-content class="md-padding">

                  <md-radio-group ng-model="mi.newInstrumentType" ng-change="newInstrumentTypeChange(mi)"
                                  class="md-primary">

                    <md-radio-button ng-value="config.newInstrumentTypes.existing">

                      <span once-text="'Select from Existing I

                      nstruments'|translate"></span>

                    </md-radio-button>

                    <md-radio-button ng-value="config.newInstrumentTypes.new">

                      <span once-text="'Create New Instrument'|translate"> </span>

                    </md-radio-button>

                  </md-radio-group>


                  <div ng-if="mi.newInstrumentType == config.newInstrumentTypes.existing">


                    <fieldset ng-repeat="issuer in mi.oldInstruments" class="custom-fieldset">


                    <h3>{{issuer.name}}</h3>

                      <md-radio-group ng-model="mi.newInstrumentBuff"
                                      class="md-primary"
                                      ng-change="newInstrumentSelectedFromExisting(mi)"

                        >
                        <fieldset class="custom-fieldset" ng-repeat="instrument in issuer.instruments">


                          <md-radio-button
                            ng-value="instrument"
                            aria-label="{{newInstrument.ISIN}}"
                            class=" md-align-top-left">
                            {{instrument.ISIN}}
                          </md-radio-button>

                        </fieldset>

                      </md-radio-group>
                    </fieldset>

                  </div>

                  <div ng-if="mi.newInstrumentType == config.newInstrumentTypes.new"
                       ng-repeat="instrument in [mi.newInstrument] "
                       ng-controller="InstrumentDataEntryTemplateController">

                    <div ng-form="instrument.partialFormName">
                      <div
                        ng-include="'app/instruments/templates/partials/instrument-data.html'">
                      </div>
                    </div>
                    <!--Add new instrument-->
                  </div>


                </md-content>

              </md-tab>
              <!--New Instrument Tab-->

            </md-tabs>

          </fieldset>

        </div>
        <!--New instrument form-->

        <hr/>

          <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11">
            <div class="form-group pull-left">
              <md-button class="md-fab md-micro"
                         aria-label="plus button"
                      ng-click="addNewInstrument(mergerData.mergedInstruments)">
                <i class="glyphicon glyphicon-plus micro-glyphicon"></i>
                <md-tooltip md-direction="down">
                  <span once-text="'Add New Merging'|translate"></span>
                </md-tooltip>
              </md-button>
            </div>
            <div class="form-group pull-left">
              <md-button type="button"
                         class="md-fab md-micro"
                         aria-label="minus button"
                      ng-click="removeNewInstrument(mergerData.mergedInstruments)">
                <i class="glyphicon glyphicon-minus micro-glyphicon"></i>
                <md-tooltip>
                  <span once-text="'Delete Merging'|translate"></span>
                </md-tooltip>
              </md-button>
            </div>
          </div>
          <!--Add-->

        <!--New securities add btn-->

      </fieldset>

    </div>
  </div>
</div>
