<div class="window-extend-block" data-extend-template="app/common/templates/operation-window-layout.html">
  <div data-block="content" class="window-main-content">
    <table class="table table-striped table-hover table-responsive table-bordered ">
      <tbody>
      <tr>
        <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4"><b once-text="'Issuer'|translate"></b>
        </td>

        <td class="col-md-4 col-xs-4 col-lg-4 col-sm-4">{{taskData.instrument.issuerName}}</td>

      </tr>

      <tr>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"><b once-text="'Instrument'|translate"></b></td>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6">{{taskData.instrument.ISIN}}</td>
      </tr>

      </tbody>
    </table>


    <hr/>
    <h4 once-text="'Coupon Payments'|translate"></h4>


    <table class="table table-striped table-hover table-responsive table-bordered ">
      <thead>
      <th once-text="'Payment Date'|translate"></th>
      <th once-text="'Amount'|translate"></th>
      <th once-text="'Effective Date'|translate"></th>
      </thead>
      <tbody>
      <tr data-ng-repeat="cp in taskData.couponPayments">
        <td>{{cp.paymentDate |date: 'short'}}</td>
        <td>{{cp.amount}}</td>
        <td>{{cp.effectiveDate |date: 'short'}}</td>
      </tr>
      </tbody>
    </table>

    <!--Coupon payments-->
  </div>
</div>
</div>
