<div class="window-extend-block" data-extend-template="app/common/templates/operation-window-layout.html">
  <div data-block="content" class="window-main-content">
    <div
      role="form"
      ng-form="config.form.name"
      ng-submit="config.buttons.complete.click()"
      >

      <!--<fieldset class="custom-fieldset">-->

      <h4 once-text="'Coupon Payments'|translate"></h4>

      <div class="forms" data-ng-repeat="cp in bondCashFlowData.couponPayments">
        <div ng-if="!cp.effectiveDate">
          <div class="form-group" ng-class="{ 'has-error': (config.form.name.$submitted
                   || config.form.name['payment_date_'+$index].$touched)
                  &&(config.form.name['payment_date_'+$index].$invalid)}">
            <label class="form-labels"><span class="required-sign">*</span>
              <span once-text="'Payment Date'|translate"></span>:</label>

            <div class="form-inputs">
              <input
                type="text"
                class="datepicker-cst"
                kendo-date-picker
                name="payment_date_{{$index}}"
                ng-model="cp.paymentDate"
                k-ng-model="cp.paymentDateObj"
                k-min="bondCashFlowData.config.todayDate"
                ng-required="true"
                csm-kendo-date-min="{{bondCashFlowData.config.todayDate|date:'yyyy/mm/dd'}}"
                >

              <div
                ng-show="config.form.name.$submitted || config.form.name['payment_date_'+$index].$touched">
                <p ng-show="config.form.name['payment_date_'+$index].$error.required"
                   class="help-block help-block-error">
                  <span once-text="'This field is required'|translate"></span>
                </p>
              </div>

              <div
                ng-show="config.form.name.$submitted || config.form.name['payment_date_'+$index].$touched">
                <p ng-show="config.form.name['payment_date_'+$index].$error.csmKendoDateMin"
                   class="help-block help-block-error">
                  <span once-text="'You can\'t select date which is past.'|translate"></span>
                </p>

                <p ng-show="config.form.name.value_date.$error.csmKendoDate"
                   class="help-block help-block-error">
                  <span once-text="'Please enter a valid date!'|translate"></span>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="forms">
          <div ng-if="!cp.effectiveDate">
            <div class="form-group" ng-class="{ 'has-error': (config.form.name.$submitted
                   || config.form.name['amount_'+$index].$touched)
                   &&(config.form.name['amount_'+$index].$invalid)  }">

              <label class="form-labels"> <span class="required-sign">*</span>
                <span once-text="'Amount'|translate"></span>:</label>

              <div class="form-inputs">
                <input
                  type="number"
                  name="amount_{{$index}}"
                  class="k-textbox"
                  ng-trim="true"
                  min="1"
                  ng-model="cp.amount"
                  ng-required="true"
                  >

                <div
                  ng-show="config.form.name.$submitted || config.form.name['amount_'+$index].$touched">
                  <p ng-show="config.form.name['amount_'+$index].$error.required"
                     class="help-block help-block-error">
                    <span once-text="'This field is required'|translate"></span>
                  </p>

                  <p
                    ng-show="config.form.name['amount_'+$index].$error.number"
                    class="help-block help-block-error">
                    <span once-text="'Wrong Format!'|translate"></span>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="forms">
          <div ng-if="cp.effectiveDate">
            <div class="form-group">

              <label class="form-labels"><span once-text="'Effective Date'|translate"></span>:</label>

              <div class="form-inputs">
                <input
                  type="text"
                  disabled readonly
                  class="datepicker-cst"
                  kendo-date-picker
                  name="payment_date_{{$index}}"
                  ng-model="cp.effectiveDate"
                  k-ng-model="cp.effectiveDateObj"
                  >
              </div>

            </div>
          </div>
        </div>
        <div class="forms">
          <div ng-if="cp.effectiveDate">
            <div class="form-group">
              <label class="form-labels"><span once-text="'Payment Date'|translate"></span>:</label>

              <div class="form-inputs">
                <input
                  type="text"
                  disabled readonly
                  class="datepicker-cst"
                  kendo-date-picker
                  name="payment_date_{{$index}}"
                  ng-model="cp.paymentDate"
                  k-ng-model="cp.paymentDateObj"
                  >
              </div>

            </div>
          </div>
        </div>
        <div class="forms">
          <div ng-if="cp.effectiveDate">
            <div class="form-group">

              <label class="form-labels"> <span once-text="'Amount'|translate"></span>:</label>

              <div class="form-inputs">
                <input
                  type="number"
                  name="amount_{{$index}}"
                  class="k-textbox"
                  disabled readonly
                  ng-model="cp.amount"
                  >

                <div
                  ng-show="config.form.name.$submitted || config.form.name['amount_'+$index].$touched">
                  <p ng-show="config.form.name['amount_'+$index].$error.required"
                     class="help-block help-block-error">
                    <span once-text="'This field is required'|translate"></span>
                  </p>

                  <p
                    ng-show="config.form.name['amount_'+$index].$error.number"
                    class="help-block help-block-error">
                    <span once-text="'Wrong Format!'|translate"></span>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--Coupon payments-->
      <div class="padding-top-10">
        <table class="table table-striped table-bordered">
          <thead>
          <tr>
            <th><strong class="required-sign">*</strong> <strong once-text="'Instrument'|translate"></strong></th>
            <th once-text="'Issuer'|translate"></th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td class="half-width">
              <span ng-if="!bondCashFlowData.instrument.ISIN">......</span>
              <span>{{bondCashFlowData.instrument.ISIN}}</span>
              <input
                class="k-textbox"
                type="hidden"
                name="ISIN"
                ng-required="true"
                ng-model="bondCashFlowData.instrument.ISIN">

              <div ng-class="{ 'has-error':
                 (config.form.name.$submitted || config.form.name.ISIN.$touched)
                 &&(config.form.name.ISIN.$invalid)  }"
                   ng-show="config.form.name.$submitted || config.form.name.new_security_ISIN.$touched">
                <p ng-show="config.form.name.$submitted || config.form.name.ISIN.$touched"
                   class="help-block help-block-error">
                  <span once-text="'This field is required'|translate"></span>
                </p>
              </div>

            </td>
            <td class="half-width">
              <span ng-if="!instrumentConversionData.newSecurity.ISIN">......</span>
              <span>{{instrumentConversionData.newSecurity.ISIN}}</span>
              <input
                class="k-textbox"
                type="hidden"
                name="new_security_ISIN"
                ng-required="true"
                ng-model="instrumentConversionData.newSecurity.ISIN">

              <div ng-class="{ 'has-error':
                 (config.form.name.$submitted || config.form.name.issuer.$touched)
                 &&(config.form.name.issuer.$invalid)  }"
                   ng-show="config.form.name.$submitted || config.form.name.issuer.$touched">
                <p ng-show="config.form.name.issuer.$error.required"
                   class="help-block help-block-error">
                  <span once-text="'This field is required'|translate"></span>
                </p>
              </div>
            </td>
            <td>
              <md-button type="button"
                         class="md-fab md-micro"
                         aria-label="search button"
                         ng-click="findInstrument()">
                <i class="glyphicon glyphicon-search micro-glyphicon"></i>
                <md-tooltip>
                  <span once-text="'Find Instrument'|translate"></span>
                </md-tooltip>
              </md-button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>

</div>
