<div class="window-extend-block" data-extend-template="app/common/templates/operation-window-layout.html">
  <div data-block="content" class="window-main-content">
    <div
      role="form"
      ng-form="config.form.name"
      ng-submit="config.buttons.complete.click()">

        <!--Par value-->
      <div class="forms">
          <div class="form-group" ng-class="{ 'has-error':
                 (config.form.name.$submitted || config.form.name.registration_number.$touched)
                 &&(config.form.name.registration_number.$invalid)  }">
            <label class="form-labels"><span class="required-sign">*</span>
              <span once-text="'Registration Number'|translate"></span>:</label>
            <div class="form-inputs">
              <input type="text"
                     name="registration_number"
                     class="k-textbox"
                     ng-model="returnOfCapitalData.registrationNumber"
                     ng-required="true">

              <div ng-show="config.form.name.$submitted || config.form.name.registration_number.$touched">
                <p ng-show="config.form.name.registration_number.$error.required"
                   class="help-block help-block-error">
                  <span once-text="'This field is required'|translate"></span>
                </p>
              </div>
          </div>
        </div>
      </div>
      <div class="forms">
          <div class="form-group" ng-class="{ 'has-error':
                 (config.form.name.$submitted || config.form.name.reg_auth_class.$touched)
                 &&(config.form.name.reg_auth_class.$invalid)  }">

            <label class="form-labels"><span class="required-sign">*</span>
              <span once-text="'Registration Authority Class'|translate"></span>:</label>
          <div class="form-inputs">
            <select
              name="reg_auth_class"
              ng-model="returnOfCapitalData.registrationAuthorityClass"
              ng-required="true"
              >
              <option value="">---</option>
              <option
                value="{{cl|json}}"
                ng-repeat="cl in  metaData.registrationAuthorityClasses">{{cl['name'+lnC]}}</option>
            </select>

            <div ng-show="config.form.name.$submitted || config.form.name.reg_auth_class.$touched">
              <p ng-show="config.form.name.reg_auth_class.$error.required"
                 class="help-block help-block-error">
                <span once-text="'This field is required'|translate"></span>
              </p>
            </div>
          </div>
          </div>
        </div>
      <!--Reg num. ,reg auth-->
      <div class="forms">
          <div class="form-group" ng-class="{ 'has-error':
                 (config.form.name.$submitted || config.form.name.registration_date.$touched)
                 &&(config.form.name.registration_date.$invalid)  }">
            <label class="form-labels"><span class="required-sign">*</span>
              <span once-text="'Registration Date'|translate"></span>:</label>
           <div class="form-inputs">
             <input type="text"
                    class="datepicker-cst"
                    kendo-date-picker
                    name="registration_date"
                    ng-model="returnOfCapitalData.registrationDate"
                    k-ng-model="returnOfCapitalData.registrationDateObj"
                    ng-required="true"
               >

             <div ng-show="config.form.name.$submitted || config.form.name.registration_date.$touched">
               <p ng-show="config.form.name.registration_date.$error.required"
                  class="help-block help-block-error">
                 <span once-text="'This field is required'|translate"></span>
               </p>

               <p ng-show="config.form.name.registration_date.$error.csmKendoDate"
                  class="help-block help-block-error">
                 <span once-text="'Please enter a valid date!'|translate"></span>
               </p>
             </div>
          </div>
        </div>
      <div class="forms">
          <div class="form-group" ng-class="{ 'has-error':
                 (config.form.name.$submitted || config.form.name.value_date.$touched)
                 &&(config.form.name.value_date.$invalid)  }">
            <label class="form-labels"><span class="required-sign">*</span>
              <span once-text="'Value Date'|translate"></span>:</label>
           <div class="form-inputs">
             <input type="text"
                    class="datepicker-cst"
                    kendo-date-picker
                    name="value_date"
                    ng-model="returnOfCapitalData.valueDate"
                    k-ng-model="returnOfCapitalData.valueDateObj"
                    ng-required="true"
               >
             <div ng-show="config.form.name.$submitted || config.form.name.value_date.$touched">
               <p ng-show="config.form.name.value_date.$error.required"
                  class="help-block help-block-error">
                 <span once-text="'This field is required'|translate"></span>
               </p>

               <p ng-show="config.form.name.value_date.$error.csmKendoDate"
                  class="help-block help-block-error">
                 <span once-text="'Please enter a valid date!'|translate"></span>
               </p>
             </div>
           </div>
          </div>
      </div>
      <!--Reg date,Record date-->

        <table class="table table-striped table-bordered">
          <thead>
          <tr>
            <th><strong class="required-sign">*</strong> <strong once-text="'Issuer'|translate"></strong></th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td class="half-width">
              <span ng-if="!returnOfCapitalData.issuer.name">......</span>
              <span >{{returnOfCapitalData.issuer.name}}</span>
              <input
                class="k-textbox"
                type="hidden"
                name="issuer"
                ng-required="true"
                ng-model="returnOfCapitalData.issuer.name">

              <div ng-class="{ 'has-error':
                 (config.form.name.$submitted || config.form.name.issuer.$touched)
                 &&(config.form.name.issuer.$invalid)  }"
                   ng-show="config.form.name.$submitted || config.form.name.issuer.$touched">
                <p ng-show="config.form.name.issuer.$error.required"
                   class="help-block help-block-error">
                  <span once-text="'This field is required'|translate"></span>
                </p>
              </div>

            </td>
            <td class="half-width">
              <md-button type="button"
                         class="md-fab md-micro"
                         aria-label="search button"
                         ng-click="findIssuer()">
                <i class="glyphicon glyphicon-search micro-glyphicon"></i>
                <md-tooltip>
                  <span once-text="'Find Issuer'|translate"></span>
                </md-tooltip>
              </md-button>
            </td>
          </tr>
          </tbody>
        </table>

        <table class="table table-striped table-bordered">
          <thead>
          <tr>
            <th><strong class="required-sign">*</strong> <strong once-text="'Instrument Code'|translate"></strong></th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td class="half-width">
              <span ng-if="!returnOfCapitalData.instrument.ISIN">......</span>
              <span >{{returnOfCapitalData.instrument.ISIN}}</span>
              <input
                class="k-textbox"
                type="hidden"
                name="ISIN"
                ng-required="true"
                ng-model="returnOfCapitalData.instrument.ISIN">

              <div ng-class="{ 'has-error': (config.form.name.$submitted
            || config.form.name['ISIN'].$touched)  &&(config.form.name['ISIN'].$invalid)  }"
                   ng-show="config.form.name.$submitted || config.form.name['ISIN'].$touched">
                <p ng-show="config.form.name['ISIN'].$error.required"
                   class="help-block help-block-error">
                  <span once-text="'This field is required'|translate"></span>
                </p>
              </div>

            </td>
            <td class="half-width">
              <md-button type="button"
                         class="md-fab md-micro"
                         aria-label="search button"
                         ng-click="findInstrument($index)"
                         ng-disabled="!(returnOfCapitalData.issuer.id)">
                <i class="glyphicon glyphicon-search micro-glyphicon"></i>
                <md-tooltip>
                  <span once-text="'Find Instrument'|translate"></span>
                </md-tooltip>
              </md-button>
            </td>
          </tr>
          </tbody>
        </table>


    </div>

      <table class="table table-striped table-bordered">
        <thead>
        <tr>
          <th><strong class="required-sign">*</strong> <strong once-text="'Bought Back Quantity'|translate"></strong></th>
          <th><strong class="required-sign">*</strong> <strong once-text="'Quantity'|translate"></strong></th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td class="half-width">

            <input
              type="number"
              class="k-textbox"
              name="bought_back_quantity"
              ng-trim="true"
              disabled readonly
              ng-model="returnOfCapitalData.inTreasureQuantity"
              ng-required="true"
              >

            <div  ng-class="{ 'has-error': (config.form.name.$submitted || config.form.name.bought_back_quantity.$touched)
                &&(config.form.name.bought_back_quantity.$invalid)  }"
                  ng-show="config.form.name.$submitted || config.form.name.bought_back_quantity.$touched">
              <p ng-show="config.form.name.bought_back_quantity.$error.required"
                 class="help-block help-block-error">
                <span once-text="'This field is required'|translate"></span>
              </p>

              <p
                ng-show="config.form.name.bought_back_quantity.$error.number"
                class="help-block help-block-error">
                <span once-text="'Wrong Format!'|translate"></span>
              </p>
            </div>
          </td>
          <td class="half-width">
            <input
              type="number"
              name="quantity"
              class="k-textbox"
              min="1"
              ng-trim="true"
              ng-disabled="!returnOfCapitalData.inTreasureQuantity"
              ui-validate="{greaterThan : 'compareQuantities($value)' }"
              ng-model="returnOfCapitalData.quantity"
              ng-required="true"
              >

            <div  ng-class="{ 'has-error': (config.form.name.$submitted || config.form.name.quantity.$touched)
                &&(config.form.name.quantity.$invalid)  }"
                  ng-show="config.form.name.$submitted || config.form.name.quantity.$touched">
              <p ng-show="config.form.name.quantity.$error.required"
                 class="help-block help-block-error">
                <span once-text="'This field is required'|translate"></span>
              </p>

              <p
                ng-show="config.form.name.quantity.$error.greaterThan"
                class="help-block help-block-error">
                <span once-text="'Quantity can\'t be longer than bought back quantity.'|translate"></span>
              </p>

              <p
                ng-show="config.form.name.quantity.$error.number"
                class="help-block help-block-error">
                <span once-text="'Wrong Format!'|translate"></span>
              </p>
            </div>

          </td>
        </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>
