<div class="window-extend-block" data-extend-template="app/common/templates/view-window-layout.html">
  <div class="div-full-height" data-block="content">
    <div kendo-splitter="params.splitter1" orientation="'horizontal'" class="persons-view-splitter"
         k-collapse="searchCriteriaCollapse" k-expand="searchCriteriaExpand" k-navigatable="true" k-height="549"
         panes="params.config.splitterPanesConfig" k-no-records="true">

      <div ng-form="task.formName" role="form" csm-enter="findData()" ng-submit="findData()"
           class="person-find-criteria-form  fg-dark left-pane-style" novalidate>


        <div class="row filter-buttons-position">
          <md-button aria-label="right arrow button" type="button" ng-click="resetForm()"
                     class="md-micro md-fab pull-right filter-button-style">
            <md-tooltip md-direction="down">
              <span once-text="'Reset Filter'|translate"></span>
            </md-tooltip>
            <span class="icon icon-remove-filter"></span>
          </md-button>

          <md-button aria-label="right arrow button" type="button" ng-click="findData()"
                     class="md-micro md-fab pull-right filter-button-style">
            <md-tooltip md-direction="down">
              <span once-text="'Filter'|translate"></span>
            </md-tooltip>
            <span class="icon icon-filter"></span>
          </md-button>
        </div>


        <div class="pane-content">
          <uib-accordion close-others="false">
            <uib-accordion-group is-disabled="!status.date">
              <uib-accordion-heading>
                <div class="person-search-template-input-style">
                  <label class="panel-body-label text-right inline-block text-muted-manual"> <span
                    once-text="'Date'|translate"></span>:</label>

                  <div class="inline-block person-search-inputs">
                    <input type="text" kendo-date-picker name="registration_date_start"
                           ng-model="task.form.date" k-ng-model="task.form.dateObj">

                  </div>
                </div>
              </uib-accordion-heading>

          </uib-accordion-group>


            <uib-accordion-group is-disabled="!status.isFirstDisabled">
              <uib-accordion-heading>
                <div class="form-group person-search-template-input-style">
                  <label class="panel-body-label text-right inline-block text-muted-manual"> <span
                    once-text="'ISIN'|translate"></span>:</label>

                  <div class="inline-block person-search-inputs">
                    <input class="k-textbox" type="text" name="pr_name" ng-model="task.form.isin">

                  </div>
                </div>
              </uib-accordion-heading>
            </uib-accordion-group>


            <uib-accordion-group is-disabled="!status.isFirstDisabled">
              <uib-accordion-heading>
                <div class="form-group person-search-template-input-style">
                  <label class="panel-body-label text-right inline-block text-muted-manual"> <span
                    once-text="'Issuer Name'|translate"></span>:</label>

                  <div class="inline-block person-search-inputs">
                    <input class="k-textbox" type="text" name="pr_name" ng-model="task.form.issuerName">

                  </div>
                </div>
              </uib-accordion-heading>
            </uib-accordion-group>



            <uib-accordion-group is-disabled="!status.isFirstDisabled">
              <uib-accordion-heading>
                <div class="form-group person-search-template-input-style">
                  <label class="panel-body-label text-right inline-block text-muted-manual">
                    <span>CFI</span>:</label>

                  <div class="inline-block person-search-inputs">
                    <input class="k-textbox" type="text" name="pr_name" ng-model="task.form.CFI">

                  </div>
                </div>
              </uib-accordion-heading>
            </uib-accordion-group>

            <uib-accordion-group is-disabled="!status.isFirstDisabled">
              <uib-accordion-heading>
                <div class="person-search-template-input-style">
                  <label class="text-right text-muted-manual">
                    <span once-text="'Is in Debtors List'|translate"></span>:</label>

                  <label class="inline-block account-search-inputs input-checkbox"
                         style="padding-left: 9px!important;">
                    <input
                      name="is_subscription"
                      type="checkbox"
                      ng-true-value="true"
                      ng-false-value="false"
                      ng-model="instrument.form.isInDebtorsList"
                      class="md-checkbox-style"
                    >
                  </label>
                </div>
              </uib-accordion-heading>
            </uib-accordion-group>


            <uib-accordion-group is-disabled="!status.isFirstDisabled">
              <uib-accordion-heading>
                <div class="person-search-template-input-style">
                  <label class="text-right text-muted-manual">
                    <span once-text="'Is in Debtors List'|translate"></span>:</label>

                  <label class="inline-block account-search-inputs input-checkbox"
                         style="padding-left: 9px!important;">
                    <input
                      name="is_subscription"
                      type="checkbox"
                      ng-true-value="true"
                      ng-false-value="false"
                      ng-model="instrument.form.isInDebtorsList"
                      class="md-checkbox-style"
                    >
                  </label>
                </div>
              </uib-accordion-heading>
            </uib-accordion-group>

            <uib-accordion-group is-disabled="!status.isFirstDisabled">
              <uib-accordion-heading>
                <div class="person-search-template-input-style">
                  <label class="text-right text-muted-manual">
                    <span once-text="'Is Issue'|translate"></span>:</label>

                  <label class="inline-block account-search-inputs input-checkbox"
                         style="padding-left: 9px!important;">
                    <input
                      name="is_subscription"
                      type="checkbox"
                      ng-true-value="true"
                      ng-false-value="false"
                      ng-model="instrument.form.isIssue"
                      class="md-checkbox-style"
                    >
                  </label>
                </div>
              </uib-accordion-heading>
            </uib-accordion-group>


            <uib-accordion-group is-disabled="!status.isFirstDisabled">
              <uib-accordion-heading>
                <!--<div class="row" >-->
                <div class="person-search-template-input-style">
                  <label class="text-right inline-block text-muted-manual">
                    <span once-text="'Currency'|translate"></span>:</label>

                  <div class="inline-block person-search-inputs">
                    <select kendo-drop-down-list
                            ng-model="instrument.form.currencyID"
                            k-data-text-field="'name'+lnC"
                            k-data-value-field="'id'"
                            k-data-source="metaData.currencies"
                            k-width="'100%'"
                    >
                    </select>
                  </div>
                </div>
                <!--</div>-->
              </uib-accordion-heading>
            </uib-accordion-group>


          </uib-accordion>
        </div>
      </div>


      <div class="pane-content">
        <div class="trade-view-buttons-wrapper">
          <md-button aria-label="hamburger button" class="pull-left md-icon-button md-primary hamburger-button-style"
                     ng-click="toggleSearchCriteriaBlock(params.splitter1)">
            <span class="glyphicon glyphicon-align-justify micro-glyphicon micro-align-glyphicon"></span>
          </md-button>
          <div class="pull-right view-button-group">

            <md-button ng-disabled="!selectedTask" type="button" class="md-fab md-micro" aria-label="submit button"
                       ng-click="getSelectedTask()">
              <i class="glyphicon glyphicon-ok micro-glyphicon"></i>
              <md-tooltip md-direction="down">
                <span once-text="'Open Task'|translate"></span>
              </md-tooltip>
            </md-button>
            <md-button type="button" class="md-fab md-micro" aria-label="Export to excel"
                       ng-click="exportToExcel(task.searchResultGrid)">
              <i class="glyphicon glyphicon-export micro-glyphicon"></i>
              <md-tooltip md-direction="down">
                <span once-text="'Export to Excel'|translate"></span>
              </md-tooltip>
            </md-button>
            <md-button type="button" class="md-fab md-micro" aria-label="Mini FAB" ng-click="closeWindow()">

              <i class="glyphicon glyphicon-remove micro-glyphicon"></i>

              <md-tooltip md-direction="down">
                <span once-text="'Close Window'|translate"></span>
              </md-tooltip>

            </md-button>

          </div>
        </div>
        <div class="person-find-result-block">
          <div ng-if="gridOptions" kendo-grid="task.searchResultGrid" k-resizable="true" k-options="gridOptions"
               k-rebind="gridOptions.selectable" k-allow-copy="false" k-detail-init="detailInit"
               k-on-change="selectTask(data)" k-sortable="true" k-scrollable="true"
               k-pageable='{ "pageSize": 20, "refresh": true, "pageSizes": true, "buttonCount": 5 }'>

            <div k-detail-template>


              <div kendo-grid k-data-source="dataItem.details" k-options="taskDataGrid()" k-resizable="true"></div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
