<div class="window-extend-block" data-extend-template="app/common/templates/operation-window-layout.html">
  <div data-block="content" class="window-main-content">


    <div role="form" ng-form='config.form.name' ng-submit="config.buttons.complete.click()">

      <div class="min-width-470">
        <div class="pull-left">
          {{ data.instrument.issuerName }}
        </div>
        <div class="form-group pull-right">
          <label class="form-label"> <span>Axtar</span>:</label>

          <div class="form-inputs" style="padding-left: 25px">
            <md-button class="md-fab md-micro" aria-label="Mini FAB" ng-click="findPaidCouponPayment()">
              <i class="glyphicon glyphicon-search micro-glyphicon"></i>
              <md-tooltip>
                <span once-text="'Find '|translate"></span>
              </md-tooltip>
            </md-button>
          </div>
        </div>
      </div>


      <table class="table table-srtiped" ng-show="data">
        <tbody>

        <tr>
          <td>Reyestr tarixi:</td>
          <td>{{ data.recordDate }}</td>
        </tr>

        <tr>
          <td><span once-text="'Payment Date'|translate"></span>:</td>
          <td>{{ data.valueDate }}</td>
        </tr>

        <tr>
          <td><span once-text="'Issuer'|translate"></span>:</td>
          <td>{{ data.issuer }}</td>
        </tr>

        <tr>
          <td><span once-text="'ISIN'|translate"></span>:</td>
          <td>{{ data.isin }}</td>
        </tr>


        </tbody>
      </table>


      <table class="table table-bordered" ng-show="selectedRecords">
        <thead>
            <tr>
              <th><span once-text="'Person Name'|translate"></span></th>
              <th><span once-text="'Account Number'|translate"></span></th>
              <th><span once-text="'Amount'|translate"></span></th>
              <th><span once-text="'Vergi'|translate"></span></th>
              <th><span once-text="'Status'|translate"></span></th>
              <th><span once-text="'Comment'|translate"></span></th>
            </tr>
        </thead>
        <tbody>
        <tr ng-repeat="r in selectedRecords">
          <td>{{ r.personName }}</td>
          <td>{{ r.accountNumber }}</td>
          <td>{{ r.amount | number:2 }}</td>
          <td>{{ r.tax | number:2 }}</td>
          <td>{{ r.status.nameAz }}</td>
          <td>{{ r.comment }}</td>
        </tr>
        </tbody>
      </table>


    </div>

  </div>

</div>
