<div class="window-extend-block" data-extend-template="app/common/templates/operation-window-layout.html">
  <div data-block="content" class="window-main-content">


    <div role="form" ng-form='config.form.name' ng-submit="config.buttons.complete.click()">

      <table class="table table-srtiped">
        <tbody>

        <tr>
          <td>Reyestr tarixi:</td>
          <td>{{ taskData.recordDate }}</td>
        </tr>

        <tr>
          <td><span once-text="'Payment Date'|translate"></span>:</td>
          <td>{{ taskData.valueDate }}</td>
        </tr>

        <tr>
          <td><span once-text="'Issuer'|translate"></span>:</td>
          <td>{{ taskData.issuer }}</td>

        </tr>

        <tr>
          <td><span once-text="'ISIN'|translate"></span>:</td>
          <td>{{ taskData.isin }}</td>
        </tr>


        </tbody>
      </table>

    </div>

  </div>

</div>
