<div class="window-extend-block" data-extend-template="app/common/templates/operation-window-layout.html">
  <div data-block="content" class="window-main-content">
    <div
      role="form"
      ng-form="config.form.name"
      ng-submit="config.buttons.complete.click()">

      <div class="nominator-discriminator-wrappper">
        <div class="inline-block form-group pull-left"
             ng-class="{ 'has-error': (config.form.name.$submitted || config.form.name.nominator.$touched)
                &&(config.form.name.nominator.$invalid)  }">
            <label class="form-labels"> <span class="required-sign">*</span>
              <span once-text="'Nominator'|translate"></span>:</label>
            <div class="form-inputs">
              <input
                type="number"
                name="nominator"
                class="k-textbox"
                ng-trim="true"
                min="0"
                ng-model="stockSplitData.nominator"
                ng-required="true"
                >

              <div ng-show="config.form.name.$submitted || config.form.name.nominator.$touched">
                <p ng-show="config.form.name.nominator.$error.required"
                   class="help-block help-block-error">
                  <span once-text="'This field is required'|translate"></span>
                </p>

                <p
                  ng-show="config.form.name.nominator.$error.number"
                  class="help-block help-block-error">
                  <span once-text="'Wrong Format!'|translate"></span>
                </p>
              </div>
            </div>
        </div>
        <!--Nominator-->
          <div class="inline-block form-group pull-left" ng-class="{ 'has-error': (config.form.name.$submitted || config.form.name.discriminator.$touched)
                &&(config.form.name.discriminator.$invalid)  }">
            <label class="pull-left"><i class="margin10">/</i><span class="required-sign">*</span>
                <span once-text="'Discriminator'|translate"></span>:</label>
             <div class="form-inputs">
               <input
                 type="number"
                 class="k-textbox"
                 min="0"
                 name="discriminator"
                 ng-trim="true"
                 ng-model="stockSplitData.discriminator"
                 ng-required="true"
                 >
               <div ng-show="config.form.name.$submitted || config.form.name.discriminator.$touched">
                 <p ng-show="config.form.name.discriminator.$error.required"
                    class="help-block help-block-error">
                   <span once-text="'This field is required'|translate"></span>
                 </p>
                 <p
                   ng-show="config.form.name.discriminator.$error.number"
                   class="help-block help-block-error">
                   <span once-text="'Wrong Format!'|translate"></span>
                 </p>
               </div>
             </div>
          </div>
        <!--Denominator-->
      </div>
      <div class="forms half-width">
          <div class="form-group" ng-class="{ 'has-error':
                 (config.form.name.$submitted || config.form.name.fraction_treatment_class.$touched)
                 &&(config.form.name.fraction_treatment_class.$invalid)  }">
            <label class="form-labels"><span class="required-sign">*</span>
              <span once-text="'Fraction Treatment Class'|translate"></span>:</label>
            <div class="form-inputs">
              <select
                name="fraction_treatment_class"
                ng-model="stockSplitData.fractionTreatmentClass"
                ng-required="true">
                <option value="">---</option>
                <option
                  value="{{cl|json}}"
                  ng-repeat="cl in  metaData.fractionTreatmentClasses">{{cl['name'+lnC]}}</option>
              </select>

              <div ng-show="config.form.name.$submitted || config.form.name.fraction_treatment_class.$touched">
                <p ng-show="config.form.name.fraction_treatment_class.$error.required"
                   class="help-block help-block-error">
                  <span once-text="'This field is required'|translate"></span>
                </p>
              </div>
            </div>
          </div>
        <!-- Fraction T.C.-->
      </div>

      <div class="forms">
        <div class="form-group" ng-class="{ 'has-error':
                 (config.form.name.$submitted || config.form.name.registration_number.$touched)
                 &&(config.form.name.registration_number.$invalid)  }">
            <label class="form-labels"><span class="required-sign">*</span>
              <span once-text="'Registration Number'|translate"></span>:</label>
            <div class="form-inputs">
              <input type="text"
                     class="k-textbox"
                     name="registration_number"
                     ng-model="stockSplitData.registrationNumber"
                     ng-required="true">

              <div ng-show="config.form.name.$submitted || config.form.name.registration_number.$touched">
                <p ng-show="config.form.name.registration_number.$error.required"
                   class="help-block help-block-error">
                  <span once-text="'This field is required'|translate"></span>
                </p>
              </div>
            </div>
          </div>
        </div>
      <div class="forms">
          <div class="form-group" ng-class="{ 'has-error':
                 (config.form.name.$submitted || config.form.name.reg_auth_class.$touched)
                 &&(config.form.name.reg_auth_class.$invalid)  }">
            <label class="form-labels"><span class="required-sign">*</span>
              <span once-text="'Registration Authority Class'|translate"></span>:</label>
           <div class="form-inputs">
             <select
               name="reg_auth_class"
               ng-model="stockSplitData.registrationAuthorityClass"
               ng-required="true"
               >
               <option value="">---</option>
               <option
                 value="{{cl|json}}"
                 ng-repeat="cl in  metaData.registrationAuthorityClasses">{{cl['name'+lnC]}}</option>
             </select>

             <div ng-show="config.form.name.$submitted || config.form.name.reg_auth_class.$touched">
               <p ng-show="config.form.name.reg_auth_class.$error.required"
                  class="help-block help-block-error">
                 <span once-text="'This field is required'|translate"></span>
               </p>
             </div>
           </div>
          </div>
      </div>
      <!--Reg num. ,reg auth-->
      <div class="forms">
          <div class="form-group" ng-class="{ 'has-error':
                 (config.form.name.$submitted || config.form.name.registration_date.$touched)
                 &&(config.form.name.registration_date.$invalid)  }">
            <label class="form-labels"><span class="required-sign">*</span>
              <span once-text="'Registration Date'|translate"></span>:</label>
           <div class="form-inputs">
             <input type="text"
                    class="datepicker-cst"
                    kendo-date-picker
                    name="registration_date"
                    ng-model="stockSplitData.registrationDate"
                    k-ng-model="stockSplitData.registrationDateObj"
                    ng-required="true"
               >

             <div ng-show="config.form.name.$submitted || config.form.name.registration_date.$touched">
               <p ng-show="config.form.name.registration_date.$error.required"
                  class="help-block help-block-error">
                 <span once-text="'This field is required'|translate"></span>
               </p>

               <p ng-show="config.form.name.registration_date.$error.csmKendoDate"
                  class="help-block help-block-error">
                 <span once-text="'Please enter a valid date!'|translate"></span>
               </p>
             </div>
           </div>
          </div>
      </div>
      <div class="forms">
          <div class="form-group" ng-class="{ 'has-error':
                 (config.form.name.$submitted || config.form.name.value_date.$touched)
                 &&(config.form.name.value_date.$invalid)  }">
            <label class="form-labels"><span class="required-sign">*</span>
              <span once-text="'Value Date'|translate"></span>:</label>
            <div class="form-inputs">
              <input type="text"
                     class="datepicker-cst"
                     kendo-date-picker
                     name="value_date"
                     ng-model="stockSplitData.valueDate"
                     k-ng-model="stockSplitData.valueDateObj"
                     ng-required="true"
                >

              <div ng-show="config.form.name.$submitted || config.form.name.value_date.$touched">
                <p ng-show="config.form.name.value_date.$error.required"
                   class="help-block help-block-error">
                  <span once-text="'This field is required'|translate"></span>
                </p>

                <p ng-show="config.form.name.value_date.$error.csmKendoDate"
                   class="help-block help-block-error">
                  <span once-text="'Please enter a valid date!'|translate"></span>
                </p>
              </div>
            </div>
          </div>
      </div>
      <!--Reg date, Value date -->

      <table class="table table-striped table-bordered">
        <thead>
        <tr>
          <th><strong class="required-sign">*</strong> <strong once-text="'Issuer'|translate"></strong></th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td class="half-width">
            <span ng-if="!stockSplitData.issuer.name">......</span>
            <span >{{stockSplitData.issuer.name}}</span>
            <input
              class="k-textbox"
              type="hidden"
              name="issuer"
              ng-required="true"
              ng-model="stockSplitData.issuer.name">

            <div ng-class="{ 'has-error':
                 (config.form.name.$submitted || config.form.name.issuer.$touched)
                 &&(config.form.name.issuer.$invalid)  }"
                 ng-show="config.form.name.$submitted || config.form.name.issuer.$touched">
              <p ng-show="config.form.name.issuer.$error.required"
                 class="help-block help-block-error">
                <span once-text="'This field is required'|translate"></span>
              </p>
            </div>

          </td>
          <td class="half-width">
            <md-button type="button"
                       class="md-fab md-micro"
                       aria-label="search button"
                       ng-click="findIssuer()">
              <i class="glyphicon glyphicon-search micro-glyphicon"></i>
              <md-tooltip>
                <span once-text="'Find Issuer'|translate"></span>
              </md-tooltip>
            </md-button>
          </td>
        </tr>
        </tbody>
      </table>


    <h4 once-text="'Instrument'|translate"></h4>
      <table class="table table-striped table-bordered">
      <thead>
      <tr>
        <th><strong class="required-sign">*</strong> <strong once-text="'Instrument Code'|translate"></strong></th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td class="half-width">
          <span ng-if="!stockSplitData.instrument.ISIN">......</span>
          <span >{{stockSplitData.instrument.ISIN}}</span>
          <input
            class="k-textbox"
            type="hidden"
            name="ISIN"
            ng-required="true"
            ng-model="stockSplitData.instrument.ISIN">

          <div ng-class="{ 'has-error': (config.form.name.$submitted
            || config.form.name['ISIN'].$touched)  &&(config.form.name['ISIN'].$invalid)  }"
               ng-show="config.form.name.$submitted || config.form.name['ISIN'].$touched">
            <p ng-show="config.form.name['ISIN'].$error.required"
               class="help-block help-block-error">
              <span once-text="'This field is required'|translate"></span>
            </p>
          </div>

        </td>
        <td class="half-width">
          <md-button type="button"
                     class="md-fab md-micro"
                     aria-label="search button"
                     ng-click="findInstrument($index)">
            <i class="glyphicon glyphicon-search micro-glyphicon"></i>
            <md-tooltip>
              <span once-text="'Find Instrument'|translate"></span>
            </md-tooltip>
          </md-button>
        </td>
      </tr>
      </tbody>
    </table>

    </div>

  </div>

</div>
