<div class="window-extend-block" data-extend-template="app/common/templates/operation-window-layout.html">
    <div data-block="content" class="window-main-content">
        <div>

            <div class="forms">

                <div class="form-group">

                    <label class="form-labels">
                        <span once-text="'Subscriptions'|translate"></span>:
                    </label>
                    <div class="form-inputs">
                        <select ng-model="selectedSubscription"
                                ng-change="changeSelectedSubscription()"
                                ng-options="subscription as subscription.instrument.instrumentName for subscription in taskData.subscriptions track by subscription.instrument.id">
                        </select>
                    </div>
                </div>

            </div>

            <div class="forms">

                <h3 once-text="'Subscription Members'|translate"></h3>

                <table class="table table-striped table-bordered">
                    <thead>
                    <tr>
                        <th><span once-text="'Member'|translate"></span></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr data-ng-repeat="member in selectedSubscriptionModel.members">
                        <td>
                            <span>{{member.name}}</span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>
