<div class="window-extend-block" data-extend-template="app/common/templates/operation-window-layout.html">
    <div data-block="content" class="window-main-content">
        <div
                role="form"
                ng-form="config.form.name"
                ng-submit="config.buttons.complete.click()">


            <div class="forms">

                <div class="form-group">

                    <label class="form-labels">
                        <span once-text="'Subscriptions'|translate"></span>:
                    </label>
                    <div class="form-inputs">
                        <select ng-model="selectedSubscription"
                                ng-change="changeSelectedSubscription()"
                                ng-options="subscription as subscription.instrument.instrumentName for subscription in subscriptionAccess.subscriptions track by subscription.instrument.id">
                        </select>
                    </div>
                </div>

            </div>

            <div class="forms">

                <h3 once-text="'Subscription Members'|translate"></h3>

                <table class="table table-striped table-bordered"
                       style="table-layout: fixed" >
                    <thead>
                    <tr>
                        <th colspan="3"><span once-text="'Member'|translate"></span></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr data-ng-repeat="member in selectedSubscriptionModel.members">
                        <td>
                            <span ng-if="!member.name">......</span>
                            <span> {{member.name}}</span>
                        </td>
                        <td>
                            <md-button
                                    class="md-fab md-micro"
                                    aria-label="Mini FAB"
                                    ng-click="findMember($index, selectedSubscriptionModel.members)">
                                <i class="glyphicon glyphicon-search micro-glyphicon"></i>
                                <md-tooltip>
                                    <span once-text="'Find Member'|translate"></span>
                                </md-tooltip>
                            </md-button>
                        </td>
                        <td>
                            <md-button
                                    class="md-fab md-micro"
                                    aria-label="Mini FAB"
                                    ng-click="removeMember($index,selectedSubscriptionModel.members)">
                                <i class="glyphicon glyphicon-remove micro-glyphicon"></i>
                                <md-tooltip>
                                    <span once-text="'Delete'|translate"></span>
                                </md-tooltip>
                            </md-button>
                            <!--Remove Button-->
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="inline-block" ng-if="selectedSubscriptionModel">
                    <md-button
                            class="md-fab md-micro pull-left"
                            aria-label="Mini FAB"
                            ng-click="addNewMember(selectedSubscriptionModel.members)">
                        <i class="glyphicon glyphicon-plus micro-glyphicon"></i>
                        <md-tooltip>
                            <span once-text="'Add New Subscription'|translate"></span>
                        </md-tooltip>
                    </md-button>
                </div>
            </div>

        </div>
    </div>
</div>
