<div class="window-extend-block" data-extend-template="app/common/templates/operation-window-layout.html">
  <div data-block="content" class="window-main-content">
    <div
      role="form"
      ng-form="config.form.name"
      ng-submit="config.buttons.complete.click()">

      <div class="forms">
        <div class="form-group" ng-class="{ 'has-error':  (config.form.name.$submitted || config.form.name.subscription.$touched)
             &&(config.form.name.subscription.$invalid)  }">

          <label class="form-labels"><span class="required-sign">*</span>
            <span once-text="'Subscription'|translate"></span>:</label>

          <div class="form-inputs">
            <select ng-model="subscriptionID"
                    ng-change="subscriptionChange(subscriptionID)"
                    name="subscriptionID">
              <option value="{{subscription.id}}"
                      ng-repeat="subscription in subscription.subscriptions">
                {{subscription.issuerName + " - " + subscription.ISIN}}</option>
            </select>
            <div ng-show="config.form.name.$submitted || config.form.name.subscription.$touched">
              <p ng-show="config.form.name.subscription.$error.required"
                 class="help-block help-block-error">
                <span once-text="'This field is required'|translate"></span>
              </p>
            </div>
          </div>

        </div>
      </div>
      <div class="forms">
        <div class="form-group"
             ng-class="{ 'has-error': (instrument.partialFormName.$submitted || instrument.partialFormName.quantity.$touched)
                &&(instrument.partialFormName.quantity.$invalid)  }">

          <label class="form-labels"><span class="required-sign">*</span>
            <span once-text="'Quantity'|translate"></span>:</label>
          <div class="form-inputs">
            <input
              type="number"
              class="k-textbox"
              name="quantity"
              ng-trim="true"
              ng-model="subscription.quantity"
              ng-required="true"
            >

            <div ng-show="instrument.partialFormName.$submitted || instrument.partialFormName.quantity.$touched">
              <p ng-show="instrument.partialFormName.quantity.$error.required"
                 class="help-block help-block-error">
                <span once-text="'This field is required'|translate"></span>
              </p>

              <p
                ng-show="instrument.partialFormName.quantity.$error.number"
                class="help-block help-block-error">
                <span once-text="'Wrong Format!'|translate"></span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <h4 once-text="'Client Depo Account'|translate"></h4>
      <table class="table table-striped table-bordered">
        <thead>
        <tr>
          <th><strong class="required-sign">*</strong> <strong once-text="'Account Number'|translate"></strong></th>
          <th><strong class="required-sign">*</strong> <strong once-text="'Account Owner'|translate"></strong></th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td class="half-width">
            <span ng-if="!subscription.clientAccount.accountNumber">......</span>
            <span> {{subscription.clientAccount.accountNumber}}</span>
            <input
              type="hidden"
              name="account"
              ng-required="true"
              ng-model="subscription.clientAccount.accountNumber">

            <div ng-class="{ 'has-error':
                 (config.form.name.$submitted || config.form.name.clientAccount.$touched)
                 &&(config.form.name.clientAccount.$invalid)  }"
                 ng-show="config.form.name.$submitted || config.form.name.account.$touched">
              <p ng-show="config.form.name.clientAccount.$error.required"
                 class="help-block help-block-error">
                <span once-text="'This field is required'|translate"></span>
              </p>
            </div>

          </td>
          <td class="half-width">
            <span ng-if="!subscription.clientAccount.name">......</span>
            <span>{{subscription.clientAccount.name}}</span>
            <input
              type="hidden"
              name="acc_number"
              ng-required="true"
              ng-model="subscription.clientAccount.name">

            <div ng-class="{ 'has-error':
                 (config.form.name.$submitted || config.form.name.acc_number.$touched)
                 &&(config.form.name.acc_number.$invalid)  }"
                 ng-show="config.form.name.$submitted">
              <p ng-show="config.form.name.acc_number.$error.required"
                 class="help-block help-block-error">
                <span once-text="'This field is required'|translate"></span>
              </p>
            </div>

          </td>
          <td>
            <md-button class="md-fab md-micro"
                       aria-label="Mini FAB"
                       ng-click="findAccount()">
              <i class="glyphicon glyphicon-search micro-glyphicon"></i>
              <md-tooltip>
                <span once-text="'Find Client'|translate"></span>
              </md-tooltip>

            </md-button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
