<div class="window-extend-block" data-extend-template="app/common/templates/operation-window-layout.html">
  <div data-block="content" class="window-main-content">
    <div
      kendo-grid="withdrawalSubscriptionMoney.searchResultGrid"
      k-ng-delay="withdrawalSubscriptionMoney.mainGridOptions"
      k-options="withdrawalSubscriptionMoney.mainGridOptions"
      k-on-change="withdrawalSubscriptionMoney.withdrawalSubscriptionMoneySelected(data)"
      k-sortable="true"
      k-scrollable="true"
      k-pageable='{ "pageSize": 20, "refresh": true, "pageSizes": true, "buttonCount": 5 }'
      k-resizable="true"
    >
  </div>
</div>
</div>
