<div class="window-extend-block" data-extend-template="app/common/templates/operation-window-layout.html">
  <div data-block="content" class="window-main-content">
    <md-button
               type="button"
               class="md-fab md-micro"
               aria-label="Select"
               ng-disabled="searchConfig.debtor.selectedDebtorIndex === false"
               ng-click="pay()">
      <i class="glyphicon glyphicon-credit-card micro-glyphicon"></i>
      <md-tooltip md-direction="down">
        <span once-text="'Pay'|translate"></span>
      </md-tooltip>
    </md-button>
    <div
      role="form"
      class="window-main-view"
      ng-form="config.form.name"
      ng-submit="config.buttons.complete.click()">

      <md-tabs flex layout="column" class="div-full-height min-height-500 md-tabs-bordered">
        <md-tab flex layout="column" layout-fill label="{{'Remain Payments'|translate}}">
          <md-tab-content flex layout-fill class="padding20 border-box">
            <div
              kendo-grid="withdrawalSubscriptionMoney.searchResultGrid"
              k-ng-delay="withdrawalSubscriptionMoney.mainGridOptions"
              k-options="withdrawalSubscriptionMoney.mainGridOptions"
              k-sortable="true"
              k-scrollable="true"
              k-pageable='{"pageSize": 20, "refresh": true, "pageSizes": true}'
              k-resizable="true"
            >
            </div>
          </md-tab-content>
        </md-tab>

        <md-tab flex layout="column" layout-fill label="{{'Issuer Payments'|translate}}">
          <md-tab-content flex layout-fill class="padding20 border-box">
            <div
              kendo-grid="issuerPayments.searchResultGrid"
              k-ng-delay="issuerPayments.mainGridOptions"
              k-options="issuerPayments.mainGridOptions"
              k-sortable="true"
              k-scrollable="true"
              k-pageable='{"pageSize": 20, "refresh": true, "pageSizes": true}'
              k-resizable="true"
            >
            </div>
          </md-tab-content>
        </md-tab>

      </md-tabs>

    </div>
  </div>
</div>
