<div class="window-extend-block" data-extend-template="app/common/templates/operation-window-layout.html">
  <div data-block="content" class="window-main-content">

    <md-button
      ng-click="_saveBase64File(taskData.reportHtml)"
      aria-label="print button"
      type="button"
      class="md-fab md-micro">
      <i class="glyphicon glyphicon-print micro-glyphicon"></i>
      <md-tooltip md-tooltip="right">
        <span once-text="'Print'|translate"></span>
      </md-tooltip>
    </md-button>
    <div
      kendo-grid="withdrawalSubscriptionMoney.searchResultGrid"
      k-ng-delay="withdrawalSubscriptionMoney.mainGridOptions"
      k-options="withdrawalSubscriptionMoney.mainGridOptions"
      k-on-change="withdrawalSubscriptionMoney.withdrawalSubscriptionMoneySelected(data)"
      k-sortable="true"
      k-scrollable="true"
      k-pageable='{"pageSize": 20, "refresh": true, "pageSizes": true, "buttonCount": 5 }'
      k-resizable="true"
    >
    </div>
  </div>
</div>
