<thead>
<tr>
  <th class="sortable-column " once-text="'Bank Name'|translate"></th>
  <th class="sortable-column " once-text="'Branch'|translate"></th>
  <th class="sortable-column " once-text="'Account No.'|translate"></th>
  <th class="sortable-column "></th>
</tr>
</thead>

<tbody>
<tr ng-repeat="account in  data.form.bankAccounts">
  <td>{{account.bankNameAz}}</td>
  <td>{{account.branchNameAz}}</td>
  <td>{{account.account}}</td>
  <td>
    <div class="center-align">
      <md-button class="md-micro md-fab"
                 aria-label="edit button"
                 ng-click="showBankAccountUpdateForm($index,data.form.bankAccounts,data.bankAccountAddWindow)"
                 ng-disabled="!data.config.fields.bank_accounts.is_editable"
      >
        <span class="micro-glyphicon glyphicon glyphicon-edit"></span>
        <!--<span once-text="'Edit'|translate"></span>-->
      </md-button>
      <md-button class="md-micro md-fab"
                 aria-label="delete button"
                 ng-click="removeBankAccount($index,data.form.bankAccounts)"
                 ng-disabled="!data.config.fields.bank_accounts.is_editable"
      >
        <span class="micro-glyphicon glyphicon glyphicon-trash"></span>
        <!--<span once-text="'Delete'|translate"></span>-->
      </md-button>
    </div>
  </td>
</tr>
</tbody>
