<div ng-form="data.config.bankAccountFormName" class="bank-account-form bank-account-add-form" novalidate>
  <div class="add-new-bank-account-buttons">
    <md-button class="md-micro md-fab pull-right"
               ng-click="_closeWindow(data.bankAccountAddWindow)"
               aria-label="add bank account button"
               type="submit">
      <i class="glyphicon glyphicon-remove micro-glyphicon"></i>
      <md-tooltip md-direction="down">
        <span once-text="'Close'|translate"></span>
      </md-tooltip>
    </md-button>
    <md-button class="md-micro md-fab pull-right"
               ng-disabled="data.config.bankAccountFormName.$invalid || data.config.bankAccountFormName.$pending"
               ng-click="buffers.bankAccount.currentIndex>-1
                ?updateBankAccount(data.bankAccountAddWindow,data.form.bankAccounts,data.config.bankAccountFormName)
               :addNewBankAccount(data.bankAccountAddWindow,data.form.bankAccounts,data.config.bankAccountFormName)"
               type="submit">

      <i class="glyphicon glyphicon-ok micro-glyphicon"></i>
      <md-tooltip md-direction="down">
        {{config.bankAccountManageWindowTitle}}
      </md-tooltip>
    </md-button>
  </div>

  <div class="form-horizontal bank-account-add-form">
    <div class="forms" ng-if="data.config.fields.bank_accounts.fields.bank_name.is_visible">
      <div class="form-group"
           ng-class="{ 'has-error':
                 (data.config.bankAccountFormName.$submitted || data.config.bankAccountFormName.ba_bank_name_az.$touched)
                 &&(data.config.bankAccountFormName.ba_bank_name_az.$invalid)  }">

        <label class="form-labels">
          <span class="required-sign"
                ng-if="data.config.fields.bank_accounts.fields.bank_name.is_mandatory">*</span><span
          once-text="'Bank Name'|translate"></span> (AZ):</label>

        <div class="form-inputs">
          <input class="k-textbox"
                 type="text"
                 name="ba_bank_name_az"
                 ng-model="buffers.bankAccount.form.bankNameAz"
                 ng-required="data.config.fields.bank_accounts.fields.bank_name.is_mandatory"
          >
        </div>
      </div>
    </div>

    <div class="forms" ng-if="data.config.fields.bank_accounts.fields.branch_name.is_visible">

      <div class="form-group"
           ng-class="{ 'has-error':
                 (data.config.bankAccountFormName.$submitted || data.config.bankAccountFormName.ba_branch_name_az.$touched)
                 &&(data.config.bankAccountFormName.ba_branch_name_az.$invalid)  }">

        <label class="form-labels">
          <span class="required-sign"
                ng-if="data.config.fields.bank_accounts.fields.branch_name.is_mandatory">*</span><span
          once-text="'Branch'|translate"></span> (AZ):</label>

        <div class="form-inputs">
          <input class="k-textbox"
                 type="text"
                 name="ba_branch_name_az"
                 ng-model="buffers.bankAccount.form.branchNameAz"
                 ng-required="data.config.fields.bank_accounts.fields.branch_name.is_mandatory"
          >
        </div>
      </div>
    </div>


    <div class="forms" ng-show="data.config.showNameGroups || data.config.fields.isEnRequired.is_mandatory">
      <div ng-if="data.config.fields.bank_accounts.fields.bank_name.is_visible">
        <div class="form-group"
             ng-class="{ 'has-error':
                 (data.config.bankAccountFormName.$submitted || data.config.bankAccountFormName.ba_bank_name_en.$touched)
                 &&(data.config.bankAccountFormName.ba_bank_name_en.$invalid)  }">
          <label class="form-labels">
            <span class="required-sign"
                  ng-if="data.config.fields.isEnRequired.is_mandatory && data.config.fields.bank_accounts.fields.bank_name.is_mandatory">*</span>
            <span once-text="'Bank Name'|translate"></span> (EN):</label>

          <div class="form-inputs">
            <input class="k-textbox"
                   type="text"
                   name="ba_bank_name_en"
                   ng-model="buffers.bankAccount.form.bankNameEn"
                   ng-required="data.config.fields.isEnRequired.is_mandatory && data.config.fields.bank_accounts.fields.bank_name.is_mandatory"
            >
          </div>
        </div>
      </div>
    </div>
    <div class="forms" ng-if="data.config.fields.bank_accounts.fields.branch_name.is_visible">
      <div class="form-group"
           ng-class="{ 'has-error':
                 (data.config.bankAccountFormName.$submitted || data.config.bankAccountFormName.ba_branch_name_en.$touched)
                 &&(data.config.bankAccountFormName.ba_branch_name_en.$invalid)  }">

        <label class="form-labels">
            <span class="required-sign"
                  ng-if="data.config.fields.isEnRequired.is_mandatory && data.config.fields.bank_accounts.fields.bank_name.is_mandatory">*</span>
          <span
            once-text="'Branch'|translate"></span> (EN):</label>

        <div class="form-inputs">
          <input class="k-textbox"
                 type="text"
                 name="ba_branch_name_en"
                 ng-model="buffers.bankAccount.form.branchNameEn"
                 ng-required="data.config.fields.isEnRequired.is_mandatory && data.config.fields.bank_accounts.fields.branch_name.is_mandatory"
          >
        </div>

      </div>
    </div>

    <div class="forms" ng-if="data.config.fields.bank_accounts.fields.iban.is_visible">
      <div class="form-group"
           ng-class="{ 'has-error':
                 (data.config.bankAccountFormName.$submitted || data.config.bankAccountFormName.ba_iban.$touched)
                 &&(data.config.bankAccountFormName.ba_iban.$invalid)  }">
        <label class="form-labels">
          <span class="required-sign"
                ng-if="data.config.fields.bank_accounts.fields.iban.is_mandatory">*</span>IBAN:</label>

        <div class="form-inputs">
          <input class="k-textbox"
                 type="text"
                 name="ba_iban"
                 ng-model="buffers.bankAccount.form.iban"
                 ng-required="data.config.fields.bank_accounts.fields.iban.is_mandatory">
        </div>

      </div>
    </div>
    <div class="forms" ng-if="data.config.fields.bank_accounts.fields.account.is_visible">
      <div class="form-group"
           ng-class="{ 'has-error':
                 (data.config.bankAccountFormName.$submitted || data.config.bankAccountFormName.ba_account.$touched)
                 &&(data.config.bankAccountFormName.ba_account.$invalid)  }">

        <label class="form-labels">
          <span class="required-sign"
                ng-if="data.config.fields.bank_accounts.fields.account.is_mandatory">*</span><span
          once-text="'Account No.'|translate"></span>:</label>

        <div class="form-inputs">
          <input class="k-textbox"
                 type="text"
                 name="ba_account"
                 ng-model="buffers.bankAccount.form.account"
                 ng-required="data.config.fields.bank_accounts.fields.account.is_mandatory"
          >
        </div>

      </div>
    </div>

    <div class="forms" ng-if="data.config.fields.bank_accounts.fields.current_account.is_visible">
      <div class="form-group"
           ng-class="{ 'has-error':
                 (data.config.bankAccountFormName.$submitted || data.config.bankAccountFormName.ba_current_account.$touched)
                 &&(data.config.bankAccountFormName.ba_current_account.$invalid)  }">
        <label class="form-labels">
          <span class="required-sign"
                ng-if="data.config.fields.bank_accounts.fields.current_account.is_mandatory">*</span> <span
          once-text="'Current Account'|translate"></span>:</label>

        <div class="form-inputs">
          <input class="k-textbox"
                 type="text"
                 name="ba_current_account"
                 ng-model="buffers.bankAccount.form.currentAccount"
                 ng-required="data.config.fields.bank_accounts.fields.current_account.is_mandatory"
          >
        </div>

      </div>
    </div>
    <div class="forms" ng-if="data.config.fields.bank_accounts.fields.correspondent_account.is_visible">
      <div class="form-group"
           ng-class="{ 'has-error':
                 (data.config.bankAccountFormName.$submitted || data.config.bankAccountFormName.ba_correspondent_account.$touched)
                 &&(data.config.bankAccountFormName.ba_correspondent_account.$invalid)  }">

        <label class="form-labels">
          <span class="required-sign"
                ng-if="data.config.fields.bank_accounts.fields.correspondent_account.is_mandatory">*</span><span
          once-text="'Correspondent Account'|translate"></span>:</label>

        <div class="form-inputs">
          <input class="k-textbox"
                 type="text"
                 name="ba_correspondent_account"
                 ng-model="buffers.bankAccount.form.correspondentAccount"
                 ng-required="data.config.fields.bank_accounts.fields.correspondent_account.is_mandatory"
          >
        </div>
      </div>
    </div>
    <div class="forms" ng-if="data.config.fields.bank_accounts.fields.tin.is_visible">
      <div class="form-group"
           ng-class="{ 'has-error':
                 (data.config.bankAccountFormName.$submitted || data.config.bankAccountFormName.ba_tin.$touched)
                 &&(data.config.bankAccountFormName.ba_tin.$invalid)  }">

        <label class="form-labels">
          <span class="required-sign"
                ng-if="data.config.fields.bank_accounts.fields.tin.is_mandatory">*</span>TIN:</label>

        <div class="form-inputs">
          <input class="k-textbox"
                 type="text"
                 name="ba_tin"
                 ng-model="buffers.bankAccount.form.tin"
                 ng-required="data.config.fields.bank_accounts.fields.tin.is_mandatory"
          >
        </div>

      </div>
    </div>
    <div class="forms" ng-if="data.config.fields.bank_accounts.fields.swiftbic.is_visible">
      <div class="form-group"
           ng-class="{ 'has-error':
                 (data.config.bankAccountFormName.$submitted || data.config.bankAccountFormName.ba_swiftbic.$touched)
                 &&(data.config.bankAccountFormName.ba_swiftbic.$invalid)  }">

        <label class="form-labels">
          <span class="required-sign"
                ng-if="data.config.fields.bank_accounts.fields.swiftbic.is_mandatory">*</span>SWIFTBIC:</label>


        <div class="form-inputs">
          <input class="k-textbox"
                 type="text"
                 name="ba_swiftbic"
                 ng-model="buffers.bankAccount.form.swiftbic"
                 ng-required="data.config.fields.bank_accounts.fields.swiftbic.is_mandatory"
          >
        </div>

      </div>
    </div>
    <div class="forms" ng-if="data.config.fields.bank_accounts.fields.currency.is_visible">
      <div class="form-group"
           ng-class="{ 'has-error':
                 (data.config.bankAccountFormName.$submitted || data.config.bankAccountFormName.ba_currency.$touched)
                 &&(data.config.bankAccountFormName.ba_currency.$invalid)  }">
        <label class="form-labels">
          <span class="required-sign"
                ng-if="data.config.fields.bank_accounts.fields.currency.is_mandatory">*</span><span
          once-text="'Currency'|translate"></span>:</label>

        <div class="form-inputs">
          <select

            name="ba_currency"
            ng-model="buffers.bankAccount.form.currency"
            ng-init="currencyChange(buffers.bankAccount)"
            ng-change="currencyChange(buffers.bankAccount)"
            ng-required="data.config.fields.bank_accounts.fields.currency.is_mandatory"
          >
            <option value="">---</option>
            <option
              value="{{currency|json}}"
              ng-repeat="currency in  metaData.currencies">
              {{currency.code}}
            </option>
          </select>
        </div>

      </div>
    </div>
    <div class="forms" ng-if="data.config.fields.bank_accounts.fields.bank_code.is_visible">
      <div class="form-group"
           ng-class="{ 'has-error':
                 (data.config.bankAccountFormName.$submitted || data.config.bankAccountFormName.bank_code.$touched)
                 &&(data.config.bankAccountFormName.bank_code.$invalid)  }">

        <label class="form-labels">
          <span class="required-sign"
                ng-if="buffers.bankAccount.isBankCodeMandatory">*</span>
          <span once-text="'Bank Code'|translate"></span>:
        </label>

        <div class="form-inputs">
          <input class="k-textbox"
                 type="text"
                 name="bank_code"
                 ng-model="buffers.bankAccount.form.bankCode"
                 ng-required="buffers.bankAccount.isBankCodeMandatory"
          >
        </div>

      </div>
    </div>
    <div class="forms" ng-if="data.config.fields.bank_accounts.fields.correspondent_bank_name.is_visible">
      <div class="form-group"
           ng-class="{ 'has-error':
                 (data.config.bankAccountFormName.$submitted || data.config.bankAccountFormName.correspondent_bank_name.$touched)
                 &&(data.config.bankAccountFormName.correspondent_bank_name.$invalid)  }">

        <label class="form-labels">
          <span class="required-sign"
                ng-if="data.config.fields.bank_accounts.fields.correspondent_bank_name.is_mandatory">*</span>
          <span once-text="'Correspondent Bank Name'|translate"></span>:</label>

        <div class="form-inputs">
          <input class="k-textbox"
                 type="text"
                 name="correspondent_bank_name"
                 ng-model="buffers.bankAccount.form.correspondentBankName"
                 ng-required="data.config.fields.bank_accounts.fields.correspondent_bank_name.is_mandatory"
          >
        </div>

      </div>
    </div>
    <div class="forms" ng-if="data.config.fields.bank_accounts.fields.correspondent_bank_swift_code.is_visible">
      <div class="form-group"
           ng-class="{ 'has-error':
                 (data.config.bankAccountFormName.$submitted || data.config.bankAccountFormName.correspondent_bank_swift_code.$touched)
                 &&(data.config.bankAccountFormName.correspondent_bank_swift_code.$invalid)  }">

        <label class="form-labels">
          <span class="required-sign"
                ng-if="data.config.fields.bank_accounts.fields.correspondent_bank_swift_code.is_mandatory">*</span>
          <span once-text="'Correspondent Bank SWIFT Code'|translate"></span>:</label>

        <div class="form-inputs">
          <input class="k-textbox"
                 type="text"
                 name="correspondent_bank_swift_code"
                 ng-model="buffers.bankAccount.form.correspondentBankSwiftCode"
                 ng-required="data.config.fields.bank_accounts.fields.correspondent_bank_swift_code.is_mandatory"
          >
        </div>

      </div>
    </div>
  </div>


</div>
