<thead>
<tr>
  <th class="sortable-column " once-text="'Document Type'|translate"></th>
  <th class="sortable-column " once-text="'Series'|translate"></th>
  <th class="sortable-column " once-text="'Number'|translate"></th>
  <th class="sortable-column "></th>
</tr>
</thead>

<tbody>

<tr ng-repeat="document in  data.form.documents">
  <td>{{document.type['name'+lnC]}}</td>
  <td>{{document.series}}</td>
  <td>{{document.number}}</td>
  <td>
    <div class="center-align">
      <md-button class="md-micro md-fab"
                 aria-label="edit button"
                 ng-click="showDocumentUpdateForm($index,data.form.documents,data.documentAddWindow)"
                 ng-disabled="!data.config.fields.documents.is_editable"

      >
        <span class="micro-glyphicon glyphicon glyphicon-edit"></span>
        <!--<span once-text="'Edit'|translate"></span>-->
      </md-button>
      <md-button class="md-micro md-fab"
                 aria-label="delete button"
                 ng-click="removeDocument($index,data.form.documents)"
                 ng-disabled="!data.config.fields.documents.is_editable"

      >
        <span class="micro-glyphicon glyphicon glyphicon-trash"></span>
        <!--<span once-text="'Delete'|translate"></span>-->
      </md-button>
    </div>
  </td>
</tr>
</tbody>
