<div class="add-new-document-buttons">
  <md-button class="md-micro md-fab pull-right"
             aria-label="add bank account button"
             ng-click="_closeWindow(data.documentAddWindow)"
             type="submit">
    <i class="glyphicon glyphicon-remove micro-glyphicon"></i>
    <md-tooltip md-direction="down">
      <span once-text="'Close'|translate"></span>
    </md-tooltip>
  </md-button>
  <md-button
    type="submit"
    aria-label="submit button"
    ng-disabled="data.config.documentFormName.$invalid || data.config.documentFormName.$pending"
    class="md-micro md-fab pull-right"
    ng-click="buffers.document.currentIndex>-1
              ?updateDocument(data.documentAddWindow,data.form.documents,data.config.documentFormName):
              addNewDocument(data.documentAddWindow, data.form.documents,data.config.documentFormName)">
    <i class="glyphicon glyphicon-ok micro-glyphicon"></i>
    <md-tooltip md-direction="left">
      {{config.documentManageWindowTitle}}
    </md-tooltip>
  </md-button>
</div>
<div ng-form="data.config.documentFormName" class="padding20 no-scroll add-new-document-form" novalidate>


  <div class="document-add-form">
    <div class=" row form-horizontal">
      <div class="form-group"
           ng-if="data.config.fields.documents.fields.document_type.is_visible"
           ng-class="{ 'has-error': (data.config.documentFormName.$submitted || data.config.documentFormName.d_type.$touched)
             &&(data.config.documentFormName.d_type.$invalid)  }">

        <label class="control-label col-lg-3 col-md-3 col-sm-3 col-xs-3">
          <span class="required-sign"
                ng-if="data.config.fields.documents.fields.document_type.is_mandatory">*</span>
          <span once-text="'Document Type'|translate"></span>:</label>

        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
          <select
            ng-if="data.config.fields.personal_information.fields.jurisdiction_country.is_visible"

            ng-model="buffers.document.form.type"
            name="d_type"
            ng-required="data.config.fields.documents.fields.document_type.is_mandatory"
            ng-disabled="!data.config.fields.documents.fields.document_type.is_editable"
            >
            <option value="">---</option>
            <option
              value="{{option|json}}"
              ng-repeat="option in metaData.juridicalPersonIdDocumentTypes ">
              {{option['name'+lnC]}}

            </option>

          </select>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">

          <select ng-if="!data.config.fields.personal_information.fields.jurisdiction_country.is_visible"
                  name="d_type"
                  ng-model="buffers.document.form.type"
                  ng-required="data.config.fields.documents.fields.document_type.is_mandatory"
                  ng-disabled="!data.config.fields.documents.fields.document_type.is_editable"
            >
            <option value="">---</option>
            <option
              value="{{option|json}}"
              ng-repeat="option in metaData.naturalPersonIdDocumentTypes ">
              {{option['name'+lnC]}}

            </option>
          </select>
        </div>


        <div ng-show="data.config.documentFormName.$submitted || data.config.documentFormName.d_type.$touched">
          <p ng-show="data.config.documentFormName.d_type.$error.required"
             class="help-block help-block-error">
            <span once-text="'This field is required'|translate"></span>
          </p>
        </div>

      </div>
    </div>
    <div class=" row  form-horizontal">
      <div class="form-group"
           ng-if="data.config.fields.documents.fields.series.is_visible"
           ng-class="{ 'has-error': (data.config.documentFormName.$submitted || data.config.documentFormName.d_series.$touched)
             &&(data.config.documentFormName.d_series.$invalid)  }">

        <label class="control-label col-lg-3 col-md-3 col-sm-3 col-xs-3">
          <span class="required-sign" ng-if="data.config.fields.documents.fields.series.is_mandatory">*</span>
          <span once-text="'Series'|translate"></span>:</label>

        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
          <input
            class="k-textbox"
            type="text"
            ng-maxlength="8"
            maxlength="8"
            name="d_series"
            ng-model="buffers.document.form.series"
            ng-required="data.config.fields.documents.fields.series.is_mandatory"
            ng-readonly="!data.config.fields.documents.fields.series.is_editable"
            >
        </div>


        <div ng-show="data.config.documentFormName.$submitted || data.config.documentFormName.d_series.$touched">
          <p ng-show="data.config.documentFormName.d_series.$error.required"
             class="help-block help-block-error">
            <span once-text="'This field is required'|translate"></span>
          </p>
        </div>
      </div>
    </div>
    <div class=" row form-horizontal">
      <div class="form-group"
           ng-if="data.config.fields.documents.fields.doc_number.is_visible"
           ng-class="{ 'has-error': (data.config.documentFormName.$submitted || data.config.documentFormName.d_number.$touched)
             &&(data.config.documentFormName.d_number.$invalid)  }">


        <label class="control-label col-lg-3 col-md-3 col-sm-3 col-xs-3">
          <span class="required-sign"
                ng-if="data.config.fields.documents.fields.doc_number.is_mandatory">*</span><span
          once-text="'Number'|translate"></span>:</label>

        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
          <input
            class="k-textbox"
            type="text"
            name="d_number"
            ng-model="buffers.document.form.number"
            ng-required="data.config.fields.documents.fields.doc_number.is_mandatory"
            ng-readonly="!data.config.fields.documents.fields.doc_number.is_editable"
            >
        </div>
        <div ng-show="data.config.documentFormName.$submitted || data.config.documentFormName.d_number.$touched">
          <p ng-show="data.config.documentFormName.d_number.$error.required"
             class="help-block help-block-error">
            <span once-text="'This field is required'|translate"></span>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
