<div class="row account-information-switch">
  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"
       ng-if="!data.config.fields.isEnRequired.is_mandatory && data.config.fields.isEnRequired.is_visible"
       ng-init="data.config.showNameGroups = true">
    <div>
      <label><span class="md-checkbox-label small-check"
                   once-text="'Show English Fields'|translate"></span>:</label>
      <label class="input-control input-control-edited main-form-switch-style">
        <md-switch ng-model="data.config.showNameGroups" name="" aria-label="Switch 1"
                   class=" md-cst-checkbox"></md-switch>
      </label>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"
       ng-if="data.config.isUserEnabled ==null && data.config.isShareholder">
    <label><span class="md-checkbox-label small-check" once-text="'User Account Enabled'|translate"></span>:</label>
    <label class="input-control input-control-edited main-form-switch-style">
      <md-switch
        name="user_account"
        ng-model="config.userAccountEnabled"
        ng-change="userAccountAvailabilityChange(config.userAccountEnabled,data.form)"
        aria-label="Switch 1"
        class=" md-cst-checkbox">
      </md-switch>

    </label>

  </div>
  <div class="pull-right"
       ng-if="data.config.isShareholder && config.isUpdateOperation && !config.isSystemOwnerDataChangeOperation">
    <md-button
      type="button"
      class="md-fab md-micro"
      aria-label="search button"
      ng-click="findShareholder()">
      <i class="glyphicon glyphicon-search micro-glyphicon"></i>
      <md-tooltip md-direction="down">
        <span once-text="'Find Person'|translate"></span>
      </md-tooltip>
    </md-button>
    <md-button
      type="button"
      class="md-fab md-micro"
      aria-label="refresh button"
      ng-click="resetForm()">
      <md-tooltip md-direction="down">
        <span once-text="'Reset Form'|translate"></span>
      </md-tooltip>
      <i class="glyphicon glyphicon-refresh micro-glyphicon"></i>
      <!--<span once-text="'Reset form'|translate"></span>-->
    </md-button>
  </div>
</div>

<uib-accordion>

  <uib-accordion-group ng-if="data.config.fields.personal_information.is_visible" is-open="true">
    <div ng-include="'app/person-account/templates/partials/np/panels/personal-info.html'"></div>
  </uib-accordion-group>
  <!-- Personal Info Panel ]]-->

  <uib-accordion-group ng-if="data.config.fields.documents.is_visible">
    <div ng-include="'app/person-account/templates/partials/np/panels/documents.html'"></div>
  </uib-accordion-group>
  <!-- Documents panel ]]-->

  <uib-accordion-group ng-if="data.config.fields.actual_address.is_visible || data.config.fields.legal_address.is_visible ">
    <!--<div style="position:absolute;width: 100%; height: 100%; z-index: 100" ng-show="disableAll"></div>-->
    <div ng-include="'app/person-account/templates/partials/np/panels/address.html'"></div>
  </uib-accordion-group>
  <!-- Actual address Panel ]]-->

  <uib-accordion-group ng-if="data.config.fields.contact_information.is_visible">
    <!--<div style="position:absolute;width: 100%; height: 100%; z-index: 100" ng-show="disableAll"></div>-->
    <div ng-include="'app/person-account/templates/partials/np/panels/contact.html'"></div>
  </uib-accordion-group>
  <!-- Contact information Panel ]]-->

  <uib-accordion-group ng-if="data.config.fields.bank_accounts.is_visible">
    <!--<div style="position:absolute;width: 100%; height: 100%; z-index: 100" ng-show="disableAll"></div>-->
    <div ng-include="'app/person-account/templates/partials/np/panels/bank-accounts.html'"></div>
  </uib-accordion-group>
  <!-- Bank accounts Panel ]]-->

  <!--<uib-accordion-group ng-if="data.config.isUserEnabled">-->
  <!--<div ng-include="'app/person-account/templates/partials/np/panels/users.html'"></div>-->
  <!--</uib-accordion-group>-->
  <!--&lt;!&ndash; Users ]]&ndash;&gt;-->

  <uib-accordion-group ng-if="data.config.isRepresentativeEnabled">
    <!--<div style="position:absolute;width: 100%; height: 100%; z-index: 100" ng-show="disableAll"></div>-->
    <div ng-include="'app/person-account/templates/partials/np/panels/representatives.html'"></div>
  </uib-accordion-group>
  <!-- Representatives ]]-->
</uib-accordion>


<div class="user-documents">
    <hr>

    <md-button class="md-raised md-primary" aria-label="Generate documents"
               ng-if="data.config.isDocumentGenerationEnabled"
               ng-click="generateAccountOpeningDocuments()">
        <span>{{'Generate documents' | translate}}</span>
    </md-button>

    <div layout="row" ng-if="generatedDocuments.length > 0" class="md-padding">
        <a href="#"
           style="padding: 0 20px 0 0;"
           ng-repeat="generatedDocument in generatedDocuments"
           ng-click='downloadDocument(generatedDocument.file)'>{{generatedDocument.name | translate}}</a>
    </div>
</div>
