<div class="window-main-view add-new-representative">

  <div class="add-new-representative-button-style">

    <md-button class="md-micro md-fab pull-right"
               aria-label="add bank account button"
               ng-click="_closeWindow(data.representativeAddWindow)"
               type="submit">
      <i class="glyphicon glyphicon-remove micro-glyphicon"></i>
      <md-tooltip md-direction="down">
        <span once-text="'Close'|translate"></span>
      </md-tooltip>
    </md-button>
    <md-button type="button"
               aria-label="button"
               class="md-micro md-fab"
               ng-click="buffers.representative.data.currentIndex>-1
            ?updateRepresentative(data.form.representatives,data.representativeAddWindow)
            :addNewRepresentative(buffers.representative.data.form,data.representativeAddWindow)">
      <i class="glyphicon glyphicon-ok micro-glyphicon"></i>
      <md-tooltip md-direction="left">
        {{config.representativeManageWindowTitle}}
      </md-tooltip>

    </md-button>
    <!--Button-->

  </div>
  <!--Window footer content-->

  <div
    class="add-new-representative-accordion"
    ng-repeat="data in buffers.representative"
    ng-form="data.config.formName"

    novalidate>
    <div ng-repeat="isRepresentativeForm in [true]" ng-include="'app/person-account/templates/partials/np/main_form.html'"></div>
  </div>
</div>

