<thead>
<tr>
  <th class="sortable-column" once-text="'Name'|translate"></th>

  <th class="sortable-column"></th>
</tr>
</thead>
<tbody>
<tr ng-repeat="signer in  data.form.signers">
  <td>{{signer.name.nameAz}}</td>
  <td>
    <div class="center-align">
      <md-button class="md-micro md-fab"
                 aria-label="edit button"
                 ng-click="showRepresentativeUpdateForm($index,data.form.signers,data.signerAddWindow,true)"
                 ng-disabled="!data.config.fields.signers.is_editable"
      >
        <span class="micro-glyphicon glyphicon glyphicon-edit"></span>
        <!--<span once-text="'Edit'|translate"></span>-->
      </md-button>
      <md-button class="md-micro md-fab"
                 aria-label="delete button"
                 ng-click="removeRepresentative($index,data.form.signers)"
                 ng-disabled="!data.config.fields.signers.is_editable"
      >
        <span class="micro-glyphicon glyphicon glyphicon-trash"></span>
        <!--<span once-text="'Delete'|translate"></span>-->
      </md-button>
    </div>
  </td>
</tr>
</tbody>
