<div class="window-main-view add-new-representative padding10">

  <div class="add-new-representative-button-style">

    <!--<div class="content inline-block pull-right">-->
    <md-button class="md-micro md-fab pull-right"
               aria-label="add bank account button"
               ng-click="_closeWindow(data.signerAddWindow)"
               type="submit">
      <i class="glyphicon glyphicon-remove micro-glyphicon"></i>
      <md-tooltip md-direction="down">
        <span once-text="'Close'|translate"></span>
      </md-tooltip>
    </md-button>
    <md-button type="button"
               aria-label="button"
               class="md-micro md-fab"
               ng-click="buffers.representative.data.currentIndex>-1
            ?updateRepresentative(data.form.signers,data.signerAddWindow)
            :addNewRepresentative(buffers.representative.data.form,data.signerAddWindow,true)">
      <i class="glyphicon glyphicon-ok micro-glyphicon"></i>
      <md-tooltip md-direction="left">
        {{config.signerManageWindowTitle}}
      </md-tooltip>

    </md-button>
    <!--Button-->

  </div>
  <!--</div>-->
  <!--Window footer content-->


  <div
    class="add-new-representative-accordion"
    ng-repeat="data in buffers.representative"
    ng-form="data.config.formName"

    novalidate>
    <div
         ng-include="'app/person-account/templates/partials/np/main_form.html'"></div>
  </div>
</div>

