<thead>
<tr>
  <th class="sortable-column " once-text="'Last Name'|translate"></th>
  <th class="sortable-column " once-text="'First Name'|translate"></th>
  <th class="sortable-column " once-text="'Middle Name'|translate"></th>
  <th class="sortable-column "></th>
</tr>
</thead>

<tbody>
<tr ng-repeat="user in  data.form.users">
  <td>{{user.lastName.nameAz}}</td>
  <td>{{user.firstName.nameAz}}</td>
  <td>{{user.middleName.nameAz}}</td>
  <td>
    <md-button class="md-micro md-fab"
               aria-label="edit button"
       ng-click="showUserUpdateForm($index,data.form.users,data.userAddWindow)">
      <span class="micro-glyphicon glyphicon glyphicon-edit"></span>
      <!--<span once-text="'Edit'|translate"></span>-->
    </md-button>
    <md-button class="md-micro md-fab"
       aria-label="delete button"
       ng-click="removeUser($index,data.form.users)">
      <span class="micro-glyphicon glyphicon glyphicon-trash"></span>
      <!--<span once-text="'Delete'|translate"></span>-->
    </md-button>
  </td>
</tr>
</tbody>
