<div class="window-main-view">
  <div
    ng-repeat="data in buffers.user"
    ng-form="data.config.formName"
    ng-include="'app/person-account/templates/partials/np/main_form.html'"
    novalidate>
  </div>
</div>

<div class="window-footer">

  <div class="window-footer-content">
    <md-button type="button"
            class="md-raised md-button"
               aria-label="button"
            ng-click="buffers.user.data.currentIndex>-1
            ?updateUser(data.form.users,data.userAddWindow)
            :addNewUser(buffers.user.data.form,data.userAddWindow)">
      {{config.userManageWindowTitle}}
    </md-button>
    <!--Button-->
  </div>
  <!--Window footer content-->
</div>
