
<div class="row">
  <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12" ng-if="address.oldValue">
    <table class="table table-striped table-hover table-responsive table-bordered " ng-class="">
      <tbody>


      <tr>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6">
          <b once-text="'Country'|translate"></b>
        </td>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"
            ng-class="address.status == fieldChangeStatuses.changed || address.status == fieldChangeStatuses.deleted ?'field-changed':''">

          <p></span> {{address.oldValue.country['name'+lnC]}}</p>

        </td>
      </tr>

      <tr>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6">
          <b once-text="'Address Line'|translate"></b>
        </td>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"
            ng-class="address.status == fieldChangeStatuses.changed || address.status == fieldChangeStatuses.deleted ?'field-changed':''">

          <p><span>AZ -</span> {{address.oldValue.addressLineAz}}</p>

          <p><span>EN -</span> {{address.oldValue.addressLineEn}}</p>

        </td>
      </tr>


      <tr>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6">
          <b once-text="'Locations'|translate"></b></td>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"
            ng-class="address.status == fieldChangeStatuses.changed || address.status == fieldChangeStatuses.deleted ?'field-changed':''">

          <p><span>AZ -</span> {{address.oldValue.locationsAz}}</p>

          <p><span>EN -</span> {{address.oldValue.locationsEn}}</p>

        </td>
      </tr>

      <tr>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6">
          <b once-text="'State'|translate"></b></td>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"
            ng-class="address.status == fieldChangeStatuses.changed || address.status == fieldChangeStatuses.deleted ?'field-changed':''">

          <p><span>AZ -</span> {{address.oldValue.stateAz}}</p>

          <p><span>EN -</span> {{address.oldValue.stateEn}}</p>

        </td>
      </tr>

      <tr>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6">
          <b once-text="'Postal Code'|translate"></b></td>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6"
            ng-class="address.status == fieldChangeStatuses.changed || address.status == fieldChangeStatuses.deleted ?'field-changed':''">

          <p>{{address.oldValue.postalCode}}</p>

        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12"
       ng-if="address.status == fieldChangeStatuses.new || address.status == fieldChangeStatuses.changed">
    <table class="table table-striped table-hover table-responsive table-bordered ">
      <tbody>
      <tr>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6">
          <b once-text="'Country'|translate"></b></td>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6 field-new">

          <p>{{address.newValue.country['name'+lnC]}}</p>

        </td>
      </tr>

      <tr>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6">
          <b once-text="'Address Line'|translate"></b>
        </td>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6 field-new">
          <p><span>AZ -</span> {{address.newValue.addressLineAz}}</p>

          <p><span>EN -</span> {{address.newValue.addressLineEn}}</p>
        </td>
      </tr>
      <tr>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6">
          <b once-text="'Locations'|translate"></b></td>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6 field-new">

          <p><span>AZ -</span> {{address.newValue.locationsAz}}</p>

          <p><span>EN -</span> {{address.newValue.locationsEn}}</p>

        </td>
      </tr>
      <tr>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6">
          <b once-text="'State'|translate"></b></td>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6 field-new">

          <p><span>AZ -</span> {{address.newValue.stateAz}}</p>

          <p><span>EN -</span> {{address.newValue.stateEn}}</p>

        </td>
      </tr>
      <tr>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6">
          <b once-text="'Postal Code'|translate"></b></td>
        <td class="col-md-4 col-xs-6 col-lg-4 col-sm-6 field-new">

          <p>{{address.newValue.postalCode}}</p>

        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
