<div class="table-responsive" ng-repeat="baChange in person.bankAccounts">
  <table class="table border bordered">
    <thead>
    <tr>
      <th class="sortable-column"><span once-text="'Bank Name'|translate"></span>(AZ)</th>
      <th class="sortable-column"><span once-text="'Branch Name'|translate"></span>(AZ)</th>
      <th class="sortable-column" once-text="'Account No.'|translate"></th>
      <th class="sortable-column" once-text="'Correspondent Account'|translate"></th>
      <th class="sortable-column" once-text="'Current Account'|translate"></th>
      <th class="sortable-column" once-text="'IBAN'|translate"></th>
      <th class="sortable-column" once-text="'TIN'|translate"></th>
      <th class="sortable-column" once-text="'SWIFTBIC'|translate"></th>
      <th class="sortable-column" once-text="'Currency'|translate"></th>
      <th class="sortable-column" once-text="'Bank Code'|translate"></th>
      <th class="sortable-column" once-text="'Correspondent Bank Name'|translate"></th>
      <th class="sortable-column" once-text="'Correspondent Bank SWIFT Code'|translate"></th>
    </tr>
    </thead>

    <tbody>
    <tr ng-if="baChange.status == fieldChangeStatuses.changed || baChange.status == fieldChangeStatuses.deleted
    || baChange.status == fieldChangeStatuses.unchanged"
        ng-class="baChange.status == fieldChangeStatuses.changed
    || baChange.status == fieldChangeStatuses.deleted?'field-changed':''">
      <td>{{baChange.oldValue.bankNameAz}}</td>
      <td>{{baChange.oldValue.branchNameAz}}</td>
      <td>{{baChange.oldValue.account}}</td>
      <td>{{baChange.oldValue.correspondentAccount}}</td>
      <td>{{baChange.oldValue.currentAccount}}</td>
      <td>{{baChange.oldValue.iban}}</td>
      <td>{{baChange.oldValue.tin}}</td>
      <td>{{baChange.oldValue.swiftbic}}</td>
      <td>{{baChange.oldValue.currency.code}}</td>
      <td>{{baChange.oldValue.bankCode}}</td>
      <td>{{baChange.oldValue.correspondentBankName}}</td>
      <td>{{baChange.oldValue.correspondentBankSwiftCode}}</td>
    </tr>

    <tr ng-if="baChange.status == fieldChangeStatuses.changed || baChange.status == fieldChangeStatuses.new"
        class="field-new">
      <td>{{baChange.newValue.bankNameAz}}</td>
      <td>{{baChange.newValue.branchNameAz}}</td>
      <td>{{baChange.newValue.account}}</td>
      <td>{{baChange.newValue.correspondentAccount}}</td>
      <td>{{baChange.newValue.currentAccount}}</td>
      <td>{{baChange.newValue.iban}}</td>
      <td>{{baChange.newValue.tin}}</td>
      <td>{{baChange.newValue.swiftbic}}</td>
      <td>{{baChange.newValue.currency.code}}</td>
      <td>{{baChange.newValue.bankCode}}</td>
      <td>{{baChange.newValue.correspondentBankName}}</td>
      <td>{{baChange.newValue.correspondentBankSwiftCode}}</td>
    </tr>
    </tbody>
  </table>
</div>
