<table class="table border bordered table-half" ng-repeat="phoneNumberChange in person.phoneNumbers">
  <thead>
  <tr>
    <th class="sortable-column " once-text="'Phone Type'|translate"></th>
    <th class="sortable-column " once-text="'Number'|translate"></th>

  </tr>
  </thead>
  <tbody>
  <tr ng-if="phoneNumberChange.status == fieldChangeStatuses.changed || phoneNumberChange.status == fieldChangeStatuses.deleted
    || phoneNumberChange.status == fieldChangeStatuses.unchanged"
      ng-class="phoneNumberChange.status == fieldChangeStatuses.changed
    || phoneNumberChange.status == fieldChangeStatuses.deleted?'field-changed':''">
    <td>{{phoneNumberChange.oldValue.type['name'+lnC]}}</td>

    <td>{{phoneNumberChange.oldValue.number}}</td>
  </tr>
  <tr
    ng-if="phoneNumberChange.status == fieldChangeStatuses.changed || phoneNumberChange.status == fieldChangeStatuses.new"
    class="field-new">
    <td>{{phoneNumberChange.newValue.type['name'+lnC]}}</td>
    <td>{{phoneNumberChange.newValue.number}}</td>
  </tr>
  </tbody>
</table>


<table class="table border bordered table-half">
  <thead>
  <tr>
    <th class="sortable-column " once-text="'Email'|translate"></th>
    <th></th>
  </tr>

  </thead>
  <tbody>
  <tr ng-repeat="email in person.emails">
    <td

      ng-if="email.oldValue"
      ng-class="email.status == fieldChangeStatuses.changed || email.status == fieldChangeStatuses.deleted ? 'field-changed':''">
      {{email.oldValue.value}}
    </td>

    <td ng-if="email.newValue" colspan="2"
        class="field-new">{{email.newValue.value}}
    </td>
  </tr>
  </tbody>
</table>
