<table class="table border bordered table-half" ng-repeat="docChange in person.otherDocuments">
  <thead>
  <tr>
    <th class="sortable-column " once-text="'Document Type'|translate"></th>
    <th class="sortable-column " once-text="'Series'|translate"></th>
    <th class="sortable-column " once-text="'Number'|translate"></th>

  </tr>
  </thead>
  <tbody>
  <tr ng-if="docChange.status == fieldChangeStatuses.changed || docChange.status == fieldChangeStatuses.deleted
    || docChange.status == fieldChangeStatuses.unchanged"
      ng-class="docChange.status == fieldChangeStatuses.changed
    || docChange.status == fieldChangeStatuses.deleted?'field-changed':''">
    <td>{{docChange.oldValue.type['name'+lnC]}}</td>
    <td>{{docChange.oldValue.series}}</td>
    <td>{{docChange.oldValue.number}}</td>
  </tr>
  <tr ng-if="docChange.status == fieldChangeStatuses.changed || docChange.status == fieldChangeStatuses.new"
      class="field-new">
    <td>{{docChange.newValue.type['name'+lnC]}}</td>
    <td>{{docChange.newValue.series}}</td>
    <td>{{docChange.newValue.number}}</td>
  </tr>
  </tbody>
</table>
