<div class="row">

  <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
    <table class="table table-striped table-hover table-responsive table-bordered ">
      <tbody>

      <tr ng-if="(person.idCard.oldValue || person.idCard.newValue )">
        <td class="col-md-2 col-xs-2 col-lg-2 col-sm-2">
          <span class="field-name" once-text="'ID Card'|translate"></span>
        </td>

        <td
          class="col-md-5 col-xs-5 col-lg-5 col-sm-5"
          ng-if="person.idCard.oldValue"
          ng-class="person.idCard.status == fieldChangeStatuses.changed?'field-changed':''">

          <p><span><span once-text="'Series'|translate"></span>-</span> {{person.idCard.oldValue.series}}</p>

          <p><span><span once-text="'Number'|translate"></span> -</span> {{person.idCard.oldValue.number}}</p>

        </td>

        <td ng-if="person.idCard.newValue"
            class="col-md-5 col-xs-5 col-lg-5 col-sm-5 field-new">

          <p><span><span once-text="'Series'|translate"></span>-</span> {{person.idCard.newValue.series}}</p>

          <p><span><span once-text="'Number'|translate"></span> -</span> {{person.idCard.newValue.number}}</p>


        </td>

      </tr>
      <!--ID CARD-->
      <tr
        ng-if="(person.registrationCertificate.oldValue || person.registrationCertificate.newValue )&& !person.isRepresentative && !person.isSigner">
        <td class="col-md-2 col-xs-2 col-lg-2 col-sm-2">
          <span class="field-name" once-text="'Registration Certificate'|translate"></span>
        </td>

        <td
          class="col-md-5 col-xs-5 col-lg-5 col-sm-5"
          ng-if="person.registrationCertificate.oldValue"
          ng-class="person.registrationCertificate.status == fieldChangeStatuses.changed?'field-changed':''">

          <p><span><span once-text="'Series'|translate"></span>-</span>
            {{person.registrationCertificate.oldValue.series}}</p>

          <p><span><span once-text="'Number'|translate"></span> -</span>
            {{person.registrationCertificate.oldValue.number}}</p>

        </td>

        <td ng-if="person.registrationCertificate.newValue"
            class="col-md-5 col-xs-5 col-lg-5 col-sm-5 field-new">

          <p><span><span once-text="'Series'|translate"></span>-</span>
            {{person.registrationCertificate.newValue.series}}</p>

          <p><span><span once-text="'Number'|translate"></span> -</span>
            {{person.registrationCertificate.newValue.number}}</p>


        </td>

      </tr>
      <!--Registration Certificate-->

      </tbody>

    </table>
    <!--Person names-->

  </div>

</div> <!--Main ID documents-->
<div class="row">

  <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
    <table class="table table-striped table-hover table-responsive table-bordered ">
      <tbody>

      <tr ng-if="(person.name.oldValue || person.name.newValue )&& !person.isRepresentative && !person.isSigner">
        <td class="col-md-2 col-xs-2 col-lg-2 col-sm-2">
          <span class="field-name" once-text="'Name'|translate"></span>
        </td>

        <td
          class="col-md-5 col-xs-5 col-lg-5 col-sm-5"
          ng-if="person.name.oldValue"
          ng-class="person.name.status == fieldChangeStatuses.changed?'field-changed':''">

          <p><span>AZ -</span> {{person.name.oldValue.nameAz}}</p>

          <p><span>EN -</span> {{person.name.oldValue.nameEn}}</p>

        </td>

        <td ng-if="person.name.newValue"
            class="col-md-5 col-xs-5 col-lg-5 col-sm-5 field-new">

          <p><span>AZ -</span> {{person.name.newValue.nameAz}}</p>

          <p><span>EN -</span> {{person.name.newValue.nameEn}}</p>

        </td>

      </tr>
      <!--Name-->

      <tr ng-if="person.lastName.newValue || person.lastName.oldValue">
        <td class="col-md-2 col-xs-2 col-lg-2 col-sm-2">
          <span class="field-name" once-text="'Last Name'|translate"></span></td>

        <td class="col-md-5 col-xs-5 col-lg-5 col-sm-5"
            ng-if="person.lastName.oldValue"
            ng-class="person.lastName.status == fieldChangeStatuses.changed?'field-changed':''">

          <p><span>AZ -</span> {{person.lastName.oldValue.nameAz}}</p>

          <p><span>EN -</span> {{person.lastName.oldValue.nameEn}}</p>

        </td>

        <td
          ng-if="person.lastName.newValue"
          class="col-md-5 col-xs-5 col-lg-5 col-sm-5 field-new">

          <p><span>AZ -</span> {{person.lastName.newValue.nameAz}}</p>

          <p><span>EN -</span> {{person.lastName.newValue.nameEn}}</p>

        </td>

      </tr>
      <!--Last Name-->

      <tr ng-if="person.firstName.newValue || person.firstName.oldValue">
        <td class="col-md-2 col-xs-2 col-lg-2 col-sm-2">

          <span class="field-name" once-text="'First Name'|translate"></span></td>

        <td class="col-md-5 col-xs-5 col-lg-5 col-sm-5"
            ng-if="person.firstName.oldValue"
            ng-class="person.firstName.status == fieldChangeStatuses.changed?'field-changed':''">

          <p><span>AZ -</span> {{person.firstName.oldValue.nameAz}}</p>

          <p><span>EN -</span> {{person.firstName.oldValue.nameEn}}</p>

        </td>

        <td
          ng-if="person.firstName.newValue"
          class="col-md-5 col-xs-5 col-lg-5 col-sm-5 field-new">

          <p><span>AZ -</span> {{person.firstName.newValue.nameAz}}</p>

          <p><span>EN -</span> {{person.firstName.newValue.nameEn}}</p>

        </td>

      </tr>
      <!--First Name-->

      <tr ng-if="person.middleName.newValue || person.middleName.oldValue">
        <td class="col-md-2 col-xs-2 col-lg-2 col-sm-2">
          <span class="field-name" once-text="'Middle Name'|translate"></span></td>
        <td class="col-md-5 col-xs-5 col-lg-5 col-sm-5"
            ng-if="person.middleName.oldValue"
            ng-class="person.middleName.status == fieldChangeStatuses.changed?'field-changed':''">

          <p><span>AZ -</span> {{person.middleName.oldValue.nameAz}}</p>

          <p><span>EN -</span> {{person.middleName.oldValue.nameEn}}</p>

        </td>

        <td
          ng-if="person.middleName.newValue"
          class="col-md-5 col-xs-5 col-lg-5 col-sm-5 field-new">

          <p><span>AZ -</span> {{person.middleName.newValue.nameAz}}</p>

          <p><span>EN -</span> {{person.middleName.newValue.nameEn}}</p>

        </td>

      </tr>
      <!--Middle Name-->

      <tr ng-if="person.abbreviation.newValue || person.abbreviation.oldValue">
        <td class="col-md-2 col-xs-2 col-lg-2 col-sm-2">
          <span class="field-name" once-text="'Abbreviation'|translate"></span></td>
        <td class="col-md-5 col-xs-5 col-lg-5 col-sm-5"
            ng-if="person.abbreviation.oldValue"
            ng-class="person.abbreviation.status == fieldChangeStatuses.changed?'field-changed':''">

          <p><span>AZ -</span> {{person.abbreviation.oldValue.nameAz}}</p>

          <p><span>EN -</span> {{person.abbreviation.oldValue.nameEn}}</p>

        </td>

        <td
          ng-if="person.abbreviation.newValue"
          class="col-md-5 col-xs-5 col-lg-5 col-sm-5 field-new">

          <p><span>AZ -</span> {{person.abbreviation.newValue.nameAz}}</p>

          <p><span>EN -</span> {{person.abbreviation.newValue.nameEn}}</p>

        </td>

      </tr>
      <!--Abbreviation-->
      </tbody>

    </table>
    <!--Person names-->

  </div>

</div> <!--Person names-->
<div class="row">
  <div class="col-lg-10 col-md-10 col-sm-11 col-xs-11 ">
    <table class="table table-striped table-hover table-responsive table-bordered ">

      <tbody>

      <tr ng-if="person.pinCode.newValue || person.pinCode.oldValue">
        <td class="col-md-2 col-xs-2 col-lg-2 col-sm-2">
          <span class="field-name" once-text="'PIN Code'|translate"></span></td>

        <td class="col-md-5 col-xs-5 col-lg-5 col-sm-5"
            ng-if="person.pinCode.oldValue"
            ng-class="person.pinCode.status == fieldChangeStatuses.changed?'field-changed':''">

          <p>{{person.pinCode.oldValue.value}}</p>

        </td>
        <td
          ng-if="person.pinCode.newValue"
          class="col-md-5 col-xs-5 col-lg-5 col-sm-5 field-new">

          <p>{{person.pinCode.newValue.value}}</p>

        </td>
      </tr>
      <!--Unique code-->

      <tr ng-if="person.TIN.newValue || person.TIN.oldValue">
        <td class="col-md-2 col-xs-2 col-lg-2 col-sm-2">
          <span class="field-name" once-text="'TIN'|translate"></span></td>

        <td class="col-md-5 col-xs-5 col-lg-5 col-sm-5"
            ng-if="person.TIN.oldValue"
            ng-class="person.TIN.status == fieldChangeStatuses.changed?'field-changed':''">

          <p>{{person.TIN.oldValue.value}}</p>

        </td>
        <td
          ng-if="person.TIN.newValue"
          class="col-md-5 col-xs-5 col-lg-5 col-sm-5 field-new">

          <p>{{person.TIN.newValue.value}}</p>

        </td>
      </tr>
      <!--TIN-->

      <tr ng-if="person.azipsCode.newValue || person.azipsCode.oldValue">
        <td class="col-md-2 col-xs-2 col-lg-2 col-sm-2">
          <span class="field-name" once-text="'AZIPS Code'|translate"></span></td>

        <td class="col-md-5 col-xs-5 col-lg-5 col-sm-5"
            ng-if="person.azipsCode.oldValue"
            ng-class="person.azipsCode.status == fieldChangeStatuses.changed?'field-changed':''">

          <p>{{person.azipsCode.oldValue.value}}</p>

        </td>
        <td
          ng-if="person.azipsCode.newValue"
          class="col-md-5 col-xs-5 col-lg-5 col-sm-5 field-new">

          <p>{{person.azipsCode.newValue.value}}</p>

        </td>
      </tr>
      <!--AZIPS code-->
      <tr ng-if="person.issuerCode.newValue || person.issuerCode.oldValue">
        <td class="col-md-2 col-xs-2 col-lg-2 col-sm-2">
          <span class="field-name" once-text="'Issuer Code'|translate"></span></td>

        <td class="col-md-5 col-xs-5 col-lg-5 col-sm-5"
            ng-if="person.issuerCode.oldValue"
            ng-class="person.issuerCode.status == fieldChangeStatuses.changed?'field-changed':''">

          <p>{{person.issuerCode.oldValue.value}}</p>

        </td>
        <td
          ng-if="person.issuerCode.newValue"
          class="col-md-5 col-xs-5 col-lg-5 col-sm-5 field-new">

          <p>{{person.issuerCode.newValue.value}}</p>

        </td>
      </tr>
      <!--Issuer code-->

      <tr ng-if="person.BSEBrokerCode.newValue || person.BSEBrokerCode.oldValue">
        <td class="col-md-2 col-xs-2 col-lg-2 col-sm-2">
          <span class="field-name" once-text="'BSE Broker Code'|translate"></span></td>

        <td class="col-md-5 col-xs-5 col-lg-5 col-sm-5"
            ng-if="person.BSEBrokerCode.oldValue"
            ng-class="person.BSEBrokerCode.status == fieldChangeStatuses.changed?'field-changed':''">

          <p>{{person.BSEBrokerCode.oldValue.value}}</p>

        </td>
        <td
          ng-if="person.BSEBrokerCode.newValue"
          class="col-md-5 col-xs-5 col-lg-5 col-sm-5 field-new">

          <p>{{person.BSEBrokerCode.newValue.value}}</p>

        </td>
      </tr>
      <!--BSE broker code-->


      <tr ng-if="person.personFields.personType.newValue || person.personFields.personType.oldValue">
        <td class="col-md-2 col-xs-2 col-lg-2 col-sm-2">
          <span class="field-name" once-text="'Person Type'|translate"></span></td>

        <td class="col-md-5 col-xs-5 col-lg-5 col-sm-5"
            ng-if="person.personFields.personType.oldValue"
            ng-class="person.personFields.personType.status == fieldChangeStatuses.changed?'field-changed':''">

          <p>{{person.personFields.personType.oldValue['name'+lnC]}}</p>

        </td>
        <td
          ng-if="person.personFields.personType.newValue"
          class="col-md-5 col-xs-5 col-lg-5 col-sm-5 field-new">

          <p>{{person.personFields.personType.newValue['name'+lnC]}}</p>

        </td>
      </tr>
      <!--Person Type-->

      <tr ng-if="person.personFields.businessClass.newValue || person.personFields.businessClass.oldValue">
        <td class="col-md-2 col-xs-2 col-lg-2 col-sm-2">
          <span class="field-name" once-text="'Business Class'|translate"></span></td>
        <td class="col-md-5 col-xs-5 col-lg-5 col-sm-5"
            ng-if="person.personFields.businessClass.oldValue"
            ng-class="person.personFields.businessClass.status == fieldChangeStatuses.changed?'field-changed':''">
          <p>{{person.personFields.businessClass.oldValue['name'+lnC]}}</p>
        </td>
        <td
          ng-if="person.personFields.businessClass.newValue"
          class="col-md-5 col-xs-5 col-lg-5 col-sm-5 field-new">
          <p>{{person.personFields.businessClass.newValue['name'+lnC]}}</p>

        </td>
      </tr>
      <!--Business class-->

      <tr ng-if="person.personFields.legalFormClass.newValue || person.personFields.legalFormClass.oldValue">
        <td class="col-md-2 col-xs-2 col-lg-2 col-sm-2">
          <span class="field-name" once-text="'Legal Form Class'|translate"></span></td>
        <td class="col-md-5 col-xs-5 col-lg-5 col-sm-5"
            ng-if="person.personFields.legalFormClass.oldValue"
            ng-class="person.personFields.legalFormClass.status == fieldChangeStatuses.changed?'field-changed':''">
          <p>{{person.personFields.legalFormClass.oldValue['name'+lnC]}}</p>
        </td>
        <td ng-if="person.personFields.legalFormClass.newValue"
            class="col-md-5 col-xs-5 col-lg-5 col-sm-5 field-new">

          <p>{{person.personFields.legalFormClass.newValue['name'+lnC]}}</p>

        </td>
      </tr>
      <!--Legal form class-->

      <tr ng-if="person.personFields.birthday.newValue || person.personFields.birthday.oldValue">
        <td class="col-md-2 col-xs-2 col-lg-2 col-sm-2">
          <span class="field-name" once-text="'Birthday'|translate"></span></td>
        <td class="col-md-5 col-xs-5 col-lg-5 col-sm-5"
            ng-if="person.personFields.birthday.oldValue"
            ng-class="person.personFields.birthday.status == fieldChangeStatuses.changed?'field-changed':''">
          <p> {{person.personFields.birthday.oldValue}}</p>
        </td>
        <td ng-if="person.personFields.birthday.newValue"
            class="col-md-5 col-xs-5 col-lg-5 col-sm-5 field-new">
          <p>{{person.personFields.birthday.newValue}}</p>
        </td>
      </tr>
      <!--Birthday-->

      <tr ng-if="person.personFields.creationDate.newValue || person.personFields.creationDate.oldValue">
        <td class="col-md-2 col-xs-2 col-lg-2 col-sm-2">
          <span class="field-name" once-text="'Creation Date'|translate"></span></td>
        <td class="col-md-5 col-xs-5 col-lg-5 col-sm-5"
            ng-if="person.personFields.creationDate.oldValue"
            ng-class="person.personFields.creationDate.status == fieldChangeStatuses.changed?'field-changed':''">
          <p> {{person.personFields.creationDate.oldValue |date: 'short'}}</p>
        </td>
        <td ng-if="person.personFields.creationDate.newValue"
            class="col-md-5 col-xs-5 col-lg-5 col-sm-5 field-new">
          <p>{{person.personFields.creationDate.newValue |date: 'short'}}</p>
        </td>
      </tr>
      <!--Creation date-->

      <tr ng-if="person.personFields.citizenshipCountry.newValue || person.personFields.citizenshipCountry.oldValue">
        <td class="col-md-2 col-xs-2 col-lg-2 col-sm-2">
          <span class="field-name" once-text="'Citizenship Country'|translate"></span></td>
        <td class="col-md-5 col-xs-5 col-lg-5 col-sm-5"
            ng-if="personFields.citizenshipCountry.oldValue"
            ng-class="person.personFields.citizenshipCountry.status == fieldChangeStatuses.changed?'field-changed':''">
          <p>{{person.personFields.citizenshipCountry.oldValue['name'+lnC]}}</p>
        </td>
        <td ng-if="person.personFields.citizenshipCountry.newValue"
            class="col-md-5 col-xs-5 col-lg-5 col-sm-5 field-new">

          <p>{{person.personFields.citizenshipCountry.newValue['name'+lnC]}}</p>

        </td>
      </tr>
      <!--Citizenship country-->

      <tr ng-if="person.personFields.jurisdictionCountry.newValue || person.personFields.jurisdictionCountry.oldValue">
        <td class="col-md-2 col-xs-2 col-lg-2 col-sm-2">
          <span class="field-name" once-text="'Jurisdiction Country'|translate"></span></td>
        <td class="col-md-5 col-xs-5 col-lg-5 col-sm-5"
            ng-if="person.personFields.jurisdictionCountry.oldValue"
            ng-class="person.personFields.jurisdictionCountry.status == fieldChangeStatuses.changed?'field-changed':''">
          <p>{{person.personFields.jurisdictionCountry.oldValue['name'+lnC]}}</p>
        </td>
        <td ng-if="person.personFields.jurisdictionCountry.newValue"
            class="col-md-5 col-xs-5 col-lg-5 col-sm-5 field-new">

          <p>{{person.personFields.jurisdictionCountry.newValue['name'+lnC]}}</p>

        </td>
      </tr>
      <!--Jurisdiction country-->

      <tr
        ng-if="person.personFields.subjectToFatca.newValue!=null  || person.personFields.subjectToFatca.oldValue!=null">

        <td class="col-md-2 col-xs-2 col-lg-2 col-sm-2">
          <span class="field-name" once-text="'Subject to FATCA'|translate"></span></td>

        <td class="col-md-5 col-xs-5 col-lg-5 col-sm-5"
            ng-if="!person.personFields.subjectToFatca.status == fieldChangeStatuses.new"
            ng-class="person.personFields.subjectToFatca.status == fieldChangeStatuses.changed?'field-changed':''">

          <p ng-if="person.personFields.subjectToFatca.oldValue==true" once-text="'Yes'|translate"></p>

          <p ng-if="person.personFields.subjectToFatca.oldValue==false" once-text="'No'|translate"></p>

        </td>

        <td
          ng-if="person.personFields.subjectToFatca.status == fieldChangeStatuses.changed || person.personFields.subjectToFatca.status == fieldChangeStatuses.new "
          class="col-md-5 col-xs-5 col-lg-5 col-sm-5 field-new">
          <p ng-if="person.personFields.subjectToFatca.newValue==true" once-text="'Yes'|translate"></p>

          <p ng-if="person.personFields.subjectToFatca.newValue==false" once-text="'No'|translate"></p>
        </td>

      </tr>
      <!--Subject to fatca-->

      <tr ng-if="person.personFields.noteOnFatca.newValue || person.personFields.noteOnFatca.oldValue">
        <td class="col-md-2 col-xs-2 col-lg-2 col-sm-2">
          <span class="field-name" once-text="'Note on FATCA'|translate"></span></td>
        <td class="col-md-5 col-xs-5 col-lg-5 col-sm-5"
            ng-if="person.personFields.noteOnFatca.oldValue"
            ng-class="person.personFields.noteOnFatca.status == fieldChangeStatuses.changed?'field-changed':''">
          <p> {{person.personFields.noteOnFatca.oldValue}}</p>
        </td>
        <td ng-if="person.personFields.noteOnFatca.newValue"
            class="col-md-5 col-xs-5 col-lg-5 col-sm-5 field-new">
          <p>{{person.personFields.noteOnFatca.newValue}}</p>
        </td>
      </tr>
      <!-- Note on fatca-->

      <tr ng-if="person.role.newValue || person.role.oldValue">
        <td class="col-md-2 col-xs-2 col-lg-2 col-sm-2">
          <span class="field-name" once-text="'Member Role'|translate"></span></td>
        <td class="col-md-5 col-xs-5 col-lg-5 col-sm-5"
            ng-if="person.role.oldValue"
            ng-class="person.role.status == fieldChangeStatuses.changed?'field-changed':''">
          <p>{{person.role.oldValue['name'+lnC]}}</p>
        </td>
        <td ng-if="person.role.newValue"
            class="col-md-5 col-xs-5 col-lg-5 col-sm-5 field-new">

          <p>{{person.role.newValue['name'+lnC]}}</p>

        </td>
      </tr>
      <!--Role-->

      <tr ng-if="person.position.newValue || person.position.oldValue">
        <td class="col-md-2 col-xs-2 col-lg-2 col-sm-2">
          <span class="field-name" once-text="'Position'|translate"></span></td>
        <td class="col-md-5 col-xs-5 col-lg-5 col-sm-5"
            ng-if="person.position.oldValue"
            ng-class="person.position.status == fieldChangeStatuses.changed?'field-changed':''">
          <p>{{person.position.oldValue['name'+lnC]}}</p>
        </td>
        <td ng-if="person.position.newValue"
            class="col-md-5 col-xs-5 col-lg-5 col-sm-5 field-new">

          <p>{{person.position.newValue['name'+lnC]}}</p>

        </td>
      </tr>
      <!--Signer position-->

      <tr ng-if="person.warrantStartDate.newValue || person.warrantStartDate.oldValue">
        <td class="col-md-2 col-xs-2 col-lg-2 col-sm-2"><span class="field-name"
                                                              once-text="'Warrant Start Date'|translate"></span></td>
        <td class="col-md-5 col-xs-5 col-lg-5 col-sm-5"
            ng-if="person.warrantStartDate.oldValue"
            ng-class="person.warrantStartDate.status == fieldChangeStatuses.changed?'field-changed':''">
          <p> {{person.warrantStartDate.oldValue |date: 'short'}}</p>
        </td>
        <td ng-if="person.warrantStartDate.newValue"
            class="col-md-5 col-xs-5 col-lg-5 col-sm-5 field-new">
          <p>{{person.warrantStartDate.newValue |date: 'short'}}</p>
        </td>
      </tr>
      <!--Warrant start date-->

      <tr ng-if="person.warrantEndDate.newValue || person.warrantEndDate.oldValue">
        <td class="col-md-2 col-xs-2 col-lg-2 col-sm-2">
          <span class="field-name" once-text="'Warrant End Date'|translate"></span></td>
        <td class="col-md-5 col-xs-5 col-lg-5 col-sm-5"
            ng-if="person.warrantEndDate.oldValue"
            ng-class="person.warrantEndDate.status == fieldChangeStatuses.changed?'field-changed':''">
          <p> {{person.warrantEndDate.oldValue |date: 'short'}}</p>
        </td>
        <td ng-if="person.warrantEndDate.newValue"
            class="col-md-5 col-xs-5 col-lg-5 col-sm-5 field-new">
          <p>{{person.warrantEndDate.newValue |date: 'short'}}</p>
        </td>
      </tr>
      <!--Warrant end date-->

      <tr ng-if="person.settlementAgent.newValue || person.settlementAgent.oldValue">
        <td class="col-md-2 col-xs-2 col-lg-2 col-sm-2">
          <span class="field-name" once-text="'Settlement Agent'|translate"></span></td>

        <td class="col-md-5 col-xs-5 col-lg-5 col-sm-5"
            ng-if="person.settlementAgent.oldValue"
            ng-class="person.settlementAgent.status == fieldChangeStatuses.changed?'field-changed':''">

          <p>{{person.settlementAgent.oldValue.name}}</p>

        </td>
        <td
          ng-if="person.settlementAgent.newValue"
          class="col-md-5 col-xs-5 col-lg-5 col-sm-5 field-new">

          <p>{{person.settlementAgent.newValue.name}}</p>

        </td>
      </tr>
      <!--Agent-->
      </tbody>
    </table>

    <div ng-if="person.memberRoles.length > 0">
      <h4 once-text="'Member Roles'|translate"></h4>
      <table class="table border bordered table-half">
        <thead>
        <tr>
          <th class="sortable-column " once-text="'Old Value'|translate"></th>
          <th class="sortable-column " once-text="'New Value'|translate"></th>
        </tr>

        </thead>
        <tbody>
        <tr ng-repeat="role in person.memberRoles">
          <td
            ng-class="role.status == fieldChangeStatuses.changed || role.status == fieldChangeStatuses.deleted ? 'field-changed':''">
            {{role.oldValue.roleClass['name'+lnC]}}
          </td>

          <td
            ng-class="role.status == fieldChangeStatuses.new ? 'field-new':''">{{role.newValue.roleClass['name'+lnC]}}
          </td>
        </tr>
        </tbody>
      </table>
    </div>

  </div>
</div> <!--Other personal Information-->
