<div
  kendo-window="person.representativeAddWindow"
  k-title="subPersonName"
  k-modal="true"
  k-width="'80%'" k-height="'80%'" k-visible="false"
  >
  <div ng-include="'app/persons/templates/partials/person-data-changes/sub-person-data-changes.html'"></div>

</div>

<h4 once-text="'Representatives'|translate"></h4>
<table class="table border bordered">

  <thead>
  <tr>
    <th class="sortable-column " once-text="'Name'|translate"></th>
    <th class="sortable-column " once-text="'Status'|translate"></th>
    <th class="sortable-column "></th>
  </tr>
  </thead>

  <tbody>
  <tr ng-repeat="representative in  person.representatives">
    <td>
      <span ng-if="representative.status == fieldChangeStatuses.new">{{representative.name.newValue.nameAz}}</span>
      <span ng-if="representative.status != fieldChangeStatuses.new">{{representative.name.oldValue.nameAz}}</span>
    </td>

    <td>
      <p ng-if="representative.status == fieldChangeStatuses.new" class="text-success" once-text="'New'|translate"></p>

      <p ng-if="representative.status == fieldChangeStatuses.changed" class="text-danger"
         once-text="'Changed'|translate"></p>

      <p ng-if="representative.status == fieldChangeStatuses.unchanged" once-text="'Unchanged'|translate"></p>

      <p ng-if="representative.status == fieldChangeStatuses.deleted" class="text-danger"
         once-text="'Deleted'|translate"></p>

    </td>
    <td>

      <md-button
        type="button"
        class="md-fab md-micro"
        aria-label="View"
        ng-click="showSubPersonData($index, person.representatives,person.representativeAddWindow)">
        <i class="glyphicon glyphicon-eye-open micro-glyphicon"></i>
        <md-tooltip md-direction="down">
          <span once-text="'Show Details'|translate"></span>
        </md-tooltip>
      </md-button>
    </td>
  </tr>
  </tbody>

</table>
<hr/>

<h4 once-text="'Signers'|translate"></h4>
<table class="table border bordered">

  <thead>
  <tr>
    <th class="sortable-column " once-text="'Name'|translate"></th>
    <th class="sortable-column " once-text="'Status'|translate"></th>
    <th class="sortable-column "></th>
  </tr>
  </thead>

  <tbody>
  <tr ng-repeat="representative in  person.signers">
    <td>
      <span ng-if="representative.status == fieldChangeStatuses.new">{{representative.name.newValue.nameAz}}</span>
      <span ng-if="representative.status != fieldChangeStatuses.new">{{representative.name.oldValue.nameAz}}</span>
    </td>

    <td>
      <p ng-if="representative.status == fieldChangeStatuses.new" class="text-success" once-text="'New'|translate"></p>

      <p ng-if="representative.status == fieldChangeStatuses.changed" class="text-danger"
         once-text="'Changed'|translate"></p>

      <p ng-if="representative.status == fieldChangeStatuses.unchanged" once-text="'Unchanged'|translate"></p>

      <p ng-if="representative.status == fieldChangeStatuses.deleted" class="text-danger"
         once-text="'Deleted'|translate"></p>

    </td>
    <td>

      <md-button
        type="button"
        class="md-fab md-micro"
        aria-label="View"
        ng-click="showSubPersonData($index, person.signers,person.representativeAddWindow)">
        <i class="glyphicon glyphicon-eye-open micro-glyphicon"></i>
        <md-tooltip md-direction="down">
          <span once-text="'Show Details'|translate"></span>
        </md-tooltip>
      </md-button>


    </td>
  </tr>
  </tbody>

</table>
