<div class="person-find-result-block">
  <div
    kendo-grid="moneyPosition.searchResultGrid"
    k-data-source="gridData"
    k-columns="gridColumns"
    k-sortable="true"
    k-scrollable="true"
    k-selectable="true"
    k-pageable='{ "pageSize": 10, "refresh": true, "pageSizes": true }'
    k-resizable="true"
    k-detail-init="detailInit"
    >
    <div k-detail-template>
      <md-tabs md-selected="selectedIndex" md-border-bottom style="min-height: 400px;">
        <md-tab label="{{params.labels.lblMoneyPosition}}">
          <div class="padding10">
            <h4 once-text="'Üzv hesabı'|translate"></h4>
            <table class="table table-striped table-bordered border-top">
              <thead>
              <tr>
                <th once-text="'Currency'|translate"></th>
                <th>Xidmət sinfi</th>
                <th once-text="'Amount'|translate"></th>
                <th once-text="'Blok məbləği'|translate"></th>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="balance in dataItem.memberPositions.moneyPositions">
                <td once-text="balance.currency.code"></td>
                <td once-text="balance.serviceClass.nameAz"></td>
                <td style="text-align: right">{{ balance.amount| number:2 }}</td>
                <td once-text="balance.orderBlockAmount"></td>
              </tr>
              </tbody>
            </table>
          </div>
        </md-tab>
        <md-tab label="{{params.labels.lblClients}}">
          <div kendo-grid k-height="320" k-scrollable="true"
               k-data-source="dataItem.memberPositions.childAccountMoneyPositions"
               k-filterable="true" k-pageable="true" k-options="clientsGrid"
               k-resizable="true">
          </div>
        </md-tab>
      </md-tabs>
    </div>
  </div>
</div>
