<div class="pane-content">

  <div class="pull-right view-button-group">
      <span class="text-danger grid-text-danger" ng-show="clearingLimit.searchResult.isEmpty"
            once-text="'No Statement Found!'|translate"></span>

    <md-button type="button" class="md-fab md-micro"
               aria-label="Export to Excel"
               ng-click="exportToExcel(clearingLimit.searchResultGrid)">
      <i class="glyphicon glyphicon-export micro-glyphicon"></i>
      <md-tooltip md-direction="down">
        <span once-text="'Export to Excel'|translate"></span>
      </md-tooltip>
    </md-button>
    <md-button type="button" class="md-fab md-micro"
               aria-label="Mini FAB"
               ng-click="closeWindow()">

      <i class="glyphicon glyphicon-remove micro-glyphicon"></i>

      <md-tooltip md-direction="down">
        <span once-text="'Close Window'|translate"></span>
      </md-tooltip>

    </md-button>

  </div>
  <div class="person-find-result-block">

    <div
      kendo-grid="clearingLimit.searchResultGrid"
      k-data-source="gridData"
      k-columns="gridColumns"
      k-sortable="true"
      k-scrollable="true"
      k-selectable="true"
      k-pageable='{ "pageSize": 10, "refresh": true, "pageSizes": true }'
      k-on-change="clearingLimitSelected(data)"
      k-resizable="true"
      >

    </div>

  </div>

</div>

