<div ng-show="person.personDetails" class="person-details-view padding10  fg-dark">
  <md-button
    aria-label="right arrow button"
    type="button"
    ng-click="closePersonDetails()"
    class="md-micro md-fab pull-right">

    <span class="glyphicon glyphicon-eye-close micro-glyphicon"></span>
    <md-tooltip><span once-text="'Close'|translate"></span></md-tooltip>
  </md-button>
  <!--<div class="md-raised md-button clearing"></div>-->

  <div class="content-block" ng-repeat="person in [person.personDetails] "
       ng-include="'app/persons/templates/partials/person-details.html'"></div>
</div>
<div
        kendo-splitter="params.splitter1"
        orientation="'horizontal'"
        class="persons-view-splitter"
        k-collapse="searchCriteriaCollapse"
        k-expand="searchCriteriaExpand"
        k-navigatable="true"
        panes="params.config.splitterPanesConfig">

    <div ng-form="person.formName"
         role="form"
         csm-enter="findPerson()"
         ng-submit="findPerson()"
         class="person-find-criteria-form fg-dark left-pane-style"
         novalidate>


        <div class="row filter-buttons-position">
            <md-button
                    aria-label="right arrow button"
                    type="button"
                    ng-click="resetForm()"
                    class="md-micro md-fab pull-right filter-button-style">
                <md-tooltip md-direction="down">
                    <span once-text="'Reset Filter'|translate"></span>
                </md-tooltip>
                <span class="icon icon-remove-filter"></span>
            </md-button>

            <md-button
                    aria-label="right arrow button"
                    type="button"
                    ng-click="findPerson()"
                    class="md-micro md-fab pull-right filter-button-style">
                <md-tooltip md-direction="down">
                    <span once-text="'Filter'|translate"></span>
                </md-tooltip>
                <span class="icon icon-filter"></span>
            </md-button>
        </div>


        <div class="pane-content">
            <uib-accordion close-others="false">
                <uib-accordion-group is-disabled="true">
                    <uib-accordion-heading>

                        <div class="person-search-template-input-style"
                             ng-class="{ 'has-error': (person.formName.$submitted || person.formName.name.$touched)&&(person.formName.first_name.$invalid)  }">
                            <label class="person-search-labels control-label inline-block text-muted-manual">
                                <span once-text="'Name'|translate"></span>:
                            </label>

                            <div class="inline-block person-search-inputs">
                                <input
                                        class="k-textbox "
                                        type="text"
                                        name="last_name"
                                        ng-model="person.form.fullName">

                                <div ng-show="person.formName.$submitted || person.formName.name.$touched">
                                    <p ng-show="person.formName.name.$error.required"
                                       class="help-block help-block-error">
                                        <span once-text="'This field is required'|translate"></span>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <!--</div>-->
                    </uib-accordion-heading>
                </uib-accordion-group>
                <!--NAME-->
                <uib-accordion-group ng-show="person.showAccountNumberCriteria" is-disabled="true">
                    <uib-accordion-heading>
                        <div class="form-horizontal" role="form">
                            <div class="person-search-template-input-style"
                                 ng-class="{ 'has-error': (person.formName.$submitted || person.formName.account_number.$touched) &&(person.formName.account_number.$invalid)  }">

                                <label class="person-search-labels control-label inline-block text-muted-manual">
                                    <span once-text="'Account Number'|translate"></span>:</label>

                                <div class="inline-block  person-search-inputs">
                                    <input
                                            class="k-textbox"
                                            type="text"
                                            name="account_number"
                                            ng-model="person.form.accountNumber"
                                            >

                                    <div ng-show="person.formName.$submitted || person.formName.account_number.$touched">
                                        <p ng-show="person.formName.account_number.$error.required"
                                           class="help-block help-block-error">
                                            <span once-text="'This field is required'|translate"></span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </uib-accordion-heading>
                </uib-accordion-group>
            </uib-accordion>
        </div>
    </div>
    <div class="pane-content">
        <div class="view-buttons-wrapper">
            <md-button
                    aria-label="hamburger button"
                    class="pull-left md-icon-button md-primary hamburger-button-style"
                    ng-click="toggleSearchCriteriaBlock(params.splitter1)">
                <span class="glyphicon glyphicon-align-justify micro-glyphicon micro-align-glyphicon"></span>
            </md-button>
            <!--<span class="text-danger grid-text-danger" ng-show="person.searchResult.isEmpty"-->
            <!--once-text="'Nobody Found!'|translate"></span>-->


            <div class="pull-right view-button-group">

                <md-button ng-if="!config.screenId"
                           type="button"
                           class="md-fab md-micro"
                           aria-label="Select"
                           ng-disabled="searchConfig.person.selectedPerson == null"
                           ng-click="selectPerson()">
                    <i class="glyphicon glyphicon-ok micro-glyphicon"></i>
                    <md-tooltip md-direction="down">
                        <span once-text="'Select Person'|translate"></span>
                    </md-tooltip>
                </md-button>


                <md-button class="md-fab md-micro"
                           aria-label="Print"
                           ng-disabled="searchConfig.person.selectedPerson == null"
                           ng-click="printAccountInformation()">
                    <i class="glyphicon glyphicon-print micro-glyphicon"></i>
                    <md-tooltip md-direction="down">
                        <span once-text="'Print Account Information'|translate"></span>
                    </md-tooltip>
                </md-button>
                <md-button ng-if="config.screenId"

                         type="button"
                         class="md-fab md-micro"
                         aria-label="View"
                         ng-disabled="searchConfig.person.selectedPersonIndex === false"
                         ng-click="showPersonDetails()">
                <i class="glyphicon glyphicon-eye-open micro-glyphicon"></i>
                <md-tooltip md-direction="down">
                  <span once-text="'View'|translate"></span>
                </md-tooltip>
              </md-button>
                <md-button type="button" class="md-fab md-micro"
                           aria-label="Export to excel"
                           ng-click="exportToExcel(person.searchResultGrid)">
                    <i class="glyphicon glyphicon-export micro-glyphicon"></i>
                    <md-tooltip md-direction="down">
                        <span once-text="'Export to Excel'|translate"></span>
                    </md-tooltip>
                </md-button>
                <md-button type="button" class="md-fab md-micro"
                           aria-label="Mini FAB"
                           ng-click="closeWindow()">

                    <i class="glyphicon glyphicon-remove micro-glyphicon"></i>

                    <md-tooltip md-direction="down">
                        <span once-text="'Close Window'|translate"></span>
                    </md-tooltip>

                </md-button>

            </div>
        </div>
        <div class="person-find-result-block">
            <div
                    k-selectable="true"
                    kendo-grid="person.searchResultGrid"
                    k-data-source="gridData"
                    k-columns="gridColumns"
                    k-sortable="true"
                    k-scrollable="true"
                    k-pageable='{ "pageSize": 20, "refresh": true, "pageSizes": true }'
                    k-on-change="personSelected(data)"
                    k-resizable="true"
                    k-detail-init="detailInit"
                    >


              <!--<div k-detail-template>-->
                <!--<ul>-->
                  <!--<li ng-repeat="pAccount in dataItem.details.participantAccounts">-->
                    <!--<strong>{{pAccount.number}}</strong> - <strong>{{pAccount.type['name'+lnC]}}</strong>-->
                    <!--<ul>-->
                      <!--<li ng-repeat="fAccount in pAccount.functionalAccounts">-->
                        <!--<strong>{{fAccount.number}}</strong> - <strong>{{fAccount.type['name'+lnC]}}</strong>-->
                      <!--</li>-->
                    <!--</ul>-->
                  <!--</li>-->
                <!--</ul>-->
                <!--<ul style="list-style-type: square;">-->
                  <!--<li ng-repeat="representative in dataItem.details.representativeAccounts">-->
                    <!--<strong>{{representative.organizations}}</strong>-->
                  <!--</li>-->
                <!--</ul>-->

              <!--</div>-->
                <div k-detail-template>

                    <md-tabs md-selected="selectedIndex" md-border-bottom  style="min-height: 400px;">
                        <md-tab label="{{params.labels.lblInstruments}}">

                            <div kendo-grid k-height="320"
                                 k-scrollable="true"
                                 k-data-source="dataItem.securityPositions"
                                 k-filterable="true"
                                 k-pageable="true"
                                 k-options="instrumentsGrid()"
                                 k-resizable="true">

                            </div>
                        </md-tab>
                        <md-tab label="{{params.labels.lblMoney}}">

                            <div class="margin10">
                                <table class="table table-striped table-bordered border-top">
                                    <thead>
                                    <tr>
                                        <th once-text="'Currency'|translate"></th>
                                        <th once-text="'Amount'|translate"></th>
                                        <th once-text="'Order Block Amount'|translate"></th>

                                    </tr>
                                    </thead>
                                    <tbody>

                                    <tr ng-repeat="moneyPosition in dataItem.moneyPositions">
                                        <td once-text="moneyPosition.currency.code"></td>
                                        <td once-text="moneyPosition.amount"></td>
                                        <td once-text="moneyPosition.orderBlockAmount"></td>
                                    </tr>

                                    </tbody>
                                </table>
                            </div>
                        </md-tab>
                    </md-tabs>
                </div>

            </div>

        </div>

    </div>

</div>
