<div>
  <div class="pull-right view-button-group">

    <md-button type="button" class="md-fab md-micro"
               aria-label="Export to excel"
               ng-click="exportToExcel(moneyPosition.searchResultGrid)">
      <i class="glyphicon glyphicon-export micro-glyphicon"></i>
      <md-tooltip md-direction="down">
        <span once-text="'Export to Excel'|translate"></span>
      </md-tooltip>
    </md-button>
    <md-button type="button" class="md-fab md-micro"
               aria-label="Mini FAB"
               ng-click="closeWindow()">

      <i class="glyphicon glyphicon-remove micro-glyphicon"></i>

      <md-tooltip md-direction="down">
        <span once-text="'Close Window'|translate"></span>
      </md-tooltip>

    </md-button>

  </div>
  <div class="money-position-view">
    <div class="padding10">
      <h4 once-text="'Üzv Hesabı'"></h4>
      <table class="table table-striped table-bordered">
        <thead>

        <tr>
          <th once-text="'Currency'|translate"></th>
          <th once-text="'Amount'|translate"></th>
          <th once-text="'Order Block'|translate"></th>

        </tr>
        </thead>
        <tbody>

        <tr ng-repeat="balance in moneyPosition.searchResult.data.moneyPositions">
          <td once-text="balance.currency.code"></td>
          <td once-text="balance.amount | formatNumber"></td>
          <td once-text="balance.orderBlockAmount"></td>
        </tr>

        </tbody>
      </table>
    </div>
    <br/>

    <div class="money-position-search-result-grid ">
      <h4 once-text="'Client Accounts'|translate" class="padding10"></h4>

      <div
        kendo-grid="moneyPosition.searchResultGrid"
        k-data-source="gridData"
        k-columns="gridColumns"
        k-sortable="true"
        k-scrollable="true"
        k-selectable="true"
        k-pageable='{ "pageSize": 10, "refresh": true, "pageSizes": true }'
        k-resizable="true"
        k-height="180"
        >
      </div>
    </div>

  </div>

</div>

