<div>

  <div class="pull-right view-button-group">

    <md-button type="button" class="md-fab md-micro"
               aria-label="Export to excel"
               ng-click="exportToExcel(securityPosition.searchResultGrid)">
      <i class="glyphicon glyphicon-export micro-glyphicon"></i>
      <md-tooltip md-direction="down">
        <span once-text="'Export to Excel'|translate"></span>
      </md-tooltip>
    </md-button>
    <md-button type="button" class="md-fab md-micro"
               aria-label="Mini FAB"
               ng-click="closeWindow()">

      <i class="glyphicon glyphicon-remove micro-glyphicon"></i>

      <md-tooltip md-direction="down">
        <span once-text="'Close Window'|translate"></span>
      </md-tooltip>

    </md-button>

  </div>
  <div class="money-position-view">

    <div class="padding10">
      <h4 once-text="'Üzv hesabı'|translate"></h4>
      <table class="table table-striped table-bordered">
        <thead>

        <tr>
          <th once-text="'Instrument'|translate"></th>
          <th once-text="'ISIN'|translate"></th>
          <th once-text="'Quantity'|translate"></th>
          <th once-text="'Order Block'|translate"></th>
        </tr>
        </thead>
        <tbody>

        <tr ng-repeat="security in securityPosition.searchResult.data.securityPositions">

          <td once-text="security.instrument.instrumentName"></td>
          <td once-text="security.instrument.ISIN"></td>
          <td once-text="security.quantity | formatNumber"></td>
          <td once-text="security.orderBlockQuantity | formatNumber:false"></td>
        </tr>

        </tbody>
      </table>
    </div>
    <br/>

    <div class="money-position-search-result-grid">
      <h4 once-text="'Client Accounts'|translate" class="padding10"></h4>

      <div
        kendo-grid="securityPosition.searchResultGrid"
        k-data-source="gridData"
        k-columns="gridColumns"
        k-sortable="true"
        k-scrollable="true"
        k-selectable="true"
        k-groupable="true"
        k-filterable="true"
        k-pageable='{ "pageSize": 10, "refresh": true, "pageSizes": true }'
        k-resizable="true"
        k-height="300"
        >

      </div>
    </div>

  </div>

</div>

