<div
  kendo-splitter="params.splitter1"
  orientation="'horizontal'"
  class="persons-view-splitter"
  k-collapse="searchCriteriaCollapse"
  k-expand="searchCriteriaExpand"
  k-navigatable="true"
  k-height="549"
  panes="params.config.splitterPanesConfig"
  k-no-records="true">

  <div ng-form="withdrawal.formName"
       role="form"
       csm-enter="findWithdrawal()"
       ng-submit="findWithdrawal()"
       class="person-find-criteria-form  fg-dark left-pane-style"
       novalidate>


    <div class="row filter-buttons-position">
      <md-button
        aria-label="right arrow button"
        type="button"
        ng-click="resetForm()"
        class="md-micro md-fab pull-right filter-button-style">
        <md-tooltip md-direction="down">
          <span once-text="'Reset Filter'|translate"></span>
        </md-tooltip>
        <span class="icon icon-remove-filter"></span>
      </md-button>

      <md-button
        aria-label="right arrow button"
        type="button"
        ng-click="findWithdrawal()"
        class="md-micro md-fab pull-right filter-button-style">
        <md-tooltip md-direction="down">
          <span once-text="'Filter'|translate"></span>
        </md-tooltip>
        <span class="icon icon-filter"></span>
      </md-button>
    </div>


    <div class="pane-content">
      <uib-accordion close-others="false">
        <uib-accordion-group>
          <uib-accordion-heading>
            <div class="collapsible-panel-heading cursor-pointer">
              <label class="text-right text-muted-manual">
                <a href="#" once-text="'Withdrawal Date'|translate" class="text-muted-manual"></a>
              </label>

              <div class="inline-block pull-right">
                <i class="glyphicon pull-right person-search-accordion-icon"></i>
              </div>
            </div>
          </uib-accordion-heading>


          <div>
            <div class="person-search-template-input-style">
              <label class="panel-body-label text-right inline-block text-muted-manual">
                <span once-text="'Withdrawal Date From'|translate"></span>:</label>

              <div class="inline-block person-search-inputs">
                <input type="text"
                       kendo-date-picker
                       name="registration_date_start"
                       ng-model="withdrawal.form.regDateStart"
                       k-ng-model="withdrawal.form.regDateStartObj"
                  >
              </div>
            </div>
            <div class="form-group person-search-template-input-style">
              <label class="panel-body-label text-right inline-block text-muted-manual">
                <span once-text="'Withdrawal Date To'|translate"></span>:</label>

              <div class="inline-block person-search-inputs">
                <input type="text"
                       kendo-date-picker
                       name="registration_date_finish"
                       ng-model="withdrawal.form.regDateFinish"
                       k-ng-model="withdrawal.form.regDateFinishObj"
                  >
              </div>
            </div>

          </div>


        </uib-accordion-group>
        <uib-accordion-group>
          <uib-accordion-heading>
            <div class="collapsible-panel-heading cursor-pointer">
              <label class="text-right text-muted-manual">
                <a href="#" once-text="'Person'|translate" class="text-muted-manual"></a>
              </label>

              <div class="inline-block pull-right">
                <i class="glyphicon pull-right person-search-accordion-icon"></i>
              </div>
            </div>
          </uib-accordion-heading>

          <div>
            <div class="person-search-template-input-style">
              <label class="panel-body-label text-right inline-block text-muted-manual">
                <span once-text="'Name'|translate"></span>:</label>

              <div class="inline-block person-search-inputs">
                <input
                  class="k-textbox"
                  type="text"
                  name="sell_side_member"
                  ng-model="withdrawal.form.sellSideMemberName"
                  >
              </div>
            </div>

          </div>
        </uib-accordion-group>
        <uib-accordion-group is-disabled="true">
          <uib-accordion-heading>
            <div class="person-search-template-input-style">
              <label class="text-right inline-block text-muted-manual">
                <span once-text="'Bank Account'|translate"></span>:</label>
              <div class="inline-block person-search-inputs">
                <input
                  class="k-textbox"
                  type="text"
                  name="instrument"
                  ng-model="withdrawal.form.comment">
              </div>
            </div>
          </uib-accordion-heading>
        </uib-accordion-group>
        <uib-accordion-group is-disabled="!status.isFirstDisabled">
          <uib-accordion-heading>
            <!--<div class="row" >-->
            <div class="person-search-template-input-style">
              <label class="text-right inline-block text-muted-manual">
                <span once-text="'Currency'|translate"></span>:</label>

              <div class="inline-block person-search-inputs">
                <select kendo-drop-down-list
                        ng-model="withdrawal.form.currencyID"
                        k-data-text-field="'name'+lnC"
                        k-data-value-field="'id'"
                        k-data-source="metaData.currencies"
                        k-width="'100%'"
                  >
                </select>
              </div>
            </div>
            <!--</div>-->
          </uib-accordion-heading>
        </uib-accordion-group>
      </uib-accordion>
    </div>
  </div>

  <div class="pane-content">
    <div class="trade-view-buttons-wrapper">
      <md-button
        aria-label="hamburger button"
        class="pull-left md-icon-button md-primary hamburger-button-style"
        ng-click="toggleSearchCriteriaBlock(params.splitter1)">
        <span class="glyphicon glyphicon-align-justify micro-glyphicon micro-align-glyphicon"></span>
      </md-button>
    <!--<span class="text-danger grid-text-danger" ng-show="withdrawal.searchResult.isEmpty"-->
          <!--once-text="'No Statement Found!'|translate"></span>-->

      <div class="pull-right view-button-group">
        <md-button type="button" class="md-fab md-micro"
                   aria-label="Export to excel"
                   ng-click="exportToExcel(withdrawal.searchResultGrid)">
          <i class="glyphicon glyphicon-export micro-glyphicon"></i>
          <md-tooltip md-direction="down">
            <span once-text="'Export to Excel'|translate"></span>
          </md-tooltip>
        </md-button>
        <md-button type="button" class="md-fab md-micro"
                   aria-label="Mini FAB"
                   ng-click="closeWindow()">

          <i class="glyphicon glyphicon-remove micro-glyphicon"></i>

          <md-tooltip md-direction="down">
            <span once-text="'Close Window'|translate"></span>
          </md-tooltip>

        </md-button>

      </div>
    </div>
    <div class="trade-search-result-grid">
      <div


        kendo-grid="withdrawal.searchResultGrid"
        k-ng-delay="withdrawal.mainGridOptions"
        k-options="withdrawal.mainGridOptions"
        k-sortable="true"
        k-scrollable="true"
        k-pageable='{ "pageSize": 20, "refresh": true, "pageSizes": true, "buttonCount": 5 }'
        k-resizable="true"
        >
      </div>
    </div>

  </div>
</div>
