<div class="padding10 no-scroll">
  <div novalidate ng-form="userProfile.form.name" ng-submit="userProfile.changePassword(userProfile.upWindow)">
    <div class="change-password-form">
      <div class="forms">
        <div class="form-group new-password">
          <label class="user-form-labels"><span once-text="'Current Password'|translate"></span>:</label>

          <div class="form-inputs">
            <input ng-model="userProfile.form.data.currentPassword"
                   ng-required="true" name="current-password"
                   type="password"
                   class="k-textbox"/>
          </div>
        </div>
      </div>
      <div class="forms">
        <div class="form-group">
          <label class="user-form-labels"><span once-text="'New Password'|translate"></span>:</label>

          <div class="form-inputs">
            <input
              ng-model="userProfile.form.data.newPassword"
              ng-required="true"
              name="new-password"
              type="password"
              class="k-textbox"/>
          </div>
        </div>
      </div>
      <div class="forms">
        <div class="form-group">
          <label class="user-form-labels"><span once-text="'Confirm New Password'|translate"></span>:</label>

          <div class="form-inputs has-error">
            <input ng-model="userProfile.form.data.confirmPassword"
                   ng-required="true"
                   name="confirm_password"
                   class="k-textbox"
                   type="password"
                   ui-validate=" '$value==userProfile.form.data.newPassword' "
                   ui-validate-watch=" 'userProfile.form.data.newPassword' "/>


            <p ng-show="userProfile.form.name.confirm_password.$error.validator"
               class="help-block help-block-error">
              <span once-text="'Passwords do not match!'|translate"></span>
            </p>

          </div>

        </div>
      </div>
    </div>

      <div class="center-align">
        <hr/>
        <md-button ng-disabled="userProfile.form.name.$invalid"
                ng-click="userProfile.changePassword(userProfile.upWindow)"
                class="no-margin md-raised md-submit align-center"><span
                once-text="'Submit'|translate"></span>
        </md-button>
      </div>
  </div>
</div>
