<uib-accordion-heading>
  <h4 class="panel-title">
    <a
      data-toggle="collapse"
      data-target="#{{data.config.prefix}}-actual-addresses-panel"
      class="collapsed"
      once-text="'Address'|translate"
    >
    </a>
    <div><i class="glyphicon pull-right accordion-icon"></i></div>

    <span
      ng-show="data.config.formName.$submitted  && (
       ( data.config.formName.aa_address_line_az.$invalid
      || data.config.formName.aa_locations_az.$invalid
      || data.config.formName.aa_state_az.$invalid
      ||data.config.formName.aa_address_line_en.$invalid
      || data.config.formName.aa_locations_en.$invalid
      || data.config.formName.aa_state_en.$invalid
      || data.config.formName.aa_country.$invalid
      ||data.config.formName.aa_postal_code.$invalid)

      ||

        ( data.config.formName.la_address_line_az.$invalid
      || data.config.formName.la_locations_az.$invalid
      || data.config.formName.la_state_az.$invalid
      ||data.config.formName.la_address_line_en.$invalid
      || data.config.formName.la_locations_en.$invalid
      || data.config.formName.la_state_en.$invalid
      || data.config.formName.la_country.$invalid
      ||data.config.formName.la_postal_code.$invalid) )"
      class="panel-has-error">*</span>
  </h4>
</uib-accordion-heading>

<div class="panel-body">
  <md-tabs md-dynamic-height md-border-bottom>

    <md-tab label="{{config.labels.legalAddress}}" ng-if="data.config.fields.legal_address.is_visible">

      <md-content ng-show="!visibleForInvestorAccountOpeningEntry" class="md-padding no-scroll">
        <div class="forms" ng-if="data.config.fields.legal_address.fields.country.is_visible">
          <div class="form-group " ng-class="{ 'has-error': (data.config.formName.$submitted || data.config.formName.la_country.$touched)
                 &&(data.config.formName.la_country.$invalid)  }">

            <label class="address-form-labels">
                <span class="required-sign"
                      ng-if="data.config.fields.legal_address.fields.country.is_mandatory">*</span><span
              once-text="'Country'|translate"></span>:</label>
            <div class="form-inputs">
              <select
                ng-model="data.form.legalAddress.country"
                name="la_country"
                ng-required="data.config.fields.legal_address.fields.country.is_mandatory"
                ng-disabled="!data.config.fields.legal_address.fields.country.is_editable"
              >
                <option value="">---</option>
                <option
                  value="{{country|json}}"
                  ng-repeat="country in metaData.countries ">
                  {{country['name'+lnC]}}
                </option>
              </select>

              <div class="error-message-style" ng-show="data.config.formName.$submitted || data.config.formName.la_country.$touched">
                <p ng-show="data.config.formName.la_country.$error.required"
                   class="help-block help-block-error">
                  <span once-text="'This field is required'|translate"></span>
                </p>
              </div>
            </div>
          </div>

        </div>
        <div class="forms" ng-if="data.config.fields.legal_address.fields.postal_code.is_visible">
          <div class="form-group"
               ng-class="{ 'has-error': (data.config.formName.$submitted || data.config.formName.la_postal_code.$touched)
             &&(data.config.formName.la_postal_code.$invalid)  }">

            <label class="address-form-labels">
                      <span class="required-sign"
                            ng-if="data.config.fields.legal_address.fields.postal_code.is_mandatory">*</span><span
              once-text="'Postal Code'|translate"></span>:</label>

            <div class="form-inputs">
              <input class="k-textbox"
                     type="text"
                     name="la_postal_code"
                     ng-model="data.form.legalAddress.postalCode"
                     ng-maxlength="11"
                     ng-required="data.config.fields.legal_address.fields.postal_code.is_mandatory"
                     ng-readonly="!data.config.fields.legal_address.fields.postal_code.is_editable"
              >

              <div class="error-message-style" ng-show="data.config.formName.$submitted || data.config.formName.la_postal_code.$touched">
                <p ng-show="data.config.formName.la_postal_code.$error.required"
                   class="help-block help-block-error">
                  <span once-text="'This field is required'|translate"></span>
                </p>
              </div>
            </div>
          </div>

        </div>
        <div class="forms" ng-if="data.config.fields.legal_address.fields.address_line.is_visible">
          <div class="form-group"
               ng-class="{ 'has-error': (data.config.formName.$submitted || data.config.formName.la_address_line_az.$touched)
             &&(data.config.formName.la_address_line_az.$invalid)  }">

            <label class="address-form-labels">
                    <span class="required-sign"
                          ng-if="data.config.fields.legal_address.fields.address_line.is_mandatory">*</span><span
              once-text="'Address Line'|translate"></span> (AZ):</label>

            <div class="form-inputs">
              <input class="k-textbox"
                     type="text"
                     name="la_address_line_az"
                     ng-model="data.form.legalAddress.addressLineAz"
                     ng-required="data.config.fields.legal_address.fields.address_line.is_mandatory"
                     ng-readonly="!data.config.fields.legal_address.fields.address_line.is_editable"
              >
              <div class="error-message-style" ng-show="data.config.formName.$submitted || data.config.formName.la_address_line_az.$touched">
                <p ng-show="data.config.formName.la_address_line_az.$error.required"
                   class="help-block help-block-error">
                  <span once-text="'This field is required'|translate"></span>
                </p>
              </div>
            </div>
          </div>

        </div>
        <div class="forms" ng-if="data.config.fields.legal_address.fields.locations.is_visible">
          <div class="form-group"
               ng-class="{ 'has-error': (data.config.formName.$submitted || data.config.formName.la_locations_az.$touched)
             &&(data.config.formName.la_locations_az.$invalid)  }">
            <label class="address-form-labels">
                      <span class="required-sign"
                            ng-if="data.config.fields.legal_address.fields.locations.is_mandatory">*</span><span
              once-text="'Locations'|translate"></span> (AZ):</label>

            <div class="form-inputs">
              <input class="k-textbox"
                     type="text"
                     name="la_locations_az"
                     ng-model="data.form.legalAddress.locationsAz"
                     ng-required="data.config.fields.legal_address.fields.locations.is_mandatory"
                     ng-readonly="!data.config.fields.legal_address.fields.locations.is_editable"
              >
              <div class="error-message-style" ng-show="data.config.formName.$submitted || data.config.formName.la_locations_az.$touched">
                <p ng-show="data.config.formName.la_locations_az.$error.required"
                   class="help-block help-block-error">
                  <span once-text="'This field is required'|translate"></span>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="forms" ng-if="data.config.fields.legal_address.fields.state.is_visible">
          <div class="form-group "
               ng-class="{ 'has-error': (data.config.formName.$submitted || data.config.formName.la_state_az.$touched)
             &&(data.config.formName.la_state_az.$invalid)  }">

            <label class="address-form-labels">
                      <span class="required-sign"
                            ng-if="data.config.fields.legal_address.fields.state.is_mandatory">*</span><span
              once-text="'State'|translate"></span> (AZ):</label>

            <div class="form-inputs">
              <input class="k-textbox"
                     type="text"
                     name="la_state_az"
                     ng-model="data.form.legalAddress.stateAz"
                     ng-required="data.config.fields.legal_address.fields.state.is_mandatory"
                     ng-readonly="!data.config.fields.legal_address.fields.state.is_editable"
              >

              <div class="error-message-style" ng-show="data.config.formName.$submitted || data.config.formName.la_state_az.$touched">
                <p ng-show="data.config.formName.la_state_az.$error.required"
                   class="help-block help-block-error">
                  <span once-text="'This field is required'|translate"></span>
                </p>
              </div>
            </div>
          </div>

        </div>


        <div class="forms" ng-if="isRepresentativeForm !== true">
          <div>
            <div class="form-group ">
              <label class="address-form-labels">
                <span>Tam ünvan (AZ):</span>
              </label>
              <div class="form-inputs">
                <input class="k-textbox lp-az"
                       type="text"
                       value="{{legalPlainAddressAZ}}"
                       readonly>
              </div>
            </div>
          </div>
        </div>


        <div class="forms" ng-if="isRepresentativeForm === true">
          <div>
            <div class="form-group ">
              <label class="address-form-labels">
                <span>Tam ünvan (AZ):</span>
              </label>
              <div class="form-inputs">
                <input class="k-textbox lp-az"
                       type="text"
                       value="{{_rep_legalPlainAddressAZ}}"
                       readonly>
              </div>
            </div>
          </div>
        </div>


        <div class="forms" ng-show="data.config.showNameGroups || data.config.fields.isEnRequired.is_mandatory">
          <div ng-if="data.config.fields.legal_address.fields.address_line.is_visible">
            <div class="form-group "
                 ng-class="{ 'has-error': (data.config.formName.$submitted || data.config.formName.la_address_line_en.$touched)
             &&(data.config.formName.la_address_line_en.$invalid)  }">
              <label class="address-form-labels">
                      <span class="required-sign"
                            ng-if="data.config.fields.isEnRequired.is_mandatory && data.config.fields.legal_address.fields.address_line.is_mandatory">*</span><span
                once-text="'Address Line'|translate"></span> (EN):</label>

              <div class="form-inputs">
                <input class="k-textbox"
                       type="text"
                       ng-model="data.form.legalAddress.addressLineEn"
                       name="la_address_line_en"
                       ng-required="data.config.fields.isEnRequired.is_mandatory && data.config.fields.legal_address.fields.address_line.is_mandatory"
                       ng-readonly="!data.config.fields.legal_address.fields.address_line.is_editable"
                >
                <div class="error-message-style" ng-show="data.config.formName.$submitted || data.config.formName.la_address_line_en.$touched">
                  <p ng-show="data.config.formName.la_address_line_en.$error.required"
                     class="help-block help-block-error">
                    <span once-text="'This field is required'|translate"></span>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="forms" ng-show="data.config.showNameGroups || data.config.fields.isEnRequired.is_mandatory">
          <div ng-if="data.config.fields.legal_address.fields.locations.is_visible">
            <div class="form-group "
                 ng-class="{ 'has-error': (data.config.formName.$submitted || data.config.formName.la_locations_en.$touched)
             &&(data.config.formName.la_locations_en.$invalid)  }">
              <label class="address-form-labels">
                      <span class="required-sign"
                            ng-if="data.config.fields.isEnRequired.is_mandatory &&data.config.fields.legal_address.fields.locations.is_mandatory">*</span><span
                once-text="'Locations'|translate"></span> (EN):</label>

              <div class="form-inputs">
                <input class="k-textbox"
                       type="text"
                       name="la_locations_en"
                       ng-model="data.form.legalAddress.locationsEn"
                       ng-required="data.config.fields.isEnRequired.is_mandatory &&data.config.fields.legal_address.fields.locations.is_mandatory"
                       ng-readonly="!data.config.fields.legal_address.fields.locations.is_editable"
                >

                <div class="error-message-style" ng-show="data.config.formName.$submitted || data.config.formName.la_locations_en.$touched">
                  <p ng-show="data.config.formName.la_locations_en.$error.required"
                     class="help-block help-block-error">
                    <span once-text="'This field is required'|translate"></span>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="forms" ng-show="data.config.showNameGroups || data.config.fields.isEnRequired.is_mandatory">
          <div ng-if="data.config.fields.legal_address.fields.state.is_visible">
            <div class="form-group "
                 ng-class="{ 'has-error': (data.config.formName.$submitted || data.config.formName.la_state_en.$touched)
             &&(data.config.formName.la_state_en.$invalid)  }">
              <label class="address-form-labels">
                    <span class="required-sign"
                          ng-if="data.config.fields.isEnRequired.is_mandatory && data.config.fields.legal_address.fields.state.is_mandatory">*</span><span
                once-text="'State'|translate"></span> (EN):</label>

              <div class="form-inputs">
                <input class="k-textbox"
                       type="text"
                       name="la_state_en"
                       ng-model="data.form.legalAddress.stateEn"
                       ng-required="data.config.fields.isEnRequired.is_mandatory && data.config.fields.legal_address.fields.state.is_mandatory"
                       ng-readonly="!data.config.fields.legal_address.fields.state.is_editable"
                >
                <div class="error-message-style" ng-show="data.config.formName.$submitted || data.config.formName.la_state_en.$touched">
                  <p ng-show="data.config.formName.la_state_en.$error.required"
                     class="help-block help-block-error">
                    <span once-text="'This field is required'|translate"></span>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="forms" ng-show="data.config.showNameGroups || data.config.fields.isEnRequired.is_mandatory" ng-if="isRepresentativeForm !== true">
          <div>
            <div class="form-group ">
              <label class="address-form-labels">
                <span>Tam ünvan (EN):</span>
              </label>
              <div class="form-inputs">
                <input class="k-textbox lp-en"
                       type="text"
                       value="{{legalPlainAddressEN}}"
                       readonly>
              </div>
            </div>
          </div>
        </div>

        <div class="forms" ng-show="" ng-if="isRepresentativeForm === true">
          <div>
            <div class="form-group ">
              <label class="address-form-labels">
                <span>Tam ünvan (EN):</span>
              </label>
              <div class="form-inputs">
                <input class="k-textbox lp-en"
                       type="text"
                       value="{{_rep_legalPlainAddressEN}}"
                       readonly>
              </div>
            </div>
          </div>
        </div>

      </md-content>

      <md-content ng-show="visibleForInvestorAccountOpeningEntry" class="md-padding no-scroll">
        <div class="forms" ng-if="data.config.fields.legal_address.fields.country.is_visible">
          <div class="form-group " ng-class="{ 'has-error': (data.config.formName.$submitted || data.config.formName.la_country.$touched)
                 &&(data.config.formName.la_country.$invalid)  }">

            <label class="address-form-labels">
                <span class="required-sign"
                      ng-if="data.config.fields.legal_address.fields.country.is_mandatory">*</span><span
              once-text="'Country'|translate"></span>:</label>
            <div class="form-inputs">
              <select
                ng-model="data.form.legalAddress.country"
                name="la_country"
                ng-required="data.config.fields.legal_address.fields.country.is_mandatory"
                ng-disabled="!data.config.fields.legal_address.fields.country.is_editable"
              >
                <option value="">---</option>
                <option
                  value="{{country|json}}"
                  ng-repeat="country in metaData.countries ">
                  {{country['name'+lnC]}}
                </option>
              </select>

              <div class="error-message-style" ng-show="data.config.formName.$submitted || data.config.formName.la_country.$touched">
                <p ng-show="data.config.formName.la_country.$error.required"
                   class="help-block help-block-error">
                  <span once-text="'This field is required'|translate"></span>
                </p>
              </div>
            </div>
          </div>

        </div>
        <div class="forms" ng-if="data.config.fields.legal_address.fields.plain_address.is_visible">
          <div class="form-group "
               ng-class="{ 'has-error': (data.config.formName.$submitted || data.config.formName.la_plainAddressAz.$touched)
             &&(data.config.formName.la_plainAddressAz.$invalid)  }">

            <label class="address-form-labels">
                      <span class="required-sign"
                            ng-if="data.config.fields.legal_address.fields.plain_address.is_mandatory">*</span> Tam ünvan (AZ):</label>

            <div class="form-inputs">
              <input class="k-textbox"
                     type="text"
                     name="la_plainAddressAz"
                     ng-model="data.form.legalAddress.plainAddressAz"
                     ng-required="data.config.fields.legal_address.fields.plain_address.is_mandatory"
                     ng-readonly="!data.config.fields.legal_address.fields.plain_address.is_editable"
              >

              <div class="error-message-style" ng-show="data.config.formName.$submitted || data.config.formName.la_plainAddressAz.$touched">
                <p ng-show="data.config.formName.la_plainAddressAz.$error.required"
                   class="help-block help-block-error">
                  <span once-text="'This field is required'|translate"></span>
                </p>
              </div>
            </div>
          </div>

        </div>



      </md-content>
    </md-tab>

    <md-tab label="{{config.labels.actualAddress}}" ng-if="data.config.fields.actual_address.is_visible">

      <md-content ng-show="!visibleForInvestorAccountOpeningEntry" class="md-padding no-scroll ">

        <div class="forms" ng-if="data.config.fields.actual_address.fields.country.is_visible">
          <div class="form-group "
               ng-class="{ 'has-error': (data.config.formName.$submitted || data.config.formName.aa_country.$touched)
             &&(data.config.formName.aa_country.$invalid)  }">

            <label class="address-form-labels">
              <span class="required-sign" ng-if="data.config.fields.actual_address.fields.country.is_mandatory">*</span>
              <span once-text="'Country'|translate"></span>:
            </label>

            <div class="form-inputs">
              <select
                name="aa_country"

                ng-model="data.form.actualAddress.country"

                ng-required="data.config.fields.actual_address.fields.country.is_mandatory"
                ng-disabled="!data.config.fields.actual_address.fields.country.is_editable"
              >
                <option value="">---</option>

                <option
                  ng-repeat="country in metaData.countries"
                  value="{{country|json}}"
                >
                  {{country['name'+lnC]}}
                </option>
              </select>
              <div class="error-message-style" ng-show="data.config.formName.$submitted || data.config.formName.aa_country.$touched">
                <p ng-show="data.config.formName.aa_country.$error.required"
                   class="help-block help-block-error">
                  <span once-text="'This field is required'|translate"></span>
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="forms" ng-if="data.config.fields.actual_address.fields.postal_code.is_visible">
          <div class="form-group "
               ng-class="{ 'has-error': (data.config.formName.$submitted || data.config.formName.aa_postal_code.$touched)
             &&(data.config.formName.aa_postal_code.$invalid)  }">

            <label class="address-form-labels">
                    <span class="required-sign"
                          ng-if="data.config.fields.actual_address.fields.postal_code.is_mandatory">*</span><span
              once-text="'Postal Code'|translate"></span>:</label>

            <div class="form-inputs">
              <input class="k-textbox"
                     type="text"
                     name="aa_postal_code"
                     ng-model="data.form.actualAddress.postalCode"
                     ng-maxlength="11"
                     ng-required="data.config.fields.actual_address.fields.postal_code.is_mandatory"
                     ng-readonly="!data.config.fields.actual_address.fields.postal_code.is_editable"
              >

              <div class="error-message-style" ng-show="data.config.formName.$submitted || data.config.formName.aa_postal_code.$touched">
                <p ng-show="data.config.formName.aa_postal_code.$error.required"
                   class="help-block help-block-error">
                  <span once-text="'This field is required'|translate"></span>
                </p>
              </div>
            </div>
          </div>

        </div>
        <div class="forms" ng-if="data.config.fields.actual_address.fields.address_line.is_visible">
          <div class="form-group "
               ng-class="{ 'has-error': (data.config.formName.$submitted || data.config.formName.aa_address_line_az.$touched)
             &&(data.config.formName.aa_address_line_az.$invalid)  }">
            <label class="address-form-labels"><span class="required-sign"
                                                     ng-if="data.config.fields.actual_address.fields.address_line.is_mandatory">*</span><span
              once-text="'Address Line'|translate"></span> (AZ):</label>

            <div class="form-inputs">
              <input class="k-textbox"
                     type="text"
                     name="aa_address_line_az"
                     ng-model="data.form.actualAddress.addressLineAz"
                     ng-required="data.config.fields.actual_address.fields.address_line.is_mandatory"
                     ng-readonly="!data.config.fields.actual_address.fields.address_line.is_editable"
              >


              <div class="error-message-style" ng-show="data.config.formName.$submitted || data.config.formName.aa_address_line_az.$touched">
                <p ng-show="data.config.formName.aa_address_line_az.$error.required"
                   class="help-block help-block-error">
                  <span once-text="'This field is required'|translate"></span>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="forms" ng-if="data.config.fields.actual_address.fields.locations.is_visible">
          <div class="form-group "
               ng-class="{ 'has-error': (data.config.formName.$submitted || data.config.formName.aa_locations_az.$touched)
             &&(data.config.formName.aa_locations_az.$invalid)  }">

            <label class="address-form-labels"><span class="required-sign" ng-if="data.config.fields.actual_address.fields.locations.is_mandatory">*</span>
              <span once-text="'Locations'|translate"></span> (AZ):</label>

            <div class="form-inputs">
              <input class="k-textbox"
                     type="text"
                     name="aa_locations_az"
                     ng-model="data.form.actualAddress.locationsAz"
                     ng-required="data.config.fields.actual_address.fields.locations.is_mandatory"
                     ng-readonly="!data.config.fields.actual_address.fields.locations.is_editable"
              >

              <div class="error-message-style" ng-show="data.config.formName.$submitted || data.config.formName.aa_locations_az.$touched">
                <p ng-show="data.config.formName.aa_locations_az.$error.required"
                   class="help-block help-block-error">
                  <span once-text="'This field is required'|translate"></span>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="forms" ng-if="data.config.fields.actual_address.fields.state.is_visible">
          <div class="form-group "
               ng-class="{ 'has-error': (data.config.formName.$submitted || data.config.formName.aa_state_az.$touched)
             &&(data.config.formName.aa_state_az.$invalid)  }">
            <label class="address-form-labels">
                      <span class="required-sign"
                            ng-if="data.config.fields.actual_address.fields.state.is_mandatory">*</span>
              <span once-text="'State'|translate"></span> (AZ):</label>

            <div class="form-inputs">
              <input class="k-textbox"
                     type="text"
                     name="aa_state_az"
                     ng-model="data.form.actualAddress.stateAz"
                     ng-required="data.config.fields.actual_address.fields.state.is_mandatory"
                     ng-readonly="!data.config.fields.actual_address.fields.state.is_editable"
              >
              <div class="error-message-style" ng-show="data.config.formName.$submitted || data.config.formName.aa_state_az.$touched">
                <p ng-show="data.config.formName.aa_state_az.$error.required"
                   class="help-block help-block-error">
                  <span once-text="'This field is required'|translate"></span>
                </p>
              </div>
            </div>
          </div>

        </div>

        <div class="forms" ng-if="isRepresentativeForm !== true">
          <div>
            <div class="form-group ">
              <label class="address-form-labels">
                <span>Tam ünvan (AZ):</span>
              </label>
              <div class="form-inputs">
                <input class="k-textbox"
                       type="text"
                       value="{{actualPlainAddressAZ}}"
                       readonly>
              </div>
            </div>
          </div>
        </div>

        <div class="forms" ng-if="isRepresentativeForm === true">
          <div>
            <div class="form-group ">
              <label class="address-form-labels">
                <span>Tam ünvan (AZ):</span>
              </label>
              <div class="form-inputs">
                <input class="k-textbox"
                       type="text"
                       value="{{_rep_actualPlainAddressAZ}}"
                       readonly>
              </div>
            </div>
          </div>
        </div>

          <div class="forms" ng-show="data.config.fields.isEnRequired.is_mandatory">

            <div ng-if="data.config.fields.actual_address.fields.address_line.is_visible">
              <div class="form-group "
                   ng-class="{ 'has-error': (data.config.formName.$submitted || data.config.formName.aa_address_line_en.$touched)
               &&(data.config.formName.aa_address_line_en.$invalid)  }">

                <label class="address-form-labels">
                <span class="required-sign"
                      ng-if="data.config.fields.isEnRequired.is_mandatory && data.config.fields.actual_address.fields.address_line.is_mandatory">*</span>
                  <span once-text="'Address Line'|translate"></span> (EN):</label>

                <div class="form-inputs">
                  <input class="k-textbox"
                         type="text"
                         name="aa_address_line_en"
                         ng-model="data.form.actualAddress.addressLineEn"
                         ng-required="data.config.fields.isEnRequired.is_mandatory && data.config.fields.actual_address.fields.address_line.is_mandatory"
                         ng-readonly="!data.config.fields.actual_address.fields.address_line.is_editable"
                  >
                  <div class="error-message-style" ng-show="data.config.formName.$submitted || data.config.formName.aa_address_line_en.$touched">
                    <p ng-show="data.config.formName.aa_address_line_en.$error.required"
                       class="help-block help-block-error">
                      <span once-text="'This field is required'|translate"></span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="forms" ng-show="data.config.fields.isEnRequired.is_mandatory">
            <div ng-if="data.config.fields.actual_address.fields.locations.is_visible">
              <div class="form-group "
                   ng-class="{ 'has-error': (data.config.formName.$submitted || data.config.formName.aa_locations_en.$touched)
               &&(data.config.formName.aa_locations_en.$invalid)  }">
                <label class="address-form-labels">
                        <span class="required-sign"
                              ng-if="data.config.fields.isEnRequired.is_mandatory && data.config.fields.actual_address.fields.locations.is_mandatory">*</span><span
                  once-text="'Locations'|translate"></span> (EN):</label>

                <div class="form-inputs">
                  <input class="k-textbox"
                         type="text"
                         name="aa_locations_en"
                         ng-model="data.form.actualAddress.locationsEn"
                         ng-required="data.config.fields.isEnRequired.is_mandatory && data.config.fields.actual_address.fields.locations.is_mandatory"
                         ng-readonly="!data.config.fields.actual_address.fields.locations.is_mandatory"
                  >
                  <div class="error-message-style" ng-show="data.config.formName.$submitted || data.config.formName.aa_locations_en.$touched">
                    <p ng-show="data.config.formName.aa_locations_en.$error.required"
                       class="help-block help-block-error">
                      <span once-text="'This field is required'|translate"></span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="forms" ng-show="data.config.fields.isEnRequired.is_mandatory">
            <div ng-if="data.config.fields.actual_address.fields.state.is_visible">
              <div class="form-group "
                   ng-class="{ 'has-error': (data.config.formName.$submitted || data.config.formName.aa_state_en.$touched)
               &&(data.config.formName.aa_state_en.$invalid)  }">

                <label class="address-form-labels">
                    <span class="required-sign"
                          ng-if="data.config.fields.isEnRequired.is_mandatory && data.config.fields.actual_address.fields.state.is_mandatory">*</span>
                  <span once-text="'State'|translate"></span> (EN):</label>

                <div class="form-inputs">
                  <input class="k-textbox"
                         type="text"
                         name="aa_state_en"
                         ng-model="data.form.actualAddress.stateEn"
                         ng-required="data.config.fields.isEnRequired.is_mandatory && data.config.fields.actual_address.fields.state.is_mandatory"
                         ng-readonly="!data.config.fields.actual_address.fields.state.is_mandatory"
                  >
                  <div class="error-message-style" ng-show="data.config.formName.$submitted || data.config.formName.aa_state_en.$touched">
                    <p ng-show="data.config.formName.aa_state_en.$error.required"
                       class="help-block help-block-error">
                      <span once-text="'This field is required'|translate"></span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="forms" ng-show="data.config.fields.isEnRequired.is_mandatory" ng-if="isRepresentativeForm !== true">
            <div>
              <div class="form-group" ng-show="data.config.fields.isEnRequired.is_mandatory">
                <label class="address-form-labels">
                  <span>Tam ünvan (EN):</span>
                </label>
                <div class="form-inputs">
                  <input class="k-textbox"
                         type="text"
                         value="{{actualPlainAddressEN}}"
                         readonly>
                </div>
              </div>
            </div>
          </div>



        <div class="forms" ng-if="isRepresentativeForm === true">
          <div>
            <div class="form-group" ng-show="data.config.fields.isEnRequired.is_mandatory">
              <label class="address-form-labels">
                <span>Tam ünvan (EN):</span>
              </label>
              <div class="form-inputs">
                <input class="k-textbox"
                       type="text"
                       value="{{_rep_actualPlainAddressEN}}"
                       readonly>
              </div>
            </div>
          </div>
        </div>


      </md-content>
      <md-content ng-show="visibleForInvestorAccountOpeningEntry">
        <div class="forms" ng-if="data.config.fields.actual_address.fields.country.is_visible">
          <div class="form-group "
               ng-class="{ 'has-error': (data.config.formName.$submitted || data.config.formName.aa_country.$touched)
             &&(data.config.formName.aa_country.$invalid)  }">

            <label class="address-form-labels">
              <span class="required-sign" ng-if="data.config.fields.actual_address.fields.country.is_mandatory">*</span>
              <span once-text="'Country'|translate"></span>:
            </label>

            <div class="form-inputs">
              <select
                name="aa_country"

                ng-model="data.form.actualAddress.country"

                ng-required="data.config.fields.actual_address.fields.country.is_mandatory"
                ng-disabled="!data.config.fields.actual_address.fields.country.is_editable"
              >
                <option value="">---</option>

                <option
                  ng-repeat="country in metaData.countries"
                  value="{{country|json}}"
                >
                  {{country['name'+lnC]}}
                </option>
              </select>
              <div class="error-message-style" ng-show="data.config.formName.$submitted || data.config.formName.aa_country.$touched">
                <p ng-show="data.config.formName.aa_country.$error.required"
                   class="help-block help-block-error">
                  <span once-text="'This field is required'|translate"></span>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="forms" ng-if="data.config.fields.actual_address.fields.plain_address.is_visible">
          <div class="form-group "
               ng-class="{ 'has-error': (data.config.formName.$submitted || data.config.formName.aa_plainAddressAz.$touched)
             &&(data.config.formName.aa_plainAddressAz.$invalid)  }">

            <label class="address-form-labels">
                      <span class="required-sign"
                            ng-if="data.config.fields.actual_address.fields.plain_address.is_mandatory">*</span> Tam ünvan (AZ):</label>

            <div class="form-inputs">
              <input class="k-textbox"
                     type="text"
                     name="aa_plainAddressAz"
                     ng-model="data.form.actualAddress.plainAddressAz"
                     ng-required="data.config.fields.actual_address.fields.plain_address.is_mandatory"
                     ng-readonly="!data.config.fields.actual_address.fields.plain_address.is_editable"
              >

              <div class="error-message-style" ng-show="data.config.formName.$submitted || data.config.formName.aa_plainAddressAz.$touched">
                <p ng-show="data.config.formName.aa_plainAddressAz.$error.required"
                   class="help-block help-block-error">
                  <span once-text="'This field is required'|translate"></span>
                </p>
              </div>
            </div>
          </div>

        </div>


      </md-content>
    </md-tab>

  </md-tabs>
</div>
