<uib-accordion-heading>
  <h4 class="panel-title">
    <a data-toggle="collapse" data-target="#{{data.config.prefix}}-bank-accounts-panel" class="collapsed"
       once-text="'Bank Accounts'|translate">
    </a>
    <div><i class="glyphicon pull-right accordion-icon"></i></div>
       <span
         ng-show="data.config.fields.bank_accounts.is_mandatory && data.config.formName.$submitted  &&  data.config.formName.bankAccountsLength.$error.csmMinLength"
         class="panel-has-error">*</span>
  </h4>

</uib-accordion-heading>

<div class="panel-body">

  <div ng-if="data.config.fields.bank_accounts.is_mandatory">
    <input
      class="k-textbox"
      type="hidden"
      readonly
      csm-min-length="1"
      name="bankAccountsLength"
      ng-model="data.form.bankAccounts"
      >

    <div class="has-error">
      <p class="help-block help-block-error"
         ng-show="data.config.formName.$submitted && data.config.formName.bankAccountsLength.$error.csmMinLength">
        <span once-text="'You must add at least one bank account!'|translate"></span>
      </p>
    </div>
  </div>

  <table class="table border bordered"
         ng-show="data.form.bankAccounts.length"
         ng-include="'app/person-account/templates/partials/np/bank-accounts-table.html'">
  </table>


  <md-button class="md-micro md-fab" aria-label="plus button" ng-click="openWindow(data.bankAccountAddWindow)">
    <i class="glyphicon glyphicon-plus micro-glyphicon"></i>
    <md-tooltip md-direction="right">
      <span once-text="'Add New Bank Account'|translate"></span>
    </md-tooltip>

  </md-button>

  <div kendo-window="data.bankAccountAddWindow"
       k-title="config.bankAccountManageWindowTitle"
       k-width="600" k-height="520" k-visible="false" k-modal="true"

       k-on-close="resetBankAccountBuffer(data.bankAccountAddWindow,data.config.bankAccountFormName)"
    >

    <div ng-include="'app/person-account/templates/partials/np/bank-account-add-form.html'"></div>
  </div>
</div>
