<uib-accordion-heading>
  <h4 class="panel-title">
    <a data-toggle="collapse" data-target="#{{data.config.prefix}}-contact-panel" class="collapsed"
       once-text="'Contact Information'|translate"></a>
    <div><i class="glyphicon pull-right accordion-icon"></i></div>
    <span
      ng-show="data.config.formName.$submitted  &&
     (data.config.formName['phone_number_type_0'].$invalid
      ||data.config.formName['phone_number_0'].$invalid
      ||data.config.formName['email_0'].$invalid
      )"
      class="panel-has-error">*</span>
  </h4>
</uib-accordion-heading>

<div class="panel-body">
  <h4>
    <span once-text="'Phone Numbers'|translate"></span>:
  </h4>

  <div ng-if="data.config.fields.contact_information.fields.phone_numbers.is_visible"
       data-ng-repeat="phoneNumber in data.form.phoneNumbers">
    <div class="forms" ng-if="data.config.fields.contact_information.fields.phone_numbers.fields.type.is_visible">
        <div class="form-group inline-block"
             ng-class="{ 'has-error': (data.config.formName.$submitted || data.config.formName['phone_number_type_'+$index].$touched)
                 &&(data.config.formName['phone_number_type_'+$index].$invalid)  }">

          <label class="contact-information-form-labels">
            <span class="required-sign"
                  ng-if="data.config.fields.contact_information.fields.phone_numbers.fields.type.is_mandatory">*</span>
            <span once-text="'Type' |translate"></span>:</label>

          <div class="form-inputs">
            <select
              ng-model="phoneNumber.type"
              name="phone_number_type_{{$index}}"
              ng-required="data.config.fields.contact_information.fields.phone_numbers.fields.type.is_mandatory||phoneNumber.number"
              ng-disabled="!data.config.fields.contact_information.fields.phone_numbers.fields.type.is_editable"
              >
              <option value="">---</option>
              <option
                value="{{numberType|json}}"
                ng-repeat="numberType in metaData.phoneNumberTypes"
                >
                {{numberType['name'+lnC]}}
              </option>
            </select>
          <div class="error-message-style"
            ng-show="data.config.formName.$submitted || data.config.formName['phone_number_type_'+$index].$touched">
            <p ng-show="data.config.formName['phone_number_type_'+$index].$error.required"
               class="help-block help-block-error">
              <span once-text="'This field is required'|translate"></span>
            </p>
          </div>
           </div>
        </div>
    </div>

    <div class="forms" ng-if="data.config.fields.contact_information.fields.phone_numbers.fields.number.is_visible">
        <div class="inline-block" ng-class="{ 'has-error':
                 (data.config.formName.$submitted || data.config.formName['phone_number_'+$index].$touched)
                 &&(data.config.formName['phone_number_'+$index].$invalid)  }">
          <label class="contact-information-form-labels">
            <span class="required-sign"
                  ng-if="data.config.fields.contact_information.fields.phone_numbers.fields.number.is_mandatory">*</span>
            <span once-text="'Number'|translate"></span>:</label>

          <div class="form-inputs">
            <input
              name="phone_number_{{$index}}"
              class="removable-input k-textbox"
              type="text"
              mask="(+999) 99 999 99 99"
              ng-model="phoneNumber.number"
              ng-required="data.config.fields.contact_information.fields.phone_numbers.fields.number.is_mandatory"
              ng-readonly="!data.config.fields.contact_information.fields.phone_numbers.fields.number.is_editable"
              >
            <div class="error-message-style" ng-show="data.config.formName.$submitted || data.config.formName['phone_number_'+$index].$touched">
              <p ng-show="data.config.formName['phone_number_'+$index].$error.required"
                 class="help-block help-block-error">
                <span once-text="'This field is required'|translate"></span>
              </p>

            </div>
          </div>
        </div>

        <md-button class="md-fab md-micro" ng-show="$index>0"
                   aria-label="remove button"
                   ng-click="removePhoneNumber($index,data.form.phoneNumbers)">
          <i class="glyphicon glyphicon-trash micro-glyphicon"></i>
          <md-tooltip md-direction="down">
            <span once-text="'Remove Phone Number'|translate"></span>
          </md-tooltip>
        </md-button>
          <md-button class="md-fab md-micro"
                     aria-label="plus button"
                     ng-show="$last"
                     ng-click="addNewPhoneNumber(data.form.phoneNumbers)">
            <i class="glyphicon glyphicon-plus micro-glyphicon"></i>
            <md-tooltip md-direction="down">
              <span once-text="'Add New Phone'|translate"></span>
            </md-tooltip>
            <!--<span once-text="'Add New Phone'|translate"></span>-->
          </md-button>



    </div>


    <!--<div class="margin20"></div>-->

  </div>
  <h4><span once-text="'Emails'|translate"></span>:</h4>

  <div class="forms" ng-if="data.config.fields.contact_information.fields.emails.is_visible"
       data-ng-repeat="email in data.form.emails">

      <div class="padding-top-10 inline-block" ng-class="{ 'has-error': (data.config.formName.$submitted || data.config.formName['email_'+$index].$touched)
                 &&(data.config.formName['email_'+$index].$invalid)  }">
        <label class="contact-information-form-labels">
          <span class="required-sign"
                ng-if="data.config.fields.contact_information.fields.emails.is_mandatory">*</span>Email:</label>

        <div class="form-inputs">
          <input
            name="email_{{$index}}"
            class="removable-input k-textbox"
            type="email"
            ng-model="email.value"
            ng-required="data.config.fields.contact_information.fields.emails.is_mandatory"
            ng-readonly="!data.config.fields.contact_information.fields.emails.is_editable"
            >
        <div class="error-message-style" ng-show="data.config.formName.$submitted || data.config.formName['email_'+$index].$touched">
          <p ng-show="data.config.formName['email_'+$index].$error.required"
             class="help-block help-block-error">
            <span once-text="'This field is required'|translate"></span>
          </p>

          <p ng-show="data.config.formName['email_'+$index].$error.email"
             class="help-block help-block-error">
            <span once-text="'Wrong Email Format!'|translate"></span>
          </p>
        </div>
         </div>
      </div>

      <md-button class="md-micro md-fab" ng-show="$index>0" aria-label="remove button"
                 ng-click="removeEmail($index,data.form.emails)">
        <i class="glyphicon glyphicon-trash micro-glyphicon"></i>
        <md-tooltip md-direction="down">
          <span once-text="'Remove Email'|translate"></span>
        </md-tooltip>
      </md-button>

        <md-button
          class="md-fab md-micro"
          aria-label="plus button"
          ng-show="$last"
          ng-click="addNewEmail(data.form.emails)">
          <i class="glyphicon glyphicon-plus micro-glyphicon"></i>
          <md-tooltip md-direction="down">
            <span once-text="'Add New Email'|translate"></span>
          </md-tooltip>
          <!--<span once-text="'Add New Email'|translate"></span>-->
        </md-button>


  </div>

</div>
