<uib-accordion-heading>
  <h4 class="panel-title">
    <a data-toggle="collapse" data-target="#{{data.config.prefix}}-documents-panel"
       class="collapsed" once-text="'Other Documents'|translate">
    </a>
    <div><i class="glyphicon pull-right accordion-icon"></i></div>
      <span
        ng-show="data.config.formName.$submitted && (
         (data.config.fields.documents.is_mandatory &&
         data.config.formName.documentsLength.$error.csmMinLength) || (data.config.fields.personal_information.fields.id_card.fields.series.is_visible && data.config.formName.at_least_one_id_document.$error.required) )"
        class="panel-has-error">*</span>
  </h4>

</uib-accordion-heading>

  <md-button class="md-micro md-fab" aria-label="plus button" ng-click="openWindow(data.documentAddWindow)">
    <i class="glyphicon glyphicon-plus micro-glyphicon"></i>
    <md-tooltip md-direction="right">
      <span once-text="'Add New Document'|translate"></span>
    </md-tooltip>
    <!--<span once-text="'Add New Document' |translate"></span>-->
  </md-button>

  <div ng-if="data.config.fields.documents.is_mandatory">
    <input
      type="hidden"
      readonly
      csm-min-length="1"
      name="documentsLength"
      ng-model="data.form.documents"
      >

    <div class="has-error">
      <p class="help-block help-block-error"
         ng-show="data.config.formName.$submitted && data.config.formName.documentsLength.$error.csmMinLength">
        <span once-text="'You must add at least one document!'|translate"></span>
      </p>
    </div>
  </div>

<div class="has-error" ng-if="data.config.fields.personal_information.fields.id_card.fields.series.is_visible">
  <input
    type="hidden"
    readonly
    ng-model="data.form.idCardTest"
    ng-required-comment="!data.form.documents.length &&  !(data.form.idCard.series && data.form.idCard.number)"
    name="at_least_one_id_document"
    >
  <p class="help-block help-block-error"
     ng-show="data.config.formName.at_least_one_id_document.$error.required">
    <span once-text="'You have to add either ID Card or at least one document!'|translate"></span>
  </p>
</div>

  <table class="table border bordered"
         ng-show="data.form.documents.length"
         ng-include="'app/person-account/templates/partials/np/documents-table.html'">
  </table>

  <div kendo-window="data.documentAddWindow"
       k-title="config.documentManageWindowTitle"
       k-width="500" k-visible="false" k-modal="true"

       k-on-close="resetDocumentBuffer(data.documentAddWindow,data.config.documentFormName)"
    >
    <div ng-include="'app/person-account/templates/partials/np/document-add-form.html'"></div>

  </div>
