<uib-accordion-heading>
  <h4 class="panel-title">
    <a data-toggle="collapse" class="help-block-error" data-target="#{{data.config.prefix}}-personal-info-panel"
       once-text="'Personal Information'|translate"></a>
    <span
      ng-show="data.config.formName.$submitted  &&
      ( data.config.formName.pi_first_name_az.$invalid
      || data.config.formName.pi_middle_name_az.$invalid
      || data.config.formName.pi_abbreviation_az.$invalid
      || data.config.formName.pi_last_name_az.$invalid
      || data.config.formName.pi_first_name_en.$invalid
      || data.config.formName.pi_middle_name_en.$invalid
      || data.config.formName.pi_abbreviation_en.$invalid
      || data.config.formName.pi_last_name_en.$invalid
      || data.config.formName.pi_name_az.$invalid
      || data.config.formName.pi_birthday.$invalid
      || data.config.formName.pi_creation_date.$invalid
      || data.config.formName.pi_citizenship_country.$invalid
      || data.config.formName.pi_jurisdiction_country.$invalid
      || data.config.formName.pi_position.$invalid
      || data.config.formName.pin_code.$invalid
      || data.config.formName.pi_azips_code.$invalid
      || data.config.formName.pi_issuer_code.$invalid
      || data.config.formName.pi_BSE_broker_code.$invalid
      || data.config.formName.pi_member_roles
      || data.config.formName.pi_warrant_start_date.$invalid
      || data.config.formName.pi_warrant_end_date.$invalid
      || data.config.formName.pi_id_card_number.$invalid
      || data.config.formName.pi_id_card_series.$invalid
      || data.config.formName.pi_reg_cert_series.$invalid
      || data.config.formName.pi_reg_cert_number.$invalid

      )"
      class="panel-has-error">*</span>

    <div><i class="glyphicon pull-right accordion-icon"></i></div>
  </h4>
</uib-accordion-heading>

<div class="panel-body-manual">

  <div class="form-horizontal">
    <div class="row">
      <!-- Person type-->
      <div
        ng-show="!data.config.isSignerForm&&!data.form.ID&&!(data.config.isShareholder && config.isUpdateOperation)&&!data.form.isUser && data.config.isNaturalPersonEnabled && data.config.isJuridicalPersonEnabled ">

        <md-radio-group ng-model="data.form.personType"
                        ng-change="changePersonType(data.form.personType,data.form.isRepresentative)" layout="row"
                        class="radd">
          <md-radio-button
            ng-repeat="personClass in metaData.personClasses"
            value="{{personClass|json}}"
            class="md-primary "> {{personClass['name'+lnC]}}
          </md-radio-button>
        </md-radio-group>

      </div>

    </div>

    <!-- ID CARD-->
    <div class="personal-info-forms"
         ng-if="data.config.fields.personal_information.fields.id_card.fields.series.is_visible">
      <div class="form-group"
           ng-class="{ 'has-error': (data.config.formName.$submitted || data.config.formName.pi_id_card_series.$touched)
             &&(data.config.formName.pi_id_card_series.$invalid)  }">

        <label class="person-info-form-labels">
                <span class="required-sign"
                      ng-if="isIDCardSeriesMandatory">*</span> <span
          once-text="'ID Card (Series)'|translate"></span>:</label>

        <div class="form-inputs">
          <input
            class="k-textbox"
            type="text"
            name="pi_id_card_series"
            ng-trim="true"
            ng-blur="findPersonByIdCard(data,data.form.idCard);data.config.formName.$setPristine(true)"
            ng-model="data.form.idCard.series"
            ng-maxlength="8"
            ng-required="isIDCardSeriesMandatory"
            ng-readonly="!data.config.fields.personal_information.fields.id_card.fields.series.is_editable"

          >

          <div class="error-message-style"
               ng-show="data.config.formName.$submitted || data.config.formName.pi_id_card_series.$touched">
            <p ng-show="data.config.formName.pi_id_card_series.$error.required"
               class="help-block help-block-error">
              <span once-text="'This field is required'|translate"></span>
            </p>
          </div>
        </div>
      </div>
    </div>
    <!--ID CARD series-->
    <div class="personal-info-forms"
         ng-if="data.config.fields.personal_information.fields.id_card.fields.doc_number.is_visible">
      <div class="form-group"
           ng-class="{ 'has-error': (data.config.formName.$submitted || data.config.formName.pi_id_card_number.$touched)
             &&(data.config.formName.pi_id_card_number.$invalid)  }">
        <label class="person-info-form-labels">
              <span class="required-sign"
                    ng-if="isIDCardNumberMandatory">*</span>
          <span once-text="'ID Card (Number)'|translate"></span>:
        </label>

        <div class="form-inputs">
          <input
            class="k-textbox"
            type="text"
            name="pi_id_card_number"
            ng-trim="true"
            ng-blur="findPersonByIdCard(data,data.form.idCard);data.config.formName.$setPristine(true)"
            ng-model="data.form.idCard.number"
            ng-required="data.form.idCard.series || isIDCardNumberMandatory"
            ng-readonly="!data.config.fields.personal_information.fields.id_card.fields.doc_number.is_editable"
          >

          <div class="error-message-style"
               ng-show="data.config.formName.$submitted || data.config.formName.pi_id_card_number.$touched">
            <p ng-show="data.config.formName.pi_id_card_number.$error.required"
               class="help-block help-block-error">
              <span once-text="'This field is required'|translate"></span>
            </p>
          </div>
        </div>
      </div>
    </div>
    <!--ID CARD number-->

    <!-- Registration certificate-->
    <div class="personal-info-forms"
         ng-if="data.config.fields.personal_information.fields.registration_certificate.fields.series.is_visible">
      <div class="form-group"
           ng-class="{ 'has-error': (data.config.formName.$submitted || data.config.formName.pi_reg_cert_series.$touched)
             &&(data.config.formName.pi_reg_cert_series.$invalid)  }">

        <label class="person-info-form-labels">
              <span class="required-sign"
                    ng-if="data.config.fields.personal_information.fields.registration_certificate.fields.series.is_mandatory">* {{ data.config.fields.personal_information.fields.registration_certificate.fields.series.is_mandatory }}</span><span
          once-text="'Registration Certificate (Series)'|translate"></span>:
        </label>

        <div class="form-inputs">
          <input
            class="k-textbox"
            type="text"
            name="pi_reg_cert_series"
            ng-trim="true"
            ng-maxlength="8"
            ng-blur="findPersonByRegistrationCertificate(data,data.form.registrationCertificate);data.config.formName.$setPristine(true)"
            ng-model="data.form.registrationCertificate.series"
            ng-required="data.config.fields.personal_information.fields.registration_certificate.fields.series.is_mandatory"
            ng-readonly="!data.config.fields.personal_information.fields.registration_certificate.fields.series.is_editable"
          >

          <div class="error-message-style"
               ng-show="data.config.formName.$submitted || data.config.formName.pi_reg_cert_series.$touched">
            <p ng-show="data.config.formName.pi_reg_cert_series.$error.required"
               class="help-block help-block-error">
              <span once-text="'This field is required'|translate"></span>
            </p>
          </div>
        </div>

      </div>

    </div>

    <!-- Reg. cert. series-->
    <div class="personal-info-forms"
         ng-if="data.config.fields.personal_information.fields.registration_certificate.fields.doc_number.is_visible">
      <div class="form-group"
           ng-class="{ 'has-error': (data.config.formName.$submitted || data.config.formName.pi_reg_cert_number.$touched)
             &&(data.config.formName.pi_reg_cert_number.$invalid)  }">
        <label class="person-info-form-labels">
              <span class="required-sign"
                    ng-if="data.config.fields.personal_information.fields.registration_certificate.fields.doc_number.is_mandatory">*</span>
          <span once-text="'Registration Certificate (Number)'|translate"></span>:
        </label>

        <div class="form-inputs">
          <input
            class="k-textbox"
            type="text"
            name="pi_reg_cert_number"
            ng-blur="findPersonByRegistrationCertificate(data,data.form.registrationCertificate);data.config.formName.$setPristine(true)"
            ng-trim="true"
            ng-maxlength="32"
            ng-model="data.form.registrationCertificate.number"
            ng-required="data.config.fields.personal_information.fields.registration_certificate.fields.doc_number.is_mandatory"
            ng-readonly="!data.config.fields.personal_information.fields.registration_certificate.fields.doc_number.is_editable"
          >

          <div class="error-message-style"
               ng-show="data.config.formName.$submitted || data.config.formName.pi_reg_cert_number.$touched">
            <p ng-show="data.config.formName.pi_reg_cert_number.$error.required"
               class="help-block help-block-error">
              <span once-text="'This field is required'|translate"></span>
            </p>

          </div>
        </div>
      </div>
    </div>
    <!-- Reg. cert. number-->

    <!--Reg cert num-->

    <!--Pin code-->
    <div class="personal-info-forms"
         ng-if="data.config.fields.personal_information.fields.pin_code.is_visible">
      <div class="form-group"
           ng-class="{ 'has-error': (data.config.formName.$submitted || data.config.formName.pin_code.$touched)
             &&(data.config.formName.pin_code.$invalid)  }">

        <input type="hidden" ng-model="data.form.ID">
        <label class="person-info-form-labels">
                <span class="required-sign"
                      ng-if="isPinCodeMandatory">*</span> <span
          once-text="'PIN Code'|translate"></span>:</label>

        <div class="form-inputs">
          <input
            class="k-textbox"
            type="text"
            name="pin_code"
            ng-maxlength="7"
            maxlength="7"
            ng-blur="findPersonByPinCode(data,data.form.pinCode.value);data.config.formName.$setPristine(true)"
            ng-model="data.form.pinCode.value"
            ng-required="isPinCodeMandatory"
            ng-readonly="!data.config.fields.personal_information.fields.pin_code.is_editable"
            ng-pattern="/^[a-zA-Z0-9]*$/"
          >

          <div class="error-message-style"
               ng-show="data.config.formName.$submitted || data.config.formName.pin_code.$touched">
            <p ng-show="data.config.formName.pin_code.$error.required"
               class="help-block help-block-error">
              <span once-text="'This field is required'|translate"></span>
            </p>

            <p
              ng-show="data.config.formName.pin_code.$error.maxlength || data.config.formName.pin_code.$error.minlength"
              class="help-block help-block-error">
              <span once-text="'Pin code must be consist of 7 symbols.'|translate"></span>
            </p>
          </div>
        </div>
      </div>
    </div>

    <!--Pin code-->
    <div class="personal-info-forms"
         ng-if="data.config.fields.personal_information.fields.TIN.is_visible">
      <div class="form-group"
           ng-class="{ 'has-error': (data.config.formName.$submitted || data.config.formName.TIN.$touched)
             &&(data.config.formName.TIN.$invalid)  }">

        <label class="person-info-form-labels">
          <span class="required-sign"
                ng-if="isTINCodeMandatory">*</span> <span
          once-text="'TIN'|translate"></span>:</label>

        <div class="form-inputs">
          <input
            class="k-textbox"
            type="text"
            name="TIN"
            ng-trim="true"
            ng-maxlength="fromJson(data.form.jurisdictionCountry).code === 'AZ' ? 10 : 100"
            ng-minlength="fromJson(data.form.jurisdictionCountry).code === 'AZ' ? 10 : 0"
            maxlength="{{ fromJson(data.form.jurisdictionCountry).code === 'AZ' ? 10 : 100 }}"
            ng-model="data.form.TIN.value"
            ng-blur="findPersonByTINCode(data,data.form.TIN.value);data.config.formName.$setPristine(true)"
            ng-required="isTINCodeMandatory"
            ng-readonly="!data.config.fields.personal_information.fields.TIN.is_editable"
          >

          <div class="error-message-style"
               ng-show="data.config.formName.$submitted || data.config.formName.TIN.$touched">
            <p ng-show="data.config.formName.TIN.$error.required"
               class="help-block help-block-error">
              <span once-text="'This field is required'|translate"></span>
            </p>

            <p
              ng-show="data.config.formName.TIN.$error.maxlength || data.config.formName.TIN.$error.minlength"
              class="help-block help-block-error">
              <span once-text="'TIN code must be consist of 10 symbols.'|translate"></span>
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- TIN -->
    <!--Issuer code-->
    <div class="personal-info-forms"
         ng-if="data.config.fields.personal_information.fields.issuer_code.is_visible">
      <div class="form-group"
           ng-class="{ 'has-error': (data.config.formName.$submitted || data.config.formName.pi_issuer_code.$touched)
             &&(data.config.formName.pi_issuer_code.$invalid)  }">

        <label class="person-info-form-labels">
                <span class="required-sign"
                      ng-if="data.config.fields.personal_information.fields.issuer_code.is_mandatory">*</span>
          <span once-text="'Issuer Code'|translate"></span>:</label>

        <div class="form-inputs">
          <input
            class="k-textbox"
            type="text"
            ng-maxlength="10"
            name="pi_issuer_code"
            ng-trim="true"
            ng-model="data.form.issuerCode.value"
            ng-required="data.config.fields.personal_information.fields.issuer_code.is_mandatory"
            ng-readonly="!data.config.fields.personal_information.fields.issuer_code.is_editable"
          >

          <div class="error-message-style"
               ng-show="data.config.formName.$submitted || data.config.formName.pi_issuer_code.$touched">
            <p ng-show="data.config.formName.pi_issuer_code.$error.required"
               class="help-block help-block-error">
              <span once-text="'This field is required'|translate"></span>
            </p>

            <p ng-show="data.config.formName.pi_issuer_code.$error.maxlength"
               class="help-block help-block-error">
              <span once-text="'Issuer code cannot be longer than 10 symbol'|translate"></span>
            </p>
          </div>
        </div>
      </div>
    </div>
    <!--BSE broker code-->
    <div class="personal-info-forms"
         ng-if="data.config.fields.personal_information.fields.BSE_broker_code.is_visible">
      <div class="form-group"
           ng-class="{ 'has-error': (data.config.formName.$submitted || data.config.formName.pi_BSE_broker_code.$touched)
             &&(data.config.formName.pi_BSE_broker_code.$invalid)  }">
        <label class="person-info-form-labels">
                <span class="required-sign"
                      ng-if="data.config.fields.personal_information.fields.BSE_broker_code.is_mandatory">*</span>
          <span once-text="'BSE Broker Code'|translate"></span>:</label>

        <div class="form-inputs">
          <input
            class="k-textbox"
            type="text"
            name="pi_BSE_broker_code"
            ng-trim="true"
            ng-model="data.form.BSEBrokerCode.value"
            ng-required="data.config.fields.personal_information.fields.BSE_broker_code.is_mandatory"
            ng-readonly="!data.config.fields.personal_information.fields.BSE_broker_code.is_editable"
          >

          <div class="error-message-style"
               ng-show="data.config.formName.$submitted || data.config.formName.pi_BSE_broker_code.$touched">
            <p ng-show="data.config.formName.pi_BSE_broker_code.$error.required"
               class="help-block help-block-error">
              <span once-text="'This field is required'|translate"></span>
            </p>

          </div>
        </div>
      </div>
    </div>
    <!--BSE issuer iD-->
    <div class="personal-info-forms"
         ng-if="data.config.fields.personal_information.fields.BSE_issuer_id.is_visible">
      <div class="form-group"
           ng-class="{ 'has-error': (data.config.formName.$submitted || data.config.formName.pi_BSE_issuer_id.$touched)
             &&(data.config.formName.pi_BSE_issuer_id.$invalid)  }">

        <label class="person-info-form-labels">
                <span class="required-sign"
                      ng-if="data.config.fields.personal_information.fields.BSE_issuer_id.is_mandatory">*</span><span
          once-text="'BSE Issuer ID'|translate"></span>:</label>

        <div class="form-inputs">
          <input
            class="k-textbox"
            type="number"
            min="0"
            name="pi_BSE_issuer_id"
            ng-model="data.form.BSEIssuerID"
            ng-required="data.config.fields.personal_information.fields.BSE_issuer_id.is_mandatory"
            ng-readonly="!data.config.fields.personal_information.fields.BSE_issuer_id.is_editable"
          >

          <div class="error-message-style"
               ng-show="data.config.formName.$submitted || data.config.formName.pi_BSE_issuer_id.$touched">
            <p ng-show="data.config.formName.pi_BSE_issuer_id.$error.required"
               class="help-block help-block-error">
              <span once-text="'This field is required'|translate"></span>
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- Name -->
    <div class="personal-info-forms"
         ng-if="data.config.fields.personal_information.fields.name.is_visible">
      <div class="form-group"
           ng-class="{ 'has-error': (data.config.formName.$submitted || data.config.formName.pi_name_az.$touched)
             &&(data.config.formName.pi_name_az.$invalid)  }">
        <label class="person-info-form-labels">
            <span class="required-sign"
                  ng-if="data.config.fields.personal_information.fields.name.is_mandatory">*</span>
          <span once-text="'Name'|translate"></span> (AZ):</label>

        <div class="form-inputs">
          <input
            class="k-textbox"
            type="text"
            name="pi_name_az"
            ng-model="data.form.name.nameAz"
            ng-required="data.config.fields.personal_information.fields.name.is_mandatory"
            ng-readonly="!data.config.fields.personal_information.fields.name.is_editable"
          >

          <div class="error-message-style"
               ng-show="data.config.formName.$submitted || data.config.formName.pi_name_az.$touched">
            <p ng-show="data.config.formName.pi_name_az.$error.required"
               class="help-block help-block-error">
              <span once-text="'This field is required'|translate"></span>
            </p>
          </div>
        </div>
      </div>
    </div>

    <!-- Last name AZ-->
    <div class="personal-info-forms"
         ng-if="data.config.fields.personal_information.fields.last_name.is_visible">
      <div class="form-group"
           ng-class="{ 'has-error': (data.config.formName.$submitted || data.config.formName.pi_last_name_az.$touched)
             &&(data.config.formName.pi_last_name_az.$invalid)  }">

        <label class="person-info-form-labels">
                <span class="required-sign"
                      ng-if="data.config.fields.personal_information.fields.last_name.is_mandatory">*</span><span
          once-text="'Last Name'|translate"></span> (AZ):</label>

        <div class="form-inputs">
          <input
            class="k-textbox"
            type="text"
            name="pi_last_name_az"
            ng-model="data.form.lastName.nameAz"
            ng-readonly="data.config.isIAMASEnabled || !data.config.fields.personal_information.fields.last_name.is_editable"
            ng-required="data.config.fields.personal_information.fields.last_name.is_mandatory"
          >

          <div class="error-message-style"
               ng-show="data.config.formName.$submitted || data.config.formName.pi_last_name_az.$touched">
            <p ng-show="data.config.formName.pi_last_name_az.$error.required"
               class="help-block help-block-error">
              <span once-text="'This field is required'|translate"></span>
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- First name AZ-->
    <div class="personal-info-forms"
         ng-if="data.config.fields.personal_information.fields.first_name.is_visible">
      <div class="form-group"
           ng-class="{ 'has-error': (data.config.formName.$submitted || data.config.formName.pi_first_name_az.$touched)
             &&(data.config.formName.pi_first_name_az.$invalid)  }">

        <label class="person-info-form-labels">
                <span class="required-sign"
                      ng-if="data.config.fields.personal_information.fields.first_name.is_mandatory">*</span>
          <span
            once-text="'First Name'|translate"></span> (AZ):</label>

        <div class="form-inputs">
          <input
            class="k-textbox"
            type="text"
            name="pi_first_name_az"
            ng-model="data.form.firstName.nameAz"
            ng-readonly="data.config.isIAMASEnabled || !data.config.fields.personal_information.fields.first_name.is_editable"
            ng-required="data.config.fields.personal_information.fields.first_name.is_mandatory"
          >

          <div class="error-message-style"
               ng-show="data.config.formName.$submitted || data.config.formName.pi_first_name_az.$touched">
            <p ng-show="data.config.formName.pi_first_name_az.$error.required"
               class="help-block help-block-error">
              <span once-text="'This field is required'|translate"></span>
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- Middle name AZ-->
    <div class="personal-info-forms"
         ng-if="data.config.fields.personal_information.fields.middle_name.is_visible">
      <div class="form-group"
           ng-class="{ 'has-error': (data.config.formName.$submitted || data.config.formName.pi_middle_name_az.$touched)
             &&(data.config.formName.pi_middle_name_az.$invalid)  }">

        <label class="person-info-form-labels"><span class="required-sign"
                                                     ng-if="data.config.fields.personal_information.fields.middle_name.is_mandatory">*</span>
          <span once-text="'Middle Name'|translate"></span> (AZ):</label>

        <div class="form-inputs">
          <input
            class="k-textbox"
            type="text"
            name="pi_middle_name_az"
            ng-readonly="data.config.isIAMASEnabled || !data.config.fields.personal_information.fields.middle_name.is_editable"
            ng-model="data.form.middleName.nameAz"
            ng-required="data.config.fields.personal_information.fields.middle_name.is_mandatory"
          >

          <div class="error-message-style"
               ng-show="data.config.formName.$submitted || data.config.formName.pi_middle_name_az.$touched">
            <p ng-show="data.config.formName.pi_middle_name_az.$error.required"
               class="help-block help-block-error">
              <span once-text="'This field is required'|translate"></span>
            </p>
          </div>
        </div>
      </div>
    </div>

    <!-- Abbreviation AZ-->
    <div class="personal-info-forms"
         ng-if="data.config.fields.personal_information.fields.abbreviation.is_visible">
      <div class="form-group"
           ng-class="{ 'has-error': (data.config.formName.$submitted || data.config.formName.pi_abbreviation_az.$touched)
             &&(data.config.formName.pi_abbreviation_az.$invalid)  }">
        <label class="person-info-form-labels">
                <span class="required-sign"
                      ng-if="data.config.fields.personal_information.fields.abbreviation.is_mandatory">*</span><span
          once-text="'Abbreviation'|translate"></span> (AZ):</label>

        <div class="form-inputs">
          <input
            class="k-textbox"
            type="text"
            name="pi_abbreviation_az"
            ng-model="data.form.abbreviation.nameAz"
            ng-required="data.config.fields.personal_information.fields.abbreviation.is_mandatory"
            ng-readonly="!data.config.fields.personal_information.fields.abbreviation.is_editable"
          >

          <div class="error-message-style"
               ng-show="data.config.formName.$submitted || data.config.formName.pi_abbreviation_az.$touched">
            <p ng-show="data.config.formName.pi_abbreviation_az.$error.required"
               class="help-block help-block-error">
              <span once-text="'This field is required'|translate"></span>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="personal-info-forms"
         ng-show="data.config.showNameGroups || data.config.fields.isEnRequired.is_mandatory">
      <!-- Name-->
      <!--<div class="row">-->
      <div ng-if="data.config.fields.personal_information.fields.name.is_visible">
        <div class="form-group"
             ng-class="{ 'has-error': (data.config.formName.$submitted || data.config.formName.pi_name_en.$touched)
             &&(data.config.formName.pi_name_en.$invalid)  }"
        >
          <label class="person-info-form-labels">
              <span class="required-sign"
                    ng-if="data.config.fields.isEnRequired.is_mandatory && data.config.fields.personal_information.fields.name.is_mandatory">*</span>
            <span once-text="'Name'|translate"></span> (EN):</label>

          <div class="form-inputs">
            <input
              class="k-textbox"
              type="text"
              name="pi_name_en"
              ng-required="data.config.fields.isEnRequired.is_mandatory && data.config.fields.personal_information.fields.name.is_mandatory "
              ng-readonly="!data.config.fields.personal_information.fields.name.is_editable "
              ng-model="data.form.name.nameEn"
            >

            <div class="error-message-style"
                 ng-show="data.config.formName.$submitted || data.config.formName.pi_name_en.$touched">
              <p ng-show="data.config.formName.pi_name_en.$error.required"
                 class="help-block help-block-error">
                <span once-text="'This field is required'|translate"></span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Last name EN-->
    <div class="personal-info-forms"
         ng-show="data.config.showNameGroups || data.config.fields.isEnRequired.is_mandatory">
      <div ng-if="data.config.fields.personal_information.fields.last_name.is_visible">
        <div class="form-group"
             ng-class="{ 'has-error': (data.config.formName.$submitted || data.config.formName.pi_last_name_en.$touched)
             &&(data.config.formName.pi_last_name_en.$invalid)  }">
          <label class="person-info-form-labels"><span class="required-sign"
                                                       ng-if="data.config.fields.isEnRequired.is_mandatory && data.config.fields.personal_information.fields.last_name.is_mandatory">*</span><span
            once-text="'Last Name'|translate"></span> (EN):</label>

          <div class="form-inputs">
            <input
              class="k-textbox"
              name="pi_last_name_en"
              type="text"
              ng-model="data.form.lastName.nameEn"
              ng-required="data.config.fields.isEnRequired.is_mandatory && data.config.fields.personal_information.fields.last_name.is_mandatory"
              ng-readonly="!data.config.fields.personal_information.fields.last_name.is_editable"
            >

            <div class="error-message-style"
                 ng-show="data.config.formName.$submitted || data.config.formName.pi_last_name_en.$touched">
              <p ng-show="data.config.formName.pi_last_name_en.$error.required"
                 class="help-block help-block-error">
                <span once-text="'This field is required'|translate"></span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- First name EN-->
    <div class="personal-info-forms"
         ng-show="data.config.showNameGroups || data.config.fields.isEnRequired.is_mandatory">
      <div ng-if="data.config.fields.personal_information.fields.first_name.is_visible">
        <div class="form-group"
             ng-class="{ 'has-error': (data.config.formName.$submitted || data.config.formName.pi_first_name_en.$touched)
             &&(data.config.formName.pi_first_name_en.$invalid)  }">
          <label class="person-info-form-labels"><span class="required-sign"
                                                       ng-if="data.config.fields.isEnRequired.is_mandatory && data.config.fields.personal_information.fields.first_name.is_mandatory">*</span>
            <span once-text="'First Name'|translate"></span> (EN):</label>

          <div class="form-inputs">
            <input
              class="k-textbox"
              type="text"
              name="pi_first_name_en"
              ng-readonly="data.config.isIAMASEnabled || !data.config.fields.personal_information.fields.first_name.is_editable"
              ng-model="data.form.firstName.nameEn"
              ng-required="data.config.fields.isEnRequired.is_mandatory && data.config.fields.personal_information.fields.first_name.is_mandatory"
            >

            <div class="error-message-style"
                 ng-show="data.config.formName.$submitted || data.config.formName.pi_first_name_en.$touched">
              <p ng-show="data.config.formName.pi_first_name_en.$error.required"
                 class="help-block help-block-error">
                <span once-text="'This field is required'|translate"></span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Middle name EN-->
    <div class="personal-info-forms"
         ng-show="data.config.showNameGroups || data.config.fields.isEnRequired.is_mandatory">
      <div ng-if="data.config.fields.personal_information.fields.middle_name.is_visible">

        <div class="form-group "
             ng-class="{ 'has-error': (data.config.formName.$submitted || data.config.formName.pi_middle_name_en.$touched)
             &&(data.config.formName.pi_middle_name_en.$invalid)  }">

          <label class="person-info-form-labels"><span class="required-sign"
                                                       ng-if="data.config.fields.isEnRequired.is_mandatory && data.config.fields.personal_information.fields.middle_name.is_mandatory">*</span><span
            once-text="'Middle Name'|translate"></span> (EN):</label>

          <div class="form-inputs">
            <input
              class="k-textbox"
              name="pi_middle_name_en"
              type="text"
              ng-model="data.form.middleName.nameEn"
              ng-readonly="data.config.isIAMASEnabled || data.config.fields.personal_information.fields.middle_name.is_editable"
              ng-required="data.config.fields.isEnRequired.is_mandatory && data.config.fields.personal_information.fields.middle_name.is_mandatory"
            >

            <div class="error-message-style"
                 ng-show="data.config.formName.$submitted || data.config.formName.pi_middle_name_en.$touched">
              <p ng-show="data.config.formName.pi_middle_name_en.$error.required"
                 class="help-block help-block-error">
                <span once-text="'This field is required'|translate"></span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>


    <!-- Abbreviation EN-->
    <div class="personal-info-forms"
         ng-show="data.config.showNameGroups || data.config.fields.isEnRequired.is_mandatory">
      <div ng-if="data.config.fields.personal_information.fields.abbreviation.is_visible">
        <div class="form-group"
             ng-class="{ 'has-error': (data.config.formName.$submitted || data.config.formName.pi_abbreviation_en.$touched)
             &&(data.config.formName.pi_abbreviation_en.$invalid)  }">
          <label class="person-info-form-labels">
                <span class="required-sign"
                      ng-if="data.config.fields.isEnRequired.is_mandatory && data.config.fields.personal_information.fields.abbreviation.is_mandatory">*</span><span
            once-text="'Abbreviation'|translate"></span> (EN):</label>

          <div class="form-inputs">
            <input
              class="k-textbox"
              type="text"
              name="pi_abbreviation_en"
              ng-model="data.form.abbreviation.nameEn"
              ng-required="data.config.fields.isEnRequired.is_mandatory && data.config.fields.personal_information.fields.abbreviation.is_mandatory"
              ng-readonly="!data.config.fields.personal_information.fields.abbreviation.is_editable"
            >

            <div class="error-message-style"
                 ng-show="data.config.formName.$submitted || data.config.formName.pi_abbreviation_en.$touched">
              <p ng-show="data.config.formName.pi_abbreviation_en.$error.required"
                 class="help-block help-block-error">
                <span once-text="'This field is required'|translate"></span>
              </p>
            </div>
          </div>
        </div>
      </div>


    </div>

    <!-- Birthday-->
    <div class="personal-info-forms" ng-if="data.config.fields.personal_information.fields.birthday.is_visible">
      <div class="form-group"
           ng-class="{ 'has-error': (data.config.formName.$submitted || data.config.formName.pi_birthday.$touched)
             &&(data.config.formName.pi_birthday.$invalid)  }">

        <label class="person-info-form-labels"><span class="required-sign"
                                                     ng-if="data.config.fields.personal_information.fields.birthday.is_mandatory">*</span>
          <span once-text="'Birthday'|translate"></span>:</label>

        <div class="form-inputs">
          <input
            type="text"
            name="pi_birthday"
            class="datepicker-cst"
            kendo-date-picker
            ng-model="data.form.birthdayStr"
            k-ng-model="data.form.birthdayObj"
            ng-required="data.config.fields.personal_information.fields.birthday.is_mandatory"
            ng-readonly="!data.config.fields.personal_information.fields.birthday.is_editable"
          >
          <!--<span class="glyphicon glyphicon-question-sign glyphicon-question-sign-style">-->
          <!--<md-tooltip md-direction="right">-->
          <!--<span>help</span>-->
          <!--</md-tooltip>-->
          <!--</span>-->


          <div class="error-message-style"
               ng-show="data.config.formName.$submitted || data.config.formName.pi_birthday.$touched">

            <p ng-show="data.config.formName.pi_birthday.$error.required"
               class="help-block help-block-error">
              <span once-text="'This field is required'|translate"></span>
            </p>

            <p ng-show="data.config.formName.pi_birthday.$error.csmKendoDate"
               class="help-block help-block-error">
              <span once-text="'Please enter a valid date!'|translate"></span>
            </p>
          </div>
        </div>
      </div>
    </div>

    <!-- Creation date-->

    <div class="personal-info-forms"
         ng-if="data.config.fields.personal_information.fields.creation_date.is_visible">
      <div class="form-group md-default-theme" md-theme="default"
           ng-class="{ 'has-error': (data.config.formName.$submitted || data.config.formName.pi_creation_date.$touched)
             &&(data.config.formName.pi_creation_date.$invalid)  }">
        <label class="person-info-form-labels">
              <span class="required-sign"
                    ng-if="data.config.fields.personal_information.fields.creation_date.is_mandatory">*</span>
          <span once-text="'Creation Date'|translate"></span>:</label>

        <div class="form-inputs">
          <input
            type="text"
            name="pi_creation_date"
            class="datepicker-cst"
            kendo-date-picker
            ng-model="data.form.creationDateStr"
            k-ng-model="data.form.creationDateObj"
            ng-required="data.config.fields.personal_information.fields.creation_date.is_mandatory"
            ng-readonly="!data.config.fields.personal_information.fields.creation_date.is_editable"
            md-placeholder="..."
          >
          <!--<span class="glyphicon glyphicon-question-sign glyphicon-question-sign-style">-->
          <!--<md-tooltip md-direction="right">-->
          <!--<span>help</span>-->
          <!--</md-tooltip>-->
          <!--</span>-->

          <div class="error-message-style"
               ng-show="data.config.formName.$submitted || data.config.formName.pi_creation_date.$touched">

            <p ng-show="data.config.formName.pi_creation_date.$error.required"
               class="help-block help-block-error">
              <span once-text="'This field is required'|translate"></span>
            </p>

            <p ng-show="data.config.formName.pi_creation_date.$error.csmKendoDate"
               class="help-block help-block-error">
              <span once-text="'Please enter a valid date!'|translate"></span>
            </p>
          </div>
        </div>
      </div>
    </div>

    <!-- Citizenship country-->

    <div class="personal-info-forms"
         ng-if="data.config.fields.personal_information.fields.citizenship_country.is_visible">

      <div class="form-group"
           ng-class="{ 'has-error': (data.config.formName.$submitted || data.config.formName.pi_citizenship_country.$touched)
             &&(data.config.formName.pi_citizenship_country.$invalid)  }">
        <label class="person-info-form-labels">
                <span class="required-sign"
                      ng-if="data.config.fields.personal_information.fields.citizenship_country.is_mandatory">*</span><span
          once-text="'Citizenship'|translate"></span>:</label>

        <div class="form-inputs">
          <select
            name="pi_citizenship_country"
            ng-model="data.form.citizenshipCountry"
            ng-init="citizenshipCountryChange(data.form.citizenshipCountry, data.config.fields.personal_information.fields.citizenship_country.is_mandatory)"
            ng-change="citizenshipCountryChange(data.form.citizenshipCountry, data.config.fields.personal_information.fields.citizenship_country.is_mandatory)"
            ng-required="data.config.fields.personal_information.fields.citizenship_country.is_mandatory"
            ng-disabled="!data.config.fields.personal_information.fields.citizenship_country.is_editable"
          >
            <option value="">---</option>
            <option ng-repeat="option in metaData.countries" value="{{option|json}}">{{option['name'+lnC]}}</option>
          </select>

          <div class="error-message-style"
               ng-show="data.config.formName.$submitted || data.config.formName.pi_citizenship_country.$touched">
            <p ng-show="data.config.formName.pi_citizenship_country.$error.required"
               class="help-block help-block-error">
              <span once-text="'This field is required'|translate"></span>
            </p>
          </div>
        </div>
      </div>
    </div>

    <!-- Citizenship country-->

    <!--Jurisdiction country-->

    <div class="personal-info-forms"
         ng-if="data.config.fields.personal_information.fields.jurisdiction_country.is_visible">

      <div class="form-group"
           ng-class="{ 'has-error': (data.config.formName.$submitted || data.config.formName.pi_jurisdiction_country.$touched)
             &&(data.config.formName.pi_jurisdiction_country.$invalid)  }">
        <label class="person-info-form-labels"><span class="required-sign"
                                                     ng-if="data.config.fields.personal_information.fields.jurisdiction_country.is_mandatory">*</span>
          <span once-text="'Jurisdiction Country'|translate"></span>:</label>

        <div class="form-inputs">
          <select
            ng-model="data.form.jurisdictionCountry"
            name="pi_jurisdiction_country"
            ng-init="jurisdictionCountryChange(data)"
            ng-change="jurisdictionCountryChange(data)"
            ng-required="data.config.fields.personal_information.fields.jurisdiction_country.is_mandatory"
            ng-disabled="!data.config.fields.personal_information.fields.jurisdiction_country.is_editable"
          >
            <option value="">---</option>
            <option ng-repeat="option in metaData.countries" value="{{option|json}}">{{option['name'+lnC]}}</option>
          </select>

          <div class="error-message-style"
               ng-show="data.config.formName.$submitted || data.config.formName.pi_jurisdiction_country.$touched">
            <p ng-show="data.config.formName.pi_jurisdiction_country.$error.required"
               class="help-block help-block-error">
              <span once-text="'This field is required'|translate"></span>
            </p>
          </div>
        </div>
      </div>
    </div>

    <!--Jurisdiction country-->

    <!--Business class-->

    <div class="personal-info-forms"
         ng-if="data.config.fields.personal_information.fields.business_class.is_visible">

      <div class="form-group"
           ng-class="{ 'has-error': (data.config.formName.$submitted || data.config.formName.pi_business_class.$touched)
             &&(data.config.formName.pi_business_class.$invalid)  }">


        <label class="person-info-form-labels">
          <span class="required-sign"
                ng-if="data.config.fields.personal_information.fields.business_class.is_mandatory">*</span>
          <span once-text="'Business Class'|translate"></span>:</label>


        <div class="form-inputs">

          <md-radio-group
            ng-model="data.form.businessClassCode"
            ng-change="businessClassCodeChange(data.form.businessClassCode, data.form)">
            <md-radio-button value="{{obj|json}}" class="md-primary" style="margin: 0"
                             ng-repeat="obj in metaData.businessClasses"
                             ng-disabled="!data.config.fields.personal_information.fields.business_class.is_editable">{{
              obj['name'+lnC] }}
            </md-radio-button>
          </md-radio-group>

          <div class="error-message-style"
               ng-show="data.config.formName.$submitted || data.config.formName.pi_business_class.$touched">
            <p ng-show="data.config.formName.pi_business_class.$error.required"
               class="help-block help-block-error">
              <span once-text="'This field is required'|translate"></span>
            </p>
          </div>
        </div>
      </div>
    </div>


    <div class="personal-info-forms"
         ng-show="data.form.childBusinessClasses && data.form.childBusinessClasses.length > 1"
         ng-if="data.config.fields.personal_information.fields.business_class.is_visible">

      <div class="form-group"
           ng-class="{ 'has-error': (data.config.formName.$submitted || data.config.formName.pi_business_class.$touched)
             &&(data.config.formName.pi_business_class.$invalid)  }">


        <label class="person-info-form-labels">
          Alt sektor:</label>

        <div class="form-inputs">

          <select
            ng-model="data.form.businessClass"
            name="pi_business_class"
            ng-disabled="!data.config.fields.personal_information.fields.business_class.is_editable"
          >
            <option value="">---</option>
            <option ng-repeat="option in data.form.childBusinessClasses" value="{{option|json}}">{{option['name'+lnC]}}
            </option>
          </select>

          <div class="error-message-style"
               ng-show="data.config.formName.$submitted || data.config.formName.pi_business_class.$touched">
            <p ng-show="data.config.formName.pi_business_class.$error.required"
               class="help-block help-block-error">
              <span once-text="'This field is required'|translate"></span>
            </p>
          </div>
        </div>
      </div>
    </div>


    <!--Business class-->

    <div class="personal-info-forms"
         ng-if="data.config.fields.personal_information.fields.legal_form_class.is_visible">

      <div class="form-group"
           ng-class="{ 'has-error': (data.config.formName.$submitted || data.config.formName.pi_legal_form_class.$touched)
             &&(data.config.formName.pi_legal_form_class.$invalid)  }">

        <label class="person-info-form-labels"><span class="required-sign"
                                                     ng-if="data.config.fields.personal_information.fields.legal_form_class.is_mandatory">*</span><span
          once-text="'Legal Form Class'|translate"></span>:</label>

        <div class="form-inputs">
          <select
            ng-model="data.form.legalFormClassCode"
            name="pi_legal_form_class"
            ng-change="legalFormClassCodeChange(data.form.legalFormClassCode, data.form)"
            ng-required="data.config.fields.personal_information.fields.legal_form_class.is_mandatory"
            ng-disabled="!data.config.fields.personal_information.fields.legal_form_class.is_editable"
          >

            <option value="">---</option>
            <option
              value="{{lfC|json}}"
              ng-repeat="lfC in metaData.legalFormClasses">{{lfC['name'+lnC]}}
            </option>
          </select>


          <div class="error-message-style"
               ng-show="data.config.formName.$submitted || data.config.formName.pi_legal_form_class.$touched">
            <p ng-show="data.config.formName.pi_legal_form_class.$error.required"
               class="help-block help-block-error">
              <span once-text="'This field is required'|translate"></span>
            </p>
          </div>
        </div>
      </div>
    </div>


    <div class="personal-info-forms"
         ng-show="data.form.childLegalClasses && data.form.childLegalClasses.length > 1">
      <div class="form-group">
        <label class="person-info-form-labels">
          Alt Sektor:
        </label>

        <div class="form-inputs">
          <select
            ng-model="data.form.legalFormClass"
          >
            <option value="">---</option>
            <option ng-repeat="option in data.form.childLegalClasses" value="{{option|json}}">{{option['name'+lnC]}}
            </option>
          </select>
        </div>
      </div>
    </div>
    <!--Legal form class-->

    <!-- Warrant start date-->
    <div class="personal-info-forms"
         ng-if="data.config.fields.personal_information.fields.warrant_start_date.is_visible">
      <div class="form-group"
           ng-class="{ 'has-error': (data.config.formName.$submitted || data.config.formName.pi_warrant_start_date.$touched)
             &&(data.config.formName.pi_warrant_start_date.$invalid)  }">
        <label class="person-info-form-labels"><span class="required-sign"
                                                     ng-if="data.config.fields.personal_information.fields.warrant_start_date.is_mandatory">*</span><span
          once-text="'Warrant Start Date'|translate"></span>:</label>

        <div class="form-inputs">
          <input
            type="text"
            name="pi_warrant_start_date"
            class="datepicker-cst"
            kendo-date-picker
            ng-model="data.form.warrantStartDateStr"
            k-ng-model="data.form.warrantStartDateObj"
            ng-required="data.config.fields.personal_information.fields.warrant_start_date.is_mandatory"
            ng-readonly="!data.config.fields.personal_information.fields.warrant_start_date.is_editable"
          >

          <div class="error-message-style"
               ng-show="data.config.formName.$submitted || data.config.formName.pi_warrant_start_date.$touched">

            <p ng-show="data.config.formName.pi_warrant_start_date.$error.required"
               class="help-block help-block-error">
              <span once-text="'This field is required'|translate"></span>
            </p>

            <p ng-show="data.config.formName.pi_warrant_start_date.$error.csmKendoDate"
               class="help-block help-block-error">
              <span once-text="'Please enter a valid date!'|translate"></span>
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- Warrant end date-->
    <div class="personal-info-forms"
         ng-if="data.config.fields.personal_information.fields.warrant_end_date.is_visible">
      <div class="form-group"
           ng-class="{ 'has-error': (data.config.formName.$submitted || data.config.formName.pi_warrant_end_date.$touched)
             &&(data.config.formName.pi_warrant_end_date.$invalid)  }">
        <label class="person-info-form-labels">
              <span class="required-sign"
                    ng-if="data.config.fields.personal_information.fields.warrant_end_date.is_mandatory">*</span><span
          once-text="'Warrant End Date'|translate"></span>:</label>

        <div class="form-inputs">
          <input
            type="text"
            name="pi_warrant_end_date"
            class="datepicker-cst"
            kendo-date-picker
            ng-model="data.form.warrantEndDateStr"
            k-ng-model="data.form.warrantEndDateObj"
            ng-required="data.config.fields.personal_information.fields.warrant_end_date.is_mandatory"
            ng-readonly="!data.config.fields.personal_information.fields.warrant_end_date.is_editable"
          >

          <div class="error-message-style"
               ng-show="data.config.formName.$submitted || data.config.formName.pi_warrant_end_date.$touched">

            <p ng-show="data.config.formName.pi_warrant_end_date.$error.required"
               class="help-block help-block-error">
              <span once-text="'This field is required'|translate"></span>
            </p>

            <p ng-show="data.config.formName.pi_warrant_end_date.$error.csmKendoDate"
               class="help-block help-block-error">
              <span once-text="'Please enter a valid date!'|translate"></span>
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- Subject to fatca-->
    <div class="personal-info-forms"
         ng-if="data.config.fields.personal_information.fields.subject_to_fatca.is_visible"
    >
      <div class="form-group">
        <label class="person-info-form-labels">
          <span once-text="'Subject to FATCA'|translate"></span>:</label>

        <div class="form-inputs">
          <md-checkbox
            aria-label="Subject to FATCA"
            type="checkbox"
            ng-model="data.form.subjectToFatca"
            class=" md-checkbox-style"
          >
        </div>

      </div>
    </div>
    <!-- Note on fatca-->
    <div class="personal-info-forms"
         ng-if="data.config.fields.personal_information.fields.note_on_fatca.is_visible"
    >
      <div class="form-group"
           ng-class="{ 'has-error': (data.config.formName.$submitted || data.config.formName.pi_note_on_fatca.$touched)
              &&(data.config.formName.pi_note_on_fatca.$invalid)  }">
        <label class="person-info-form-labels">
                <span class="required-sign"
                      ng-if="data.config.fields.personal_information.fields.note_on_fatca.is_mandatory">*</span>
          <span once-text="'Note on FATCA'|translate"></span>:</label>

        <div class="form-inputs">
          <textarea
            rows="3"
            class="k-textbox"
            type="text"
            name="pi_note_on_fatca"
            ng-model="data.form.noteOnFatca"
            ng-required="data.config.fields.personal_information.fields.note_on_fatca.is_mandatory"
            ng-disabled="!data.config.fields.personal_information.fields.note_on_fatca.is_editable"
          ></textarea>


          <div class="error-message-style" ng-show="data.config.formName.$submitted || form.pi_note_on_fatca.$touched">
            <p ng-show="data.config.formName.pi_note_on_fatca.$error.required"
               class="help-block help-block-error">
              <span once-text="'This field is required'|translate"></span>
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- Signer position-->
    <div class="personal-info-forms"
         ng-if="data.config.isSignerForm">

      <div class="form-group"
           ng-class="{ 'has-error': (data.config.formName.$submitted || data.config.formName.pi_position.$touched)
             &&(data.config.formName.pi_position.$invalid)  }">

        <label class="person-info-form-labels">
          <span class="required-sign">*</span><span
          once-text="'Position'|translate"></span>:</label>

        <div class="form-inputs">
          <select
            ng-model="data.form.position"
            name="pi_position"
            ng-required="true"
          >
            <option value="">---</option>
            <option ng-repeat="option in metaData.signerPositions" value="{{option|json}}">
              {{option['name'+lnC]}}
            </option>

          </select>

          <div class="error-message-style"
               ng-show="data.config.formName.$submitted || data.config.formName.pi_position.$touched">
            <p ng-show="data.config.formName.pi_position.$error.required"
               class="help-block help-block-error">
              <span once-text="'This field is required'|translate"></span>
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- Settlement Agent-->
    <!-- -->
    <div class="personal-info-forms"
         ng-if="data.config.fields.settlement_agent.is_visible">
      <div class="form-group">

        <label class="person-info-form-labels" style="margin-top: 10px">
          <span once-text="'Settlement Agent'|translate"></span>:
        </label>

        <div class="form-inputs">
          <input
            class="k-textbox"
            type="text"
            disabled="disabled"
            readonly="readonly"
            name="settlement_agent"
            ng-trim="true"
            ng-model="data.form.settlementAgent.name"
          >
        </div>
        <md-button
          type="button"
          class="md-fab md-micro"
          aria-label="search button"
          ng-click="findSettlementAgent(data.form)">
          <i class="glyphicon glyphicon-search micro-glyphicon"></i>
          <md-tooltip md-direction="down">
            <span once-text="'Find Settlement Agent'|translate"></span>
          </md-tooltip>
        </md-button>
        <md-button
          type="button"
          class="md-fab md-micro"
          aria-label="refresh button"
          ng-click="removeSettlementAgent(data.form)">
          <md-tooltip md-direction="down">
            <span once-text="'Remove Settlement Agent'|translate"></span>
          </md-tooltip>
          <i class="glyphicon glyphicon-refresh micro-glyphicon"></i>
          <!--<span once-text="'Reset form'|translate"></span>-->
        </md-button>
      </div>
    </div>
  </div>
</div>
