<uib-accordion-heading>
  <h4 class="panel-title">
    <a data-toggle="collapse" data-target="#{{data.config.prefix}}-representatives-panel" class="collapsed"
       once-text="'Representatives'|translate">
    </a>

    <div><i class="glyphicon pull-right accordion-icon"></i></div>
        <span
          ng-show="data.config.fields.representatives.is_mandatory
                   && data.config.formName.$submitted
                   && data.config.formName.representativesLength.$error.csmMinLength"
          class="panel-has-error">*</span>
  </h4>

</uib-accordion-heading>

<div class="panel-body">
  <div ng-if="data.config.fields.representatives.is_mandatory">
    <input
      type="hidden"
      readonly
      csm-min-length="1"
      name="representativesLength"
      ng-model="data.form.representatives"
      >

    <div class="has-error">
      <p class="help-block help-block-error"
         ng-show="data.config.formName.$submitted && data.config.formName.representativesLength.$error.csmMinLength">
        <span once-text="'You must add at least one representative!'|translate"></span>
      </p>
    </div>
  </div>

  <h4 once-text="'Representatives'|translate"></h4>
  <table class="table border bordered"
         ng-include="'app/person-account/templates/partials/np/representatives-table.html'">
  </table>
  <md-button class="md-micro md-fab" ng-click="showRepresentativeAddForm(data.representativeAddWindow,false)"
             aria-label="search button">
    <i class="glyphicon glyphicon-plus micro-glyphicon"></i>
    <md-tooltip md-direction="down">
      <span once-text="'Add New Representative'|translate"></span>
    </md-tooltip>
    <!--<span once-text="'Add New Representative'|translate"></span>-->
  </md-button>
  <md-button type="button" class="md-micro md-fab" ng-click="findRepresentative()" aria-label="search button">
    <i class="glyphicon glyphicon-search micro-glyphicon"></i>
    <md-tooltip md-direction="down">
      <span once-text="'Find Representative'|translate"></span>
    </md-tooltip>
    <!--<span once-text="'Find Representative'|translate"></span>-->
  </md-button>



  <!-- Signers enabled only if person type is juridical-->
  <div
    ng-if="!data.config.fields.personal_information.fields.first_name.is_visible && data.config.fields.personal_information.fields.name.is_visible">
    <hr/>
    <h4 once-text="'Signers'|translate"></h4>
    <table class="table border bordered"

           ng-include="'app/person-account/templates/partials/np/signers-table.html'">
    </table>
    <md-button class="md-micro md-fab" ng-click="showRepresentativeAddForm(data.signerAddWindow,true)"
               aria-label="search button">
      <i class="glyphicon glyphicon-plus micro-glyphicon"></i>
      <md-tooltip md-direction="down">
        <span once-text="'Add New Signer'|translate"></span>
      </md-tooltip>
      <!--<span once-text="'Add New Representative'|translate"></span>-->
    </md-button>
    <md-button type="button" class="md-micro md-fab" ng-click="findRepresentative(true)" aria-label="search button">
      <i class="glyphicon glyphicon-search micro-glyphicon"></i>
      <md-tooltip md-direction="down">
        <span once-text="'Find Signer'|translate"></span>
      </md-tooltip>
      <!--<span once-text="'Find Representative'|translate"></span>-->
    </md-button>
  </div>
  <div kendo-window="data.representativeAddWindow"
       k-title="'Representative'"
       k-modal="true"
       k-width="'80%'" k-height="'80%'" k-visible="false"
       k-on-close="resetRepresentativesBuffer(data.representativeAddWindow,data.config.formName)"
    >

    <div ng-include="'app/person-account/templates/partials/np/representative_form.html'"></div>
  </div>

  <div kendo-window="data.signerAddWindow"
       k-title="'Signer'"
       k-modal="true"
       k-width="'80%'" k-height="'80%'" k-visible="false"
       k-on-close="resetRepresentativesBuffer(data.signerAddWindow,data.config.formName)"
    >

    <div ng-include="'app/person-account/templates/partials/np/signer_form.html'"></div>
  </div>

</div>
