<div data-block="content">
    <md-button class="md-fab md-micro"
               ng-click="findIamasPerson()"
               aria-label="Find Iamas Person">
        <i class="glyphicon glyphicon-plus micro-glyphicon"></i>
    </md-button>
    <table class="table table-striped table-hover table-responsive table-bordered" ng-if="personData">
        <tr>
            <th></th>
            <td><img ng-src="data:image/{{personData.Image.format}};base64,{{personData.Image.data}}" alt=""></td>
        </tr>
        <tr>
            <th>Ad</th>
            <td>{{personData.Profile.Name_AZ}}</td>
        </tr>
        <tr>
            <th>Soyad</th>
            <td>{{personData.Profile.Surname_AZ}}</td>
        </tr>
        <tr>
            <th>Ata adı</th>
            <td>{{personData.Profile.FatherName_AZ}}</td>
        </tr>
        <tr>
            <th>Hüquqi Ünvan</th>
            <td>{{personData.realAddress.FullAddress}}</td>
        </tr>
    </table>
</div>