<uib-accordion-heading>
  <h4 class="panel-title">
    <a data-toggle="collapse" data-target="#{{data.config.prefix}}-users-panel" class="collapsed"
       once-text="'User'|translate">
    </a>
    <div><i class="glyphicon pull-right accordion-icon"></i></div>
        <span
          ng-show="data.config.formName.$submitted && data.config.formName.usersLength.$error.csmMinLength"
          class="panel-has-error">*</span>
  </h4>
</uib-accordion-heading>

<div class="panel-body">

  <label>
    <span once-text="'User Account Enabled'|translate"></span>
  </label>
  <md-switch
    name="user_account"
    ng-model="userAccountEnabled"
    ng-change="userAccountAvailabilityChange(userAccountEnabled,data.form)"
    data-ng-value="false"
    aria-label="Switch 1"
    class="md-cst-checkbox">
  </md-switch>

  <div ng-if="userAccountEnabled">
    <input
      type="hidden"
      readonly
      csm-min-length="1"
      name="usersLength"
      ng-model="data.form.users"
      >

    <div class="has-error">
      <p class="help-block help-block-error"
         ng-show="data.config.formName.$submitted && data.config.formName.usersLength.$error.csmMinLength">
        <span once-text="'You must add at least one user!'|translate"></span>
      </p>
    </div>
  </div>

  <table class="table border bordered"
         ng-show="data.form.users.length"
         ng-include="'app/person-account/templates/partials/np/users-table.html'">
  </table>
  <md-button ng-if="userAccountEnabled && data.form.users.length<1" class="md-fab md-micro" aria-label="plus button"
             ng-click="openWindow(data.userAddWindow)">
    <i class="glyphicon glyphicon-plus micro-glyphicon"></i>
    <md-tooltip><span once-text="'Add User'|translate"></span></md-tooltip>
  </md-button>

  <div
    kendo-window="data.userAddWindow"
    k-title="'User'"
    k-modal="true"
    k-width="'90%'" k-height="'90%'" k-visible="false"
    k-on-close="resetUsersBuffer(data.userAddWindow,data.config.formName)"
    >
    <div ng-include="'app/person-account/templates/partials/np/user_form.html'"></div>

  </div>
</div>

