


<div class="form-horizontal" role="form">
  <div class="form-group">
    <label class="control-label col-lg-2 col-md-2 col-sm-2 col-xs-2">
      <span class="required-sign">*</span>
      <span once-text="'Username'|translate"></span>:
    </label>

    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
      <input
        class="k-textbox"
        type="text"
        name="b_username"
        ng-model="buffers.user.form.username"
        ng-required="true"
        >
    </div>
  </div>
  <div class="form-group" ng-if="buffers.user.isNewUser">
    <label class="control-label col-lg-2 col-md-2 col-sm-2 col-xs-2">
      <span class="required-sign">*</span>
      <span once-text="'Password'|translate"></span>:</label>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
      <input
        class="k-textbox"
        type="b_password"
        name="b_password"
        ng-model="buffers.user.form.password"
        ng-required="true"
        >
    </div>
  </div>

  <div class="form-group md-switch-position">

    <label><span class="md-checkbox-label small-check" once-text="'Strong Authentication Required'|translate"></span>:</label>
    <label class="input-control">
      <md-switch name="strong-auth-required"
                 ng-model="buffers.user.form.strongAuthRequired"
                 aria-label="Switch 1"
                 class=" md-cst-checkbox">

      </md-switch>
    </label>

  </div>
</div>

