<span kendo-notification="widgets.kendoNotification" k-options="kendoNotificationOptions"></span>
<!--Placeholder for push notifications-->
<div class="pull-left operations-block-style" id="home-operations" data-hidden="false">
  <div class="home-operations-block pull-left content">
    <div id="logo-container">
      <div class="logo">
        <div id="logo-image"></div>
        <span>CS/DR</span>
      </div>
      <md-menu class="header-menu context-menu user-profile-menu">
        <md-button aria-label="User block" class="md-icon-button no-margin user-block-button"
                   ng-click="$mdOpenMenu($event)">
          <i class="icon icon-user-profile"></i>
          <i class="icon icon-dropdown"></i>
          <span class="username-style" ng-bind="user.userContext.person.nameAz"></span>
          <md-tooltip md-direction="right">
            <span ng-bind="user.userContext.person.nameAz"></span>
          </md-tooltip>
        </md-button>
        <md-menu-content>
          <md-menu-item>
            <md-button aria-label="icon button" ng-init="changePasswordFnWrapper()" ng-click="showWindow(userProfile.upWindow)">
              <i class="icon icon-user-edit"></i>
              <span class="no-margin" md-menu-align-target="" once-text="'Change Password'|translate"> </span>
            </md-button>
          </md-menu-item>
          <md-menu-item class="user-logout-link">
            <md-button aria-label="icon button" ng-click="logout()">
              <i class="icon icon-logout"></i>
              <span class="no-margin" md-menu-align-target="" once-text="'Logout'|translate"> </span>
            </md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>

      <!-- search bar-->
      <div class="search-container" layout="row" layout-align="start center"
           ng-init="showAC = false;"
           on-click-outside="showAC = false;"
           style="margin-top: 16px;">
        <!--<input id="search-box" type="text" class="search-box cursor-pointer" name="q" ng-model="screenId"-->
               <!--ng-change="_findScreenById(screenId)"/>-->
        <label ng-click="searchClick()"
               flex="10" style="height: 30px;padding-top:6px;outline: none;">
          <span class="glyphicon glyphicon-search cursor-pointer" style="color: #fff;"></span>
        </label>

        <div flex="80" ng-show="showAC">
          <md-autocomplete
            md-input-id="operation_autocomplete"
            class="search-ac"
            md-input-name="search-screen"
            md-selected-item-change="_findScreenById(ctrl.selectedItem)"
            md-selected-item="ctrl.selectedItem"
            md-autoselect="true"
            md-search-text="ctrl.searchText"
            md-items="item in getFilteredOperations(ctrl.searchText)"
            md-item-text="item.nameAz"
            md-min-length="1">
            <md-item-template>
              <div md-highlight-text="ctrl.searchText" md-highlight-flags="^i"
                    title="{{item.nameAz}}">
                {{item.screenID}} - {{item.nameAz}}
              </div>
            </md-item-template>
          </md-autocomplete>
        </div>

      </div>
      <!-- search bar-->
      <div class="home-button-style" ng-show="selectedHomePageTab>0">
        <md-button type="button"
                   class="md-icon-button md-primary no-padding no-margin"
                   ng-click="goToHomePage()" aria-label="Go to Home">
          <i class="glyphicon glyphicon-home micro-glyphicon glyphicon-home-style"></i>
          <md-tooltip md-direction="right">
            <span once-text="'Go to Home'|translate"></span>
          </md-tooltip>
        </md-button>
      </div>
    </div>
    <!-- Logo-->
    <md-content class="operations-block">

      <v-accordion class="vAccordion--default" multiple>

        <v-pane ng-show="openedWindowsCount>0">

          <v-pane-header>
            <h1 once-text="'Active Pages'|translate"></h1>
            <md-tooltip md-direction="right">
              <span once-text="'Active Pages'|translate"></span>
            </md-tooltip>
          </v-pane-header>

          <v-pane-content>
            <md-list layout-padding="" class="border-bottom">
              <div id="taskbar-elements" class="md-3-line"></div>
            </md-list>
          </v-pane-content>

        </v-pane>
        <!--Active tasks-->

        <v-pane>
          <v-pane-header>
            <h1 once-text="'Operations'|translate"></h1>
            <md-tooltip md-direction="right">
              <span once-text="'Operations'|translate"></span>
            </md-tooltip>
          </v-pane-header>
          <v-pane-content>
            <v-accordion class="vAccordion--default" multiple>
              <!-- add expanded attribute to open the section -->
              <v-pane ng-repeat="operationGroup in  user.operations">
                <v-pane-header>
                  <h1><span once-text="operationGroup['name'+lnC]"></span></h1>
                  <md-tooltip md-direction="right">
                    <span once-text="operationGroup['name'+lnC]"></span>
                  </md-tooltip>
                </v-pane-header>
                <v-pane-content>
                  <md-list layout-padding="" class="border-bottom">
                    <div class="md-3-line" ng-repeat="operation in operationGroup.operations">
                      <div class="md-list-item-text">
                        <md-button class="md-button-block" aria-label="icon button" ng-click="openTask(operation)">
                          <i class="icon icon-pen"></i><span
                          once-text="'[ '+operation.screenID+' ] '+operation['name'+lnC] "></span>
                          <md-tooltip md-direction="right">
                            <span once-text="'[ '+operation.screenID+' ] '+operation['name'+lnC] "></span>
                          </md-tooltip>
                        </md-button>
                      </div>
                    </div>
                  </md-list>
                </v-pane-content>
              </v-pane>
            </v-accordion>
          </v-pane-content>
        </v-pane>
        <!--Operations-->

        <v-pane>
          <v-pane-header>
            <h1 once-text="'Views'|translate"></h1>
            <md-tooltip md-direction="right">
              <span once-text="'Views'|translate"></span>
            </md-tooltip>
          </v-pane-header>
          <v-pane-content>
            <v-accordion class="vAccordion--default" multiple>
              <!-- add expanded attribute to open the section -->
              <v-pane ng-repeat="operationGroup in  user.views">
                <v-pane-header>
                  <h1><span once-text="operationGroup['name'+lnC]"></span></h1>
                  <md-tooltip md-direction="right">
                    <span once-text="operationGroup['name'+lnC]"></span>
                  </md-tooltip>
                </v-pane-header>
                <v-pane-content>
                  <md-list layout-padding="" class="border-bottom">
                    <md-list-item class="md-3-line" ng-repeat="operation in operationGroup.operations">

                      <div class="md-list-item-text">
                        <md-button class="md-button-block" aria-label="icon button" ng-click="openTask(operation)">
                          <i class="glyphicon glyphicon-eye-open"></i><span
                          once-text="'[ '+operation.screenID+' ] '+operation['name'+lnC]"></span>
                          <md-tooltip md-direction="right">
                            <span once-text="'[ '+operation.screenID+' ] '+operation['name'+lnC]"></span>
                          </md-tooltip>
                        </md-button>
                      </div>
                    </md-list-item>
                  </md-list>
                </v-pane-content>
              </v-pane>
            </v-accordion>
          </v-pane-content>
        </v-pane>
        <!--Views-->

      </v-accordion>

    </md-content>

  </div>


  <md-button
    csm-toggle-window-left-bar=""
    type="button"
    data-toggle-target="#home-operations"
    aria-label="toggle button"
    class="pull-left md-button-edited-style md-ink-ripple window-left-bar-toggle-button align-justify-button-style nav-arrow-left"
    >
    <span class="glyphicon micro-arrow-glyphicon"></span>
  </md-button>
</div>

<div id="home">

  <div id="homePageTabs" csm-home-page-tabs="" class="div-full-height">
    <ul class="hidden">
      <li class="k-state-active">
      </li>
      <li>
      </li>
    </ul>
    <div class="div-full-height">
      <div kendo-window="userProfile.upWindow"
           k-options="userProfile.upWindowOpts"
           k-title=" userProfile.labels.windowLabel"
           k-on-close="userProfile.closeWindow()">
        <div ng-include="'app/main/templates/partials/user-profile-edit.html'"></div>

      </div>
      <div class="tile-group dashboard">

        <div class="tile-container">

          <!--write tile codes here -->

          <div ng-repeat="tile in user.dashboards"
               data-role="tile"
               class="{{tile.classes}}"
               data-dashboard-content="{{tile.content}}"
               data-content-settings="{{tile.contentSettings}}"
               data-icon="glyphicon glyphicon-{{tile.icon}}"
               data-label="{{tile.nameAz}}"
               data-key="{{tile.key}}"
               csm-dashboard-tile="">
          </div>

        </div>

      </div>
    </div>
    <div class="div-full-height worker-area">
    </div>
  </div>
</div>
