<div
  kendo-splitter="params.splitter1"
  orientation="'horizontal'"
  class="persons-view-splitter"
  k-collapse="searchCriteriaCollapse"
  k-expand="searchCriteriaExpand"
  k-navigatable="true"
  k-scrollable="true"
  panes="params.config.splitterPanesConfig">

  <div ng-form="netObligation.formName"
       role="form"
       csm-enter="findNetObligation()"
       ng-submit="findNetObligation()"
       class="person-find-criteria-form fg-dark left-pane-style"
       novalidate>


    <div class="row filter-buttons-position">
      <md-button
        aria-label="right arrow button"
        type="button"
        ng-click="resetForm()"
        class="md-micro md-fab pull-right filter-button-style">
        <md-tooltip md-direction="down">
          <span once-text="'Reset Filter'|translate"></span>
        </md-tooltip>
        <span class="icon icon-remove-filter"></span>
      </md-button>

      <md-button
        aria-label="right arrow button"
        type="button"
        ng-click="findNetObligation()"
        class="md-micro md-fab pull-right filter-button-style">
        <md-tooltip md-direction="down">
          <span once-text="'Filter'|translate"></span>
        </md-tooltip>
        <span class="icon icon-filter"></span>
      </md-button>
    </div>


    <div class="pane-content">
      <uib-accordion close-others="false">
        <uib-accordion-group is-open="true">
          <uib-accordion-heading>
            <div class="collapsible-panel-heading cursor-pointer">
              <label class="text-right text-muted-manual">
                <a href="#" once-text="'Time'|translate" class="text-muted-manual"></a>
              </label>

              <div class="inline-block pull-right">
                <i class="glyphicon pull-right person-search-accordion-icon"></i>
              </div>
            </div>
          </uib-accordion-heading>
          <div>
            <div class="person-search-template-input-style">
              <label class="panel-body-label text-right inline-block text-muted-manual">
                <span once-text="'Settlement Time Start'|translate"></span>:</label>

              <div class="form-inputs">
                <input type="text"
                       kendo-date-time-picker="netObligation.settlementStartTimePicker"
                       class="datepicker-cst"
                       name="registration_date_start"
                       k-ng-model="netObligation.form.settlementTimeStart"

                       ng-required="true"
                  >
              </div>
            </div>
            <div class="form-group person-search-template-input-style">
              <label class="panel-body-label text-right inline-block text-muted-manual">
                <span once-text="'Settlement Time Finish'|translate"></span>:</label>

              <div class="form-inputs">
                <input type="text"
                       kendo-date-time-picker="netObligation.settlementEndTimePicker"
                       class="datepicker-cst"
                       name="registration_date_finish"
                       k-ng-model="netObligation.form.settlementTimeFinish"

                       ng-required="true"
                  >
              </div>
            </div>
          </div>
        </uib-accordion-group>
      </uib-accordion>
    </div>

  </div>

  <div class="pane-content">
    <div class="view-buttons-wrapper">
      <md-button
        aria-label="hamburger button"
        class="pull-left md-icon-button md-primary hamburger-button-style"
        ng-click="toggleSearchCriteriaBlock(params.splitter1)">
        <span class="glyphicon glyphicon-align-justify micro-glyphicon micro-align-glyphicon"></span>
      </md-button>
     <!--<span class="text-danger grid-text-danger" ng-show="netObligation.searchResult.isEmpty"-->
           <!--once-text="'Nobody Found!'|translate"></span>-->

      <div class="pull-right view-button-group">
        <md-button type="button" class="md-fab md-micro"
                   aria-label="Export to excel"
                   ng-click="exportToExcel(netObligation.searchResultGrid)">
          <i class="glyphicon glyphicon-export micro-glyphicon"></i>
          <md-tooltip md-direction="down">
            <span once-text="'Export to Excel'|translate"></span>
          </md-tooltip>
        </md-button>
        <md-button type="button" class="md-fab md-micro"
                   aria-label="Mini FAB"
                   ng-click="closeWindow()">

          <i class="glyphicon glyphicon-remove micro-glyphicon"></i>

          <md-tooltip md-direction="down">
            <span once-text="'Close Window'|translate"></span>
          </md-tooltip>

        </md-button>

      </div>
    </div>
    <div class="person-find-result-block">
      <div
        kendo-grid="netObligation.searchResultGrid"
        k-ng-delay="netObligation.mainGridOptions"
        k-options="netObligation.mainGridOptions"
        k-sortable="true"
        k-scrollable="true"
        k-pageable='{ "pageSize": 20, "refresh": true, "pageSizes": true, "buttonCount": 5 }'
        k-resizable="true"
        >
      </div>

    </div>

  </div>

</div>
